Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): Add auto-refresh polling for run status updates (#681)
  .changeset/auto-refresh-data-mart-runs.md
  .changeset/fix-sql-validation-timeout.md
  .changeset/fix-web-data-mart-publish-button-messages.md
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportListRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/hooks/useAutoRefresh.ts
  apps/web/src/pages/data-marts/edit/DataMartRunHistoryContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): update connector field handling to remove unused default value logic and improve validation
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationField/ConfigurationNumberField.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationField/ConfigurationStringField.tsx
Due: none

Add files via upload
  docs/res/chat.svg
  docs/res/doc.svg
  docs/res/email.svg
  docs/res/google_chat.svg
  docs/res/mail.svg
  docs/res/phone_in_talk.svg
  docs/res/slack.svg
  docs/res/teams.svg
Due: none

fix: BigQuery data duplication with null in unique keys and improve error handling (#680)
  .changeset/fix-bigquery-null-unique-keys.md
  packages/connectors/src/Sources/MicrosoftAds/Helper.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): enhance mergeDefinitionSecretsFromSource method to handle multiple source configurations
  apps/backend/src/data-marts/services/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector-secret.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add files via upload (#694)
  docs/res/chat.svg
  docs/res/doc.svg
  docs/res/email.svg
  docs/res/google_chat.svg
  docs/res/mail.svg
  docs/res/phone_in_talk.svg
  docs/res/slack.svg
  docs/res/teams.svg
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@c46b6ee354c1e7a780fb592618bb533c64995110 🚀
  _astro/chat.DBG7ZCIm.svg
  _astro/chat.DBG7ZCIm_Z1fdg8v.svg
  _astro/chat.ech7XnY5.svg
  _astro/chat.ech7XnY5_68cTD.svg
  _astro/doc.7QgPhx9v.svg
  _astro/doc.7QgPhx9v_68cTD.svg
  _astro/doc.C4F1-8Ac.svg
  _astro/doc.C4F1-8Ac_Z1fdg8v.svg
  _astro/email.D8o_js0X.svg
  _astro/email.D8o_js0X_20bJq4.svg
  _astro/email.ZWXj0i-T.svg
  _astro/email.ZWXj0i-T_84csB.svg
  _astro/google-chat.DHLVpsOU.svg
  _astro/google-chat.DHLVpsOU_648HW.svg
  _astro/google-chat.Dd7I8tHn.svg
  _astro/google-chat.Dd7I8tHn_1WYt6l.svg
  _astro/mail.ByIcBPEr.svg
  _astro/mail.ByIcBPEr_68cTD.svg
  _astro/mail.CKfl0B42.svg
  _astro/mail.CKfl0B42_Z1fdg8v.svg
  _astro/phone-in-talk.CKYmlQS9.svg
  _astro/phone-in-talk.CKYmlQS9_Z1fdg8v.svg
  _astro/phone-in-talk.DtRq2sUI.svg
  _astro/phone-in-talk.DtRq2sUI_68cTD.svg
  _astro/slack.C_Z7i8EE.svg
  _astro/slack.C_Z7i8EE_68cTD.svg
  _astro/slack.DVxJKVpP.svg
  _astro/slack.DVxJKVpP_1X3xi2.svg
  _astro/teams.4N3W7QBN.svg
  _astro/teams.4N3W7QBN_1XbFFp.svg
  _astro/teams.BltDbhKy.svg
  _astro/teams.BltDbhKy_6gli1.svg
  docs/editions/owox-cloud-editions/index.html
  docs/editions/self-managed-editions/index.html
Due: none

feat(data-marts): add ability to copy setting for connector data-mart from another one (#682)
  .changeset/copy-connector-configuration.md
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/list-data-mart-by-connector-name.ts
  apps/backend/src/data-marts/dto/domain/list-data-marts.command.ts
  apps/backend/src/data-marts/dto/domain/update-data-mart-definition.command.ts
  apps/backend/src/data-marts/dto/presentation/update-data-mart-definition-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector-secret.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts-by-connector-name.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/CopyConfigurationButton.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/types/copied-configuration.ts
  apps/web/src/features/data-marts/edit/model/types/index.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/request/update-data-mart-connector-definition.request.dto.ts
  packages/ui/src/components/common/wizard.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

changeset
  .changeset/thirty-years-serve.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add new insights fields for Facebook Marketing API
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-age-and-gender.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-device-platform.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-product-id.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-publisher-platform-and-position.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-region.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add support for insights by publisher platform and update field schemas
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-publisher-platform.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: remove unsupported asset fields from Facebook Marketing API insights
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-age-and-gender.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-device-platform.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-product-id.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-publisher-platform-and-position.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-region.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

perf(backend): remove data mart runs sorting
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(connector-execution): remove ordering by createdAt in getDataMartRunsByStatus method
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

perf(backend): remove data mart runs sorting (#695)
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update .changeset/thirty-years-serve.md
  .changeset/thirty-years-serve.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): enhance run history tab with tooltip and trigger type icon
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/icons.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): integrate system time service for consistent timestamp handling in connector execution
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): improve connector info loading in data mart context
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StatusBadge.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/helpers/get-connector-info.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update type imports and improve formatting in DataMart components
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(test): ensure connectorInfo is initialized to null in mock data mart
  apps/web/src/features/data-marts/shared/utils/data-mart-validation.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): integrate new connector runner and update dependencies
  apps/backend/package.json
  apps/backend/src/data-marts/services/connector-execution.service.ts
  packages/connectors/package.json
  packages/connectors/src/Core/DTO/Config.js
  packages/connectors/src/Core/DTO/RunConfig.js
  packages/connectors/src/Core/DTO/StorageTypes.js
  packages/connectors/src/runtime/connector-runner.js
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance logging options and improve global exception filter handling
  .env.example
  apps/backend/src/bootstrap.ts
  apps/backend/src/common/exceptions/global-exception.filter.ts
  apps/backend/src/common/logger/logger.service.ts
  packages/internal-helpers/src/logging/logger-factory.ts
  packages/internal-helpers/src/logging/providers/pino-logger-provider.ts
  packages/internal-helpers/src/logging/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add global exception filter for centralized error handling (#683)
  .env.example
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/bootstrap.ts
  apps/backend/src/common/exceptions/global-exception.filter.ts
  apps/backend/src/common/logger/logger.service.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/owox/src/commands/base.ts
  package-lock.json
  packages/internal-helpers/src/logging/logger-factory.ts
  packages/internal-helpers/src/logging/providers/pino-logger-provider.ts
  packages/internal-helpers/src/logging/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(docs): add info about run history tab updates to changesets
  .changeset/add-report-runs-to-data-mart-run-history-tab.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(connectors): restructure connector services and update imports
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/connector/connector-configuration.factory.ts
  apps/backend/src/data-marts/services/connector/connector-execution.service.ts
  apps/backend/src/data-marts/services/connector/connector-process.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector.module.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
  apps/backend/src/data-marts/services/connector/contextual-logger.ts
  apps/backend/src/data-marts/services/connector/execution-context.ts
  apps/backend/src/data-marts/services/connector/storage-config-builders/athena-storage-config.builder.ts
  apps/backend/src/data-marts/services/connector/storage-config-builders/bigquery-storage-config.builder.ts
  apps/backend/src/data-marts/services/connector/storage-config-builders/storage-config.builder.interface.ts
  apps/backend/src/data-marts/services/connector/storage-config-builders/storage-config.factory.ts
  apps/backend/src/data-marts/services/consumption-tracking.service.ts
  apps/backend/src/data-marts/use-cases/cancel-data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/connector/available-connector.service.ts
  apps/backend/src/data-marts/use-cases/connector/fields-connector.service.ts
  apps/backend/src/data-marts/use-cases/connector/specification-connector.service.ts
  apps/backend/src/data-marts/use-cases/get-data-mart-runs.service.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): add changeset
  .changeset/fix-data-mart-connector-configuration-fields-with-default-values.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): update connector field handling to remove unused default value logic and improve validation (#692)
  .changeset/fix-data-mart-connector-configuration-fields-with-default-values.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationField/ConfigurationNumberField.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationField/ConfigurationStringField.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(connector-runner): update paths and introduce new connector-runner script
  packages/connectors/package.json
  packages/connectors/src/connector-runner.js
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update CHANGELOG.md
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG.md (#698)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@69e411a2f5e185a61fe075ea47df736e4fea2f07 🚀
  docs/changelog/index.html
  pagefind/fragment/en_71bf328.pf_fragment
  pagefind/fragment/en_b6b6199.pf_fragment
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_258031f655.pf_meta
  pagefind/pagefind.en_ff637b3b80.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(connector-execution): update runConfig serialization
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(connectors): clean up module exports
  packages/connectors/src/Core/DTO/Config.js
  packages/connectors/src/Core/DTO/RunConfig.js
  packages/connectors/src/Core/DTO/StorageTypes.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(connector-execution): update configuration types and remove deprecated DTOs
  apps/backend/src/data-marts/services/connector-execution.service.ts
  package-lock.json
  packages/connectors/src/Core/DTO/StorageTypes.js
  packages/connectors/src/Core/Dto/ConfigDto.js
  packages/connectors/src/Core/Dto/RunConfigDto.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Refactor exception filter to improve type safety and update `IdpError` to implement `HttpError` interface.
  apps/backend/src/common/exceptions/global-exception.filter.ts
  packages/idp-protocol/src/types/errors.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Refactor exception filter to improve type safety and update `IdpError` to implement `HttpError` interface. (#699)
  apps/backend/src/common/exceptions/global-exception.filter.ts
  packages/idp-protocol/src/types/errors.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update CHANGELOG for Better Auth IDP provider release
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
