Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Enhance SecureJsonInput with display-only mode and copy functionality
  apps/web/src/features/data-storage/shared/components/SecureJsonInput/SecureJsonInput.tsx
  apps/web/src/shared/components/SecureJsonInput/SecureJsonInput.tsx
Due: none

Refactor Looker Studio credentials structure with improved property naming
  apps/web/src/features/data-destination/shared/model/types/looker-studio-credentials.ts
  apps/web/src/features/data-destination/shared/types/looker-studio-credentials.schema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add Looker Studio data models and DTOs
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/services/types/update-report.request.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Implement Looker Studio form components and fields
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/DestinationTypeDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/index.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/LookerStudioFields.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Implement secret key rotation functionality for data destinations
  apps/web/src/features/data-destination/shared/services/data-destination.service.ts
  apps/web/src/features/data-destination/shared/services/types/create-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/services/types/data-destination.response.dto.ts
  apps/web/src/features/data-destination/shared/services/types/looker-studio-credentials.request.dto.ts
  apps/web/src/features/data-destination/shared/services/types/update-data-destination.request.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add JSON configuration generation utility for Looker Studio credentials
  apps/web/src/features/data-destination/shared/model/index.ts
  apps/web/src/features/data-destination/shared/model/mappers/looker-studio.mapper.ts
  apps/web/src/features/data-destination/shared/model/utils/index.ts
  apps/web/src/features/data-destination/shared/model/utils/looker-studio-config.ts
  apps/web/src/features/data-marts/reports/shared/model/mappers/looker-studio-config.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Remove a copy of `SecureJsonInput`
  apps/web/src/features/data-storage/shared/components/SecureJsonInput/SecureJsonInput.tsx
Due: none

Integrate Looker Studio with data mart reports
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Conditionally render Looker Studio card based on destination status
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update data destination list components to support Looker Studio
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationActionsCell.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns.tsx
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestination.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

edit: Storage Management
  docs/storages/manage-storages.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: update core concepts main image
  docs/getting-started/core-concepts.md
  docs/res/main-core-concepts.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

add: Storage Management + Destination Management
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/google-spreadsheets.md
  docs/destinations/supported-destinations/looker-studio.md
  docs/storages/manage-storages.md
  docs/storages/supported-storages/aws-athena.md
  docs/storages/supported-storages/google-bigquery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update dependencies, refactor bootstrap logic, and enhance IDP configuration
  apps/backend/package.json
  apps/backend/src/bootstrap.ts
  apps/backend/src/config/idp.config.ts
  apps/backend/src/main.ts
  packages/idp-better-auth/package.json
  packages/idp-better-auth/src/adapters/database.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add initial implementation of authentication module and related components
  apps/backend/src/app.module.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/bootstrap.ts
  apps/backend/src/config/idp.config.ts
  apps/backend/tsconfig.json
  draft_for_manual_backfill.patch
  packages/idp-better-auth/package.json
  packages/idp-better-auth/src/adapters/database.ts
  packages/idp-better-auth/src/examples/express-example.ts
  packages/idp-better-auth/src/examples/mysql-config.ts
  packages/idp-better-auth/src/examples/sqlite-config.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/routes/auth-api.ts
  packages/idp-better-auth/src/routes/auth-pages.ts
  packages/idp-better-auth/src/routes/express-router.ts
  packages/idp-better-auth/src/routes/management-api.ts
  packages/idp-protocol/package.json
  packages/idp-protocol/src/base-provider.ts
  packages/idp-protocol/src/index.ts
  packages/idp-protocol/src/middleware/auth.middleware.ts
  packages/idp-protocol/src/routes/endpoint-validator.ts
  packages/idp-protocol/src/routes/index.ts
  packages/idp-protocol/src/types/capabilities.ts
  packages/idp-protocol/src/types/index.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

update readme.md
  packages/idp-better-auth/README.md
  packages/idp-protocol/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add Better Auth routes and API handlers for enhanced authentication features
  packages/idp-better-auth/README.md
  packages/idp-better-auth/database.sqlite
  packages/idp-better-auth/package.json
  packages/idp-better-auth/src/examples/express-example.ts
  packages/idp-better-auth/src/examples/index.ts
  packages/idp-better-auth/src/examples/sqlite-config.ts
  packages/idp-better-auth/src/index.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/routes/auth-api.ts
  packages/idp-better-auth/src/routes/auth-pages.ts
  packages/idp-better-auth/src/routes/express-router.ts
  packages/idp-better-auth/src/routes/index.ts
  packages/idp-better-auth/src/routes/management-api.ts
  packages/idp-protocol/src/index.ts
  packages/idp-protocol/src/routes/route-handlers.ts
  packages/idp-protocol/src/types/dto.ts
  packages/idp-protocol/src/utils/id-generator.ts
  packages/idp-protocol/src/utils/password.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Refactor backend application structure and enhance entry points
  apps/backend/package.json
  apps/backend/src/bootstrap.ts
  apps/backend/src/index.ts
  apps/backend/src/main.ts
  apps/owox/src/commands/serve.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Integrate Express into bootstrap process and update application entry points
  apps/backend/src/bootstrap.ts
  apps/backend/src/main.ts
  apps/owox/better-auth.db
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Refactor backend structure and introduce new HTML view for authentication
  apps/backend/index.ts
  apps/backend/src/index.ts
  packages/idp-better-auth/src/public/view.html
  packages/idp-protocol/src/routes/api-routes.ts
  packages/idp-protocol/src/routes/auth-routes.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Create screenshots.md
  docs/res/instructions/screenshots.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add files via upload
  docs/res/screens/Connector-Based DataMart - 1.png
  docs/res/screens/Connector-Based DataMart - 2.png
  docs/res/screens/Connector-Based DataMart - Connector Config.png
  docs/res/screens/Connector-Based DataMart - Description.png
  docs/res/screens/Connector-Based DataMart - Manual Run.png
  docs/res/screens/Connector-Based DataMart - Output Schema.png
  docs/res/screens/Connector-Based DataMart - Platform Select.png
  docs/res/screens/Connector-Based DataMart - Schema Setup.png
  docs/res/screens/SQL-Based DataMart - 1.png
  docs/res/screens/SQL-Based DataMart - Description.png
  docs/res/screens/SQL-Based DataMart - Output Schema.png
  docs/res/screens/SQL-Based DataMart - Report.png
  docs/res/screens/SQL-Based DataMart - Run Report.png
  docs/res/screens/SQL-Based DataMart - SQL.png
  docs/res/screens/SQL-Based DataMart - Trigger.png
  docs/res/screens/Storage - 1.png
  docs/res/screens/Storage - 2.png
  docs/res/screens/Storage - 3.png
  docs/res/screens/Storage - 4.png
  docs/res/screens/Storage - 5.png
Due: none

fix(docs): add core-concepts topic
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(docs): reorganize connectors section
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(docs): add Setup Guide section and update Storages/Destinations links
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/.gitkeep
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add files via upload
  docs/res/screens/Connector-Based-DataMart-1.png
  docs/res/screens/Connector-Based-DataMart-2.png
  docs/res/screens/Connector-Based-DataMart-Connector-Config.png
  docs/res/screens/Connector-Based-DataMart-Description.png
  docs/res/screens/Connector-Based-DataMart-Manual-Run.png
  docs/res/screens/Connector-Based-DataMart-Output-Schema.png
  docs/res/screens/Connector-Based-DataMart-Platform-Select.png
  docs/res/screens/Connector-Based-DataMart-Schema-Setup.png
  docs/res/screens/SQL-Based-DataMart-1.png
  docs/res/screens/SQL-Based-DataMart-Description.png
  docs/res/screens/SQL-Based-DataMart-Output-Schema.png
  docs/res/screens/SQL-Based-DataMart-Report.png
  docs/res/screens/SQL-Based-DataMart-Run-Report.png
  docs/res/screens/SQL-Based-DataMart-SQL.png
  docs/res/screens/SQL-Based-DataMart-Trigger.png
  docs/res/screens/Storage-1.png
  docs/res/screens/Storage-2.png
  docs/res/screens/Storage-3.png
  docs/res/screens/Storage-4.png
  docs/res/screens/Storage-5.png
Due: none

chore: update package-lock.json with new dependencies and remove resolved URLs
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat: implement bootstrap functionality and restructure main entry point
  apps/backend/index.ts
  apps/backend/package.json
  apps/backend/src/bootstrap.ts
  apps/backend/src/main.ts
  apps/backend/tsconfig.json
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update dependencies in package.json and package-lock.json
  apps/backend/package.json
  apps/backend/tsconfig.json
  apps/owox/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

fix: update SQLite database path handling
  apps/backend/src/config/get-sqlite-database-path.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update package-lock.json and refactor bootstrap module
  apps/backend/src/bootstrap.ts
  apps/backend/src/config/get-sqlite-database-path.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update package-lock.json and package.json for dependency upgrades and restructuring
  apps/backend/package.json
  apps/owox/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

Update `express` peer dependency to version 5 and make various dependencies optional.
  apps/owox/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

Remove optional/deprecated/unused dependencies from package-lock.json.
  apps/backend/tsconfig.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

Move `index.ts` from root to `src` and update package.json paths.
  apps/backend/index.ts
  apps/backend/package.json
  apps/backend/src/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update build script to include backend build step
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.js

Update lint script to include backend build step
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
