Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

Update changelog for Better Auth IDP provider release
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG for Better Auth IDP provider release (#700)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@21b85c44f647e2c90037da2a9e2d69aa9f964922 🚀
  docs/changelog/index.html
Due: none

feat(web): enhance ConnectorEditForm with auto-saving and improved DataMartDefinition handling
  .changeset/auto-save-connector-setup.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/components/StepNavigation.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/CopyConfigurationButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartDefinitionForm.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
  apps/web/src/features/data-marts/shared/utils/data-mart-presets.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(backend): update data-mart-run properties to be nullable and adjust related service methods
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run.schema.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): update import paths for consistency across data mart modules
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/domain/run-report.command.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run.schema.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/scheduled-trigger-types/scheduled-report-run/services/scheduled-report-run-processor.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add support for nested creative fields in Facebook Ads connector ad group endpoint
  .changeset/facebook-ads-nested-creative-fields.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-group-fields.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

(fix): Enhance ConnectorSecretService to support mixed configuration handling in mergeDefinitionSecretsFromSource method
  apps/backend/src/data-marts/services/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector-secret.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): integrate new connector runner and update dependencies
  apps/backend/package.json
  apps/backend/src/data-marts/services/connector-execution.service.ts
  packages/connectors/package.json
  packages/connectors/src/Core/DTO/Config.js
  packages/connectors/src/Core/DTO/RunConfig.js
  packages/connectors/src/Core/DTO/StorageTypes.js
  packages/connectors/src/runtime/connector-runner.js
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(connector-runner): remove connector runner package and update dependencies
  .github/workflows/lint-connector-runner.yml
  .github/workflows/test-all.yml
  .github/workflows/test-connector-runner.yml
  apps/backend/package.json
  apps/backend/src/data-marts/services/connector-execution.service.ts
  docs/contributing/repository/release-strategy.md
  docs/contributing/repository/repository-structure.md
  package.json
  packages/connector-runner/.lintstagedrc.json
  packages/connector-runner/CHANGELOG.md
  packages/connector-runner/PUBLISHING.md
  packages/connector-runner/README.md
  packages/connector-runner/eslint.config.mjs
  packages/connector-runner/jest.config.js
  packages/connector-runner/package.json
  packages/connector-runner/prettier.config.mjs
  packages/connector-runner/src/application/dto/config.js
  packages/connector-runner/src/application/dto/run-config.js
  packages/connector-runner/src/application/services/connector-execution-service.js
  packages/connector-runner/src/cli-wrapper.js
  packages/connector-runner/src/cli/connector-runner-cli.js
  packages/connector-runner/src/core/domain/run-context.js
  packages/connector-runner/src/core/interfaces/dependency-manager.js
  packages/connector-runner/src/core/interfaces/execution-environment.js
  packages/connector-runner/src/core/interfaces/template-renderer.js
  packages/connector-runner/src/core/types/storage-definitions.js
  packages/connector-runner/src/index.js
  packages/connector-runner/src/infrastructure/dependencies/npm-dependency-manager.js
  packages/connector-runner/src/infrastructure/environments/nodejs-environment.js
  packages/connector-runner/src/infrastructure/templates/nodejs-template-renderer.js
  packages/connector-runner/src/utils/package-utils.js
  packages/connector-runner/test/application/dto/config.test.js
  packages/connector-runner/test/application/dto/run-config.test.js
  packages/connector-runner/test/application/services/connector-execution-service.test.js
  packages/connector-runner/test/cli/connector-runner-cli.test.js
  packages/connector-runner/test/core/domain/run-context.test.js
  packages/connector-runner/test/infrastructure/dependencies/npm-dependency-manager.test.js
  packages/connector-runner/test/infrastructure/environments/nodejs-environment.test.js
  packages/connector-runner/test/infrastructure/templates/nodejs-template-renderer.test.js
  packages/eslint-config/node.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(connectors): clean up module exports
  packages/connectors/src/Core/DTO/Config.js
  packages/connectors/src/Core/DTO/RunConfig.js
  packages/connectors/src/Core/DTO/StorageTypes.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(connector-runner): update paths and introduce new connector-runner script
  packages/connectors/package.json
  packages/connectors/src/connector-runner.js
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connector-execution): update runConfig serialization
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(connector-execution): update configuration types and remove deprecated DTOs
  apps/backend/src/data-marts/services/connector-execution.service.ts
  packages/connectors/src/Core/DTO/StorageTypes.js
  packages/connectors/src/Core/Dto/ConfigDto.js
  packages/connectors/src/Core/Dto/RunConfigDto.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: remove connector-runner package and update related configurations
  .changeset/config.json
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/docs/astro.config.mjs
  apps/docs/data/meta-content.csv
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

rebase package-lock.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

(fix): Enhance ConnectorSecretService to support mixed configuration handling in mergeDefinitionSecretsFromSource method (#703)
  apps/backend/src/data-marts/services/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector-secret.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: correct creative types in adGroupFields
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-group-fields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance ConnectorEditForm with auto-saving and improved DataMartDefinition handling (#687)
  .changeset/auto-save-connector-setup.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/components/StepNavigation.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/CopyConfigurationButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartDefinitionForm.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
  apps/web/src/features/data-marts/shared/utils/data-mart-presets.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactort(web): refactor connector caching and utils
  apps/web/src/features/connectors/shared/utils/index.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TriggerTypeBadge.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/edit/model/helpers/get-connector-info.ts
  apps/web/src/features/data-marts/edit/model/helpers/index.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/mappers/definition-mappers.ts
  apps/web/src/features/data-marts/edit/model/types/connector-definition-config.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/utils/data-mart-validation.test.ts
  apps/web/src/utils/date-formatters.ts
  apps/web/src/utils/index.ts
  apps/web/src/utils/string-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add migration to set run-type as manual for existing data mart runs
  .changeset/add-report-runs-to-data-mart-run-history-tab.md
  apps/backend/src/migrations/1760974391784-fill-run-type-column-with-manual-value.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

add changeset
  .changeset/remove-connector-runner-package.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(Dockerfile): restructure multi-stage build for improved efficiency and organization
  Dockerfile
Due: none

update dependencies installation process to include build tools and clean up after installation
  Dockerfile
Due: none

feat: add support for nested creative fields in Facebook Ads connector ad group endpoint (#702)
  .changeset/facebook-ads-nested-creative-fields.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-group-fields.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add new Facebook Marketing insights endpoints and improve field schema filtering (#666)
  .changeset/thirty-years-serve.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-age-and-gender.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-device-platform.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-product-id.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-publisher-platform-and-position.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-region.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): show connector state
  .changeset/show-connector-state.md
  apps/backend/src/data-marts/dto/domain/data-mart.dto.ts
  apps/backend/src/data-marts/dto/presentation/connector-state-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-response-api.dto.ts
  apps/backend/src/data-marts/entities/connector-state.entity.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/FormDescriptions/ConnectorStateDescription.tsx
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/types/api/response/connector-state.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
  apps/web/src/shared/components/SecureJsonInput/SecureJsonInput.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): refactor schema actualization handling
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/TableToolbar.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SchemaTable.tsx
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/edit/model/helpers/can-actualize-data-mart-schema.helper.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/utils/data-mart-validation.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): refactor data mart components for more explicit and consistent code
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/model/helpers/can-actualize-data-mart-schema.helper.test.ts
  apps/web/src/features/data-marts/edit/model/helpers/can-actualize-data-mart-schema.helper.ts
  apps/web/src/features/data-marts/edit/model/helpers/index.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: revert is not distinct changes and fix bug with duplicated data
  packages/connectors/src/Sources/MicrosoftAds/MicrosoftAdsAPIReference/adPerformanceReportFields.js
  packages/connectors/src/Sources/MicrosoftAds/MicrosoftAdsAPIReference/userLocationPerformanceReportFields.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: revert is not distinct changes and fix bug with duplicated data (#710)
  packages/connectors/src/Sources/MicrosoftAds/MicrosoftAdsAPIReference/adPerformanceReportFields.js
  packages/connectors/src/Sources/MicrosoftAds/MicrosoftAdsAPIReference/userLocationPerformanceReportFields.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): rename "Advanced" to "State Info"
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.tsx
Due: none

feat(web): update changeset
  .changeset/show-connector-state.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp): implement error handling for authentication and token retrieval
  packages/idp-owox/src/auth/AuthorizationStore.ts
  packages/idp-owox/src/auth/MysqlAuthorizationStore.ts
  packages/idp-owox/src/auth/SqliteAuthorizationStore.ts
  packages/idp-owox/src/auth/StoreResult.ts
  packages/idp-owox/src/client/IdentityOwoxClient.ts
  packages/idp-owox/src/exception.ts
  packages/idp-owox/src/owoxIdp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): simplify request schemas in looker-studio-connector (#671)
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/connector-request-config.schema.v1.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/get-config.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/get-data.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/get-schema.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): update type imports after conflict resolving
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
Due: none
