Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(ctl): cover BaseCommand.finally telemetry wiring (stderr notice, fires once, swallows errors)
  apps/ctl/src/telemetry/base-command-finally.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(telemetry): drop dead noticeShownAt field; assert no-PII payload in app tests
  apps/ctl/src/telemetry/track-command.test.ts
  apps/owox/test/telemetry/track-serve-started.test.ts
  packages/internal-helpers/src/telemetry/anonymous-id.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): wrap project data mart titles
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.test.tsx
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.test.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.tsx
  apps/web/src/pages/data-marts/shared/ProjectDataMartTitleLink.tsx
Due: none

fix(web): prevent API key table date overlap
  apps/web/src/features/api-keys/components/ApiKeysTable/ApiKeysTable.test.tsx
  apps/web/src/features/api-keys/components/ApiKeysTable/columns.tsx
Due: none

fix: follow up project data mart pages
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.test.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.tsx
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.test.ts
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportEditSheetRenderer.tsx
  apps/web/src/features/data-marts/reports/shared/services/report.service.test.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  apps/web/src/features/data-marts/scheduled-triggers/services/scheduled-trigger.service.test.ts
  apps/web/src/features/data-marts/scheduled-triggers/services/scheduled-trigger.service.ts
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.test.tsx
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.utils.ts
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.test.tsx
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.test.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): prevent API key table date overlap (#1299)
  apps/web/src/features/api-keys/components/ApiKeysTable/ApiKeysTable.test.tsx
  apps/web/src/features/api-keys/components/ApiKeysTable/columns.tsx
Due: none

fix: follow up project data mart pages (#1300)
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.test.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.tsx
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.test.ts
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportEditSheetRenderer.tsx
  apps/web/src/features/data-marts/reports/shared/services/report.service.test.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  apps/web/src/features/data-marts/scheduled-triggers/services/scheduled-trigger.service.test.ts
  apps/web/src/features/data-marts/scheduled-triggers/services/scheduled-trigger.service.ts
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.test.tsx
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.utils.ts
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.test.tsx
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.test.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@4656de02214d790bcbbb2e57324451b08aa397d2 🚀
  docs/editions/self-managed-editions/index.html
  packages/internal-helpers/src/integrations/event-bus/readme/index.html
  pagefind/fragment/en_2e0d322.pf_fragment
  pagefind/fragment/en_954d87a.pf_fragment
  pagefind/fragment/en_cbbbe07.pf_fragment
  pagefind/fragment/en_e38735b.pf_fragment
  pagefind/index/en_53c5d18.pf_index
  pagefind/index/en_587618c.pf_index
  pagefind/index/en_66b8a74.pf_index
  pagefind/index/en_683ed3b.pf_index
  pagefind/index/en_732ce79.pf_index
  pagefind/index/en_7ac3207.pf_index
  pagefind/index/en_80fd608.pf_index
  pagefind/index/en_8758927.pf_index
  pagefind/index/en_887e21c.pf_index
  pagefind/index/en_92129f2.pf_index
  pagefind/index/en_9838132.pf_index
  pagefind/index/en_9b2e7da.pf_index
  pagefind/index/en_b998339.pf_index
  pagefind/index/en_c5b68a5.pf_index
  pagefind/index/en_cb216ec.pf_index
  pagefind/index/en_cbb42bd.pf_index
  pagefind/index/en_e87e873.pf_index
  pagefind/index/en_efee123.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_47b15727c6.pf_meta
  pagefind/pagefind.en_529720469a.pf_meta
Due: prettier --write --config ./prettier.config.js

fix: poll visible running reports by id
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: poll visible running reports by id (#1301)
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): output controls for Legacy Google BigQuery data marts
  .changeset/legacy-bigquery-output-controls.md
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/test/output-controls-legacy-bq-emission.e2e-spec.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.test.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): remove blending-specific logic and unused hooks in reports
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useEmailReportForm.test.ts
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useGoogleSheetsReportForm.test.ts
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useLookerStudioReportForm.test.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/shared/model/mappers/report.mapper.ts
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/utils/index.ts
  apps/web/src/features/data-marts/reports/shared/utils/is-generated-sql-supported.utils.test.ts
  apps/web/src/features/data-marts/reports/shared/utils/is-generated-sql-supported.utils.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-blending.utils.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-output-controls.utils.test.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-output-controls.utils.ts
  apps/web/src/features/data-marts/shared/hooks/blendable-schema-query-key.ts
  apps/web/src/features/data-marts/shared/hooks/useBlendedFieldNames.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): update SQL support check to clarify non-legacy BigQuery storage constraint
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/utils/is-generated-sql-supported.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): remove unused blended field hooks from DataMartReportsPage tests
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
Due: none

fix(web): ensure definitionType is properly set in ProjectDataMartContext initialization
  apps/web/src/pages/data-marts/shared/projectDataMartContext.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(reports): show SQL preview for all reports regardless of definition type (#1293)
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useEmailReportForm.test.ts
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useGoogleSheetsReportForm.test.ts
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useLookerStudioReportForm.test.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/shared/model/mappers/report.mapper.ts
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/utils/index.ts
  apps/web/src/features/data-marts/reports/shared/utils/is-generated-sql-supported.utils.test.ts
  apps/web/src/features/data-marts/reports/shared/utils/is-generated-sql-supported.utils.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-blending.utils.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-output-controls.utils.test.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-output-controls.utils.ts
  apps/web/src/features/data-marts/shared/hooks/blendable-schema-query-key.ts
  apps/web/src/features/data-marts/shared/hooks/useBlendedFieldNames.ts
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/shared/projectDataMartContext.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): output controls for Legacy Google BigQuery data marts (#1302)
  .changeset/legacy-bigquery-output-controls.md
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/test/output-controls-legacy-bq-emission.e2e-spec.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.test.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): add run cancellation entry
  .changeset/cancel-data-mart-runs.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): output controls for Snowflake data marts (filters, slices, sort, limit)
  .changeset/snowflake-output-controls.md
  .github/workflows/test-integration.yml
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/utils/snowflake-identifier.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/utils/snowflake-identifier.utils.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.ts
  apps/backend/test/integration/http-data-real.integration.ts
  apps/backend/test/integration/snowflake.integration.ts
  apps/backend/test/output-controls-snowflake-emission.e2e-spec.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.test.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): show each column's description in Google Sheets header notes
  .changeset/bigquery-large-view-memory.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): quote Snowflake blended identifiers to survive uppercase folding
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Replace Looker Studio with Data Studio
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/LookerStudioDescription.tsx
  packages/idp-owox-better-auth/src/core/onboarding-constants.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): show each column's description in Google Sheets header notes (#1304)
  .changeset/bigquery-large-view-memory.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Replace Looker Studio with Data Studio (#1305)
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/LookerStudioDescription.tsx
  packages/idp-owox-better-auth/src/core/onboarding-constants.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@410d5be47e6c68a64bb319c7832402d14bf26e3a 🚀
  pagefind/index/en_175ec8d.pf_index
  pagefind/index/en_66b8a74.pf_index
  pagefind/index/en_683ed3b.pf_index
  pagefind/index/en_706b463.pf_index
  pagefind/index/en_71e6dbd.pf_index
  pagefind/index/en_87aae21.pf_index
  pagefind/index/en_92129f2.pf_index
  pagefind/index/en_9838132.pf_index
  pagefind/index/en_9b2e7da.pf_index
  pagefind/index/en_a81fcbe.pf_index
  pagefind/index/en_b998339.pf_index
  pagefind/index/en_cb216ec.pf_index
  pagefind/index/en_cbb42bd.pf_index
  pagefind/index/en_ddf17ff.pf_index
  pagefind/index/en_e0b7f8f.pf_index
  pagefind/index/en_e87e873.pf_index
  pagefind/index/en_fc7a5aa.pf_index
  pagefind/index/en_ff45d35.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_192fd0fc8b.pf_meta
  pagefind/pagefind.en_47b15727c6.pf_meta
Due: prettier --write --config ./prettier.config.js

Clarify resource names in error messages
  apps/backend/src/data-marts/services/context/context-access.service.ts
  apps/backend/src/data-marts/services/data-destination.service.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/services/data-storage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Clarify context access error messages
  apps/backend/src/data-marts/services/context/context-access.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Changeset
  .changeset/clearer-error-messages.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): add missing changesets
  .changeset/default-limit-sheets-report-output.md
  .changeset/definition-type-empty-after-tab-switching.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): clearer error messages for resource access (#1306)
  .changeset/clearer-error-messages.md
  apps/backend/src/data-marts/services/context/context-access.service.ts
  apps/backend/src/data-marts/services/data-destination.service.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/services/data-storage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(connector): add credentials update handling with refresh token for microsoft connector
  apps/backend/src/data-marts/connector-types/connector-message/schemas/connector-message.schema.ts
  apps/backend/src/data-marts/connector-types/connector-message/schemas/types/message-credentials-update.schema.ts
  apps/backend/src/data-marts/connector-types/enums/connector-message-type-enum.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.ts
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(changeset): add missing changesets (#1307)
  .changeset/default-limit-sheets-report-output.md
  .changeset/definition-type-empty-after-tab-switching.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@62af9fb4162bc9bdccd4224c282a59d3d8875de3 🚀
  pagefind/index/en_175ec8d.pf_index
  pagefind/index/en_66b8a74.pf_index
  pagefind/index/en_683ed3b.pf_index
  pagefind/index/en_706b463.pf_index
  pagefind/index/en_71e6dbd.pf_index
  pagefind/index/en_87aae21.pf_index
  pagefind/index/en_92129f2.pf_index
  pagefind/index/en_9838132.pf_index
  pagefind/index/en_9b2e7da.pf_index
  pagefind/index/en_a81fcbe.pf_index
  pagefind/index/en_b998339.pf_index
  pagefind/index/en_cb216ec.pf_index
  pagefind/index/en_cbb42bd.pf_index
  pagefind/index/en_ddf17ff.pf_index
  pagefind/index/en_e0b7f8f.pf_index
  pagefind/index/en_e87e873.pf_index
  pagefind/index/en_fc7a5aa.pf_index
  pagefind/index/en_ff45d35.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_192fd0fc8b.pf_meta
  pagefind/pagefind.en_47b15727c6.pf_meta
Due: prettier --write --config ./prettier.config.js

Add placement, category and transaction schemas
  packages/connectors/src/Sources/CriteoAds/CriteoAdsAPIReference/CriteoAdsFieldsSchema.js
  packages/connectors/src/Sources/CriteoAds/CriteoAdsAPIReference/adStatisticsFields.js
  packages/connectors/src/Sources/CriteoAds/CriteoAdsAPIReference/placementCategoryFields.js
  packages/connectors/src/Sources/CriteoAds/CriteoAdsAPIReference/placementFields.js
  packages/connectors/src/Sources/CriteoAds/CriteoAdsAPIReference/transactionFields.js
  packages/connectors/src/Sources/CriteoAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): output controls for Databricks data marts (filters, slices, sort, limit)
  .changeset/databricks-output-controls.md
  .github/workflows/test-integration.yml
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/test/integration/README.md
  apps/backend/test/integration/databricks.integration.ts
  apps/backend/test/integration/http-data-real.integration.ts
  apps/backend/test/output-controls-databricks-emission.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.test.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update permission error expectations in tests
  apps/backend/test/permissions-contexts.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update permission error expectations in tests (#1310)
  apps/backend/test/permissions-contexts.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(reporting): align output controls e2e expectations
  apps/backend/test/blended-output-controls.e2e-spec.ts
  apps/backend/test/output-controls.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
