Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

refactor(web): centralize SortableHeader and ToggleColumnsHeader in shared components
  apps/web/src/env.d.ts
  apps/web/src/features/data-destination/list/components/DataDestinationTable/SortableHeader.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns.tsx
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightsTable.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns.tsx
  apps/web/src/features/data-marts/insights/hooks/useInsightData.ts
  apps/web/src/features/data-marts/insights/hooks/useInsightForm.ts
  apps/web/src/features/data-marts/insights/model/mappers/insight.mapper.ts
  apps/web/src/features/data-marts/insights/model/services/insights.mock.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
  apps/web/src/features/data-marts/insights/model/types/insight.entity.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/SortableHeader.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/index.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/SortableHeader.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/index.ts
  apps/web/src/pages/data-marts/insights/details/InsightDetailsView.tsx
  apps/web/src/shared/components/Table/SortableHeader.test.tsx
  apps/web/src/shared/components/Table/SortableHeader.tsx
  apps/web/src/shared/components/Table/ToggleColumnsHeader.tsx
  apps/web/src/shared/components/Table/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): optimize InsightDetailsView and useInsightData hook
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/hooks/useInsightData.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): prevent duplicate registration of slash command providers in Monaco editor
  apps/web/src/features/data-marts/insights/utils/monaco-commands.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): relocate Insights components and hooks for better feature cohesion
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListView.tsx
  apps/web/src/routes/data-marts/routes.tsx
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(web): add support for fetching individual insights and extend mock templates
  apps/web/src/features/data-marts/insights/hooks/useInsightData.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/insights/model/reducer/actions.ts
  apps/web/src/features/data-marts/insights/model/reducer/insightsReducer.ts
  apps/web/src/features/data-marts/insights/model/services/insights.mock.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
  apps/web/src/features/data-marts/insights/model/types/state.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): remove mock data and integrate dynamic insight title updates
  apps/web/src/env.d.ts
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/hooks/useInsightData.ts
  apps/web/src/features/data-marts/insights/hooks/useInsightForm.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/insights/model/reducer/insightsReducer.ts
  apps/web/src/features/data-marts/insights/model/services/insights.mock.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
  apps/web/src/features/data-marts/insights/model/types/api/insights.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

style(web): adjust title font size in InsightDetailsView for better consistency
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

feat(web): update InsightDetailsView with "Save & Preview" button and adjusted editor height
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

fix codestyle
  apps/backend/src/common/common.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): added insight run trigger
  apps/backend/src/data-marts/controllers/insight-run-trigger.controller.ts
  apps/backend/src/data-marts/controllers/insight.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight-run-trigger.api.ts
  apps/backend/src/data-marts/controllers/spec/insight.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/insight.dto.ts
  apps/backend/src/data-marts/dto/presentation/insight-run-response-api.dto.ts
  apps/backend/src/data-marts/entities/insight-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/insight.entity.ts
  apps/backend/src/data-marts/mappers/insight.mapper.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  apps/backend/src/data-marts/services/insight-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/insight-run-trigger.service.ts
  apps/backend/src/data-marts/services/insight.service.ts
  apps/backend/src/migrations/1763465011180-add-insight-id-to-data-mart-run.ts
  apps/backend/src/migrations/1763465015992-add-output-to-insight-table.ts
  apps/backend/src/migrations/1763465015994-create-insight-run-trigger-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: streamline setup instructions and remove redundant steps in documentation
  packages/connectors/src/Sources/BankOfCanada/GETTING_STARTED.md
  packages/connectors/src/Sources/BankOfCanada/res/bank_fill_data.png
  packages/connectors/src/Sources/BankOfCanada/res/bank_publish.png
  packages/connectors/src/Sources/CriteoAds/GETTING_STARTED.md
  packages/connectors/src/Sources/CriteoAds/res/criteo_fill_data.png
  packages/connectors/src/Sources/CriteoAds/res/criteo_publish.png
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_backfill.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_dataset.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_importsheets.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_newdata.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_newdatamart.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_publish.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_reimport.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_setupconnector.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_credentials.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_fields.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_import.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_pasteid.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_startdate.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_success.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_token.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(ai-insights): enhance agent service with tool choice and message history tracking
  apps/backend/src/common/ai-insights/agent/types.ts
  apps/backend/src/common/ai-insights/services/openai/openai-tool-calling.client.ts
  apps/backend/src/data-marts/ai-insights/agent.service.ts
  apps/backend/src/data-marts/ai-insights/ai-insights-types.ts
  apps/backend/src/data-marts/ai-insights/data-mart-markdown-template.facade.ts
  apps/backend/src/data-marts/ai-insights/markdown-data-mart.types.ts
  apps/backend/src/data-marts/ai-insights/prompts/llm-prompt.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/ai-insights/tools/data-marts-ai-insights-tools.registrar.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update setup instructions for Facebook Ads and GitHub connectors for clarity
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/GitHub/GETTING_STARTED.md
  packages/connectors/src/Sources/GitHub/res/github_connector.png
  packages/connectors/src/Sources/GitHub/res/github_fill_data.png
  packages/connectors/src/Sources/GitHub/res/github_publish.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: update dependencies and npm config
  .npmrc
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

fixes after review
  apps/backend/src/app.module.ts
  apps/backend/src/common/markdown/facades/markdown-template-to-markdown.facade.ts
  apps/backend/src/common/template/facades/template-render-facade-impl.service.ts
  apps/backend/src/common/template/facades/template-render.facade.ts
  apps/backend/src/common/template/handlers/tag-handler.interface.ts
  apps/backend/src/common/template/types/render-template.types.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/data-mart-markdown-template.facade.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/data-marts.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fixes after review
  apps/backend/src/common/ai-insights/agent/tool-registry.ts
  apps/backend/src/common/ai-insights/agent/types.ts
  apps/backend/src/common/ai-insights/ai-insights.module.ts
  apps/backend/src/common/ai-insights/services/ai-insights-tools-registrar.ts
  apps/backend/src/common/common.module.ts
  apps/backend/src/data-marts/ai-insights/agent.service.ts
  apps/backend/src/data-marts/ai-insights/ai-insights-providers.ts
  apps/backend/src/data-marts/ai-insights/tools/data-marts-ai-insights-tools.registrar.ts
  apps/backend/src/data-marts/data-marts.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fixes after review
  apps/backend/src/data-marts/ai-insights/tools/data-marts-ai-insights-tools.registrar.ts
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/utils/isReadonlyQuery.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

add runWithConcurrency utility and integrate it into template rendering
  apps/backend/src/common/template/facades/template-render-facade-impl.service.ts
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/utils/runWithConcurrency.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor agent service to openai vendor lock
  apps/backend/src/common/ai-insights/agent/ai-core.ts
  apps/backend/src/common/ai-insights/agent/tool-registry.ts
  apps/backend/src/common/ai-insights/agent/types.ts
  apps/backend/src/common/ai-insights/services/openai/openai-chat-provider.ts
  apps/backend/src/common/ai-insights/services/openai/openai-tool-calling.client.ts
  apps/backend/src/common/ai-insights/services/openai/openai.mapper.ts
  apps/backend/src/common/ai-insights/services/openai/types.ts
  apps/backend/src/data-marts/ai-insights/agent.service.ts
  apps/backend/src/data-marts/ai-insights/ai-insights-providers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

replace OpenAiChatProvider with AI_CHAT_PROVIDER variable
  apps/backend/src/common/ai-insights/services/ai-chat-provider.token.ts
  apps/backend/src/data-marts/ai-insights/agent.service.ts
  apps/backend/src/data-marts/ai-insights/ai-insights-providers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): update after pull request review
  apps/backend/src/data-marts/controllers/insight-run-trigger.controller.ts
  apps/backend/src/data-marts/controllers/insight.controller.ts
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/domain/insight.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/insight-list-item-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/insight-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/insight-run-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/run-insight-response-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run-insight-definition.schema.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run.schema.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-table-definitions/data-mart-definition.schema.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-table-definitions/data-mart-definition.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-table-definitions/insight-run-definition.schema.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/entities/insight.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/mappers/insight.mapper.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  apps/backend/src/data-marts/services/insight.service.ts
  apps/backend/src/data-marts/use-cases/create-insight.service.ts
  apps/backend/src/data-marts/use-cases/get-insight.service.ts
  apps/backend/src/migrations/1763465011180-add-insight-columns-to-data-mart-run.ts
  apps/backend/src/migrations/1763465011180-add-insight-id-to-data-mart-run.ts
  apps/backend/src/migrations/1763465015992-add-output-to-insight-table.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/ConfigurationView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-definition-config.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-run-insight-definition.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-run.ts
  apps/web/src/features/data-marts/edit/model/types/index.ts
  apps/web/src/features/data-marts/edit/model/types/insight-definition-config.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-run.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/shared/data-mart-run-report-definition.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): remove lastManualDataMartRun from Insight entity and update related mappings
  apps/backend/src/data-marts/entities/insight.entity.ts
  apps/backend/src/data-marts/mappers/insight.mapper.ts
  apps/backend/src/data-marts/use-cases/get-insight.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(models): remove email validation from user model
  packages/idp-protocol/src/types/models.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(models): remove email validation from user model (#746)
  packages/idp-protocol/src/types/models.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): reorganize imports and update data mart controller for improved structure and clarity
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update placeholder text and remove unused className prop from MarkdownEditorTabs
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditor.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorTabs.tsx
Due: none

fix(web): update documentation links for Email, Google Chat, Microsoft Teams, and Slack descriptions
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/EmailDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/GoogleChatDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/MicrosoftTeamsDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/SlackDescription.tsx
Due: none

refactor(web): update placeholder and description text in EmailReportEdit components for clarity
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
Due: none

fix(packages): update background color for unchecked state in Switch component
  packages/ui/src/components/switch.tsx
Due: none

refactor(web): improve dataMart ID handling in auto-refresh hook
  apps/web/src/features/data-marts/reports/shared/model/hooks/useDataMartReportsAutoRefresh.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update icons and improve layout in DataMartRunHistoryView components
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StructuredLogsView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/icons.tsx
  apps/web/src/pages/data-marts/edit/DataMartRunHistoryContent.tsx
Due: none

feat(backend): integrate AI layer into insight execution
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): delete limit for tools used in logs
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): update API tags in insight run trigger controller
  apps/backend/src/data-marts/controllers/insight-run-trigger.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): Destinations and Reports form improvements (#745)
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/EmailDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/GoogleChatDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/MicrosoftTeamsDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/SlackDescription.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StructuredLogsView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/icons.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/shared/model/hooks/useDataMartReportsAutoRefresh.ts
  apps/web/src/pages/data-marts/edit/DataMartRunHistoryContent.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditor.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorTabs.tsx
  packages/ui/src/components/switch.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance OAuth settings management and UI integration
  .env.example
  apps/backend/src/data-marts/connector-types/connector-oauth-schema.ts
  apps/backend/src/data-marts/controllers/connector.controller.ts
  apps/backend/src/data-marts/controllers/spec/connector.api.ts
  apps/backend/src/data-marts/dto/presentation/connector-oauth-settings-response-api.dto.ts
  apps/backend/src/data-marts/mappers/connector.mapper.ts
  apps/backend/src/data-marts/services/connector.service.ts
  apps/backend/src/data-marts/services/connector/connector-oauth.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/FacebookOauthRender.tsx
  apps/web/src/features/connectors/shared/api/connector-api.service.ts
  apps/web/src/features/connectors/shared/api/types/response/oauth.response.dto.ts
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/ui/src/components/common/wizard.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
