Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(changeset): name the connectors changeset after its work item and complete it
  .changeset/6988-custom-nocode-connectors.md
  .changeset/custom-nocode-connectors.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): do not call a stopped run a warning after an account failed outright
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): keep the builder mounted when a new connector's first save sets its URL
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.tsx
  apps/web/src/features/connector-builder/shared/model/hooks/useBuilder.ts
  apps/web/src/pages/connectors/builder/BuilderPage.create.test.tsx
  apps/web/src/pages/connectors/builder/BuilderPage.edit.test.tsx
  apps/web/src/pages/connectors/builder/BuilderPage.tsx
  apps/web/src/pages/connectors/builder/CreatePage.tsx
  apps/web/src/pages/connectors/builder/EditPage.tsx
  apps/web/src/routes/index.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): read a blank connector setting as its default
  .env.example
  apps/backend/src/config/env-validation.config.spec.ts
  apps/backend/src/config/env-validation.config.ts
  docs/getting-started/deployment-guide/environment-variables.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): refuse at publish three manifest shapes that misbehave at run time
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): read every zone-less date as UTC, and integers in any notation
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/FieldCaster.js
  packages/connectors/tests/declarative/FieldCaster.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): say when custom connectors fail to load in the Data Mart form, and retry
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.custom.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
Due: none

fix(connectors): bound how long a manifest can make a run wait
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/ErrorHandler.js
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ErrorHandler.test.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(backend): drop an unused ConfigService and an expiry check nothing calls
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.ts
  apps/backend/src/data-marts/services/connector/connector-storage-config.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): add a node's fields from a row under the table
  apps/web/src/features/connector-builder/create/components/node/FieldsEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/node/FieldsEditor.tsx
Due: none

fix(web): ask for a secret a newly picked version adds instead of showing it as stored
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationListRender.tsx
Due: none

fix(backend): fail a live test whose runner crashed after it emitted rows
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): read a flattened key that holds dots into its field
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/FieldCaster.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
  packages/connectors/tests/declarative/FieldCaster.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): draw custom connectors with the plug of the Connectors menu
  apps/web/src/features/connectors/shared/components/CustomConnectorIcon/CustomConnectorIcon.test.tsx
  apps/web/src/features/connectors/shared/components/CustomConnectorIcon/CustomConnectorIcon.tsx
Due: none

chore(connectors): stop shipping the Frankfurter FX example connector
  .changeset/6988-custom-nocode-connectors.md
  apps/backend/src/data-marts/services/connector/connector.service.spec.ts
  apps/backend/test/connector-fields.e2e-spec.ts
  apps/backend/test/connector-specification.e2e-spec.ts
  apps/backend/test/integration/connector-builder-sampleapis.integration.ts
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/CREATING_CONNECTOR.md
  packages/connectors/tests/declarative/DeclarativeBundle.test.js
  packages/connectors/tests/declarative/fixtures/bundled/invalid/src/Sources/Broken/manifest.json
  packages/connectors/tests/declarative/fixtures/bundled/valid/src/Sources/ExampleRates/manifest.json
  packages/test-utils/src/constants.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): discover the values inside a nested object as fields of their own
  apps/web/src/features/connector-builder/create/FieldDataPath.test.tsx
  apps/web/src/features/connector-builder/shared/model/inferFields.test.ts
  apps/web/src/features/connector-builder/shared/model/inferFields.ts
  docs/connectors/connector-builder.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): keep every log category toggle reachable on a narrow screen
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/CategoryChips.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/CategoryChips.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/LogControls.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/chips-fit.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): say row, not rows, when a run loaded one
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/LoadStatusStrip.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/LoadStatusStrip.tsx
Due: none

docs(connectors): show the Connector Builder on its guide pages
  docs/connectors/connector-builder.md
  docs/connectors/declarative-connectors.md
  docs/res/screens/Connector-Builder-Fields.png
  docs/res/screens/Connector-Builder-Node.png
  docs/res/screens/Connector-Builder-Parameters.png
  docs/res/screens/Connector-Builder-Test.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): explain each transformation, and say when fields must be discovered again
  apps/web/src/features/connector-builder/create/components/node/TransformationsEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/node/TransformationsEditor.tsx
Due: none

fix(connectors): read the destination from the storage config, as on main
  packages/connectors/src/Core/AbstractContext.js
  packages/connectors/tests/AbstractContext.test.js
  packages/connectors/tests/regression/destination-from-storage-config.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): label the text a connector prints as Output, not Unknown
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StructuredLogsView.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/icons.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/log-category.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): resolve short links in the engine, as main's #1658 does per connector
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-event.translator.ts
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-message-parser.service.spec.ts
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractContext.js
  packages/connectors/test/Core/AbstractConnector.test.js
  packages/connectors/test/Core/ShortLinksUtils.test.js
  packages/connectors/test/Sources/FacebookMarketing/shortLinksSaveSites.test.js
  packages/connectors/test/Sources/GoogleAds/Source.test.js
  packages/connectors/test/Sources/MicrosoftAds/Source.test.js
  packages/connectors/test/Sources/shortLinkTargetsNeverRequested.test.js
  packages/connectors/tests/AbstractContext.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): let the keyboard reach canvas setting descriptions and say what Title only clears
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.test.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  apps/web/src/features/data-marts/shared/canvas/erd-fields-section.tsx
  apps/web/src/features/data-marts/shared/canvas/erd-fields.ts
  apps/web/src/features/data-marts/shared/canvas/object-labels.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@71dfbbeb023c7728d501b8ef305de81660ce6195 🚀
  docs/getting-started/setup-guide/models-canvas/index.html
  pagefind/fragment/en_51e39b1.pf_fragment
  pagefind/fragment/en_e1a5bce.pf_fragment
  pagefind/index/en_122776b.pf_index
  pagefind/index/en_147030b.pf_index
  pagefind/index/en_2ccf85e.pf_index
  pagefind/index/en_2e5df83.pf_index
  pagefind/index/en_302270a.pf_index
  pagefind/index/en_3b958f8.pf_index
  pagefind/index/en_3ca2395.pf_index
  pagefind/index/en_43596c5.pf_index
  pagefind/index/en_4599154.pf_index
  pagefind/index/en_569ce07.pf_index
  pagefind/index/en_6b9ad8e.pf_index
  pagefind/index/en_6bcc191.pf_index
  pagefind/index/en_865cc6b.pf_index
  pagefind/index/en_87e5502.pf_index
  pagefind/index/en_8bfe7b4.pf_index
  pagefind/index/en_9023ff1.pf_index
  pagefind/index/en_9774e38.pf_index
  pagefind/index/en_997c41f.pf_index
  pagefind/index/en_9e49531.pf_index
  pagefind/index/en_9ede185.pf_index
  pagefind/index/en_a31ea78.pf_index
  pagefind/index/en_aba937a.pf_index
  pagefind/index/en_b31db2c.pf_index
  pagefind/index/en_b39339d.pf_index
  pagefind/index/en_b611293.pf_index
  pagefind/index/en_b96c52b.pf_index
  pagefind/index/en_cd5a571.pf_index
  pagefind/index/en_cf41469.pf_index
  pagefind/index/en_e292218.pf_index
  pagefind/index/en_e63bf04.pf_index
  pagefind/index/en_f1cbf51.pf_index
  pagefind/index/en_f5e8904.pf_index
  pagefind/index/en_f7bfc4e.pf_index
  pagefind/index/en_fdb2c17.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_8dccfccc38.pf_meta
  pagefind/pagefind.en_a6f1997d4c.pf_meta
Due: prettier --write --config ./prettier.config.js

chore(connectors): keep the release note to the custom connectors feature
  .changeset/6988-custom-nocode-connectors.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(data-marts): drop the release note for the description length check
  .changeset/6988-data-mart-description-length-limit.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: note that the OWOX Extension removes an unchecked column's rules
  .changeset/7018-extension-unchecked-column-rules.md
  docs/getting-started/setup-guide/output-controls.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): show the declarative connectors demo in the release note
  .changeset/6988-custom-nocode-connectors.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(deps): resolve production audit vulnerabilities in multer and undici
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

docs(changeset): refresh the Models canvas filter and field label screenshots
  .changeset/6983-models-canvas-unconnected-filter-and-field-labels.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: add core overview pages for product sections
  apps/docs/astro.config.mjs
  apps/docs/scripts/sync-docs.js
  docs/connectors/index.md
  docs/data-marts/index.md
  docs/destinations/index.md
  docs/getting-started/core-concepts.md
  docs/plugins/index.md
  docs/reports/index.md
  docs/storages/index.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changelog): add the 0.36.0 what's-new video
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: add Project Settings and Deployment Guide overview pages
  apps/docs/astro.config.mjs
  docs/getting-started/deployment-guide/index.md
  docs/project/index.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@7703667ccad8022f2fc89f8ddc1d27a125c219e0 🚀
  docs/changelog/index.html
Due: none

docs: move Data Marts overview above the Setup Guide
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: move Reports section above Destinations in the sidebar
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: label section index pages as Overview in the sidebar
  apps/docs/astro.config.mjs
  docs/getting-started/deployment-guide/index.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
