Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

refactor(idp-owox-better-auth): change structure
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/core/constants.ts
  packages/idp-owox-better-auth/src/core/exceptions.ts
  packages/idp-owox-better-auth/src/core/logger.ts
  packages/idp-owox-better-auth/src/core/pkce.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/jwt/jwksCache.ts
  packages/idp-owox-better-auth/src/jwt/parseToken.ts
  packages/idp-owox-better-auth/src/jwt/verifyJwt.ts
  packages/idp-owox-better-auth/src/mappers/user-info-payload-builder.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.test.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.ts
  packages/idp-owox-better-auth/src/services/auth/platform-auth-flow-client.ts
  packages/idp-owox-better-auth/src/services/core/token-service.test.ts
  packages/idp-owox-better-auth/src/services/core/token-service.ts
  packages/idp-owox-better-auth/src/services/core/user-context-service.test.ts
  packages/idp-owox-better-auth/src/services/core/user-context-service.ts
  packages/idp-owox-better-auth/src/services/middleware/middleware-service.ts
  packages/idp-owox-better-auth/src/services/middleware/request-handler-service.ts
  packages/idp-owox-better-auth/src/services/rendering/page-service.ts
  packages/idp-owox-better-auth/src/services/rendering/template-service.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/utils/platform-redirect-builder.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): use constants
  packages/idp-owox-better-auth/src/core/logger.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(LinkedInAds): update field types for date and identifier consistency
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adAnalyticsFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignGroupFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connector): enhance error and log message handling with truncation and array management
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): revoke auth token if user not found in better auth
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.test.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(internal-helpers): added email integration
  apps/backend/src/common/email/email.module.ts
  apps/backend/src/common/email/providers/noop-provider.ts
  apps/backend/src/common/email/providers/sendgrid-provider.ts
  apps/backend/src/common/email/shared/email-provider.facade.ts
  package-lock.json
  packages/internal-helpers/package.json
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/integrations/email/README.md
  packages/internal-helpers/src/integrations/email/factory.ts
  packages/internal-helpers/src/integrations/email/index.ts
  packages/internal-helpers/src/integrations/email/providers/noop-provider.ts
  packages/internal-helpers/src/integrations/email/providers/sendgrid-provider.ts
  packages/internal-helpers/src/integrations/email/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(LinkedInAds): correct field types for id columns and date partition columns
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adAccountFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignGroupFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): fix looker getData requests with forFilterOnly fields
  .changeset/fix-looker-connector-field-filtering.md
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): fix looker getData requests with forFilterOnly fields (#902)
  .changeset/fix-looker-connector-field-filtering.md
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(LinkedInAds): correct field types for id columns and date partition columns (#899)
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adAccountFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adAnalyticsFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignGroupFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(google-sheets): show actual API error instead of generic message
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): data storage compatibility for legacy data marts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-data-mart-schema.parser.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-schema-merger.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sql-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-data-mart-schema.parser.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-schema-merger.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-sql-dry-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-sql-preprocessor.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-sql-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-facades.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/enums/data-storage-type.enum.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-mart-query-builder.facade.ts
  apps/backend/src/data-marts/data-storage-types/factories/data-storage-public-credentials.factory.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-mart-query-builder.interface.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): data destination compatibility for legacy data marts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-type-mapper.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): BigQuery adapter location autodetect
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/schemas/bigquery-config.schema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): data storage form updated for legacy type
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/LegacyGoogleBigQueryLocationDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/LegacyGoogleBigQueryProjectIdDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/LegacyGoogleBigQueryTitleDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/StorageTypeLegacyBigQueryDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/LegacyGoogleBigQueryFields.tsx
Due: none

feat(web): icon added for legacy storage
  apps/web/src/shared/icons/index.ts
  apps/web/src/shared/icons/legacy-google-bigquery-icon.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): data marts module config updated
  apps/backend/src/data-marts/data-marts.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): unit tests added for new services
  apps/backend/src/common/guards/internal-api.guard.spec.ts
  apps/backend/src/common/utils/batch-processor.spec.ts
  apps/backend/src/data-marts/services/legacy-data-marts/legacy-data-marts.service.spec.ts
  apps/backend/src/data-marts/services/legacy-data-marts/legacy-data-storage.service.spec.ts
  apps/backend/src/data-marts/services/legacy-data-marts/legacy-data-storage.service.ts
  apps/backend/src/data-marts/services/legacy-data-marts/legacy-sync-triggers.service.spec.ts
  apps/backend/src/data-marts/services/legacy-data-marts/sync-data-marts-by-gcp-trigger.handler.spec.ts
  apps/backend/src/data-marts/services/legacy-data-marts/sync-gcp-storages-for-project-trigger.handler.spec.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/delete-legacy-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-marts-by-gcp.service.spec.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-gcp-storages-for-project.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): legacy data marts core logic layer
  apps/backend/src/common/utils/batch-processor.ts
  apps/backend/src/data-marts/dto/domain/legacy-data-marts/create-data-mart-odm.request.dto.ts
  apps/backend/src/data-marts/dto/domain/legacy-data-marts/create-data-mart-odm.response.dto.ts
  apps/backend/src/data-marts/dto/domain/legacy-data-marts/data-mart-details-odm.response.dto.ts
  apps/backend/src/data-marts/dto/domain/legacy-data-marts/delete-legacy-data-mart.command.ts
  apps/backend/src/data-marts/dto/domain/legacy-data-marts/parsed-query-odm.response.dto.ts
  apps/backend/src/data-marts/dto/domain/legacy-data-marts/sync-legacy-data-mart.command.ts
  apps/backend/src/data-marts/dto/domain/legacy-data-marts/sync-legacy-data-marts-by-gcp-project.command.ts
  apps/backend/src/data-marts/dto/domain/legacy-data-marts/sync-legacy-gcp-storages-for-project.command.ts
  apps/backend/src/data-marts/entities/legacy-data-marts/sync-data-marts-by-gcp-trigger.entity.ts
  apps/backend/src/data-marts/entities/legacy-data-marts/sync-gcp-storages-for-project-trigger.entity.ts
  apps/backend/src/data-marts/services/legacy-data-marts/legacy-data-marts.service.ts
  apps/backend/src/data-marts/services/legacy-data-marts/legacy-data-storage.service.ts
  apps/backend/src/data-marts/services/legacy-data-marts/legacy-sync-triggers.service.ts
  apps/backend/src/data-marts/services/legacy-data-marts/sync-data-marts-by-gcp-trigger.handler.ts
  apps/backend/src/data-marts/services/legacy-data-marts/sync-gcp-storages-for-project-trigger.handler.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/delete-legacy-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-marts-by-gcp.service.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-gcp-storages-for-project.service.ts
  apps/backend/src/migrations/1769769180001-create-sync-data-marts-by-gcp-trigger-table.ts
  apps/backend/src/migrations/1769769180002-create-sync-gcp-storages-for-project-trigger-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): existing use cases updated for legacy data marts
  apps/backend/src/data-marts/dto/domain/data-storage.dto.ts
  apps/backend/src/data-marts/dto/domain/delete-data-mart.command.ts
  apps/backend/src/data-marts/dto/domain/update-data-storage.command.ts
  apps/backend/src/data-marts/dto/presentation/data-storage-list-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/delete-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/delete-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/get-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts-by-connector-name.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
  apps/backend/src/data-marts/use-cases/list-data-storages.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-description.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-title.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

improvements after review
  apps/backend/src/common/guards/internal-api.guard.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-type-mapper.service.ts
  apps/backend/src/data-marts/services/legacy-data-marts/legacy-data-storage.service.ts
  apps/backend/src/data-marts/services/legacy-data-marts/legacy-sync-triggers.service.spec.ts
  apps/backend/src/data-marts/services/legacy-data-marts/legacy-sync-triggers.service.ts
  apps/backend/src/data-marts/services/legacy-data-marts/sync-data-marts-by-gcp-trigger.handler.ts
  apps/backend/src/data-marts/services/legacy-data-marts/sync-gcp-storages-for-project-trigger.handler.ts
  apps/backend/src/migrations/1769769180001-create-sync-data-marts-by-gcp-trigger-table.ts
  apps/backend/src/migrations/1769769180002-create-sync-gcp-storages-for-project-trigger-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): Internal API controller for triggering legacy data marts update
  apps/backend/src/common/common.module.ts
  apps/backend/src/common/guards/internal-api.guard.ts
  apps/backend/src/data-marts/controllers/internal/legacy-data-marts-sync.controller.ts
  apps/backend/src/data-marts/controllers/spec/internal/legacy-data-marts-sync.api.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): data storage list updated for legacy type
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageActionsCell.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columnKeys.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columnLabels.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columns.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): data storage shared components updated for legacy type
  apps/web/src/features/data-storage/shared/api/types/response/data-storage-list.response.dto.ts
  apps/web/src/features/data-storage/shared/api/types/response/data-storage.response.dto.ts
  apps/web/src/features/data-storage/shared/components/DataStorageInfo/ConfigSection.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageTypeDialog.tsx
  apps/web/src/features/data-storage/shared/model/context/reducer.ts
  apps/web/src/features/data-storage/shared/model/mappers/base-storage.mapper.ts
  apps/web/src/features/data-storage/shared/model/mappers/legacy-google-bigquery.mapper.ts
  apps/web/src/features/data-storage/shared/model/mappers/storage-mapper.factory.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage-list.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage-status.enum.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage-type.enum.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage.ts
  apps/web/src/features/data-storage/shared/types/data-storage-type.model.test.ts
  apps/web/src/features/data-storage/shared/types/data-storage-type.model.ts
  apps/web/src/features/data-storage/shared/types/data-storage.schema.ts
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.ts
  apps/web/src/features/data-storage/shared/utils/storage-validation.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): data mart components updated for legacy type
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/utils/schema-factory.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(internal-helpers): updated error messages
  packages/internal-helpers/src/integrations/email/providers/sendgrid-provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(internal-helpers): added email integration (#901)
  apps/backend/src/common/email/email.module.ts
  apps/backend/src/common/email/providers/noop-provider.ts
  apps/backend/src/common/email/providers/sendgrid-provider.ts
  apps/backend/src/common/email/shared/email-provider.facade.ts
  package-lock.json
  packages/internal-helpers/package.json
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/integrations/email/README.md
  packages/internal-helpers/src/integrations/email/factory.ts
  packages/internal-helpers/src/integrations/email/index.ts
  packages/internal-helpers/src/integrations/email/providers/noop-provider.ts
  packages/internal-helpers/src/integrations/email/providers/sendgrid-provider.ts
  packages/internal-helpers/src/integrations/email/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@e11501b706ae7217deeaf27daa1d754518d015cf 🚀
  packages/internal-helpers/src/integrations/email/readme/index.html
  pagefind/fragment/en_89b0e2a.pf_fragment
  pagefind/index/en_13f68b6.pf_index
  pagefind/index/en_1e775b3.pf_index
  pagefind/index/en_6a6d7b0.pf_index
  pagefind/index/en_748cc38.pf_index
  pagefind/index/en_79cdc40.pf_index
  pagefind/index/en_9316d5e.pf_index
  pagefind/index/en_9cdcd41.pf_index
  pagefind/index/en_b9f5a41.pf_index
  pagefind/index/en_c1d9e2a.pf_index
  pagefind/index/en_cadd735.pf_index
  pagefind/index/en_d3aac87.pf_index
  pagefind/index/en_de12afa.pf_index
  pagefind/index/en_f07c296.pf_index
  pagefind/index/en_f33ce03.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_475bfae382.pf_meta
  pagefind/pagefind.en_a2dad9506e.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): updated resources path
  packages/idp-owox-better-auth/scripts/copy-public.cjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(idp-owox-better-auth): delete rimraf dependencies
  package-lock.json
  packages/idp-better-auth/package.json
  packages/idp-owox-better-auth/package.json
  packages/idp-owox/package.json
  packages/idp-protocol/package.json
Due: prettier --write --config ./prettier.config.js

feat(backend): add data-table tag handler for email template rendering
  apps/backend/src/common/template/facades/template-render-facade-impl.service.ts
  apps/backend/src/common/template/facades/template-render.facade.ts
  apps/backend/src/common/template/handlers/base/data-table-tag.handler.ts
  apps/backend/src/common/template/handlers/base/index.ts
  apps/backend/src/common/template/handlers/tag-handler.exception.ts
  apps/backend/src/common/template/handlers/tag-handler.interface.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add data-table tag explanation for email templates
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/FormDescriptions/MessageTemplateDescription.tsx
Due: none

chore: add data-table tag changeset
  .changeset/add-data-table-template-tag.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: disable data-table tag for insights
  apps/backend/src/common/template/facades/template-render-facade-impl.service.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Expandable SQL Code Editor
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartCodeEditor.tsx
Due: none

feat(connector): enhance error and log message handling with truncation and array management (#896)
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(idp-owox-better-auth): updated GitHub Actions
  .changeset/config.json
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.js

chore(idp-owox-better-auth): delete sendgrid package from backend
  apps/backend/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

fix(idp-owox-better-auth): fix after review
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
  packages/idp-owox-better-auth/src/services/middleware/request-handler-service.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
