Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(logging): enhance logging configuration in better-auth with new logger integration and update .env.example for clarity
  .env.example
  apps/backend/.env.example
  apps/owox/src/commands/base.ts
  packages/idp-better-auth/src/auth/auth-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-better-auth): Redirect to sign-in flow for unified authentication
  packages/idp-better-auth/src/providers/better-auth-provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@7accf9ae1de569e9df54c034a98b13c68ff6a384 🚀
  packages/idp-protocol/readme/index.html
  pagefind/fragment/en_97406bd.pf_fragment
  pagefind/fragment/en_b05baa6.pf_fragment
  pagefind/index/en_11fc24a.pf_index
  pagefind/index/en_2738167.pf_index
  pagefind/index/en_32184a6.pf_index
  pagefind/index/en_3af04fd.pf_index
  pagefind/index/en_42b2771.pf_index
  pagefind/index/en_a4885e1.pf_index
  pagefind/index/en_ad6af16.pf_index
  pagefind/index/en_b8e1469.pf_index
  pagefind/index/en_bbcd224.pf_index
  pagefind/index/en_d7e6aae.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_31d53557d2.pf_meta
  pagefind/pagefind.en_d5ffa8b634.pf_meta
Due: prettier --write --config ./prettier.config.js

feat: update linked in refresh token changeset
  .changeset/linkedin-auth-flow-changes.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@d9fc763f5e754be9d4bfdc172f42dab50ce86a78 🚀
  docs/getting-started/core-concepts/index.html
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@b7de19e52201495bc7337e1590cacf3273f6c7b7 🚀
  _astro/facebook-currentday.CMqe_IPx_1zUF1y.webp
  _astro/facebook-dataset.DjjCT6c7_ZyAjx2.webp
  _astro/facebook-daterange.CToF-_6c_zyC1R.webp
  _astro/facebook-endpoint.LLJzuFBQ_23Kjso.webp
  _astro/facebook-importgbq.CG_IdVUf_Z1YVQR8.webp
  _astro/facebook-importgbq._6-Lw4LH_Z2qgee9.webp
  _astro/facebook-incremental.pkWTlerU_Z21Pjzh.webp
  _astro/facebook-inputsource.BsNTPOtI_Z1IdSbG.webp
  _astro/facebook-newdatamart.Cm4_xi44_Z1kcGC.webp
  _astro/facebook-nodejs-storage.H4oXgPDa_ZsUD6y.webp
  _astro/facebook-publish.DZJJ4Ixp_s5OWw.webp
  _astro/facebook-reimportwindow.C91A1zAA_2rQnQO.webp
  _astro/facebook-setupconnector.RRLPs2eQ_ZqpYzw.webp
  _astro/facebook-successrun.FuUc1Rip_20Uqwo.webp
  packages/connectors/src/sources/facebook-marketing/getting-started/index.html
  pagefind/fragment/en_3d41ab7.pf_fragment
  pagefind/fragment/en_c8cbd68.pf_fragment
  pagefind/index/en_2738167.pf_index
  pagefind/index/en_32184a6.pf_index
  pagefind/index/en_6acf641.pf_index
  pagefind/index/en_a4885e1.pf_index
  pagefind/index/en_b8e1469.pf_index
  pagefind/index/en_d7e6aae.pf_index
  pagefind/index/en_de9eb8a.pf_index
  pagefind/index/en_e390968.pf_index
  pagefind/index/en_fcc07f3.pf_index
  pagefind/index/en_fde1fab.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_31d53557d2.pf_meta
  pagefind/pagefind.en_52c58ea010.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@b929195f225cb66ffe2490c42a781a76c5b5d814 🚀
  docs/getting-started/deployment-guide/digitalocean/index.html
  pagefind/fragment/en_19e2705.pf_fragment
  pagefind/fragment/en_9556fd8.pf_fragment
  pagefind/index/en_6acf641.pf_index
  pagefind/index/en_7f1ed16.pf_index
  pagefind/index/en_895a228.pf_index
  pagefind/index/en_a78aaf3.pf_index
  pagefind/index/en_de9eb8a.pf_index
  pagefind/index/en_e390968.pf_index
  pagefind/index/en_f3c483d.pf_index
  pagefind/index/en_f8eadd5.pf_index
  pagefind/index/en_fcc07f3.pf_index
  pagefind/index/en_fde1fab.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_52c58ea010.pf_meta
  pagefind/pagefind.en_b8eb74c592.pf_meta
Due: prettier --write --config ./prettier.config.js

docs: Add sign-up URL configuration to OWOX IDP documentation
  packages/idp-owox/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp-better-auth): minimize env variables
  .env.example
  apps/owox/src/idp/factory.ts
  docs/getting-started/deployment-guide/digitalocean.md
  docs/getting-started/deployment-guide/environment-variables.md
  docs/getting-started/deployment-guide/render.md
  packages/idp-better-auth/README.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(idp-better-auth): added changeset
  .changeset/simplified-mysql-config-idp-better-auth.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp-better-auth): prettier fix
  packages/idp-better-auth/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update local-deployment.md
  docs/getting-started/deployment-guide/local-deployment.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(idp-better-auth): updated Render deployment guide
  docs/getting-started/deployment-guide/render.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: update LinkedIn Pages documentation for refresh token and improve clarity
  packages/connectors/src/Sources/LinkedInPages/CREDENTIALS.md
  packages/connectors/src/Sources/LinkedInPages/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_accepted.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_addedapi.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_allow.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_backfill.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_clientsecret.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_copytoken.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_dataset.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_fields.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_importsheets.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_management.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_newdata.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_oauth.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_allow.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_connector.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_copytoken.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_currentday.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_daterange.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_fill_data.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_importgbq.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_incremental.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_newdatamart.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_oauth.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_organizationurn.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_publish.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_reimportwindow.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_scope.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_storage.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_successrun.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_reimport.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_runbackfill.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_scope.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_share.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_token.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: update LinkedIn Pages documentation for clarity on refresh token usage
  packages/connectors/src/Sources/LinkedInPages/CREDENTIALS.md
  packages/connectors/src/Sources/LinkedInPages/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): enhance error handling and notifications across the application
  .changeset/toast-notifications-improvements.md
  apps/web/src/app/api/api-error.interface.ts
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/connectors/edit/DataMartConnectorView.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationActionsCell.tsx
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestination.ts
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartOverview.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/SchemaFieldActionsButton.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartActionsCell.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerList/ScheduledTriggerList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerActionsCell.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/TableToolbar.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/index.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/context/ScheduledTriggerContext.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageActionsCell.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
  apps/web/src/features/data-storage/shared/model/hooks/useDataStorage.ts
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
  apps/web/src/shared/components/InlineEditDescription/InlineEditDescription.tsx
  apps/web/src/shared/components/Toaster/index.tsx
  apps/web/src/shared/utils/index.ts
  apps/web/src/shared/utils/showApiErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(migrations): enhance migration utilities
  apps/backend/src/config/migrations.config.ts
  apps/backend/src/index.ts
  apps/backend/src/migrations/1750350724543-create-data-storage-table.ts
  apps/backend/src/migrations/1750350724544-create-data-mart-table.ts
  apps/backend/src/migrations/1750350724545-create-connector-state-table.ts
  apps/backend/src/migrations/1750350724546-create-data-destination-table.ts
  apps/backend/src/migrations/1750350724547-create-data-mart-run-table.ts
  apps/backend/src/migrations/1750350724548-create-data-mart-scheduled-trigger-table.ts
  apps/backend/src/migrations/1750350724549-create-report-table.ts
  apps/backend/src/migrations/1754139488045-create-report-data-cache-table.ts
  apps/backend/src/migrations/helper.ts
  apps/backend/src/migrations/migration-utils.ts
  apps/owox/src/commands/migrations/list.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(owox): realize cli migration commands
  apps/backend/package.json
  apps/owox/src/commands/migrations/down.ts
  apps/owox/src/commands/migrations/index.ts
  apps/owox/src/commands/migrations/status.ts
  apps/owox/src/commands/migrations/up.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(migrations): implement migration utilities and command structure
  apps/backend/src/migrations/migration-utils.ts
  apps/owox/src/commands/migrations/down.ts
  apps/owox/src/commands/migrations/index.ts
  apps/owox/src/commands/migrations/list.ts
  apps/owox/src/commands/migrations/up.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): remove unnecessary comments and update action cell components to improve UI consistency and accessibility
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationActionsCell.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerActionsCell.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageActionsCell.tsx
Due: none

add(changeset): add doc to describe fix viewer role in better-auth
  .changeset/fix-viewer-user-role-in-better-auth.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(logging): update default log level to info in configuration files
  .changeset/logging-system-refactor.md
  .env.example
  packages/internal-helpers/src/logging/logger-factory.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): migrate BigQuery clients to google-auth-library
  .changeset/updated-google-bigquery-auth.md
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@301f30c0e01117aee8ad406fed7b3984daf9c563 🚀
  packages/idp-owox/readme/index.html
  pagefind/fragment/en_21a433a.pf_fragment
  pagefind/fragment/en_995c482.pf_fragment
  pagefind/index/en_3882261.pf_index
  pagefind/index/en_7f1ed16.pf_index
  pagefind/index/en_895a228.pf_index
  pagefind/index/en_a78aaf3.pf_index
  pagefind/index/en_d26c858.pf_index
  pagefind/index/en_e2ac8f0.pf_index
  pagefind/index/en_f3c483d.pf_index
  pagefind/index/en_f67587d.pf_index
  pagefind/index/en_f8e4e18.pf_index
  pagefind/index/en_f8eadd5.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_81fe17f3b7.pf_meta
  pagefind/pagefind.en_b8eb74c592.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@90a871134022283539ec10e0bbbffea7342eafa9 🚀
  docs/getting-started/deployment-guide/digitalocean/index.html
  docs/getting-started/deployment-guide/environment-variables/index.html
  docs/getting-started/deployment-guide/render/index.html
  packages/idp-better-auth/readme/index.html
  pagefind/fragment/en_19e2705.pf_fragment
  pagefind/fragment/en_318c18c.pf_fragment
  pagefind/fragment/en_7947f68.pf_fragment
  pagefind/fragment/en_b2f3141.pf_fragment
  pagefind/fragment/en_c328bfb.pf_fragment
  pagefind/fragment/en_c8759ee.pf_fragment
  pagefind/fragment/en_ce068b8.pf_fragment
  pagefind/fragment/en_d3ed211.pf_fragment
  pagefind/index/en_2e4f053.pf_index
  pagefind/index/en_3882261.pf_index
  pagefind/index/en_4e9ac1e.pf_index
  pagefind/index/en_86d9335.pf_index
  pagefind/index/en_d26c858.pf_index
  pagefind/index/en_d6c0d68.pf_index
  pagefind/index/en_e2ac8f0.pf_index
  pagefind/index/en_e767cab.pf_index
  pagefind/index/en_f67587d.pf_index
  pagefind/index/en_f8e4e18.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_81fe17f3b7.pf_meta
  pagefind/pagefind.en_849e1a3ce4.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(LinkedInAds): update credentials and getting started documentation; add new images and improve clarity
  packages/connectors/src/Sources/LinkedInAds/CREDENTIALS.md
  packages/connectors/src/Sources/LinkedInAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_bq.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_connector.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_currentday.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_daterange.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_fill_data.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_incremental.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_newdatamart.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_publish.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_reimportwindow.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_storage.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_successrun.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_bq.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_clientsecret.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_community.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_copytoken.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_credentials.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_dataset.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_date.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_fields.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_import.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_pasteurn.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_scope.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_share.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_success.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_token.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(LinkedInAds): correct access token to refresh token in CREDENTIALS.md; update link to LinkedIn Campaign Manager in GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInAds/CREDENTIALS.md
  packages/connectors/src/Sources/LinkedInAds/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@9fe60d0ab5b8aea5ef0e422a1d346b1a25b62d5c 🚀
  _astro/linkedin-ads-bq.BA80cjNe_Z19e2TP.webp
  _astro/linkedin-ads-connector.BM4JXoFH_1TXEJf.webp
  _astro/linkedin-ads-currentday.CM1KRVNt_2qkKFk.webp
  _astro/linkedin-ads-daterange.BEVlHYc1_Z12Gn2D.webp
  _astro/linkedin-ads-fill-data.OgBoEbT0_Z1rff6W.webp
  _astro/linkedin-ads-incremental.C1vo7dXD_1qHVRw.webp
  _astro/linkedin-ads-newdatamart.CJKf-Ida_Z1Vqp6s.webp
  _astro/linkedin-ads-publish.CletOSYJ_Z29fJSl.webp
  _astro/linkedin-ads-reimportwindow.OXjwSr3L_22gxrM.webp
  _astro/linkedin-ads-storage.CmHTztHf_Z1ptrxg.webp
  _astro/linkedin-ads-successrun.hVJ2x_Na_Z1d9onk.webp
  _astro/linkedin-bq.CvF8Jo_8_1xoCF2.webp
  _astro/linkedin-clientsecret.DBs19x12_Z2nDn9c.webp
  _astro/linkedin-copytoken.Do7m-lun_aUmIY.webp
  _astro/linkedin-dataset.BI6hAbgw_Z1QkAGO.webp
  _astro/linkedin-date.B-EELiEG_Z2mrEVn.webp
  _astro/linkedin-import.KbOFVEes_ZAi9Su.webp
  _astro/linkedin-scope.BhP0QFKz_o2jpt.webp
  _astro/linkedin-success.DAj-3TXa_ZlJk04.webp
  packages/connectors/src/sources/linked-in-ads/credentials/index.html
  packages/connectors/src/sources/linked-in-ads/getting-started/index.html
  pagefind/fragment/en_3683cfa.pf_fragment
  pagefind/fragment/en_7ad0cc1.pf_fragment
  pagefind/fragment/en_b7cad6c.pf_fragment
  pagefind/fragment/en_c27ff14.pf_fragment
  pagefind/index/en_24ac4a1.pf_index
  pagefind/index/en_2e4f053.pf_index
  pagefind/index/en_4e9ac1e.pf_index
  pagefind/index/en_606eea3.pf_index
  pagefind/index/en_86d9335.pf_index
  pagefind/index/en_a0d1e07.pf_index
  pagefind/index/en_b4a670f.pf_index
  pagefind/index/en_c5cb65c.pf_index
  pagefind/index/en_d6c0d68.pf_index
  pagefind/index/en_e767cab.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_849e1a3ce4.pf_meta
  pagefind/pagefind.en_dde0d8a686.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(web): fix 403 status code error handler
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/idp/context/AuthContext.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): remove unused code
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/idp/context/AuthContext.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): updated Google Sheets authentication for Report Run
  .changeset/updated-google-bigquery-auth.md
  .changeset/updated-google-services-auth.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(tiktok): update authentication and setup guides, enhance clarity and structure
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_bq.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_connector.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_currentday.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_daterange.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_incremental.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_publish.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_reimportwindow.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_successrun.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_advid.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_credentials.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_dataset.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_fields.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_filldata.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_idandsecret.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_import.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_newdatamart.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_pasteid.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_startdate.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_storage.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_token.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(tiktok): update authentication guide for clarity and add missing image
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/res/tiktok_auth_code.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp-better-auth): enhance user management with password reset and primary admin setup
  .changeset/better-auth-primary-admin-and-password-reset.md
  apps/docs/astro.config.mjs
  apps/owox/src/idp/factory.ts
  docs/getting-started/setup-guide/better-auth/project-members.md
  packages/idp-better-auth/README.md
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/page-service.ts
  packages/idp-better-auth/src/services/template-service.ts
  packages/idp-better-auth/src/services/user-management-service.ts
  packages/idp-better-auth/src/store/DatabaseStore.ts
  packages/idp-better-auth/src/store/MysqlDatabaseStore.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.ts
  packages/idp-better-auth/src/templates/admin-user-details.html
  packages/idp-better-auth/src/types/database-models.ts
  packages/idp-better-auth/src/types/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(idp-better-auth): update documentation and logging configuration
  docs/getting-started/setup-guide/better-auth/project-members.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp-better-auth): enhance better-auth documentation and logging
  .changeset/better-auth-primary-admin-and-password-reset.md
  .env.example
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/members-management/better-auth.md
  packages/idp-better-auth/README.md
  packages/idp-better-auth/src/logger.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/authentication-service.ts
  packages/idp-better-auth/src/services/middleware-service.ts
  packages/idp-better-auth/src/services/page-service.ts
  packages/idp-better-auth/src/services/request-handler-service.ts
  packages/idp-better-auth/src/services/token-service.ts
  packages/idp-better-auth/src/services/user-management-service.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.ts
  packages/internal-helpers/src/logging/logger.ts
  packages/internal-helpers/src/logging/providers/pino-logger-provider.ts
  packages/internal-helpers/src/logging/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(better-auth): enhance primary admin setup and password reset functionality
  .changeset/better-auth-primary-admin-and-password-reset.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
