Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): add update_report MCP tool
  .changeset/6701-mcp-update-report.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(mcp): address review feedback on update_report
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update mcp.md
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(mcp): document all MCP tools and add cross-links (#1388)
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@ef288b465d21868ed2f726abb1f4da1bf368d15f 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_21d1d46.pf_fragment
  pagefind/fragment/en_fa5030e.pf_fragment
  pagefind/index/en_1c12896.pf_index
  pagefind/index/en_1f65884.pf_index
  pagefind/index/en_2be7d1a.pf_index
  pagefind/index/en_4b94cab.pf_index
  pagefind/index/en_4c61ffa.pf_index
  pagefind/index/en_4ff4cae.pf_index
  pagefind/index/en_5277ec8.pf_index
  pagefind/index/en_6f456fc.pf_index
  pagefind/index/en_76f8f79.pf_index
  pagefind/index/en_79c5e56.pf_index
  pagefind/index/en_a2444c2.pf_index
  pagefind/index/en_a4f59da.pf_index
  pagefind/index/en_a83d588.pf_index
  pagefind/index/en_acefbe2.pf_index
  pagefind/index/en_b658c47.pf_index
  pagefind/index/en_bb62965.pf_index
  pagefind/index/en_bdc2a06.pf_index
  pagefind/index/en_d0344e4.pf_index
  pagefind/index/en_d91da28.pf_index
  pagefind/index/en_fabd81c.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_99a244bcf2.pf_meta
  pagefind/pagefind.en_ba81f79d47.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(mcp): add update_report MCP tool (#1382)
  .changeset/6701-mcp-update-report.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): add delete_report MCP tool
  .changeset/6703-mcp-delete-report.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(mcp): document update_report and delete_report tools
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add API key exchange and auth context support
  .changeset/api-key-exchange-auth-context.md
  apps/backend/src/data-marts/controllers/project-member-api-keys.controller.spec.ts
  apps/backend/src/data-marts/controllers/project-member-api-keys.controller.ts
  apps/backend/src/idp/controllers/auth-context.controller.spec.ts
  apps/backend/src/idp/controllers/auth-context.controller.ts
  apps/backend/src/idp/decorators/auth-context.decorator.spec.ts
  apps/backend/src/idp/decorators/auth-context.decorator.ts
  apps/backend/src/idp/decorators/index.ts
  apps/backend/src/idp/decorators/reject-api-key-auth.decorator.ts
  apps/backend/src/idp/guards/idp.guard.spec.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/backend/src/idp/idp.module.ts
  apps/backend/src/idp/oauth/controllers/oauth-authorization.controller.spec.ts
  apps/backend/src/idp/oauth/controllers/oauth-authorization.controller.ts
  apps/backend/src/project-member-api-keys/use-cases/exchange-project-member-api-key.service.spec.ts
  apps/backend/src/project-member-api-keys/use-cases/exchange-project-member-api-key.service.ts
  apps/backend/test/api-key-better-auth-app-smoke.e2e-spec.ts
  apps/backend/test/api-key-null-idp-app-smoke.e2e-spec.ts
  apps/backend/test/utils/api-key-app-smoke.ts
  apps/ctl/src/commands/status.test.ts
  apps/ctl/src/commands/status.ts
  docs/api/api-client.md
  docs/api/owox-ctl.md
  packages/api-client/README.md
  packages/api-client/src/auth.ts
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/idp-better-auth/src/providers/better-auth-provider.test.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/magic-link-service.test.ts
  packages/idp-better-auth/src/services/magic-link-service.ts
  packages/idp-better-auth/src/services/page-service.magic-link-success.test.ts
  packages/idp-better-auth/src/services/page-service.ts
  packages/idp-better-auth/src/services/token-service.test.ts
  packages/idp-better-auth/src/services/token-service.ts
  packages/idp-protocol/src/providers/null-provider.test.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Reject API-key auth from user provisioning routes
  .changeset/api-key-exchange-auth-context.md
  apps/backend/src/data-marts/controllers/request-access.controller.spec.ts
  apps/backend/src/data-marts/controllers/request-access.controller.ts
  apps/backend/test/api-key-better-auth-app-smoke.e2e-spec.ts
  apps/backend/test/api-key-null-idp-app-smoke.e2e-spec.ts
  apps/backend/test/utils/api-key-app-smoke.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Address API-key auth review findings
  .gitignore
  apps/backend/src/data-marts/controllers/context.controller.spec.ts
  apps/backend/src/data-marts/controllers/context.controller.ts
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/idp/controllers/auth-context.controller.ts
  apps/backend/src/idp/guards/idp.guard.spec.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/backend/src/idp/oauth/controllers/oauth-authorization.controller.spec.ts
  apps/backend/src/idp/oauth/controllers/oauth-authorization.controller.ts
  apps/backend/test/api-key-better-auth-app-smoke.e2e-spec.ts
  apps/backend/test/api-key-null-idp-app-smoke.e2e-spec.ts
  apps/backend/test/utils/api-key-app-smoke.ts
  apps/backend/test/utils/cli-manifest-setup.ts
  packages/idp-better-auth/src/services/page-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Ensure API-key auth context uses introspection
  .changeset/api-key-exchange-auth-context.md
  apps/backend/src/idp/controllers/auth-context.controller.spec.ts
  apps/backend/src/idp/controllers/auth-context.controller.ts
  apps/backend/src/project-member-api-keys/dto/domain/exchange-project-member-api-key-result.dto.ts
  apps/backend/src/project-member-api-keys/dto/presentation/exchange-project-member-api-key-response-api.dto.ts
  apps/backend/src/project-member-api-keys/use-cases/exchange-project-member-api-key.service.spec.ts
  apps/backend/src/project-member-api-keys/use-cases/exchange-project-member-api-key.service.ts
  packages/idp-better-auth/src/providers/better-auth-provider.test.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/token-service.test.ts
  packages/idp-better-auth/src/services/token-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Address API key auth review feedback
  .changeset/api-key-exchange-auth-context.md
  apps/backend/src/data-marts/controllers/project-members.controller.spec.ts
  apps/backend/src/data-marts/controllers/project-members.controller.ts
  apps/backend/test/api-key-better-auth-app-smoke.e2e-spec.ts
  apps/backend/test/api-key-null-idp-app-smoke.e2e-spec.ts
  apps/backend/test/utils/api-key-app-smoke.ts
  apps/ctl/src/commands/status.test.ts
  apps/ctl/src/commands/status.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Harden API-key auth restrictions
  .changeset/api-key-exchange-auth-context.md
  apps/backend/src/data-marts/controllers/project-member-api-keys.controller.spec.ts
  apps/backend/src/data-marts/controllers/project-member-api-keys.controller.ts
  apps/backend/src/data-marts/controllers/project-members.controller.spec.ts
  apps/backend/src/data-marts/controllers/project-members.controller.ts
  apps/backend/src/data-marts/controllers/request-access.controller.spec.ts
  apps/backend/src/data-marts/controllers/request-access.controller.ts
  apps/backend/src/idp/controllers/intercom.controller.spec.ts
  apps/backend/src/idp/controllers/intercom.controller.ts
  apps/backend/test/api-key-better-auth-app-smoke.e2e-spec.ts
  apps/backend/test/api-key-null-idp-app-smoke.e2e-spec.ts
  apps/backend/test/utils/api-key-app-smoke.ts
  packages/idp-better-auth/src/providers/better-auth-provider.test.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Allow API keys to manage data mart resources
  apps/backend/src/data-marts/controllers/context.controller.spec.ts
  apps/backend/src/data-marts/controllers/context.controller.ts
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/test/api-key-better-auth-app-smoke.e2e-spec.ts
  apps/backend/test/api-key-null-idp-app-smoke.e2e-spec.ts
  apps/backend/test/utils/api-key-app-smoke.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Fix API-key smoke manifest setup
  apps/backend/test/utils/cli-manifest-setup.ts
  docs/api/owox-ctl.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Format API-key exchange changes
  apps/backend/src/data-marts/controllers/context.controller.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/idp/controllers/auth-context.controller.spec.ts
  apps/backend/src/idp/oauth/controllers/oauth-authorization.controller.ts
  apps/backend/test/api-key-better-auth-app-smoke.e2e-spec.ts
  apps/backend/test/api-key-null-idp-app-smoke.e2e-spec.ts
  apps/backend/test/utils/api-key-app-smoke.ts
  packages/idp-better-auth/src/services/token-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@662871cc1f71e4dfbe3a3bab836ce8a981d9a95e 🚀
  docs/api/api-client/index.html
  docs/api/owox-ctl/index.html
  packages/api-client/readme/index.html
  pagefind/fragment/en_1f302d5.pf_fragment
  pagefind/fragment/en_88d776d.pf_fragment
  pagefind/fragment/en_9717db6.pf_fragment
  pagefind/fragment/en_cc38375.pf_fragment
  pagefind/fragment/en_e66bbab.pf_fragment
  pagefind/fragment/en_f1a43b3.pf_fragment
  pagefind/index/en_11688a5.pf_index
  pagefind/index/en_11ea6fe.pf_index
  pagefind/index/en_224820a.pf_index
  pagefind/index/en_2be7d1a.pf_index
  pagefind/index/en_461cc4f.pf_index
  pagefind/index/en_4b94cab.pf_index
  pagefind/index/en_4c61ffa.pf_index
  pagefind/index/en_76f8f79.pf_index
  pagefind/index/en_77bd8ba.pf_index
  pagefind/index/en_a4f59da.pf_index
  pagefind/index/en_a8e6f94.pf_index
  pagefind/index/en_acefbe2.pf_index
  pagefind/index/en_bdc2a06.pf_index
  pagefind/index/en_c44fde1.pf_index
  pagefind/index/en_cc1deec.pf_index
  pagefind/index/en_ccf973d.pf_index
  pagefind/index/en_cee090b.pf_index
  pagefind/index/en_d0344e4.pf_index
  pagefind/index/en_d91da28.pf_index
  pagefind/index/en_fabd81c.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_ba81f79d47.pf_meta
  pagefind/pagefind.en_f3b0c596f4.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(owox): stop advertising CLI as importable package
  apps/owox/package.json
  apps/owox/src/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: simplify div structure in report edit forms
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
Due: none

feat: add search button to report column picker and update button sizes
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsButton.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsButton.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/SearchButton.tsx
Due: none

feat: add search functionality to report column picker and refine layout
  .changeset/search-column-picker.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/report-column-search.ts
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: added tests to cover report column search behavior
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/report-column-search.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): summarize data catalog
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/data-mart-relationship-graph-edge.dto.ts
  apps/backend/src/data-marts/dto/domain/mcp-data-catalog-summary-candidate.dto.ts
  apps/backend/src/data-marts/dto/domain/mcp-data-catalog-summary.dto.ts
  apps/backend/src/data-marts/dto/domain/summarize-mcp-data-catalog.command.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/mappers/mcp-data-catalog-summary.mapper.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.ts
  apps/backend/src/data-marts/repositories/data-mart-relationship.repository.spec.ts
  apps/backend/src/data-marts/repositories/data-mart-relationship.repository.ts
  apps/backend/src/data-marts/repositories/mcp-data-catalog-summary.repository.spec.ts
  apps/backend/src/data-marts/repositories/mcp-data-catalog-summary.repository.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.ts
  apps/backend/src/data-marts/services/mcp-data-catalog-summary.service.spec.ts
  apps/backend/src/data-marts/services/mcp-data-catalog-summary.service.ts
  apps/backend/src/data-marts/use-cases/summarize-mcp-data-catalog.service.spec.ts
  apps/backend/src/data-marts/use-cases/summarize-mcp-data-catalog.service.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(owox): stop advertising CLI as importable package (#1389)
  apps/owox/package.json
  apps/owox/src/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): address catalog summary review
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/repositories/mcp-data-catalog-summary.repository.spec.ts
  apps/backend/src/data-marts/use-cases/summarize-mcp-data-catalog.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(setup-guide): add screenshots and fix report-aggregations accuracy
  docs/getting-started/setup-guide/report-aggregations.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): summarize data catalog (#1391)
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/data-mart-relationship-graph-edge.dto.ts
  apps/backend/src/data-marts/dto/domain/mcp-data-catalog-summary-candidate.dto.ts
  apps/backend/src/data-marts/dto/domain/mcp-data-catalog-summary.dto.ts
  apps/backend/src/data-marts/dto/domain/summarize-mcp-data-catalog.command.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/mappers/mcp-data-catalog-summary.mapper.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.ts
  apps/backend/src/data-marts/repositories/data-mart-relationship.repository.spec.ts
  apps/backend/src/data-marts/repositories/data-mart-relationship.repository.ts
  apps/backend/src/data-marts/repositories/mcp-data-catalog-summary.repository.spec.ts
  apps/backend/src/data-marts/repositories/mcp-data-catalog-summary.repository.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.ts
  apps/backend/src/data-marts/services/mcp-data-catalog-summary.service.spec.ts
  apps/backend/src/data-marts/services/mcp-data-catalog-summary.service.ts
  apps/backend/src/data-marts/use-cases/summarize-mcp-data-catalog.service.spec.ts
  apps/backend/src/data-marts/use-cases/summarize-mcp-data-catalog.service.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(backend): stop Redshift integration timeouts from flaking on transient latency
  apps/backend/test/integration/redshift.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(backend): stop Redshift integration timeouts from flaking on transient latency (#1371)
  apps/backend/test/integration/redshift.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(mcp): address review feedback on delete_report
  apps/backend/src/ee/mcp/tools/delete-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(setup-guide): add screenshots and fix report-aggregations accuracy (#1394)
  docs/getting-started/setup-guide/report-aggregations.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@a556933d3be81cc8133422b1ec3881c4759e500f 🚀
  docs/getting-started/setup-guide/report-aggregations/index.html
  pagefind/fragment/en_c4b7987.pf_fragment
  pagefind/fragment/en_e847d32.pf_fragment
  pagefind/index/en_11688a5.pf_index
  pagefind/index/en_11ea6fe.pf_index
  pagefind/index/en_224820a.pf_index
  pagefind/index/en_23264dd.pf_index
  pagefind/index/en_461cc4f.pf_index
  pagefind/index/en_4e141ae.pf_index
  pagefind/index/en_6f16a4f.pf_index
  pagefind/index/en_77bd8ba.pf_index
  pagefind/index/en_826f49f.pf_index
  pagefind/index/en_8ba7a0c.pf_index
  pagefind/index/en_9676258.pf_index
  pagefind/index/en_a8e6f94.pf_index
  pagefind/index/en_aff3c87.pf_index
  pagefind/index/en_b0ad8d1.pf_index
  pagefind/index/en_c44fde1.pf_index
  pagefind/index/en_c513668.pf_index
  pagefind/index/en_cc1deec.pf_index
  pagefind/index/en_ccf973d.pf_index
  pagefind/index/en_cee090b.pf_index
  pagefind/index/en_d6f049e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_f3b0c596f4.pf_meta
  pagefind/pagefind.en_fc62615dad.pf_meta
Due: prettier --write --config ./prettier.config.js

refactor(mcp): require only mcp:write scope on schedule write tools
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): add delete_report MCP tool (#1383)
  .changeset/6703-mcp-delete-report.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@b8732c50e8547f1b27474509404c7a8bcec3526e 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_21d1d46.pf_fragment
  pagefind/fragment/en_da1bd7e.pf_fragment
  pagefind/index/en_23264dd.pf_index
  pagefind/index/en_2462d58.pf_index
  pagefind/index/en_3e207b9.pf_index
  pagefind/index/en_4e141ae.pf_index
  pagefind/index/en_6f16a4f.pf_index
  pagefind/index/en_7c7e661.pf_index
  pagefind/index/en_826f49f.pf_index
  pagefind/index/en_8ba7a0c.pf_index
  pagefind/index/en_8c40bfa.pf_index
  pagefind/index/en_9676258.pf_index
  pagefind/index/en_9989deb.pf_index
  pagefind/index/en_a9783ae.pf_index
  pagefind/index/en_aff3c87.pf_index
  pagefind/index/en_b0ad8d1.pf_index
  pagefind/index/en_b9ac59a.pf_index
  pagefind/index/en_c17181d.pf_index
  pagefind/index/en_c513668.pf_index
  pagefind/index/en_d6f049e.pf_index
  pagefind/index/en_f5f03a5.pf_index
  pagefind/index/en_fd76353.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_eb49564e29.pf_meta
  pagefind/pagefind.en_fc62615dad.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(mcp): address destination creation review feedback
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.impl.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
