Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(readme): add a generated product architecture drawing
  README.md
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  docs/res/architecture/architecture.json
  docs/res/architecture/marks/aws-athena.svg
  docs/res/architecture/marks/bigquery.svg
  docs/res/architecture/marks/chatgpt.svg
  docs/res/architecture/marks/claude.svg
  docs/res/architecture/marks/data-studio.svg
  docs/res/architecture/marks/databricks.svg
  docs/res/architecture/marks/email.svg
  docs/res/architecture/marks/excel.svg
  docs/res/architecture/marks/facebook-ads.svg
  docs/res/architecture/marks/google-ads.svg
  docs/res/architecture/marks/google-sheets.svg
  docs/res/architecture/marks/shopify.svg
  docs/res/architecture/marks/snowflake.svg
  package.json
  tools/architecture-svg/generate.mjs
  tools/architecture-svg/glyphs.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(readme): one row of data marts, and guard stale references
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  docs/res/architecture/architecture.json
  tools/architecture-svg/generate.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(changelog): add the 0.35.0 what's-new video
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@6956e6c7ac94a0871a231112bb5f9c587d022edc 🚀
  docs/changelog/index.html
Due: none

docs(excel): separate Excel refresh cases from the shared rules
  docs/destinations/supported-destinations/microsoft-excel.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(readme): every card number is declared in the JSON
  docs/res/architecture/architecture.json
  tools/architecture-svg/generate.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(readme): rename two reports and the destinations layer, bigger arrow heads
  README.md
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  docs/res/architecture/architecture.json
  tools/architecture-svg/generate.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(excel): rewrite the refresh rules in active voice with shorter sentences
  docs/destinations/supported-destinations/microsoft-excel.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(changelog): render entry titles as bold instead of literal headings
  apps/owox/CHANGELOG.md
  packages/api-client/CHANGELOG.md
  tools/fix-changelog-headings.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(readme): land arrow heads on the border, stop badge text spilling
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  tools/architecture-svg/generate.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(readme): let the arrow head be the end of the wire
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  tools/architecture-svg/generate.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@a69610e2f9f1e356a26830cabc34d0117f035ea2 🚀
  docs/changelog/index.html
  pagefind/fragment/en_395ccce.pf_fragment
  pagefind/fragment/en_6677104.pf_fragment
  pagefind/index/en_1f7bfc5.pf_index
  pagefind/index/en_2c3f585.pf_index
  pagefind/index/en_2cf8414.pf_index
  pagefind/index/en_301bef3.pf_index
  pagefind/index/en_397f471.pf_index
  pagefind/index/en_3a2450e.pf_index
  pagefind/index/en_40f83ac.pf_index
  pagefind/index/en_5b84da6.pf_index
  pagefind/index/en_5f11ab4.pf_index
  pagefind/index/en_641248d.pf_index
  pagefind/index/en_66fca72.pf_index
  pagefind/index/en_734fd2a.pf_index
  pagefind/index/en_7c882cb.pf_index
  pagefind/index/en_822d44a.pf_index
  pagefind/index/en_853138d.pf_index
  pagefind/index/en_86cfe7a.pf_index
  pagefind/index/en_90b438f.pf_index
  pagefind/index/en_9b1d8f2.pf_index
  pagefind/index/en_a4f8f54.pf_index
  pagefind/index/en_acf17f3.pf_index
  pagefind/index/en_bade42a.pf_index
  pagefind/index/en_cc11e08.pf_index
  pagefind/index/en_ce2d7b9.pf_index
  pagefind/index/en_d0f0ff3.pf_index
  pagefind/index/en_d1b4c53.pf_index
  pagefind/index/en_d276227.pf_index
  pagefind/index/en_d28315c.pf_index
  pagefind/index/en_d5a1217.pf_index
  pagefind/index/en_d6d344d.pf_index
  pagefind/index/en_dbbbe6b.pf_index
  pagefind/index/en_de292c2.pf_index
  pagefind/index/en_f993618.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1b6548db4b.pf_meta
  pagefind/pagefind.en_8da53a1b63.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(data-marts): keep a removed automatic aggregation removed
  .changeset/6990-automatic-aggregations-you-can-change.md
  apps/backend/src/data-marts/controllers/spec/report-openapi.ts
  apps/backend/src/data-marts/dto/domain/create-report.command.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.ts
  apps/backend/src/data-marts/dto/domain/report.dto.ts
  apps/backend/src/data-marts/dto/domain/update-report.command.ts
  apps/backend/src/data-marts/dto/presentation/create-report-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/report-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-report-request-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/auto-aggregation-opt-out.schema.ts
  apps/backend/src/data-marts/entities/report.entity.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/backend/src/migrations/1790156789783-add-auto-aggregation-opt-out-to-report.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditForm/ReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useReportForm.ts
  apps/web/src/features/data-marts/reports/shared/model/mappers/report.mapper.ts
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/services/types/create-report.request.dto.ts
  apps/web/src/features/data-marts/reports/shared/services/types/report-response.dto.ts
  apps/web/src/features/data-marts/reports/shared/services/types/update-report.request.dto.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
  apps/web/src/features/data-marts/shared/utils/auto-aggregation-opt-out.test.ts
  apps/web/src/features/data-marts/shared/utils/auto-aggregation-opt-out.ts
  apps/web/src/features/data-marts/shared/utils/auto-collapse.test.ts
  apps/web/src/features/data-marts/shared/utils/auto-collapse.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(readme): make arrow heads a schema switch, and turn them off here
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  docs/res/architecture/architecture.json
  tools/architecture-svg/generate.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@6761e46edcea475830ba1dcd34a988576b08b442 🚀
  docs/destinations/supported-destinations/microsoft-excel/index.html
  pagefind/fragment/en_45df373.pf_fragment
  pagefind/fragment/en_b059ea9.pf_fragment
  pagefind/index/en_2c3f585.pf_index
  pagefind/index/en_381f6be.pf_index
  pagefind/index/en_3a2450e.pf_index
  pagefind/index/en_4df0607.pf_index
  pagefind/index/en_53a411a.pf_index
  pagefind/index/en_59943a4.pf_index
  pagefind/index/en_5b84da6.pf_index
  pagefind/index/en_5f11ab4.pf_index
  pagefind/index/en_66fca72.pf_index
  pagefind/index/en_69dae93.pf_index
  pagefind/index/en_734fd2a.pf_index
  pagefind/index/en_810fa0e.pf_index
  pagefind/index/en_90b438f.pf_index
  pagefind/index/en_940b4a7.pf_index
  pagefind/index/en_a4f8f54.pf_index
  pagefind/index/en_acf17f3.pf_index
  pagefind/index/en_aebc96f.pf_index
  pagefind/index/en_b2142b3.pf_index
  pagefind/index/en_b599231.pf_index
  pagefind/index/en_c32e1e5.pf_index
  pagefind/index/en_cc11e08.pf_index
  pagefind/index/en_ce2d7b9.pf_index
  pagefind/index/en_d1b4c53.pf_index
  pagefind/index/en_d276227.pf_index
  pagefind/index/en_d28315c.pf_index
  pagefind/index/en_d28fb08.pf_index
  pagefind/index/en_d6d344d.pf_index
  pagefind/index/en_dbbbe6b.pf_index
  pagefind/index/en_f0202ab.pf_index
  pagefind/index/en_f2e8098.pf_index
  pagefind/index/en_f7986a3.pf_index
  pagefind/index/en_f88a53a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1b6548db4b.pf_meta
  pagefind/pagefind.en_b930aea738.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(docs): keep embedded videos inside their list item
  apps/docs/scripts/sync-docs.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(readme): even margins, and an optional OWOX mark in the corner
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  docs/res/architecture/architecture.json
  tools/architecture-svg/generate.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@002a739c9654761df5164ff12e74501330effd39 🚀
  docs/changelog/index.html
Due: none

feat(web): attribute Excel add-in Marketplace traffic by entry point
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/ExcelDescription.tsx
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  docs/destinations/supported-destinations/microsoft-excel.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(readme): the real OWOX icon, and no padding under it
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  docs/res/architecture/marks/owox.svg
  tools/architecture-svg/generate.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(readme): sign the drawing under the lanes, not inside Plugins
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  tools/architecture-svg/generate.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(readme): address on the left as a link, OWOX logo on the right
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  docs/res/architecture/marks/owox-logo.svg
  docs/res/architecture/marks/owox.svg
  tools/architecture-svg/generate.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(data-marts): explain how to choose a Dedup for a joined field (#6956)
  .changeset/6956-dedup-guide.md
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(readme): Orders carries 9 relationships
  docs/res/architecture/architecture-dark.svg
  docs/res/architecture/architecture-light.svg
  docs/res/architecture/architecture.json
Due: prettier --write --config ./prettier.config.js

feat(facebook): resolve short links with nested paths in insights
  .changeset/6991-facebook-nested-short-links.md
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/test/Core/ShortLinksUtils.test.js
  packages/connectors/test/Sources/FacebookMarketing/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(facebook): resolve short links with nested paths in insights
  .changeset/6991-facebook-nested-short-links.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@377026bbd6536d3e194346218d2857a23a5c9651 🚀
  docs/destinations/supported-destinations/microsoft-excel/index.html
Due: none

docs(data-marts): correct Dedup claims that did not match the engine (#6956)
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(facebook): validate short link redirect targets and bound resolution
  .changeset/6991-facebook-nested-short-links.md
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/test/Core/ShortLinksUtils.test.js
  packages/connectors/test/Sources/FacebookMarketing/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(facebook): cover the short link workflow at the source level
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/test/Sources/FacebookMarketing/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(data-marts): address review on the Dedup guide (#6956)
  docs/getting-started/setup-guide/joinable-data-marts.md
  docs/getting-started/setup-guide/report-aggregations.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): show Manual Run in the Input Source card header
  .changeset/6992-manual-run-in-input-source-header.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/ConnectorManualRunButton.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/ConnectorManualRunButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/index.ts
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
  docs/getting-started/setup-guide/connector-data-mart.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): drop the aggregation opt-out of unselected columns on the server
  .changeset/6990-automatic-aggregations-you-can-change.md
  apps/backend/src/data-marts/dto/schemas/auto-aggregation-opt-out.schema.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): address review on join-grain caveats (#6926)
  apps/backend/src/data-marts/calculated-fields/formula-violations.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.ts
  apps/backend/src/data-marts/calculated-fields/join-grain.spec.ts
  apps/backend/src/data-marts/calculated-fields/join-grain.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: show Manual Run in the Input Source header
  .changeset/6992-manual-run-in-input-source-header.md
  docs/getting-started/setup-guide/connector-data-mart.md
  docs/res/screens/Manual-run.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): drop the ellipsis from the Manual Run button label
  .changeset/6992-manual-run-in-input-source-header.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/ConnectorManualRunButton.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/ConnectorManualRunButton.tsx
  docs/getting-started/setup-guide/connector-data-mart.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(facebook): keep UTM links untouched and relax trailing slash on listed hosts
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/test/Core/ShortLinksUtils.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@89fbd105d80cba413665d5c4ecaea93396c2e2e0 🚀
  docs/getting-started/setup-guide/report-aggregations/index.html
  pagefind/fragment/en_1a51f57.pf_fragment
  pagefind/fragment/en_981224d.pf_fragment
  pagefind/index/en_17c6d43.pf_index
  pagefind/index/en_19b53bc.pf_index
  pagefind/index/en_1adc836.pf_index
  pagefind/index/en_1fe4584.pf_index
  pagefind/index/en_28321f0.pf_index
  pagefind/index/en_32b321d.pf_index
  pagefind/index/en_49a33f5.pf_index
  pagefind/index/en_5a184fc.pf_index
  pagefind/index/en_67d0b6c.pf_index
  pagefind/index/en_6a85829.pf_index
  pagefind/index/en_73a763a.pf_index
  pagefind/index/en_73c5894.pf_index
  pagefind/index/en_7445882.pf_index
  pagefind/index/en_7575c87.pf_index
  pagefind/index/en_7736c62.pf_index
  pagefind/index/en_7dbe9d5.pf_index
  pagefind/index/en_7ed9d8a.pf_index
  pagefind/index/en_8559a03.pf_index
  pagefind/index/en_886a194.pf_index
  pagefind/index/en_8949f61.pf_index
  pagefind/index/en_9823d08.pf_index
  pagefind/index/en_9ee6aa3.pf_index
  pagefind/index/en_b75bb6e.pf_index
  pagefind/index/en_bb88e33.pf_index
  pagefind/index/en_bfd0848.pf_index
  pagefind/index/en_c7dabb4.pf_index
  pagefind/index/en_c9ae1ad.pf_index
  pagefind/index/en_dafc3d1.pf_index
  pagefind/index/en_e1b4767.pf_index
  pagefind/index/en_e82644f.pf_index
  pagefind/index/en_ebd8d16.pf_index
  pagefind/index/en_ec8d456.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1234c482a4.pf_meta
  pagefind/pagefind.en_98e9c5b370.pf_meta
Due: prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
