Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

feat(web): implement popover for video tutorial in EmptyDataMartsState component
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
Due: none

feat(docs): add changelog
  .changeset/added-help-menu-with-video-tutorials-and-intercom-chat.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add content popovers for video tutorials on Google Sheets and Looker integration
  apps/web/src/components/ContentPopovers/Video1GoogleSheetsReport.tsx
  apps/web/src/components/ContentPopovers/Video2LookerAsDestination.tsx
  apps/web/src/components/ContentPopovers/index.ts
  apps/web/src/components/ContentPopovers/items.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add FloatingPopover component and context for managing popover state
  apps/web/src/shared/components/FloatingPopover/FloatingPopover.tsx
  apps/web/src/shared/components/FloatingPopover/FloatingPopoverContext.tsx
  apps/web/src/shared/components/FloatingPopover/FloatingPopoverProvider.tsx
  apps/web/src/shared/components/FloatingPopover/index.ts
  apps/web/src/shared/components/FloatingPopover/useFloatingPopover.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): integrate FloatingPopoverProvider and HelpMenu into AppSidebar for enhanced user experience
  apps/web/src/App.tsx
  apps/web/src/components/AppSidebar/AppSidebar.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenuContent.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenuTrigger.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/items.ts
  apps/web/src/components/AppSidebar/UserMenu/UserMenuContent.tsx
  apps/web/src/components/AppSidebar/UserMenu/UserMenuTrigger.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): implement HelpMenu component with dropdown functionality for help resources
  apps/web/src/components/AppSidebar/HelpMenu/HelpMenu.tsx
  apps/web/src/components/AppSidebar/HelpMenu/HelpMenuContent.tsx
  apps/web/src/components/AppSidebar/HelpMenu/HelpMenuTrigger.tsx
  apps/web/src/components/AppSidebar/HelpMenu/index.ts
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  apps/web/src/components/AppSidebar/HelpMenu/types.ts
  apps/web/src/components/AppSidebar/HelpMenu/useHelpMenu.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): remove useContentPopover hook and integrate AppWizardStepCards in Fields and Nodes selection steps
  apps/web/src/app/store/hooks/useContentPopover.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/NodesSelectionStep.tsx
  apps/web/src/features/data-marts/reports/edit/components/shared/ReportFormActions.tsx
  packages/ui/src/components/button-group.tsx
  packages/ui/src/components/common/wizard.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): refactor Intercom integration by replacing direct calls with useIntercomLauncher hook across multiple components
  apps/web/src/features/connectors/edit/components/ConnectorEditSheet/ConnectorEditSheet.tsx
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunSheet.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerFormSheet/ScheduledTriggerFormSheet.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
  apps/web/src/shared/hooks/useIntercomLauncher.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): replace FloatingPopover with ContentPopovers for video tutorials and refactor related components
  apps/web/src/App.tsx
  apps/web/src/app/store/hooks/useContentPopover.ts
  apps/web/src/app/store/hooks/useContentPopovers.ts
  apps/web/src/app/store/index.tsx
  apps/web/src/app/store/reducers/content-popovers.reducer.ts
  apps/web/src/components/AppSidebar/HelpMenu/HelpMenu.tsx
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  apps/web/src/components/AppSidebar/HelpMenu/types.ts
  apps/web/src/components/AppSidebar/index.ts
  apps/web/src/components/ContentPopovers/ContentPopovers.tsx
  apps/web/src/components/ContentPopovers/Video1GoogleSheetsReport.tsx
  apps/web/src/components/ContentPopovers/Video2LookerAsDestination.tsx
  apps/web/src/components/ContentPopovers/index.ts
  apps/web/src/components/ContentPopovers/items.ts
  apps/web/src/components/ContentPopovers/popovers/Video1GoogleSheetsReport.tsx
  apps/web/src/components/ContentPopovers/popovers/Video2LookerAsDestination.tsx
  apps/web/src/components/ContentPopovers/types.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/shared/components/FloatingPopover/FloatingPopover.tsx
  apps/web/src/shared/components/FloatingPopover/FloatingPopoverContext.tsx
  apps/web/src/shared/components/FloatingPopover/FloatingPopoverProvider.tsx
  apps/web/src/shared/components/FloatingPopover/index.ts
  apps/web/src/shared/components/FloatingPopover/useFloatingPopover.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update AI Process Run description for clarity
  docs/getting-started/billing/consumption-units.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update AI Process Run description for clarity (#807)
  docs/getting-started/billing/consumption-units.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@2bfb840661b77ce130e57327da930e6798531cf8 🚀
  docs/getting-started/billing/consumption-units/index.html
  pagefind/fragment/en_af311cd.pf_fragment
  pagefind/fragment/en_e87f02d.pf_fragment
  pagefind/index/en_1af0ce5.pf_index
  pagefind/index/en_230d87a.pf_index
  pagefind/index/en_60f2d2e.pf_index
  pagefind/index/en_62b330d.pf_index
  pagefind/index/en_7def3e6.pf_index
  pagefind/index/en_856fcf6.pf_index
  pagefind/index/en_b9d988c.pf_index
  pagefind/index/en_bedddf8.pf_index
  pagefind/index/en_c1657eb.pf_index
  pagefind/index/en_c24561d.pf_index
  pagefind/index/en_ed8da02.pf_index
  pagefind/index/en_f82de9f.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_88ba9b186f.pf_meta
  pagefind/pagefind.en_ccff257c98.pf_meta
Due: prettier --write --config ./prettier.config.js

Shopify connector (#780)
  .changeset/shopify-connector.md
  packages/connectors/src/Sources/ShopifyAds/Connector.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/abandonedCheckoutsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/articlesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/blogsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/collectionsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/customersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/discountCodesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/fulfillmentOrdersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/inventoryItemsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/locationsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/metafieldsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/ordersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/pagesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/productVariantsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/productsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/shopFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/tenderTransactionsFields.js
  packages/connectors/src/Sources/ShopifyAds/Source.js
  packages/connectors/src/Sources/ShopifyAds/logo.svg
  packages/connectors/src/Sources/ShopifyAds/manifest.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): simplify InsightEditor state handling by removing unused `isLoaded` prop
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
Due: none

fix typos
  apps/backend/package.json
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.ts
  apps/backend/src/common/scheduler/services/runners/abstract-trigger-runner.service.ts
  apps/backend/src/data-marts/data-storage-types/redshift/enums/redshift-field-type.enum.ts
  apps/backend/src/data-marts/data-storage-types/redshift/schemas/redshift-config.schema.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-schema-merger.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-sql-run.executor.ts
  apps/backend/src/data-marts/dto/domain/report-data-header.dto.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/web/src/features/data-storage/shared/model/mappers/redshift.mapper.ts
  apps/web/src/features/data-storage/shared/model/types/credentials.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage-config.ts
  apps/web/src/features/data-storage/shared/types/data-storage-type.model.ts
  package-lock.json
  packages/connectors/src/Storages/AwsRedshift/manifest.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Revise GA4 Data Mart for traffic source definitions
  docs/templates/ga4bigquery/ga4-bigquery-channel-grouping.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add “copy insight template” slash command (#803)
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/insights/utils/monaco-commands.util.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Revise GA4 Data Mart for traffic source definitions (#809)
  docs/templates/ga4bigquery/ga4-bigquery-channel-grouping.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@14fdb29f83a075151fa211f4f29be380c6efd299 🚀
  docs/templates/ga4bigquery/ga4-bigquery-channel-grouping/index.html
  pagefind/fragment/en_c25715c.pf_fragment
  pagefind/index/en_230d87a.pf_index
  pagefind/index/en_38ef217.pf_index
  pagefind/index/en_60f2d2e.pf_index
  pagefind/index/en_7def3e6.pf_index
  pagefind/index/en_845ae5c.pf_index
  pagefind/index/en_856fcf6.pf_index
  pagefind/index/en_8666f35.pf_index
  pagefind/index/en_9fbd517.pf_index
  pagefind/index/en_b812683.pf_index
  pagefind/index/en_b9d988c.pf_index
  pagefind/index/en_ed8da02.pf_index
  pagefind/index/en_f5fee2e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_6bd3c5f874.pf_meta
  pagefind/pagefind.en_ccff257c98.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

feat(backend): disable timeout for external endpoints
  apps/backend/src/data-marts/data-marts.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(ai-insight): enhance prompt handling and metadata for Snowflake views (#804)
  apps/backend/src/data-marts/ai-insights/agent/plan.agent.ts
  apps/backend/src/data-marts/ai-insights/agent/types.ts
  apps/backend/src/data-marts/ai-insights/ai-insight-orchestrator.service.ts
  apps/backend/src/data-marts/ai-insights/prompts/finalize.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/plan.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/sql.prompt.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-create-view.executor.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: Add defaultFields to Microsoft Ads user location performance and campaigns schemas.
  packages/connectors/src/Sources/MicrosoftAds/MicrosoftAdsAPIReference/MicrosoftAdsFieldsSchema.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Enhance Redshift error handling and validation
  apps/backend/src/data-marts/data-storage-types/redshift/adapters/redshift-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-sql-run.executor.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
  apps/web/src/features/connectors/shared/components/FormDescriptions/RedshiftSchemaPermissionsDescription.tsx
  docs/storages/supported-storages/aws-redshift.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): disable timeout for external endpoints (#810)
  apps/backend/src/data-marts/data-marts.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Added getting started video
  docs/getting-started/quick-start.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): Generate new Insight with AI endpoints
  apps/backend/src/data-marts/ai-insights/agent/generate-insight.agent.ts
  apps/backend/src/data-marts/ai-insights/agent/types.ts
  apps/backend/src/data-marts/ai-insights/ai-insights-providers.ts
  apps/backend/src/data-marts/ai-insights/ai-insights-types.ts
  apps/backend/src/data-marts/ai-insights/facades/ai-insights.facade.impl.ts
  apps/backend/src/data-marts/ai-insights/facades/ai-insights.facade.ts
  apps/backend/src/data-marts/ai-insights/prompts/generate-insight.prompt.ts
  apps/backend/src/data-marts/controllers/insight.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/create-insight-with-ai.command.ts
  apps/backend/src/data-marts/mappers/insight.mapper.ts
  apps/backend/src/data-marts/use-cases/create-insight-with-ai.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): Generate new Insight with AI button
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: Generate new Insight with AI changeset
  .changeset/ai-insight-creation.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): Added new video component and updated relevant files to include the video in the help menu and onboarding process.
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  apps/web/src/components/ContentPopovers/items.ts
  apps/web/src/components/ContentPopovers/popovers/Video3GettingStartedDataMarts.tsx
  apps/web/src/components/ContentPopovers/popovers/index.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Docs: Added getting started video (#811)
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  apps/web/src/components/ContentPopovers/items.ts
  apps/web/src/components/ContentPopovers/popovers/Video3GettingStartedDataMarts.tsx
  apps/web/src/components/ContentPopovers/popovers/index.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  docs/getting-started/quick-start.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@6adfed9bcc1e5682ac9144d4c3b04edcc97e188e 🚀
  docs/getting-started/quick-start/index.html
  pagefind/fragment/en_6b87d17.pf_fragment
  pagefind/fragment/en_ee212ed.pf_fragment
  pagefind/index/en_21f39e8.pf_index
  pagefind/index/en_38ef217.pf_index
  pagefind/index/en_39bfbac.pf_index
  pagefind/index/en_3d14d8b.pf_index
  pagefind/index/en_845ae5c.pf_index
  pagefind/index/en_8666f35.pf_index
  pagefind/index/en_9fbd517.pf_index
  pagefind/index/en_a4403ae.pf_index
  pagefind/index/en_b812683.pf_index
  pagefind/index/en_ece8eec.pf_index
  pagefind/index/en_f5fee2e.pf_index
  pagefind/index/en_fac1877.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_6bd3c5f874.pf_meta
  pagefind/pagefind.en_e88e20364f.pf_meta
Due: prettier --write --config ./prettier.config.js

feat: Add `defaultFields` to connector schema and response DTO.
  apps/backend/src/data-marts/connector-types/connector-fields-schema.ts
  apps/backend/src/data-marts/dto/presentation/connector-fields-response-api.dto.ts
  apps/backend/src/data-marts/mappers/connector.mapper.ts
  apps/backend/src/data-marts/services/connector.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance event tracking for insights, data marts, and reports
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestination.ts
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
  apps/web/src/features/data-storage/shared/model/hooks/useDataStorage.ts
  apps/web/src/utils/data-layer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance event tracking for insights, data marts, and reports (#813)
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestination.ts
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
  apps/web/src/features/data-storage/shared/model/hooks/useDataStorage.ts
  apps/web/src/utils/data-layer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add prompt processed event
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/utils/compute-model-usage.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/events/prompt-processed.event.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: Add `defaultFields` to connector response DTO and implement automatic selection of these fields in the UI.
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/shared/api/types/response/connector.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add Changeset
  .changeset/shiny-feet-run.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: Add support for processing multiple Microsoft Ads account IDs and update related configuration labels.
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
