Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix(connectors): read Google Ads geo targets from the next customer when one cannot
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/tests/regression/googleads-global-resource.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): cache an exchanged token when the manifest sets no lifetime
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/Authenticator.js
  packages/connectors/tests/declarative/Authenticator.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): render a date parameter as the date that was entered
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): release response bodies that are never going to be read
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Core/Declarative/decoders.js
  packages/connectors/tests/declarative/AbstractSourceRedirect.test.js
  packages/connectors/tests/declarative/decoders.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): store a blank connector description or docs link as none
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(connectors): say that an async submit is retried, and what that costs
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/tests/declarative/DeclarativeMoloco.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): read a 204 or an empty JSON body as no records
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/decoders.js
  packages/connectors/tests/declarative/decoders.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): keep one row per key in a full-refresh snapshot
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): load the schema of the connector just picked in the Data Mart form
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.custom.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
Due: none

fix(web): discard builder changes back to the version that is open
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/shared/model/hooks/useBuilder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): stop Redshift logging recovered statements as errors
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/test/storage-snapshot-safety.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(connectors): keep the bundle test off the network and the build race
  packages/connectors/tests/declarative/DeclarativeBundle.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): look a Data Mart's connector up once per page, not after every save
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.test.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/mappers/definition-mappers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(data-marts): drop the storageId no SQL executor used
  apps/backend/src/data-marts/data-storage-types/facades/create-view-executor.facade.ts
  apps/backend/src/data-marts/data-storage-types/facades/sql-dry-run-executor.facade.ts
  apps/backend/src/data-marts/data-storage-types/facades/sql-run-executor.facade.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/create-view-executor.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/sql-dry-run-executor.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/sql-run-executor.interface.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): warn once per LinkedIn account about days cut short by the cap
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/tests/regression/linkedinads-truncation-warning.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): keep the fields a Data Mart selected for a custom connector
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(connectors): count a manifest value as documented only where the guide quotes it
  packages/connectors/tests/declarative/ManifestReferenceDocs.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): serve a custom connector's form the way a bundled one's is
  apps/backend/src/data-marts/controllers/connector-definition.controller.spec.ts
  apps/backend/src/data-marts/controllers/connector-definition.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): open the connectors list after deleting a connector
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  apps/web/src/pages/connectors/builder/ConnectorBuilderRoute.tsx
  apps/web/src/pages/connectors/builder/EditPage.test.tsx
Due: none

fix(web): stop a connector that failed to open from saving as a new one
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.tsx
Due: none

fix(backend): record a full run-log buffer as a warning, not an error
  apps/backend/src/data-marts/services/connector/connector-message.utils.spec.ts
  apps/backend/src/data-marts/services/connector/connector-message.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): stop saving a cleared error filter's status codes as [0]
  apps/web/src/features/connector-builder/create/components/node/ErrorHandlerEditor.tsx
  apps/web/src/features/connector-builder/shared/model/manifest.types.test.ts
  apps/web/src/features/connector-builder/shared/model/manifest.types.ts
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): leave a deleted connector without asking about its unsaved edits
  apps/web/src/features/connector-builder/shared/model/hooks/useBuilder.ts
  apps/web/src/pages/connectors/builder/BuilderPage.edit.test.tsx
  apps/web/src/pages/connectors/builder/ConnectorBuilderRoute.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): stop cursor pagination when the API repeats the cursor
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/Paginator.js
  packages/connectors/tests/declarative/ListPartitionRetriever.test.js
  packages/connectors/tests/declarative/Paginator.test.js
  packages/connectors/tests/declarative/SyncRetriever.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(changeset): give the connectors changeset a bold title and two behavior changes
  .changeset/6988-custom-nocode-connectors.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): refuse manifest parameters named like engine or storage settings
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/DeclarativeFieldTypes.test.js
  packages/connectors/tests/declarative/DeclarativeMoloco.test.js
  packages/connectors/tests/declarative/DeclarativePagination.test.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
  packages/connectors/tests/declarative/ManifestParser.test.js
  packages/connectors/tests/regression/reserved-parameter-names.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): fail a live test whose run failed after it wrote rows
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.ts
  apps/backend/test/fixtures/fake-test-runner.mjs
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/create/components/ResultsDock.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(backend): make the connector test endpoint's invalid-manifest case reach the parser
  apps/backend/test/custom-connector.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): let a storage failure end a Microsoft Ads Keywords run
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/test/Sources/MicrosoftAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): show the replaced manifest in every builder input after Discard or import
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.tsx
  apps/web/src/features/connector-builder/create/NodeSwitching.test.tsx
  apps/web/src/features/connector-builder/shared/model/context/reducer.ts
  apps/web/src/features/connector-builder/shared/model/context/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): keep polling an async job whose status is not there yet
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/AsyncRetriever.js
  packages/connectors/tests/declarative/AsyncRetriever.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(backend): describe the manifest read and the delete as the API enforces them
  apps/backend/src/data-marts/controllers/connector-definition.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/spec/connector-definition.api.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(connectors): describe the engine every source now runs in
  packages/connectors/CONTRIBUTING.md
  packages/connectors/CREATING_CONNECTOR.md
  packages/connectors/res/architecture-uml.svg
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): report a failed reload behind Discard and a failed version open
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/shared/model/hooks/useBuilder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(backend): check that run history hands out the masked definition
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(connectors): stop saying Secret parameters are encrypted
  apps/web/src/features/connector-builder/create/ImportExport.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  apps/web/src/features/connector-builder/create/components/ParametersEditor.tsx
  docs/connectors/connector-builder.md
  docs/connectors/declarative-connectors.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(connectors): pin LinkedIn's once-per-account truncation warning in its unit suite
  packages/connectors/test/Sources/LinkedInAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): drop a stored-secrets pointer once the connector declares no secrets
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): match an async job's status to readyValue as text
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/AsyncRetriever.js
  packages/connectors/tests/declarative/AsyncRetriever.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): stop passing the local-egress switch to custom connector runs
  apps/backend/src/data-marts/services/connector/connector-process-spawner.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-process-spawner.service.ts
  apps/backend/test/custom-connector-run.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
