Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add error boundaries for graceful crash handling (#1132)
  .changeset/hello-ruslan.md
  apps/web/README.md
  apps/web/src/components/errors/LayoutErrorBoundary.tsx
  apps/web/src/components/errors/RootErrorBoundary.tsx
  apps/web/src/components/errors/index.ts
  apps/web/src/components/errors/logRouteError.ts
  apps/web/src/routes/data-marts/routes.tsx
  apps/web/src/routes/index.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@832bb7306cb560b27dcdb0fa858ca701d4d31e17 🚀
  apps/web/readme/index.html
  pagefind/fragment/en_cd59fa6.pf_fragment
  pagefind/fragment/en_f32d535.pf_fragment
  pagefind/index/en_109c861.pf_index
  pagefind/index/en_149fefb.pf_index
  pagefind/index/en_1bb0e17.pf_index
  pagefind/index/en_2abdef9.pf_index
  pagefind/index/en_2ac3877.pf_index
  pagefind/index/en_2f7bc6b.pf_index
  pagefind/index/en_44bdeb6.pf_index
  pagefind/index/en_493ce5d.pf_index
  pagefind/index/en_5520165.pf_index
  pagefind/index/en_5fd4ea3.pf_index
  pagefind/index/en_66d5275.pf_index
  pagefind/index/en_7b3eee7.pf_index
  pagefind/index/en_94cb6e3.pf_index
  pagefind/index/en_d8b217b.pf_index
  pagefind/index/en_eb4b503.pf_index
  pagefind/index/en_fcc53d7.pf_index
  pagefind/index/en_fddcc9b.pf_index
  pagefind/index/en_fe51c85.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_996dd7bcc6.pf_meta
  pagefind/pagefind.en_a32d573f3c.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(services): add logging to various services and update data destination availability methods
  apps/backend/src/data-marts/services/member-ownership-warnings.service.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-owners.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/update-sharing.service.ts
  apps/backend/src/migrations/1774800000000-add-sharing-columns.ts
  apps/web/src/features/data-destination/shared/services/data-destination.service.ts
  apps/web/src/features/data-marts/shared/hooks/useMemberOwnershipWarnings.ts
  apps/web/src/features/data-storage/shared/api/data-storage-api.service.ts
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add icons to storage options in DataMartCreateForm
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
Due: none

refactor(availability): format code for better readability in access decision and data forms
  apps/backend/src/data-marts/services/access-decision/access-decision.service.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/shared/components/AvailabilitySheet/AvailabilitySheet.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

save
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schemas.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipList.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/BlendedSourcesSubsection.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceConfigDialog.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(dependencies): update basic-ftp to version 5.2.1 in package-lock.json and add Locator type import in base.ts
  apps/web/e2e/fixtures/base.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(availability): update getAvailabilitySwitches function to accept Page type for improved flexibility
  apps/web/e2e/specs/availability.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: remove early exit logic in XAds connector and ignore duplicate triggers for running data mart runs
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.ts
  packages/connectors/src/Sources/XAds/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(ownership): expand Ownership section in storage and destination specs for visibility verification
  apps/web/e2e/specs/ownership.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test: rename dataMartRunRepository mock variable in connector run trigger handler tests
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): implement setup checklist feature in AppSidebar with visibility control and progress tracking
  apps/web/src/components/AppSidebar/AppSidebar.tsx
  apps/web/src/components/AppSidebar/HelpMenu/HelpMenu.tsx
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  apps/web/src/components/AppSidebar/SetupChecklist/CircularProgress.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklist.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklistBlock.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklistCollapsed.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklistGroup.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupGroupPopover.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupStepAccordion.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/index.ts
  apps/web/src/components/AppSidebar/SetupChecklist/items.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/types.ts
  apps/web/src/components/AppSidebar/SetupChecklist/useSetupChecklistVisibility.ts
  apps/web/src/components/AppSidebar/SetupChecklist/useSetupProgress.ts
  apps/web/src/shared/components/InviteTeammatesCard/InviteTeammatesCard.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

save
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-header-formatter.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/utils/databricks-identifier.utils.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-mart-query-builder.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-report-reader.interface.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update setup checklist components with improved naming conventions and tooltip integration
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklist.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklistGroup.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupGroupPopover.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupStepAccordion.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/items.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/types.ts
  apps/web/src/components/AppSidebar/SetupChecklist/useSetupProgress.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

save
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/facades/blended-query-builder.facade.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

save
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  apps/web/src/features/data-marts/reports/shared/utils/index.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-blending.utils.ts
  apps/web/src/features/data-marts/shared/hooks/useBlendedFieldNames.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

save
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(databricks): add consistency checks for cursor results in query execution
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(databricks): implement query cursor for efficient data fetching and add error handling (#1128)
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-report-reader.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-sql-run.executor.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-sql-run.executor.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(availability): standardize availability checks across data mart and destination services
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/list-data-destinations.service.ts
  apps/backend/src/data-marts/use-cases/list-data-storages.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-project.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@7c15dca97f80e0d2b49164a9f559f4c5da89440b 🚀
  pagefind/index/en_149fefb.pf_index
  pagefind/index/en_2059878.pf_index
  pagefind/index/en_27cc34f.pf_index
  pagefind/index/en_2f7bc6b.pf_index
  pagefind/index/en_31cab57.pf_index
  pagefind/index/en_329ccea.pf_index
  pagefind/index/en_44bdeb6.pf_index
  pagefind/index/en_472fb06.pf_index
  pagefind/index/en_493ce5d.pf_index
  pagefind/index/en_5fd4ea3.pf_index
  pagefind/index/en_61c62e4.pf_index
  pagefind/index/en_63d5722.pf_index
  pagefind/index/en_7b3eee7.pf_index
  pagefind/index/en_94cb6e3.pf_index
  pagefind/index/en_a1caa2e.pf_index
  pagefind/index/en_d8b217b.pf_index
  pagefind/index/en_f2ee39d.pf_index
  pagefind/index/en_fddcc9b.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_74507cf6e3.pf_meta
  pagefind/pagefind.en_996dd7bcc6.pf_meta
Due: prettier --write --config ./prettier.config.js

fix: handle malformed X API download URLs and add conditional OAuth headers for API endpoints
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: remove early exit logic in XAds connector and ignore duplic… (#1137)
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.ts
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(google-sheets): improve access denial error message for clarity
  .changeset/google-sheets-permission-error.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(google-sheets): enhance access denial error message for better clarity
  .changeset/google-sheets-permission-error.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): refactor storage icon rendering into separate component
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
Due: none

fix(google-sheets): simplify access denial error message for clarity
  .changeset/google-sheets-permission-error.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(access-decision): update getSharingState method to remove projectId parameter and optimize owner status retrieval with Promise.all
  apps/backend/src/data-marts/services/access-decision/access-decision.service.ts
  apps/backend/src/migrations/1774800000000-add-availability-columns.ts
  apps/backend/src/migrations/1774800000001-add-ownership-user-id-indexes.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(google-sheets): sheet access denial error (#1138)
  .changeset/google-sheets-permission-error.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): fix bugs
  apps/backend/src/data-marts/services/project-setup-progress.service.ts
  apps/backend/src/migrations/1776158335588-create-project-setup-progress-table.ts
  apps/backend/src/migrations/1776158335590-create-project-setup-user-progress-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add SetupChecklistCompleted component and enhance SetupChecklist with completion logic
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklist.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklistCompleted.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupStepAccordion.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/index.ts
  packages/ui/src/styles/globals.css
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): project progress
  apps/backend/src/data-marts/controllers/project-setup-progress.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/project-setup-steps.interface.ts
  apps/backend/src/data-marts/entities/project-setup-progress.entity.ts
  apps/backend/src/data-marts/entities/project-setup-user-progress.entity.ts
  apps/backend/src/data-marts/events/data-destination-created.event.ts
  apps/backend/src/data-marts/events/data-mart-created.event.ts
  apps/backend/src/data-marts/events/data-storage-created.event.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/project-setup-progress-listener.service.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/backend/src/migrations/1776063105000-create-project-setup-progress-table.ts
  apps/backend/src/migrations/1776063106000-create-project-setup-user-progress-table.ts
  apps/web/src/components/AppSidebar/SetupChecklist/setup-progress.service.ts
  apps/web/src/components/AppSidebar/SetupChecklist/useSetupProgress.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix swagger global prefix
  apps/backend/src/bootstrap.ts
  apps/backend/src/config/swagger.config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): restore storage type icons in Data Mart creation form (#1135)
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
Due: none

Improve Swagger API discoverability (#1141)
  apps/backend/src/bootstrap.ts
  apps/backend/src/config/swagger.config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
