Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix: address review feedback on the Excel report destination
  apps/backend/src/data-marts/services/data-destination.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/resolve-excel-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/resolve-excel-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/web/src/features/data-marts/reports/shared/components/ReportQuickRunCell.tsx
  apps/web/src/features/data-marts/reports/shared/components/__tests__/ReportQuickRunCell.test.tsx
  apps/web/src/features/data-marts/reports/shared/services/types/update-report.request.dto.ts
  apps/web/src/shared/icons/microsoft-excel-icon.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: name the changeset after its Fibery Work Item
  .changeset/6807-excel-report-destination.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): refuse an unsupported destination instead of saving it as Excel
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useReportForm.test.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useReportForm.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): stop a pulled report run losing its consumption record
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(backend): run the report e2e suites against a destination the server can write into
  apps/backend/test/project-activity-lists.e2e-spec.ts
  apps/backend/test/report-operate-access.e2e-spec.ts
  apps/backend/test/report.e2e-spec.ts
  packages/test-utils/src/helpers/index.ts
  packages/test-utils/src/helpers/setup-report-prerequisites.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: address review findings on the Excel report destination
  .changeset/excel-report-destination.md
  apps/backend/src/data-marts/controllers/external/http-data.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-destination.api.ts
  apps/backend/src/data-marts/facades/mcp-destination-type.ts
  apps/backend/src/data-marts/services/http-data/run-context.parser.spec.ts
  apps/backend/src/data-marts/services/http-data/run-context.parser.ts
  apps/backend/src/data-marts/use-cases/resolve-excel-destination.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/ConfigurationView.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditSheet/ReportEditSheet.test.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditSheet/ReportEditSheet.tsx
  docs/destinations/manage-destinations.md
  docs/getting-started/billing/consumption-units.md
  packages/api-client/src/data-mart-runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: address Google Sheets OAuth review feedback
  apps/backend/src/data-marts/services/connector/connector-preview-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-preview-credentials.service.ts
  apps/backend/src/data-marts/services/connector/connector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
  apps/backend/test/connector-oauth.e2e-spec.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.tsx
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.test.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  apps/web/src/features/google-oauth/index.ts
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: clean up merge leftovers — unused Redshift imports and formatting
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/web/src/features/data-marts/shared/utils/data-last-updated.utils.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add report output-schema endpoint
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/get-report-output-schema.command.ts
  apps/backend/src/data-marts/dto/presentation/report-output-schema-field-api.dto.ts
  apps/backend/src/data-marts/mappers/report.mapper.spec.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): suffix joined field names for Excel
  .changeset/6807-report-output-schema.md
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.spec.ts
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): register output-schema service in OpenAPI spec
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): name report output columns without composing SQL
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: clarify plugin state persistence with collections
  docs/plugins/authoring-guide.md
  docs/project/ownership-and-sharing.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: address plugin collection review feedback
  docs/plugins/authoring-guide.md
  docs/project/ownership-and-sharing.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): open the Joinable Data Marts graph fitted to the whole diagram
  .changeset/6858-graph-tab-default-zoom.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@4b5d8078b31aa9169dc3b0ad45190958a74d4660 🚀
  docs/plugins/authoring-guide/index.html
  pagefind/fragment/en_9d924f5.pf_fragment
  pagefind/fragment/en_c734932.pf_fragment
  pagefind/index/en_21cc54a.pf_index
  pagefind/index/en_272a9ee.pf_index
  pagefind/index/en_2863a4c.pf_index
  pagefind/index/en_2ed1b67.pf_index
  pagefind/index/en_31b72df.pf_index
  pagefind/index/en_36e3918.pf_index
  pagefind/index/en_41f948b.pf_index
  pagefind/index/en_45788d4.pf_index
  pagefind/index/en_4a6b073.pf_index
  pagefind/index/en_4f3d59b.pf_index
  pagefind/index/en_604b822.pf_index
  pagefind/index/en_632961e.pf_index
  pagefind/index/en_6c69bb7.pf_index
  pagefind/index/en_778baf5.pf_index
  pagefind/index/en_7c738cb.pf_index
  pagefind/index/en_96ef91e.pf_index
  pagefind/index/en_9d293aa.pf_index
  pagefind/index/en_a5755e1.pf_index
  pagefind/index/en_aef0cea.pf_index
  pagefind/index/en_b93dfd9.pf_index
  pagefind/index/en_bd75982.pf_index
  pagefind/index/en_bd8a3ce.pf_index
  pagefind/index/en_be5e373.pf_index
  pagefind/index/en_c416a1b.pf_index
  pagefind/index/en_c7395e6.pf_index
  pagefind/index/en_f149424.pf_index
  pagefind/index/en_f5a5b3c.pf_index
  pagefind/index/en_f5b4128.pf_index
  pagefind/index/en_f5b4bff.pf_index
  pagefind/index/en_fa72041.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_163530b319.pf_meta
  pagefind/pagefind.en_4fe09aac79.pf_meta
Due: prettier --write --config ./prettier.config.js

docs: add the required heading to the 6858 changeset
  .changeset/6858-graph-tab-default-zoom.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): calculated field improvements (#6876)
  .changeset/6876-calculated-field-improvements.md
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.ts
  apps/web/e2e/helpers/formula-cell.ts
  apps/web/e2e/specs/datamart-calculated-field-chips.spec.ts
  apps/web/e2e/specs/datamart-calculated-field-formula.spec.ts
  apps/web/e2e/specs/datamart-row-level-calculated-field.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/CalculatedFieldFormulaCell.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/CalculatedFieldFormulaCell.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/formula-violation-ranges.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/useCalculatedFieldSave.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/useCalculatedFieldSave.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useSchemaState.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useSchemaState.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.test.tsx
  docs/getting-started/setup-guide/calculated-fields.md
  packages/ui/src/components/common/editable-text.tsx
  packages/ui/src/components/hover-card.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): add explicit UTC timezone to scheduled triggers
  apps/backend/src/common/scheduler/shared/entities/scheduled-trigger.entity.spec.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleDisplay/ScheduleDisplay.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleDisplay/ScheduleDisplay.tsx
  apps/web/src/features/data-marts/scheduled-triggers/model/mappers/data-quality-run-trigger.mapper.test.ts
  apps/web/src/services/timezone.service.test.ts
  apps/web/src/services/timezone.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: add UTC trigger changeset
  .changeset/explicit-utc-scheduled-triggers.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): address review on the calculated field improvements (#6876)
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.ts
  apps/web/e2e/specs/datamart-calculated-field-formula.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/CalculatedFieldFormulaCell.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/CalculatedFieldFormulaCell.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/useCalculatedFieldSave.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useSchemaState.ts
  docs/getting-started/setup-guide/calculated-fields.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(web): stop the chip-under-error spec racing the editor it types into
  apps/web/e2e/specs/datamart-calculated-field-chips.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@ad7d5722af574069e6546316ce24af8b0adb32b9 🚀
  docs/getting-started/setup-guide/calculated-fields/index.html
  pagefind/fragment/en_493234e.pf_fragment
  pagefind/fragment/en_517c328.pf_fragment
  pagefind/index/en_1c3bf83.pf_index
  pagefind/index/en_2863a4c.pf_index
  pagefind/index/en_2a777b6.pf_index
  pagefind/index/en_2ed1b67.pf_index
  pagefind/index/en_41f948b.pf_index
  pagefind/index/en_45788d4.pf_index
  pagefind/index/en_4a6b073.pf_index
  pagefind/index/en_4d4fe4d.pf_index
  pagefind/index/en_4f3d59b.pf_index
  pagefind/index/en_5ece52a.pf_index
  pagefind/index/en_632961e.pf_index
  pagefind/index/en_63d514b.pf_index
  pagefind/index/en_678e257.pf_index
  pagefind/index/en_6fd6d8c.pf_index
  pagefind/index/en_778baf5.pf_index
  pagefind/index/en_7c738cb.pf_index
  pagefind/index/en_893c39d.pf_index
  pagefind/index/en_9b28484.pf_index
  pagefind/index/en_9d293aa.pf_index
  pagefind/index/en_9d82561.pf_index
  pagefind/index/en_acb98d2.pf_index
  pagefind/index/en_b08b546.pf_index
  pagefind/index/en_bd75982.pf_index
  pagefind/index/en_be5e373.pf_index
  pagefind/index/en_c018b0c.pf_index
  pagefind/index/en_cb69e2d.pf_index
  pagefind/index/en_f335cfc.pf_index
  pagefind/index/en_f5a5b3c.pf_index
  pagefind/index/en_f5b4128.pf_index
  pagefind/index/en_fa72041.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4fe09aac79.pf_meta
  pagefind/pagefind.en_da346c11f6.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(data-marts): normalize scheduled trigger timezone aliases
  .changeset/explicit-utc-scheduled-triggers.md
  apps/backend/src/common/scheduler/shared/entities/scheduled-trigger.entity.spec.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ReportSchedulesInlineList/ReportSchedulesInlineList.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ReportSchedulesInlineList/ReportSchedulesInlineList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleDisplay/ScheduleDisplay.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/model/hooks/use-scheduled-trigger-form.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/mappers/data-quality-run-trigger.mapper.test.ts
  apps/web/src/features/data-marts/scheduled-triggers/utils/schedule-utils.ts
  apps/web/src/services/timezone.service.test.ts
  apps/web/src/services/timezone.service.ts
  apps/web/src/shared/components/Combobox/combobox.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(changeset): release the description length limit as minor, not patch
  .changeset/data-mart-description-length-limit.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): drop the now-unused getFittedGraphZoom wrapper
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(api-client,backend): read a report's output schema from clients
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  packages/api-client/src/index.ts
  packages/api-client/src/reports.test.ts
  packages/api-client/src/reports.ts
  packages/plugin-sdk/src/iframe-transport.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(plugin-host): address review feedback on rejection visibility
  .changeset/6839-plugin-release-rejection-visibility.md
  apps/backend/src/plugin-host/enums/release-rejection-code.enum.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
  apps/backend/src/plugin-host/use-cases/update-plugin.service.spec.ts
  apps/backend/src/plugin-host/use-cases/update-plugin.service.ts
  apps/backend/src/plugin-host/utils/semver.util.spec.ts
  apps/backend/src/plugin-host/utils/semver.util.ts
  apps/web/src/features/plugins/components/PluginReleaseIssuesCard.tsx
  apps/web/src/features/plugins/hooks/usePlugins.test.tsx
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/features/plugins/rejections.ts
  apps/web/src/features/plugins/types.ts
  docs/plugins/authoring-guide.md
  packages/plugin-sdk/README.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api-client,backend): publish what separates a metric from a column
  apps/backend/src/data-marts/dto/presentation/report-output-schema-field-api.dto.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/data-marts/mappers/report.mapper.spec.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.ts
  packages/api-client/src/reports.test.ts
  packages/api-client/src/reports.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): take calculated-field plans off the blending decision
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/dto/domain/blending-decision.dto.ts
  apps/backend/src/data-marts/dto/presentation/report-output-schema-field-api.dto.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@23f0d097016a90e6048b41e32f31ad450d0e6142 🚀
  docs/plugins/authoring-guide/index.html
  packages/plugin-sdk/readme/index.html
  pagefind/fragment/en_11324f3.pf_fragment
  pagefind/fragment/en_47d286d.pf_fragment
  pagefind/fragment/en_9d924f5.pf_fragment
  pagefind/fragment/en_c2851e6.pf_fragment
  pagefind/index/en_186929b.pf_index
  pagefind/index/en_19cf410.pf_index
  pagefind/index/en_1c3bf83.pf_index
  pagefind/index/en_2083120.pf_index
  pagefind/index/en_2a777b6.pf_index
  pagefind/index/en_4d4fe4d.pf_index
  pagefind/index/en_4edc24c.pf_index
  pagefind/index/en_5694cd6.pf_index
  pagefind/index/en_58bf93f.pf_index
  pagefind/index/en_5ece52a.pf_index
  pagefind/index/en_63d514b.pf_index
  pagefind/index/en_678e257.pf_index
  pagefind/index/en_6fd6d8c.pf_index
  pagefind/index/en_81d2972.pf_index
  pagefind/index/en_893c39d.pf_index
  pagefind/index/en_8f954ef.pf_index
  pagefind/index/en_9b28484.pf_index
  pagefind/index/en_9d82561.pf_index
  pagefind/index/en_acb98d2.pf_index
  pagefind/index/en_b08b546.pf_index
  pagefind/index/en_bed1ac0.pf_index
  pagefind/index/en_c018b0c.pf_index
  pagefind/index/en_cb69e2d.pf_index
  pagefind/index/en_dc16d14.pf_index
  pagefind/index/en_e01aeba.pf_index
  pagefind/index/en_e7e1f6c.pf_index
  pagefind/index/en_f335cfc.pf_index
  pagefind/index/en_f366232.pf_index
  pagefind/index/en_f84fc4e.pf_index
  pagefind/index/en_fb7ceda.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_da346c11f6.pf_meta
  pagefind/pagefind.en_e2e3b0df65.pf_meta
Due: prettier --write --config ./prettier.config.js
