Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

refactor: standardize OAuth user schema and enhance connector execution service
  apps/backend/src/data-marts/connector-types/connector-oauth-schema.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/connector-source-credentials.service.ts
  apps/backend/src/data-marts/services/connector.service.ts
  apps/backend/src/data-marts/services/connector/connector-oauth.service.ts
  apps/backend/src/migrations/1763941857632-create-connector-source-credentials-table.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  packages/connectors/src/Core/Dto/OauthCredentialsDto.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: pass only required props to FacebookOauthRender
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
Due: none

feat(backend): add list endpoint for insight run triggers
  apps/backend/src/common/scheduler/shared/ui-trigger-controller.ts
  apps/backend/src/common/scheduler/shared/ui-trigger.service.ts
  apps/backend/src/data-marts/controllers/insight-run-trigger.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight-run-trigger.api.ts
  apps/backend/src/data-marts/dto/presentation/insight-run-trigger-list-item-response-api.dto.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): rename generic type parameter in listTriggers method
  apps/backend/src/common/scheduler/shared/ui-trigger-controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): simplify trigger service methods by removing user ID dependency
  apps/backend/src/common/scheduler/shared/ui-trigger-controller.ts
  apps/backend/src/common/scheduler/shared/ui-trigger.service.ts
  apps/backend/src/data-marts/controllers/insight-run-trigger.controller.ts
  apps/backend/src/data-marts/dto/presentation/insight-run-trigger-list-item-response-api.dto.ts
  apps/backend/src/data-marts/services/insight-run-trigger.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): integrate AI layer into insight execution (#747)
  apps/backend/src/common/scheduler/shared/ui-trigger-controller.ts
  apps/backend/src/common/scheduler/shared/ui-trigger.service.ts
  apps/backend/src/data-marts/controllers/insight-run-trigger.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight-run-trigger.api.ts
  apps/backend/src/data-marts/dto/presentation/insight-run-trigger-list-item-response-api.dto.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  apps/backend/src/data-marts/services/insight-run-trigger.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(workflows): install specific npm version step in all workflows
  .github/workflows/deploy-docs.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-root.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

chore: update dependencies and npm config
  .npmrc
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

chore: update package overrides for glob and npm versions
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

chore: update markdownlint dependencies
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

chore: config markdownlint with table-column-style
  .markdownlint.json
Due: prettier --write --config ./prettier.config.js

fix(dependencies): update markdownlint-cli2 to version 0.19.1
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

chore: update glob dependencies
  apps/docs/package.json
  package-lock.json
  packages/connectors/package.json
Due: prettier --write --config ./prettier.config.js

feat(migrations): add migration to update Facebook Marketing connector to OAuth2 structure
  apps/backend/src/migrations/1764150625231-migrate-facebook-marketing-to-oauth2-structure.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(migrations): add migration to update Facebook Marketing connector to OAuth2 structure (#750)
  apps/backend/src/migrations/1764150625231-migrate-facebook-marketing-to-oauth2-structure.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(workflow): test strict npm version
  .github/workflows/lint-owox.yml
  package.json
Due: prettier --write --config ./prettier.config.js

fix: remove glob dependency from overrides
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

fix: remove npm version requirement from engines
  package.json
Due: prettier --write --config ./prettier.config.js

fix: remove specific npm version installation from workflows
  .github/workflows/deploy-docs.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-root.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

fix audit (#743)
  .markdownlint.json
  .npmrc
  apps/docs/package.json
  package-lock.json
  package.json
  packages/connectors/package.json
Due: prettier --write --config ./prettier.config.js

feat(backend): Tables support added for markdown parser
  apps/backend/package.json
  apps/backend/src/common/markdown/github-markdown-css.ts
  apps/backend/src/common/markdown/markdown-parser.service.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): remove toolsUsed from insight run log
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): remove toolsUsed from insight run log (#752)
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): Tables support added for markdown parser (#751)
  apps/backend/package.json
  apps/backend/src/common/markdown/github-markdown-css.ts
  apps/backend/src/common/markdown/markdown-parser.service.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add getDataMartRunById function and Insights tab to Data Mart navigation
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add mappers for transforming Insight DTOs to entity and request formats
  apps/web/src/features/data-marts/insights/model/mappers/insights.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add slash command auto-completion for generative queries in Monaco editor
  apps/web/src/features/data-marts/insights/utils/monaco-commands.util.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(ui): add reusable components for empty states, resizable panels, and skeleton text
  packages/ui/package.json
  packages/ui/src/components/button-group.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/common/index.ts
  packages/ui/src/components/common/skeleton-text.tsx
  packages/ui/src/components/empty.tsx
  packages/ui/src/components/resizable.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): migrate SortableHeader and ToggleColumnsHeader components to shared table utilities
  apps/web/src/features/data-destination/list/components/DataDestinationTable/SortableHeader.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/SortableHeader.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add Insight DTOs, entity, and state types for insights module
  apps/web/src/features/data-marts/insights/model/types/api/insights.dto.ts
  apps/web/src/features/data-marts/insights/model/types/index.ts
  apps/web/src/features/data-marts/insights/model/types/insight.entity.ts
  apps/web/src/features/data-marts/insights/model/types/insights.state.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update data mart DTOs to improve type definitions and align with enums
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-run.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add insights route with nested views and refactor triggers content export
  apps/web/src/pages/data-marts/edit/DataMartInsightsContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
  apps/web/src/pages/data-marts/edit/index.ts
  apps/web/src/routes/data-marts/routes.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add InsightsService to manage API operations for insights module
  apps/web/src/features/data-marts/insights/model/services/index.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update ToggleColumnsHeader import to use shared Table component
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns.tsx
Due: none

feat(web): refactor table components, add ResizableColumns, and enhance headers with accessibility features
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorPreview.tsx
  apps/web/src/shared/components/ResizableColumns/ResizableColumns.tsx
  apps/web/src/shared/components/Table/SortableHeader.test.tsx
  apps/web/src/shared/components/Table/SortableHeader.tsx
  apps/web/src/shared/components/Table/ToggleColumnsHeader.tsx
  apps/web/src/shared/components/Table/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): remove local ToggleColumnsHeader, update imports to use shared component
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): remove local SortableHeader and ToggleColumnsHeader, update imports to shared components
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/SortableHeader.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
