Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

chore(changeset): add release note for SQL validation feature for Data Marts
  .changeset/sql-validation-feature.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): enhance SQL validator to support validation state callbacks and prevent invalid submissions
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/SqlValidator/SqlValidator.tsx
Due: none

fix(web): update default SQL query in `getEmptyDefinition` to return an empty string
  apps/web/src/features/data-marts/edit/utils/definition-helpers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): adjust styling for SQL validator and data mart definition settings forms
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/SqlValidator/SqlValidator.tsx
Due: none

refactor(web): remove redundant console.error from `SqlValidator`
  apps/web/src/features/data-marts/edit/components/SqlValidator/SqlValidator.tsx
Due: none

feat(web): add support for skipping global loading indicator in API requests
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/shared/components/GlobalLoader/LoadingContext.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

rebase conflict resolve
  apps/web/src/features/data-storage/shared/model/types/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): review changes
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/domain/get-data-mart-runs.command.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run.schema.ts
  apps/backend/src/data-marts/entities/connector-state.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/use-cases/get-data-mart-runs.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/ConfigurationView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/LoadingSkeleton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/LogControls.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RawLogsView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StatusBadge.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/icons.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/index.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/types.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-definition-config.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-run.ts
  apps/web/src/hooks/useClipboard.ts
  packages/ui/src/components/common/copy-button.tsx
  packages/ui/src/components/common/index.ts
  packages/ui/src/components/common/skeleton-list.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(data-marts): clean up unused LogCaptureConfig interface and adjust constructor parameters in ConnectorExecutionService
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): enhance form validation by adding dirty state check
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
Due: none

fix check errors
  .changeset/run-history-and-edit-field-in-connector.md
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/ConfigurationView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RawLogsView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StructuredLogsView.tsx
  package-lock.json
  packages/connector-runner/package.json
  packages/ui/src/components/common/copy-button.tsx
  packages/ui/src/components/common/skeleton-list.tsx
Due: prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): update Button import path in LogControls component
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/LogControls.tsx
Due: none

draft for manual backfill
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractRunConfig.js
  packages/connectors/src/Sources/BingAds/Code.gs
  packages/connectors/src/Sources/BingAds/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(data-marts): update log level handling to use LogLevel enum for improved type safety
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/icons.tsx
Due: none

fix(docs): fix deploy and build warnings
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  apps/owox/CONTRIBUTING.md
Due: prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(org): fix package-lock.json and cleaning scripts
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

fix(org): fix prettierignore config for root
  .prettierignore
  .prettierignore.root
  package.json
Due: prettier --write --config ./prettier.config.js

fix(org): enchance clean scripts for cross-platform usage
  package.json
Due: prettier --write --config ./prettier.config.js

fix(org): reorganize clean commands
  package.json
Due: prettier --write --config ./prettier.config.js

fix(backend): schema related endpoints fix
  apps/backend/src/data-marts/use-cases/actualize-data-mart-schema.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(org): fix publishing errors
  apps/owox/package.json
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

refactor(web): remove loading state and update DataStorageTable interactions
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns.tsx
Due: none

refactor(web): update button label from 'Actualize schema' to 'Refresh schema' for clarity
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
Due: none

refactor(web): update DataDestinationTable to support edit functionality and improve UI elements
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns.tsx
Due: none

refactor(web): update tooltip styles for improved accessibility and visual consistency
  packages/ui/src/components/tooltip.tsx
Due: none

Create appsscript-edition.md
  appsscript-edition.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): replace CircleHelp icon with Info icon in CollapsibleCardHeader
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeader.tsx
Due: none

Update appsscript-edition.md
  appsscript-edition.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): adjust Sheet component styles for improved layout and consistency
  packages/ui/src/components/sheet.tsx
Due: none

feat(web): add Accordion component with customizable variants and styles
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/accordion.tsx
Due: prettier --write --config ./prettier.config.js

feat(web): enhance form components with new layout, tooltip support, and standardized footer
  packages/ui/src/components/form.tsx
Due: none

feat(web): refactor DataStorageEditForm to utilize new form components and improve user guidance with descriptions
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/AwsAthenaFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaAccessKeyIdDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaDatabaseNameDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaOutputBucketDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaRegionDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaSecretAccessKeyDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/GoogleBigQueryLocationDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/GoogleBigQueryProjectIdDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/GoogleBigQueryServiceAccountDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/StorageTypeAthenaDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/StorageTypeBigQueryDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
Due: none

feat(web): enhance ScheduledTriggerForm with new descriptions and layout improvements for better user guidance
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/FormDescriptions/ReportChangingDescription.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/FormDescriptions/ReportSelectionDescription.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/FormDescriptions/TriggerTypeChangeOptionDescription.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/FormDescriptions/TriggerTypeOptionsDescription.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerFormSheet/ScheduledTriggerFormSheet.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/TimeTriggerAnnouncement/TimeTriggerAnnouncement.tsx
Due: none

feat(web): enhance GoogleSheetsReportEditForm with new layout components and detailed document link instructions
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/FormDescriptions/DocumentLinkDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
Due: none

feat(web): refactor DataDestinationEditForm to improve layout, add destination type selection, and enhance user guidance with detailed descriptions
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/DestinationTypeDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/GoogleSheetsServiceAccountDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
Due: none

refactor(web): utilize AppForm and FormActions components
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/TimeTriggerAnnouncement/TimeTriggerAnnouncement.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  packages/ui/src/components/form.tsx
Due: none

feat(web): update DataMartCreateForm layout with new form components for improved user experience
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
  apps/web/src/pages/data-marts/create/CreateDataMartPage.tsx
Due: none

feat(web): utilize ExternalAnchor component for improved link handling and styling across various forms
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/DestinationTypeDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/GoogleSheetsServiceAccountDescription.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaAccessKeyIdDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaDatabaseNameDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaOutputBucketDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaRegionDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaSecretAccessKeyDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/GoogleBigQueryLocationDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/GoogleBigQueryProjectIdDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/GoogleBigQueryServiceAccountDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/StorageTypeAthenaDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/StorageTypeBigQueryDescription.tsx
  packages/ui/src/components/common/external-anchor.tsx
Due: none

refactor(web): update button styles and form labels for consistency across connector and table definition fields
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/AddConfigurationButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TableDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TablePatternDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ViewDefinitionField.tsx
Due: none
