Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2 --fix

fix(OpenExchangeRates): handle missing LastRequestedDate and refactor storage retrieval logic
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/OpenExchangeRates/Code.gs
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
Due: none

feat(backend): add connector data handling to Athena and BigQuery report readers
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-table-definitions/data-mart-definition.guards.ts
Due: none

fix(tests): reorganize mocks in connector execution and npm dependency manager tests
  packages/connector-runner/test/application/services/connector-execution-service.test.js
  packages/connector-runner/test/infrastructure/dependencies/npm-dependency-manager.test.js
Due: none

feat(web): New icons and dark-theme colors
  apps/web/src/components/AppSidebar/app-sidebar.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/EmptyDataMartsState.tsx
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/shared/components/CardSkeleton/CardSkeleton.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCard.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeader.tsx
  packages/ui/src/styles/globals.css
Due: none

fix(TargetSetupStep): sanitize selectedNode in fullyQualifiedName to allow only alphanumeric characters and underscores
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
Due: none

feat(owox): added json per-line logger as default
  apps/owox/src/commands/base.command.ts
  apps/owox/src/commands/serve.ts
Due: none

feat(backend): Google Sheets export column formats improved
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-formatter.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
Due: none

feat: add apps script notifications v1.0.0
  packages/connectors/src/Configs/AppsScript/EmailNotification.js
  packages/connectors/src/Configs/AppsScript/GoogleChatNotification.js
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
Due: none

feat(web): enhance connector configuration UI
  apps/backend/src/data-marts/services/connector.service.ts
  apps/web/src/features/connectors/edit/DataMartConnectorView.tsx
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/AddConfigurationButton.tsx
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorSetupButton.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/components/StepNavigation.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/components/Stepper.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/NodesSelectionStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditSheet/ConnectorEditSheet.tsx
  apps/web/src/features/connectors/edit/index.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
Due: none

feat: add apps script notifications v1.1.0
  packages/connectors/src/Configs/AppsScript/EmailNotification.js
  packages/connectors/src/Configs/AppsScript/GoogleChatNotification.js
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
Due: none

refactor(backend): improve SQL query execution by escaping table paths in Athena report reader and update connector execution service to handle S3 bucket names correctly
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  packages/connector-runner/src/infrastructure/templates/nodejs-template-renderer.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
Due: none

feat(lint): sync lint-staged config
  apps/backend/.lintstagedrc.json
  apps/docs/.lintstagedrc.json
  apps/docs/eslint.config.js
  apps/owox/.lintstagedrc.json
  apps/owox/.prettierrc.json
  apps/owox/eslint.config.mjs
  apps/owox/package.json
  apps/owox/prettier.config.mjs
  apps/web/README.md
  apps/web/package.json
  docs/lint-staged-workflow.md
  package-lock.json
  package.json
  packages/connectors/.lintstagedrc.json
  packages/ui/.lintstagedrc.json
  tools/setup-husky.mjs
Due: prettier --write, markdownlint-cli2 --fix

feat: add apps script notifications v1.2.0
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
Due: none

feat(docs): add connector manifests and fix group names in sidebar
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/scripts/sync-docs.js
  apps/docs/src/content.config.ts
  package-lock.json
  package.json
  packages/connectors/src/Sources/BankOfCanada/manifest.json
  packages/connectors/src/Sources/BingAds/manifest.json
  packages/connectors/src/Sources/CriteoAds/manifest.json
  packages/connectors/src/Sources/FacebookMarketing/manifest.json
  packages/connectors/src/Sources/GitHub/manifest.json
  packages/connectors/src/Sources/LinkedIn/manifest.json
  packages/connectors/src/Sources/OpenExchangeRates/manifest.json
  packages/connectors/src/Sources/OpenHolidays/manifest.json
  packages/connectors/src/Sources/RedditAds/manifest.json
  packages/connectors/src/Sources/TikTokAds/manifest.json
  packages/connectors/src/Sources/XAds/manifest.json
  packages/connectors/src/Storages/AwsAthena/manifest.json
  packages/connectors/src/Storages/GoogleBigQuery/manifest.json
  packages/connectors/src/Storages/GoogleSheets/manifest.json
Due: prettier --write

feat(lint): sync lint-staged config
  apps/web/README.md
  apps/web/package.json
Due: prettier --write, markdownlint-cli2 --fix

feat(docs): update connector contributing doc
  packages/connectors/CONTRIBUTING.md
  packages/connectors/src/Templates/PublicEndPoint/manifest.json
  packages/connectors/src/Templates/Token-Based/manifest.json
Due: prettier --write, markdownlint-cli2 --fix

feat(docs): changing the order of sections
  apps/docs/astro.config.mjs
Due: none

feat(backend): enhance connector execution
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: none

feat(lint): test commit
  apps/web/README.md
  apps/web/package.json
Due: prettier --write, markdownlint-cli2 --fix

feat(lint): revert test commit
  apps/web/README.md
  apps/web/package.json
Due: prettier --write, markdownlint-cli2 --fix

feat(web): enhance DataDestinationList with loading and error states, and improve table UI
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/EmptyDataDestinationsState.tsx
  apps/web/src/pages/data-destination/DataDestinationListPage.tsx
  packages/ui/src/styles/globals.css
Due: none

feat: add timeout trigger to send timeout errors notifications
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Constants/CommonConstants.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/BankOfCanada/Code.gs
  packages/connectors/src/Sources/BingAds/Code.gs
  packages/connectors/src/Sources/CriteoAds/Code.gs
  packages/connectors/src/Sources/FacebookMarketing/Code.gs
  packages/connectors/src/Sources/GitHub/Code.gs
  packages/connectors/src/Sources/LinkedIn/Code.gs
  packages/connectors/src/Sources/OpenExchangeRates/Code.gs
  packages/connectors/src/Sources/OpenHolidays/Code.gs
  packages/connectors/src/Sources/RedditAds/Code.gs
  packages/connectors/src/Sources/TikTokAds/Code.gs
  packages/connectors/src/Sources/XAds/Code.gs
  packages/connectors/src/Templates/PublicEndPoint/Code.gs
  packages/connectors/src/Templates/Token-Based/Code.gs
Due: none

fix: fix logs
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Templates/PublicEndPoint/Code.gs
  packages/connectors/src/Templates/Token-Based/Code.gs
Due: none

fix: fix typo
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
Due: none

feat(owox): update cross-platform zombie process cleanup
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  package-lock.json
Due: prettier --write

docs: update credential documentation for various ad sources to improve clarity and structure
  packages/connectors/src/Sources/BingAds/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/LinkedIn/CREDENTIALS.md
  packages/connectors/src/Sources/OpenExchangeRates/CREDENTIALS.md
  packages/connectors/src/Sources/RedditAds/CREDENTIALS.md
  packages/connectors/src/Sources/XAds/CREDENTIALS.md
Due: markdownlint-cli2 --fix

feat(web): add support for Looker Studio and OData data destinations
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/shared/enums/data-destination-status.enum.ts
  apps/web/src/features/data-destination/shared/enums/data-destination-type.enum.ts
  apps/web/src/features/data-destination/shared/enums/index.ts
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/shared/icons/index.ts
  apps/web/src/shared/icons/looker-studio-icon.tsx
  apps/web/src/shared/icons/odata-icon.tsx
Due: none

fix lint
  apps/web/src/features/data-destination/shared/components/DataDestinationInfo/CredentialsSection.tsx
  apps/web/src/features/data-destination/shared/model/mappers/destination-mapper.factory.ts
Due: none

feat(connectors): add development scripts and file watcher for connector package
  package.json
  packages/connectors/.gitignore
  packages/connectors/package.json
  packages/connectors/vite.config.js
  packages/connectors/watcher.config.js
Due: prettier --write

feat(backend): implement dataMart and DataStorage validation
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-facades.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-mart-definition-validator-facade.service.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-storage-access.facade.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-mart-query-builder.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-mart-validator.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-access-validator.interface.ts
  apps/backend/src/data-marts/dto/domain/data-storage.dto.ts
  apps/backend/src/data-marts/dto/domain/update-data-storage.command.ts
  apps/backend/src/data-marts/dto/domain/validate-data-mart-definition.command.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-validation-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-storage-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-storage-api.dto.ts
  apps/backend/src/data-marts/entities/data-storage.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/backend/src/data-marts/use-cases/validate-data-mart-definition.service.ts
Due: none

docs: streamline Bing Ads credential documentation by removing redundant headings and improving clarity
  packages/connectors/src/Sources/BingAds/CREDENTIALS.md
Due: markdownlint-cli2 --fix

Add images to BingAds getting started documentation
  packages/connectors/CONTRIBUTING.md
  packages/connectors/res/google-sheets-files-structure.png
  packages/connectors/res/google-sheets-files-structure.svg
  packages/connectors/src/Sources/BingAds/GETTING_STARTED.md
  packages/connectors/src/Sources/BingAds/res/bing_success.png
  packages/connectors/src/Sources/BingAds/res/bing_success_sheets.png
Due: markdownlint-cli2 --fix

feat(owox): added json per-line logger
  apps/owox/src/commands/base.command.ts
  apps/owox/src/commands/serve.ts
Due: none

feat(owox): added JSDoc to base command
  apps/owox/src/commands/base.command.ts
  apps/owox/src/commands/base.ts
  apps/owox/src/commands/serve.ts
Due: none

feat(backend): added pretty logs as default
  apps/backend/.env.example
  apps/backend/src/common/logger/logger.service.ts
Due: none

feat(lint): update Prettier ad lint-staged config
  apps/backend/.lintstagedrc.json
  apps/backend/package.json
  apps/web/.lintstagedrc.json
  apps/web/package.json
  packages/connectors/.lintstagedrc.json
  packages/connectors/package.json
  packages/ui/package.json
Due: prettier --write

refactor(web): centralize error handling with `extractApiError` and align error payload types across data storage features
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/shared/model/context/reducer.ts
  apps/web/src/features/data-storage/shared/model/context/types.ts
  apps/web/src/features/data-storage/shared/model/hooks/useDataStorage.ts
Due: none

refactor(web): centralize API error handling and improve error state management
  apps/web/src/app/api/api-error.interface.ts
  apps/web/src/app/api/apiClient.ts
  apps/web/src/app/api/extract-api-error.util.ts
  apps/web/src/app/api/index.ts
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/edit/model/hooks/use-data-mart.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/SortableHeader.test.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/SortableHeader.tsx
Due: none

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{yml,yaml})
  markdownlint-cli2 --fix: any of: *.md
