Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): stop copied config from sharing another Data Mart's credentials
  .changeset/6783-copied-config-shares-credentials-row.md
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add FieldWithActions component for enhanced service account email handling
  .changeset/6576-copy-service-account-button.md
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/LegacyGoogleBigQueryFields.tsx
  packages/ui/src/components/common/field-with-actions.tsx
  packages/ui/src/components/common/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(GoogleSheets): implement DocumentLinkDescription with copyable email feature
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/FormDescriptions/DocumentLinkDescription.test.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/FormDescriptions/DocumentLinkDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  packages/ui/src/components/common/copyable-field.tsx
Due: none

fix(data-marts): resolve post-merge build errors (#6750)
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/use-cases/refresh-data-mart-data-last-updated.service.spec.ts
  apps/backend/src/data-marts/use-cases/refresh-data-mart-data-last-updated.service.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/model/graph/edge-cardinality.test.ts
  apps/web/src/features/data-marts/model-canvas/model/use-refresh-data-last-updated.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): show Data Last Updated as a canvas status icon (#6750)
  apps/web/src/features/data-marts/model-canvas/components/DataLastUpdatedCanvasIcon.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/shared/components/DataLastUpdatedValue/DataLastUpdatedValue.tsx
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@e8ae62c73aa2bfebd2f9a2b1175e349908a0efe9 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_27b116e.pf_fragment
  pagefind/fragment/en_8f5a30b.pf_fragment
  pagefind/index/en_12b9356.pf_index
  pagefind/index/en_141df92.pf_index
  pagefind/index/en_2030d09.pf_index
  pagefind/index/en_2cb7edb.pf_index
  pagefind/index/en_356a2fc.pf_index
  pagefind/index/en_59254cd.pf_index
  pagefind/index/en_5c47a03.pf_index
  pagefind/index/en_642d3ca.pf_index
  pagefind/index/en_7365b39.pf_index
  pagefind/index/en_762db21.pf_index
  pagefind/index/en_782274c.pf_index
  pagefind/index/en_7e48cf5.pf_index
  pagefind/index/en_85c8da8.pf_index
  pagefind/index/en_8c6b83f.pf_index
  pagefind/index/en_a157dbf.pf_index
  pagefind/index/en_c1ccc14.pf_index
  pagefind/index/en_cb9c2e6.pf_index
  pagefind/index/en_cd11737.pf_index
  pagefind/index/en_cecad9f.pf_index
  pagefind/index/en_d62366e.pf_index
  pagefind/index/en_ef6d9ab.pf_index
  pagefind/index/en_f284fce.pf_index
  pagefind/index/en_fed6675.pf_index
  pagefind/index/en_ff9cb09.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_518ae32d1c.pf_meta
  pagefind/pagefind.en_7345c95a5a.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): highlight every edge of the selected data mart
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
Due: none

docs: mention node-click edge highlighting in the 6763 changeset
  .changeset/6763-model-canvas-erd-redesign.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): repaint canvases with the OWOX corporate color palette
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/shared/canvas/constants.ts
  apps/web/src/features/data-marts/shared/canvas/definition-type-accent.ts
  apps/web/src/features/data-marts/shared/canvas/erd-card.tsx
  apps/web/src/features/data-marts/shared/canvas/owox-palette.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(data-marts): add Data Last Updated user guide (#6750)
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/data-last-updated.md
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Clarify source tables/views in Data Last Updated section
  docs/getting-started/setup-guide/data-last-updated.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): enforce credentials ownership where every save passes
  .changeset/6783-copied-config-shares-credentials-row.md
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(auth): disable Intercom chat in view-only sessions
  apps/backend/src/idp/controllers/intercom.controller.spec.ts
  apps/backend/src/idp/controllers/intercom.controller.ts
  apps/web/src/app/intercom/IntercomChat.test.tsx
  apps/web/src/app/intercom/IntercomChat.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): require permission on the Data Mart a configuration is copied from
  .changeset/6784-authorize-copy-source-data-mart.md
  apps/backend/src/data-marts/services/access-decision/access-decision-e2e.spec.ts
  apps/backend/src/data-marts/services/access-decision/access-matrix.config.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): refresh Data Last Updated with every data-delivering run (#6750)
  .changeset/6750-data-last-updated-on-runs.md
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run-report-definition.schema.ts
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/services/source-data-last-updated.service.spec.ts
  apps/backend/src/data-marts/services/source-data-last-updated.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/web/src/features/data-marts/model-canvas/components/DataLastUpdatedCanvasIcon.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/model/use-refresh-data-last-updated.ts
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/DataMartBulkActions.tsx
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): resolve each copied configuration against its own source Data Mart
  .changeset/6785-copy-configurations-from-several-data-marts.md
  apps/backend/src/data-marts/dto/domain/update-data-mart-definition.command.ts
  apps/backend/src/data-marts/dto/presentation/update-data-mart-definition-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/use-cases/copy-report-as-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/copy-report-as-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/shared/types/api/request/update-data-mart-connector-definition.request.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): address PR #1479 review findings on the canvases
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-filters.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useRelationshipDefinitionTypes.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowEdge.tsx
  apps/web/src/features/data-marts/shared/canvas/constants.ts
  apps/web/src/features/data-marts/shared/canvas/definition-type-accent.ts
  apps/web/src/features/data-marts/shared/canvas/erd-card.tsx
  apps/web/src/features/data-marts/shared/canvas/owox-palette.ts
  apps/web/src/features/data-marts/shared/types/data-mart-definition-type.model.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(data-marts): merge 6750 changesets and document run-driven refresh
  .changeset/6750-data-last-updated-date.md
  .changeset/6750-data-last-updated-on-runs.md
  docs/getting-started/setup-guide/data-last-updated.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): keep run-persisted Data Last Updated from being clobbered by report cascade save
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(data-marts): align report-sql-composer spec with needsBlending in compose() result
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-quality): optimize config saves and relationship SQL
  apps/backend/src/data-marts/data-quality/__snapshots__/data-quality-check-compiler.spec.ts.snap
  apps/backend/src/data-marts/data-quality/data-quality-check-compiler.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-check-compiler.ts
  apps/backend/src/data-marts/data-quality/data-quality-snapshot-table-reference.service.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-snapshot-table-reference.service.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.test.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/DataQualityRunHistoryDetails.test.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(scheduler): restore TTL trigger cleanup accidentally disabled by a stray local edit
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): compute joined percentiles over the de-duplicated value set
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/blended-sql-dialect.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.planner.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): de-duplicate joined SUM/AVG by the joined Data Mart's declared key
  apps/backend/src/data-marts/data-storage-types/blending/blend-cte.builder.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.planner.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(data-marts): fold the percentile and primary-key follow-ups into the #6766 changeset
  .changeset/6766-symmetric-aggregates-fanout.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): surface every failed validation constraint instead of "Bad Request Exception"
  apps/backend/src/common/exceptions/global-exception.filter.spec.ts
  apps/backend/src/common/exceptions/global-exception.filter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): report the type of joined columns in query_data_mart results
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(data-marts): note the validation-detail fix in the changeset
  .changeset/6766-symmetric-aggregates-fanout.md
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): correct the review's Critical and High findings on the sleeve follow-ups
  .changeset/6766-symmetric-aggregates-fanout.md
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/blending/README.md
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.planner.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/test/integration/bigquery.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: cut the comments added with the sleeve follow-ups
  apps/backend/src/common/exceptions/global-exception.filter.spec.ts
  apps/backend/src/common/exceptions/global-exception.filter.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/blend-cte.builder.ts
  apps/backend/src/data-marts/data-storage-types/blending/blended-sql-dialect.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.planner.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/test/integration/bigquery.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): close the review's Critical and High findings
  .changeset/6766-symmetric-aggregates-fanout.md
  apps/backend/src/data-marts/data-storage-types/blending/blend-cte.builder.ts
  apps/backend/src/data-marts/data-storage-types/blending/re-aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/re-aggregation.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.ts
  apps/backend/src/data-marts/dto/schemas/field-aggregation-governance.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.spec.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/web/src/app/api/api-error.interface.ts
  apps/web/src/shared/utils/showApiErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(data-marts): warn that an empty-valued primary key merges rows
  .changeset/6766-symmetric-aggregates-fanout.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): address review notes — structural cascade fix, monotonic persist, honest canvas toasts
  apps/backend/src/data-marts/services/data-mart.service.spec.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/services/source-data-last-updated.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/refresh-data-mart-data-last-updated.service.spec.ts
  apps/backend/src/data-marts/use-cases/refresh-data-mart-data-last-updated.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/web/src/features/data-marts/model-canvas/model/use-refresh-data-last-updated.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(deps): bump better-auth to 1.6.25 (GHSA-qq9h-g4jm-xgf3)
  packages/idp-better-auth/package.json
  packages/idp-owox-better-auth/package.json
Due: prettier --write --config ./prettier.config.js

feat(web): canvas Data Last Updated check mirrors Check Quality UX; VIEW accent yellow; title-only hides quality icons
  .changeset/6750-data-last-updated-date.md
  apps/web/src/features/data-marts/model-canvas/components/DataLastUpdatedCanvasIcon.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/use-refresh-data-last-updated.ts
  apps/web/src/features/data-marts/shared/canvas/definition-type-accent.ts
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/DataMartBulkActions.tsx
  docs/getting-started/setup-guide/data-last-updated.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
