Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): code formatting
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaAccessKeyIdDescription.tsx
Due: none

Create render.md
  docs/getting-started/deployment-guide/render.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update render.md
  docs/getting-started/deployment-guide/render.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update astro.config.mjs
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(docs): code formatting
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add automatic whitespace trimming for connector parameters
  packages/connectors/src/Core/AbstractConfig.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update connector-data-mart.md
  docs/getting-started/setup-guide/connector-data-mart.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: fix undefined values in BigQuery Storage and cleanup Facebook fields
  .changeset/fix-bigquery-undefined-values-and-cleanup-facebook-fields.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: change changelog files from patch to minor
  .changeset/fix-bigquery-undefined-values-and-cleanup-facebook-fields.md
  .changeset/fix-facebook-referral-id-whitelist.md
  .changeset/optimize-logging-security.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: remove MaxFieldsPerRequest param from LinkedIn Sources
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

(feat): add better-auth idp provider
  apps/owox/package.json
  apps/owox/src/commands/idp/add-user.ts
  apps/owox/src/idp/factory.ts
  apps/web/src/features/idp/context/AuthContext.tsx
  packages/idp-better-auth/.gitignore
  packages/idp-better-auth/.prettierrc.js
  packages/idp-better-auth/README.md
  packages/idp-better-auth/eslint.config.js
  packages/idp-better-auth/jest.config.js
  packages/idp-better-auth/package.json
  packages/idp-better-auth/scripts/copy-public.cjs
  packages/idp-better-auth/src/adapters/database.ts
  packages/idp-better-auth/src/auth/auth-config.ts
  packages/idp-better-auth/src/config/example.env
  packages/idp-better-auth/src/index.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/routes/index.ts
  packages/idp-better-auth/src/services/authentication-service.ts
  packages/idp-better-auth/src/services/crypto-service.ts
  packages/idp-better-auth/src/services/database-service.ts
  packages/idp-better-auth/src/services/magic-link-service.ts
  packages/idp-better-auth/src/services/middleware-service.ts
  packages/idp-better-auth/src/services/page-service.ts
  packages/idp-better-auth/src/services/request-handler-service.ts
  packages/idp-better-auth/src/services/template-service.ts
  packages/idp-better-auth/src/services/token-service.ts
  packages/idp-better-auth/src/services/user-management-service.ts
  packages/idp-better-auth/src/templates/admin-add-user.html
  packages/idp-better-auth/src/templates/admin-dashboard.html
  packages/idp-better-auth/src/templates/admin-user-details.html
  packages/idp-better-auth/src/templates/password-setup.html
  packages/idp-better-auth/src/templates/password-success.html
  packages/idp-better-auth/src/templates/sign-in.html
  packages/idp-better-auth/src/types/auth-session.ts
  packages/idp-better-auth/src/types/database-models.ts
  packages/idp-better-auth/src/types/index.ts
  packages/idp-better-auth/src/types/modules.d.ts
  packages/idp-better-auth/src/types/user-payload.ts
  packages/idp-better-auth/tsconfig.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: streamline package.json formatting for better readability
  packages/idp-better-auth/package.json
Due: prettier --write --config ./prettier.config.js

feat: add @owox/idp-better-auth to configuration for improved authentication support
  .changeset/config.json
Due: prettier --write --config ./prettier.config.js

feat: initial release of Better Auth IDP provider
  .changeset/add-idp-better-auth.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: update dependencies and improve idp-better-auth setup
  packages/idp-better-auth/README.md
  packages/idp-better-auth/package.json
Due: prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: update Better Auth IDP provider configuration and environment variables
  apps/owox/src/idp/factory.ts
  package-lock.json
  packages/idp-better-auth/README.md
  packages/idp-better-auth/src/adapters/database.ts
  packages/idp-better-auth/src/auth/auth-config.ts
  packages/idp-better-auth/src/config/example.env
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: enhance build scripts and improve README formatting
  packages/idp-better-auth/README.md
  packages/idp-better-auth/package.json
Due: prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add GitHub Actions workflow for code quality checks and new database file
  .github/workflows/lint-idp-better-auth.yml
  .github/workflows/publish.yml
  apps/owox/package.json
  apps/owox/src/commands/idp/add-user.ts
  apps/owox/src/commands/serve.ts
  apps/owox/src/idp/factory.ts
  apps/owox/tsconfig.json
  packages/idp-better-auth/.prettierrc.js
  packages/idp-better-auth/package.json
  packages/idp-better-auth/scripts/copy-public.cjs
  packages/idp-better-auth/src/adapters/database.ts
  packages/idp-better-auth/src/index.ts
  packages/idp-better-auth/src/routes/index.ts
  packages/idp-better-auth/src/services/authentication-service.ts
  packages/idp-better-auth/src/services/page-service.ts
  packages/idp-better-auth/src/services/template-service.ts
  packages/idp-better-auth/src/services/user-management-service.ts
  packages/idp-better-auth/src/templates/admin-add-user.html
  packages/idp-better-auth/src/templates/admin-dashboard.html
  packages/idp-better-auth/src/templates/admin-user-details.html
  packages/idp-better-auth/src/templates/password-setup.html
  packages/idp-better-auth/src/templates/password-success.html
  packages/idp-better-auth/src/templates/sign-in.html
  packages/idp-better-auth/src/types/index.ts
  packages/idp-better-auth/src/types/user-payload.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: split LinkedIn Ads dateRange into dateRangeStart and dateRangeEnd
  .changeset/split-linkedin-daterange-fields.md
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/LinkedInAdsFieldsSchema.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adAnalyticsFields.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: update changeset file
  .changeset/split-linkedin-daterange-fields.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: standardize Facebook Marketing table names with facebook_ads_ prefix
  .changeset/standardize-facebook-table-names.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: enable trust proxy in express applications for improved request handling
  apps/backend/src/main.ts
  apps/owox/src/commands/serve.ts
  packages/idp-protocol/src/providers/null-provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: update authentication token handling and secure cookie prefix logic
  packages/idp-better-auth/src/auth/auth-config.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/token-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update authorization header to use 'X-OWOX-Authorization' across services and APIs
  apps/backend/src/idp/guards/idp.guard.ts
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/idp/services/auth-api.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add `build:dep` and `build:idp-protocol` scripts to streamline build process for OWOX IDP package
  packages/idp-owox/package.json
Due: prettier --write --config ./prettier.config.js

Add implementation for OWOX Identity Provider integration
  .changeset/add-idp-owox.md
  .changeset/config.json
  .github/workflows/lint-idp-owox.yml
  .github/workflows/publish.yml
  packages/idp-owox/.prettierrc.js
  packages/idp-owox/README.md
  packages/idp-owox/eslint.config.js
  packages/idp-owox/package.json
  packages/idp-owox/src/.env.example
  packages/idp-owox/src/auth/AuthorizationStore.ts
  packages/idp-owox/src/auth/AuthorizationStoreFactory.ts
  packages/idp-owox/src/auth/MysqlAuthorizationStore.ts
  packages/idp-owox/src/auth/SqliteAuthorizationStore.ts
  packages/idp-owox/src/client/IdentityOwoxClient.ts
  packages/idp-owox/src/client/dto/idpOwoxPayloadDto.ts
  packages/idp-owox/src/client/dto/index.ts
  packages/idp-owox/src/client/dto/introspectionDto.ts
  packages/idp-owox/src/client/dto/jwksDto.ts
  packages/idp-owox/src/client/dto/revocationDto.ts
  packages/idp-owox/src/client/dto/tokenDto.ts
  packages/idp-owox/src/client/dto/tokenType.ts
  packages/idp-owox/src/client/index.ts
  packages/idp-owox/src/config.ts
  packages/idp-owox/src/index.ts
  packages/idp-owox/src/mappers/idpOwoxPayloadToPayloadMapper.ts
  packages/idp-owox/src/owoxIdp.ts
  packages/idp-owox/src/pkce.ts
  packages/idp-owox/src/token/jwksCache.ts
  packages/idp-owox/src/token/parseToken.ts
  packages/idp-owox/src/token/verifyJwt.ts
  packages/idp-owox/tsconfig.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Migrate `Role` and `Payload` types to Zod schemas for runtime validation and add `zod` as a peer dependency in `idp-protocol` package.
  packages/idp-protocol/package.json
  packages/idp-protocol/src/types/models.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
