Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): exclude disconnected fields from AI Helper sample query (#1343)
  .changeset/ai-helper-skip-disconnected-fields.md
  apps/backend/src/data-marts/ai-insights/generate-data-mart-metadata.orchestrator.service.spec.ts
  apps/backend/src/data-marts/ai-insights/generate-data-mart-metadata.orchestrator.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/flat-report-headers-generator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docker): pin base image to node:22.22.3-slim (#1346)
  Dockerfile
Due: none

Write incremental checkpoint only on success (#1342)
  .changeset/connector-partial-run-checkpoint.md
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/GoogleAds/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/XAds/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(connector): add credentials update handling with refresh token for microsoft connector
  apps/backend/src/data-marts/connector-types/connector-message/schemas/connector-message.schema.ts
  apps/backend/src/data-marts/connector-types/connector-message/schemas/types/message-credentials-update.schema.ts
  apps/backend/src/data-marts/connector-types/enums/connector-message-type-enum.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.ts
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connector): implement Microsoft Ads refresh token rotation and enhance credential handling
  .changeset/microsoft-ads-refresh-token-rotation.md
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-message-parser.service.spec.ts
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-message-parser.service.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-process-spawner.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-process-spawner.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.ts
  apps/backend/src/data-marts/services/connector/connector.service.spec.ts
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Constants/CredentialConstants.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(tests): simplify service initialization in ConnectorExecutorService tests
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp): address review on session invalidation
  .changeset/invalidate-other-sessions-on-password-reset-and-change.md
  packages/idp-better-auth/src/store/MysqlDatabaseStore.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.session-revocation.test.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.session-revocation.test.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connector): handle Microsoft Ads scope fallback and redact token logs
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-message-parser.service.spec.ts
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-message-parser.service.ts
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(idp): remove redundant session revocation tests
  packages/idp-better-auth/src/auth/auth-config.session-revocation.test.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.session-revocation.test.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.session-revocation.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(auth): redesign onboarding questionnaire and update KYA options
  packages/idp-owox-better-auth/src/core/onboarding-constants.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp): clarify multi-device session revocation handling in comments
  .changeset/invalidate-other-sessions-on-password-reset-and-change.md
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): serve connector OAuth callback pages via SPA fallback
  apps/owox/src/web/static-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): guard OAuth SPA-fallback split for MCP vs connector callbacks
  apps/owox/test/web/static-config.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: add changeset for connector OAuth callback routing fix
  .changeset/oauth-connector-callback-routing.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): serve connector OAuth callback pages via SPA fallback (#1349)
  .changeset/oauth-connector-callback-routing.md
  apps/owox/src/web/static-config.ts
  apps/owox/test/web/static-config.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(connector): enhance credential handling with expected value checks and token management
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-process-spawner.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-process-spawner.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp): harden cascade/reset and restore gated revocation tests
  packages/idp-better-auth/src/auth/auth-config.change-password-hook.test.ts
  packages/idp-better-auth/src/auth/auth-config.session-revocation.test.ts
  packages/idp-better-auth/src/auth/auth-config.ts
  packages/idp-better-auth/src/services/user-management-service.ts
  packages/idp-better-auth/src/store/MysqlDatabaseStore.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.session-revocation.test.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.change-password-hook.test.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.session-revocation.test.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(auth): redesign onboarding questionnaire and update KYA options (#1348)
  packages/idp-owox-better-auth/src/core/onboarding-constants.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Detect BigQuery OAuth reauth and skip pre-checks
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-access.validator.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-access.validator.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/shared/utils/storage-oauth-refresh-error.utils.ts
  apps/web/src/features/data-storage/shared/model/hooks/useDataStorageHealthStatus.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend/web): implement Google Sheets auto-creation with Drive folder support
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-destination.api.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/create-data-destination.command.ts
  apps/backend/src/data-marts/dto/domain/data-destination.dto.ts
  apps/backend/src/data-marts/dto/domain/google-sheets/create-google-sheet-document.command.ts
  apps/backend/src/data-marts/dto/domain/update-data-destination.command.ts
  apps/backend/src/data-marts/dto/presentation/create-data-destination-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-destination-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/destination-config.dto.ts
  apps/backend/src/data-marts/dto/presentation/google-sheets/create-google-sheet-document-request.dto.ts
  apps/backend/src/data-marts/dto/presentation/google-sheets/create-google-sheet-document-response.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-destination-api.dto.ts
  apps/backend/src/data-marts/entities/data-destination.entity.ts
  apps/backend/src/data-marts/entities/destination-config.type.ts
  apps/backend/src/data-marts/exceptions/google-oauth.exceptions.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/migrations/1779300000000-add-config-to-data-destination.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-destination/shared/model/mappers/google-sheets.mapper.ts
  apps/web/src/features/data-destination/shared/model/types/data-destination.ts
  apps/web/src/features/data-destination/shared/services/data-destination.service.ts
  apps/web/src/features/data-destination/shared/services/types/create-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/services/types/data-destination.response.dto.ts
  apps/web/src/features/data-destination/shared/services/types/update-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/types/data-destination.schema.ts
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/FormDescriptions/DocumentLinkDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add Report Output Controls guide
  docs/getting-started/setup-guide/output-controls.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(storage): surface expired Google OAuth as a reconnect prompt (#1344)
  .changeset/storage-oauth-reconnect-prompt.md
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-access.validator.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-access-validator.interface.ts
  apps/backend/src/data-marts/dto/presentation/data-storage-access-validation-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/schema-actualize-response-api.dto.ts
  apps/backend/src/data-marts/exceptions/google-oauth.exceptions.ts
  apps/backend/src/data-marts/services/google-oauth/google-oauth-flow.service.ts
  apps/backend/src/data-marts/services/schema-actualize-trigger-handler.service.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/validate-data-storage-access.service.ts
  apps/web/src/app/api/api-error.interface.ts
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/FillFromStorageButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/shared/hooks/__tests__/useSchemaActualizeTrigger.test.ts
  apps/web/src/features/data-marts/shared/hooks/useSchemaActualizeTrigger.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/utils/__tests__/storage-oauth-refresh-error.utils.test.ts
  apps/web/src/features/data-marts/shared/utils/storage-oauth-refresh-error.utils.ts
  apps/web/src/features/data-storage/shared/api/data-storage-api.service.ts
  apps/web/src/features/data-storage/shared/components/DataStorageHealthIndicator/DataStorageHealthIndicator.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageHealthIndicator/DataStorageHealthStatusView.tsx
  apps/web/src/features/data-storage/shared/services/data-storage-health-status.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add MCP server docs and sidebar link
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend/web): add Service Account Drive folder support for Google Sheets auto-creation
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-folder-validator.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-folder-validator.service.ts
  apps/backend/src/data-marts/exceptions/google-oauth.exceptions.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/test/google-sheet-document.e2e-spec.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Revise MCP setup guide and clarify instructions
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(mcp): add MCP server setup guide (#1350)
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp): invalidate other sessions on password reset and change (#1297)
  .changeset/invalidate-other-sessions-on-password-reset-and-change.md
  packages/idp-better-auth/jest.setup.ts
  packages/idp-better-auth/src/auth/auth-config.change-password-hook.test.ts
  packages/idp-better-auth/src/auth/auth-config.session-revocation.test.ts
  packages/idp-better-auth/src/auth/auth-config.ts
  packages/idp-better-auth/src/services/page-service.ts
  packages/idp-better-auth/src/services/user-management-service.test.ts
  packages/idp-better-auth/src/services/user-management-service.ts
  packages/idp-better-auth/src/store/DatabaseStore.ts
  packages/idp-better-auth/src/store/MysqlDatabaseStore.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.session-revocation.test.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.change-password-hook.test.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.session-revocation.test.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): add display titles to data-mart-catalog and project-context tools
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  apps/backend/src/ee/mcp/tools/project-context.tool.spec.ts
  apps/backend/src/ee/mcp/tools/project-context.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): add display titles to data-mart-catalog and project-context tools (#1351)
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  apps/backend/src/ee/mcp/tools/project-context.tool.spec.ts
  apps/backend/src/ee/mcp/tools/project-context.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add Output Controls docs
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Handle Criteo access token refresh and retries
  packages/connectors/src/Sources/CriteoAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Support Microsoft Ads refresh token rotation (#1308)
  .changeset/microsoft-ads-refresh-token-rotation.md
  apps/backend/src/data-marts/connector-types/connector-message/schemas/connector-message.schema.ts
  apps/backend/src/data-marts/connector-types/connector-message/schemas/types/message-credentials-update.schema.ts
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-message-parser.service.spec.ts
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-message-parser.service.ts
  apps/backend/src/data-marts/connector-types/enums/connector-message-type-enum.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-process-spawner.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-process-spawner.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.ts
  apps/backend/src/data-marts/services/connector/connector.service.spec.ts
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Constants/CredentialConstants.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(shopify): add changeset for feature: totalOutstanding field for Shopify orders
  .changeset/shopify-total-outstanding-field.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(shopify): add changeset for feature: totalOutstanding field for Shopify orders (#1354)
  .changeset/shopify-total-outstanding-field.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Refresh Criteo access token before expiry
  .changeset/6667-criteo-token-refresh-on-expiry.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): simplify modal dismiss handling across sheets
  apps/web/src/features/connectors/edit/components/ConnectorEditSheet/ConnectorEditSheet.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-marts/insights/components/InsightSourcesPanel.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerFormSheet/ScheduledTriggerFormSheet.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
  apps/web/src/hooks/useUnsavedGuard.test.ts
  apps/web/src/hooks/useUnsavedGuard.ts
  apps/web/src/pages/data-marts/schedules/ProjectScheduledTriggerEditSheet.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add advanced search experience
  apps/web/src/components/AppSidebar/AppSidebar.tsx
  apps/web/src/components/AppSidebar/MainMenu/MainMenu.tsx
  apps/web/src/components/AppSidebar/SearchButton/SearchButton.test.tsx
  apps/web/src/components/AppSidebar/SearchButton/SearchButton.tsx
  apps/web/src/components/AppSidebar/SearchButton/index.ts
  apps/web/src/components/AppSidebar/menu-item-active.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/search/shared/index.ts
  apps/web/src/features/search/shared/services/search.service.test.ts
  apps/web/src/features/search/shared/services/search.service.ts
  apps/web/src/features/search/shared/types/api/response/index.ts
  apps/web/src/features/search/shared/types/api/response/search-result.response.dto.ts
  apps/web/src/features/search/shared/types/index.ts
  apps/web/src/pages/search/SearchPage.test.tsx
  apps/web/src/pages/search/SearchPage.tsx
  apps/web/src/pages/search/useSearch.test.tsx
  apps/web/src/pages/search/useSearch.ts
  apps/web/src/routes/index.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): expose relevant data mart search tool
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.spec.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
