Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

Refactor connectors to implement async/await in storage retrieval and data saving processes.
  packages/connectors/CREATING_CONNECTOR.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
  packages/connectors/src/Sources/BankOfCanada/Connector.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/GitHub/Connector.js
  packages/connectors/src/Sources/GoogleAds/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/OpenHolidays/Connector.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Refactor AwsAthenaStorage to use async/await
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): mask credentials for all data-mart-run types
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): mask credentials for all data-mart-run types (#712)
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): update GoogleAds and TikTokAds sources to use async/await for improved request handling
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/TikTokAds/TiktokMarketingApiProvider.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): improve ConnectorRunForm layout and update ConnectorStateDescription tex
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/FormDescriptions/ConnectorStateDescription.tsx
  packages/ui/src/components/common/wizard.tsx
Due: none

chore(docs): update owox-data-marts-schema.svg
  docs/res/owox-data-marts-schema.svg
Due: none

chore(docs): update owox-data-marts-schema.svg (#714)
  docs/res/owox-data-marts-schema.svg
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@ff3e919c57433ecd9730bb80ea947c55606b4d25 🚀
  _astro/owox-data-marts-schema.BaNOauO-.svg
  _astro/owox-data-marts-schema.BaNOauO-_ZOkFmD.svg
  _astro/owox-data-marts-schema.yRi6MiEI.svg
  _astro/owox-data-marts-schema.yRi6MiEI_ZOkFmD.svg
  index.html
  pagefind/fragment/en_1dd1864.pf_fragment
  pagefind/fragment/en_e2b893c.pf_fragment
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_27fe443c8f.pf_meta
  pagefind/pagefind.en_e99511b328.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(backend): add transactions write for report runs
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/bootstrap.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp): implement error handling for authentication and token retrieval (#711)
  packages/idp-owox/src/auth/AuthorizationStore.ts
  packages/idp-owox/src/auth/MysqlAuthorizationStore.ts
  packages/idp-owox/src/auth/SqliteAuthorizationStore.ts
  packages/idp-owox/src/auth/StoreResult.ts
  packages/idp-owox/src/client/IdentityOwoxClient.ts
  packages/idp-owox/src/exception.ts
  packages/idp-owox/src/owoxIdp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add GA4 Pageviews Data Mart To Templates
  docs/templates/ga4bigquery/define-GA4-pageviews.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update reporting options in GA4 pageviews documentation
  docs/templates/ga4bigquery/define-GA4-pageviews.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): create component ConnectorStateSection
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorStateSection.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): show connector state (#707)
  .changeset/show-connector-state.md
  apps/backend/src/data-marts/dto/domain/data-mart.dto.ts
  apps/backend/src/data-marts/dto/presentation/connector-state-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-response-api.dto.ts
  apps/backend/src/data-marts/entities/connector-state.entity.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorStateSection.tsx
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/FormDescriptions/ConnectorStateDescription.tsx
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/types/api/response/connector-state.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
  apps/web/src/shared/components/SecureJsonInput/SecureJsonInput.tsx
  packages/ui/src/components/common/wizard.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): update GoogleAds and TikTokAds sources to use async/await for improved request handling (#713)
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/TikTokAds/TiktokMarketingApiProvider.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: issue with missed await when adding new columns
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: issue with missed await when adding new columns (#717)
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): added system triggers (tasks)
  apps/backend/src/common/scheduler/README.md
  apps/backend/src/common/scheduler/shared/entities/system-trigger.entity.ts
  apps/backend/src/common/scheduler/system-tasks/system-task-processor.interface.ts
  apps/backend/src/common/scheduler/system-tasks/system-trigger-handler.service.ts
  apps/backend/src/common/scheduler/system-tasks/system-trigger-type.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/system-triggers/processors/retry-interrupted-connector-runs-processor.ts
  apps/backend/src/migrations/1762269700000-create-system-triggers-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add GA4 Pageviews Data Mart To Templates (#716)
  docs/templates/ga4bigquery/define-GA4-pageviews.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@06ca2364555be75a9001c45f36827a5ed0cfe504 🚀
  docs/templates/ga4bigquery/define-ga4-pageviews/index.html
  pagefind/fragment/en_d557923.pf_fragment
  pagefind/index/en_1842c57.pf_index
  pagefind/index/en_1b476ba.pf_index
  pagefind/index/en_2ad43ee.pf_index
  pagefind/index/en_3284635.pf_index
  pagefind/index/en_482f9b3.pf_index
  pagefind/index/en_4db8e15.pf_index
  pagefind/index/en_5e781e8.pf_index
  pagefind/index/en_66bc52a.pf_index
  pagefind/index/en_712c11d.pf_index
  pagefind/index/en_e7c95c5.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_27fe443c8f.pf_meta
  pagefind/pagefind.en_e26aab917d.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

refactor(backend): refactor report run processing and add transactional write
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/models/looker-studio-report-run.model.ts
  apps/backend/src/data-marts/models/report-run.model.ts
  apps/backend/src/data-marts/services/looker-studio-report-run.service.ts
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(migrations): add migration to drop foreign key from data-mart-run to report
  apps/backend/src/migrations/1762511215226-drop-foreign-key-to-report-in-data-mart-run.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(migrations): add migration to drop foreign key from data-mart-run to report (#719)
  apps/backend/src/migrations/1762511215226-drop-foreign-key-to-report-in-data-mart-run.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): move definitionType state to parent component
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
Due: none

chore(web): code format
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): update use-effect and use-callback dependencies
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
Due: none

fix(web): fix false error actualizing schema (#709)
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/TableToolbar.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SchemaTable.tsx
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/edit/model/helpers/can-actualize-data-mart-schema.helper.test.ts
  apps/web/src/features/data-marts/edit/model/helpers/can-actualize-data-mart-schema.helper.ts
  apps/web/src/features/data-marts/edit/model/helpers/index.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/utils/data-mart-validation.test.ts
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): simplify configuration removal logic and update tooltip messages in ConnectorConfigurationItem component
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
Due: none

feat(connectors): add dirty state management to ConnectorEditForm and ConnectorEditSheet
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditSheet/ConnectorEditSheet.tsx
Due: none

docs: added changelog file
  .changeset/connector-setup-unsaved-changes-dialog.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add Slack, Google Chat and Microsoft Teams icons; update Slack icon to desaturated
  apps/web/src/components/AppSidebar/ProjectMenu/items.ts
  apps/web/src/shared/icons/google-chat-icon.tsx
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  apps/web/src/shared/icons/microsoft-teams-icon.tsx
  apps/web/src/shared/icons/slack-icon-desaturated.tsx
  apps/web/src/shared/icons/slack-icon.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Updated Meta-Content.csv
  apps/docs/data/meta-content.csv
Due: none

Update meta-content.csv with new entries and edits
  apps/docs/data/meta-content.csv
Due: none

refactor(backend): update report run models to use private properties and improve method access
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/models/looker-studio-report-run.model.ts
  apps/backend/src/data-marts/models/report-run.model.ts
  apps/backend/src/data-marts/services/looker-studio-report-run.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): implement optimistic locking with version column in reports and refactor report run models
  apps/backend/src/.gitignore
  apps/backend/src/app.module.ts
  apps/backend/src/bootstrap.ts
  apps/backend/src/data-marts/entities/report.entity.ts
  apps/backend/src/data-marts/models/base-report-run.model.ts
  apps/backend/src/data-marts/models/looker-studio-report-run.model.ts
  apps/backend/src/data-marts/models/report-run.model.ts
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/migrations/1762534573842-add-version-column-to-report.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add custom Email icon component
  apps/web/src/shared/icons/email-icon.tsx
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add Slack, Google Chat, Microsoft Teams, and custom Email icons (#721)
  apps/web/src/components/AppSidebar/ProjectMenu/items.ts
  apps/web/src/shared/icons/email-icon.tsx
  apps/web/src/shared/icons/google-chat-icon.tsx
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  apps/web/src/shared/icons/microsoft-teams-icon.tsx
  apps/web/src/shared/icons/slack-icon-desaturated.tsx
  apps/web/src/shared/icons/slack-icon.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
