Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix/audit: update dependencies and package overrides across workspace
  apps/backend/package.json
  apps/web/package.json
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

feat: add onboarding video for email reports and update help menu
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  apps/web/src/components/ContentPopovers/items.ts
  apps/web/src/components/ContentPopovers/popovers/Video6EmailReports.tsx
  apps/web/src/components/ContentPopovers/popovers/index.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  docs/destinations/supported-destinations/email.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: added changeset
  .changeset/add-video-about-email-based-reports.md
  apps/web/src/components/ContentPopovers/items.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp-owox-better-auth): fix organization domain validation
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: Add onboarding video for email reports and update help menu (#1092)
  .changeset/add-video-about-email-based-reports.md
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  apps/web/src/components/ContentPopovers/items.ts
  apps/web/src/components/ContentPopovers/popovers/Video6EmailReports.tsx
  apps/web/src/components/ContentPopovers/popovers/index.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  docs/destinations/supported-destinations/email.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@2406874a9c678f9b822cde9abe0f0fbfabe1af07 🚀
  _astro/destinations-email-example.DVOzfrrH_1lFKLB.webp
  docs/destinations/supported-destinations/email/index.html
  pagefind/fragment/en_4b55b62.pf_fragment
  pagefind/fragment/en_eccd951.pf_fragment
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_9d8188bf54.pf_meta
  pagefind/pagefind.en_c114c87b37.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(idp-owox-better-auth): fix organization domain validation (#1099)
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix/audit: update dependencies and package overrides across workspace (#1098)
  apps/backend/package.json
  apps/web/package.json
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

Fix/6241 edit button one of credentials (#1087)
  .changeset/fix-edit-button-oneOf-credentials.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationOneOfRender.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: enhance OwnersEditor and DataMartOverviewContent components (#1097)
  apps/web/src/features/data-marts/edit/components/OwnersEditor.tsx
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
  apps/web/src/shared/components/InlineEditDescription/InlineEditDescription.tsx
Due: none

feat(web): improve trigger setup UX with smart defaults, empty state, and presets (#6378)
  .changeset/improve-triggers-ux.md
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerList/ScheduledTriggerList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp): add SessionException to exported exceptions list
  packages/idp-owox-better-auth/src/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp): remove unused OwoxTokenFacade from BetterAuthSessionService constructor
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp, eslint): remove unused OwoxTokenFacade import and test-specific rule overrides
  packages/eslint-config/node.js
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(serve): inline CORS configuration and remove separate config file
  apps/owox/src/commands/serve.ts
  apps/owox/src/config/cors.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

add ai_assistant.turn_requested event
  apps/backend/src/data-marts/events/ai-assistant-turn-requested.event.ts
  apps/backend/src/data-marts/use-cases/create-ai-assistant-message.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-ai-assistant-message.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance report schedule UI with improved label positioning and new schedule presets
  apps/web/src/features/data-marts/scheduled-triggers/components/ReportSchedulesInlineList/ReportSchedulesInlineList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
Due: none

feat(web): improve trigger setup UX with smart defaults (#1089)
  .changeset/improve-triggers-ux.md
  apps/web/src/features/data-marts/scheduled-triggers/components/ReportSchedulesInlineList/ReportSchedulesInlineList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerList/ScheduledTriggerList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

add ai_assistant.turn_processed event
  apps/backend/src/data-marts/ai-insights/utils/compute-model-usage.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/events/ai-assistant-turn-processed.event.ts
  apps/backend/src/data-marts/mappers/ai-assistant-turn-processed-event.mapper.ts
  apps/backend/src/data-marts/use-cases/run-ai-assistant.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-ai-assistant.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

add ai_assistant.action_applied and insight_artifact.sql_preview_requested event
  apps/backend/src/data-marts/events/ai-assistant-action-applied.event.ts
  apps/backend/src/data-marts/events/insight-artifact-sql-preview-requested.event.ts
  apps/backend/src/data-marts/mappers/ai-assistant-apply-action.mapper.ts
  apps/backend/src/data-marts/services/ai-source-apply.service.spec.ts
  apps/backend/src/data-marts/services/ai-source-apply.service.ts
  apps/backend/src/data-marts/services/insight-artifact-sql-preview-trigger.service.spec.ts
  apps/backend/src/data-marts/services/insight-artifact-sql-preview-trigger.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add changeset to fix validation for connector definitions in data marts
  .changeset/fix-data-marts-connector-validation.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add changeset to fix validation for connector definitions in data marts (#1100)
  .changeset/fix-data-marts-connector-validation.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactoring
  apps/backend/src/data-marts/services/ai-source-apply.service.spec.ts
  apps/backend/src/data-marts/services/ai-source-apply.service.ts
  apps/backend/src/data-marts/services/insight-artifact-sql-preview-trigger.service.spec.ts
  apps/backend/src/data-marts/services/insight-artifact-sql-preview-trigger.service.ts
  apps/backend/src/data-marts/use-cases/create-ai-assistant-message.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-ai-assistant-message.service.ts
  apps/backend/src/data-marts/use-cases/run-ai-assistant.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-ai-assistant.service.ts
  packages/internal-helpers/src/integrations/event-bus/event-bus.ts
  packages/internal-helpers/src/integrations/event-bus/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp): simplify Google Sheets Extension route registration logic
  packages/idp-owox-better-auth/src/controllers/google-sheets-auth.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(root): add changeset about owners
  .changeset/the_holy_grail_of_tickets.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp): add Google Sheets Extension auth support (#1095)
  apps/owox/src/commands/serve.ts
  apps/owox/src/idp/factory.ts
  packages/eslint-config/base.js
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/dto/tokenDto.ts
  packages/idp-owox-better-auth/src/controllers/google-sheets-auth.controller.test.ts
  packages/idp-owox-better-auth/src/controllers/google-sheets-auth.controller.ts
  packages/idp-owox-better-auth/src/core/constants.ts
  packages/idp-owox-better-auth/src/core/exceptions.ts
  packages/idp-owox-better-auth/src/dto/google-sheets-auth-request.dto.test.ts
  packages/idp-owox-better-auth/src/dto/google-sheets-auth-request.dto.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.test.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
  packages/idp-owox-better-auth/src/services/middleware/validation-middleware.test.ts
  packages/idp-owox-better-auth/src/services/middleware/validation-middleware.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

add insight_template.run_requested event
  apps/backend/src/data-marts/controllers/insight-template-run-trigger.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight-template-run-trigger.api.ts
  apps/backend/src/data-marts/dto/presentation/create-insight-template-run-trigger-request-api.dto.ts
  apps/backend/src/data-marts/events/insight-template-run-requested.event.ts
  apps/backend/src/data-marts/services/insight-template-run-trigger.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-run-trigger.service.ts
  apps/web/src/features/data-marts/insights/components/AiAssistantPanel.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.test.ts
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.ts
  apps/web/src/features/data-marts/insights/model/templates/types/insight-templates.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(root): add changeset about owners (#1101)
  .changeset/the_holy_grail_of_tickets.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): add new events
  apps/backend/src/data-marts/events/data-mart-definition-set.event.ts
  apps/backend/src/data-marts/events/data-mart-definition-type-set.event.ts
  apps/backend/src/data-marts/events/data-mart-published.event.ts
  apps/backend/src/data-marts/events/report-created.event.ts
  apps/backend/src/data-marts/events/storage-config-set.event.ts
  apps/backend/src/data-marts/events/trigger-created.event.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/create-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat/ai-assistan-produce-events (#1102)
  apps/backend/src/data-marts/ai-insights/utils/compute-model-usage.ts
  apps/backend/src/data-marts/controllers/insight-template-run-trigger.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight-template-run-trigger.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/presentation/create-insight-template-run-trigger-request-api.dto.ts
  apps/backend/src/data-marts/events/ai-assistant-action-applied.event.ts
  apps/backend/src/data-marts/events/ai-assistant-turn-processed.event.ts
  apps/backend/src/data-marts/events/ai-assistant-turn-requested.event.ts
  apps/backend/src/data-marts/events/insight-artifact-sql-preview-requested.event.ts
  apps/backend/src/data-marts/events/insight-template-run-requested.event.ts
  apps/backend/src/data-marts/mappers/ai-assistant-apply-action.mapper.ts
  apps/backend/src/data-marts/mappers/ai-assistant-turn-processed-event.mapper.ts
  apps/backend/src/data-marts/services/ai-source-apply.service.spec.ts
  apps/backend/src/data-marts/services/ai-source-apply.service.ts
  apps/backend/src/data-marts/services/insight-artifact-sql-preview-trigger.service.spec.ts
  apps/backend/src/data-marts/services/insight-artifact-sql-preview-trigger.service.ts
  apps/backend/src/data-marts/services/insight-template-run-trigger.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-run-trigger.service.ts
  apps/backend/src/data-marts/use-cases/create-ai-assistant-message.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-ai-assistant-message.service.ts
  apps/backend/src/data-marts/use-cases/run-ai-assistant.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-ai-assistant.service.ts
  apps/web/src/features/data-marts/insights/components/AiAssistantPanel.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.test.ts
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.ts
  apps/web/src/features/data-marts/insights/model/templates/types/insight-templates.dto.ts
  packages/internal-helpers/src/integrations/event-bus/event-bus.ts
  packages/internal-helpers/src/integrations/event-bus/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): update events
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/events/connector-run-successfully.event.ts
  apps/backend/src/data-marts/events/connector-run.event.ts
  apps/backend/src/data-marts/events/email-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/email-report-run.event.ts
  apps/backend/src/data-marts/events/google-chat-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/google-chat-report-run.event.ts
  apps/backend/src/data-marts/events/insight-run-successfully.event.ts
  apps/backend/src/data-marts/events/insight-run.event.ts
  apps/backend/src/data-marts/events/looker-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/looker-report-run.event.ts
  apps/backend/src/data-marts/events/ms-teams-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/ms-teams-report-run.event.ts
  apps/backend/src/data-marts/events/run-event-status.type.ts
  apps/backend/src/data-marts/events/sheets-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/sheets-report-run.event.ts
  apps/backend/src/data-marts/events/slack-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/slack-report-run.event.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update onboarding flow
  packages/idp-owox-better-auth/src/core/onboarding-constants.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update onboarding flow (#1104)
  packages/idp-owox-better-auth/src/core/onboarding-constants.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

changes after the review
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Sources/XAds/XAdsAPIReference/XAdsFieldsSchema.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

merge
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

changes after the review
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

changes
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Added async methods
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

final changes and changeset
  .changeset/xads-country.md
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Sources/XAds/XAdsAPIReference/XAdsFieldsSchema.js
  packages/connectors/src/Sources/XAds/XAdsAPIReference/statsByCountryFields.js
  packages/connectors/src/Sources/XAds/XAdsAPIReference/targetingLocationsFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
