Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2 --fix

feat: add timeout trigger to send timeout errors notifications
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Constants/CommonConstants.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/BankOfCanada/Code.gs
  packages/connectors/src/Sources/BingAds/Code.gs
  packages/connectors/src/Sources/CriteoAds/Code.gs
  packages/connectors/src/Sources/FacebookMarketing/Code.gs
  packages/connectors/src/Sources/GitHub/Code.gs
  packages/connectors/src/Sources/LinkedIn/Code.gs
  packages/connectors/src/Sources/OpenExchangeRates/Code.gs
  packages/connectors/src/Sources/OpenHolidays/Code.gs
  packages/connectors/src/Sources/RedditAds/Code.gs
  packages/connectors/src/Sources/TikTokAds/Code.gs
  packages/connectors/src/Sources/XAds/Code.gs
  packages/connectors/src/Templates/PublicEndPoint/Code.gs
  packages/connectors/src/Templates/Token-Based/Code.gs
Due: none

feat: add apps script notifications v1.2.0
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
Due: none

fix: fix logs
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Templates/PublicEndPoint/Code.gs
  packages/connectors/src/Templates/Token-Based/Code.gs
Due: none

feat: add apps script notifications v1.1.0
  packages/connectors/src/Configs/AppsScript/EmailNotification.js
  packages/connectors/src/Configs/AppsScript/GoogleChatNotification.js
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
Due: none

fix: fix typo
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
Due: none

feat: add apps script notifications v1.0.0
  packages/connectors/src/Configs/AppsScript/EmailNotification.js
  packages/connectors/src/Configs/AppsScript/GoogleChatNotification.js
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
Due: none

feat(root): revert optional disable husky
  package.json
  tools/setup-husky.mjs
Due: prettier --write

docs(owox): add lint to issue
  apps/owox/README.md
Due: markdownlint-cli2 --fix

feat(backend): add configuration of log levels
  apps/backend/.env.example
  apps/backend/src/common/logger/logger.service.ts
Due: none

Add new UI components for enhanced user interface
  packages/ui/package.json
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/common/multi-select.tsx
  packages/ui/src/components/common/relative-time.tsx
  packages/ui/src/components/hover-card.tsx
  packages/ui/src/components/switch.tsx
Due: prettier --write

Add report status components and hover card functionality
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportHoverCard/ReportHoverCard.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportHoverCard/index.ts
  apps/web/src/features/data-marts/reports/shared/components/ReportStatus/ReportStatus.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportStatus/index.ts
  apps/web/src/features/data-marts/reports/shared/index.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
  apps/web/src/features/data-marts/reports/shared/models/index.ts
  apps/web/src/features/data-marts/reports/shared/models/report-status.model.ts
Due: none

Add timezone service and utility functions
  apps/web/src/services/index.ts
  apps/web/src/services/timezone.service.ts
  apps/web/src/shared/components/Combobox/combobox.tsx
  apps/web/src/shared/types/intl.d.ts
Due: none

Update dependencies for scheduled triggers feature
  apps/web/package.json
  package-lock.json
Due: prettier --write

docs(owox): added a tip on installing nodejs via nvm
  apps/owox/README.md
Due: markdownlint-cli2 --fix

Introduce Storages README(s)
  packages/connectors/src/Storages/AwsAthena/README.md
  packages/connectors/src/Storages/GoogleBigQuery/README.md
  packages/connectors/src/Storages/GoogleSheets/README.md
Due: markdownlint-cli2 --fix

Fix Sources titles
  packages/connectors/src/Sources/BankOfCanada/README.md
  packages/connectors/src/Sources/BingAds/README.md
  packages/connectors/src/Sources/CriteoAds/README.md
  packages/connectors/src/Sources/FacebookMarketing/README.md
  packages/connectors/src/Sources/GitHub/README.md
  packages/connectors/src/Sources/LinkedIn/README.md
  packages/connectors/src/Sources/LinkedIn/manifest.json
  packages/connectors/src/Sources/OpenExchangeRates/README.md
  packages/connectors/src/Sources/OpenHolidays/README.md
  packages/connectors/src/Sources/RedditAds/README.md
  packages/connectors/src/Sources/XAds/README.md
Due: prettier --write, markdownlint-cli2 --fix

Move apps/owox/README.md to getting-started as quick-start.md
  docs/getting-started/quick-start.md
Due: markdownlint-cli2 --fix

Fix quick-start.md
  docs/getting-started/quick-start.md
Due: markdownlint-cli2 --fix

Shuffle md files
  apps/backend/MODULAR_CONVENTIONS.md
  apps/backend/PUBLISHING.md
  apps/backend/README.md
  apps/owox/CONTRIBUTING.md
  apps/owox/PUBLISHING.md
  apps/web/README.md
  docs/contributing/repository/lint-staged-workflow.md
  docs/contributing/repository/release-strategy.md
  docs/contributing/repository/repository-structure.md
  packages/connector-runner/PUBLISHING.md
  packages/connectors/PUBLISHING.md
Due: markdownlint-cli2 --fix

Root README.md – remove extra contributing docs – add minimum mention of Node.js – add mention of AWS Athena
  README.md
Due: markdownlint-cli2 --fix

Docs h1 fix
  apps/docs/README.md
Due: markdownlint-cli2 --fix

Restructure sidebar
  apps/docs/astro.config.mjs
Due: none

Fix some broken links
  apps/web/README.md
  packages/connectors/CONTRIBUTING.md
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
Due: markdownlint-cli2 --fix

Remove redundant "Overview" sections from documentation files
  apps/backend/PUBLISHING.md
  apps/owox/PUBLISHING.md
  apps/web/README.md
  apps/web/src/components/README.md
  apps/web/src/hooks/README.md
  docs/contributing/repository/lint-staged-workflow.md
  docs/contributing/repository/release-strategy.md
  docs/contributing/repository/repository-structure.md
  packages/connector-runner/PUBLISHING.md
  packages/connector-runner/README.md
  packages/connectors/PUBLISHING.md
Due: markdownlint-cli2 --fix

Update Connectors licenses in README files to MIT and add "Licenses" section to sidebar
  apps/docs/astro.config.mjs
  packages/connectors/src/Sources/BankOfCanada/README.md
  packages/connectors/src/Sources/BingAds/README.md
  packages/connectors/src/Sources/CriteoAds/README.md
  packages/connectors/src/Sources/FacebookMarketing/README.md
  packages/connectors/src/Sources/GitHub/README.md
  packages/connectors/src/Sources/LinkedIn/README.md
  packages/connectors/src/Sources/OpenExchangeRates/README.md
  packages/connectors/src/Sources/OpenHolidays/README.md
  packages/connectors/src/Sources/RedditAds/README.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/XAds/README.md
Due: markdownlint-cli2 --fix

feat(root): updated husky hooks creation script
  tools/setup-husky.mjs
Due: none

feat(web): enhance ReportHoverCard with detailed date formatting
  apps/web/src/features/data-marts/reports/shared/components/ReportHoverCard/ReportHoverCard.tsx
Due: none

Fix broken link in README for Community Apps Script Edition section
  README.md
Due: markdownlint-cli2 --fix

fix(StatusLabel): update ghost status style
  apps/web/src/shared/components/StatusLabel/StatusLabel.test.tsx
  apps/web/src/shared/components/StatusLabel/status.config.ts
Due: none

refactor(SidebarHeaderDropdown): updating menu item title
  apps/web/src/components/AppSidebar/sidebar-header-dropdown.tsx
Due: none

feat(web): Adjusted the DataMartTable to utilize the new column
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/index.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartActionsCell.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/SortableHeader.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/index.ts
  apps/web/src/features/data-marts/list/model/mappers/data-mart-list.mapper.ts
  apps/web/src/features/data-marts/list/model/types/dataMart.ts
  apps/web/src/features/data-marts/shared/index.ts
  apps/web/src/features/data-marts/shared/types/data-mart-definition-type.model.ts
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
Due: none

refactor(connectors): simplify layout of Connector Configuration block
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/AddConfigurationButton.tsx
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
Due: none

fix(web): replace icon for DataMarts list empty state
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
Due: none

style(web): update padding in table headers and cells
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
Due: none

Simplify connector README titles and descriptions by removing redundant link formatting and tool references.
  packages/connectors/src/Sources/BankOfCanada/README.md
  packages/connectors/src/Sources/BingAds/README.md
  packages/connectors/src/Sources/CriteoAds/README.md
  packages/connectors/src/Sources/FacebookMarketing/README.md
  packages/connectors/src/Sources/LinkedIn/README.md
  packages/connectors/src/Sources/OpenExchangeRates/README.md
  packages/connectors/src/Sources/OpenHolidays/README.md
  packages/connectors/src/Sources/RedditAds/README.md
  packages/connectors/src/Sources/XAds/README.md
Due: markdownlint-cli2 --fix

Update and simplify README files: - Adjust heading levels in connector-runner README - Ensure consistent formatting in GitHub connector README
  packages/connector-runner/README.md
  packages/connectors/src/Sources/GitHub/README.md
Due: markdownlint-cli2 --fix

refactor: remove notifications timeoutTriggerAction and move logic to GoogleSheetsConfig
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Constants/CommonConstants.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
Due: none

refactor: remove notifications shouldNotify and move logic to GoogleSheetsConfig
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
Due: none

fix(backend): include timezone parameter in `getNextDateFrom` for accurate scheduling
  apps/backend/src/common/scheduler/shared/entities/scheduled-trigger.entity.ts
Due: none

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{yml,yaml})
  markdownlint-cli2 --fix: any of: *.md
