Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): extract CORS configuration logic into a dedicated module (#1330)
  .changeset/configure-cors-allowed-headers.md
  apps/owox/src/commands/serve.ts
  apps/owox/src/web/cors.ts
  apps/owox/src/web/index.ts
  apps/owox/test/web/cors.test.ts
  docs/getting-started/deployment-guide/environment-variables.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@13cae256da658167ebc86477ffd8cd812739f250 🚀
  docs/getting-started/deployment-guide/environment-variables/index.html
  pagefind/fragment/en_5650984.pf_fragment
  pagefind/fragment/en_c37bba4.pf_fragment
  pagefind/index/en_0cb4cec.pf_index
  pagefind/index/en_203578e.pf_index
  pagefind/index/en_31326cb.pf_index
  pagefind/index/en_3d7071c.pf_index
  pagefind/index/en_456ce52.pf_index
  pagefind/index/en_46fab26.pf_index
  pagefind/index/en_534073c.pf_index
  pagefind/index/en_558ce78.pf_index
  pagefind/index/en_5cbec6d.pf_index
  pagefind/index/en_73bb3ed.pf_index
  pagefind/index/en_9b46b0c.pf_index
  pagefind/index/en_9cd4c64.pf_index
  pagefind/index/en_9f995f7.pf_index
  pagefind/index/en_a275b9c.pf_index
  pagefind/index/en_addd898.pf_index
  pagefind/index/en_ef6f561.pf_index
  pagefind/index/en_f79ea94.pf_index
  pagefind/index/en_fdb6acc.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_46849f6087.pf_meta
  pagefind/pagefind.en_b846b5e1cb.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): improve SwitchProjectMenu UX with search, truncation, and keyboard navigation (#1321)
  .changeset/switch-project-menu-ux-improvements.md
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.test.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

web(table-filters): set default table filter operator to is (#1333)
  .changeset/table-filters-default-is-condition.md
  apps/web/src/shared/components/TableFilters/FiltersForm.tsx
  apps/web/src/shared/components/TableFilters/filter-utils.test.ts
  apps/web/src/shared/components/TableFilters/filter-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(deps): resolve js-yaml and markdown-it DoS advisories via overrides
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

chore(deps): drop redundant overrides no longer needed for audit
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

feat(web): readable Output Control fields with search (#1334)
  .changeset/output-controls-readable-fields.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ActiveRulesPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FieldSearchPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FieldSearchPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterOrSliceEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.invariant.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/SortRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-display.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-display.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-utils.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: publish owox declaration files
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.js

fix(web): surface validation errors hidden in collapsed form sections (#1323)
  .changeset/report-form-invalid-submit-guard.md
  apps/web/e2e/selectors/testids.ts
  apps/web/e2e/specs/storage.spec.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/shared/ReportFormActions.test.tsx
  apps/web/src/features/data-marts/reports/edit/components/shared/ReportFormActions.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useEmailReportForm.test.ts
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useGoogleSheetsReportForm.test.ts
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useLookerStudioReportForm.test.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/RedshiftFields.tsx
  apps/web/src/features/data-storage/edit/model/data-storage-form-resolver.test.ts
  apps/web/src/features/data-storage/edit/model/data-storage-form-resolver.ts
  apps/web/src/shared/components/FormSection/FormSection.test.tsx
  apps/web/src/utils/form-utils.test.tsx
  apps/web/src/utils/form-utils.ts
  packages/ui/src/components/form.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(deps): resolve js-yaml & markdown-it audit advisories + prune stale overrides (#1335)
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

chore(deps): remove dev-only vulnerable js-yaml@3 to clear audit
  apps/docs/package.json
  apps/docs/scripts/sync-docs.js
  package-lock.json
  package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add MCP_STATELESS mode for horizontally-scaled MCP server
  .env.example
  apps/backend/src/ee/mcp/config/mcp.config.ts
  apps/backend/src/ee/mcp/sdk/mcp-streamable-http-session.registry.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-streamable-http-session.registry.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: record executed SQL on report runs and show it in Run History
  .changeset/run-history-executed-sql.md
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/dto/domain/cached-reader-data.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run-report-definition.schema.ts
  apps/backend/src/data-marts/services/report-data-cache.service.spec.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/ConfigurationView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/__tests__/ConfigurationView.test.tsx
  apps/web/src/features/data-marts/edit/model/types/data-mart-run-report-definition.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(deps): bump multer to ^2.2.0 to clear new prod audit DoS advisories
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

feat(mcp): implement stateless transport handler for MCP requests
  apps/backend/src/ee/ee.module.ts
  apps/backend/src/ee/mcp/auth/mcp-auth.exception-filter.ts
  apps/backend/src/ee/mcp/controllers/mcp-transport.controller.spec.ts
  apps/backend/src/ee/mcp/controllers/mcp-transport.controller.ts
  apps/backend/src/ee/mcp/sdk/mcp-streamable-http-session.registry.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-streamable-http-session.registry.ts
  apps/backend/src/ee/mcp/sdk/mcp-streamable-http-transport.handler.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-streamable-http-transport.handler.ts
  apps/backend/src/idp/oauth/oauth-request.validator.spec.ts
  apps/backend/src/idp/oauth/oauth-request.validator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): implement stateless transport handler for MCP requests (#1340)
  apps/backend/src/ee/ee.module.ts
  apps/backend/src/ee/mcp/auth/mcp-auth.exception-filter.ts
  apps/backend/src/ee/mcp/controllers/mcp-transport.controller.spec.ts
  apps/backend/src/ee/mcp/controllers/mcp-transport.controller.ts
  apps/backend/src/ee/mcp/sdk/mcp-streamable-http-session.registry.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-streamable-http-session.registry.ts
  apps/backend/src/ee/mcp/sdk/mcp-streamable-http-transport.handler.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-streamable-http-transport.handler.ts
  apps/backend/src/idp/oauth/oauth-request.validator.spec.ts
  apps/backend/src/idp/oauth/oauth-request.validator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): record executionSqlQuery best-effort so it can't abort a run
  apps/backend/src/data-marts/services/report-data-cache.service.spec.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): single-source hasOutputControls across report paths
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: reduce memory usage in project list queries
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/insight-template.service.spec.ts
  apps/backend/src/data-marts/services/insight-template.service.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-project.service.spec.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-project.service.ts
  apps/backend/src/data-marts/utils/project-list-sql-dialects.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: handle unknown report statuses
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/shared/models/report-status.model.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): improve error handling for UserAvatar and type safety for report statuses
  apps/backend/src/data-marts/use-cases/list-reports-by-project.service.spec.ts
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/shared/models/report-status.model.ts
  apps/web/src/shared/components/UserAvatar/UserAvatar.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Write incremental checkpoint only on success
  .changeset/connector-partial-run-checkpoint.md
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/GoogleAds/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/XAds/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: address pull request review feedback
  apps/backend/src/data-marts/services/insight-template.service.spec.ts
  apps/backend/src/data-marts/services/insight-template.service.ts
  apps/web/src/shared/components/UserAvatar/UserAvatar.test.tsx
  apps/web/src/shared/components/UserAvatar/UserAvatar.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): optimize project-wide list queries (#1341)
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/insight-template.service.spec.ts
  apps/backend/src/data-marts/services/insight-template.service.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-project.service.spec.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-project.service.ts
  apps/backend/src/data-marts/utils/project-list-sql-dialects.spec.ts
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/shared/models/report-status.model.ts
  apps/web/src/shared/components/UserAvatar/UserAvatar.test.tsx
  apps/web/src/shared/components/UserAvatar/UserAvatar.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): exclude disconnected fields from AI Helper sample query
  .changeset/ai-helper-skip-disconnected-fields.md
  apps/backend/src/data-marts/ai-insights/generate-data-mart-metadata.orchestrator.service.spec.ts
  apps/backend/src/data-marts/ai-insights/generate-data-mart-metadata.orchestrator.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(backend): extract isConnected schema-field helper
  apps/backend/src/data-marts/ai-insights/generate-data-mart-metadata.orchestrator.service.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): use isConnected in report header generators
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/flat-report-headers-generator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(deps): remove dev-only vulnerable js-yaml@3 to clear audit (#166) (#1337)
  apps/docs/package.json
  apps/docs/scripts/sync-docs.js
  package-lock.json
  package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: record executed SQL on report runs and show it in Run History (#1338)
  .changeset/run-history-executed-sql.md
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/dto/domain/cached-reader-data.dto.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run-report-definition.schema.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/report-data-cache.service.spec.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/ConfigurationView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/__tests__/ConfigurationView.test.tsx
  apps/web/src/features/data-marts/edit/model/types/data-mart-run-report-definition.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add pre-run storage OAuth access check
  apps/backend/src/data-marts/exceptions/google-oauth.exceptions.ts
  apps/backend/src/data-marts/services/google-oauth/google-oauth-flow.service.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.ts
  apps/web/src/features/data-storage/shared/model/hooks/useDataStorageHealthStatus.ts
  apps/web/src/features/data-storage/shared/services/data-storage-health-status.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@89bd7278b5fcf5b5fd4f05c279b82119464b1019 🚀
  apps/backend/src/data-marts/data-destination-types/ee/readme/index.html
  pagefind/fragment/en_60be1e8.pf_fragment
  pagefind/fragment/en_6bd997c.pf_fragment
  pagefind/index/en_31326cb.pf_index
  pagefind/index/en_3d7071c.pf_index
  pagefind/index/en_409f4d7.pf_index
  pagefind/index/en_456ce52.pf_index
  pagefind/index/en_45b6201.pf_index
  pagefind/index/en_46fab26.pf_index
  pagefind/index/en_558ce78.pf_index
  pagefind/index/en_5cbec6d.pf_index
  pagefind/index/en_62f8f56.pf_index
  pagefind/index/en_73bb3ed.pf_index
  pagefind/index/en_8a37e95.pf_index
  pagefind/index/en_959e856.pf_index
  pagefind/index/en_98830ce.pf_index
  pagefind/index/en_addd898.pf_index
  pagefind/index/en_ae8dde8.pf_index
  pagefind/index/en_bac87fd.pf_index
  pagefind/index/en_caf6492.pf_index
  pagefind/index/en_fdb6acc.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_46849f6087.pf_meta
  pagefind/pagefind.en_8aee89294e.pf_meta
Due: prettier --write --config ./prettier.config.js

Changeset
  .changeset/storage-oauth-reconnect-prompt.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

style(web): wrap long line in FilterRow to satisfy prettier
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterRow.tsx
Due: none

Remove force handling from health status queue
  apps/web/src/features/data-storage/shared/services/data-storage-health-status.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(data-marts): tidy Databricks identifier-casing comment
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(data-marts): tidy Databricks identifier-casing comment (#1345)
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(docker): pin base image to node:22.22.3-slim
  Dockerfile
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
