Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

feat(Web): added invite colleague card (#1119)
  .changeset/invite-teammates-block.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConnectorSelectionStep.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/EmptyDataDestinationsState.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ReportSchedulesInlineList/ReportSchedulesInlineList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/EmptyDataStoragesState.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/FormField.tsx
  apps/web/src/shared/components/AuthenticationSectionHeader/AuthenticationSectionHeader.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCard.tsx
  apps/web/src/shared/components/InviteTeammatesCard/InviteTeammatesCard.tsx
  apps/web/src/shared/components/InviteTeammatesCard/index.ts
  apps/web/src/shared/components/TableFilters/FiltersForm.tsx
  packages/ui/src/components/common/wizard.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/styles/globals.css
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-storage): display default error message for invalid storage status (#1124)
  .changeset/empty-storage-error.md
  apps/web/src/features/data-storage/shared/components/DataStorageHealthIndicator/DataStorageHealthStatusView.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): add event-driven lifecycle for reports and implement Google Sheets metadata management
  .github/workflows/test-integration.yml
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/listeners/google-sheets-report-created.listener.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/listeners/google-sheets-report-created.listener.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/listeners/google-sheets-report-deleted.listener.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/listeners/google-sheets-report-deleted.listener.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  apps/backend/src/data-marts/events/report-deleted.event.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/delete-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/delete-report.service.ts
  apps/backend/test/integration/README.md
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/integration/google-sheets.integration.ts
  package-lock.json
  packages/test-utils/src/constants.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(eslint): relax rules for test files and remove redundant eslint-disable comments
  apps/backend/src/common/scheduler/services/graceful-shutdown.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-config.service.spec.ts
  apps/backend/test/data-storage.e2e-spec.ts
  packages/eslint-config/nestjs.js
  packages/eslint-config/node.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(ci): standardize string quotes in test-integration.yml and fix README code block formatting
  .github/workflows/test-integration.yml
  apps/backend/test/integration/README.md
Due: prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

combined relation cards
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipList.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useTransientRelationships.ts
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

ralations moved to data setup
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
  apps/web/src/routes/data-marts/routes.tsx
Due: none

ralationships counter moved
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
Due: none

ralationship list icons changed
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipList.tsx
Due: none

feat(email-report): add validation for email report fields and default values (#1121)
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useEmailReportForm.test.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

relationship block updated
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipList.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add Google Sheets integration for report metadata (#1126)
  .github/workflows/test-integration.yml
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/common/scheduler/services/graceful-shutdown.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/listeners/google-sheets-report-created.listener.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/listeners/google-sheets-report-created.listener.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/listeners/google-sheets-report-deleted.listener.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/listeners/google-sheets-report-deleted.listener.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/events/report-deleted.event.ts
  apps/backend/src/data-marts/services/connector/connector-source-config.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/delete-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/delete-report.service.ts
  apps/backend/test/data-storage.e2e-spec.ts
  apps/backend/test/integration/README.md
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/integration/google-sheets.integration.ts
  package-lock.json
  packages/eslint-config/nestjs.js
  packages/eslint-config/node.js
  packages/test-utils/src/constants.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@85fa97c0d1de90dee06720fd6d549fca1d47f796 🚀
  apps/backend/test/integration/readme/index.html
  pagefind/fragment/en_81d731a.pf_fragment
  pagefind/fragment/en_fed4b3a.pf_fragment
  pagefind/index/en_35db562.pf_index
  pagefind/index/en_3695904.pf_index
  pagefind/index/en_36b1616.pf_index
  pagefind/index/en_3c807dd.pf_index
  pagefind/index/en_4e19fc2.pf_index
  pagefind/index/en_57a55df.pf_index
  pagefind/index/en_7c38023.pf_index
  pagefind/index/en_7f8acea.pf_index
  pagefind/index/en_8f9bdbc.pf_index
  pagefind/index/en_95ebaa5.pf_index
  pagefind/index/en_9b209d8.pf_index
  pagefind/index/en_ad64218.pf_index
  pagefind/index/en_b3e0bca.pf_index
  pagefind/index/en_bd39a31.pf_index
  pagefind/index/en_c6c4095.pf_index
  pagefind/index/en_d427667.pf_index
  pagefind/index/en_e434fcb.pf_index
  pagefind/index/en_fa5f4d2.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5794a6a28c.pf_meta
  pagefind/pagefind.en_5f5e57f218.pf_meta
Due: prettier --write --config ./prettier.config.js

save
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/BlendedFieldsSection.tsx
Due: none

feat(databricks): implement query cursor for efficient data fetching and add error handling
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-report-reader.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-sql-run.executor.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-sql-run.executor.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance DataMartDetails component with tooltips and soft pulse animation
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  packages/ui/src/styles/globals.css
Due: none

feat(web): enhance DataMartDetails component with tooltips and soft pulse animation (#1129)
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  packages/ui/src/styles/globals.css
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@c39ce35d67e4f8509ea9660ab685cbb1684c62db 🚀
  pagefind/index/en_109c861.pf_index
  pagefind/index/en_1bb0e17.pf_index
  pagefind/index/en_2abdef9.pf_index
  pagefind/index/en_2ac3877.pf_index
  pagefind/index/en_5520165.pf_index
  pagefind/index/en_57a55df.pf_index
  pagefind/index/en_66d5275.pf_index
  pagefind/index/en_7c38023.pf_index
  pagefind/index/en_7f8acea.pf_index
  pagefind/index/en_8f9bdbc.pf_index
  pagefind/index/en_b3e0bca.pf_index
  pagefind/index/en_bd39a31.pf_index
  pagefind/index/en_c6c4095.pf_index
  pagefind/index/en_d427667.pf_index
  pagefind/index/en_e434fcb.pf_index
  pagefind/index/en_eb4b503.pf_index
  pagefind/index/en_fcc53d7.pf_index
  pagefind/index/en_fe51c85.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5794a6a28c.pf_meta
  pagefind/pagefind.en_a32d573f3c.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(facebook): implement progressive data saving to prevent loss on API errors
  .changeset/facebook-progressive-save-on-fetch.md
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(google-sheets): improve error message for permission issues
  .changeset/google-sheets-permission-error.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

save blending section
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.ts
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/dto/domain/data-mart.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-response-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/relationship-schemas.spec.ts
  apps/backend/src/data-marts/dto/schemas/relationship-schemas.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-relationship.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipDialog.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipList.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/services/data-mart-relationship.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

save blending section
  apps/backend/src/data-marts/dto/domain/update-blended-fields-config.command.ts
  apps/backend/src/data-marts/dto/presentation/update-blended-fields-config-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schemas.spec.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schemas.ts
  apps/backend/src/data-marts/use-cases/update-blended-fields-config.service.ts
  apps/backend/src/migrations/1775600000000-add-blended-fields-config-to-data-mart.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/BlendedSourcesSubsection.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceConfigDialog.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

actualise report sidebar
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/BlendedSourcesSubsection.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
Due: none

save
  apps/backend/src/data-marts/services/blendable-schema.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

counters save
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

save
  apps/backend/src/data-marts/dto/presentation/create-relationship-request-api.dto.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/BlendedSourcesSubsection.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(google-sheets): clarify error message for access denial
  .changeset/google-sheets-permission-error.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(facebook): implement progressive data saving to prevent loss on API errors (#1130)
  .changeset/facebook-progressive-save-on-fetch.md
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@15390c6f591ff9ebc22f9082c67d51eb1be9ba8f 🚀
  pagefind/index/en_109c861.pf_index
  pagefind/index/en_1bb0e17.pf_index
  pagefind/index/en_2abdef9.pf_index
  pagefind/index/en_2ac3877.pf_index
  pagefind/index/en_5520165.pf_index
  pagefind/index/en_57a55df.pf_index
  pagefind/index/en_66d5275.pf_index
  pagefind/index/en_7c38023.pf_index
  pagefind/index/en_7f8acea.pf_index
  pagefind/index/en_8f9bdbc.pf_index
  pagefind/index/en_b3e0bca.pf_index
  pagefind/index/en_bd39a31.pf_index
  pagefind/index/en_c6c4095.pf_index
  pagefind/index/en_d427667.pf_index
  pagefind/index/en_e434fcb.pf_index
  pagefind/index/en_eb4b503.pf_index
  pagefind/index/en_fcc53d7.pf_index
  pagefind/index/en_fe51c85.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5794a6a28c.pf_meta
  pagefind/pagefind.en_a32d573f3c.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(google-sheets): improve error message for permission issues (#1131)
  .changeset/google-sheets-permission-error.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@5d9c896f83714d3b58f3c52d9cead809f1806c51 🚀
  pagefind/index/en_109c861.pf_index
  pagefind/index/en_1bb0e17.pf_index
  pagefind/index/en_2abdef9.pf_index
  pagefind/index/en_2ac3877.pf_index
  pagefind/index/en_5520165.pf_index
  pagefind/index/en_57a55df.pf_index
  pagefind/index/en_66d5275.pf_index
  pagefind/index/en_7c38023.pf_index
  pagefind/index/en_7f8acea.pf_index
  pagefind/index/en_8f9bdbc.pf_index
  pagefind/index/en_b3e0bca.pf_index
  pagefind/index/en_bd39a31.pf_index
  pagefind/index/en_c6c4095.pf_index
  pagefind/index/en_d427667.pf_index
  pagefind/index/en_e434fcb.pf_index
  pagefind/index/en_eb4b503.pf_index
  pagefind/index/en_fcc53d7.pf_index
  pagefind/index/en_fe51c85.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5794a6a28c.pf_meta
  pagefind/pagefind.en_a32d573f3c.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): add error boundaries for graceful crash handling
  .changeset/hello-ruslan.md
  apps/web/src/components/errors/LayoutErrorBoundary.tsx
  apps/web/src/components/errors/RootErrorBoundary.tsx
  apps/web/src/components/errors/index.ts
  apps/web/src/components/errors/logRouteError.ts
  apps/web/src/routes/data-marts/routes.tsx
  apps/web/src/routes/index.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp-owox-better-auth): update onboarding storage question
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
Due: none

feat(idp-owox-better-auth): update onboarding storage question (#1133)
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@59fd4fd8c8e41e90f4206a25247b29d56de3fde8 🚀
  pagefind/index/en_109c861.pf_index
  pagefind/index/en_1bb0e17.pf_index
  pagefind/index/en_2abdef9.pf_index
  pagefind/index/en_2ac3877.pf_index
  pagefind/index/en_5520165.pf_index
  pagefind/index/en_57a55df.pf_index
  pagefind/index/en_66d5275.pf_index
  pagefind/index/en_7c38023.pf_index
  pagefind/index/en_7f8acea.pf_index
  pagefind/index/en_8f9bdbc.pf_index
  pagefind/index/en_b3e0bca.pf_index
  pagefind/index/en_bd39a31.pf_index
  pagefind/index/en_c6c4095.pf_index
  pagefind/index/en_d427667.pf_index
  pagefind/index/en_e434fcb.pf_index
  pagefind/index/en_eb4b503.pf_index
  pagefind/index/en_fcc53d7.pf_index
  pagefind/index/en_fe51c85.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5794a6a28c.pf_meta
  pagefind/pagefind.en_a32d573f3c.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(backend): add identity field to Google Sheets OAuth credentials handling
  apps/backend/src/data-marts/data-destination-types/factories/data-destination-public-credentials.factory.ts
  apps/backend/src/data-marts/dto/presentation/data-destination-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add identity field to Google Sheets OAuth credentials handling (#1134)
  apps/backend/src/data-marts/data-destination-types/factories/data-destination-public-credentials.factory.ts
  apps/backend/src/data-marts/dto/presentation/data-destination-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@284905b945cf376afce4e7f143d1b0a039785767 🚀
  pagefind/index/en_109c861.pf_index
  pagefind/index/en_1bb0e17.pf_index
  pagefind/index/en_2abdef9.pf_index
  pagefind/index/en_2ac3877.pf_index
  pagefind/index/en_5520165.pf_index
  pagefind/index/en_57a55df.pf_index
  pagefind/index/en_66d5275.pf_index
  pagefind/index/en_7c38023.pf_index
  pagefind/index/en_7f8acea.pf_index
  pagefind/index/en_8f9bdbc.pf_index
  pagefind/index/en_b3e0bca.pf_index
  pagefind/index/en_bd39a31.pf_index
  pagefind/index/en_c6c4095.pf_index
  pagefind/index/en_d427667.pf_index
  pagefind/index/en_e434fcb.pf_index
  pagefind/index/en_eb4b503.pf_index
  pagefind/index/en_fcc53d7.pf_index
  pagefind/index/en_fe51c85.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5794a6a28c.pf_meta
  pagefind/pagefind.en_a32d573f3c.pf_meta
Due: prettier --write --config ./prettier.config.js

docs(web): update README.md
  apps/web/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
