Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(backend): pre-clear Google Sheets imported rectangle before writes (#1233)
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.ts
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@62816369b3e61cc43589d7a3318700668a21a257 🚀
  docs/destinations/supported-destinations/google-sheets/index.html
  pagefind/fragment/en_1ffb388.pf_fragment
  pagefind/fragment/en_3e36cf4.pf_fragment
  pagefind/index/en_1087aeb.pf_index
  pagefind/index/en_136e1b9.pf_index
  pagefind/index/en_15b9717.pf_index
  pagefind/index/en_18e36aa.pf_index
  pagefind/index/en_2d754e1.pf_index
  pagefind/index/en_49d777d.pf_index
  pagefind/index/en_6babdd9.pf_index
  pagefind/index/en_73595e5.pf_index
  pagefind/index/en_7b79d2d.pf_index
  pagefind/index/en_7b96232.pf_index
  pagefind/index/en_7bbe553.pf_index
  pagefind/index/en_85b7065.pf_index
  pagefind/index/en_875515a.pf_index
  pagefind/index/en_8a606ae.pf_index
  pagefind/index/en_9e8d17d.pf_index
  pagefind/index/en_ab3d69d.pf_index
  pagefind/index/en_ce2cffc.pf_index
  pagefind/index/en_ddc1eed.pf_index
  pagefind/index/en_ee1b178.pf_index
  pagefind/index/en_f68cae9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_0e846df8a0.pf_meta
  pagefind/pagefind.en_dccc75c940.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(backend): OOM during AI metadata generation (#1235)
  apps/backend/src/data-marts/ai-insights/generate-data-mart-metadata.orchestrator.service.ts
  apps/backend/src/data-marts/services/data-mart-sample-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

changeset
  .changeset/slices-pre-join-filters.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(slices): address review findings — validation chokepoint, drift handling, UX
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/test/output-controls.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(api): refine report OpenAPI schemas
  apps/backend/src/data-marts/controllers/spec/report-openapi.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
  apps/backend/src/data-marts/dto/presentation/create-report-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/report-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-report-request-api.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(api): refine report OpenAPI schemas (#1237)
  apps/backend/src/data-marts/controllers/spec/report-openapi.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
  apps/backend/src/data-marts/dto/presentation/create-report-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/report-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-report-request-api.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(api): disambiguate email report configs
  apps/backend/src/data-marts/controllers/spec/report-openapi.ts
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(api): disambiguate email report configs (#1239)
  apps/backend/src/data-marts/controllers/spec/report-openapi.ts
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(api): add Project Member API Key management entity
  apps/backend/src/migrations/1777000000000-create-project-member-api-key-table.ts
  apps/backend/src/project-member-api-keys/dto/domain/project-member-api-key-metadata.dto.ts
  apps/backend/src/project-member-api-keys/entities/project-member-api-key.entity.ts
  apps/backend/src/project-member-api-keys/mappers/project-member-api-key.mapper.spec.ts
  apps/backend/src/project-member-api-keys/mappers/project-member-api-key.mapper.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key-crypto.service.spec.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key-crypto.service.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.spec.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): resolve React SVG attribute warnings in Azure Synapse and Microsoft Teams icons (#1234)
  .changeset/fix-icons-svg-attributes.md
  apps/web/src/shared/icons/azure-synapse-icon.tsx
  apps/web/src/shared/icons/microsoft-teams-icon.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): wire project member api keys module
  apps/backend/src/app.module.ts
  apps/backend/src/migrations/1777000000000-create-project-member-api-key-table.ts
  apps/backend/src/project-member-api-keys/dto/domain/project-member-api-key-metadata.dto.ts
  apps/backend/src/project-member-api-keys/entities/project-member-api-key.entity.ts
  apps/backend/src/project-member-api-keys/project-member-api-keys.module.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(changeset): include duplicate CTE name fix from #1209
  .changeset/fix-blended-where-cte-qualification.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@48af486c9859ee493aece2dec77ce07a2eb3963c 🚀
  pagefind/index/en_1087aeb.pf_index
  pagefind/index/en_136e1b9.pf_index
  pagefind/index/en_15b9717.pf_index
  pagefind/index/en_18e36aa.pf_index
  pagefind/index/en_312c196.pf_index
  pagefind/index/en_43fbd93.pf_index
  pagefind/index/en_49d777d.pf_index
  pagefind/index/en_6babdd9.pf_index
  pagefind/index/en_6bb63a8.pf_index
  pagefind/index/en_8745371.pf_index
  pagefind/index/en_875515a.pf_index
  pagefind/index/en_902d666.pf_index
  pagefind/index/en_a79138c.pf_index
  pagefind/index/en_ca8c4bf.pf_index
  pagefind/index/en_cbb958b.pf_index
  pagefind/index/en_ce2cffc.pf_index
  pagefind/index/en_d436b44.pf_index
  pagefind/index/en_e975774.pf_index
  pagefind/index/en_ee1b178.pf_index
  pagefind/index/en_f68cae9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_9b9118d639.pf_meta
  pagefind/pagefind.en_dccc75c940.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(backend): Biz Owner no longer downgrades Tech User access
  .changeset/I-am-a-business-owner-and-I-want-change-data-mart.md
  apps/backend/src/data-marts/services/access-decision/access-decision-e2e.spec.ts
  apps/backend/src/data-marts/services/access-decision/access-matrix.config.ts
  docs/project/ownership-and-availability.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changesets
  .changeset/data-mart-title-non-bmp-validation.md
  .changeset/fix-destination-loading-delay-extension.md
  .changeset/fix-hidden-reporting-fields-extension-column-picker.md
  .changeset/improve-empty-screen-extension-new-users.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changesets (#1243)
  .changeset/data-mart-title-non-bmp-validation.md
  .changeset/fix-destination-loading-delay-extension.md
  .changeset/fix-hidden-reporting-fields-extension-column-picker.md
  .changeset/improve-empty-screen-extension-new-users.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@ce7d14d4f60290d7a00e15a6406a4f849b35f992 🚀
  pagefind/index/en_1087aeb.pf_index
  pagefind/index/en_136e1b9.pf_index
  pagefind/index/en_15b9717.pf_index
  pagefind/index/en_18e36aa.pf_index
  pagefind/index/en_312c196.pf_index
  pagefind/index/en_43fbd93.pf_index
  pagefind/index/en_49d777d.pf_index
  pagefind/index/en_6babdd9.pf_index
  pagefind/index/en_6bb63a8.pf_index
  pagefind/index/en_8745371.pf_index
  pagefind/index/en_875515a.pf_index
  pagefind/index/en_902d666.pf_index
  pagefind/index/en_a79138c.pf_index
  pagefind/index/en_ca8c4bf.pf_index
  pagefind/index/en_cbb958b.pf_index
  pagefind/index/en_ce2cffc.pf_index
  pagefind/index/en_d436b44.pf_index
  pagefind/index/en_e975774.pf_index
  pagefind/index/en_ee1b178.pf_index
  pagefind/index/en_f68cae9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_9b9118d639.pf_meta
  pagefind/pagefind.en_dccc75c940.pf_meta
Due: prettier --write --config ./prettier.config.js

docs: clarify Microsoft Ads numeric IDs
  .changeset/microsoft-ads-numeric-id-guidance.md
  apps/backend/test/connector-specification.e2e-spec.ts
  docs/google-sheets-connectors/microsoft-ads.md
  packages/connectors/src/Sources/MicrosoftAds/CREDENTIALS.md
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: clarify Microsoft Ads numeric IDs (#1244)
  .changeset/microsoft-ads-numeric-id-guidance.md
  apps/backend/test/connector-specification.e2e-spec.ts
  docs/google-sheets-connectors/microsoft-ads.md
  packages/connectors/src/Sources/MicrosoftAds/CREDENTIALS.md
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@31ae8384fcfd31a40b4619ebfd470edd0af2dfae 🚀
  docs/google-sheets-connectors/microsoft-ads/index.html
  packages/connectors/src/sources/microsoft-ads/credentials/index.html
  pagefind/fragment/en_11ec194.pf_fragment
  pagefind/fragment/en_726baa8.pf_fragment
  pagefind/fragment/en_8052328.pf_fragment
  pagefind/fragment/en_be182b5.pf_fragment
  pagefind/index/en_1087aeb.pf_index
  pagefind/index/en_136e1b9.pf_index
  pagefind/index/en_15b9717.pf_index
  pagefind/index/en_18e36aa.pf_index
  pagefind/index/en_49d777d.pf_index
  pagefind/index/en_68fec2f.pf_index
  pagefind/index/en_6babdd9.pf_index
  pagefind/index/en_77fb467.pf_index
  pagefind/index/en_82f41e8.pf_index
  pagefind/index/en_875515a.pf_index
  pagefind/index/en_91aee7e.pf_index
  pagefind/index/en_a1da364.pf_index
  pagefind/index/en_aa27424.pf_index
  pagefind/index/en_b15de36.pf_index
  pagefind/index/en_b2094aa.pf_index
  pagefind/index/en_cceaea3.pf_index
  pagefind/index/en_ce2cffc.pf_index
  pagefind/index/en_d2e2199.pf_index
  pagefind/index/en_ee1b178.pf_index
  pagefind/index/en_f68cae9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_94195fde4f.pf_meta
  pagefind/pagefind.en_dccc75c940.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(api): add Project Member API Key management entity (#1241)
  apps/backend/src/app.module.ts
  apps/backend/src/migrations/1777000000000-create-project-member-api-key-table.ts
  apps/backend/src/project-member-api-keys/dto/domain/project-member-api-key-metadata.dto.ts
  apps/backend/src/project-member-api-keys/entities/project-member-api-key.entity.ts
  apps/backend/src/project-member-api-keys/mappers/project-member-api-key.mapper.spec.ts
  apps/backend/src/project-member-api-keys/mappers/project-member-api-key.mapper.ts
  apps/backend/src/project-member-api-keys/project-member-api-keys.module.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key-crypto.service.spec.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key-crypto.service.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.spec.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@52f82805ea8e84c90cef3e0783e91ed5af8d18f9 🚀
  pagefind/index/en_32f4fd1.pf_index
  pagefind/index/en_68fec2f.pf_index
  pagefind/index/en_77fb467.pf_index
  pagefind/index/en_82f41e8.pf_index
  pagefind/index/en_91aee7e.pf_index
  pagefind/index/en_a1da364.pf_index
  pagefind/index/en_aa27424.pf_index
  pagefind/index/en_b15de36.pf_index
  pagefind/index/en_b2094aa.pf_index
  pagefind/index/en_b3e7d16.pf_index
  pagefind/index/en_bf26887.pf_index
  pagefind/index/en_caa38d2.pf_index
  pagefind/index/en_cceaea3.pf_index
  pagefind/index/en_ce3fd51.pf_index
  pagefind/index/en_d2e2199.pf_index
  pagefind/index/en_e0e8cdd.pf_index
  pagefind/index/en_e9741cd.pf_index
  pagefind/index/en_ea11484.pf_index
  pagefind/index/en_eba0b24.pf_index
  pagefind/index/en_efd2846.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_32b29ad994.pf_meta
  pagefind/pagefind.en_94195fde4f.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(api): implement Project Member API Key token exchange functionality
  apps/backend/src/idp/guards/idp.guard.spec.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/backend/src/idp/types/auth.types.ts
  apps/backend/src/project-member-api-keys/controllers/api-key-exchange.controller.ts
  apps/backend/src/project-member-api-keys/dto/domain/exchange-project-member-api-key-result.dto.ts
  apps/backend/src/project-member-api-keys/dto/domain/exchange-project-member-api-key.command.ts
  apps/backend/src/project-member-api-keys/dto/domain/project-member-api-key-issuing-parameters.dto.ts
  apps/backend/src/project-member-api-keys/dto/presentation/exchange-project-member-api-key-request-api.dto.ts
  apps/backend/src/project-member-api-keys/dto/presentation/exchange-project-member-api-key-response-api.dto.ts
  apps/backend/src/project-member-api-keys/mappers/project-member-api-key.mapper.spec.ts
  apps/backend/src/project-member-api-keys/mappers/project-member-api-key.mapper.ts
  apps/backend/src/project-member-api-keys/project-member-api-keys.module.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.spec.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.ts
  apps/backend/src/project-member-api-keys/use-cases/exchange-project-member-api-key.service.spec.ts
  apps/backend/src/project-member-api-keys/use-cases/exchange-project-member-api-key.service.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.projectMemberApiKey.test.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.userProvisioning.test.ts
  packages/idp-owox-better-auth/src/client/dto/idpOwoxPayloadDto.ts
  packages/idp-owox-better-auth/src/client/dto/index.ts
  packages/idp-owox-better-auth/src/client/dto/projectMemberApiKeyAuthFlowDto.ts
  packages/idp-owox-better-auth/src/mappers/client-payload-mapper.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-protocol/src/providers/null-provider.test.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@029389f70d6d6d1741de9e80b6cd46eb6ced0ea9 🚀
  pagefind/index/en_32f4fd1.pf_index
  pagefind/index/en_68fec2f.pf_index
  pagefind/index/en_77fb467.pf_index
  pagefind/index/en_82f41e8.pf_index
  pagefind/index/en_91aee7e.pf_index
  pagefind/index/en_a1da364.pf_index
  pagefind/index/en_aa27424.pf_index
  pagefind/index/en_b15de36.pf_index
  pagefind/index/en_b2094aa.pf_index
  pagefind/index/en_b3e7d16.pf_index
  pagefind/index/en_bf26887.pf_index
  pagefind/index/en_caa38d2.pf_index
  pagefind/index/en_cceaea3.pf_index
  pagefind/index/en_ce3fd51.pf_index
  pagefind/index/en_d2e2199.pf_index
  pagefind/index/en_e0e8cdd.pf_index
  pagefind/index/en_e9741cd.pf_index
  pagefind/index/en_ea11484.pf_index
  pagefind/index/en_eba0b24.pf_index
  pagefind/index/en_efd2846.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_32b29ad994.pf_meta
  pagefind/pagefind.en_94195fde4f.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(owox): add support for API_KEYS_ENABLED flag
  apps/owox/src/web/flags-route.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): Business Owner additively inherits maintenance access via non-owner sharing path
  .changeset/I-am-a-business-owner-and-I-want-change-data-mart.md
  apps/backend/src/data-marts/services/access-decision/access-decision-context.spec.ts
  apps/backend/src/data-marts/services/access-decision/access-decision-e2e.spec.ts
  apps/backend/src/data-marts/services/access-decision/access-decision.service.spec.ts
  apps/backend/src/data-marts/services/access-decision/access-decision.service.ts
  apps/backend/src/data-marts/services/access-decision/access-matrix.config.ts
  docs/project/ownership-and-availability.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): implement project member API key management
  apps/backend/src/data-marts/controllers/project-member-api-keys.controller.ts
  apps/backend/src/data-marts/controllers/spec/project-member-api-keys.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/create-project-member-api-key.command.ts
  apps/backend/src/data-marts/dto/domain/list-project-member-api-keys.command.ts
  apps/backend/src/data-marts/dto/domain/revoke-project-member-api-key.command.ts
  apps/backend/src/data-marts/dto/domain/update-project-member-api-key.command.ts
  apps/backend/src/data-marts/dto/presentation/project-member-api-key-api.dto.ts
  apps/backend/src/data-marts/mappers/project-member-api-keys.mapper.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/create-project-member-api-key.service.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/list-project-member-api-keys.service.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/revoke-project-member-api-key.service.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/update-project-member-api-key.service.ts
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectSettingsSubmenu.tsx
  apps/web/src/features/api-keys/components/ApiKeysTable/ApiKeysTable.tsx
  apps/web/src/features/api-keys/components/ApiKeysTable/columns.tsx
  apps/web/src/features/api-keys/components/CreateApiKeySheet.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.tsx
  apps/web/src/features/api-keys/components/SecretRevealDialog.tsx
  apps/web/src/features/api-keys/hooks/useApiKeys.ts
  apps/web/src/features/api-keys/pages/MyApiKeysPage.tsx
  apps/web/src/features/api-keys/services/api-keys.service.ts
  apps/web/src/features/api-keys/types.ts
  apps/web/src/routes/index.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Sync table schema for Redshift and Snowflake
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Enable schema evolution for Snowflake & Redshift
  .changeset/snowflake-redshift-schema-evolution.md
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Strip surrounding quotes from identifiers
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(api-keys): replace custom relative date function with RelativeTime component
  apps/web/src/features/api-keys/components/ApiKeysTable/columns.tsx
Due: none

chore(backend): polish access-decision comments and Report docs after review
  apps/backend/src/data-marts/services/access-decision/access-decision-context.spec.ts
  apps/backend/src/data-marts/services/access-decision/access-decision.service.ts
  docs/project/ownership-and-availability.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): Biz Owner no longer downgrades Tech User access (#1242)
  .changeset/I-am-a-business-owner-and-I-want-change-data-mart.md
  apps/backend/src/data-marts/services/access-decision/access-decision-context.spec.ts
  apps/backend/src/data-marts/services/access-decision/access-decision-e2e.spec.ts
  apps/backend/src/data-marts/services/access-decision/access-decision.service.spec.ts
  apps/backend/src/data-marts/services/access-decision/access-decision.service.ts
  apps/backend/src/data-marts/services/access-decision/access-matrix.config.ts
  docs/project/ownership-and-availability.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@dcd4b5516ffccafd2429b867e6183c75f976c1e4 🚀
  docs/project/ownership-and-availability/index.html
  pagefind/fragment/en_178563e.pf_fragment
  pagefind/fragment/en_a34ba16.pf_fragment
  pagefind/index/en_23884f6.pf_index
  pagefind/index/en_3d1ac4d.pf_index
  pagefind/index/en_435161f.pf_index
  pagefind/index/en_5fc4df2.pf_index
  pagefind/index/en_68fec2f.pf_index
  pagefind/index/en_6e54fbb.pf_index
  pagefind/index/en_77fb467.pf_index
  pagefind/index/en_82f41e8.pf_index
  pagefind/index/en_91178c4.pf_index
  pagefind/index/en_91aee7e.pf_index
  pagefind/index/en_a1da364.pf_index
  pagefind/index/en_aa27424.pf_index
  pagefind/index/en_b15de36.pf_index
  pagefind/index/en_b2094aa.pf_index
  pagefind/index/en_b591d0c.pf_index
  pagefind/index/en_c99d618.pf_index
  pagefind/index/en_cceaea3.pf_index
  pagefind/index/en_d2e2199.pf_index
  pagefind/index/en_dee61b1.pf_index
  pagefind/index/en_e784a90.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_94195fde4f.pf_meta
  pagefind/pagefind.en_c9c821382e.pf_meta
Due: prettier --write --config ./prettier.config.js

Update CHANGELOG.md for version 0.26.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(data-marts): simplify project member API key mapping and service logic
  apps/backend/src/data-marts/controllers/project-member-api-keys.controller.ts
  apps/backend/src/data-marts/dto/domain/create-project-member-api-key.command.ts
  apps/backend/src/data-marts/mappers/project-member-api-keys.mapper.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/create-project-member-api-key.service.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/list-project-member-api-keys.service.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/update-project-member-api-key.service.ts
  apps/web/src/features/api-keys/components/CreateApiKeySheet.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
