Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): implement granular permissions handling for insights
  apps/web/src/app/api/api-error.interface.ts
  apps/web/src/app/permissions/constants/index.ts
  apps/web/src/app/permissions/hooks/__tests__/usePermissions.test.ts
  apps/web/src/app/permissions/hooks/usePermissions.ts
  apps/web/src/app/permissions/index.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightActionsCell.tsx
  apps/web/src/features/data-marts/insights/hooks/__tests__/useInsightsPermissions.test.ts
  apps/web/src/features/data-marts/insights/hooks/useInsightsPermissions.ts
  apps/web/src/shared/components/InlineEditTitle/InlineEditTitle.tsx
  apps/web/src/shared/utils/showApiErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): update no-permission message for clarity
  apps/web/src/app/permissions/constants/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): improve permissions handling with read-only mode and action feedback
  .changeset/insights-permissions-handling.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: Add `cost_per_result` and `result_rate` fields to ad account insights.
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Changeset
  .changeset/old-bikes-send.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): Restricted status added for entities
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/enums/data-mart-run-status.enum.ts
  apps/backend/src/data-marts/enums/report-run-status.enum.ts
  apps/backend/src/data-marts/models/base-report-run.model.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/looker-studio-report-run.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): Restricted entities status handling
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StatusBadge.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/icons.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/shared/enums/report-status.enum.ts
  apps/web/src/features/data-marts/reports/shared/models/report-status.model.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-run-status.enum.ts
  apps/web/src/features/data-marts/shared/utils/status.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add permissions handling and read-only state for Insights (#843)
  .changeset/insights-permissions-handling.md
  apps/web/src/app/api/api-error.interface.ts
  apps/web/src/app/permissions/constants/index.ts
  apps/web/src/app/permissions/hooks/__tests__/usePermissions.test.ts
  apps/web/src/app/permissions/hooks/usePermissions.ts
  apps/web/src/app/permissions/index.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightActionsCell.tsx
  apps/web/src/features/data-marts/insights/hooks/__tests__/useInsightsPermissions.test.ts
  apps/web/src/features/data-marts/insights/hooks/useInsightsPermissions.ts
  apps/web/src/shared/components/InlineEditTitle/InlineEditTitle.tsx
  apps/web/src/shared/utils/showApiErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(Shopify): add discount codes and applications fields to orders API reference
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(Shopify): add discount codes and applications fields to orders
  .changeset/shopify-orders-discount-codes.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add `results` field to Facebook Ad Account Insights schema.
  .changeset/old-bikes-send.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(eslint-config): enhance eslint configurations for react and vite
  .github/workflows/lint-docs.yml
  apps/web/eslint.config.js
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.tsx
  package-lock.json
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  packages/eslint-config/vite-react.js
  packages/eslint-config/vite.js
  packages/ui/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update package dependencies and configurations
  apps/backend/package.json
  apps/docs/package.json
  apps/owox/eslint.config.mjs
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  apps/web/package.json
  package-lock.json
  package.json
  packages/connectors/package.json
  packages/idp-better-auth/package.json
  packages/idp-owox/package.json
  packages/idp-protocol/package.json
  packages/internal-helpers/package.json
  packages/ui/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fixes after review
  apps/backend/src/data-marts/services/looker-studio-report-run.service.ts
  apps/backend/src/data-marts/services/report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: Restricted status added for run entities (#850)
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/enums/data-mart-run-status.enum.ts
  apps/backend/src/data-marts/enums/report-run-status.enum.ts
  apps/backend/src/data-marts/models/base-report-run.model.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/looker-studio-report-run.service.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StatusBadge.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/icons.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/shared/enums/report-status.enum.ts
  apps/web/src/features/data-marts/reports/shared/models/report-status.model.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-run-status.enum.ts
  apps/web/src/features/data-marts/shared/utils/status.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: Use `getBigQueryTableUrl` utility function for BigQuery table links.
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
Due: none

feat(Shopify): add discount codes and applications fields to orders API reference (#851)
  .changeset/shopify-orders-discount-codes.md
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): add max-width constraint for responsive design
  apps/web/src/shared/components/FloatingPopover/FloatingPopover.tsx
Due: none

fix(web): update toast message in useDataMartNextStepPromo hook
  apps/web/src/features/data-marts/edit/hooks/useDataMartNextStepPromo.tsx
Due: none

fix(web): improve styling for no runs message and update icon direction in run item
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
Due: none

fix(web): update UserReference component for improved styling and responsiveness
  apps/web/src/shared/components/UserReference/UserReference.tsx
Due: none

feat(web): add usePrefetchOnHover hook for data prefetching on mouse events
  apps/web/src/shared/hooks/usePrefetchOnHover.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add getTableColumnSize utility function for dynamic column sizing
  apps/web/src/shared/utils/getTableColumnSize.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add health status indicators and prefetching for Data Marts
  .changeset/health-status-for-datamarts.md
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartHealthStatusCell.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/index.ts
  apps/web/src/features/data-marts/list/model/hooks/index.ts
  apps/web/src/features/data-marts/list/model/hooks/useDataMartHealthStatus.ts
  apps/web/src/features/data-marts/list/model/hooks/useDataMartHealthStatusPrefetch.ts
  apps/web/src/features/data-marts/list/utils/data-mart-health-status.utils.ts
  apps/web/src/features/data-marts/list/utils/index.ts
  apps/web/src/features/data-marts/shared/services/data-mart-health-status.service.ts
  apps/web/src/features/data-marts/shared/types/data-mart-health-status.ts
  apps/web/src/features/data-marts/shared/types/index.ts
  apps/web/src/hooks/useTableStorage.ts
  packages/ui/src/styles/globals.css
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): simplify health status computation for Data Marts by removing redundant interfaces and using Set for status checks
  apps/web/src/features/data-marts/list/utils/data-mart-health-status.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Feat(web): Data Mart Health Status (#841)
  .changeset/health-status-for-datamarts.md
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/hooks/useDataMartNextStepPromo.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartHealthStatusCell.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/index.ts
  apps/web/src/features/data-marts/list/model/hooks/index.ts
  apps/web/src/features/data-marts/list/model/hooks/useDataMartHealthStatus.ts
  apps/web/src/features/data-marts/list/model/hooks/useDataMartHealthStatusPrefetch.ts
  apps/web/src/features/data-marts/list/utils/data-mart-health-status.utils.ts
  apps/web/src/features/data-marts/list/utils/index.ts
  apps/web/src/features/data-marts/shared/services/data-mart-health-status.service.ts
  apps/web/src/features/data-marts/shared/types/data-mart-health-status.ts
  apps/web/src/features/data-marts/shared/types/index.ts
  apps/web/src/hooks/useTableStorage.ts
  apps/web/src/shared/components/FloatingPopover/FloatingPopover.tsx
  apps/web/src/shared/components/UserReference/UserReference.tsx
  apps/web/src/shared/hooks/usePrefetchOnHover.ts
  apps/web/src/shared/utils/getTableColumnSize.ts
  packages/ui/src/styles/globals.css
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): update Data Mart health status computation to use only the latest runs for health assessment
  apps/web/src/features/data-marts/list/utils/data-mart-health-status.utils.ts
  apps/web/src/features/data-marts/shared/services/data-mart-health-status.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(facebook): Add `cost_per_result`, `results` and `result_rate` insights fields (#848)
  .changeset/old-bikes-send.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): improve UI components for better layout and styling consistency
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/layouts/MainLayout.tsx
  apps/web/src/shared/components/UserReference/UserReference.tsx
  packages/ui/src/components/hover-card.tsx
Due: none

feat(backend): Enhance AWS Redshift storage with column description
  apps/backend/src/data-marts/data-storage-types/redshift/adapters/redshift-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-schema-merger.ts
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): Refactor Data Mart health status computation (#854)
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/list/utils/data-mart-health-status.utils.ts
  apps/web/src/features/data-marts/shared/services/data-mart-health-status.service.ts
  apps/web/src/layouts/MainLayout.tsx
  apps/web/src/shared/components/UserReference/UserReference.tsx
  packages/ui/src/components/hover-card.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(ui): Simplify and enhance RelativeTime component for better readability and maintainability
  packages/ui/src/components/common/relative-time.tsx
Due: none

refactor: extract BigQuery dataset URL generation into a utility function and use it in connector configuration.
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): fix and enchance load more functionality for data mart runs
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/edit/constants.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/reducer.ts
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/edit/model/hooks/use-data-mart.ts
  apps/web/src/pages/data-marts/edit/DataMartRunHistoryContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): improve fetching data mart runs merge logic and prevent race conditions during data fetching
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/reducer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): align loading states in data mart reducer
  apps/web/src/features/data-marts/edit/model/context/reducer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): add changeset
  .changeset/fix-bugs-in-run-history-tab.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: Refactor BigQuery URL generation to use utility functions (#853)
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

style(ui): Update dimensions for dm-card-toolbar-search to improve responsiveness
  packages/ui/src/styles/globals.css
Due: none

refactor(ui): Improve RelativeTime edge cases around weeks and months (#856)
  packages/ui/src/components/common/relative-time.tsx
  packages/ui/src/styles/globals.css
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
