Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(notifications): sort runs in notification emails by finished time (newest first) (#961)
  .changeset/sort-notification-email-runs.md
  apps/backend/src/notifications/types/base-notification.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): conditionally show Community Edition in Google Sheets metadata and add dataMart URL
  apps/backend/src/common/helpers/data-mart-url.helper.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/templates/email-report.template.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  apps/backend/src/notifications/types/base-notification.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(backend): add changeset
  .changeset/add-data-mart-url-to-gs-metadata.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

changeset
  .changeset/redshift-docs-impovements.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): streamline React imports in TableFilters components for improved consistency and readability
  apps/web/src/shared/components/TableFilters/FiltersForm.tsx
  apps/web/src/shared/components/TableFilters/InputValueControl.tsx
  apps/web/src/shared/components/TableFilters/TableFilters.tsx
  apps/web/src/shared/components/TableFilters/TableFiltersContent.tsx
Due: none

feat(web): Filters for data marts table (#945)
  .changeset/table-filters.md
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartsTableFilters.config.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartsTableFilters.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTableFilters.config.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTableFilters.tsx
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
  apps/web/src/shared/components/Table/BaseTable.tsx
  apps/web/src/shared/components/Table/TableColumnSearch.tsx
  apps/web/src/shared/components/TableFilters/FiltersForm.tsx
  apps/web/src/shared/components/TableFilters/InputValueControl.tsx
  apps/web/src/shared/components/TableFilters/SelectValueControl.tsx
  apps/web/src/shared/components/TableFilters/TableFilters.tsx
  apps/web/src/shared/components/TableFilters/TableFiltersContent.tsx
  apps/web/src/shared/components/TableFilters/TableFiltersTrigger.tsx
  apps/web/src/shared/components/TableFilters/collectOptions.utils.ts
  apps/web/src/shared/components/TableFilters/filter-utils.ts
  apps/web/src/shared/components/TableFilters/index.ts
  apps/web/src/shared/components/TableFilters/types.ts
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/usePersistentFilters.ts
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/combobox.tsx
  packages/ui/src/components/common/table-pagination.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/input-group.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/popover.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(root): update changeset (#969)
  .changeset/redshift-docs-impovements.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): change template
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance SQL handle resolution and refine instructions in agent flow
  apps/backend/src/data-marts/ai-insights/agent-flow/agent-flow-tools.registrar.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/base-sql-handle-resolver.service.spec.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/base-sql-handle-resolver.service.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/prompts/agent-flow.prompt.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/source-resolver-tools.service.spec.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/source-resolver-tools.service.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/tools/generate-sql.tool.spec.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/tools/generate-sql.tool.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/tools/list-artifacts.tool.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/tools/list-template-sources.tool.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/types.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/entities/insight-template-source.entity.ts
  apps/backend/src/data-marts/services/agent-flow-context-manager.service.spec.ts
  apps/backend/src/data-marts/services/agent-flow-context-manager.service.ts
  apps/backend/src/data-marts/services/insight-template-source.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-source.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

featr(idp-owox-better-auth): add Google Tag Manager (GTM) support to auth pages
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.ts
  packages/idp-owox-better-auth/src/controllers/page-controller.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/layouts/auth.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/head.ejs
  packages/idp-owox-better-auth/src/services/rendering/template-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update docs
  packages/idp-owox-better-auth/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add proposed actions handling in AI assistant messages and improve session action validation
  apps/backend/src/data-marts/mappers/ai-assistant.mapper.ts
  apps/backend/src/data-marts/services/ai-assistant-session.service.ts
  apps/backend/src/data-marts/services/ai-source-apply.service.spec.ts
  apps/backend/src/data-marts/services/ai-source-apply.service.ts
  apps/backend/src/data-marts/use-cases/create-ai-assistant-message.service.ts
  apps/backend/src/data-marts/use-cases/get-ai-assistant-session.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance SQL handle resolution and refine instructions in agent flow (#971)
  apps/backend/src/data-marts/ai-insights/agent-flow/agent-flow-tools.registrar.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/base-sql-handle-resolver.service.spec.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/base-sql-handle-resolver.service.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/prompts/agent-flow.prompt.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/source-resolver-tools.service.spec.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/source-resolver-tools.service.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/tools/generate-sql.tool.spec.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/tools/generate-sql.tool.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/tools/list-artifacts.tool.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/tools/list-template-sources.tool.ts
  apps/backend/src/data-marts/ai-insights/agent-flow/types.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/entities/insight-template-source.entity.ts
  apps/backend/src/data-marts/mappers/ai-assistant.mapper.ts
  apps/backend/src/data-marts/services/agent-flow-context-manager.service.spec.ts
  apps/backend/src/data-marts/services/agent-flow-context-manager.service.ts
  apps/backend/src/data-marts/services/ai-assistant-session.service.ts
  apps/backend/src/data-marts/services/ai-source-apply.service.spec.ts
  apps/backend/src/data-marts/services/ai-source-apply.service.ts
  apps/backend/src/data-marts/services/insight-template-source.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-source.service.ts
  apps/backend/src/data-marts/use-cases/create-ai-assistant-message.service.ts
  apps/backend/src/data-marts/use-cases/get-ai-assistant-session.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): add Google Tag Manager (GTM) support to auth pages (#972)
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.ts
  packages/idp-owox-better-auth/src/controllers/page-controller.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/layouts/auth.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/head.ejs
  packages/idp-owox-better-auth/src/services/rendering/template-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@e3b167fa3e9c144474ddb989dc82f90709486022 🚀
  packages/idp-owox-better-auth/readme/index.html
  pagefind/fragment/en_c38ffc4.pf_fragment
  pagefind/fragment/en_f4062db.pf_fragment
  pagefind/index/en_11bf1b5.pf_index
  pagefind/index/en_188d349.pf_index
  pagefind/index/en_192df68.pf_index
  pagefind/index/en_51f0e04.pf_index
  pagefind/index/en_5bcd28a.pf_index
  pagefind/index/en_66af727.pf_index
  pagefind/index/en_687e748.pf_index
  pagefind/index/en_735183b.pf_index
  pagefind/index/en_7ae4885.pf_index
  pagefind/index/en_9274edd.pf_index
  pagefind/index/en_d5687d5.pf_index
  pagefind/index/en_df788c7.pf_index
  pagefind/index/en_f234a84.pf_index
  pagefind/index/en_f4abce9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2953934486.pf_meta
  pagefind/pagefind.en_431ecaf32d.pf_meta
Due: prettier --write --config ./prettier.config.js

docs(backend): update changeset
  .changeset/add-data-mart-url-to-gs-metadata.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): show edition in GS metadata and add data mart link (#968)
  .changeset/add-data-mart-url-to-gs-metadata.md
  apps/backend/src/common/helpers/data-mart-url.helper.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/templates/email-report.template.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  apps/backend/src/notifications/types/base-notification.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: update Google Sheets and BigQuery documentation to clarify authentication methods and improve user guidance
  docs/destinations/supported-destinations/google-sheets.md
  docs/storages/supported-storages/google-bigquery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: update DataDestinationMapper to handle EMAIL credential type separately
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance data destination credential handling by adding support for Google Sheets OAuth credentials
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials.utils.ts
  apps/backend/src/data-marts/data-destination-types/factories/data-destination-public-credentials.factory.ts
  apps/backend/src/data-marts/dto/presentation/data-destination-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/web/src/features/data-destination/shared/enums/data-destination-credentials-type.enum.ts
  apps/web/src/features/data-destination/shared/model/mappers/google-sheets.mapper.ts
  apps/web/src/features/data-destination/shared/services/types/data-destination.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: integrate DataDestinationCredentialsResolver across various services
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials-resolver.service.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-access-validator.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-mart-definition-validator-facade.service.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-mart-schema-provider.facade.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-report-reader.service.ts
  apps/backend/src/data-marts/dto/domain/data-destination.dto.ts
  apps/backend/src/data-marts/dto/domain/data-storage.dto.ts
  apps/backend/src/data-marts/entities/data-destination-credential.entity.ts
  apps/backend/src/data-marts/entities/data-destination.entity.ts
  apps/backend/src/data-marts/entities/data-storage.entity.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/data-destination-credential.service.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/create-view.service.ts
  apps/backend/src/data-marts/use-cases/rotate-secret-key.service.ts
  apps/backend/src/data-marts/use-cases/sql-dry-run.service.ts
  apps/backend/src/data-marts/use-cases/sql-run.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/validate-data-storage-access.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance credential handling by integrating direct relations in data destination and storage services
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials-resolver.service.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-credentials-resolver.service.ts
  apps/backend/src/data-marts/entities/data-destination.entity.ts
  apps/backend/src/data-marts/entities/data-storage.entity.ts
  apps/backend/src/data-marts/services/data-destination.service.ts
  apps/backend/src/data-marts/services/data-storage.service.ts
  apps/backend/src/data-marts/services/google-oauth/google-oauth-flow.service.ts
  apps/backend/src/data-marts/use-cases/google-oauth/get-destination-oauth-status.service.ts
  apps/backend/src/data-marts/use-cases/google-oauth/get-storage-oauth-status.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: make serviceAccount field optional in GoogleSheetsOAuthCredentials interface
  apps/web/src/features/data-destination/shared/model/types/data-destination.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: simplify serviceAccount check in LegacyGoogleBigQueryMapper and update InsightEditor imports
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
  apps/web/src/features/data-storage/shared/model/mappers/legacy-google-bigquery.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: update /api/flags endpoint to return an empty JSON object
  apps/backend/src/main.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: implement stashing of credential values in Google Sheets and BigQuery forms to preserve user input during authentication method switching
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/LegacyGoogleBigQueryFields.tsx
Due: none

feat: enhance Google Sheets and BigQuery integration with improved OAuth handling and credential validation
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api-adapter.factory.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/main.ts
  apps/web/src/shared/schemas/google-credentials.schema.ts
  apps/web/src/shared/types/google-service-account-credentials.ts
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: improve credential validation and handling in Google Sheets and BigQuery services
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/interfaces/bigquery-reader-state.interface.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-credentials-resolver.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update credential types to use StoredDestinationCredentials and StoredStorageCredentials across services
  apps/backend/src/data-marts/entities/data-destination-credential.entity.ts
  apps/backend/src/data-marts/entities/data-storage-credential.entity.ts
  apps/backend/src/data-marts/entities/stored-destination-credentials.type.ts
  apps/backend/src/data-marts/entities/stored-storage-credentials.type.ts
  apps/backend/src/data-marts/services/credential-type-resolver.ts
  apps/backend/src/data-marts/services/data-destination-credential.service.ts
  apps/backend/src/data-marts/services/data-storage-credential.service.ts
  apps/backend/src/data-marts/services/google-oauth/google-oauth-client.service.ts
  apps/backend/src/data-marts/services/google-oauth/google-oauth-flow.service.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/rotate-secret-key.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: review return report-reader state logic
  apps/backend/src/data-marts/data-storage-types/bigquery/interfaces/bigquery-reader-state.interface.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/use-cases/sql-dry-run.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): change notification data mart link to run-history page
  apps/backend/src/notifications/types/base-notification.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): change notification data mart link to run-history page (#973)
  apps/backend/src/notifications/types/base-notification.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: streamline credential resolution in data destination and storage services by integrating direct relations and simplifying access patterns
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials-resolver.service.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api-adapter.factory.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-api-adapter.factory.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/s3-api-adapter.factory.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api-adapter.factory.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-credentials-resolver.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api-adapter.factory.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/redshift/adapters/redshift-api-adapter.factory.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api-adapter.factory.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-report-reader.service.ts
  apps/backend/src/data-marts/entities/data-destination.entity.ts
  apps/backend/src/data-marts/entities/data-storage.entity.ts
  apps/backend/src/data-marts/services/data-destination.service.ts
  apps/backend/src/data-marts/services/data-storage.service.ts
  apps/backend/src/data-marts/services/google-oauth/google-oauth-flow.service.ts
  apps/backend/src/data-marts/use-cases/google-oauth/get-destination-oauth-status.service.ts
  apps/backend/src/data-marts/use-cases/google-oauth/get-storage-oauth-status.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update notification text and improve filter operations names
  apps/web/src/pages/data-marts/list/PageNotificationLegacyStorageSetup.tsx
  apps/web/src/shared/components/TableFilters/FiltersForm.tsx
Due: none

feat: improve logging for credential resolution and update Google OAuth exception message for clarity
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api-adapter.factory.ts
  apps/backend/src/data-marts/exceptions/google-oauth.exceptions.ts
  apps/backend/src/migrations/1771262305000-create-credential-tables-and-migrate-data.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(insight-template): add delete source functionality for insight templates
  apps/backend/src/data-marts/ai-insights/agent-flow/tools/propose-remove-source.tool.ts
  apps/backend/src/data-marts/controllers/insight-template.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight-template.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/delete-insight-template-source.command.ts
  apps/backend/src/data-marts/mappers/insight-template.mapper.ts
  apps/backend/src/data-marts/services/insight-template-source.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-source.service.ts
  apps/backend/src/data-marts/services/insight-template-validation.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-validation.service.ts
  apps/backend/src/data-marts/services/template-source-key-in-template.util.ts
  apps/backend/src/data-marts/use-cases/delete-insight-template-source.service.spec.ts
  apps/backend/src/data-marts/use-cases/delete-insight-template-source.service.ts
  apps/backend/src/data-marts/use-cases/get-ai-assistant-session.service.spec.ts
  apps/web/src/features/data-marts/insight-templates/components/InsightTemplateDetailsView.tsx
  apps/web/src/features/data-marts/insight-templates/components/InsightTemplateSourcesBottomPanel.tsx
  apps/web/src/features/data-marts/insight-templates/model/services/insight-templates.service.ts
  apps/web/src/features/data-marts/insight-templates/model/types/insight-templates.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
