Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: normalize LinkedIn OAuth scope handling in login button and update default scopes in LinkedIn Ads and Pages sources
  apps/web/src/features/connectors/shared/components/LinkedInLoginButton/LinkedInLoginButton.tsx
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: set maxWorkers to 1 in jest-e2e configuration (#1149)
  apps/backend/test/jest-e2e.json
Due: prettier --write --config ./prettier.config.js

refactor(backend): update test
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add LinkedIn Ads and Pages callback routes for OAuth integration
  apps/web/src/routes/oauth.routes.tsx
Due: none

refactor: remove LinkedIn callback route from OAuth routes
  apps/web/src/routes/oauth.routes.tsx
Due: none

feat: add changeset file
  .changeset/linkedin-oauth-separation.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): add project administration and access rights documentation
  apps/docs/astro.config.mjs
  docs/project/access-rights.md
  docs/project/members.md
  docs/project/roles-and-permissions.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(backend): add migrations for relationships and blended fields config
  apps/backend/src/migrations/1776616688331-add-data-mart-relationship.ts
  apps/backend/src/migrations/1776616688332-add-blended-fields-config-to-data-mart.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add DataMartRelationship entity and Zod schemas
  apps/backend/src/data-marts/dto/schemas/relationship-schemas.spec.ts
  apps/backend/src/data-marts/dto/schemas/relationship-schemas.ts
  apps/backend/src/data-marts/entities/data-mart-relationship.entity.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add relationship DTOs, commands and mapper
  apps/backend/src/data-marts/dto/domain/create-relationship.command.ts
  apps/backend/src/data-marts/dto/domain/get-relationship.command.ts
  apps/backend/src/data-marts/dto/domain/update-relationship.command.ts
  apps/backend/src/data-marts/dto/presentation/create-relationship-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/relationship-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-relationship-request-api.dto.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.spec.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add field type compatibility utility
  apps/backend/src/data-marts/data-storage-types/field-type-compatibility.spec.ts
  apps/backend/src/data-marts/data-storage-types/field-type-compatibility.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add DataMartRelationshipService with cycle detection
  apps/backend/src/data-marts/services/data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add relationship CRUD use-cases and controllers
  apps/backend/src/data-marts/controllers/data-mart-relationship.controller.ts
  apps/backend/src/data-marts/controllers/data-storage-relationship.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart-relationship.api.ts
  apps/backend/src/data-marts/use-cases/create-data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/delete-data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/get-data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/list-data-mart-relationships.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-relationship.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add per-storage schema providers, mergers and headers generators
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-schema-merger.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-schema-merger.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-facades.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/databricks/schemas/databricks-data-mart-schema.schema.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-schema-merger.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-report-reader.interface.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-schema-merger.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-schema-merger.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add blended query builders for all storages
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/databricks/utils/databricks-identifier.utils.ts
  apps/backend/src/data-marts/data-storage-types/facades/blended-query-builder.facade.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-mart-query-builder.interface.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-query.builder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add BlendableSchemaService with transitive resolution
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add report columnConfig, blended fields config, generated SQL and copy-as-data-mart
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-header-formatter.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/cached-reader-data.dto.ts
  apps/backend/src/data-marts/dto/domain/create-report.command.ts
  apps/backend/src/data-marts/dto/domain/data-mart.dto.ts
  apps/backend/src/data-marts/dto/domain/report.dto.ts
  apps/backend/src/data-marts/dto/domain/update-blended-fields-config.command.ts
  apps/backend/src/data-marts/dto/domain/update-report.command.ts
  apps/backend/src/data-marts/dto/presentation/create-report-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/report-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-blended-fields-config-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-report-request-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schemas.spec.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schemas.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/entities/report.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/looker-studio-report-run.service.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/use-cases/copy-report-as-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-blended-fields-config.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add Joinable Data Marts block with canvas
  apps/web/package.json
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/TargetDataMartPicker.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useTransientRelationships.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/SchemaFieldActionsButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SchemaTable.tsx
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/services/data-mart-relationship.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
  apps/web/src/features/data-marts/shared/types/data-mart-schema.types.ts
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add ReportColumnPicker and integrate blended fields into report forms
  apps/web/eslint.config.js
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FieldInfoTooltip.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/types.ts
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/shared/model/mappers/report.mapper.ts
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  apps/web/src/features/data-marts/reports/shared/services/types/create-report.request.dto.ts
  apps/web/src/features/data-marts/reports/shared/services/types/report-response.dto.ts
  apps/web/src/features/data-marts/reports/shared/services/types/update-report.request.dto.ts
  apps/web/src/features/data-marts/reports/shared/utils/index.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-blending.utils.ts
  apps/web/src/features/data-marts/shared/hooks/useBlendedFieldNames.ts
  apps/web/src/shared/components/Combobox/combobox.tsx
  apps/web/src/utils/string-utils.ts
  package-lock.json
  packages/ui/src/components/common/sortable-table-row.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/select.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: add changeset
  .changeset/add-data-mart-relationships-and-blended-reports.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): reorder eslint overrides so config files skip type-aware rules
  apps/web/eslint.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

pre-review updates
  apps/backend/src/data-marts/controllers/data-mart-relationship.controller.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/dto/presentation/create-relationship-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-relationship-request-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schemas.ts
  apps/backend/src/data-marts/dto/schemas/relationship-schemas.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/delete-data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/update-blended-fields-config.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useEmailReportForm.test.ts
  apps/web/src/features/data-marts/shared/services/data-mart-relationship.service.ts
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

ux improvements
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/TargetDataMartPicker.tsx
Due: none

AccessDecisionService used for DM blending cases
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/dto/domain/copy-report-as-data-mart.command.ts
  apps/backend/src/data-marts/dto/domain/create-relationship.command.ts
  apps/backend/src/data-marts/dto/domain/get-report-generated-sql.command.ts
  apps/backend/src/data-marts/dto/domain/update-blended-fields-config.command.ts
  apps/backend/src/data-marts/dto/domain/update-relationship.command.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/use-cases/copy-report-as-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/copy-report-as-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/delete-data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/use-cases/delete-data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.ts
  apps/backend/src/data-marts/use-cases/update-blended-fields-config.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-blended-fields-config.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-relationship.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

db migrations updated
  apps/backend/src/migrations/1776616688331-add-data-mart-relationship.ts
  apps/backend/src/migrations/1776616688333-add-column-config-to-report.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: clear relations on DM delete
  apps/backend/src/data-marts/services/data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/delete-data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update Google Sheets Extension and OData descriptions
  docs/editions/self-managed-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Mark OData feature as coming soon
  docs/editions/owox-cloud-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(tiktok): correctly request campaign_id and adgroup_id in Ad Insights
  .changeset/tiktok-ads-campaign-id-null.md
  packages/connectors/src/Sources/TikTokAds/TiktokMarketingApiProvider.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

e2e test updated
  apps/backend/test/looker-studio-connector.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(tiktok): correctly request campaign_id and adgroup_id in Ad Insights (#1153)
  .changeset/tiktok-ads-campaign-id-null.md
  packages/connectors/src/Sources/TikTokAds/TiktokMarketingApiProvider.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): update access rights and roles documentation for clarity and accuracy
  docs/project/access-rights.md
  docs/project/members.md
  docs/project/roles-and-permissions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(security): opt-in HTTP security headers for SPA and IDP HTML
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  apps/owox/src/web/static-config.ts
  apps/owox/test/integration/web-static-integration.test.ts
  apps/owox/test/web/static-config.test.ts
  docs/getting-started/deployment-guide/environment-variables.md
  package-lock.json
  packages/idp-better-auth/src/services/page-service.ts
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.ts
  packages/idp-owox-better-auth/src/controllers/onboarding-controller.ts
  packages/idp-owox-better-auth/src/controllers/page-controller.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.ts
  packages/internal-helpers/README.md
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/security/security-headers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(security): update after review
  apps/owox/src/web/static-config.ts
  apps/owox/test/integration/web-static-integration.test.ts
  apps/owox/test/web/static-config.test.ts
  docs/getting-started/deployment-guide/environment-variables.md
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.test.ts
  packages/internal-helpers/README.md
  packages/internal-helpers/src/security/security-headers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(security): refactor files
  apps/owox/src/commands/serve.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(docs): update project member management documentation for clarity and structure
  apps/docs/astro.config.mjs
  docs/project/members.md
  docs/project/ownership-and-sharing.md
  docs/project/roles-and-permissions.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): changeset
  .changeset/project-settings-docs.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): Output Schema hidden rows + Joinable DM save races
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  packages/ui/src/components/common/editable-text.tsx
  packages/ui/src/components/common/sortable-table-row.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
