Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

style(data-marts): format redshift integration test
  apps/backend/test/integration/redshift.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(data-marts): drop remaining stale Row Count mentions in comments
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.ts
  apps/backend/test/integration/query-data-mart-real.integration.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: await storage initialization in OpenHolidays connector
  .changeset/6846-open-holidays-storage-save-fix.md
  packages/connectors/src/Sources/OpenHolidays/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): make copy-credentials permission error actionable
  .changeset/6850-actionable-copy-credentials-error.md
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  docs/getting-started/setup-guide/connector-data-mart.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(microsoft-ads): prevent out-of-memory crash when importing keywords
  .changeset/6853-microsoft-ads-keywords-oom.md
  packages/connectors/src/Sources/MicrosoftAds/Helper.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/test/Sources/MicrosoftAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@8b29435e8edc6f5fed81fa7c75b46994a16e20a4 🚀
  docs/getting-started/setup-guide/connector-data-mart/index.html
  pagefind/fragment/en_ad1fda1.pf_fragment
  pagefind/fragment/en_b4b5505.pf_fragment
  pagefind/index/en_17701a9.pf_index
  pagefind/index/en_17739fb.pf_index
  pagefind/index/en_17d39b3.pf_index
  pagefind/index/en_1bae2d2.pf_index
  pagefind/index/en_363fcc5.pf_index
  pagefind/index/en_38ac35a.pf_index
  pagefind/index/en_3b18847.pf_index
  pagefind/index/en_3c4d3e8.pf_index
  pagefind/index/en_554e3db.pf_index
  pagefind/index/en_6bdab04.pf_index
  pagefind/index/en_6e3fa64.pf_index
  pagefind/index/en_83a94fc.pf_index
  pagefind/index/en_91f3172.pf_index
  pagefind/index/en_acd4f28.pf_index
  pagefind/index/en_acdb95b.pf_index
  pagefind/index/en_b19aefa.pf_index
  pagefind/index/en_b6f2e79.pf_index
  pagefind/index/en_ba3b210.pf_index
  pagefind/index/en_bb252c7.pf_index
  pagefind/index/en_bc449cc.pf_index
  pagefind/index/en_c6453b8.pf_index
  pagefind/index/en_d8df823.pf_index
  pagefind/index/en_df0b86f.pf_index
  pagefind/index/en_e5f12bd.pf_index
  pagefind/index/en_e72edbd.pf_index
  pagefind/index/en_f3f056d.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_8ea70df5f5.pf_meta
  pagefind/pagefind.en_aa283c1916.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(microsoft-ads): address review — no double fetch after halving, chunk-size default, storage-error guard
  packages/connectors/src/Sources/MicrosoftAds/Helper.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/test/Sources/MicrosoftAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Configure npm trusted publishing
  .github/workflows/publish.yml
  apps/ctl/package.json
  apps/owox/package.json
  packages/connectors/package.json
  packages/idp-better-auth/package.json
  packages/idp-owox-better-auth/package.json
  packages/idp-protocol/package.json
Due: prettier --write --config ./prettier.config.js

Changeset rename
  .changeset/6810-connectors-supported-api-versions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): clarify the space-typing bug affected any saved Data Mart
  .changeset/6824-input-source-form-discards-unsaved-query.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add Microsoft NAA extension identity flow
  .changeset/6833-addin-identity-oauth.md
  .env.example
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.extensionAuth.test.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/dto/extensionAuthFlowDto.ts
  packages/idp-owox-better-auth/src/client/dto/index.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.test.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.test.ts
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.ts
  packages/idp-owox-better-auth/src/dto/extension-auth-request.dto.test.ts
  packages/idp-owox-better-auth/src/dto/extension-auth-request.dto.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.extensionAuth.test.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/extension-auth-service.test.ts
  packages/idp-owox-better-auth/src/services/auth/extension-auth-service.ts
  packages/idp-owox-better-auth/src/services/auth/extension-identity-resolver.test.ts
  packages/idp-owox-better-auth/src/services/auth/extension-identity-resolver.ts
  packages/idp-owox-better-auth/src/services/auth/microsoft-entra-access-token-verifier.test.ts
  packages/idp-owox-better-auth/src/services/auth/microsoft-entra-access-token-verifier.ts
  packages/idp-owox-better-auth/src/social/microsoft-provider.test.ts
  packages/idp-owox-better-auth/src/store/database-store.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-extension-auth-storage.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add copyable direct link for the report edit sidebar
  .changeset/6801-copy-link-report-sheet.md
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.test.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useReportDeepLink.ts
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportSidesheet.test.tsx
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportSidesheet.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

style(web): apply prettier formatting to report sheet changes
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportSidesheet.test.tsx
Due: none

fix(web): harden report deep-link handling after code review
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportSheetDescription/ReportSheetDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportSheetDescription/index.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useReportDeepLink.ts
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportSidesheet.test.tsx
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportSidesheet.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/shared/hooks/useUrlParam.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Remove process-local assertion rate limiter
  .env.example
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/config/idp-owox-config.test.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.test.ts
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Remove internal add-in OAuth changeset
  .changeset/6833-addin-identity-oauth.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Build SQLite binding for IDP tests
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

Simplify Microsoft extension auth provisioning
  .github/workflows/test-owox.yml
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.extensionAuth.test.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/dto/extensionAuthFlowDto.ts
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.test.ts
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.ts
  packages/idp-owox-better-auth/src/dto/extension-auth-request.dto.test.ts
  packages/idp-owox-better-auth/src/dto/extension-auth-request.dto.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.extensionAuth.test.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/extension-auth-service.test.ts
  packages/idp-owox-better-auth/src/services/auth/extension-auth-service.ts
  packages/idp-owox-better-auth/src/services/auth/extension-identity-resolver.test.ts
  packages/idp-owox-better-auth/src/services/auth/extension-identity-resolver.ts
  packages/idp-owox-better-auth/src/services/auth/microsoft-entra-access-token-verifier.test.ts
  packages/idp-owox-better-auth/src/services/auth/microsoft-entra-access-token-verifier.ts
  packages/idp-owox-better-auth/src/social/microsoft-provider.test.ts
  packages/idp-owox-better-auth/src/store/database-store.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-extension-auth-storage.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp): harden extension revoke and CORS
  .env.example
  apps/owox/src/web/cors.ts
  apps/owox/test/web/cors.test.ts
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.test.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.extensionAuth.test.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp): surface Microsoft JWKS outages
  packages/idp-owox-better-auth/src/services/auth/microsoft-entra-access-token-verifier.test.ts
  packages/idp-owox-better-auth/src/services/auth/microsoft-entra-access-token-verifier.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

0.32.0 release update
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp): address Microsoft extension review feedback
  apps/owox/src/web/cors.ts
  apps/owox/test/web/cors.test.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.extensionAuth.test.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.test.ts
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): serve help videos from Cloudflare Stream instead of GitHub
  .changeset/6814-help-videos-cloudflare-stream.md
  apps/docs/scripts/sync-docs.js
  apps/web/src/components/ContentPopovers/popovers/Video1GoogleSheetsReport.tsx
  apps/web/src/components/ContentPopovers/popovers/Video2LookerAsDestination.tsx
  apps/web/src/components/ContentPopovers/popovers/Video3GettingStartedDataMarts.tsx
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp): normalize Entra boolean claims
  packages/idp-owox-better-auth/src/services/auth/microsoft-entra-access-token-verifier.test.ts
  packages/idp-owox-better-auth/src/services/auth/microsoft-entra-access-token-verifier.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@d9839457f5eaf96478b05a4dd033f45a0e581c1c 🚀
  packages/idp-owox-better-auth/readme/index.html
  pagefind/fragment/en_17392fc.pf_fragment
  pagefind/fragment/en_48ea918.pf_fragment
  pagefind/index/en_1217d71.pf_index
  pagefind/index/en_1a3b6ff.pf_index
  pagefind/index/en_20892d6.pf_index
  pagefind/index/en_30361d1.pf_index
  pagefind/index/en_421ff19.pf_index
  pagefind/index/en_4983778.pf_index
  pagefind/index/en_4a84c3f.pf_index
  pagefind/index/en_5740c63.pf_index
  pagefind/index/en_5752745.pf_index
  pagefind/index/en_61bf2f4.pf_index
  pagefind/index/en_63ab360.pf_index
  pagefind/index/en_63f0273.pf_index
  pagefind/index/en_64768ba.pf_index
  pagefind/index/en_6588dfa.pf_index
  pagefind/index/en_6b36e53.pf_index
  pagefind/index/en_77876a8.pf_index
  pagefind/index/en_795c29d.pf_index
  pagefind/index/en_7b12353.pf_index
  pagefind/index/en_7eb23d2.pf_index
  pagefind/index/en_865e486.pf_index
  pagefind/index/en_877db62.pf_index
  pagefind/index/en_a862827.pf_index
  pagefind/index/en_b279749.pf_index
  pagefind/index/en_bbe7dec.pf_index
  pagefind/index/en_c599e2a.pf_index
  pagefind/index/en_d824597.pf_index
  pagefind/index/en_dcffa9f.pf_index
  pagefind/index/en_e1aaa17.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3167557bb8.pf_meta
  pagefind/pagefind.en_b3bbf81eb9.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(web): keep Joinable Data Marts zoom controls usable regardless of fit timing
  .changeset/6858-canvas-zoom-after-search.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): assert the new PK identity shape in the BigQuery integration test
  apps/backend/test/integration/bigquery.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): compute the fitted zoom with React Flow's own viewport math
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(microsoft-ads): resume interrupted imports from last completed day
  .changeset/6864-microsoft-ads-per-day-checkpoint.md
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/test/Sources/MicrosoftAds/perDayCheckpoint.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): resume interrupted Ads imports from last completed date
  .changeset/6865-per-day-checkpoint-ads-connectors.md
  packages/connectors/CONTRIBUTING.md
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/GoogleAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/test/Sources/CriteoAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/GoogleAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/RedditAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/XAds/perDayCheckpoint.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(microsoft-ads): guard empty account list and unknown nodes
  .changeset/6864-microsoft-ads-per-day-checkpoint.md
  packages/connectors/src/Core/Utils/FormatUtils.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/test/Sources/MicrosoftAds/perDayCheckpoint.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): report an interrupted connector run as a warning
  .changeset/6857-terminal-status-warning.md
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(criteo): reject an empty advertiser list and non-time-series nodes
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/test/Sources/CriteoAds/perDayCheckpoint.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@de49dceb6665a1c4a568fe9861aa437410d4a9e5 🚀
  packages/connectors/contributing/index.html
  pagefind/fragment/en_6dc0620.pf_fragment
  pagefind/fragment/en_7bdd718.pf_fragment
  pagefind/index/en_138a112.pf_index
  pagefind/index/en_28d2786.pf_index
  pagefind/index/en_357a741.pf_index
  pagefind/index/en_38d0882.pf_index
  pagefind/index/en_3c6ec73.pf_index
  pagefind/index/en_67d0e23.pf_index
  pagefind/index/en_6b1f8d6.pf_index
  pagefind/index/en_6f78d37.pf_index
  pagefind/index/en_7462382.pf_index
  pagefind/index/en_7bc7e2e.pf_index
  pagefind/index/en_8569516.pf_index
  pagefind/index/en_9061122.pf_index
  pagefind/index/en_a474fab.pf_index
  pagefind/index/en_a78f451.pf_index
  pagefind/index/en_b1ada56.pf_index
  pagefind/index/en_b4c7407.pf_index
  pagefind/index/en_b994694.pf_index
  pagefind/index/en_bf1bf09.pf_index
  pagefind/index/en_c7239cb.pf_index
  pagefind/index/en_c825490.pf_index
  pagefind/index/en_c9ea111.pf_index
  pagefind/index/en_cd99911.pf_index
  pagefind/index/en_d8a077f.pf_index
  pagefind/index/en_e22819f.pf_index
  pagefind/index/en_eab7c11.pf_index
  pagefind/index/en_f40727c.pf_index
  pagefind/index/en_fb723a8.pf_index
  pagefind/index/en_ff146e8.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_78dd66d6cd.pf_meta
  pagefind/pagefind.en_8d3ed4e8ab.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(backend): warn only on shutdown-interrupted runs, keep others errors
  .changeset/6857-terminal-status-warning.md
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): show joined Data Mart details in report column picker
  .changeset/6827-joined-data-mart-details.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/DateTruncRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FieldInfoTooltip.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/UniqueCountRow.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/UniqueCountRow.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
