Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add migration to update TikTok Ads connector configurations to an OAuth2 structure (#881)
  apps/backend/src/migrations/1769769180000-migrate-tiktok-ads-to-oauth2-structure.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add cost_per_result, result_rate, and results fields to Facebook Ad Account Insights definitions
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-age-and-gender.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-device-platform.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-product-id.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-publisher-platform-and-position.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-region.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(docs): Simplify Snowflake storage configuration instructions and update authentication method details
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

save new arch
  apps/backend/src/common/resolver/type-resolver.spec.ts
  apps/backend/src/common/resolver/type-resolver.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/schemas/bigquery-config.schema.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy-bigquery-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy-bigquery-sql-dry-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy-bigquery-sql-preprocessor.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy-bigquery-sql-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/enums/data-storage-type.enum.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/delete-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

new legacy api layer
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/legacy-odm/create-data-mart-odm.request.dto.ts
  apps/backend/src/data-marts/dto/domain/legacy-odm/data-mart-details-odm.response.dto.ts
  apps/backend/src/data-marts/dto/domain/legacy-odm/data-mart-list-odm.response.dto.ts
  apps/backend/src/data-marts/dto/domain/legacy-odm/description.request.dto.ts
  apps/backend/src/data-marts/dto/domain/legacy-odm/parsed-query-odm.response.dto.ts
  apps/backend/src/data-marts/dto/domain/legacy-odm/query.request.dto.ts
  apps/backend/src/data-marts/dto/domain/legacy-odm/title.request.dto.ts
  apps/backend/src/data-marts/services/legacy-data-marts.service.spec.ts
  apps/backend/src/data-marts/services/legacy-data-marts.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactored dataMartRepository usage
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/delete-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts-by-connector-name.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-description.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-title.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

save
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/sync-legacy-data-mart.command.ts
  apps/backend/src/data-marts/dto/domain/sync-legacy-data-marts-by-project.command.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/services/data-storage.service.spec.ts
  apps/backend/src/data-marts/services/data-storage.service.ts
  apps/backend/src/data-marts/services/legacy-data-marts.service.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-marts-by-project.service.spec.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-marts-by-project.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add cost_per_result, result_rate, and results fields to Facebook Ad Account Insights definitions (#882)
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-age-and-gender.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-device-platform.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-product-id.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-publisher-platform-and-position.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-region.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(docs): Update Snowflake storage configuration instructions for clarity and accuracy
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): Add screenshot for Snowflake account details and enhance tutorial clarity
  docs/res/screens/snowflake_filledaccount.png
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Refactor tutorial structure for improved readability and maintainability
  docs/res/screens/snowflake_enterpat.png
  docs/res/screens/snowflake_generatetoken.png
  docs/res/screens/snowflake_privatekey.png
  docs/res/screens/snowflake_setpublickey.png
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(docs): Improve clarity and structure of Snowflake configuration tutorial
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(docs): Restructure Snowflake configuration guide for improved clarity and detail
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(docs): Clarify Snowflake PAT authentication steps and network policy instructions
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(docs): Improve clarity and formatting in Snowflake configuration guide
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(docs): Enhance clarity of account identifier instructions in Snowflake guide
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): update Snowflake auth UI to use PAT terminology
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/SnowflakeAuthMethodDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/SnowflakePasswordDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/SnowflakeUsernameDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/SnowflakeWarehouseDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/StorageTypeSnowflakeDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/SnowflakeFields.tsx
Due: none

Changeset: Update Snowflake storage UI to use PAT terminology instead of Password.
  .changeset/snowflake-pat-ui-updates.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): update Snowflake storage UI to use PAT terminology (#883)
  .changeset/snowflake-pat-ui-updates.md
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/SnowflakeAuthMethodDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/SnowflakePasswordDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/SnowflakeUsernameDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/SnowflakeWarehouseDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/StorageTypeSnowflakeDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/SnowflakeFields.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: Introduce `getRedshiftQueryEditorUrl` utility and integrate it for dynamic Redshift Query Editor v2 console links.
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: Update AWS SDK dependencies to 3.952.0 and refine Athena ColumnInfo import path.
  apps/backend/package.json
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-data-mart-schema.provider.ts
  package-lock.json
  packages/connectors/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: Update Redshift Query Editor URL to new SQL Workbench format, placing region in subdomain and removing encoding.
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(snowflake): enhance schema derivation to handle LIMIT clauses correctly by using subqueries
  .changeset/fix-snowflake-limit-clause.md
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-query.builder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: Update AWS SDK dependencies to 3.952.0 and refine Athena ColumnInfo import path. (#885)
  apps/backend/package.json
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-data-mart-schema.provider.ts
  package-lock.json
  packages/connectors/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: Update AWS SDK dependencies to version 3.983.0 and Snowflake SDK to version 2.3.3; add fast-xml-parser dependency
  apps/backend/package.json
  package-lock.json
  package.json
  packages/connectors/package.json
Due: prettier --write --config ./prettier.config.js

chore: clean up package-lock.json by removing extraneous @types/node and undici-types entries, and update @types/node to version 25.2.0
  package-lock.json
Due: prettier --write --config ./prettier.config.js

chore: add @better-fetch/fetch dependency version 1.1.21 and update event types in DataMart components
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartDefinitionForm.tsx
  package-lock.json
  packages/connectors/package.json
  packages/idp-better-auth/package.json
Due: prettier --write --config ./prettier.config.js

chore: Update AWS SDK dependencies to version 3.983.0 and Snowflake SDK to version 2.3.3; add fast-xml-parser dependency (#888)
  apps/backend/package.json
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartDefinitionForm.tsx
  package-lock.json
  package.json
  packages/connectors/package.json
  packages/idp-better-auth/package.json
Due: prettier --write --config ./prettier.config.js

fix(snowflake): enhance schema derivation to handle LIMIT clauses correctly by using subqueries (#887)
  .changeset/fix-snowflake-limit-clause.md
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-query.builder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fix Redshift Query Editor v2 Schema and Table links (#886)
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update CHANGELOG.md for version 0.18.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add changelog entry for version 0.18.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@fdd40a6c0f0590eb9a1307f87df3a275c3c89646 🚀
  docs/changelog/index.html
  pagefind/fragment/en_6e63777.pf_fragment
  pagefind/fragment/en_c42b72f.pf_fragment
  pagefind/index/en_1f837a8.pf_index
  pagefind/index/en_42714f4.pf_index
  pagefind/index/en_4fd541e.pf_index
  pagefind/index/en_5429e2e.pf_index
  pagefind/index/en_5ca79fa.pf_index
  pagefind/index/en_647c2a5.pf_index
  pagefind/index/en_6ce7b88.pf_index
  pagefind/index/en_9aa292d.pf_index
  pagefind/index/en_b1eeddd.pf_index
  pagefind/index/en_cd6a329.pf_index
  pagefind/index/en_d825c66.pf_index
  pagefind/index/en_dc646dc.pf_index
  pagefind/index/en_e5bf4fb.pf_index
  pagefind/index/en_e98d2e3.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_9d7c188d9b.pf_meta
  pagefind/pagefind.en_9dbe3c6a67.pf_meta
Due: prettier --write --config ./prettier.config.js

docs: clarify Snowflake storage service account setup
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: refresh Snowflake PAT and key screenshots
  docs/res/screens/snowflake_enterpat.png
  docs/res/screens/snowflake_setpublickey.png
Due: none

docs: polish and clarify Snowflake storage setup guide
  docs/res/screens/snowflake_privatekey.png
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: Refactor Snowflake storage setup guide for improved clarity, conciseness, and updated image paths
  docs/res/screens/snowflake_generatetoken.png
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp-owox-better-auth): updated env variables
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/owoxBetterAuthIdp.ts
  packages/idp-owox-better-auth/src/services/auth-flow-service.ts
  packages/idp-owox-better-auth/src/services/authentication-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
