Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(open-holidays): enhance GETTING STARTED guide with detailed steps and new images
  packages/connectors/src/Sources/OpenHolidays/GETTING_STARTED.md
  packages/connectors/src/Sources/OpenHolidays/res/holidays_bq.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_connector.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_currentday.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_daterange.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_fill_data.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_incremental.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_newdatamart.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_publish.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_reimportwindow.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_storage.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_successrun.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(open-holidays): enhance GETTING STARTED guide with detailed steps and new images (#592)
  packages/connectors/src/Sources/OpenHolidays/GETTING_STARTED.md
  packages/connectors/src/Sources/OpenHolidays/res/holidays_bq.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_connector.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_currentday.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_daterange.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_fill_data.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_incremental.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_newdatamart.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_publish.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_reimportwindow.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_storage.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_successrun.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@b2a47e94a0c0e213cd88b3120386e1d8a629a417 🚀
  _astro/holidays-bq.DG1XDI_B_Z1l7ABD.webp
  _astro/holidays-date.Cf9BRHiu_Z1tC8XP.webp
  _astro/holidays-fill-data.Da74c2bB_ZvTtI0.webp
  _astro/holidays-finished.DK__SKri_1emOUl.webp
  _astro/holidays-import.T4bDPhPI_2rvd03.webp
  _astro/holidays-incremental.BnSyPlH4_QjlGg.webp
  _astro/holidays-publish.CmaTSiTt_ZrhWxb.webp
  _astro/holidays-reimportwindow.DNWTCqsA_Z2hN9s0.webp
  _astro/holidays-successrun.CR8Vbxxc_Z2bou0L.webp
  packages/connectors/src/sources/open-holidays/getting-started/index.html
  pagefind/fragment/en_ef83a85.pf_fragment
  pagefind/fragment/en_ff30de3.pf_fragment
  pagefind/index/en_1aebb71.pf_index
  pagefind/index/en_1b2f3a1.pf_index
  pagefind/index/en_47ae48e.pf_index
  pagefind/index/en_60b0db1.pf_index
  pagefind/index/en_676a243.pf_index
  pagefind/index/en_6b76bec.pf_index
  pagefind/index/en_7436891.pf_index
  pagefind/index/en_a28d2a7.pf_index
  pagefind/index/en_a7c15cd.pf_index
  pagefind/index/en_cf3cfad.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_cab1b7cc3d.pf_meta
  pagefind/pagefind.en_e320e6b551.pf_meta
Due: prettier --write --config ./prettier.config.js

docs(env-variables): updated public urls part
  docs/getting-started/deployment-guide/environment-variables.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(env-variables): updated public urls part (#593)
  docs/getting-started/deployment-guide/environment-variables.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@0391f61696dfce492cc89d55fbd3deee2bb5764c 🚀
  docs/getting-started/deployment-guide/environment-variables/index.html
  pagefind/fragment/en_b394a35.pf_fragment
  pagefind/fragment/en_d861436.pf_fragment
  pagefind/index/en_47ae48e.pf_index
  pagefind/index/en_48b5b8c.pf_index
  pagefind/index/en_60b0db1.pf_index
  pagefind/index/en_6b76bec.pf_index
  pagefind/index/en_6e11869.pf_index
  pagefind/index/en_88c7cf8.pf_index
  pagefind/index/en_a28d2a7.pf_index
  pagefind/index/en_c010523.pf_index
  pagefind/index/en_cf3cfad.pf_index
  pagefind/index/en_cfb26f6.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_e320e6b551.pf_meta
  pagefind/pagefind.en_f18d43365e.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(backend): triggers mechanism enhanced
  apps/backend/src/common/scheduler/facades/scheduler-facade.impl.ts
  apps/backend/src/common/scheduler/scheduler.module.ts
  apps/backend/src/common/scheduler/services/fetchers/strategies/immediate-fetch.strategy.ts
  apps/backend/src/common/scheduler/services/fetchers/strategies/time-based-fetch.strategy.ts
  apps/backend/src/common/scheduler/services/fetchers/strategies/trigger-fetch-strategy.interface.ts
  apps/backend/src/common/scheduler/services/fetchers/time-based-trigger-fetcher.factory.ts
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher-factory.service.ts
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.spec.ts
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.ts
  apps/backend/src/common/scheduler/services/runners/abstract-trigger-runner.service.ts
  apps/backend/src/common/scheduler/services/runners/direct-trigger-runner.service.ts
  apps/backend/src/common/scheduler/services/runners/pubsub-trigger-runner.service.ts
  apps/backend/src/common/scheduler/services/runners/trigger-runner.factory.ts
  apps/backend/src/common/scheduler/services/runners/trigger-runner.interface.ts
  apps/backend/src/common/scheduler/shared/entities/scheduled-trigger.entity.spec.ts
  apps/backend/src/common/scheduler/shared/entities/scheduled-trigger.entity.ts
  apps/backend/src/common/scheduler/shared/entities/time-based-trigger.entity.spec.ts
  apps/backend/src/common/scheduler/shared/entities/time-based-trigger.entity.ts
  apps/backend/src/common/scheduler/shared/entities/trigger-status.ts
  apps/backend/src/common/scheduler/shared/entities/trigger.entity.ts
  apps/backend/src/common/scheduler/shared/entities/ui-trigger.entity.ts
  apps/backend/src/common/scheduler/shared/scheduler.facade.ts
  apps/backend/src/common/scheduler/shared/trigger-handler.interface.ts
  apps/backend/src/common/scheduler/shared/ui-trigger-controller.ts
  apps/backend/src/data-marts/entities/data-mart-scheduled-trigger.entity.ts
  apps/backend/src/data-marts/enums/report-run-status.enum.ts
  apps/backend/src/data-marts/scheduled-trigger-types/facades/scheduled-trigger-processor.facade.ts
  apps/backend/src/data-marts/scheduled-trigger-types/interfaces/scheduled-trigger-processor.interface.ts
  apps/backend/src/data-marts/scheduled-trigger-types/scheduled-report-run/services/scheduled-report-run-processor.ts
  apps/backend/src/data-marts/services/scheduled-triggers-handler.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/shared/enums/report-status.enum.ts
  apps/web/src/features/data-marts/reports/shared/models/report-status.model.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): Enhance Google BigQuery location options (#584)
  apps/web/src/features/data-storage/shared/model/types/google-bigquery-locations.ts
  apps/web/src/shared/components/Combobox/combobox.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp-better-auth): remove magic link warning message
  packages/idp-better-auth/src/templates/admin-add-user.html
  packages/idp-better-auth/src/templates/admin-user-details.html
Due: none

new integration
  .env.example
  backend/app/auth/idp_provider.py
  backend/app/services/data_transfer_service.py
  backend/app/services/storage/bigquery_facade.py
  backend/app/tasks/connector_tasks.py
  backend/requirements.txt
  docker-compose.dev.yml
Due: prettier --write --config ./prettier.config.js

refactor: convert boolean parameters to proper boolean type (#577)
  .changeset/boolean-parameters-breaking-change.md
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Feature/create table even without data (#529)
  .changeset/create-empty-tables.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Sources/BankOfCanada/Connector.js
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GitHub/Connector.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/OpenExchangeRatesAPIReference/OpenExchangeRatesFieldsSchema.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/OpenHolidays/Connector.js
  packages/connectors/src/Sources/OpenHolidays/Source.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add GoogleAdsSource with service account authorization
  packages/connectors/src/Sources/GoogleAds/GoogleAdsFieldsSchema.js
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: BigQuery Bytes value encoding changed to base64
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: BigQuery Bytes value encoding changed to base64 (#597)
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp-better-auth): remove magic link warning message (#595)
  packages/idp-better-auth/src/templates/admin-add-user.html
  packages/idp-better-auth/src/templates/admin-user-details.html
Due: none

feat(migrations): improve logging and streamline migration commands
  apps/backend/src/config/migrations.config.ts
  apps/backend/src/migrations/migration-utils.ts
  apps/owox/src/commands/base.ts
  apps/owox/src/commands/migrations/down.ts
  apps/owox/src/commands/migrations/status.ts
  apps/owox/src/commands/migrations/up.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(env): Remove Intercom configuration example from `.env.example`
  .env.example
Due: none

feat(backend): Refactor Intercom JWT issuance to use service and mappers
  apps/backend/src/idp/controllers/intercom.controller.spec.ts
  apps/backend/src/idp/controllers/intercom.controller.ts
  apps/backend/src/idp/controllers/spec/intercom.api.ts
  apps/backend/src/idp/dto/domain/issue-intercom-jwt.command.ts
  apps/backend/src/idp/dto/presentation/intercom-token-response-api.dto.ts
  apps/backend/src/idp/idp.module.ts
  apps/backend/src/idp/mappers/intercom.mapper.ts
  apps/backend/src/idp/types/intercom-token.types.ts
  apps/backend/src/idp/use-cases/issue-intercom-jwt.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

style(backend): Reformat import statements in Intercom API spec controller
  apps/backend/src/idp/controllers/spec/intercom.api.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(migrations): enhance migration commands with improved logging and detailed descriptions
  apps/backend/src/config/migrations.config.ts
  apps/backend/src/migrations/migration-utils.ts
  apps/owox/src/commands/migrations/down.ts
  apps/owox/src/commands/migrations/index.ts
  apps/owox/src/commands/migrations/status.ts
  apps/owox/src/commands/migrations/up.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix startup at node 22.16.0
  apps/owox/src/commands/serve.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(migrations): refactor migration scripts for consistency and clarity
  apps/backend/package.json
  apps/owox/package.json
  package.json
  packages/internal-helpers/src/environment/env-manager.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add Intercom chat widget integration (#581)
  .changeset/intercom-jwt-and-chat.md
  .env.example
  apps/backend/src/idp/controllers/intercom.controller.spec.ts
  apps/backend/src/idp/controllers/intercom.controller.ts
  apps/backend/src/idp/controllers/spec/intercom.api.ts
  apps/backend/src/idp/dto/domain/issue-intercom-jwt.command.ts
  apps/backend/src/idp/dto/presentation/intercom-token-response-api.dto.ts
  apps/backend/src/idp/idp.module.ts
  apps/backend/src/idp/mappers/intercom.mapper.ts
  apps/backend/src/idp/types/intercom-token.types.ts
  apps/backend/src/idp/use-cases/issue-intercom-jwt.service.ts
  apps/owox/src/web/flags-route.ts
  apps/web/src/App.tsx
  apps/web/src/app/intercom/IntercomChat.test.tsx
  apps/web/src/app/intercom/IntercomChat.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add System option for automatic theme selection in User Menu
  .changeset/add-system-option-in-theme-switcher.md
  apps/web/src/components/AppSidebar/UserMenu/UserMenu.tsx
  apps/web/src/components/AppSidebar/UserMenu/UserMenuContent.tsx
  apps/web/src/components/AppSidebar/UserMenu/items.ts
  apps/web/src/components/AppSidebar/UserMenu/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(health-check): implement health probe functionality across providers and routes (#578)
  apps/backend/src/health/health-probe.ts
  apps/backend/src/index.ts
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  apps/owox/src/web/health-route.ts
  apps/owox/src/web/index.ts
  apps/owox/src/web/readiness.ts
  package-lock.json
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-owox/src/auth/AuthorizationStore.ts
  packages/idp-owox/src/auth/MysqlAuthorizationStore.ts
  packages/idp-owox/src/auth/SqliteAuthorizationStore.ts
  packages/idp-owox/src/owoxIdp.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/provider.ts
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/utils/promiseWithTimeout.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add System option for automatic theme selection in User Menu (#598)
  .changeset/add-system-option-in-theme-switcher.md
  apps/web/src/components/AppSidebar/UserMenu/UserMenu.tsx
  apps/web/src/components/AppSidebar/UserMenu/UserMenuContent.tsx
  apps/web/src/components/AppSidebar/UserMenu/items.ts
  apps/web/src/components/AppSidebar/UserMenu/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG.md with banners for 0.7.0 and 0.8.0 versions
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: Update CHANGELOG.md to replace image links with direct URLs for versions 0.7.0 and 0.8.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG.md
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG.md with banners for 0.7.0 and 0.8.0 versions (#599)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@08a58146449d69fef5325a58cb5006c5f4c0c956 🚀
  docs/changelog/index.html
  pagefind/fragment/en_1018692.pf_fragment
  pagefind/fragment/en_d751b59.pf_fragment
  pagefind/index/en_48b5b8c.pf_index
  pagefind/index/en_49373c1.pf_index
  pagefind/index/en_6e11869.pf_index
  pagefind/index/en_88c7cf8.pf_index
  pagefind/index/en_b21f215.pf_index
  pagefind/index/en_c010523.pf_index
  pagefind/index/en_cfb26f6.pf_index
  pagefind/index/en_df38595.pf_index
  pagefind/index/en_e1ee426.pf_index
  pagefind/index/en_fabbcf6.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_f18d43365e.pf_meta
  pagefind/pagefind.en_f919e8b1e4.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(migrations): update migration error handling and some minor fix
  .changeset/cli-migrations-commands.md
  apps/backend/src/config/migrations.config.ts
  apps/backend/src/migrations/migration-utils.ts
  package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: banners links in changelog
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: banners links in changelog (#600)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@973643e15bddda8ae754bc0b9b82fb77b9b36462 🚀
  docs/changelog/index.html
  pagefind/fragment/en_5d7e1df.pf_fragment
  pagefind/fragment/en_d751b59.pf_fragment
  pagefind/index/en_49373c1.pf_index
  pagefind/index/en_4af660f.pf_index
  pagefind/index/en_6e11869.pf_index
  pagefind/index/en_73e2623.pf_index
  pagefind/index/en_88c7cf8.pf_index
  pagefind/index/en_b21f215.pf_index
  pagefind/index/en_cfb26f6.pf_index
  pagefind/index/en_df38595.pf_index
  pagefind/index/en_e1ee426.pf_index
  pagefind/index/en_fabbcf6.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3642cde77a.pf_meta
  pagefind/pagefind.en_f919e8b1e4.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(migrations): improve error handling during migrations lock acquisition
  apps/backend/src/migrations/migration-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enable server hosting on all network interfaces
  apps/web/vite.config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(migrations): simplify error handling during migrations lock acquisition
  apps/backend/src/migrations/migration-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
