Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix(google-sheets): name the first sheet of an auto-created document after the report
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changeset
  .changeset/6960-google-sheet-first-sheet-named-after-report.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(facebook): drop conversion fields from asset breakdown defaults
  .changeset/6903-facebook-marketing-default-conversion-fields.md
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-adset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-age-and-gender.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-campaign.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-device-platform.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-product-id.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-publisher-platform-and-position.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-region.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Sources/FacebookMarketing/TROUBLESHOOTING.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(google-sheets): rename the default sheet best-effort after a Drive create
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(facebook): sharpen conversion field and region breakdown wording
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-adset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-age-and-gender.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-campaign.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-device-platform.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-product-id.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-publisher-platform-and-position.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-region.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@3f005422b6226dd020a5c7ac74278023c33595dc 🚀
  packages/connectors/src/sources/facebook-marketing/endpoints-and-fields/index.html
  packages/connectors/src/sources/facebook-marketing/troubleshooting/index.html
  pagefind/fragment/en_56e28c6.pf_fragment
  pagefind/fragment/en_8446778.pf_fragment
  pagefind/fragment/en_a2c4f7f.pf_fragment
  pagefind/fragment/en_e61a979.pf_fragment
  pagefind/index/en_13d5495.pf_index
  pagefind/index/en_14b4c16.pf_index
  pagefind/index/en_15adbcc.pf_index
  pagefind/index/en_2836137.pf_index
  pagefind/index/en_31c9a6d.pf_index
  pagefind/index/en_35aac72.pf_index
  pagefind/index/en_506ba9b.pf_index
  pagefind/index/en_522d854.pf_index
  pagefind/index/en_5c4f5b9.pf_index
  pagefind/index/en_5f88a8b.pf_index
  pagefind/index/en_6812676.pf_index
  pagefind/index/en_7f5a3e5.pf_index
  pagefind/index/en_8083992.pf_index
  pagefind/index/en_833dabd.pf_index
  pagefind/index/en_94ef5a4.pf_index
  pagefind/index/en_adb7579.pf_index
  pagefind/index/en_b0a784e.pf_index
  pagefind/index/en_b483b5e.pf_index
  pagefind/index/en_ba12d36.pf_index
  pagefind/index/en_c1e1ed9.pf_index
  pagefind/index/en_c7adbd9.pf_index
  pagefind/index/en_cb7bb78.pf_index
  pagefind/index/en_d7d5495.pf_index
  pagefind/index/en_da88362.pf_index
  pagefind/index/en_de222e8.pf_index
  pagefind/index/en_ea97c58.pf_index
  pagefind/index/en_ed1e29e.pf_index
  pagefind/index/en_f2522d1.pf_index
  pagefind/index/en_f6ff942.pf_index
  pagefind/index/en_fefe1c4.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5aacaf8f4d.pf_meta
  pagefind/pagefind.en_b076b8ade8.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): enhance AI assistant promo card and actions across reports and destinations
  apps/web/src/features/data-marts/reports/list/components/AiAssistantDestinationCard/AiAssistantDestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/shared/components/ConnectAiAssistantPromoActions/ConnectAiAssistantPromoActions.tsx
  apps/web/src/shared/components/ConnectAiAssistantPromoActions/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(google-sheets): clarify sheet naming for shared documents and the Create document button
  .changeset/6960-google-sheet-first-sheet-named-after-report.md
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@bad31580d2e76e30560c907c7c95a52a60111985 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_634e88e.pf_fragment
  pagefind/fragment/en_9f9ce56.pf_fragment
  pagefind/index/en_13d5495.pf_index
  pagefind/index/en_14b4c16.pf_index
  pagefind/index/en_23473c0.pf_index
  pagefind/index/en_304bae8.pf_index
  pagefind/index/en_31c9a6d.pf_index
  pagefind/index/en_35aac72.pf_index
  pagefind/index/en_3ee5a26.pf_index
  pagefind/index/en_4cdad69.pf_index
  pagefind/index/en_522d854.pf_index
  pagefind/index/en_56b77b8.pf_index
  pagefind/index/en_5c4f5b9.pf_index
  pagefind/index/en_6055739.pf_index
  pagefind/index/en_6812676.pf_index
  pagefind/index/en_6d70a9b.pf_index
  pagefind/index/en_7f5a3e5.pf_index
  pagefind/index/en_7fd2628.pf_index
  pagefind/index/en_8083992.pf_index
  pagefind/index/en_925bb11.pf_index
  pagefind/index/en_974c68f.pf_index
  pagefind/index/en_adb7579.pf_index
  pagefind/index/en_b483b5e.pf_index
  pagefind/index/en_b636d4e.pf_index
  pagefind/index/en_cb7bb78.pf_index
  pagefind/index/en_cca074a.pf_index
  pagefind/index/en_da88362.pf_index
  pagefind/index/en_de222e8.pf_index
  pagefind/index/en_e3b4f21.pf_index
  pagefind/index/en_e67ad63.pf_index
  pagefind/index/en_ea97c58.pf_index
  pagefind/index/en_f132198.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5aacaf8f4d.pf_meta
  pagefind/pagefind.en_e5c47c11d3.pf_meta
Due: prettier --write --config ./prettier.config.js

chore(connectors): bump Criteo, LinkedIn, and Facebook API versions
  .changeset/6965-current-connector-api-versions.md
  apps/web/src/features/connectors/shared/components/FacebookLoginButton/FacebookLoginButton.tsx
  packages/connectors/src/Sources/CriteoAds/CREDENTIALS.md
  packages/connectors/src/Sources/CriteoAds/GETTING_STARTED.md
  packages/connectors/src/Sources/CriteoAds/README.md
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@6b58dc19a6c54e584b8763b79a79e3e332b8c381 🚀
  packages/connectors/src/sources/criteo-ads/credentials/index.html
  packages/connectors/src/sources/criteo-ads/getting-started/index.html
  packages/connectors/src/sources/criteo-ads/readme/index.html
  packages/connectors/src/sources/facebook-marketing/credentials/index.html
  packages/connectors/src/sources/facebook-marketing/endpoints-and-fields/index.html
  pagefind/fragment/en_476a5bd.pf_fragment
  pagefind/fragment/en_63f78e8.pf_fragment
  pagefind/fragment/en_655dd04.pf_fragment
  pagefind/fragment/en_a460ee6.pf_fragment
  pagefind/fragment/en_adbaafb.pf_fragment
  pagefind/fragment/en_ccbe2bc.pf_fragment
  pagefind/fragment/en_e181406.pf_fragment
  pagefind/fragment/en_e4ca1b3.pf_fragment
  pagefind/fragment/en_e61a979.pf_fragment
  pagefind/fragment/en_f53d297.pf_fragment
  pagefind/index/en_15acc97.pf_index
  pagefind/index/en_23473c0.pf_index
  pagefind/index/en_6d70a9b.pf_index
  pagefind/index/en_7fd2628.pf_index
  pagefind/index/en_b0e2cca.pf_index
  pagefind/index/en_bc68e57.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_7f6a8d9a9b.pf_meta
  pagefind/pagefind.en_e5c47c11d3.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(connectors): address review notes on the Google Sheets tab picker
  apps/backend/src/data-marts/dto/presentation/connector-field-options-preview-request-api.dto.ts
  apps/backend/src/data-marts/services/connector/connector-field-options-preview.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-field-options-preview.service.ts
  apps/backend/src/data-marts/services/connector/connector-fields-preview.service.ts
  apps/backend/src/data-marts/services/connector/connector-preview-support.ts
  apps/backend/test/connector-specification.e2e-spec.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationField/ConfigurationDynamicOptionsField.tsx
  apps/web/src/shared/components/Combobox/combobox.tsx
  packages/connectors/CREATING_CONNECTOR.md
  packages/connectors/src/Constants/CommonConstants.js
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(backend): give ESLint the heap its type-aware rules need
  apps/backend/package.json
Due: prettier --write --config ./prettier.config.js

fix(data-marts): finish the review's remaining findings
  apps/backend/src/data-marts/calculated-fields/formula-lifting.rethrow.spec.ts
  apps/backend/src/data-marts/dto/schemas/field-type-category.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsButton.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowAggregationIcon.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/shared/utils/flatten-native-fields.test.ts
  docs/contributing/testing.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): sum a lifted formula where its rows were empty, and record every collapse
  apps/backend/src/data-marts/calculated-fields/formula-lifting.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-lifting.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run-report-definition.schema.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/test/output-controls.e2e-spec.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(data-marts): close the gaps a review found in the collapse's coverage
  apps/backend/src/data-marts/data-storage-types/interfaces/distinct-projection.dialects.spec.ts
  apps/backend/src/data-marts/dto/schemas/field-type-category.web-parity.spec.ts
  apps/backend/src/data-marts/services/auto-collapse-opt-in.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(data-marts): state the lift rule the code actually applies (#6948)
  .changeset/6948-avoid-duplicates-in-reports.md
  apps/backend/src/data-marts/calculated-fields/formula-lifting.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(web): type the three run fields the automatic collapse writes
  apps/web/src/features/data-marts/shared/types/api/shared/data-mart-run-report-definition.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: take the last two review suggestions, both of which turned out to bite
  apps/backend/src/data-marts/services/auto-collapse.resolver.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/shared/utils/auto-collapse.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): refuse the collapse where it would move a number
  .changeset/6948-avoid-duplicates-in-reports.md
  apps/backend/src/data-marts/services/auto-collapse.resolver.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.ts
  apps/web/src/features/data-marts/shared/utils/auto-collapse.test.ts
  apps/web/src/features/data-marts/shared/utils/auto-collapse.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): use a non-null assertion where the test narrows a closest() result
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
Due: none

fix(web): say what the automatic aggregation did, in the panel that looked empty
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsButton.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
Due: none

fix(data-marts): refuse a lift its dependents would inherit, and sum a literal divisor whole
  .changeset/6948-avoid-duplicates-in-reports.md
  apps/backend/src/data-marts/calculated-fields/formula-lifting.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-lifting.ts
  apps/backend/src/data-marts/dto/schemas/field-aggregation-governance.ts
  apps/backend/src/data-marts/dto/schemas/field-type-category.web-parity.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(data-marts): let the filter router own the HAVING verdict (#6948)
  apps/backend/src/data-marts/services/auto-collapse.resolver.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(changeset): rewrite the release note to the changelog entry format (#6948)
  .changeset/6948-avoid-duplicates-in-reports.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(web): say what the per-row auto-aggregation prop is, and why the joined map is plumbed (#6948)
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
Due: none

fix(changeset): point the demo video at a cut that does not open on black
  .changeset/6948-avoid-duplicates-in-reports.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp): defer PKCE state minting until real sign-in intent
  packages/idp-owox-better-auth/src/controllers/page-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/page-controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.deferred-pkce.test.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-in.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
  packages/idp-owox-better-auth/src/services/rendering/template-service.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): tell the agent to use a metric the Data Mart already computes (#6964)
  .changeset/6964-mcp-prefers-ready-calculated-metrics.md
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  docs/getting-started/setup-guide/calculated-fields.md
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(destinations): allow creating Microsoft Excel destinations in the web app
  .changeset/6966-excel-destination-manual-creation.md
  apps/backend/src/data-marts/facades/mcp-destination-type.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.spec.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.test.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/ExcelDescription.tsx
  apps/web/src/features/data-destination/shared/enums/data-destination-type.enum.ts
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/microsoft-excel.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): scope the empty-set claim, and pin the level-less metric (#6964)
  .changeset/6964-mcp-prefers-ready-calculated-metrics.md
  apps/backend/src/ee/mcp/instructions/mcp-instructions.service.spec.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  docs/getting-started/setup-guide/calculated-fields.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@ca8ac65443b58b397169d19a9f4848c9f57a7a5a 🚀
  docs/getting-started/setup-guide/calculated-fields/index.html
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_415f3a7.pf_fragment
  pagefind/fragment/en_517c328.pf_fragment
  pagefind/fragment/en_9670236.pf_fragment
  pagefind/fragment/en_9f9ce56.pf_fragment
  pagefind/index/en_109bf5e.pf_index
  pagefind/index/en_14cb1eb.pf_index
  pagefind/index/en_1b4c3e2.pf_index
  pagefind/index/en_1dfa50e.pf_index
  pagefind/index/en_319a36d.pf_index
  pagefind/index/en_34ba63a.pf_index
  pagefind/index/en_3b6e298.pf_index
  pagefind/index/en_44bd1d9.pf_index
  pagefind/index/en_5155dc3.pf_index
  pagefind/index/en_51d2d4f.pf_index
  pagefind/index/en_53f934f.pf_index
  pagefind/index/en_5b5abb5.pf_index
  pagefind/index/en_5f6d5fe.pf_index
  pagefind/index/en_6055176.pf_index
  pagefind/index/en_67ada8b.pf_index
  pagefind/index/en_682db81.pf_index
  pagefind/index/en_696dbbd.pf_index
  pagefind/index/en_7e32c8a.pf_index
  pagefind/index/en_7f5130f.pf_index
  pagefind/index/en_828d3b2.pf_index
  pagefind/index/en_93c288b.pf_index
  pagefind/index/en_999308d.pf_index
  pagefind/index/en_a3759ea.pf_index
  pagefind/index/en_a5aa5c6.pf_index
  pagefind/index/en_c2e52de.pf_index
  pagefind/index/en_d24991e.pf_index
  pagefind/index/en_de8db27.pf_index
  pagefind/index/en_ebd4512.pf_index
  pagefind/index/en_f9ea9d3.pf_index
  pagefind/index/en_fcb57c2.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5f995259b1.pf_meta
  pagefind/pagefind.en_7ed1dfa0f2.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(reports): apply the automatic aggregation as a real one, not a third state (#6971)
  .changeset/6948-avoid-duplicates-in-reports.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowAggregationIcon.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(reports): the note no longer tells you to add what is already there (#6971)
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
Due: none

docs(changeset): re-shoot the demo for the behaviour that ships (#6971)
  .changeset/6948-avoid-duplicates-in-reports.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
