Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): name the field count setting Fields
  .changeset/6934-canvas-settings-menu.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-object-label-options.ts
  apps/web/src/features/data-marts/model-canvas/model/object-label-options.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): fold the canvas settings changes into the Models canvas card changeset
  .changeset/6934-canvas-settings-menu.md
  .changeset/6999-models-canvas-card-style.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: point the release notes and docs at the new Field rows section
  .changeset/6983-models-canvas-unconnected-filter-and-field-labels.md
  docs/getting-started/setup-guide/models-canvas.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): swap in the demo of the Models canvas card and settings
  .changeset/6999-models-canvas-card-style.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@03bfda5250bfaad15955f71cd62aa4442c4d10a3 🚀
  docs/getting-started/setup-guide/models-canvas/index.html
  pagefind/fragment/en_51e39b1.pf_fragment
  pagefind/fragment/en_fe77f09.pf_fragment
  pagefind/index/en_10f091b.pf_index
  pagefind/index/en_1214759.pf_index
  pagefind/index/en_19d01a2.pf_index
  pagefind/index/en_2ccf85e.pf_index
  pagefind/index/en_2e5df83.pf_index
  pagefind/index/en_302270a.pf_index
  pagefind/index/en_35f1755.pf_index
  pagefind/index/en_3ca2395.pf_index
  pagefind/index/en_40bf554.pf_index
  pagefind/index/en_6b9ad8e.pf_index
  pagefind/index/en_7e7de98.pf_index
  pagefind/index/en_80da91e.pf_index
  pagefind/index/en_87e5502.pf_index
  pagefind/index/en_8938dec.pf_index
  pagefind/index/en_997c41f.pf_index
  pagefind/index/en_9b1b521.pf_index
  pagefind/index/en_9e49531.pf_index
  pagefind/index/en_9ede185.pf_index
  pagefind/index/en_a0e4247.pf_index
  pagefind/index/en_a31ea78.pf_index
  pagefind/index/en_ae9f972.pf_index
  pagefind/index/en_b01769e.pf_index
  pagefind/index/en_b31db2c.pf_index
  pagefind/index/en_b39339d.pf_index
  pagefind/index/en_b96c52b.pf_index
  pagefind/index/en_c916fca.pf_index
  pagefind/index/en_d05bde4.pf_index
  pagefind/index/en_d73c6e7.pf_index
  pagefind/index/en_e4674cc.pf_index
  pagefind/index/en_e63bf04.pf_index
  pagefind/index/en_f059637.pf_index
  pagefind/index/en_f5e8904.pf_index
  pagefind/index/en_f7bfc4e.pf_index
  pagefind/index/en_fdb2c17.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_a2e3457db2.pf_meta
  pagefind/pagefind.en_a6f1997d4c.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): restyle the canvas settings menu to the new design
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.test.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  docs/getting-started/setup-guide/models-canvas.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): swap in the demo of the redesigned canvas settings
  .changeset/6999-models-canvas-card-style.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): name the canvas views Compact mode and ERD
  .changeset/6983-models-canvas-unconnected-filter-and-field-labels.md
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.test.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  apps/web/src/features/data-marts/shared/canvas/view-mode.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): show each canvas setting's description in a tooltip on row hover
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.test.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
Due: none

docs(changeset): swap in the demo with the final canvas settings
  .changeset/6999-models-canvas-card-style.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(data-marts): pin the hidden-metric dry run on a mixed batch
  .changeset/6925-hide-joined-calculated-field.md
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): say what deleting a custom connector does
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  apps/web/src/features/connectors/list/components/ConnectorsTable/ConnectorsTable.tsx
Due: none

feat(connectors): Import JSON on the Code tab and a builder guide link
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.tsx
  apps/web/src/features/connector-builder/create/ImportExport.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderModeTabs.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  apps/web/src/features/connector-builder/create/components/useManifestImport.tsx
Due: none

fix(connectors): allow only the template scopes a run fills
  packages/connectors/src/Core/Declarative/TemplateEngine.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
  packages/connectors/tests/declarative/TemplateEngine.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): name the real failure when a run imports nothing
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): refuse to publish a node without a primary key
  apps/backend/src/data-marts/services/connector/connector-definition-tables.migration.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
  docs/connectors/connector-builder.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(connectors): publish the AI authoring guide and point to it
  apps/docs/.gitignore
  apps/docs/scripts/sync-docs.js
  apps/web/src/features/connector-builder/create/ImportExport.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/CREATING_CONNECTOR.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): re-pick the connector version of a saved configuration
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorVersionControl.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorVersionControl.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.custom.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
Due: none

test(connectors): pin the day-by-day checkpoints main tested per connector
  packages/connectors/test/Sources/GoogleAds/Source.test.js
  packages/connectors/test/Sources/MicrosoftAds/Source.test.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/regression/xads-async-unique-keys.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): merge LinkedIn Ads analytics chunks by key again
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/test/Sources/LinkedInAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): tidy the connector picker for custom connectors
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.custom.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.preselect.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.unpublished.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/components/StepperHeroBlock.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConnectorSelectionStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConnectorSelectionStep.tsx
  apps/web/src/features/connectors/shared/components/CustomConnectorIcon/CustomConnectorIcon.tsx
  apps/web/src/features/connectors/shared/components/CustomConnectorIcon/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(connectors): Declarative Connectors overview and Connector Builder guide
  apps/docs/astro.config.mjs
  docs/connectors/connector-builder.md
  docs/connectors/declarative-connectors.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  docs/getting-started/setup-guide/connector-data-mart.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): drop the Bearer token URL the engine never read
  apps/web/src/features/connector-builder/create/AuthenticationEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/AuthenticationEditor.tsx
  apps/web/src/features/connector-builder/shared/model/manifest.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): import and export a connector manifest in the builder
  apps/web/src/features/connector-builder/create/ImportExport.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
Due: none

chore(changeset): release the description length limit as minor, not patch
  .changeset/data-mart-description-length-limit.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(changeset): file the description length limit under 6988
  .changeset/6988-data-mart-description-length-limit.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): offer the retry settings in Advanced settings again
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/OpenHolidays/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/Shopify/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/test/GoogleSheets.test.js
  packages/connectors/tests/AbstractSource.test.js
  packages/connectors/tests/regression/retry-settings-declared.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): say access was refused when a source without accounts is skipped
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/test/fixtures/fake-test-runner.mjs
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): run a manual backfill that has no backfill fields again
  packages/connectors/src/Core/AbstractContext.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/AbstractContext.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): give the setup previews the configuration shape a run gets
  apps/backend/src/data-marts/services/connector/connector-field-options-preview.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-fields-preview.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-preview-support.spec.ts
  apps/backend/src/data-marts/services/connector/connector-preview-support.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): fail the builder Test when the run itself failed
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.ts
  apps/backend/test/fixtures/fake-test-runner.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): report a missing Google Sheets credential as a setup error
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): let the engine's verdict decide a run's status again
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Core/Declarative/Requester.js
  packages/connectors/src/Core/Declarative/SsrfGuard.js
  packages/connectors/src/Core/Declarative/SyncRetriever.js
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
  packages/connectors/test/Core/ShortLinksUtils.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): stop the run at a day on which every account was skipped
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): end the run when the destination storage fails
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): fail a run whose selected node the connector no longer has
  docs/connectors/connector-builder.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): report why a full-refresh node could not be read
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
