Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Documentation updates
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/TikTokAds/TROUBLESHOOTING.md
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_bq.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_connector.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_currentday.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_daterange.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_incremental.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_publish.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_reimportwindow.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_successrun.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_advid.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_approved.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_auth_code.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_createapp.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_developer.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_filldata.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_get.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_idandsecret.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_newdatamart.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_queryresult.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_storage.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_url.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): swap in the re-recorded Models canvas card demo
  .changeset/6999-models-canvas-card-style.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): keep the Models canvas card title on the first line
  .changeset/6999-models-canvas-card-style.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): swap in the re-recorded Data Mart preview demo
  .changeset/6622-data-mart-preview.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(connectors): document uploading a Google Sheet from the OWOX Extension
  .changeset/6691-upload-google-sheet-from-extension.md
  packages/connectors/src/Sources/GoogleSheets/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): keep the Google Sheet upload title on the first line
  .changeset/6691-upload-google-sheet-from-extension.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): add data-stack Data Mart icons in one ungrouped grid
  .changeset/7004-custom-data-mart-icons.md
  apps/backend/src/data-marts/enums/data-mart-icon.enum.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/data-mart-icons.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-icon.enum.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): drop the title from the Data Mart icon popover
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.tsx
Due: none

docs(changeset): update the Data Mart icons demo video
  .changeset/7004-custom-data-mart-icons.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): keep Data Mart icons clear of card indicator glyphs
  .changeset/7004-custom-data-mart-icons.md
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/data-mart-icons.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@19df0d2693c952a4da1d3cc715ec293b2cf878c4 🚀
  docs/getting-started/setup-guide/models-canvas/index.html
  pagefind/fragment/en_3346d1c.pf_fragment
  pagefind/fragment/en_4361785.pf_fragment
  pagefind/index/en_181013f.pf_index
  pagefind/index/en_3ab517d.pf_index
  pagefind/index/en_448b996.pf_index
  pagefind/index/en_515da3e.pf_index
  pagefind/index/en_52ba52c.pf_index
  pagefind/index/en_5fd04a3.pf_index
  pagefind/index/en_6406cdc.pf_index
  pagefind/index/en_657a178.pf_index
  pagefind/index/en_6c447b5.pf_index
  pagefind/index/en_75ca746.pf_index
  pagefind/index/en_76bb4e6.pf_index
  pagefind/index/en_7fbc561.pf_index
  pagefind/index/en_850ca87.pf_index
  pagefind/index/en_8d1f9bc.pf_index
  pagefind/index/en_8e8f84a.pf_index
  pagefind/index/en_8f4759b.pf_index
  pagefind/index/en_976b263.pf_index
  pagefind/index/en_a5c89d1.pf_index
  pagefind/index/en_a7adee4.pf_index
  pagefind/index/en_b67ee39.pf_index
  pagefind/index/en_be9a10f.pf_index
  pagefind/index/en_c18d424.pf_index
  pagefind/index/en_ccf2b61.pf_index
  pagefind/index/en_d64a757.pf_index
  pagefind/index/en_d89c327.pf_index
  pagefind/index/en_d8ee469.pf_index
  pagefind/index/en_dd2e2ac.pf_index
  pagefind/index/en_e481268.pf_index
  pagefind/index/en_e52599c.pf_index
  pagefind/index/en_edebec7.pf_index
  pagefind/index/en_ef325da.pf_index
  pagefind/index/en_f97b9de.pf_index
  pagefind/index/en_f994588.pf_index
  pagefind/index/en_fbd4aeb.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_232a794917.pf_meta
  pagefind/pagefind.en_fa70e38b94.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(data-marts): show the reports count on Models canvas cards
  apps/backend/src/data-marts/dto/domain/model-canvas.dto.ts
  apps/backend/src/data-marts/dto/presentation/model-canvas-response-api.dto.ts
  apps/backend/src/data-marts/mappers/model-canvas.mapper.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/get-model-canvas-data-marts.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-model-canvas-data-marts.service.ts
  apps/backend/test/report.e2e-spec.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(tiktok): refresh OAuth and developer portal screenshots
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@5acb0c1ae3d69e52b02ac85f5d95c7ab706993f4 🚀
  docs/getting-started/setup-guide/models-canvas/index.html
  pagefind/fragment/en_325695c.pf_fragment
  pagefind/fragment/en_4361785.pf_fragment
  pagefind/index/en_1558de5.pf_index
  pagefind/index/en_181013f.pf_index
  pagefind/index/en_1a96be0.pf_index
  pagefind/index/en_2af1fb2.pf_index
  pagefind/index/en_332c239.pf_index
  pagefind/index/en_36dce55.pf_index
  pagefind/index/en_3ab517d.pf_index
  pagefind/index/en_448b996.pf_index
  pagefind/index/en_515da3e.pf_index
  pagefind/index/en_5fd04a3.pf_index
  pagefind/index/en_657a178.pf_index
  pagefind/index/en_75ca746.pf_index
  pagefind/index/en_850ca87.pf_index
  pagefind/index/en_8c34cd0.pf_index
  pagefind/index/en_8f4759b.pf_index
  pagefind/index/en_92b52c8.pf_index
  pagefind/index/en_a5c89d1.pf_index
  pagefind/index/en_b46a626.pf_index
  pagefind/index/en_b5ecb26.pf_index
  pagefind/index/en_b67ee39.pf_index
  pagefind/index/en_be9a10f.pf_index
  pagefind/index/en_c3fd40f.pf_index
  pagefind/index/en_cd71728.pf_index
  pagefind/index/en_d58623c.pf_index
  pagefind/index/en_d64a757.pf_index
  pagefind/index/en_d89c327.pf_index
  pagefind/index/en_db63bdb.pf_index
  pagefind/index/en_e74a5d8.pf_index
  pagefind/index/en_ef325da.pf_index
  pagefind/index/en_f5a7da0.pf_index
  pagefind/index/en_f89e8d2.pf_index
  pagefind/index/en_f97b9de.pf_index
  pagefind/index/en_f994588.pf_index
  pagefind/index/en_fa6e12a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5aa2d0f755.pf_meta
  pagefind/pagefind.en_fa70e38b94.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(connectors): keep saved short link domains, honor unchecked toggles, hide the cache from the API
  .changeset/6991-facebook-nested-short-links.md
  apps/backend/src/data-marts/connector-types/connector-message/schemas/types/message-state-update.schema.ts
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-message-parser.service.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  docs/getting-started/deployment-guide/environment-variables.md
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/MicrosoftAds/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
  packages/connectors/test/Configs/NodeJsConfig.test.js
  packages/connectors/test/Core/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): keep the short link cache within the Windows environment limit
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
  packages/connectors/test/Core/ShortLinksUtils.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@e84e68d1421b563966f0d88a0e44a34ff36e6310 🚀
  packages/connectors/src/sources/tik-tok-ads/credentials/index.html
  pagefind/fragment/en_908a744.pf_fragment
  pagefind/fragment/en_f9c0aba.pf_fragment
  pagefind/index/en_1567b3a.pf_index
  pagefind/index/en_332c239.pf_index
  pagefind/index/en_36dce55.pf_index
  pagefind/index/en_462503b.pf_index
  pagefind/index/en_9522fee.pf_index
  pagefind/index/en_a92d3a5.pf_index
  pagefind/index/en_c3fd40f.pf_index
  pagefind/index/en_cd71728.pf_index
  pagefind/index/en_d4df505.pf_index
  pagefind/index/en_fa6e12a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5aa2d0f755.pf_meta
  pagefind/pagefind.en_6c83694326.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(web): keep Models canvas count badges on one line while they fit
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/shared/canvas/measure-badge-text.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): count the card border in the badge line width and pin badge tests
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/shared/canvas/measure-badge-text.test.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@5965da1c4c0c40af1f1b9f955d01a536ab6ad73c 🚀
  docs/getting-started/setup-guide/models-canvas/index.html
  pagefind/fragment/en_27b9ff6.pf_fragment
  pagefind/fragment/en_325695c.pf_fragment
  pagefind/index/en_10267ea.pf_index
  pagefind/index/en_1558de5.pf_index
  pagefind/index/en_1567b3a.pf_index
  pagefind/index/en_1a96be0.pf_index
  pagefind/index/en_1dc4e03.pf_index
  pagefind/index/en_267c668.pf_index
  pagefind/index/en_2af1fb2.pf_index
  pagefind/index/en_3269dba.pf_index
  pagefind/index/en_36a5872.pf_index
  pagefind/index/en_3cc7307.pf_index
  pagefind/index/en_462503b.pf_index
  pagefind/index/en_4afdedf.pf_index
  pagefind/index/en_4bda9e0.pf_index
  pagefind/index/en_51bb398.pf_index
  pagefind/index/en_5732d6f.pf_index
  pagefind/index/en_85e5b4b.pf_index
  pagefind/index/en_8c34cd0.pf_index
  pagefind/index/en_92b52c8.pf_index
  pagefind/index/en_9522fee.pf_index
  pagefind/index/en_9f12a52.pf_index
  pagefind/index/en_a92d3a5.pf_index
  pagefind/index/en_abd4e36.pf_index
  pagefind/index/en_b46a626.pf_index
  pagefind/index/en_b5ecb26.pf_index
  pagefind/index/en_b9d115d.pf_index
  pagefind/index/en_d4df505.pf_index
  pagefind/index/en_d58623c.pf_index
  pagefind/index/en_db63bdb.pf_index
  pagefind/index/en_ddf8929.pf_index
  pagefind/index/en_e74a5d8.pf_index
  pagefind/index/en_eb6fc58.pf_index
  pagefind/index/en_f59e2de.pf_index
  pagefind/index/en_f5a7da0.pf_index
  pagefind/index/en_f89e8d2.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_6c83694326.pf_meta
  pagefind/pagefind.en_b09f853875.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(data-marts): let a joined calculated field be hidden from reports
  .changeset/6925-hide-joined-calculated-field.md
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): close subscription streams during shutdown
  .changeset/6959-mcp-protocol-2026-07-28.md
  apps/backend/src/ee/mcp/transport/mcp-http-entry.service.spec.ts
  apps/backend/src/ee/mcp/transport/mcp-http-entry.service.ts
  apps/backend/src/index.ts
  apps/owox/src/commands/serve.ts
  apps/owox/src/utils/shutdown-application.ts
  apps/owox/test/commands/serve.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): pack every Models canvas badge by width and open fields and relationships from them
  apps/web/src/features/data-marts/model-canvas/components/CardRelationshipsSection.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): explain the sharing icons on Models canvas cards
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/shared/components/AvailabilitySheet/AvailabilitySheet.tsx
  apps/web/src/shared/components/AvailabilitySheet/data-mart-sharing-texts.ts
  apps/web/src/shared/components/AvailabilitySheet/index.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): remember landing pages between runs and fill the cache budget
  .changeset/6991-facebook-nested-short-links.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/adGroupAdsStatsFields.js
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/criterionFields.js
  packages/connectors/src/Sources/MicrosoftAds/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/TikTokAdsAPIReference/adsFields.js
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
  packages/connectors/test/Core/AbstractConnector.test.js
  packages/connectors/test/Core/ShortLinksUtils.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): describe the full Models canvas card and swap in its new demo
  .changeset/6999-models-canvas-card-style.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): add screenshots of the parsed field and the Process Short Links setting
  .changeset/6991-facebook-nested-short-links.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp): address review - drop broken iframe, close crafted-link auto-submit, harden cookie lifecycle
  packages/idp-owox-better-auth/src/controllers/page-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/page-controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.deferred-pkce.test.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-in.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.ts
  packages/idp-owox-better-auth/src/services/rendering/template-service.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp): clear stale state before social sign-in
  packages/idp-owox-better-auth/src/owox-better-auth-idp.deferred-pkce.test.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(changeset): describe social sign-in state refresh
  .changeset/6612-refresh-social-sign-in-state.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): derive the lifted Models canvas card instead of storing it on the node
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@07f00dfef24fd21fe7b750c3c12bcf784cc8e33f 🚀
  docs/getting-started/setup-guide/models-canvas/index.html
  pagefind/fragment/en_27b9ff6.pf_fragment
  pagefind/fragment/en_fe77f09.pf_fragment
  pagefind/index/en_10f091b.pf_index
  pagefind/index/en_1214759.pf_index
  pagefind/index/en_183629b.pf_index
  pagefind/index/en_19d01a2.pf_index
  pagefind/index/en_287107b.pf_index
  pagefind/index/en_2bd3dfd.pf_index
  pagefind/index/en_35f1755.pf_index
  pagefind/index/en_40387e2.pf_index
  pagefind/index/en_40bf554.pf_index
  pagefind/index/en_6960d8e.pf_index
  pagefind/index/en_6be9f53.pf_index
  pagefind/index/en_7bbd332.pf_index
  pagefind/index/en_7e7de98.pf_index
  pagefind/index/en_80da91e.pf_index
  pagefind/index/en_8938dec.pf_index
  pagefind/index/en_89d9f3a.pf_index
  pagefind/index/en_8fea89f.pf_index
  pagefind/index/en_9b1b521.pf_index
  pagefind/index/en_9f9d4bc.pf_index
  pagefind/index/en_a0e4247.pf_index
  pagefind/index/en_a7bc789.pf_index
  pagefind/index/en_a9bb6e8.pf_index
  pagefind/index/en_abf9835.pf_index
  pagefind/index/en_ae9f972.pf_index
  pagefind/index/en_b01769e.pf_index
  pagefind/index/en_c916fca.pf_index
  pagefind/index/en_c9f3bca.pf_index
  pagefind/index/en_d05bde4.pf_index
  pagefind/index/en_d435fc4.pf_index
  pagefind/index/en_d73c6e7.pf_index
  pagefind/index/en_e4674cc.pf_index
  pagefind/index/en_f059637.pf_index
  pagefind/index/en_f774651.pf_index
  pagefind/index/en_fc99dd6.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_a2e3457db2.pf_meta
  pagefind/pagefind.en_c0580146e3.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(idp): verify social sign-in intent before refreshing state
  packages/idp-owox-better-auth/src/controllers/page-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/page-controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.deferred-pkce.test.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.mcpOAuth.test.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.user-bound-redirect.test.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-in.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
  packages/idp-owox-better-auth/src/services/rendering/template-service.test.ts
  packages/idp-owox-better-auth/src/services/rendering/template-service.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
  packages/idp-owox-better-auth/src/utils/social-intent.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

style(idp): format social intent tests
  packages/idp-owox-better-auth/src/services/rendering/template-service.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp): mint social intent nonce on click
  packages/idp-owox-better-auth/src/controllers/page-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/page-controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.deferred-pkce.test.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-in.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/social-auth.ejs
  packages/idp-owox-better-auth/src/services/rendering/template-service.test.ts
  packages/idp-owox-better-auth/src/services/rendering/template-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): give every canvas card part its own setting and keep the zoom on toggles
  .changeset/6934-canvas-settings-menu.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-object-label-options.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/object-label-options.ts
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.test.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  apps/web/src/features/data-marts/shared/canvas/object-labels.test.ts
  apps/web/src/features/data-marts/shared/canvas/object-labels.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
