Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

refactor(idp-owox-better-auth): change imports
  apps/web/src/features/idp/context/AuthContext.tsx
Due: none

fix(web): handle project ID mismatch and add loading spinner to ProjectIdGuard (#960)
  apps/web/src/features/idp/components/ProjectIdGuard.tsx
Due: none

feat(idp-owox-better-auth): redirect to the sign-out page after 403 from idp (#959)
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/idp/context/AuthContext.tsx
  apps/web/src/features/idp/services/auth-api.service.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(notifications): sort runs in notification emails by finished time (newest first)
  .changeset/sort-notification-email-runs.md
  apps/backend/src/notifications/types/base-notification.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(notifications): migrate images to CDN and fix email footer help link (#955)
  apps/backend/src/notifications/templates/email/assets/blocks.ts
  docs/notifications/email.md
  docs/notifications/notification-settings.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@4ae9a833cc9be714843868f9a77c336b10131a56 🚀
  _astro/notification-email-failed-example.DovNauXS_Z1TUmAE.webp
  _astro/notification-email-success-example.BE3zF0o9_ZwFpUm.webp
  _astro/notification-settings-drawer-view.cgHw9aGA_ikDpb.webp
  _astro/notification-settings-table-view.rFJKMZUE_1MD37P.webp
  docs/notifications/email/index.html
  docs/notifications/notification-settings/index.html
  pagefind/fragment/en_27b9e77.pf_fragment
  pagefind/fragment/en_474f8fe.pf_fragment
  pagefind/fragment/en_dbbec17.pf_fragment
  pagefind/fragment/en_f3ce424.pf_fragment
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_21bf9bcdcd.pf_meta
  pagefind/pagefind.en_f8cea58072.pf_meta
Due: prettier --write --config ./prettier.config.js

chore(idp-owox): delete idp-owox package
  .changeset/config.json
  .github/workflows/publish.yml
  apps/owox/package.json
  apps/owox/src/idp/factory.ts
  apps/web/src/components/AppSidebar/ProjectMenu/items.ts
  apps/web/src/components/AppSidebar/ProjectMenu/useProjectMenu.ts
  apps/web/src/shared/constants/idp.ts
  package-lock.json
  packages/idp-owox/.lintstagedrc.json
  packages/idp-owox/CHANGELOG.md
  packages/idp-owox/README.md
  packages/idp-owox/eslint.config.mjs
  packages/idp-owox/package.json
  packages/idp-owox/prettier.config.mjs
  packages/idp-owox/src/auth/AuthorizationStore.ts
  packages/idp-owox/src/auth/AuthorizationStoreFactory.ts
  packages/idp-owox/src/auth/MysqlAuthorizationStore.ts
  packages/idp-owox/src/auth/SqliteAuthorizationStore.ts
  packages/idp-owox/src/auth/StoreResult.ts
  packages/idp-owox/src/client/IdentityOwoxClient.ts
  packages/idp-owox/src/client/dto/idpOwoxPayloadDto.ts
  packages/idp-owox/src/client/dto/index.ts
  packages/idp-owox/src/client/dto/introspectionDto.ts
  packages/idp-owox/src/client/dto/jwksDto.ts
  packages/idp-owox/src/client/dto/projectMembersDto.ts
  packages/idp-owox/src/client/dto/revocationDto.ts
  packages/idp-owox/src/client/dto/tokenDto.ts
  packages/idp-owox/src/client/dto/tokenType.ts
  packages/idp-owox/src/client/index.ts
  packages/idp-owox/src/config.ts
  packages/idp-owox/src/exception.ts
  packages/idp-owox/src/index.ts
  packages/idp-owox/src/mappers/idpOwoxPayloadToPayloadMapper.ts
  packages/idp-owox/src/owoxIdp.ts
  packages/idp-owox/src/pkce.ts
  packages/idp-owox/src/token/jwksCache.ts
  packages/idp-owox/src/token/parseToken.ts
  packages/idp-owox/src/token/verifyJwt.ts
  packages/idp-owox/tsconfig.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): update legacy storage references and enhance notification setup in Data Marts page
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
  apps/web/src/pages/data-marts/list/PageNotificationLegacyStorageSetup.tsx
  apps/web/src/shared/icons/legacy-google-bigquery-icon.tsx
  docs/storages/supported-storages/google-bigquery-used-in-owox-extension.md
  docs/storages/supported-storages/google-bigquery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): expandable SQL Code Editor (#905)
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartCodeEditor.tsx
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@8fa23b1e9b4f61b6a1fa85cb75800def9165fcae 🚀
  pagefind/index/en_1935588.pf_index
  pagefind/index/en_1c3092b.pf_index
  pagefind/index/en_2db6dad.pf_index
  pagefind/index/en_3fa9aa4.pf_index
  pagefind/index/en_5c21796.pf_index
  pagefind/index/en_8dadbfb.pf_index
  pagefind/index/en_8f68b48.pf_index
  pagefind/index/en_9d119c9.pf_index
  pagefind/index/en_b216942.pf_index
  pagefind/index/en_b267922.pf_index
  pagefind/index/en_cf44a52.pf_index
  pagefind/index/en_e958e62.pf_index
  pagefind/index/en_f24c62d.pf_index
  pagefind/index/en_f31c72b.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4da04a9788.pf_meta
  pagefind/pagefind.en_f8cea58072.pf_meta
Due: prettier --write --config ./prettier.config.js

docs(aws-redshift): improve configuration guide with screenshots and restructured steps (#947)
  .changeset/redshift-docs-impovements.md
  docs/res/screens/redshift_accesskeys.png
  docs/res/screens/redshift_cluster.png
  docs/res/screens/redshift_configure.png
  docs/res/screens/redshift_createkey.png
  docs/res/screens/redshift_creatingkeyoption.png
  docs/res/screens/redshift_database.png
  docs/res/screens/redshift_permissions.png
  docs/res/screens/redshift_region.png
  docs/res/screens/redshift_saveconfig.png
  docs/res/screens/redshift_storage.png
  docs/res/screens/redshift_workgroup.png
  docs/storages/supported-storages/aws-redshift.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@458cead3bb0c788de2de75fc9cde0056c9698ce1 🚀
  _astro/redshift-accesskeys.CgwWxVCf_26BVEM.webp
  _astro/redshift-cluster.LUK1HEf5_ZqnqcN.webp
  _astro/redshift-configure.B8n73ySc_2hCIy5.webp
  _astro/redshift-createkey.Dn7JcNe1_Z1r7wxu.webp
  _astro/redshift-creatingkeyoption.CcDcZjAQ_nnoqr.webp
  _astro/redshift-database.ByU6gzfZ_1LWsu9.webp
  _astro/redshift-permissions._tm3OiEe_Z2jYsGX.webp
  _astro/redshift-region.8XPQldXm_23A7VA.webp
  _astro/redshift-saveconfig.nsazCmHQ_Z1cyUDv.webp
  _astro/redshift-storage.rJI8NXAY_Z2cGjYE.webp
  _astro/redshift-workgroup.DWNji2gc_Z2k7LAT.webp
  docs/storages/supported-storages/aws-redshift/index.html
  pagefind/fragment/en_87e93cc.pf_fragment
  pagefind/fragment/en_efa963a.pf_fragment
  pagefind/index/en_12cb68b.pf_index
  pagefind/index/en_1560195.pf_index
  pagefind/index/en_2db6dad.pf_index
  pagefind/index/en_49733db.pf_index
  pagefind/index/en_5458db4.pf_index
  pagefind/index/en_5c21796.pf_index
  pagefind/index/en_5ff1926.pf_index
  pagefind/index/en_8189d58.pf_index
  pagefind/index/en_8dadbfb.pf_index
  pagefind/index/en_9d119c9.pf_index
  pagefind/index/en_b216942.pf_index
  pagefind/index/en_b267922.pf_index
  pagefind/index/en_cf44a52.pf_index
  pagefind/index/en_cf4b505.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4da04a9788.pf_meta
  pagefind/pagefind.en_ee2247756f.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(web/auth): normalize and validate project IDs, improve redirect handling and cookie clearing
  apps/web/src/features/idp/components/ProjectIdGuard.tsx
  apps/web/src/features/idp/context/AuthContext.tsx
  apps/web/src/features/idp/utils/project-id.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.test.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(auth): remove unused `Logger` dependency from `PkceFlowOrchestrator` tests
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp): preserve project ID across auth redirects for multi-project users (#965)
  apps/web/src/features/idp/components/ProjectIdGuard.tsx
  apps/web/src/features/idp/context/AuthContext.tsx
  apps/web/src/features/idp/utils/project-id.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.test.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@49a7487499c2ebd84bf2d13f7e5db2da38b00ff9 🚀
  pagefind/index/en_12cb68b.pf_index
  pagefind/index/en_1560195.pf_index
  pagefind/index/en_1f5469e.pf_index
  pagefind/index/en_49733db.pf_index
  pagefind/index/en_5458db4.pf_index
  pagefind/index/en_599e84c.pf_index
  pagefind/index/en_5ff1926.pf_index
  pagefind/index/en_8189d58.pf_index
  pagefind/index/en_cf4b505.pf_index
  pagefind/index/en_cf58583.pf_index
  pagefind/index/en_d56ee0c.pf_index
  pagefind/index/en_e112169.pf_index
  pagefind/index/en_e72285d.pf_index
  pagefind/index/en_e8226f4.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_97fdaf6cda.pf_meta
  pagefind/pagefind.en_ee2247756f.pf_meta
Due: prettier --write --config ./prettier.config.js

chore(idp-owox): delete idp-owox package (#962)
  .changeset/config.json
  .github/workflows/publish.yml
  apps/owox/package.json
  apps/owox/src/idp/factory.ts
  apps/web/src/components/AppSidebar/ProjectMenu/items.ts
  apps/web/src/components/AppSidebar/ProjectMenu/useProjectMenu.ts
  apps/web/src/shared/constants/idp.ts
  package-lock.json
  packages/idp-owox/.lintstagedrc.json
  packages/idp-owox/CHANGELOG.md
  packages/idp-owox/README.md
  packages/idp-owox/eslint.config.mjs
  packages/idp-owox/package.json
  packages/idp-owox/prettier.config.mjs
  packages/idp-owox/src/auth/AuthorizationStore.ts
  packages/idp-owox/src/auth/AuthorizationStoreFactory.ts
  packages/idp-owox/src/auth/MysqlAuthorizationStore.ts
  packages/idp-owox/src/auth/SqliteAuthorizationStore.ts
  packages/idp-owox/src/auth/StoreResult.ts
  packages/idp-owox/src/client/IdentityOwoxClient.ts
  packages/idp-owox/src/client/dto/idpOwoxPayloadDto.ts
  packages/idp-owox/src/client/dto/index.ts
  packages/idp-owox/src/client/dto/introspectionDto.ts
  packages/idp-owox/src/client/dto/jwksDto.ts
  packages/idp-owox/src/client/dto/projectMembersDto.ts
  packages/idp-owox/src/client/dto/revocationDto.ts
  packages/idp-owox/src/client/dto/tokenDto.ts
  packages/idp-owox/src/client/dto/tokenType.ts
  packages/idp-owox/src/client/index.ts
  packages/idp-owox/src/config.ts
  packages/idp-owox/src/exception.ts
  packages/idp-owox/src/index.ts
  packages/idp-owox/src/mappers/idpOwoxPayloadToPayloadMapper.ts
  packages/idp-owox/src/owoxIdp.ts
  packages/idp-owox/src/pkce.ts
  packages/idp-owox/src/token/jwksCache.ts
  packages/idp-owox/src/token/parseToken.ts
  packages/idp-owox/src/token/verifyJwt.ts
  packages/idp-owox/tsconfig.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@d84ebe53d32b46cf55868c3bd6af7cd4f18f210b 🚀
  packages/idp-owox/readme/index.html
  pagefind/fragment/en_21a433a.pf_fragment
  pagefind/index/en_1f5469e.pf_index
  pagefind/index/en_599e84c.pf_index
  pagefind/index/en_6d4c515.pf_index
  pagefind/index/en_7a59761.pf_index
  pagefind/index/en_7ad1ddc.pf_index
  pagefind/index/en_85c1215.pf_index
  pagefind/index/en_b5bfd43.pf_index
  pagefind/index/en_cf58583.pf_index
  pagefind/index/en_d56ee0c.pf_index
  pagefind/index/en_e112169.pf_index
  pagefind/index/en_e72285d.pf_index
  pagefind/index/en_e8226f4.pf_index
  pagefind/index/en_e938689.pf_index
  pagefind/index/en_edc52ba.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_97fdaf6cda.pf_meta
  pagefind/pagefind.en_b1c95e7b93.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

Changeset
  .changeset/fix-snowflake-string-timestamps.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add data-table tag explanation for email templates
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/FormDescriptions/MessageTemplateDescription.tsx
Due: none

feat(backend): add data-table tag handler for email template rendering
  apps/backend/src/common/template/facades/template-render-facade-impl.service.ts
  apps/backend/src/common/template/facades/template-render.facade.ts
  apps/backend/src/common/template/handlers/base/data-table-tag.handler.ts
  apps/backend/src/common/template/handlers/base/index.ts
  apps/backend/src/common/template/handlers/tag-handler.exception.ts
  apps/backend/src/common/template/handlers/tag-handler.interface.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: disable data-table tag for insights
  apps/backend/src/common/template/facades/template-render-facade-impl.service.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: add data-table tag changeset
  .changeset/add-data-table-template-tag.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fixes
  apps/backend/src/data-marts/ai-insights/agent-flow/tools/generate-sql.tool.ts
  apps/backend/src/data-marts/services/agent-flow-prompt-builder.service.spec.ts
  apps/backend/src/data-marts/services/agent-flow-prompt-builder.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add value tag support and chat assistant for deterministic insight templates
  .changeset/add-data-table-template-tag.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): Legacy storage setup notification (#963)
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
  apps/web/src/pages/data-marts/list/PageNotificationLegacyStorageSetup.tsx
  apps/web/src/pages/data-marts/list/index.ts
  apps/web/src/shared/icons/legacy-google-bigquery-icon.tsx
  docs/storages/supported-storages/google-bigquery-used-in-owox-extension.md
  docs/storages/supported-storages/google-bigquery.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): enhance DataStorageTable with filter functionality and improved data handling
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTableFilters.config.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTableFilters.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update table components for improved user feedback and layout adjustments
  apps/web/src/shared/components/Table/BaseTable.tsx
  apps/web/src/shared/components/Table/TableColumnSearch.tsx
  packages/ui/src/components/common/table-pagination.tsx
Due: none

feat(ui): add Combobox component and InputGroup for enhanced form controls; update Popover with new variants and structure
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/combobox.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/input-group.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/popover.tsx
Due: prettier --write --config ./prettier.config.js

feat(web): implement filter functionality TableFilters with reusable components and state management
  apps/web/src/shared/components/TableFilters/FiltersForm.tsx
  apps/web/src/shared/components/TableFilters/InputValueControl.tsx
  apps/web/src/shared/components/TableFilters/SelectValueControl.tsx
  apps/web/src/shared/components/TableFilters/TableFilters.tsx
  apps/web/src/shared/components/TableFilters/TableFiltersContent.tsx
  apps/web/src/shared/components/TableFilters/TableFiltersTrigger.tsx
  apps/web/src/shared/components/TableFilters/collectOptions.utils.ts
  apps/web/src/shared/components/TableFilters/filter-utils.ts
  apps/web/src/shared/components/TableFilters/index.ts
  apps/web/src/shared/components/TableFilters/types.ts
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/usePersistentFilters.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update DataMartTable and DataStorageTable filter configurations to use enums and improve code readability
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartsTableFilters.config.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTableFilters.config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): update InputValueControl to handle input changes without trimming whitespace
  apps/web/src/shared/components/TableFilters/InputValueControl.tsx
Due: none

feat(web): add filtering capabilities to DataMartTable
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartsTableFilters.config.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartsTableFilters.tsx
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: added changeset
  .changeset/table-filters.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add changeset file
  .changeset/add-microsoft-ads-oauth.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): handle string timestamps in Snowflake storage (#966)
  .changeset/fix-snowflake-string-timestamps.md
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
