Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): schema update separated from other flows
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): Triggers TTL introduced. Used for UiTriggers
  apps/backend/src/common/scheduler/facades/scheduler-facade.impl.ts
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher-factory.service.ts
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.ts
  apps/backend/src/common/scheduler/shared/trigger-handler.interface.ts
  apps/backend/src/data-marts/services/schema-actualize-trigger-handler.service.ts
  apps/backend/src/data-marts/services/sql-dry-run-trigger-handler.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

trigger-fetcher.service.spec.ts test updated
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: update CONTRIBUTING.md for improved integration guidance (#641)
  apps/docs/astro.config.mjs
  packages/connectors/CONTRIBUTING.md
  packages/connectors/CREATING_CONNECTOR.md
  packages/connectors/res/architecture-uml.svg
  packages/connectors/res/google-sheets-adding-apps-script-library.png
  packages/connectors/res/google-sheets-files-links.png
  packages/connectors/res/google-sheets-files-structure.svg
  packages/connectors/res/google-sheets-uml.svg
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: adjust sidebar order for connectors in astro.config.mjs
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: mark Apps Script support as deprecated and clean up related references
  README.md
  packages/connectors/environment-adapter.md
  packages/connectors/src/Storages/AwsAthena/README.md
  packages/connectors/src/Storages/GoogleBigQuery/README.md
  packages/connectors/src/Storages/GoogleSheets/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deprecate Apps Script support and improve documentation structure (#645)
  README.md
  apps/docs/astro.config.mjs
  packages/connectors/environment-adapter.md
  packages/connectors/src/Storages/AwsAthena/README.md
  packages/connectors/src/Storages/GoogleBigQuery/README.md
  packages/connectors/src/Storages/GoogleSheets/README.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(README): update contribution section with links to Slack and improved formatting
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(CONTRIBUTING): refine guide with collaboration details and CLA requirements
  packages/connectors/CONTRIBUTING.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Refine contribution documentation with collaboration and CLA updates (#646)
  README.md
  packages/connectors/CONTRIBUTING.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@d2792c9edd3d930064289d911ef959f5b802fb6b 🚀
  index.html
  packages/connectors/contributing/index.html
  pagefind/fragment/en_2919b91.pf_fragment
  pagefind/fragment/en_7a40b15.pf_fragment
  pagefind/fragment/en_7aeb7a6.pf_fragment
  pagefind/fragment/en_888917e.pf_fragment
  pagefind/index/en_1f651e6.pf_index
  pagefind/index/en_293753a.pf_index
  pagefind/index/en_2e92c30.pf_index
  pagefind/index/en_4c13c36.pf_index
  pagefind/index/en_4e4a5a9.pf_index
  pagefind/index/en_67e06a5.pf_index
  pagefind/index/en_a0bffd1.pf_index
  pagefind/index/en_c1c664d.pf_index
  pagefind/index/en_cd71d6d.pf_index
  pagefind/index/en_db3e289.pf_index
  pagefind/index/en_e64eed0.pf_index
  pagefind/index/en_f5f7119.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_21ecd93307.pf_meta
  pagefind/pagefind.en_fa59fa98d0.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(ci): publish container images to Artifact Registry
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.js

fix(ci): add permissions for id-token and contents in publish job
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.js

feat(ci): login to Google Artifact Registry
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.js

Revert last 3 commits
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.js

chore(owox): delete emojis from logs
  apps/docs/scripts/sync-docs.js
  apps/owox/src/commands/base.ts
  apps/owox/src/commands/dump-apply.ts
  apps/owox/src/commands/dump-create.ts
  apps/owox/src/commands/serve.ts
  packages/internal-helpers/src/environment/env-manager.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(connectors): delete emojis from logs
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Sources/BankOfCanada/Connector.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/GitHub/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/OpenHolidays/Connector.js
  packages/connectors/src/Sources/OpenHolidays/Source.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(owox): delete emojis from logs (#647)
  apps/docs/scripts/sync-docs.js
  apps/owox/src/commands/base.ts
  apps/owox/src/commands/dump-apply.ts
  apps/owox/src/commands/dump-create.ts
  apps/owox/src/commands/serve.ts
  packages/internal-helpers/src/environment/env-manager.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(ConfigurationStep): replace input and label components for boolean type with custom components for improved accessibility and styling
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
Due: none

refactor(migrations): enhance reverting migrations to drop foreign keys, indices, and constraints
  apps/backend/src/migrations/1760453522335-create-activity-log-table.ts
  apps/backend/src/migrations/migration-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): implement basic activity log module structure
  apps/backend/src/activity-log/activity-log.module.ts
  apps/backend/src/activity-log/controllers/.gitkeep
  apps/backend/src/activity-log/dto/domain/.gitkeep
  apps/backend/src/activity-log/entities/connector-run.entity.ts
  apps/backend/src/activity-log/enums/connector-run-status.enum.ts
  apps/backend/src/activity-log/enums/entity-type.enum.ts
  apps/backend/src/activity-log/enums/event-type.enum.ts
  apps/backend/src/activity-log/mappers/.gitkeep
  apps/backend/src/activity-log/services/activity-log.service.ts
  apps/backend/src/activity-log/types/connector-run-details.type.ts
  apps/backend/src/activity-log/types/connector-run-ui-details.type.ts
  apps/backend/src/activity-log/use-cases/.gitkeep
  apps/backend/src/migrations/1760453522335-create-activity-log-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(migrations): create activity log table with relevant columns and indices
  apps/backend/src/migrations/1760453522335-create-activity-log-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(activity-log): remove unused activity log module and related files
  apps/backend/src/activity-log/activity-log.module.ts
  apps/backend/src/activity-log/controllers/.gitkeep
  apps/backend/src/activity-log/dto/domain/.gitkeep
  apps/backend/src/activity-log/entities/connector-run.entity.ts
  apps/backend/src/activity-log/enums/connector-run-status.enum.ts
  apps/backend/src/activity-log/enums/entity-type.enum.ts
  apps/backend/src/activity-log/enums/event-type.enum.ts
  apps/backend/src/activity-log/mappers/.gitkeep
  apps/backend/src/activity-log/services/activity-log.service.ts
  apps/backend/src/activity-log/types/connector-run-details.type.ts
  apps/backend/src/activity-log/types/connector-run-ui-details.type.ts
  apps/backend/src/activity-log/use-cases/.gitkeep
  apps/backend/src/migrations/1760453522335-create-activity-log-table.ts
  apps/backend/src/migrations/migration-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(event-bus): implement event bus with logger transport and base event structure feat(backend): produce event of success: - Connector Run - Sheets Report Run - Looker Report Run
  apps/backend/src/common/common.module.ts
  apps/backend/src/common/producer/producer.module.ts
  apps/backend/src/common/scheduler/shared/types.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/dto/domain/run-data-mart.command.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/events/connector-run-successfully.event.ts
  apps/backend/src/data-marts/events/looker-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/sheets-report-run-successfully.event.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/scheduled-trigger-types/scheduled-connector-run/services/scheduled-connector-run-processor.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.ts
  apps/backend/src/migrations/1760604480000-update-data-mart-run-table-created-by-id-and-run-type.ts
  apps/owox/src/commands/base.ts
  package-lock.json
  packages/internal-helpers/package.json
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/integrations/event-bus/base-event.ts
  packages/internal-helpers/src/integrations/event-bus/config.ts
  packages/internal-helpers/src/integrations/event-bus/event-bus.ts
  packages/internal-helpers/src/integrations/event-bus/index.ts
  packages/internal-helpers/src/integrations/event-bus/message-format.ts
  packages/internal-helpers/src/integrations/event-bus/transports/logger-transport.ts
  packages/internal-helpers/src/integrations/event-bus/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): add migration to rename Bing Ads to Microsoft Ads in data_mart_run
  apps/backend/src/migrations/1760960349899-rename-bing-ads-to-microsoft-ads-in-data-mart-run.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Refine Cloud SQL instance and user creation steps
  docs/getting-started/deployment-guide/google-cloud-platform.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update DB_PASSWORD description in deployment guide
  docs/getting-started/deployment-guide/google-cloud-platform.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): add migration to rename Bing Ads to Microsoft Ads in data_mart_run (#650)
  apps/backend/src/migrations/1760960349899-rename-bing-ads-to-microsoft-ads-in-data-mart-run.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fixes
  packages/internal-helpers/src/integrations/event-bus/README.md
  packages/internal-helpers/src/integrations/event-bus/event-bus.ts
  packages/internal-helpers/src/integrations/event-bus/transports/logger-transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): remove unnecessary min-width settings for side sheets
  packages/ui/src/components/sheet.tsx
Due: none

refactor(web): simplify ConnectorSelectionStep and adjust wizard layout
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConnectorSelectionStep.tsx
  packages/ui/src/components/common/wizard.tsx
Due: none

feat(web): add hotkey support for selecting/unselecting all fields in ConnectorEditForm
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
Due: none

fix(web): update TimeTriggerAnnouncement text for clarity on setting up automatic runs
  apps/web/src/features/data-marts/scheduled-triggers/components/TimeTriggerAnnouncement/TimeTriggerAnnouncement.tsx
Due: none

fix(web): set default title for DataDestinationForm to 'My New Destination'
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
Due: none

fixes
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(event-bus): implement event bus with logger transport and base event structure feat(backend): produce event of success: - Connector Run - Sheets Report Run - Looker Report Run (#636)
  apps/backend/src/common/common.module.ts
  apps/backend/src/common/producer/producer.module.ts
  apps/backend/src/common/scheduler/shared/types.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/dto/domain/run-data-mart.command.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/events/connector-run-successfully.event.ts
  apps/backend/src/data-marts/events/looker-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/sheets-report-run-successfully.event.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/scheduled-trigger-types/scheduled-connector-run/services/scheduled-connector-run-processor.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.ts
  apps/backend/src/migrations/1760604480000-update-data-mart-run-table-created-by-id-and-run-type.ts
  apps/owox/src/commands/base.ts
  package-lock.json
  packages/internal-helpers/package.json
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/integrations/event-bus/README.md
  packages/internal-helpers/src/integrations/event-bus/base-event.ts
  packages/internal-helpers/src/integrations/event-bus/config.ts
  packages/internal-helpers/src/integrations/event-bus/event-bus.ts
  packages/internal-helpers/src/integrations/event-bus/index.ts
  packages/internal-helpers/src/integrations/event-bus/message-format.ts
  packages/internal-helpers/src/integrations/event-bus/transports/logger-transport.ts
  packages/internal-helpers/src/integrations/event-bus/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@07867f63138aac5de88bd9d64a8b6c58599eb8ec 🚀
  packages/internal-helpers/src/integrations/event-bus/readme/index.html
  pagefind/fragment/en_638152b.pf_fragment
  pagefind/index/en_39789a3.pf_index
  pagefind/index/en_4618566.pf_index
  pagefind/index/en_4c13c36.pf_index
  pagefind/index/en_5ae5f46.pf_index
  pagefind/index/en_67e06a5.pf_index
  pagefind/index/en_743c332.pf_index
  pagefind/index/en_8ea3e68.pf_index
  pagefind/index/en_a0bffd1.pf_index
  pagefind/index/en_bd69696.pf_index
  pagefind/index/en_c1c664d.pf_index
  pagefind/index/en_cd71d6d.pf_index
  pagefind/index/en_db3e289.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_21ecd93307.pf_meta
  pagefind/pagefind.en_73d27a2635.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

refactor(ConfigurationStep): replace input and label components for boolean type with custom components for improved accessibility and styling (#649)
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
