Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: narrow Google Chat frontend types
  apps/web/src/features/data-destination/shared/model/mappers/google-chat.mapper.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/RecipientsDisplay.test.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: address Google Chat delivery review feedback
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  docs/destinations/supported-destinations/google-chat.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): carry field descriptions into the canvas exports
  .changeset/6771-1-export-field-descriptions.md
  apps/web/src/features/data-marts/model-canvas/export/model-graph.test.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.test.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.ts
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(data-marts): keep OKF relationships only in the Joins section
  .changeset/6771-1-export-field-descriptions.md
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.test.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update print statement from 'Hello' to 'Goodbye'
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(changelog): resolve the api-client doc link from apps/owox
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(google-ads): restore imports after v21 API sunset
  .changeset/6810-google-ads-api-v25.md
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/GoogleAdsFieldsSchema.js
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): present data_last_updated to users in business-readable form (#6750)
  .changeset/6750-mcp-human-readable-data-last-updated.md
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(changeset): rename changeset with 6750-1 prefix
  .changeset/6750-1-mcp-human-readable-data-last-updated.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): move Joinable Data Marts filters to the toolbar and apply them to the list view
  .changeset/6776-1-joinable-dm-toolbar-filters.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-filters.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-filters.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-filters.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@babcf50bdf9cbac32185c28979f1fa9ca4da1647 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_524ea0d.pf_fragment
  pagefind/fragment/en_797ce0d.pf_fragment
  pagefind/index/en_15a1186.pf_index
  pagefind/index/en_1a85edb.pf_index
  pagefind/index/en_1cd59a3.pf_index
  pagefind/index/en_446f95b.pf_index
  pagefind/index/en_4bc9ac9.pf_index
  pagefind/index/en_5466c3a.pf_index
  pagefind/index/en_6c7aa4e.pf_index
  pagefind/index/en_7a97c33.pf_index
  pagefind/index/en_7e22d95.pf_index
  pagefind/index/en_955e558.pf_index
  pagefind/index/en_97b25a4.pf_index
  pagefind/index/en_996cc49.pf_index
  pagefind/index/en_9d5a3a6.pf_index
  pagefind/index/en_a077e3d.pf_index
  pagefind/index/en_aedb0fd.pf_index
  pagefind/index/en_b8441c3.pf_index
  pagefind/index/en_c66e37a.pf_index
  pagefind/index/en_c87d9e4.pf_index
  pagefind/index/en_cdcbf7b.pf_index
  pagefind/index/en_d1e9484.pf_index
  pagefind/index/en_d4e1e26.pf_index
  pagefind/index/en_eab0188.pf_index
  pagefind/index/en_f6f71db.pf_index
  pagefind/index/en_fa693e3.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_586ff035b1.pf_meta
  pagefind/pagefind.en_8a49d7fa5e.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(data-marts): escape OKF table pipes as an entity the importer keeps
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.test.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: clarify Google Chat delivery options
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/GoogleChatDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleChatFields.test.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleChatFields.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): let the relationships toolbar wrap and cover the container wiring
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
Due: none

feat(api-client): add secure PATCH and DELETE transport methods
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/transport-seam.test.ts
  packages/api-client/src/transport.ts
  packages/api-client/src/transports/api-key-transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api-client): validate raw path with supplied URLs
  packages/api-client/src/client.test.ts
  packages/api-client/src/transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(plugin-sdk): add PATCH and DELETE iframe transport
  packages/plugin-sdk/src/iframe-transport.test.ts
  packages/plugin-sdk/src/iframe-transport.ts
  packages/plugin-sdk/src/index.test.ts
  packages/plugin-sdk/src/protocol.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(plugin-host): negotiate protocol v2 securely
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/features/plugins/runtime/protocol.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugin-host): harden request admission
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/features/plugins/runtime/protocol.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(api-client): document low-level methods
  docs/api/api-client.md
  docs/api/coverage.md
  docs/plugins/authoring-guide.md
  packages/api-client/README.md
  packages/api-client/src/package-readme.test.ts
  packages/plugin-sdk/README.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): stop the input source form from discarding an unsaved query
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartCodeEditor.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/SqlDefinitionField.tsx
Due: none

chore(release): add API client low-level methods changeset
  .changeset/api-client-low-level-json-methods.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(api): format coverage matrix
  docs/api/coverage.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(api): restore coverage table formatting
  docs/api/coverage.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changeset for the input source editor fix
  .changeset/6614-1-input-source-form-discards-unsaved-query.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: align Google Chat delivery wording
  .changeset/google-chat-direct-webhook.md
  docs/destinations/supported-destinations/google-chat.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api-client): expose in/not_in filters and new relative-date presets in traversal types
  .changeset/6761-1-api-client-in-filter-types.md
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  docs/api/api-client.md
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api-client): harden path and protocol validation
  .changeset/api-client-low-level-json-methods.md
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/features/plugins/runtime/protocol.ts
  docs/api/api-client.md
  docs/plugins/authoring-guide.md
  packages/api-client/README.md
  packages/api-client/src/client.test.ts
  packages/api-client/src/transport.ts
  packages/plugin-sdk/README.md
  packages/plugin-sdk/src/iframe-transport.test.ts
  packages/plugin-sdk/src/protocol.test.ts
  packages/plugin-sdk/src/protocol.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): bump LinkedIn and Shopify off sunset-risk API versions
  .changeset/6810-google-ads-api-v25.md
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/abandonedCheckoutsFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/articlesFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/blogsFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/collectionsFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/customersFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/discountCodesFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/fulfillmentOrdersFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/inventoryItemsFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/locationsFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/metafieldsFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/pagesFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/productVariantsFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/productsFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/shopFields.js
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/tenderTransactionsFields.js
  packages/connectors/src/Sources/Shopify/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): give the Joinable Data Marts diagram the Models canvas view settings
  .changeset/6776-2-joinable-dm-canvas-settings.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowEdge.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/export/index.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  apps/web/src/features/data-marts/shared/canvas/canvas-direction.ts
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  apps/web/src/features/data-marts/shared/canvas/dagre-layout.test.ts
  apps/web/src/features/data-marts/shared/canvas/dagre-layout.ts
  apps/web/src/features/data-marts/shared/canvas/erd-fields-section.tsx
  apps/web/src/features/data-marts/shared/canvas/erd-fields.ts
  apps/web/src/features/data-marts/shared/canvas/object-labels.test.ts
  apps/web/src/features/data-marts/shared/canvas/object-labels.ts
  apps/web/src/features/data-marts/shared/canvas/path-point.ts
  apps/web/src/features/data-marts/shared/canvas/view-mode.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(release): use API maintenance changeset
  .changeset/api-client-low-level-json-methods.md
  .changeset/api-surface-maintenance.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): return full validation details in API error responses
  apps/backend/src/common/exceptions/global-exception.filter.spec.ts
  apps/backend/src/common/exceptions/global-exception.filter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): introduce ProjectBilling as the single billing boundary
  apps/backend/src/common/exceptions/project-operation-blocked.exception.ts
  apps/backend/src/common/exceptions/run-restricted.exception.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/models/base-report-run.model.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/consumption-tracking.service.spec.ts
  apps/backend/src/data-marts/services/consumption-tracking.service.ts
  apps/backend/src/data-marts/services/project-balance.service.ts
  apps/backend/src/data-marts/services/project-billing/internal-project-billing.service.spec.ts
  apps/backend/src/data-marts/services/project-billing/internal-project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/project-billing.providers.ts
  apps/backend/src/data-marts/services/project-billing/project-billing.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(plugin-sdk): enforce protocol type contracts
  packages/plugin-sdk/package.json
  packages/plugin-sdk/tsconfig.contracts.json
Due: prettier --write --config ./prettier.config.js

feat(backend): require a managed Cloud license for Report Runs
  .env.example
  apps/backend/src/common/common.module.ts
  apps/backend/src/common/config/app-edition-config.service.spec.ts
  apps/backend/src/common/config/app-edition-config.service.ts
  apps/backend/src/common/config/public-origin.service.spec.ts
  apps/backend/src/common/config/public-origin.service.ts
  apps/backend/src/common/jwt-body/google-jwt-body.decorator.spec.ts
  apps/backend/src/common/jwt-body/google-jwt-body.decorator.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/services/project-billing/license-project-billing.service.spec.ts
  apps/backend/src/data-marts/services/project-billing/license-project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/project-billing.providers.spec.ts
  apps/backend/src/data-marts/services/project-billing/project-billing.providers.ts
  apps/backend/src/data-marts/services/project-billing/restricted-project-billing.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): issue managed license keys from Cloud deployments
  .env.example
  apps/backend/src/app.module.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/ee/license-keys/controllers/license-gateway.controller.ts
  apps/backend/src/ee/license-keys/controllers/license-key.controller.ts
  apps/backend/src/ee/license-keys/dto/license-key-api.dto.ts
  apps/backend/src/ee/license-keys/entities/license-key.entity.ts
  apps/backend/src/ee/license-keys/guards/license-key.guard.spec.ts
  apps/backend/src/ee/license-keys/guards/license-key.guard.ts
  apps/backend/src/ee/license-keys/license-keys.module.ts
  apps/backend/src/ee/license-keys/services/license-key-signer.service.ts
  apps/backend/src/ee/license-keys/services/license-key.service.spec.ts
  apps/backend/src/ee/license-keys/services/license-key.service.ts
  apps/backend/src/migrations/1785283200000-create-license-key-table.ts
  apps/owox/src/web/flags-route.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): share the expiration value component across key types
  apps/web/src/features/api-keys/components/ApiKeyExpirationValue.tsx
  apps/web/src/features/api-keys/utils.ts
  apps/web/src/shared/components/ExpirationValue/ExpirationValue.tsx
  apps/web/src/shared/components/ExpirationValue/expiration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): manage license keys in project settings
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectSettingsSubmenu.tsx
  apps/web/src/features/license-keys/components/CreateLicenseKeySheet.tsx
  apps/web/src/features/license-keys/components/EditLicenseKeySheet.tsx
  apps/web/src/features/license-keys/components/LicenseKeyExpirationValue.tsx
  apps/web/src/features/license-keys/components/LicenseKeyRevealDialog.tsx
  apps/web/src/features/license-keys/components/LicenseKeysTable/LicenseKeysTable.tsx
  apps/web/src/features/license-keys/components/LicenseKeysTable/columns.tsx
  apps/web/src/features/license-keys/hooks/useLicenseKeys.ts
  apps/web/src/features/license-keys/services/license-keys.service.ts
  apps/web/src/features/license-keys/types.ts
  apps/web/src/features/license-keys/utils.ts
  apps/web/src/pages/project-settings/LicenseKeysTab.tsx
  apps/web/src/pages/project-settings/ProjectSettingsPage.tsx
  apps/web/src/routes/project-settings/routes.tsx
  apps/web/src/shared/utils/api-error-message.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
