Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): modularize LookerStudioReportCard by creating sub-components and a custom hook for report handling
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCardActionLeft.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCardActionRight.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCardContent.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCardDescription.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCardTitle.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/hooks/useLookerStudioReport.ts
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/index.ts
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/types/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): simplify LookerStudioReportEditForm by removing unused state and effects for data destination handling
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
Due: none

feat(web): update Looker Studio components to improve report editing and destination handling
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportsTable/LookerStudioReportsTable.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
Due: none

refactor(sidebar): remove ThemeToggle component and integrate theme switching into SidebarUserInfo
  apps/web/src/components/AppSidebar/sidebar-header-dropdown.tsx
  apps/web/src/components/AppSidebar/sidebar-user-info.tsx
  apps/web/src/components/ThemeToggle/theme-toggle.tsx
Due: none

refactor(auth): update role type import and clean up index exports
  apps/web/src/features/idp/types/auth-api.types.ts
  apps/web/src/features/idp/types/index.ts
  packages/idp-protocol/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(auth): consolidate authentication decorators and update role management
  apps/backend/src/data-marts/controllers/connector.controller.ts
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/external/looker-studio-connector.controller.ts
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/scheduled-trigger.controller.ts
  apps/backend/src/idp/decorators/auth-context.decorator.ts
  apps/backend/src/idp/decorators/auth.decorator.ts
  apps/backend/src/idp/decorators/index.ts
  apps/backend/src/idp/decorators/roles.decorator.ts
  apps/backend/src/idp/guards/idp-auth.guard.ts
  apps/backend/src/idp/guards/idp-role.guard.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/backend/src/idp/guards/index.ts
  apps/backend/src/idp/idp.module.ts
  apps/backend/src/idp/types/auth.types.ts
  apps/backend/src/idp/types/index.ts
  apps/backend/src/idp/types/role-config.types.ts
  packages/idp-protocol/src/providers/null-provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(auth): improve role checking logic in hasRole function
  apps/web/src/features/idp/services/auth.service.ts
  packages/idp-protocol/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(package): update build scripts to include IDP protocol dependency
  apps/backend/package.json
Due: prettier --write --config ./prettier.config.js

feat(auth): add custom ESLint rule to enforce @Auth decorator on HTTP endpoint methods
  apps/backend/eslint.config.mjs
  apps/backend/src/idp/decorators/auth-context.decorator.ts
  apps/backend/src/idp/types/auth.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-protocol): streamline package.json and enhance NullIdpProvider
  packages/idp-protocol/package.json
  packages/idp-protocol/src/middleware/protocol-middleware.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): fixed scheduled triggers error with data mart
  apps/backend/src/common/scheduler/services/fetchers/time-based-trigger-fetcher.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): updated tests
  apps/backend/src/common/scheduler/services/fetchers/time-based-trigger-fetcher.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(owox): add web static assets utility and integrate with express app
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  apps/owox/src/web/README.md
  apps/owox/src/web/index.ts
  apps/owox/src/web/static-config.ts
  apps/owox/test/commands/serve.test.ts
  apps/owox/test/integration/web-static-integration.test.ts
  apps/owox/test/web/static-config.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(backend): remove static assets setup and related configurations
  apps/backend/src/bootstrap.ts
  apps/backend/src/config/express-static.config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(tsconfig): add composite option to compiler options
  apps/owox/tsconfig.json
Due: prettier --write --config ./prettier.config.js

refactor(build): simplify build scripts and remove redundant commands
  apps/backend/package.json
  apps/owox/package.json
  package.json
Due: prettier --write --config ./prettier.config.js

refactor(backend): move logic from shared service.
  apps/backend/src/common/scheduler/services/fetchers/time-based-trigger-fetcher.service.spec.ts
  apps/backend/src/common/scheduler/services/fetchers/time-based-trigger-fetcher.service.ts
  apps/backend/src/data-marts/entities/data-mart-scheduled-trigger.entity.ts
  apps/backend/src/data-marts/scheduled-trigger-types/scheduled-connector-run/services/scheduled-connector-run-processor.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): update package.json for publishing in registry
  apps/web/package.json
Due: prettier --write --config ./prettier.config.js

chore: update package-lock.json, owox build scripts and changeset publishing config
  .changeset/config.json
  apps/owox/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

refactor(build): update build dependencies for idp-protocol
  apps/backend/package.json
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.js

fix(owox): enhance clean script to remove additional generated files
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.js

fix(owox): simplify build clean script by combining remove commands
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.js

refactor(workflow): enhance readability of release PR steps
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.js

fix(backend): Scheduled triggers. Ensure findTriggersReadyForProcessing loads entity relations.
  apps/backend/src/common/scheduler/services/fetchers/time-based-trigger-fetcher.service.spec.ts
  apps/backend/src/common/scheduler/services/fetchers/time-based-trigger-fetcher.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(owox): change log message to warning when web static assets are not found
  apps/owox/src/commands/serve.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update astro.config.mjs
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(docs): code format
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(owox): update getWebDistPath to require packageName parameter and log errors
  apps/owox/src/commands/serve.ts
  apps/owox/src/web/static-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance BigQuery logging - remove sensitive data exposure and add progress tracking
  packages/connectors/src/Sources/BingAds/Code.gs
  packages/connectors/src/Sources/CriteoAds/Code.gs
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/RedditAds/Code.gs
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Code.gs
  packages/connectors/src/Sources/XAds/Code.gs
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: update changeset
  .changeset/optimize-logging-security.md
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: remove redundant === true check in time series logic
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update agency.md
  docs/editions/agency.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: remove redundant log
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: add logging for FB insightsUrl
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: remove referral_id field causing whitelist error
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-creatives.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: update changeset
  .changeset/fix-facebook-referral-id-whitelist.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update aws-athena.md
  docs/storages/supported-storages/aws-athena.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update AthenaAccessKeyIdDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaAccessKeyIdDescription.tsx
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
