Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

feat(web): add CopyableField component for easy text copying with tooltip feedback
  packages/ui/src/components/common/copyable-field.tsx
Due: none

feat(web): Introduced `DestinationCard` component to manage report tables and editing sheets based on destination type.
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsActionsCell/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioActionsCell/LookerStudioActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportsTable/LookerStudioReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/columns/columns.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/index.ts
  apps/web/src/features/data-marts/reports/shared/components/EmptyDataMartDestinationsState/index.ts
  apps/web/src/features/data-marts/reports/shared/components/index.ts
  apps/web/src/features/data-marts/reports/shared/index.ts
  apps/web/src/features/data-marts/reports/shared/model/context/reducer.ts
  apps/web/src/features/data-marts/reports/shared/model/context/types.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/index.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/useColumnVisibility.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add changeset file for changelog
  .changeset/destination-cards-in-destination-tab.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): improve wording in Looker Studio JSON configuration descriptions for clarity
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/LookerStudioJsonConfigDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
Due: none

docs: update Facebook Ads import instructions and add new images for clarity
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_backfill.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_dataset.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_importgbq.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_importsheets.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_newdata.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_reimport.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_runbackfill.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_credentials.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_fields.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_pasteid.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_token.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): constant report ids for looker destinations
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-config.service.ts
  apps/backend/src/data-marts/entities/report.entity.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add LookerListItemCard component and related exports
  apps/web/src/features/data-destination/shared/components/LookerListItemCard/LookerListItemCard.tsx
  apps/web/src/features/data-destination/shared/components/LookerListItemCard/index.ts
  apps/web/src/features/data-destination/shared/components/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): conditionally render 'Add Report' button for Google Sheets destinations in DestinationCard
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
Due: none

feat(web): enhance DestinationCard to include dataMartStatus and tooltip for 'Add Report' button
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
Due: none

feat(web): remove LookerListItemCard component and add LookerStudioReportCard component with sub-components
  apps/web/src/features/data-destination/shared/components/LookerListItemCard/index.ts
  apps/web/src/features/data-destination/shared/components/index.ts
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): update LookerStudioReportEditForm and related components to simplify report editing and enhance user experience
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add script to update internal package versions for publishing
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  tools/update-package-versions-for-publishing.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: correct path to update package versions script in publish workflow
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.js

chore: update package-lock.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

docs: improve main collage owox-data-marts-schema.svg
  docs/res/owox-data-marts-schema.svg
Due: none

fix(web): fixed unavailable finish connector setup step
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
Due: none

feat: Initialize @owox/idp-protocol package with core types, NULL provider, and configuration files
  packages/idp-protocol/.prettierrc.js
  packages/idp-protocol/README.md
  packages/idp-protocol/eslint.config.js
  packages/idp-protocol/package.json
  packages/idp-protocol/src/index.ts
  packages/idp-protocol/src/providers/index.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/config.ts
  packages/idp-protocol/src/types/errors.ts
  packages/idp-protocol/src/types/index.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
  packages/idp-protocol/tsconfig.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: Add GitHub Actions workflow for linting @owox/idp-protocol package
  .github/workflows/lint-idp-protocol.yml
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.js

feat(idp-protocol): enhance IDP protocol with middleware support and updated core types
  package-lock.json
  packages/idp-protocol/README.md
  packages/idp-protocol/package.json
  packages/idp-protocol/src/index.ts
  packages/idp-protocol/src/middleware/index.ts
  packages/idp-protocol/src/middleware/protocol-middleware.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/cli.ts
  packages/idp-protocol/src/types/index.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: Update package-lock.json with dependency version upgrades and new package addition
  package-lock.json
Due: prettier --write --config ./prettier.config.js

fix(idp-protocol): correct formatting in README.md for consistency and clarity
  packages/idp-protocol/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

update protocol
  packages/idp-protocol/src/middleware/protocol-middleware.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

(fix): add idp-protocol to changeset config
  .changeset/config.json
Due: prettier --write --config ./prettier.config.js

fix: update MaxFetchingDays property to use 'default' instead of 'value' in BankOfCanada and CriteoAds sources
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/CriteoAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: remove unused fields from adAccountInsightsFields in Facebook Marketing API reference
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add formatting step for package.json files in release workflow
  .github/workflows/release-pr.yml
  package.json
Due: prettier --write --config ./prettier.config.js

chore: update internal package versions to use wildcard
  .github/workflows/release-pr.yml
  apps/backend/package.json
  apps/owox/package.json
  packages/connector-runner/package.json
Due: prettier --write --config ./prettier.config.js

feat: add build step for @owox/backend for owox
  .github/workflows/lint-owox.yml
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

feat(owox): add backend build script for owox
  .github/workflows/lint-owox.yml
  .github/workflows/test-owox.yml
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.js

fix: update build commands
  .github/workflows/publish.yml
  apps/backend/package.json
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.js

feat: enhance owox build scripts and update package-lock.json
  apps/owox/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

update middleware for new ipd modules
  apps/owox/src/commands/serve.ts
  apps/owox/src/idp/factory.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: Integrate IDP Protocol and enhance server configuration
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  apps/owox/src/idp/factory.ts
  apps/owox/src/idp/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: integrate cookie-parser middleware and update IDP protocol dependencies
  apps/owox/src/commands/serve.ts
  apps/owox/src/idp/factory.ts
  package-lock.json
  packages/idp-protocol/package.json
  packages/idp-protocol/src/middleware/protocol-middleware.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: removing unnecessary String conversion for types
  apps/web/src/features/data-destination/shared/model/mappers/destination-mapper.factory.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/utils/schema-factory.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/list/model/mappers/data-mart-list.mapper.ts
  apps/web/src/features/data-storage/shared/model/mappers/storage-mapper.factory.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add user location report and improve BingAds source structure
  packages/connectors/src/Core/EnvironmentAdapter.js
  packages/connectors/src/Sources/BingAds/BingAdsAPIReference/BingAdsFieldsSchema.js
  packages/connectors/src/Sources/BingAds/BingAdsAPIReference/userLocationPerformanceReportFields.js
  packages/connectors/src/Sources/BingAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add a file to changeset
  .changeset/bingads-user-location-report-and-csv-fix.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
