Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): add SnowflakeReaderState interface for Snowflake report reader
  apps/backend/src/data-marts/data-storage-types/snowflake/interfaces/snowflake-reader-state.interface.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update package-lock.json with new dependencies and configurations
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(backend): add Snowflake support for Data Marts and Connectors
  .changeset/snowflake-support.md
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-report-reader-state.interface.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-sql-dry-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/utils/snowflake-identifier.utils.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useSchemaState.ts
  docs/storages/manage-storages.md
  docs/storages/supported-storages/snowflake.md
  packages/connectors/package.json
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): enhance Snowflake identifier handling and validation
  apps/backend/src/data-marts/data-storage-types/snowflake/utils/snowflake-identifier.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/utils/snowflake-identifier.utils.ts
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
  apps/web/src/features/connectors/edit/utils/snowflake-identifier.utils.ts
  apps/web/src/features/data-marts/shared/utils/snowflake-validation.ts
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update package-lock.json to mark dependencies as optional and add dev flags
  package-lock.json
Due: prettier --write --config ./prettier.config.js

refactor: improve code formatting for SnowflakeDataStorage interface
  apps/web/src/features/data-storage/shared/model/types/data-storage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(docs): Update destination descriptions and links in various components
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/EmailDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/GoogleChatDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/MicrosoftTeamsDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/SlackDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/FormDescriptions/MessageTemplateDescription.tsx
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/email.md
  docs/destinations/supported-destinations/google-chat.md
  docs/destinations/supported-destinations/microsoft-teams.md
  docs/destinations/supported-destinations/slack.md
  docs/res/screens/destinations-email-example.png
  docs/res/screens/destinations-tab-in-data-mart-page.png
  docs/res/screens/destinations-table.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: Fix linter errors
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/email.md
  docs/destinations/supported-destinations/slack.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: handle optional Snowflake config and credentials in SnowflakeMapper
  apps/web/src/features/data-storage/shared/model/mappers/snowflake.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: handle optional Snowflake config and credentials in SnowflakeMapper (#760)
  apps/web/src/features/data-storage/shared/model/mappers/snowflake.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): change createdById to userId
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add userId to insight execution logs (#755)
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

improvements after review
  apps/backend/src/idp/services/idp-projections.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/shared/components/UserAvatar/UserAvatar.tsx
  apps/web/src/shared/components/UserAvatar/UserAvatar.types.ts
  apps/web/src/shared/components/UserAvatar/index.ts
  apps/web/src/shared/components/UserReference/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update meta-content.csv with new entries and edits (#722)
  apps/docs/data/meta-content.csv
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@fb7ae8c9b3d79b7c35ef666380fbd6d0b8b0696c 🚀
  apps/backend/src/common/scheduler/readme/index.html
  apps/backend/src/migrations/readme/index.html
  docs/editions/owox-cloud-editions/index.html
  docs/editions/self-managed-editions/index.html
  docs/getting-started/deployment-guide/google-cloud-platform/index.html
  packages/connectors/creating-connector/index.html
  packages/connectors/src/sources/google-ads/credentials/index.html
  packages/connectors/src/sources/google-ads/getting-started/index.html
  packages/connectors/src/sources/google-ads/readme/index.html
Due: none

Delete email provider configuration details
  docs/destinations/supported-destinations/email.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(docs): Update destination descriptions and links in various components (#758)
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/EmailDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/GoogleChatDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/MicrosoftTeamsDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/SlackDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/FormDescriptions/MessageTemplateDescription.tsx
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/email.md
  docs/destinations/supported-destinations/google-chat.md
  docs/destinations/supported-destinations/microsoft-teams.md
  docs/destinations/supported-destinations/slack.md
  docs/res/screens/destinations-email-example.png
  docs/res/screens/destinations-tab-in-data-mart-page.png
  docs/res/screens/destinations-table.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(migrations): refactor table retrieval in migrations for sqlite compatibility
  apps/backend/src/migrations/1756904880000-add-cascade-to-report-data-cache-fk.ts
  apps/backend/src/migrations/1757494380000-create-index-data-mart-run-createdAt.ts
  apps/backend/src/migrations/1760448668537-create-index-data-mart-run-status.ts
  apps/backend/src/migrations/1760974391785-add-type-column-to-data-mart-run.ts
  apps/backend/src/migrations/1761048640819-add-start-end-columns-to-data-mart-run.ts
  apps/backend/src/migrations/1761055697377-add-report-run-columns-to-data-mart-run.ts
  apps/backend/src/migrations/1762511215226-drop-foreign-key-to-report-in-data-mart-run.ts
  apps/backend/src/migrations/1762534573842-add-version-column-to-report.ts
  apps/backend/src/migrations/1763465011180-add-insight-columns-to-data-mart-run.ts
  apps/backend/src/migrations/1763465015992-add-output-to-insight-table.ts
  apps/backend/src/migrations/migration-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add Snowflake integration to README
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(migrations): update changesets
  .changeset/fix-sqlite-error.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

backend(feat): merge interrupted connector run logs
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(migrations): refactor working with typeorm for sqlite compatibility (#763)
  .changeset/fix-sqlite-error.md
  apps/backend/src/migrations/1756904880000-add-cascade-to-report-data-cache-fk.ts
  apps/backend/src/migrations/1757494380000-create-index-data-mart-run-createdAt.ts
  apps/backend/src/migrations/1760448668537-create-index-data-mart-run-status.ts
  apps/backend/src/migrations/1760974391785-add-type-column-to-data-mart-run.ts
  apps/backend/src/migrations/1761048640819-add-start-end-columns-to-data-mart-run.ts
  apps/backend/src/migrations/1761055697377-add-report-run-columns-to-data-mart-run.ts
  apps/backend/src/migrations/1762511215226-drop-foreign-key-to-report-in-data-mart-run.ts
  apps/backend/src/migrations/1762534573842-add-version-column-to-report.ts
  apps/backend/src/migrations/1763465011180-add-insight-columns-to-data-mart-run.ts
  apps/backend/src/migrations/1763465015992-add-output-to-insight-table.ts
  apps/backend/src/migrations/migration-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add Snowflake integration to README (#764)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@77fa191ed823dec0633ac1bcd9e17bad3cc76160 🚀
  index.html
  pagefind/fragment/en_5b2519b.pf_fragment
  pagefind/fragment/en_e66b846.pf_fragment
  pagefind/index/en_418841a.pf_index
  pagefind/index/en_44dd886.pf_index
  pagefind/index/en_546fe7a.pf_index
  pagefind/index/en_7b16d1a.pf_index
  pagefind/index/en_8af8897.pf_index
  pagefind/index/en_8f77559.pf_index
  pagefind/index/en_9db1894.pf_index
  pagefind/index/en_beb7be4.pf_index
  pagefind/index/en_bf6c92e.pf_index
  pagefind/index/en_c5c69e7.pf_index
  pagefind/index/en_d1f7bef.pf_index
  pagefind/index/en_e734b1b.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_95d4fcd1d4.pf_meta
  pagefind/pagefind.en_d989ca364a.pf_meta
Due: prettier --write --config ./prettier.config.js

Add GA4 Sessions Data Mart SQL definition
  docs/templates/ga4bigquery/define-GA4-sessions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: update prettier-plugin-tailwindcss dev dependencies
  package-lock.json
  package.json
  packages/prettier-config/package.json
Due: prettier --write --config ./prettier.config.js

Fix SQL formatting in define-GA4-sessions.md
  docs/templates/ga4bigquery/define-GA4-sessions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update links for data storage documentation
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fix SQL code block formatting in GA4 sessions doc
  docs/templates/ga4bigquery/define-GA4-sessions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add GA4 Sessions Data Mart SQL definition (#766)
  docs/templates/ga4bigquery/define-GA4-sessions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@b932b923a107374fed954b9d297290889bee7e2b 🚀
  docs/templates/ga4bigquery/define-ga4-sessions/index.html
  pagefind/fragment/en_11b7e76.pf_fragment
  pagefind/index/en_1924ab7.pf_index
  pagefind/index/en_546fe7a.pf_index
  pagefind/index/en_6184c32.pf_index
  pagefind/index/en_8f77559.pf_index
  pagefind/index/en_99df481.pf_index
  pagefind/index/en_9db1894.pf_index
  pagefind/index/en_bade12e.pf_index
  pagefind/index/en_beb7be4.pf_index
  pagefind/index/en_c0f4d1c.pf_index
  pagefind/index/en_c5c69e7.pf_index
  pagefind/index/en_d1f7bef.pf_index
  pagefind/index/en_db531a9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_754858eb31.pf_meta
  pagefind/pagefind.en_d989ca364a.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

Change code block to use SQL syntax highlighting
  docs/templates/ga4bigquery/define-GA4-sessions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update links for data storage documentation (#768)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@06654f3384179e06aa4d267b714ef7f731cd9302 🚀
  index.html
Due: none

Change code block to use SQL syntax highlighting (#769)
  docs/templates/ga4bigquery/define-GA4-sessions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
