Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

feat(connectors): update SVG logos for GitHub and XAds with improved look for dark UI theme
  packages/connectors/src/Sources/GitHub/logo.svg
  packages/connectors/src/Sources/XAds/logo.svg
Due: none

fix(web): update titles and labels in Fields and Nodes selection steps for clarity
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/NodesSelectionStep.tsx
Due: none

fix: error with empty date for incremental mode
  packages/connectors/src/Core/AbstractConfig.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): Trigger fetcher fix
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): Trigger fetcher fix (#614)
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(docs): add SEO metadata configuration details to README
  apps/docs/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): enhance frontmatter processing with CSV metadata (#610)
  apps/docs/README.md
  apps/docs/data/meta-content.csv
  apps/docs/package.json
  apps/docs/scripts/sync-docs.js
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@6278ad09fd9e03d8ef93cbb50edf77109747d662 🚀
  apps/docs/readme/index.html
  pagefind/fragment/en_767bd3b.pf_fragment
  pagefind/fragment/en_fed0998.pf_fragment
  pagefind/index/en_1435d79.pf_index
  pagefind/index/en_192ab03.pf_index
  pagefind/index/en_64e0ae9.pf_index
  pagefind/index/en_8871afd.pf_index
  pagefind/index/en_b412ebc.pf_index
  pagefind/index/en_c03d736.pf_index
  pagefind/index/en_c7a6b3a.pf_index
  pagefind/index/en_e2463a9.pf_index
  pagefind/index/en_e4593b6.pf_index
  pagefind/index/en_e84a695.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_6fe5c87163.pf_meta
  pagefind/pagefind.en_c031c67e7c.pf_meta
Due: prettier --write --config ./prettier.config.js

updated dependencies according to vulnerabilities audit
  apps/docs/package.json
  apps/web/package.json
  package-lock.json
  packages/idp-better-auth/package.json
Due: prettier --write --config ./prettier.config.js

updated dependencies according to vulnerabilities audit (#615)
  apps/docs/package.json
  apps/web/package.json
  package-lock.json
  packages/idp-better-auth/package.json
Due: prettier --write --config ./prettier.config.js

fix: error with empty date for incremental mode (#613)
  packages/connectors/src/Core/AbstractConfig.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

review: standardize date formatting across RunItem and StructuredLogsView
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StructuredLogsView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/utils/date-formatters.ts
  apps/web/src/utils/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(LinkedIn): update BaseUrl to BASE_URL for consistency
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add new DataMartPlusIcon component and fix Slack icon for dark theme
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
  apps/web/src/shared/icons/data-mart-plus-icon.tsx
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  apps/web/src/shared/icons/slack-icon.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: remove BaseUrl config and hardcode API base URLs in LinkedIn and XAds sources (#608)
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update terminology from Client ID/Secret to App ID/Secret in documentation and source code
  packages/connectors/src/Sources/RedditAds/CREDENTIALS.md
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/RedditAds/res/reddit_fill_data.png
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): update terminology and UI elements in connector configuration components
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/NodesSelectionStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditSheet/ConnectorEditSheet.tsx
Due: none

feat(web): sort connector list by display name in mapper
  apps/web/src/features/connectors/shared/model/mappers/connector-list.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): update SVG logos for GitHub and XAds
  packages/connectors/src/Sources/GitHub/logo.svg
  packages/connectors/src/Sources/XAds/logo.svg
Due: none

feat(ui): enhance sheet component responsiveness and update wizard layout for larger screens
  packages/ui/src/components/common/wizard.tsx
  packages/ui/src/components/sheet.tsx
Due: none

feat(web): UI and visual improvements for connectors (#616)
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/NodesSelectionStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditSheet/ConnectorEditSheet.tsx
  apps/web/src/features/connectors/shared/model/mappers/connector-list.mapper.ts
  packages/connectors/src/Sources/GitHub/logo.svg
  packages/connectors/src/Sources/XAds/logo.svg
  packages/ui/src/components/common/wizard.tsx
  packages/ui/src/components/sheet.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add new DataMartPlusIcon component and fix Slack icon for dark theme (#617)
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
  apps/web/src/shared/icons/data-mart-plus-icon.tsx
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  apps/web/src/shared/icons/slack-icon.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): adjust documentation links in project menu
  apps/owox/src/web/flags-route.ts
  apps/web/src/app/store/default-flags.ts
  apps/web/src/components/AppSidebar/ProjectMenu/items.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): adjust documentation links in project menu (#619)
  apps/owox/src/web/flags-route.ts
  apps/web/src/app/store/default-flags.ts
  apps/web/src/components/AppSidebar/ProjectMenu/items.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: split facebook insights into base, by-country, and by-link-url-asset endpoints
  .changeset/facebook-insights-endpoints-split.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add breaking changes section to changeset
  .changeset/facebook-insights-endpoints-split.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(backend): use connectorService instead specificationConnectorService
  apps/backend/src/data-marts/services/connector-secret.service.ts
  apps/backend/src/migrations/1760007800968-backfill-connector-config-ids.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): updated ConnectorSecretService test
  apps/backend/src/data-marts/services/connector-secret.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): mask connector credentials (#609)
  .changeset/connectors-mask-secrets.md
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector-secret.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/backend/src/migrations/1760007800968-backfill-connector-config-ids.ts
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/AddConfigurationButton.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/shared/constants/secrets.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): fix connector run stuck in "running" after interrupting
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add backward compatible fallback for ad-account/insights
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): fix connector run stuck in "running" after interrupting (#621)
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(web): Disable translation for web app elements
  apps/web/index.html
Due: none

chore(web): Disable translation for web app elements (#622)
  apps/web/index.html
Due: none

feat(docs): expand meta-content with additional documentation paths and title
  apps/docs/data/meta-content.csv
Due: none

refactor: update terminology from Client ID/Secret to App ID/Secret in documentation and source code (#618)
  packages/connectors/src/Sources/RedditAds/CREDENTIALS.md
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/RedditAds/res/reddit_fill_data.png
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): update references from "Client Secret" to "Primary Client Secret" in LinkedIn Ads and Pages documentation (#612)
  packages/connectors/src/Sources/LinkedInAds/CREDENTIALS.md
  packages/connectors/src/Sources/LinkedInAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/CREDENTIALS.md
  packages/connectors/src/Sources/LinkedInPages/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@f5b72200cacc8998cb2d5161302d9c610da36e14 🚀
  _astro/reddit-fill-data._RiLc0w1_ZC3srk.webp
  _astro/reddit-fill-data.hNCfUYPO_Z1W58FS.webp
  packages/connectors/src/sources/reddit-ads/credentials/index.html
  packages/connectors/src/sources/reddit-ads/getting-started/index.html
  pagefind/fragment/en_24785cb.pf_fragment
  pagefind/fragment/en_6a9cb5b.pf_fragment
  pagefind/fragment/en_c89af2d.pf_fragment
  pagefind/fragment/en_f9be8bd.pf_fragment
  pagefind/index/en_35b385f.pf_index
  pagefind/index/en_389be6a.pf_index
  pagefind/index/en_64e0ae9.pf_index
  pagefind/index/en_6dd243a.pf_index
  pagefind/index/en_77857dc.pf_index
  pagefind/index/en_b412ebc.pf_index
  pagefind/index/en_c03d736.pf_index
  pagefind/index/en_c2b6326.pf_index
  pagefind/index/en_c7a6b3a.pf_index
  pagefind/index/en_e84a695.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_ab6252d05a.pf_meta
  pagefind/pagefind.en_c031c67e7c.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@98d9f5f7c9aeedf1d4051c1c1fd34eba97e0cda0 🚀
  packages/connectors/src/sources/linked-in-ads/credentials/index.html
  packages/connectors/src/sources/linked-in-ads/getting-started/index.html
  packages/connectors/src/sources/linked-in-pages/credentials/index.html
  packages/connectors/src/sources/linked-in-pages/getting-started/index.html
  pagefind/fragment/en_1618bd5.pf_fragment
  pagefind/fragment/en_3b5172d.pf_fragment
  pagefind/fragment/en_4b45634.pf_fragment
  pagefind/fragment/en_98bb4a4.pf_fragment
  pagefind/fragment/en_b866b6f.pf_fragment
  pagefind/fragment/en_c28267b.pf_fragment
  pagefind/fragment/en_d752a64.pf_fragment
  pagefind/fragment/en_fb8bd27.pf_fragment
  pagefind/index/en_13f0a8e.pf_index
  pagefind/index/en_198b683.pf_index
  pagefind/index/en_35b385f.pf_index
  pagefind/index/en_35ea97e.pf_index
  pagefind/index/en_389be6a.pf_index
  pagefind/index/en_3e8a1ca.pf_index
  pagefind/index/en_6dd243a.pf_index
  pagefind/index/en_77857dc.pf_index
  pagefind/index/en_9264cec.pf_index
  pagefind/index/en_c2b6326.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4e638859f9.pf_meta
  pagefind/pagefind.en_ab6252d05a.pf_meta
Due: prettier --write --config ./prettier.config.js
