Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

feat: add Google Sheets source connector
  apps/backend/src/data-marts/services/storage-snapshot-safety.contract.spec.ts
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/connector-runner.js
  packages/connectors/test/storage-snapshot-safety.test.cjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: rename injectCredentialsForPreview to injectGoogleSheetsPreviewCredentials and streamline credential injection logic for Google Sheets connector
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-config.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.ts
  apps/backend/src/data-marts/use-cases/connector/preview-fields-connector.service.spec.ts
  apps/backend/src/data-marts/use-cases/connector/preview-fields-connector.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/GoogleSheetsServiceAccountField.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/GoogleSheetsServiceAccountField.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleAdsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleAdsOauthRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/shared/components/GoogleAdsLoginButton/GoogleAdsLoginButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-refresh-data-mart-after-connector-run.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-refresh-data-mart-after-connector-run.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.test.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/Utils/OAuthUtils.js
  packages/connectors/src/Sources/GoogleSheets/Connector.js
  packages/connectors/src/Sources/GoogleSheets/README.md
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
  packages/connectors/test/AbstractConfig.test.js
  packages/connectors/test/GoogleSheets.test.js
  packages/connectors/test/storage-snapshot-safety.test.cjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: harden Google Sheets source connector
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/GoogleSheetsServiceAccountField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
  packages/connectors/test/GoogleSheets.test.js
  packages/connectors/test/storage-snapshot-safety.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: split Google Sheets OAuth support
  .changeset/google-sheets-source-connector.md
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/google-sheets-preview-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/google-sheets-preview-credentials.service.ts
  apps/backend/src/data-marts/services/data-mart.service.spec.ts
  apps/backend/test/README.md
  apps/backend/test/connector-fields.e2e-spec.ts
  apps/backend/test/connector-oauth.e2e-spec.ts
  apps/backend/test/data-mart.e2e-spec.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/GoogleSheetsServiceAccountField.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.tsx
  apps/web/src/features/connectors/shared/components/GoogleSheetsLoginButton/GoogleSheetsLoginButton.tsx
  apps/web/src/features/connectors/shared/components/GoogleSheetsLoginButton/index.ts
  apps/web/src/features/connectors/shared/utils/google-sheets-fields.utils.test.ts
  apps/web/src/features/data-marts/edit/model/hooks/use-data-mart.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-refresh-data-mart-after-connector-run.test.tsx
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.test.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  apps/web/src/pages/oauth/GoogleSheetsCallback.tsx
  apps/web/src/pages/oauth/index.ts
  apps/web/src/routes/oauth.routes.tsx
  packages/connectors/src/Sources/GoogleSheets/CREDENTIALS.md
  packages/connectors/src/Sources/GoogleSheets/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleSheets/README.md
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: address Google Sheets connector review findings
  apps/backend/src/data-marts/services/connector/google-sheets-preview-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/google-sheets-preview-credentials.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/GoogleSheetsServiceAccountField.test.tsx
  apps/web/src/features/connectors/shared/model/context/reducer.ts
  apps/web/src/features/connectors/shared/model/context/types.ts
  apps/web/src/features/connectors/shared/model/hooks/useConnector.test.tsx
  apps/web/src/features/connectors/shared/model/hooks/useConnector.ts
  apps/web/src/features/connectors/shared/utils/google-sheets-fields.utils.test.ts
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix connector snapshot publication across storages
  apps/backend/src/data-marts/services/data-mart.service.spec.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/web/src/features/connectors/shared/model/hooks/useConnector.test.tsx
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/test/storage-snapshot-safety.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix Google Sheets copied credential validation
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api): simplify traversal option types
  .changeset/api-surface-maintenance.md
  apps/ctl/src/commands/data-marts/stream.ts
  docs/api/api-client.md
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix connector preview cleanup and test isolation
  apps/backend/src/data-marts/controllers/oauth-flow-only.controller.spec.ts
  apps/web/src/features/connectors/shared/model/hooks/useConnector.test.tsx
  apps/web/src/features/connectors/shared/model/hooks/useConnector.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: address HTTP Data review feedback
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.openapi.spec.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.ts
  apps/backend/src/data-marts/dto/schemas/date-trunc-config.schema.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
  apps/backend/src/data-marts/dto/schemas/sort-config.schema.ts
  apps/ctl/src/commands/data-marts/stream.test.ts
  apps/ctl/src/commands/data-marts/stream.ts
  docs/api/api-client.md
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api): audit HTTP Data streaming contract (#1467)
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/external/http-data.controller.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.openapi.spec.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.ts
  apps/backend/src/data-marts/dto/schemas/date-trunc-config.schema.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
  apps/backend/src/data-marts/dto/schemas/sort-config.schema.ts
  apps/ctl/src/commands/data-marts/stream.test.ts
  apps/ctl/src/commands/data-marts/stream.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/api-client.md
  docs/api/coverage.md
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@3e71d55c13968ef945e667ec0c61f8ba31ba4af9 🚀
  docs/api/api-client/index.html
  docs/api/coverage/index.html
  pagefind/fragment/en_231433c.pf_fragment
  pagefind/fragment/en_542015f.pf_fragment
  pagefind/fragment/en_8e66da7.pf_fragment
  pagefind/fragment/en_bc987a5.pf_fragment
  pagefind/index/en_13e6fc7.pf_index
  pagefind/index/en_16c2fb5.pf_index
  pagefind/index/en_17d0f3e.pf_index
  pagefind/index/en_19b9612.pf_index
  pagefind/index/en_2be28d9.pf_index
  pagefind/index/en_3225d1f.pf_index
  pagefind/index/en_3f10cbe.pf_index
  pagefind/index/en_46f3cef.pf_index
  pagefind/index/en_4f29d18.pf_index
  pagefind/index/en_54c5c98.pf_index
  pagefind/index/en_5eea18d.pf_index
  pagefind/index/en_69f2f32.pf_index
  pagefind/index/en_6ad24d4.pf_index
  pagefind/index/en_8314d5e.pf_index
  pagefind/index/en_871449a.pf_index
  pagefind/index/en_8c3b5d3.pf_index
  pagefind/index/en_9928c1d.pf_index
  pagefind/index/en_bb3e5e5.pf_index
  pagefind/index/en_c8524bd.pf_index
  pagefind/index/en_c8c932a.pf_index
  pagefind/index/en_d0e2a3c.pf_index
  pagefind/index/en_dac0e77.pf_index
  pagefind/index/en_ecaabb3.pf_index
  pagefind/index/en_f6922c3.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_559e6f48bb.pf_meta
  pagefind/pagefind.en_e4779796c4.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(api): actualize Data Mart list contract
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-context-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-storage-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/list-data-marts-query-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/list-data-marts-query-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/paginated-data-marts-response-api.dto.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/api-client.md
  docs/api/coverage.md
  packages/api-client/src/client.test.ts
  packages/api-client/src/data-marts-list.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/index.ts
  packages/api-client/src/insight-templates.ts
  packages/api-client/src/runs.ts
  packages/api-client/src/validation.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): close remaining save-time-clean/query-time-failure gaps from review
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
  apps/web/src/features/data-marts/shared/types/output-config.test.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
  docs/getting-started/setup-guide/mcp.md
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api): align Data Mart list nullability
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/dto/domain/data-mart-list-item.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-response-api.dto.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/idp/dto/domain/user-projection.dto.ts
  docs/api/api-client.md
  packages/api-client/src/data-marts-list.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/insight-templates.test.ts
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/validation.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): preserve Data Mart column metadata
  apps/backend/src/data-marts/entities/data-mart.entity.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api): actualize Data Mart list contract (#1468)
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/dto/domain/data-mart-list-item.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-context-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-storage-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/list-data-marts-query-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/list-data-marts-query-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/paginated-data-marts-response-api.dto.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
  apps/backend/src/idp/dto/domain/user-projection.dto.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/api-client.md
  docs/api/coverage.md
  packages/api-client/src/client.test.ts
  packages/api-client/src/data-marts-list.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/index.ts
  packages/api-client/src/insight-templates.test.ts
  packages/api-client/src/insight-templates.ts
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/runs.ts
  packages/api-client/src/validation.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@2ad507cc206f2f4ad144a0a6c881b03b1159cf80 🚀
  docs/api/api-client/index.html
  docs/api/coverage/index.html
  pagefind/fragment/en_542015f.pf_fragment
  pagefind/fragment/en_bc987a5.pf_fragment
  pagefind/fragment/en_d0c14c1.pf_fragment
  pagefind/fragment/en_e763653.pf_fragment
  pagefind/index/en_19302df.pf_index
  pagefind/index/en_19b9612.pf_index
  pagefind/index/en_2be28d9.pf_index
  pagefind/index/en_3587e8a.pf_index
  pagefind/index/en_3bca566.pf_index
  pagefind/index/en_49cbf29.pf_index
  pagefind/index/en_4b103ed.pf_index
  pagefind/index/en_4f29d18.pf_index
  pagefind/index/en_6ad24d4.pf_index
  pagefind/index/en_8314d5e.pf_index
  pagefind/index/en_871449a.pf_index
  pagefind/index/en_8730c8a.pf_index
  pagefind/index/en_8c3b5d3.pf_index
  pagefind/index/en_8de1939.pf_index
  pagefind/index/en_9928c1d.pf_index
  pagefind/index/en_a146b0b.pf_index
  pagefind/index/en_a4fd24b.pf_index
  pagefind/index/en_bb3e5e5.pf_index
  pagefind/index/en_c21d9d4.pf_index
  pagefind/index/en_c8524bd.pf_index
  pagefind/index/en_d0e2a3c.pf_index
  pagefind/index/en_dac0e77.pf_index
  pagefind/index/en_e3257a8.pf_index
  pagefind/index/en_ec50c15.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2f8187dce6.pf_meta
  pagefind/pagefind.en_559e6f48bb.pf_meta
Due: prettier --write --config ./prettier.config.js

fix: allow sorting a report by a column not in the output
  .changeset/6768-sort-by-unselected-column.md
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/test/output-controls.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.invariant.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): keep cancelled runs cancelled and refresh BigQuery (#1439)
  .changeset/6751-connector-run-cancel-and-token-refresh.md
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-run.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run.service.ts
  apps/backend/src/data-marts/services/connector/connector-storage-config.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-storage-config.service.ts
  apps/backend/src/data-marts/utils/data-mart-run-cancellation.ts
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): HTTP Data streaming on report level (#6759)
  .changeset/6759-http-data-report-level.md
  apps/backend/src/data-marts/controllers/external/http-data.controller.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.openapi.spec.ts
  apps/backend/src/data-marts/dto/domain/stream-http-report-data.command.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.ts
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.ts
  apps/backend/src/data-marts/mappers/http-data.mapper.spec.ts
  apps/backend/src/data-marts/mappers/http-data.mapper.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/http-data/http-data-request-validator.service.spec.ts
  apps/backend/src/data-marts/services/http-data/http-data-request-validator.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/test/http-data-report-cross-project.e2e-spec.ts
  apps/backend/test/http-data.e2e-spec.ts
  docs/api/openapi.md
  packages/api-client/src/auth.ts
  packages/api-client/src/client.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/destinations.ts
  packages/api-client/src/index.ts
  packages/api-client/src/reports.test.ts
  packages/api-client/src/reports.ts
  packages/api-client/src/storages.ts
  packages/api-client/src/traversal.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@66ac952f3cb6ba949ac61d7ed1c170761f2a97f9 🚀
  docs/api/openapi/index.html
  pagefind/fragment/en_bc1a312.pf_fragment
  pagefind/fragment/en_fda6141.pf_fragment
  pagefind/index/en_19302df.pf_index
  pagefind/index/en_2265e48.pf_index
  pagefind/index/en_3bca566.pf_index
  pagefind/index/en_49cbf29.pf_index
  pagefind/index/en_4b103ed.pf_index
  pagefind/index/en_5b4cdc5.pf_index
  pagefind/index/en_5f1a29d.pf_index
  pagefind/index/en_8730c8a.pf_index
  pagefind/index/en_8de1939.pf_index
  pagefind/index/en_a146b0b.pf_index
  pagefind/index/en_a4fd24b.pf_index
  pagefind/index/en_bf85af6.pf_index
  pagefind/index/en_c21d9d4.pf_index
  pagefind/index/en_ca262a6.pf_index
  pagefind/index/en_cce662d.pf_index
  pagefind/index/en_d59db24.pf_index
  pagefind/index/en_d7c6c8b.pf_index
  pagefind/index/en_d98f8b4.pf_index
  pagefind/index/en_e3257a8.pf_index
  pagefind/index/en_e544b2f.pf_index
  pagefind/index/en_e9097b0.pf_index
  pagefind/index/en_ec50c15.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2f8187dce6.pf_meta
  pagefind/pagefind.en_64e8ab1be7.pf_meta
Due: prettier --write --config ./prettier.config.js

test(data-marts): add displayName to the merge-missed lockedMetric fixture
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@ace4697dee2308da9a8b8019a14a05524364c92c 🚀
  docs/getting-started/setup-guide/mcp/index.html
  docs/getting-started/setup-guide/output-controls/index.html
  pagefind/fragment/en_631e475.pf_fragment
  pagefind/fragment/en_b7baa6a.pf_fragment
  pagefind/fragment/en_b8f8209.pf_fragment
  pagefind/fragment/en_bd35584.pf_fragment
  pagefind/index/en_2265e48.pf_index
  pagefind/index/en_3587e8a.pf_index
  pagefind/index/en_56f0951.pf_index
  pagefind/index/en_5b4cdc5.pf_index
  pagefind/index/en_5f1a29d.pf_index
  pagefind/index/en_6241a54.pf_index
  pagefind/index/en_62704a3.pf_index
  pagefind/index/en_629cb56.pf_index
  pagefind/index/en_80e92ae.pf_index
  pagefind/index/en_82b5dc5.pf_index
  pagefind/index/en_9c78b48.pf_index
  pagefind/index/en_b5e2606.pf_index
  pagefind/index/en_bf85af6.pf_index
  pagefind/index/en_c915449.pf_index
  pagefind/index/en_ca262a6.pf_index
  pagefind/index/en_cce662d.pf_index
  pagefind/index/en_d59db24.pf_index
  pagefind/index/en_d7c6c8b.pf_index
  pagefind/index/en_d98875d.pf_index
  pagefind/index/en_d98f8b4.pf_index
  pagefind/index/en_dcd3966.pf_index
  pagefind/index/en_e544b2f.pf_index
  pagefind/index/en_e9097b0.pf_index
  pagefind/index/en_f87f2bc.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_64e8ab1be7.pf_meta
  pagefind/pagefind.en_91372894b6.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(connectors): classify customer-actionable failures as warnings, defragment crash logs
  .changeset/connector-error-warning-classification.md
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-output-capture.service.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Core/Utils/OAuthUtils.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/TikTokAds/TiktokMarketingApiProvider.js
  packages/connectors/src/connector-runner.js
  packages/connectors/test/Core/AbstractSource.test.js
  packages/connectors/test/Core/OAuthUtils.test.js
  packages/connectors/test/Sources/FacebookMarketing/Source.test.js
  packages/connectors/test/Sources/TikTokAds/warningClassification.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(auth): enforce view-only session restrictions
  .changeset/view-only-session-restrictions.md
  apps/backend/src/idp/controllers/auth-context.controller.spec.ts
  apps/backend/src/idp/controllers/auth-context.controller.ts
  apps/backend/src/idp/decorators/auth-context.decorator.spec.ts
  apps/backend/src/idp/decorators/auth-context.decorator.ts
  apps/backend/src/idp/dto/presentation/auth-context-response-api.dto.ts
  apps/backend/src/idp/filters/idp-exception.filter.spec.ts
  apps/backend/src/idp/guards/idp.guard.spec.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/backend/src/idp/oauth/controllers/oauth-authorization.controller.spec.ts
  apps/backend/src/idp/oauth/controllers/oauth-authorization.controller.ts
  apps/backend/src/idp/types/auth.types.ts
  apps/web/src/app/gtm/GoogleTagManager.test.tsx
  apps/web/src/app/gtm/GoogleTagManager.tsx
  apps/web/src/features/idp/context/AuthContext.tsx
  apps/web/src/features/idp/services/auth.service.test.ts
  apps/web/src/features/idp/services/auth.service.ts
  apps/web/src/features/idp/types/auth-api.types.ts
  apps/web/src/features/idp/types/user.types.ts
  apps/web/src/utils/data-layer.test.ts
  apps/web/src/utils/data-layer.ts
  packages/idp-owox-better-auth/src/mappers/client-payload-mapper.test.ts
  packages/idp-owox-better-auth/src/mappers/client-payload-mapper.ts
  packages/idp-protocol/src/index.ts
  packages/idp-protocol/src/types/errors.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/utils/index.ts
  packages/idp-protocol/src/utils/view-only.test.ts
  packages/idp-protocol/src/utils/view-only.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(auth): harden view-only enforcement after review
  apps/backend/src/idp/dto/presentation/auth-context-response-api.dto.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/web/src/app/api/apiClient.ts
  apps/web/src/app/gtm/GoogleTagManager.test.tsx
  apps/web/src/app/gtm/GoogleTagManager.tsx
  apps/web/src/features/idp/types/user.types.ts
  packages/idp-owox-better-auth/src/controllers/onboarding-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/onboarding-controller.ts
  packages/idp-owox-better-auth/src/mappers/client-payload-mapper.ts
  packages/idp-protocol/src/utils/view-only.test.ts
  packages/idp-protocol/src/utils/view-only.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp-protocol): accept object claims in resolveViewOnlyFromClaims
  packages/idp-protocol/src/utils/view-only.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

style: format onboarding-controller idp-protocol import
  packages/idp-owox-better-auth/src/controllers/onboarding-controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): narrow Facebook auth classification, keep isWarning through Google Ads wraps
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  packages/connectors/src/Core/Utils/OAuthUtils.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/test/Core/OAuthUtils.test.js
  packages/connectors/test/Sources/FacebookMarketing/Source.test.js
  packages/connectors/test/Sources/GoogleAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): keep retry and failure diagnostics as single structured log entries
  .changeset/6719-connector-error-warning-classification.md
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/TikTokAds/TiktokMarketingApiProvider.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/Sources/TikTokAds/warningClassification.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update Changeset
  .changeset/6719-connector-error-warning-classification.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Self-review
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-output-capture.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.test.ts
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/test/Sources/FacebookMarketing/Source.test.js
  packages/connectors/test/Sources/TikTokAds/warningClassification.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): keep NULL rows for negative report filters
  .changeset/6746-null-inclusive-negative-filters.md
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.spec.ts
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/integration/databricks.integration.ts
  apps/backend/test/integration/redshift.integration.ts
  apps/backend/test/integration/snowflake.integration.ts
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): keep NULL rows for not_in report filter
  .changeset/6746-null-inclusive-negative-filters.md
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/integration/databricks.integration.ts
  apps/backend/test/integration/redshift.integration.ts
  apps/backend/test/integration/snowflake.integration.ts
  docs/getting-started/setup-guide/mcp.md
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): mention is none of in heading
  .changeset/6746-null-inclusive-negative-filters.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@2680781ee67968c7c4cfa95061dcf9b3d8f0a72e 🚀
  docs/getting-started/setup-guide/mcp/index.html
  docs/getting-started/setup-guide/output-controls/index.html
  pagefind/fragment/en_8bf6a03.pf_fragment
  pagefind/fragment/en_a3a96bc.pf_fragment
  pagefind/fragment/en_b7baa6a.pf_fragment
  pagefind/fragment/en_b8f8209.pf_fragment
  pagefind/index/en_1c69c85.pf_index
  pagefind/index/en_20d9e87.pf_index
  pagefind/index/en_2169239.pf_index
  pagefind/index/en_31e9fea.pf_index
  pagefind/index/en_50d2c91.pf_index
  pagefind/index/en_56f0951.pf_index
  pagefind/index/en_5b2b7dc.pf_index
  pagefind/index/en_5daee03.pf_index
  pagefind/index/en_6241a54.pf_index
  pagefind/index/en_62704a3.pf_index
  pagefind/index/en_629cb56.pf_index
  pagefind/index/en_7b933a9.pf_index
  pagefind/index/en_80e92ae.pf_index
  pagefind/index/en_82b5dc5.pf_index
  pagefind/index/en_9c78b48.pf_index
  pagefind/index/en_b5e2606.pf_index
  pagefind/index/en_c2471e3.pf_index
  pagefind/index/en_c43be74.pf_index
  pagefind/index/en_c915449.pf_index
  pagefind/index/en_d98875d.pf_index
  pagefind/index/en_dcd3966.pf_index
  pagefind/index/en_eb4d602.pf_index
  pagefind/index/en_f6dd1ae.pf_index
  pagefind/index/en_f87f2bc.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_91372894b6.pf_meta
  pagefind/pagefind.en_bc2b952611.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(data-marts): Data Last Updated Date in MCP query results (#6750)
  .changeset/6750-data-last-updated-date.md
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-source-data-last-updated.resolver.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-source-data-last-updated.resolver.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/source-data-last-updated-resolver.interface.ts
  apps/backend/src/data-marts/dto/schemas/mcp-query-run-metadata.schema.ts
  apps/backend/src/data-marts/dto/schemas/source-data-last-updated.schema.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/services/source-data-last-updated.service.spec.ts
  apps/backend/src/data-marts/services/source-data-last-updated.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
