Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): require evidence of change in Databricks history commits
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-source-data-last-updated.resolver.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-source-data-last-updated.resolver.ts
  apps/backend/src/data-marts/data-storage-types/databricks/utils/databricks-plan-relations.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/utils/databricks-plan-relations.util.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(deps): bump nanoid to 3.3.18 (GHSA-2v37-7h3g-55p8)
  package-lock.json
Due: prettier --write --config ./prettier.config.js

fix(data-marts): escape leading + in header aliases and verify escaping end to end
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(data-marts): drop unused positional formatRowsValues variant
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): address report run review feedback
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/get-report-run-status.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): preserve context when description fails
  apps/backend/src/ee/mcp/tools/project-context.tool.spec.ts
  apps/backend/src/ee/mcp/tools/project-context.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@b81cdb2f4d1ba6723712a4564389165f9e71881f 🚀
  docs/getting-started/setup-guide/data-last-updated/index.html
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_7f8b1ec.pf_fragment
  pagefind/fragment/en_b8a0821.pf_fragment
  pagefind/fragment/en_bbd3fc2.pf_fragment
  pagefind/fragment/en_fc6873f.pf_fragment
  pagefind/index/en_1badd14.pf_index
  pagefind/index/en_2141764.pf_index
  pagefind/index/en_3144f64.pf_index
  pagefind/index/en_3e87e1c.pf_index
  pagefind/index/en_434b348.pf_index
  pagefind/index/en_43ae759.pf_index
  pagefind/index/en_47d1fef.pf_index
  pagefind/index/en_51c8fdd.pf_index
  pagefind/index/en_5cf037a.pf_index
  pagefind/index/en_632fa1d.pf_index
  pagefind/index/en_6817fd3.pf_index
  pagefind/index/en_7528196.pf_index
  pagefind/index/en_8774d3a.pf_index
  pagefind/index/en_889fe21.pf_index
  pagefind/index/en_8c1951e.pf_index
  pagefind/index/en_90c1897.pf_index
  pagefind/index/en_96a78fa.pf_index
  pagefind/index/en_9fcafab.pf_index
  pagefind/index/en_ac7aa53.pf_index
  pagefind/index/en_bd6bd5d.pf_index
  pagefind/index/en_c0b5d8c.pf_index
  pagefind/index/en_c8f58e9.pf_index
  pagefind/index/en_e2133ec.pf_index
  pagefind/index/en_eb4e441.pf_index
  pagefind/index/en_efde96d.pf_index
  pagefind/index/en_f95e43c.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_175f2573c2.pf_meta
  pagefind/pagefind.en_953ef9f9fc.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@cf830e301d8473966e980ca312039b9ba6580cb1 🚀
  docs/api/api-client/index.html
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_7147d2a.pf_fragment
  pagefind/fragment/en_7f8b1ec.pf_fragment
  pagefind/fragment/en_dd321a3.pf_fragment
  pagefind/fragment/en_f3b4957.pf_fragment
  pagefind/index/en_16ed115.pf_index
  pagefind/index/en_1badd14.pf_index
  pagefind/index/en_26141f9.pf_index
  pagefind/index/en_268fda4.pf_index
  pagefind/index/en_3518829.pf_index
  pagefind/index/en_434b348.pf_index
  pagefind/index/en_43ae759.pf_index
  pagefind/index/en_47d1fef.pf_index
  pagefind/index/en_51c8fdd.pf_index
  pagefind/index/en_5cf037a.pf_index
  pagefind/index/en_6b9c67d.pf_index
  pagefind/index/en_7528196.pf_index
  pagefind/index/en_7962d25.pf_index
  pagefind/index/en_79a1fb2.pf_index
  pagefind/index/en_822d1a1.pf_index
  pagefind/index/en_889fe21.pf_index
  pagefind/index/en_8c1951e.pf_index
  pagefind/index/en_90c1897.pf_index
  pagefind/index/en_9a54647.pf_index
  pagefind/index/en_ac7aa53.pf_index
  pagefind/index/en_b4d680e.pf_index
  pagefind/index/en_ba48c1a.pf_index
  pagefind/index/en_bd62198.pf_index
  pagefind/index/en_e87c981.pf_index
  pagefind/index/en_efde96d.pf_index
  pagefind/index/en_f95e43c.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_175f2573c2.pf_meta
  pagefind/pagefind.en_4389886a69.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@08ebbdac98f8980e31718a309347a50d60cad712 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_7147d2a.pf_fragment
  pagefind/fragment/en_b5e781d.pf_fragment
  pagefind/index/en_16ed115.pf_index
  pagefind/index/en_173adec.pf_index
  pagefind/index/en_215aceb.pf_index
  pagefind/index/en_26141f9.pf_index
  pagefind/index/en_268fda4.pf_index
  pagefind/index/en_27757f6.pf_index
  pagefind/index/en_2815176.pf_index
  pagefind/index/en_2e2bc11.pf_index
  pagefind/index/en_3518829.pf_index
  pagefind/index/en_5864836.pf_index
  pagefind/index/en_6b9c67d.pf_index
  pagefind/index/en_78fbabb.pf_index
  pagefind/index/en_7962d25.pf_index
  pagefind/index/en_79a1fb2.pf_index
  pagefind/index/en_822d1a1.pf_index
  pagefind/index/en_89bd956.pf_index
  pagefind/index/en_94d49dc.pf_index
  pagefind/index/en_9a54647.pf_index
  pagefind/index/en_a158af5.pf_index
  pagefind/index/en_b4d680e.pf_index
  pagefind/index/en_ba48c1a.pf_index
  pagefind/index/en_bd62198.pf_index
  pagefind/index/en_cbc3687.pf_index
  pagefind/index/en_d6c9afe.pf_index
  pagefind/index/en_d9a7c16.pf_index
  pagefind/index/en_e87c981.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4389886a69.pf_meta
  pagefind/pagefind.en_64998fe85e.pf_meta
Due: prettier --write --config ./prettier.config.js

Making the message actionable
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/errors/google-sheet-not-found.error.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Error text and toast
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/google-sheets/reconnect-google-sheet.command.ts
  apps/backend/src/data-marts/dto/presentation/google-sheets/reconnect-google-sheet-request.dto.ts
  apps/backend/src/data-marts/dto/presentation/google-sheets/reconnect-google-sheet-response.dto.ts
  apps/backend/src/data-marts/errors/google-sheet-not-found.error.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/google-sheets/reconnect-google-sheet.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/reconnect-google-sheet.service.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReconnectSheetDialog.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReconnectedSheetToast.tsx
  apps/web/src/features/data-marts/reports/shared/components/index.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  apps/web/src/features/data-marts/reports/shared/services/types/index.ts
  apps/web/src/features/data-marts/reports/shared/services/types/reconnect-sheet.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): reconnect a Google Sheets report whose sheet was deleted (#6790)
  .changeset/6790-reconnect-sheet-and-run.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/dto/presentation/google-sheets/reconnect-google-sheet-response.dto.ts
  apps/backend/src/data-marts/errors/google-sheet-not-found.error.ts
  apps/backend/src/data-marts/use-cases/google-sheets/reconnect-google-sheet.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/reconnect-google-sheet.service.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.test.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReconnectSheetDialog.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReconnectedSheetToast.tsx
  apps/web/src/features/data-marts/reports/shared/components/index.ts
  apps/web/src/features/data-marts/reports/shared/services/types/reconnect-sheet.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): add an optional description to data mart relationships
  .changeset/6780-relationship-description.md
  apps/backend/src/data-marts/dto/domain/create-relationship.command.ts
  apps/backend/src/data-marts/dto/domain/relationship.dto.ts
  apps/backend/src/data-marts/dto/domain/update-relationship.command.ts
  apps/backend/src/data-marts/dto/presentation/create-relationship-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/relationship-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-relationship-request-api.dto.ts
  apps/backend/src/data-marts/entities/data-mart-relationship.entity.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.spec.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/migrations/1786924800000-add-description-to-data-mart-relationship.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): mark Snowflake hybrid tables as not measured
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-source-data-last-updated.resolver.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-source-data-last-updated.resolver.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: add changeset for license key cloud consumption
  .changeset/6787-license-key-cloud-consumption.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): issue managed license keys from Cloud deployments
  .env.example
  apps/backend/src/app.module.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/ee/README.md
  apps/backend/src/ee/license-keys/controllers/license-gateway.controller.spec.ts
  apps/backend/src/ee/license-keys/controllers/license-gateway.controller.ts
  apps/backend/src/ee/license-keys/controllers/license-key.controller.spec.ts
  apps/backend/src/ee/license-keys/controllers/license-key.controller.ts
  apps/backend/src/ee/license-keys/dto/license-key-api.dto.spec.ts
  apps/backend/src/ee/license-keys/dto/license-key-api.dto.ts
  apps/backend/src/ee/license-keys/entities/license-key.entity.ts
  apps/backend/src/ee/license-keys/guards/license-key.guard.spec.ts
  apps/backend/src/ee/license-keys/guards/license-key.guard.ts
  apps/backend/src/ee/license-keys/license-keys.module.spec.ts
  apps/backend/src/ee/license-keys/license-keys.module.ts
  apps/backend/src/ee/license-keys/services/license-key-signer.service.spec.ts
  apps/backend/src/ee/license-keys/services/license-key-signer.service.ts
  apps/backend/src/ee/license-keys/services/license-key.service.spec.ts
  apps/backend/src/ee/license-keys/services/license-key.service.ts
  apps/backend/src/main.ts
  apps/backend/src/migrations/1785283200000-create-license-key-table.ts
  apps/owox/src/web/flags-route.ts
  docs/getting-started/deployment-guide/environment-variables.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test: keep E2E coverage independent of license config
  apps/web/e2e/specs/report.spec.ts
  packages/test-utils/src/helpers/create-test-app.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): allow configuring all destination types in Community
  apps/backend/src/data-marts/data-destination-types/available-destination-types.service.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/web/e2e/specs/destination.spec.ts
  apps/web/e2e/specs/report.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: address managed license review feedback
  apps/backend/src/common/config/app-edition-license-refresher.service.spec.ts
  apps/backend/src/common/config/app-edition-license-refresher.service.ts
  apps/backend/src/common/jwt-body/google-jwt-body.decorator.spec.ts
  apps/backend/src/common/jwt-body/google-jwt-body.decorator.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/services/project-billing/internal-project-billing.service.spec.ts
  apps/backend/src/data-marts/services/project-billing/internal-project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/report-run-authorization-boundary.spec.ts
  apps/backend/src/ee/license-keys/controllers/license-gateway.controller.spec.ts
  apps/backend/src/ee/license-keys/controllers/license-gateway.controller.ts
  apps/backend/src/ee/license-keys/guards/license-key.guard.spec.ts
  apps/backend/src/ee/license-keys/guards/license-key.guard.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): share expiration and secret reveal components across key types
  apps/web/src/features/api-keys/components/ApiKeyExpirationValue.tsx
  apps/web/src/features/api-keys/components/SecretRevealDialog.tsx
  apps/web/src/features/api-keys/utils.ts
  apps/web/src/shared/components/ExpirationValue/ExpirationValue.tsx
  apps/web/src/shared/components/ExpirationValue/expiration.ts
  apps/web/src/shared/components/SecretRevealDialog/SecretRevealDialog.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): require a managed Cloud license for Report Runs
  .env.example
  apps/backend/src/common/common.module.ts
  apps/backend/src/common/config/app-edition-config.service.spec.ts
  apps/backend/src/common/config/app-edition-config.service.ts
  apps/backend/src/common/config/public-origin.service.spec.ts
  apps/backend/src/common/config/public-origin.service.ts
  apps/backend/src/common/exceptions/project-operation-blocked.exception.ts
  apps/backend/src/common/jwt-body/google-jwt-body.decorator.spec.ts
  apps/backend/src/common/jwt-body/google-jwt-body.decorator.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/enums/project-blocked-reason.enum.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/project-billing/binding-aware-project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/license-project-billing.service.spec.ts
  apps/backend/src/data-marts/services/project-billing/license-project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/project-billing.providers.spec.ts
  apps/backend/src/data-marts/services/project-billing/project-billing.providers.ts
  apps/backend/src/data-marts/services/project-billing/project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/restricted-project-billing.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  packages/internal-helpers/src/utils/fetchWithBackoff.test.ts
  packages/internal-helpers/src/utils/fetchWithBackoff.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): manage license keys in project settings
  apps/web/e2e/specs/license-keys.spec.ts
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectSettingsSubmenu.tsx
  apps/web/src/features/license-keys/components/CreateLicenseKeySheet.tsx
  apps/web/src/features/license-keys/components/EditLicenseKeySheet.tsx
  apps/web/src/features/license-keys/components/LicenseKeyRevealDialog.tsx
  apps/web/src/features/license-keys/components/LicenseKeysTable/LicenseKeysTable.tsx
  apps/web/src/features/license-keys/components/LicenseKeysTable/columns.tsx
  apps/web/src/features/license-keys/hooks/useLicenseKeys.test.ts
  apps/web/src/features/license-keys/hooks/useLicenseKeys.ts
  apps/web/src/features/license-keys/services/license-keys.service.test.ts
  apps/web/src/features/license-keys/services/license-keys.service.ts
  apps/web/src/features/license-keys/types.ts
  apps/web/src/features/license-keys/utils.ts
  apps/web/src/pages/project-settings/LicenseKeysTab.test.tsx
  apps/web/src/pages/project-settings/LicenseKeysTab.tsx
  apps/web/src/pages/project-settings/ProjectSettingsPage.tsx
  apps/web/src/routes/project-settings/routes.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): merge balance checks and consumption tracking into one billing service
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/consumption-tracking.service.spec.ts
  apps/backend/src/data-marts/services/consumption-tracking.service.ts
  apps/backend/src/data-marts/services/project-balance.service.ts
  apps/backend/src/data-marts/services/project-billing/internal-project-billing.service.spec.ts
  apps/backend/src/data-marts/services/project-billing/internal-project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/project-billing.providers.ts
  apps/backend/src/data-marts/services/project-billing/project-billing.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: document managed license key workflows
  apps/docs/astro.config.mjs
  apps/web/src/features/license-keys/components/EditLicenseKeySheet.tsx
  docs/getting-started/billing/consumption-units.md
  docs/getting-started/deployment-guide/environment-variables.md
  docs/getting-started/deployment-guide/license-key-setup.md
  docs/project/license-keys.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@15166aa77a0f478c2860373b98e2d750b26355dc 🚀
  docs/getting-started/setup-guide/data-last-updated/index.html
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_2898937.pf_fragment
  pagefind/fragment/en_b5e781d.pf_fragment
  pagefind/fragment/en_bbd3fc2.pf_fragment
  pagefind/fragment/en_cec781e.pf_fragment
  pagefind/index/en_173adec.pf_index
  pagefind/index/en_2036fe7.pf_index
  pagefind/index/en_215aceb.pf_index
  pagefind/index/en_27757f6.pf_index
  pagefind/index/en_27b8f1e.pf_index
  pagefind/index/en_2815176.pf_index
  pagefind/index/en_2e2bc11.pf_index
  pagefind/index/en_3112cf7.pf_index
  pagefind/index/en_5864836.pf_index
  pagefind/index/en_609356c.pf_index
  pagefind/index/en_637ef43.pf_index
  pagefind/index/en_70e8d0c.pf_index
  pagefind/index/en_732946f.pf_index
  pagefind/index/en_78fbabb.pf_index
  pagefind/index/en_822aa86.pf_index
  pagefind/index/en_89bd956.pf_index
  pagefind/index/en_94d49dc.pf_index
  pagefind/index/en_a158af5.pf_index
  pagefind/index/en_a4e06f2.pf_index
  pagefind/index/en_af9f5ff.pf_index
  pagefind/index/en_b699217.pf_index
  pagefind/index/en_cbc3687.pf_index
  pagefind/index/en_d6c9afe.pf_index
  pagefind/index/en_d9a7c16.pf_index
  pagefind/index/en_e78635a.pf_index
  pagefind/index/en_f7781ce.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_64998fe85e.pf_meta
  pagefind/pagefind.en_864c8dac59.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@21f60ba3b46fc9464e5bba4a086cc11a6f5528c4 🚀
  docs/getting-started/setup-guide/data-last-updated/index.html
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_2898937.pf_fragment
  pagefind/fragment/en_b5e781d.pf_fragment
  pagefind/fragment/en_bbd3fc2.pf_fragment
  pagefind/fragment/en_cec781e.pf_fragment
  pagefind/index/en_173adec.pf_index
  pagefind/index/en_2036fe7.pf_index
  pagefind/index/en_215aceb.pf_index
  pagefind/index/en_27757f6.pf_index
  pagefind/index/en_27b8f1e.pf_index
  pagefind/index/en_2815176.pf_index
  pagefind/index/en_2e2bc11.pf_index
  pagefind/index/en_3112cf7.pf_index
  pagefind/index/en_5864836.pf_index
  pagefind/index/en_609356c.pf_index
  pagefind/index/en_637ef43.pf_index
  pagefind/index/en_70e8d0c.pf_index
  pagefind/index/en_732946f.pf_index
  pagefind/index/en_78fbabb.pf_index
  pagefind/index/en_822aa86.pf_index
  pagefind/index/en_89bd956.pf_index
  pagefind/index/en_94d49dc.pf_index
  pagefind/index/en_a158af5.pf_index
  pagefind/index/en_a4e06f2.pf_index
  pagefind/index/en_af9f5ff.pf_index
  pagefind/index/en_b699217.pf_index
  pagefind/index/en_cbc3687.pf_index
  pagefind/index/en_d6c9afe.pf_index
  pagefind/index/en_d9a7c16.pf_index
  pagefind/index/en_e78635a.pf_index
  pagefind/index/en_f7781ce.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_64998fe85e.pf_meta
  pagefind/pagefind.en_864c8dac59.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(plugin-host): allow a release to redefine an existing collection
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): stop storage setup step from clearing fields while editing
  .changeset/6811-connector-storage-step-field-reset.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): make relationship-description autosave lose-proof and isolate MCP joins failures
  apps/backend/src/data-marts/dto/presentation/create-relationship-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-relationship-request-api.dto.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): address review — A1 escaping, run consent, honest run state
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/dto/domain/google-sheets/reconnect-google-sheet.command.ts
  apps/backend/src/data-marts/dto/presentation/google-sheets/reconnect-google-sheet-request.dto.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/report-access.service.ts
  apps/backend/src/data-marts/use-cases/google-sheets/reconnect-google-sheet.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/reconnect-google-sheet.service.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.test.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(plugin-host): cover the release that actually redefines a collection
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@75f4ab1f6f3efe98236264a9647ce21787c63239 🚀
  docs/getting-started/setup-guide/data-last-updated/index.html
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_2898937.pf_fragment
  pagefind/fragment/en_b5e781d.pf_fragment
  pagefind/fragment/en_bbd3fc2.pf_fragment
  pagefind/fragment/en_cec781e.pf_fragment
  pagefind/index/en_173adec.pf_index
  pagefind/index/en_2036fe7.pf_index
  pagefind/index/en_215aceb.pf_index
  pagefind/index/en_27757f6.pf_index
  pagefind/index/en_27b8f1e.pf_index
  pagefind/index/en_2815176.pf_index
  pagefind/index/en_2e2bc11.pf_index
  pagefind/index/en_3112cf7.pf_index
  pagefind/index/en_5864836.pf_index
  pagefind/index/en_609356c.pf_index
  pagefind/index/en_637ef43.pf_index
  pagefind/index/en_70e8d0c.pf_index
  pagefind/index/en_732946f.pf_index
  pagefind/index/en_78fbabb.pf_index
  pagefind/index/en_822aa86.pf_index
  pagefind/index/en_89bd956.pf_index
  pagefind/index/en_94d49dc.pf_index
  pagefind/index/en_a158af5.pf_index
  pagefind/index/en_a4e06f2.pf_index
  pagefind/index/en_af9f5ff.pf_index
  pagefind/index/en_b699217.pf_index
  pagefind/index/en_cbc3687.pf_index
  pagefind/index/en_d6c9afe.pf_index
  pagefind/index/en_d9a7c16.pf_index
  pagefind/index/en_e78635a.pf_index
  pagefind/index/en_f7781ce.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_64998fe85e.pf_meta
  pagefind/pagefind.en_864c8dac59.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(data-marts): queue the description unmount flush behind the in-flight save
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.tsx
Due: none

Final review
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
Due: none

test(data-marts): register ReconnectGoogleSheetService stub in report OpenAPI spec
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): align license setup and destinations
  apps/backend/src/common/exceptions/project-operation-blocked.exception.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.test.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.tsx
  apps/web/src/features/data-destination/shared/enums/data-destination-status.enum.ts
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StructuredLogsView.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StructuredLogsView.tsx
  apps/web/src/utils/check-edition.ts
  apps/web/src/utils/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): align remaining tests and API docs with opt-in Row Count
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-report-reader.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/test/integration/query-data-mart-real.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): document destination impact of the Row Count removal and name unresolvable Looker Studio fields
  .changeset/6838-no-automatic-row-count.md
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): stop adding the Row Count column to reports automatically
  .changeset/6838-no-automatic-row-count.md
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-report-reader.interface.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.spec.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.aggregation.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/test/http-data.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  docs/api/api-client.md
  docs/api/owox-ctl.md
  docs/getting-started/setup-guide/mcp.md
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
