Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(publish): temporarily disable npm-shrinkwrap.json generation for owox in CI workflow
  .github/workflows/publish.yml
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.js

chore(publish): temporarily disable npm-shrinkwrap.json generation for owox in CI workflow (#1039)
  .github/workflows/publish.yml
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.js

Fill insight title (#1035)
  apps/backend/src/data-marts/dto/domain/create-insight-template.command.ts
  apps/backend/src/data-marts/dto/presentation/create-insight-template-request-api.dto.ts
  apps/backend/src/data-marts/services/insight-template.service.ts
  apps/backend/src/data-marts/use-cases/create-ai-assistant-message.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-ai-assistant-message.service.ts
  apps/backend/src/data-marts/use-cases/create-insight-template.service.ts
  apps/backend/src/data-marts/use-cases/utils/generate-ai-assistant-session-title-from-message.util.ts
  apps/web/src/features/data-marts/insights/components/AiAssistantPanel.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListView.tsx
  apps/web/src/features/data-marts/insights/model/ai-assistant/hooks/useAiAssistant.ts
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.ts
  apps/web/src/features/data-marts/insights/model/templates/types/insight-templates.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

[AI Assistant] try to use business columns name for generated artifacts
  apps/backend/src/common/template/handlers/base/table-tag.handler.ts
  apps/backend/src/data-marts/ai-insights/agent/types.ts
  apps/backend/src/data-marts/ai-insights/prompts/generate-insight.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/plan.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/query-repair.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/sql-builder.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/sql-error-advisor.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/triage.prompt.ts
  apps/backend/src/data-marts/ai-insights/utils/prepare-schema.spec.ts
  apps/backend/src/data-marts/ai-insights/utils/prepare-schema.ts
  apps/backend/src/data-marts/ai-insights/utils/sanitize-schema.spec.ts
  apps/backend/src/data-marts/ai-insights/utils/sanitize-schema.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-schema-merger.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): update validation rules for Redshift and Snowflake
  apps/backend/src/data-marts/data-storage-types/redshift/utils/redshift-validation.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/utils/redshift-validation.utils.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/utils/snowflake-validation.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/utils/snowflake-validation.utils.ts
  apps/backend/src/data-marts/data-storage-types/utils/validation.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/validation.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

video
  docs/getting-started/setup-guide/ai-insights.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-fields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(facebook-marketing): resolve unknown type error for rf_spec field
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-fields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

deps: Add `cls-hooked` dependency and override `whatwg-url` and `tr46` versions.
  apps/backend/package.json
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

feat(oauth): add Google Ads OAuth integration and callback handling (#1027)
  .changeset/add-google-ads-oauth.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleAdsOauthRender.tsx
  apps/web/src/features/connectors/shared/components/GoogleAdsLoginButton/GoogleAdsLoginButton.tsx
  apps/web/src/features/connectors/shared/components/GoogleAdsLoginButton/index.ts
  apps/web/src/features/connectors/shared/hooks/useOAuthPopup.ts
  apps/web/src/pages/oauth/GoogleAdsCallback.tsx
  apps/web/src/pages/oauth/index.ts
  apps/web/src/routes/oauth.routes.tsx
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@a7bbb8c49905f9c50879d6fdbb7492c3003c7e9c 🚀
  packages/connectors/src/sources/google-ads/getting-started/index.html
  pagefind/fragment/en_af61664.pf_fragment
  pagefind/fragment/en_c1c4fdb.pf_fragment
  pagefind/index/en_1db4ae9.pf_index
  pagefind/index/en_35c76fe.pf_index
  pagefind/index/en_43b4582.pf_index
  pagefind/index/en_48a6e5f.pf_index
  pagefind/index/en_8ff6ca6.pf_index
  pagefind/index/en_a46425b.pf_index
  pagefind/index/en_ad2c2b4.pf_index
  pagefind/index/en_b09128d.pf_index
  pagefind/index/en_d49fdec.pf_index
  pagefind/index/en_de5fb28.pf_index
  pagefind/index/en_df8b568.pf_index
  pagefind/index/en_e6a4a2c.pf_index
  pagefind/index/en_ee3c8a4.pf_index
  pagefind/index/en_f16ebf5.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_44a8689c81.pf_meta
  pagefind/pagefind.en_c67e52fc96.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): add Markdown toolbar with formatting actions in InsightTemplateEditor
  apps/web/src/features/data-marts/insights/components/InsightTemplateEditor.constants.ts
  apps/web/src/features/data-marts/insights/components/InsightTemplateEditor.tsx
  apps/web/src/features/data-marts/insights/components/MarkdownToolbar.tsx
  apps/web/src/features/data-marts/insights/hooks/index.ts
  apps/web/src/features/data-marts/insights/hooks/useMarkdownToolbar.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: Add `devalue` and `file-type` dependencies and update `hono`.
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

feat(backend): implement connector and report run triggers
  apps/backend/src/common/exceptions/concurrency-limit-exceeded.exception.ts
  apps/backend/src/config/env-validation.config.ts
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/entities/connector-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/report-run-trigger.entity.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/connector-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector-run-trigger.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/report-run-trigger.service.ts
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/migrations/1773000000000-create-connector-run-trigger-table.ts
  apps/backend/src/migrations/1773000000001-create-report-run-trigger-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

final_changes
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/ai-insights.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

[AI Assistant] try to use business columns name for generated artifacts (#1040)
  apps/backend/src/common/template/handlers/base/table-tag.handler.ts
  apps/backend/src/data-marts/ai-insights/agent/types.ts
  apps/backend/src/data-marts/ai-insights/prompts/generate-insight.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/plan.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/query-repair.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/sql-builder.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/sql-error-advisor.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/triage.prompt.ts
  apps/backend/src/data-marts/ai-insights/utils/prepare-schema.spec.ts
  apps/backend/src/data-marts/ai-insights/utils/prepare-schema.ts
  apps/backend/src/data-marts/ai-insights/utils/sanitize-schema.spec.ts
  apps/backend/src/data-marts/ai-insights/utils/sanitize-schema.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-schema-merger.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): data storage validation (#1031)
  .changeset/data-storage-validation-ninja.md
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/athena/utils/athena-identifier.utils.ts
  apps/backend/src/data-marts/data-storage-types/athena/utils/athena-validation.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/utils/athena-validation.utils.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/utils/bigquery-identifier.utils.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/utils/bigquery-validation.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/utils/bigquery-validation.utils.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/databricks/utils/databricks-identifier.utils.ts
  apps/backend/src/data-marts/data-storage-types/databricks/utils/databricks-validation.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/utils/databricks-validation.utils.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-mart-definition-validator-facade.service.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/redshift/utils/redshift-identifier.utils.ts
  apps/backend/src/data-marts/data-storage-types/redshift/utils/redshift-validation.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/utils/redshift-validation.utils.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/utils/snowflake-validation.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/utils/snowflake-validation.utils.ts
  apps/backend/src/data-marts/data-storage-types/utils/identifier-escaper.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/identifier-escaper.utils.ts
  apps/backend/src/data-marts/data-storage-types/utils/validation.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/validation.utils.ts
  apps/web/src/features/data-marts/shared/utils/databricks-validation.ts
  apps/web/src/features/data-marts/shared/utils/redshift-validation.ts
  apps/web/src/features/data-marts/shared/utils/snowflake-validation.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: migrate Microsoft Ads DeveloperToken to be nested under AuthType.oauth2 and update connector logic accordingly
  apps/backend/src/migrations/1772909839000-migrate-microsoft-ads-developer-token-to-oauth2.ts
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): auto-subscribe new project members to notification settings
  .changeset/update-notification.md
  apps/backend/src/migrations/1773000000001-add-known-members-to-notification-settings.ts
  apps/backend/src/notifications/entities/project-notification-settings.entity.ts
  apps/backend/src/notifications/services/notification-email.service.ts
  apps/backend/src/notifications/services/notification.service.ts
  apps/backend/src/notifications/services/project-notification-settings.service.ts
  apps/backend/src/notifications/system-triggers/send-notification.processor.ts
  apps/backend/src/notifications/use-cases/get-notification-settings.service.ts
  docs/notifications/email.md
  docs/notifications/notification-settings.md
  docs/notifications/webhooks.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: the issue with not correct migration for microsoft developer token
  apps/backend/src/migrations/1772909839000-migrate-microsoft-ads-developer-token-to-oauth2.ts
  apps/backend/src/migrations/1773661280757-migrate-microsoft-ads-developer-token-to-oauth2.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add slash command support to MarkdownToolbar and InsightTemplateEditor
  apps/web/src/features/data-marts/insights/components/InsightTemplateEditor.constants.ts
  apps/web/src/features/data-marts/insights/components/MarkdownToolbar.tsx
  apps/web/src/features/data-marts/insights/hooks/useMarkdownToolbar.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): subscribe new project members to notification settings
  apps/backend/src/migrations/1773000000001-add-known-members-to-notification-settings.ts
  apps/backend/src/notifications/entities/project-notification-settings.entity.ts
  apps/backend/src/notifications/services/project-notification-settings.service.ts
  docs/notifications/notification-settings.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Rename AI Insights to Insights in documentation
  docs/getting-started/setup-guide/insights.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update setup guide link for AI insights
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

[AI Assistant] Show in UI when data in rendered table is not full
  apps/backend/src/common/markdown/markdown-parser.service.ts
  apps/backend/src/common/markdown/plugins/rehype-normalize-table-truncation-notice.plugin.spec.ts
  apps/backend/src/common/markdown/plugins/rehype-normalize-table-truncation-notice.plugin.ts
  apps/backend/src/common/template/constants/table-truncation-notice.constants.ts
  apps/backend/src/common/template/handlers/base/table-tag.handler.spec.ts
  apps/backend/src/common/template/handlers/base/table-tag.handler.ts
  apps/backend/src/data-marts/services/insight-template-source-data.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-source-data.service.ts
  apps/backend/src/data-marts/use-cases/run-ai-assistant.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-ai-assistant.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance MarkdownToolbar with external link for Markdown guide
  apps/web/src/features/data-marts/insights/components/MarkdownToolbar.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorPreview.tsx
Due: none

changes
  docs/getting-started/setup-guide/insights.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

[AI Assistant] Show in UI when data in rendered table is not full (#1049)
  apps/backend/src/common/markdown/markdown-parser.service.ts
  apps/backend/src/common/markdown/plugins/rehype-normalize-table-truncation-notice.plugin.spec.ts
  apps/backend/src/common/markdown/plugins/rehype-normalize-table-truncation-notice.plugin.ts
  apps/backend/src/common/template/constants/table-truncation-notice.constants.ts
  apps/backend/src/common/template/handlers/base/table-tag.handler.spec.ts
  apps/backend/src/common/template/handlers/base/table-tag.handler.ts
  apps/backend/src/data-marts/services/insight-template-source-data.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-source-data.service.ts
  apps/backend/src/data-marts/use-cases/run-ai-assistant.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-ai-assistant.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add Markdown toolbar with formatting actions in InsightTemplateEditor (#1043)
  apps/web/src/features/data-marts/insights/components/InsightTemplateEditor.constants.ts
  apps/web/src/features/data-marts/insights/components/InsightTemplateEditor.tsx
  apps/web/src/features/data-marts/insights/components/MarkdownToolbar.tsx
  apps/web/src/features/data-marts/insights/hooks/index.ts
  apps/web/src/features/data-marts/insights/hooks/useMarkdownToolbar.ts
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorPreview.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): revalidate SQL after storage settings sheet closes with changes
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
Due: none

docs: update insights guide
  docs/getting-started/setup-guide/insights.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(insights): Update Insights setup guide (#1046)
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/insights.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: add filtering options for managing data marts in the extension
  docs/getting-started/setup-guide/extension-data-marts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: add filtering options for managing data marts in the extension (#1052)
  docs/getting-started/setup-guide/extension-data-marts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@36d70a376c5d5e7603741f40f55be85ae9e5b1f1 🚀
  docs/getting-started/setup-guide/extension-data-marts/index.html
  pagefind/fragment/en_68da424.pf_fragment
  pagefind/fragment/en_e67b048.pf_fragment
  pagefind/index/en_44f93a7.pf_index
  pagefind/index/en_6f3d637.pf_index
  pagefind/index/en_76a826f.pf_index
  pagefind/index/en_79d978d.pf_index
  pagefind/index/en_7e61f0c.pf_index
  pagefind/index/en_8bf66eb.pf_index
  pagefind/index/en_955c7aa.pf_index
  pagefind/index/en_b05e4a9.pf_index
  pagefind/index/en_c360964.pf_index
  pagefind/index/en_ce6e311.pf_index
  pagefind/index/en_d18ed02.pf_index
  pagefind/index/en_f3c4599.pf_index
  pagefind/index/en_f89a549.pf_index
  pagefind/index/en_f89d2db.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_14f4205ef1.pf_meta
  pagefind/pagefind.en_239485cca0.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): implement onboarding video for insights
  apps/web/src/features/data-marts/insights/components/InsightsListView.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/useOnboardingVideo.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): polish ui for cancel run option in InsightDetailsView dropdown menu
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

docs: update changeset file, fix links in the article
  .changeset/add-video-about-storage-setup.md
  docs/getting-started/setup-guide/connector-data-mart.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
