Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: remove a changeset entry about env.example
  .changeset/tiktok-ads-oauth.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp-owox-better-auth): init
  apps/owox/package.json
  apps/owox/src/idp/factory.ts
  apps/web/src/shared/constants/idp.ts
  package-lock.json
  packages/idp-owox-better-auth/.gitignore
  packages/idp-owox-better-auth/.lintstagedrc.json
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/eslint.config.js
  packages/idp-owox-better-auth/jest.config.js
  packages/idp-owox-better-auth/package.json
  packages/idp-owox-better-auth/prettier.config.js
  packages/idp-owox-better-auth/scripts/copy-public.cjs
  packages/idp-owox-better-auth/src/auth/auth-config.ts
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/logger.ts
  packages/idp-owox-better-auth/src/providers/better-auth-provider.ts
  packages/idp-owox-better-auth/src/services/authentication-service.ts
  packages/idp-owox-better-auth/src/services/crypto-service.ts
  packages/idp-owox-better-auth/src/services/magic-link-service.ts
  packages/idp-owox-better-auth/src/services/middleware-service.ts
  packages/idp-owox-better-auth/src/services/page-service.ts
  packages/idp-owox-better-auth/src/services/request-handler-service.ts
  packages/idp-owox-better-auth/src/services/template-service.ts
  packages/idp-owox-better-auth/src/services/token-service.ts
  packages/idp-owox-better-auth/src/services/user-management-service.ts
  packages/idp-owox-better-auth/src/store/DatabaseStore.ts
  packages/idp-owox-better-auth/src/store/DatabaseStoreFactory.ts
  packages/idp-owox-better-auth/src/store/MysqlDatabaseStore.ts
  packages/idp-owox-better-auth/src/store/SqliteDatabaseStore.ts
  packages/idp-owox-better-auth/src/templates/check-email.html
  packages/idp-owox-better-auth/src/templates/magic-link-confirm.html
  packages/idp-owox-better-auth/src/templates/password-setup.html
  packages/idp-owox-better-auth/src/templates/password-success.html
  packages/idp-owox-better-auth/src/templates/sign-in.html
  packages/idp-owox-better-auth/src/templates/sign-up.html
  packages/idp-owox-better-auth/src/types/auth-session.ts
  packages/idp-owox-better-auth/src/types/database-models.ts
  packages/idp-owox-better-auth/src/types/index.ts
  packages/idp-owox-better-auth/src/types/modules.d.ts
  packages/idp-owox-better-auth/tsconfig.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: refine TikTok authentication message types
  apps/web/src/features/connectors/shared/components/TikTokLoginButton/TikTokLoginButton.tsx
Due: none

feat(idp-owox-better-auth): added password reset page
  packages/idp-owox-better-auth/src/providers/better-auth-provider.ts
  packages/idp-owox-better-auth/src/services/authentication-service.ts
  packages/idp-owox-better-auth/src/services/page-service.ts
  packages/idp-owox-better-auth/src/services/template-service.ts
  packages/idp-owox-better-auth/src/templates/check-email.html
  packages/idp-owox-better-auth/src/templates/password-remind.html
  packages/idp-owox-better-auth/src/templates/sign-in.html
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): added mailing service
  package-lock.json
  packages/idp-owox-better-auth/package.json
  packages/idp-owox-better-auth/src/auth/auth-config.ts
  packages/idp-owox-better-auth/src/services/authentication-service.ts
  packages/idp-owox-better-auth/src/services/email-service.ts
  packages/idp-owox-better-auth/src/services/magic-link-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

review: Refactor error handling in Databricks API adapter to use castError utility for improved logging
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.ts
  apps/backend/src/common/scheduler/services/runners/abstract-trigger-runner.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(databricks): Implement masked token display for Databricks authentication
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DatabricksFields.tsx
Due: none

feat(databricks): Enhance Databricks storage integration and schema handling
  .changeset/add-databricks-storage.md
  apps/backend/owox-data-marts.sqlite
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.ts
  apps/backend/src/common/scheduler/services/runners/abstract-trigger-runner.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/schemas/databricks-data-mart-schema.schema.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-data-mart-schema.provider.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/connector-definition.helpers.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useSchemaState.ts
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
  packages/connectors/src/connector-runner.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(databricks): Add support for Databricks storage with Personal Access Token authentication
  .changeset/add-databricks-storage.md
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api-adapter.factory.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/schemas/databricks-config.schema.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-create-view.executor.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DatabricksFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/DatabricksCatalogDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/DatabricksSchemaDescription.tsx
  apps/web/src/features/data-storage/shared/api/types/response/data-storage.response.dto.ts
  apps/web/src/features/data-storage/shared/model/mappers/databricks.mapper.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage-config.ts
  apps/web/src/features/data-storage/shared/types/data-storage.schema.ts
  docs/storages/manage-storages.md
  docs/storages/supported-storages/databricks.md
  packages/connectors/src/Core/Dto/ConfigDto.js
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
  packages/connectors/src/Storages/Databricks/manifest.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(databricks): Add Databricks SQL support and enhance API integration
  .changeset/add-databricks-storage.md
  apps/backend/owox-data-marts.sqlite
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api-adapter.factory.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-sql-dry-run.executor.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(databricks): Improve handling of PRIMARY KEY constraints and logging in Databricks API adapter
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-schema-merger.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(databricks): Enhance Databricks integration with custom logging and validation utilities
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.ts
  apps/web/src/features/data-marts/shared/utils/databricks-validation.ts
  apps/web/src/features/data-marts/shared/utils/validation.ts
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add OAuth flow for TikTok Ads connector (#863)
  .changeset/tiktok-ads-oauth.md
  apps/backend/src/data-marts/connector-types/connector-oauth-schema.ts
  apps/backend/src/data-marts/dto/presentation/connector-oauth-credentials-status-response-api.dto.ts
  apps/backend/src/data-marts/entities/connector-source-credentials.entity.ts
  apps/backend/src/data-marts/services/connector-source-credentials.service.ts
  apps/backend/src/data-marts/services/connector.service.ts
  apps/backend/src/data-marts/services/connector/connector-oauth.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/TikTokOauthRender.tsx
  apps/web/src/features/connectors/shared/components/TikTokLoginButton/TikTokLoginButton.tsx
  apps/web/src/features/connectors/shared/components/TikTokLoginButton/index.ts
  apps/web/src/pages/oauth/TikTokCallback.tsx
  apps/web/src/pages/oauth/index.ts
  apps/web/src/routes/index.tsx
  apps/web/src/routes/oauth.routes.tsx
  packages/connectors/src/Sources/TikTokAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(internal-helpers): added ImpersonatedIdTokenFetcher
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/services/impersonated-id-token.service.ts
  apps/backend/src/data-marts/services/project-balance.service.ts
  package-lock.json
  packages/internal-helpers/package.json
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/utils/impersonatedIdToken.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(internal-helpers): added ImpersonatedIdTokenFetcher (#877)
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/services/impersonated-id-token.service.ts
  apps/backend/src/data-marts/services/project-balance.service.ts
  package-lock.json
  packages/internal-helpers/package.json
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/utils/impersonatedIdToken.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): verify can perform operations of Looker Studio
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): verify can perform operations of Looker Studio (#878)
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): Simplify DataMartTable component by integrating BaseTable and optimizing column definitions
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): Introduce BaseTable component and related utilities for enhanced table rendering and functionality
  apps/web/src/shared/components/Table/BaseTable.tsx
  apps/web/src/shared/components/Table/SortableHeader.tsx
  apps/web/src/shared/components/Table/TableCTAButton.tsx
  apps/web/src/shared/components/Table/TableColumnSearch.tsx
  apps/web/src/shared/components/Table/ToggleColumnsHeader.tsx
  apps/web/src/shared/components/Table/index.ts
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/useBaseTable.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): Optimize useTableStorage hook to prevent render loops by using refs for configuration
  apps/web/src/hooks/useTableStorage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): Revamp DataDestinationTable component with BaseTable integration and new column definitions
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns/columnKeys.ts
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns/columnLabels.ts
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns/columns.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): Simplify GoogleSheetsReportsTable component by integrating BaseTable and optimizing column definitions
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): Refactor ScheduledTriggerTable component by integrating BaseTable and optimizing column definitions
  apps/web/src/features/connectors/shared/components/ConnectorHoverCard/ConnectorHoverCard.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportHoverCard/ReportHoverCard.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerList/ScheduledTriggerList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerRunTarget.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/TablePagination.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns/columns.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns/index.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/hooks/useTableFilter.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/index.ts
  apps/web/src/features/data-marts/scheduled-triggers/hooks/index.ts
  apps/web/src/features/data-marts/scheduled-triggers/hooks/useColumnVisibility.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): Simplify InsightsTable component by integrating BaseTable and optimizing column definitions
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightsTable.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns/columns.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): Simplify DataStorageTable component by integrating BaseTable and optimizing column definitions
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columnKeys.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columnLabels.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): Simplify EmailReportsTable component by integrating BaseTable and optimizing column definitions
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/index.ts
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportSidesheet.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update package-lock.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(FacebookMarketing): Enrich ad-account/ads endpoint with comprehensive fields
  .changeset/enrich-facebook-ads-endpoint.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-ads.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): Remove unused CSS classes and streamline component styles for improved maintainability
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/AddConfigurationButton.tsx
  apps/web/src/features/connectors/shared/components/ConnectorHoverCard/ConnectorHoverCard.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/TableToolbar.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SchemaTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/shared/components/Table/BaseTable.tsx
  apps/web/src/shared/components/Table/SortableHeader.tsx
  apps/web/src/shared/components/Table/TableCTAButton.tsx
  apps/web/src/shared/components/Table/TableColumnSearch.tsx
  apps/web/src/shared/components/Table/ToggleColumnsHeader.tsx
  packages/ui/src/components/common/search-input.tsx
  packages/ui/src/styles/globals.css
Due: none

feat(backend): change lastRunError column type to text in report entity and migration
  apps/backend/src/data-marts/entities/report.entity.ts
  apps/backend/src/migrations/1769760737000-change-last-run-error-to-text.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(FacebookMarketing): Enrich ad-account/ads endpoint with comprehensive fields (#879)
  .changeset/enrich-facebook-ads-endpoint.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-ads.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add migration to update TikTok Ads connector definitions to an OAuth2 authentication structure
  apps/backend/src/migrations/1769769180000-migrate-tiktok-ads-to-oauth2-structure.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: simplify TikTok Ads OAuth2 structure in migration by directly nesting credentials under `oauth2` instead of `items`
  apps/backend/src/migrations/1769769180000-migrate-tiktok-ads-to-oauth2-structure.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add migration to update TikTok Ads connector configurations to an OAuth2 structure
  apps/backend/src/migrations/1769769180000-migrate-tiktok-ads-to-oauth2-structure.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): change lastRunError column type to text in report entity and migration (#880)
  apps/backend/src/data-marts/entities/report.entity.ts
  apps/backend/src/migrations/1769760737000-change-last-run-error-to-text.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
