Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

feat: introduce ProjectMemberDto and update related services and facades to utilize the new DTO
  apps/backend/src/idp/dto/domain/project-member.dto.ts
  apps/backend/src/idp/facades/idp-projections.facade.ts
  apps/backend/src/idp/services/idp-projections.service.ts
  apps/backend/src/notifications/services/notification-queue.service.ts
  apps/backend/src/notifications/services/notification-webhook.service.ts
  apps/backend/src/notifications/services/notification.service.ts
  apps/backend/src/notifications/system-triggers/runs-notification.processor.ts
  apps/backend/src/notifications/system-triggers/send-notification.processor.ts
  apps/backend/src/notifications/use-cases/get-project-members.service.ts
  packages/idp-owox/src/client/IdentityOwoxClient.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: update notification documentation with improved links and add example images for email notifications
  docs/getting-started/core-concepts.md
  docs/notifications/email.md
  docs/notifications/notification-settings.md
  docs/notifications/res/notification_email_failed_example.png
  docs/notifications/res/notification_email_success_example.png
  docs/notifications/res/notification_settings_drawer_view.png
  docs/notifications/res/notification_settings_table_view.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: implement isEnabled method for system task processors and refactor trigger handling logic
  apps/backend/src/common/scheduler/system-tasks/base-system-task.processor.ts
  apps/backend/src/common/scheduler/system-tasks/system-trigger-handler.service.ts
  apps/backend/src/notifications/system-triggers/runs-notification.processor.ts
  apps/backend/src/notifications/system-triggers/send-notification.processor.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add user notification preferences and enhance notification filtering logic
  apps/backend/src/notifications/services/notification-email.service.ts
  apps/backend/src/notifications/services/notification.service.ts
  apps/backend/src/notifications/system-triggers/send-notification.processor.ts
  apps/docs/astro.config.mjs
  docs/notifications/notification-settings.md
  packages/idp-owox-better-auth/src/client/dto/projectMembersDto.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox/src/client/IdentityOwoxClient.ts
  packages/idp-owox/src/client/dto/projectMembersDto.ts
  packages/idp-owox/src/owoxIdp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: update notification settings to use GroupingDelayCron enum and enhance default settings retrieval
  apps/backend/src/notifications/dto/domain/upsert-notification-setting.command.ts
  apps/backend/src/notifications/dto/presentation/update-notification-setting-request-api.dto.ts
  apps/backend/src/notifications/system-triggers/runs-notification.processor.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance notification queue with status management and retry logic for email and webhook delivery
  apps/backend/src/migrations/1769500000002-create-notification-pending-queue-table.ts
  apps/backend/src/notifications/entities/notification-pending-queue.entity.ts
  apps/backend/src/notifications/enums/queue-status.enum.ts
  apps/backend/src/notifications/services/notification-email.service.ts
  apps/backend/src/notifications/services/notification-queue.service.ts
  apps/backend/src/notifications/services/notification-webhook.service.ts
  apps/backend/src/notifications/services/notification.service.ts
  apps/backend/src/notifications/system-triggers/send-notification.processor.ts
  apps/backend/src/notifications/templates/email/successful-run.template.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: idp-projection getProviderFromApp
  apps/backend/src/idp/services/idp-projections.service.ts
  apps/backend/src/idp/services/idp-provider.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance notifications with run type and icon support in email templates
  apps/backend/src/notifications/definitions/failed-runs-all-dm.notification.ts
  apps/backend/src/notifications/definitions/successful-runs-all-dm.notification.ts
  apps/backend/src/notifications/templates/email/assets/blocks.ts
  apps/backend/src/notifications/templates/email/assets/img.ts
  apps/backend/src/notifications/templates/email/failed-run.template.ts
  apps/backend/src/notifications/templates/email/successful-run.template.ts
  apps/backend/src/notifications/types/base-notification.ts
  apps/backend/src/notifications/types/notification-queue-payload.schema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Fix notification migrations for mysql
  apps/backend/src/migrations/1769500000001-create-project-notification-settings-table.ts
  apps/backend/src/migrations/1769500000002-create-notification-pending-queue-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: reorder database field in RedshiftFields component
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/RedshiftFields.tsx
Due: none

Fix notification migrations for mysql (#927)
  apps/backend/src/migrations/1769500000001-create-project-notification-settings-table.ts
  apps/backend/src/migrations/1769500000002-create-notification-pending-queue-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: reorder database field in RedshiftFields component (#928)
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/RedshiftFields.tsx
Due: none

docs: add JSDoc comment for NotificationSettingsItemResponseApiDto class
  apps/backend/src/notifications/dto/presentation/notification-settings-item-response-api.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: add JSDoc comment for NotificationSettingsItemResponseApiDto class (#929)
  apps/backend/src/notifications/dto/presentation/notification-settings-item-response-api.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance data storage health status handling and UI updates
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columnKeys.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columns.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageHealthIndicator/DataStorageHealthIndicator.tsx
  apps/web/src/features/data-storage/shared/utils/index.ts
  apps/web/src/features/data-storage/shared/utils/storage-health-sort-rank.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): improve table component styles and header layout
  apps/web/src/shared/components/Table/BaseTable.tsx
  apps/web/src/shared/components/Table/SortableHeader.tsx
Due: none

refactor: update logging in notification services to use log level instead of debug
  apps/backend/src/notifications/services/notification-queue.service.ts
  apps/backend/src/notifications/services/notification.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: update notification filtering to include restricted status and adjust email service configuration
  apps/backend/src/notifications/definitions/failed-runs-all-dm.notification.ts
  apps/backend/src/notifications/services/notification-email.service.ts
  apps/web/src/features/notifications/project/components/EditNotificationSheet/selection/RecipientsSelector.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update logging in notification services to use log level instead of debug (#930)
  apps/backend/src/notifications/definitions/failed-runs-all-dm.notification.ts
  apps/backend/src/notifications/services/notification-email.service.ts
  apps/backend/src/notifications/services/notification-queue.service.ts
  apps/backend/src/notifications/services/notification.service.ts
  apps/web/src/features/notifications/project/components/EditNotificationSheet/selection/RecipientsSelector.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: sort members before upserting in IdpProjectionsService and reduce concurrency in SendNotificationProcessor
  apps/backend/src/idp/services/idp-projections.service.ts
  apps/backend/src/notifications/system-triggers/send-notification.processor.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Changeset
  .changeset/add-redshift-query-editor-link.md
  .changeset/fix-google-sheets-actual-error.md
  .changeset/fix-linkedin-ads-field-type.md
  .changeset/update-snowflake-auth-form.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): lightweight dto for data marts list item
  apps/backend/src/data-marts/dto/domain/data-mart-list-item.dto.ts
  apps/backend/src/data-marts/dto/domain/paginated-data-mart-list-items.dto.ts
  apps/backend/src/data-marts/dto/domain/paginated-data-mart-list.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-storage-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/paginated-data-marts-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

improvements after review
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): lightweight dto for data marts list item
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/model/mappers/data-mart-list.mapper.ts
  apps/web/src/features/data-marts/list/model/types/dataMart.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-list-item-storage.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-list-item.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-list.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/index.ts
  apps/web/src/features/data-marts/shared/types/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: Optimize Data Marts List Endpoint with Lightweight DTOs (#923)
  apps/backend/src/data-marts/dto/domain/data-mart-list-item.dto.ts
  apps/backend/src/data-marts/dto/domain/paginated-data-mart-list-items.dto.ts
  apps/backend/src/data-marts/dto/domain/paginated-data-mart-list.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-storage-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/paginated-data-marts-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/model/mappers/data-mart-list.mapper.ts
  apps/web/src/features/data-marts/list/model/types/dataMart.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-list-item-storage.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-list-item.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-list.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/index.ts
  apps/web/src/features/data-marts/shared/types/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Changeset (#931)
  .changeset/add-redshift-query-editor-link.md
  .changeset/fix-google-sheets-actual-error.md
  .changeset/fix-linkedin-ads-field-type.md
  .changeset/update-snowflake-auth-form.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: Add drafts count and publish drafts functionality to Data Storage list (#920)
  .changeset/publish-data-storage-drafts.md
  .changeset/split-data-mart-counts.md
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/publish-drafts-trigger.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/data-storage.dto.ts
  apps/backend/src/data-marts/dto/domain/publish-data-storage-drafts-result.dto.ts
  apps/backend/src/data-marts/dto/domain/publish-data-storage-drafts.command.ts
  apps/backend/src/data-marts/dto/presentation/data-storage-list-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/publish-data-storage-drafts-response-api.dto.ts
  apps/backend/src/data-marts/entities/publish-drafts-trigger.entity.ts
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/services/publish-drafts-trigger-handler.service.ts
  apps/backend/src/data-marts/services/publish-drafts-trigger.service.ts
  apps/backend/src/data-marts/use-cases/list-data-storages.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.ts
  apps/backend/src/migrations/1771100000000-create-publish-drafts-trigger-table.ts
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageActionsCell.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columnKeys.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columnLabels.ts
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columns.tsx
  apps/web/src/features/data-storage/shared/api/data-storage-api.service.ts
  apps/web/src/features/data-storage/shared/api/types/response/data-storage-list.response.dto.ts
  apps/web/src/features/data-storage/shared/api/types/response/data-storage.response.dto.ts
  apps/web/src/features/data-storage/shared/api/types/response/index.ts
  apps/web/src/features/data-storage/shared/api/types/response/publish-data-storage-drafts.response.dto.ts
  apps/web/src/features/data-storage/shared/components/DataStorageHealthIndicator/DataStorageHealthIndicator.tsx
  apps/web/src/features/data-storage/shared/hooks/usePublishDraftsTrigger.ts
  apps/web/src/features/data-storage/shared/model/context/reducer.ts
  apps/web/src/features/data-storage/shared/model/context/types.ts
  apps/web/src/features/data-storage/shared/model/mappers/base-storage.mapper.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage-list.ts
  apps/web/src/features/data-storage/shared/utils/index.ts
  apps/web/src/features/data-storage/shared/utils/storage-health-sort-rank.utils.ts
  apps/web/src/shared/components/Table/BaseTable.tsx
  apps/web/src/shared/components/Table/SortableHeader.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(idp-owox-better-auth): create path and magic link constansts
  apps/web/src/features/idp/context/AuthContext.tsx
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/controllers/page-controller.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.ts
  packages/idp-owox-better-auth/src/core/constants.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/forgot-password.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/magic-link-confirm.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/password-setup.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
  packages/idp-owox-better-auth/src/services/auth/magic-link-service.test.ts
  packages/idp-owox-better-auth/src/services/auth/magic-link-service.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.test.ts
  packages/idp-owox-better-auth/src/services/email/magic-link-email-service.test.ts
  packages/idp-owox-better-auth/src/services/email/magic-link-email-service.ts
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.ts
  packages/idp-owox-better-auth/src/services/rendering/template-service.ts
  packages/idp-owox-better-auth/src/types/index.ts
  packages/idp-owox-better-auth/src/types/magic-link.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): rename sendgrid env
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp-owox-better-auth): revert changes
  apps/web/src/features/idp/context/AuthContext.tsx
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@2170cdcf394d195a3f6bc8eca5fadf365be2e828 🚀
  packages/idp-owox-better-auth/readme/index.html
  pagefind/fragment/en_9f28b52.pf_fragment
  pagefind/fragment/en_efe478a.pf_fragment
  pagefind/index/en_2164655.pf_index
  pagefind/index/en_4a2ab2b.pf_index
  pagefind/index/en_4f20ceb.pf_index
  pagefind/index/en_544c29b.pf_index
  pagefind/index/en_573a9b8.pf_index
  pagefind/index/en_9c3379c.pf_index
  pagefind/index/en_9d452d7.pf_index
  pagefind/index/en_aadc4e2.pf_index
  pagefind/index/en_b334fab.pf_index
  pagefind/index/en_c692712.pf_index
  pagefind/index/en_d55f733.pf_index
  pagefind/index/en_dbd1a33.pf_index
  pagefind/index/en_f0c0981.pf_index
  pagefind/index/en_f2f0589.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5b8013b280.pf_meta
  pagefind/pagefind.en_6fa01d3ced.pf_meta
Due: prettier --write --config ./prettier.config.js

feat: enhance notification templates and improve project context in emails
  apps/backend/src/notifications/enums/notification-type.enum.ts
  apps/backend/src/notifications/system-triggers/send-notification.processor.ts
  apps/backend/src/notifications/templates/email/assets/blocks.ts
  apps/backend/src/notifications/templates/email/assets/img.ts
  apps/backend/src/notifications/templates/email/failed-run.template.ts
  apps/backend/src/notifications/templates/email/successful-run.template.ts
  apps/backend/src/notifications/types/base-notification.ts
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/TitleField.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/WebhookSection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/selection/RecipientsSection.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/NotificationSettingsTable.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/columns.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: improve notification settings UI and enhance user guidance
  apps/web/src/features/notifications/project/components/EditNotificationSheet/EditNotificationSheet.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/GroupingDelaySection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/WebhookSection.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/NotificationSettingsActionsCell.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/NotificationSettingsTable.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/columns.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp-owox-better-auth): delete debug log about project members
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance notification templates and improve project context in emails (#932)
  apps/backend/src/idp/services/idp-projections.service.ts
  apps/backend/src/notifications/enums/notification-type.enum.ts
  apps/backend/src/notifications/system-triggers/send-notification.processor.ts
  apps/backend/src/notifications/templates/email/assets/blocks.ts
  apps/backend/src/notifications/templates/email/assets/img.ts
  apps/backend/src/notifications/templates/email/failed-run.template.ts
  apps/backend/src/notifications/templates/email/successful-run.template.ts
  apps/backend/src/notifications/types/base-notification.ts
  apps/web/src/features/notifications/project/components/EditNotificationSheet/EditNotificationSheet.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/GroupingDelaySection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/TitleField.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/WebhookSection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/selection/RecipientsSection.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/NotificationSettingsActionsCell.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/NotificationSettingsTable.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/columns.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp-owox-better-auth): delete debug log about project members (#933)
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
