Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): drop the two variables that no longer exist
  .changeset/6772-plugin-gallery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): lean Models canvas cards and toolbar-level Actions menu
  .changeset/6771-canvas-polish.md
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/export/model-graph.test.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  docs/getting-started/setup-guide/models-canvas-export.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(root): merge the canvas polish notes into the single export changeset
  .changeset/6771-canvas-export.md
  .changeset/6771-canvas-polish.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(plugins): refuse plugin runtime tokens on publish, unpublish and suspend
  apps/backend/src/idp/decorators/plugin-auth-coverage.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-admin.controller.openapi.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-admin.controller.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-admin.controller.ts
  apps/backend/src/plugin-host/controllers/plugin-publications.controller.openapi.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-publications.controller.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-publications.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugins): name the product in the repo-access messages
  apps/backend/src/plugin-host/enums/github-access-mode.enum.ts
  apps/backend/src/plugin-host/errors/plugin-host.errors.ts
  apps/ctl/src/plugins-support.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): harden canvas export after self-review
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/export/download.test.ts
  apps/web/src/features/data-marts/model-canvas/export/download.ts
  apps/web/src/features/data-marts/model-canvas/export/export-image.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.test.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/frontmatter.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.test.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.ts
  apps/web/src/features/data-marts/model-canvas/export/slug.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): register the canvas export guide and harden OKF links
  apps/docs/astro.config.mjs
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.test.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): align the plugin card corner and move the cadence line into a tooltip
  apps/web/src/features/plugins/components/AudienceIcon.tsx
  apps/web/src/features/plugins/components/PluginCard.tsx
  apps/web/src/features/plugins/components/index.ts
  apps/web/src/features/plugins/index.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
  apps/web/src/pages/plugins/detail/versionHint.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

style(web): add the trailing newline prettier wants in versionHint
  apps/web/src/pages/plugins/detail/versionHint.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add Copy link button for Destinations and Storages
  .changeset/6744-copy-link-to-sheet.md
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
  packages/ui/src/components/common/copy-link-button.tsx
  packages/ui/src/components/common/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): implement Copy link button functionality with error handling
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.test.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.test.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
  packages/ui/src/components/common/copy-link-button.tsx
Due: none

feat(web): remove unused CopyToClipboardButton component
  packages/ui/src/components/common/copy-to-clipboard-button.tsx
Due: none

fix(data-marts): honest export readiness and search-scope docs
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/export/index.test.ts
  apps/web/src/features/data-marts/model-canvas/export/index.ts
  docs/getting-started/setup-guide/models-canvas-export.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(deps): raise the Node floor to 22.22.0 across every workspace
  README.md
  apps/backend/package.json
  apps/ctl/package.json
  apps/owox/package.json
  docs/editions/agency.md
  docs/getting-started/deployment-guide/local-deployment.md
  package-lock.json
  packages/api-client/package.json
  packages/connectors/CONTRIBUTING.md
  packages/idp-better-auth/package.json
  packages/idp-owox-better-auth/package.json
  packages/idp-protocol/package.json
  packages/internal-helpers/package.json
  packages/plugin-sdk/package.json
  packages/test-utils/package.json
  packages/ui/package.json
Due: prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(editions): remove appsscript edition page and edit changeset
  .changeset/6719-connector-error-warning-classification.md
  apps/docs/data/meta-content.csv
  docs/editions/appsscript-edition.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@142febe868ed8d2bfb83d0a6ad7da91a60b9fe65 🚀
  _astro/main-cover.C8nKNCZS_ZO5xtX.webp
  docs/editions/appsscript-edition/index.html
  pagefind/fragment/en_6ff3c98.pf_fragment
  pagefind/index/en_20597c1.pf_index
  pagefind/index/en_336361b.pf_index
  pagefind/index/en_33a2353.pf_index
  pagefind/index/en_3ae1a37.pf_index
  pagefind/index/en_5576252.pf_index
  pagefind/index/en_58b5366.pf_index
  pagefind/index/en_5aae9fb.pf_index
  pagefind/index/en_6045cef.pf_index
  pagefind/index/en_622e924.pf_index
  pagefind/index/en_819d6e4.pf_index
  pagefind/index/en_81d6d1e.pf_index
  pagefind/index/en_902177a.pf_index
  pagefind/index/en_91c22b6.pf_index
  pagefind/index/en_91eb0e9.pf_index
  pagefind/index/en_a15a9cc.pf_index
  pagefind/index/en_a522657.pf_index
  pagefind/index/en_b754244.pf_index
  pagefind/index/en_c67ece8.pf_index
  pagefind/index/en_d0c348a.pf_index
  pagefind/index/en_d3f0b51.pf_index
  pagefind/index/en_e0615ed.pf_index
  pagefind/index/en_f21b8c8.pf_index
  pagefind/index/en_fa61288.pf_index
  pagefind/index/en_fde70c7.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4ca7157c04.pf_meta
  pagefind/pagefind.en_c45da82f19.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

feat(data-marts): include the data mart definition in the OKF export
  .changeset/6771-okf-definition.md
  apps/web/src/features/data-marts/model-canvas/export/model-graph.test.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.test.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.ts
  apps/web/src/features/data-marts/model-canvas/model/definition-text.test.ts
  apps/web/src/features/data-marts/model-canvas/model/definition-text.ts
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.ts
  docs/getting-started/setup-guide/models-canvas-export.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(root): drop the changeset for the definition follow-up
  .changeset/6771-okf-definition.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(plugins): log why a GitHub read fell back or failed
  apps/backend/src/plugin-host/config/plugin-host.config.spec.ts
  apps/backend/src/plugin-host/config/plugin-host.config.ts
  apps/backend/src/plugin-host/services/github-api.service.spec.ts
  apps/backend/src/plugin-host/services/github-api.service.ts
  apps/backend/src/plugin-host/services/github-auth.service.spec.ts
  apps/backend/src/plugin-host/services/github-auth.service.ts
  apps/backend/src/plugin-host/services/publication-authorization.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): carry the definition through the base+details merge
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): export definitions only for published data marts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.test.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.ts
  docs/getting-started/setup-guide/models-canvas-export.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): turn on STRING_AGG and ANY_VALUE by default for text fields (#6791)
  .changeset/6791-string-default-aggregations.md
  apps/backend/src/data-marts/dto/schemas/field-aggregation-governance.spec.ts
  apps/backend/src/data-marts/dto/schemas/field-aggregation-governance.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.test.tsx
  apps/web/src/features/data-marts/shared/utils/aggregation-governance.test.ts
  apps/web/src/features/data-marts/shared/utils/aggregation-governance.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@be2e29ffbe317f0aed8db4a4d596f0cbf8e59353 🚀
  docs/getting-started/setup-guide/report-aggregations/index.html
  pagefind/fragment/en_c418ee9.pf_fragment
  pagefind/fragment/en_d1fff9f.pf_fragment
  pagefind/index/en_142a846.pf_index
  pagefind/index/en_2592571.pf_index
  pagefind/index/en_32531fe.pf_index
  pagefind/index/en_42abb66.pf_index
  pagefind/index/en_85b92cd.pf_index
  pagefind/index/en_8b28c46.pf_index
  pagefind/index/en_8c6e372.pf_index
  pagefind/index/en_a0ab2fd.pf_index
  pagefind/index/en_a568904.pf_index
  pagefind/index/en_eb47a22.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_37dd26b097.pf_meta
  pagefind/pagefind.en_c4c7514d26.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(data-marts): gate export on enrichment and contain fence-closing SQL
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.test.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.ts
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugins): accept a GitHub App key with the PEM armour stripped
  .env.example
  apps/backend/src/plugin-host/config/plugin-host.config.spec.ts
  apps/backend/src/plugin-host/config/plugin-host.config.ts
  docs/getting-started/deployment-guide/environment-variables.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@5df18857165fed68cbad37b0a9524d55ef87fffe 🚀
  docs/getting-started/setup-guide/models-canvas-export/index.html
  pagefind/fragment/en_24811fc.pf_fragment
  pagefind/fragment/en_a93a45b.pf_fragment
  pagefind/index/en_142a846.pf_index
  pagefind/index/en_17844c6.pf_index
  pagefind/index/en_212d467.pf_index
  pagefind/index/en_3917f1e.pf_index
  pagefind/index/en_43c915d.pf_index
  pagefind/index/en_468aa9c.pf_index
  pagefind/index/en_528568c.pf_index
  pagefind/index/en_57b2a74.pf_index
  pagefind/index/en_79848dc.pf_index
  pagefind/index/en_871c97d.pf_index
  pagefind/index/en_8c03e94.pf_index
  pagefind/index/en_9584719.pf_index
  pagefind/index/en_a568904.pf_index
  pagefind/index/en_ab46ea4.pf_index
  pagefind/index/en_af46fb4.pf_index
  pagefind/index/en_bc19e6b.pf_index
  pagefind/index/en_be7dff4.pf_index
  pagefind/index/en_c6f62c8.pf_index
  pagefind/index/en_cb79bab.pf_index
  pagefind/index/en_e9fc8c4.pf_index
  pagefind/index/en_ebe7fb2.pf_index
  pagefind/index/en_ecc193e.pf_index
  pagefind/index/en_f31eed3.pf_index
  pagefind/index/en_fd2df6b.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_92e36521a4.pf_meta
  pagefind/pagefind.en_c4b935bfec.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@8c28007251891fc4f643f7edbf8cdd16408a282c 🚀
  docs/getting-started/deployment-guide/environment-variables/index.html
  pagefind/fragment/en_49785dc.pf_fragment
  pagefind/fragment/en_79b23b9.pf_fragment
  pagefind/index/en_3d857f2.pf_index
  pagefind/index/en_43c915d.pf_index
  pagefind/index/en_468aa9c.pf_index
  pagefind/index/en_4cde96b.pf_index
  pagefind/index/en_528568c.pf_index
  pagefind/index/en_57b2a74.pf_index
  pagefind/index/en_724f916.pf_index
  pagefind/index/en_79848dc.pf_index
  pagefind/index/en_86b53d2.pf_index
  pagefind/index/en_871c97d.pf_index
  pagefind/index/en_a4e0271.pf_index
  pagefind/index/en_a79c65a.pf_index
  pagefind/index/en_ab46ea4.pf_index
  pagefind/index/en_af46fb4.pf_index
  pagefind/index/en_b2f8159.pf_index
  pagefind/index/en_cb79bab.pf_index
  pagefind/index/en_ce29885.pf_index
  pagefind/index/en_d049e5d.pf_index
  pagefind/index/en_ebe7fb2.pf_index
  pagefind/index/en_ecc193e.pf_index
  pagefind/index/en_f321c55.pf_index
  pagefind/index/en_f7611d8.pf_index
  pagefind/index/en_fd2df6b.pf_index
  pagefind/index/en_fda4f9e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_92e36521a4.pf_meta
  pagefind/pagefind.en_dc741fa123.pf_meta
Due: prettier --write --config ./prettier.config.js

Change the wording
  apps/web/src/features/data-storage/shared/components/FailedDraftsToast.test.tsx
  apps/web/src/features/data-storage/shared/components/FailedDraftsToast.tsx
Due: none

Publish drafts error details
  apps/backend/src/data-marts/dto/domain/publish-data-storage-drafts-result.dto.ts
  apps/backend/src/data-marts/dto/domain/publish-draft-failure.dto.ts
  apps/backend/src/data-marts/dto/presentation/publish-data-storage-drafts-response-api.dto.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/services/publish-drafts-trigger-handler.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.spec.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/shared/api/types/response/publish-data-storage-drafts.response.dto.ts
  apps/web/src/features/data-storage/shared/components/FailedDraftsToast.test.tsx
  apps/web/src/features/data-storage/shared/components/FailedDraftsToast.tsx
  apps/web/src/features/data-storage/shared/hooks/usePublishDraftsTrigger.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(changeset): remove view-only session restrictions changeset
  .changeset/view-only-session-restrictions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Working on the task
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/backend/src/data-marts/services/publish-drafts-trigger-handler.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.spec.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/web/src/features/data-storage/shared/components/FailedDraftsToast.test.tsx
  apps/web/src/features/data-storage/shared/components/FailedDraftsToast.tsx
  apps/web/src/features/data-storage/shared/hooks/usePublishDraftsTrigger.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): mock the router package the app now imports
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.test.tsx
Due: none

Self-review
  apps/backend/src/data-marts/dto/domain/publish-data-storage-drafts-result.dto.ts
  apps/backend/src/data-marts/dto/domain/publish-draft-failure.dto.ts
  apps/backend/src/data-marts/dto/presentation/publish-data-storage-drafts-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.spec.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.ts
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/shared/api/types/response/publish-data-storage-drafts.response.dto.ts
  apps/web/src/features/data-storage/shared/components/FailedDraftsToast.test.tsx
  apps/web/src/features/data-storage/shared/components/FailedDraftsToast.tsx
  apps/web/src/features/data-storage/shared/hooks/usePublishDraftsTrigger.ts
  apps/web/src/features/data-storage/shared/utils/buildPublishFailureMessage.test.ts
  apps/web/src/features/data-storage/shared/utils/buildPublishFailureMessage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

ci: split the API e2e suite across four shards
  .github/workflows/e2e-api.yml
Due: prettier --write --config ./prettier.config.js

fix: address Google Chat review feedback
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-access-validator.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-credentials-validator.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-credentials-validator.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.ts
  apps/web/src/features/data-destination/shared/model/mappers/google-chat.mapper.test.ts
  apps/web/src/features/data-destination/shared/model/mappers/google-chat.mapper.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/RecipientsDisplay.test.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/RecipientsDisplay.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: harden Google Chat webhook delivery
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-webhook.client.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-webhook.client.ts
  apps/backend/src/data-marts/dto/presentation/data-destination-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/web/e2e/fixtures/api-helpers.ts
  apps/web/e2e/specs/destination.spec.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleChatFields.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
