Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): auto-subscribe new project members to notification settings (#1047)
  .changeset/update-notification.md
  apps/backend/package.json
  apps/backend/src/migrations/1773922564520-add-known-members-to-notification-settings.ts
  apps/backend/src/notifications/entities/project-notification-settings.entity.ts
  apps/backend/src/notifications/services/notification-email.service.ts
  apps/backend/src/notifications/services/notification.service.ts
  apps/backend/src/notifications/services/project-notification-settings.service.ts
  apps/backend/src/notifications/system-triggers/send-notification.processor.ts
  apps/backend/src/notifications/use-cases/get-notification-settings.service.ts
  apps/owox/CHANGELOG.md
  apps/owox/package.json
  apps/web/package.json
  docs/notifications/email.md
  docs/notifications/notification-settings.md
  docs/notifications/webhooks.md
  packages/idp-better-auth/package.json
  packages/idp-owox-better-auth/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@62f435a1262f6925dbdf5c9fce0219d97ce1c8db 🚀
  docs/changelog/index.html
  docs/notifications/email/index.html
  docs/notifications/notification-settings/index.html
  docs/notifications/webhooks/index.html
  pagefind/fragment/en_133e47c.pf_fragment
  pagefind/fragment/en_27b9e77.pf_fragment
  pagefind/fragment/en_6171fdd.pf_fragment
  pagefind/fragment/en_70e4bb9.pf_fragment
  pagefind/fragment/en_8c6cfba.pf_fragment
  pagefind/fragment/en_d83bdbc.pf_fragment
  pagefind/fragment/en_f3ce424.pf_fragment
  pagefind/fragment/en_f76dfb5.pf_fragment
  pagefind/index/en_1bb5553.pf_index
  pagefind/index/en_2c5af53.pf_index
  pagefind/index/en_3bea27d.pf_index
  pagefind/index/en_405ff1a.pf_index
  pagefind/index/en_47fafb7.pf_index
  pagefind/index/en_5dfeba2.pf_index
  pagefind/index/en_6741638.pf_index
  pagefind/index/en_6e1e223.pf_index
  pagefind/index/en_92b714a.pf_index
  pagefind/index/en_9e5412b.pf_index
  pagefind/index/en_abd61a3.pf_index
  pagefind/index/en_af734a3.pf_index
  pagefind/index/en_c19f4c1.pf_index
  pagefind/index/en_cd16513.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3115e126d2.pf_meta
  pagefind/pagefind.en_ad7319281b.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(data-marts): replace storage Select with searchable sorted Combobox (#986)
  .changeset/storage-sorting.md
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
  apps/web/src/shared/components/Combobox/combobox.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

[AI Assistant] load data only for sources which presented in temlate
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/services/insight-template-execution.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-execution.service.ts
  apps/backend/src/data-marts/services/insight-template-source-data.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-source-data.service.ts
  apps/backend/src/data-marts/services/insight-template-source-usage.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-source-usage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): implement connector and report run triggers
  apps/backend/src/common/exceptions/concurrency-limit-exceeded.exception.ts
  apps/backend/src/common/validators/max-json-size.validator.ts
  apps/backend/src/config/env-validation.config.ts
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/entities/connector-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/report-run-trigger.entity.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/connector-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector-run-trigger.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/report-run-trigger.service.ts
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/migrations/1773000000000-create-connector-run-trigger-table.ts
  apps/backend/src/migrations/1773000000001-create-report-run-trigger-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

acc changeset
  .changeset/add-data-marts-trigger-based-runs.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

review: improve trigger handling
  apps/backend/src/data-marts/entities/connector-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/report-run-trigger.entity.ts
  apps/backend/src/data-marts/services/base-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/connector-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/move-legacy-data-storage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): design fix
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/OwnersEditor.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartsTableFilters.config.ts
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat/refactor-render-contex (#1064)
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/interfaces/data-destination-report-writer.interface.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/services/insight-template-execution.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-execution.service.ts
  apps/backend/src/data-marts/services/insight-template-source-data.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-source-data.service.ts
  apps/backend/src/data-marts/services/insight-template-source-usage.service.spec.ts
  apps/backend/src/data-marts/services/insight-template-source-usage.service.ts
  apps/backend/src/data-marts/use-cases/report-execution-policy.resolver.spec.ts
  apps/backend/src/data-marts/use-cases/report-execution-policy.resolver.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test: update legacy data storage move service spec to expect 5 delete and 2 subquery operations.
  apps/backend/src/data-marts/use-cases/legacy-data-marts/move-legacy-data-storage.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): outbounded project members
  apps/backend/src/data-marts/use-cases/create-data-mart.service.ts
  apps/backend/src/idp/dto/domain/project-member.dto.ts
  apps/backend/src/idp/services/idp-projections.service.ts
  apps/backend/src/migrations/1774257367147-add-owners-to-data-mart.ts
  apps/backend/src/migrations/1774257367148-backfill-technical-owner-from-created-by.ts
  apps/backend/src/notifications/dto/presentation/project-member-api.dto.ts
  apps/backend/src/notifications/use-cases/get-project-members.service.ts
  apps/web/src/features/data-marts/edit/components/OwnersEditor.tsx
  apps/web/src/features/notifications/project/types/notification-settings.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add validation project members
  apps/backend/src/data-marts/use-cases/update-data-mart-owners.service.ts
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): implement connector and report run triggers (#1044)
  .changeset/add-data-marts-trigger-based-runs.md
  apps/backend/src/common/exceptions/concurrency-limit-exceeded.exception.ts
  apps/backend/src/common/validators/max-json-size.validator.ts
  apps/backend/src/config/env-validation.config.ts
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/entities/connector-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/report-run-trigger.entity.ts
  apps/backend/src/data-marts/services/base-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/connector-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector-run-trigger.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/report-run-trigger.service.ts
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/move-legacy-data-storage.service.spec.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/move-legacy-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/migrations/1773000000000-create-connector-run-trigger-table.ts
  apps/backend/src/migrations/1773000000001-create-report-run-trigger-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): add scroll and search
  apps/web/src/features/data-marts/edit/components/OwnersEditor.tsx
Due: none

feat(backend): add filter !m.isOutbound
  apps/backend/src/data-marts/use-cases/update-data-mart-owners.service.ts
  apps/backend/src/notifications/system-triggers/runs-notification.processor.ts
  apps/backend/src/notifications/system-triggers/send-notification.processor.ts
  apps/backend/src/notifications/use-cases/get-notification-settings.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(auth): adjust padding in authentication layout for improved visual consistency
  packages/idp-owox-better-auth/src/resources/templates/layouts/auth.ejs
Due: none

feat(auth): redesign authentication screens to enhance user experience
  .changeset/auth-redesign.md
  packages/idp-owox-better-auth/src/resources/templates/layouts/auth.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/forgot-password.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/magic-link-confirm.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/password-setup.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/password-success.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-in.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/brand-panel.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/footer.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/head.ejs
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(auth): redesign authentication screens to enhance user experience (#1065)
  .changeset/auth-redesign.md
  packages/idp-owox-better-auth/src/resources/templates/layouts/auth.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/forgot-password.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/magic-link-confirm.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/password-setup.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/password-success.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-in.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/brand-panel.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/footer.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/head.ejs
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fixed link
  README.md
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  packages/connectors/CONTRIBUTING.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: update Slack community invite link (#1067)
  README.md
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  packages/connectors/CONTRIBUTING.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@c64e4bce686a2af8182e4ab6c9a8f8ac4a1769ff 🚀
  index.html
  packages/connectors/contributing/index.html
Due: none

change id format description
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(google-ads): allow Customer ID with or without dashes
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@a228326f5a8c9a1b6d48d65e18d795e4cb049491 🚀
  packages/connectors/src/sources/google-ads/getting-started/index.html
  pagefind/fragment/en_c1c4fdb.pf_fragment
  pagefind/fragment/en_e1868aa.pf_fragment
  pagefind/index/en_2c5af53.pf_index
  pagefind/index/en_2d5d6b1.pf_index
  pagefind/index/en_3bea27d.pf_index
  pagefind/index/en_3fa83bc.pf_index
  pagefind/index/en_47fafb7.pf_index
  pagefind/index/en_53a8123.pf_index
  pagefind/index/en_6741638.pf_index
  pagefind/index/en_7e12d27.pf_index
  pagefind/index/en_936db18.pf_index
  pagefind/index/en_9e5412b.pf_index
  pagefind/index/en_abd61a3.pf_index
  pagefind/index/en_c19f4c1.pf_index
  pagefind/index/en_c69ffd5.pf_index
  pagefind/index/en_dfdb76f.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1739a76eb6.pf_meta
  pagefind/pagefind.en_ad7319281b.pf_meta
Due: prettier --write --config ./prettier.config.js

fix data mart name
  .changeset/fix-delete-dialog-title.md
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartActionsCell.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): show actual title in delete confirmation dialog
  .changeset/fix-delete-dialog-title.md
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartActionsCell.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): update add colleagues href
  apps/web/src/features/data-marts/edit/components/OwnersEditor.tsx
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
Due: none

[AI Assistant] Add Chat description when couldn't create a view due to permission reason
  apps/backend/src/data-marts/ai-insights/agent-flow/prompts/agent-flow.prompt.ts
  apps/backend/src/data-marts/services/agent-flow-prompt-builder.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connector-run): change log level from warn to log for concurrency limit message
  apps/backend/src/data-marts/services/connector-run-trigger-handler.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

[AI Assistant] Add Chat description when couldn't create a view due to permission reason (#1073)
  apps/backend/src/data-marts/ai-insights/agent-flow/prompts/agent-flow.prompt.ts
  apps/backend/src/data-marts/services/agent-flow-prompt-builder.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(owox): add CORS support for Google Sheets Extension
  .env.example
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connector-run): change log level from warn to log for concurrency limit message (#1074)
  apps/backend/src/data-marts/services/connector-run-trigger-handler.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(auth): add favicon link to the head template
  packages/idp-owox-better-auth/src/resources/templates/partials/head.ejs
Due: none

feat(owox): add CORS support for Google Sheets Extension (#1075)
  .env.example
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(auth): add favicon link to the head template (#1076)
  packages/idp-owox-better-auth/src/resources/templates/partials/head.ejs
Due: none

fix(web): update order
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
