Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): Common services for App licesing, emails, markdown
  apps/backend/src/common/common.module.ts
  apps/backend/src/common/config/app-edition-config.service.ts
  apps/backend/src/common/config/app-edition-license-refresher.service.ts
  apps/backend/src/common/email/email.module.ts
  apps/backend/src/common/email/providers/noop-provider.ts
  apps/backend/src/common/email/providers/sendgrid-provider.ts
  apps/backend/src/common/email/shared/email-provider.facade.ts
  apps/backend/src/common/jwt-body/google-jwt-body.decorator.ts
  apps/backend/src/common/markdown/github-markdown-css.ts
  apps/backend/src/common/markdown/markdown-parser.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backed): new Email based report destinations added
  apps/backend/src/data-marts/data-destination-types/available-destination-types.service.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-config.guards.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-config.type.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials.guards.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials.type.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/ee/README.md
  apps/backend/src/data-marts/data-destination-types/ee/email/README.md
  apps/backend/src/data-marts/data-destination-types/ee/email/schemas/email-config.schema.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/schemas/email-credentials.schema.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-credentials-validator.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/templates/email-report.template.ts
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/enums/report-condition.enum.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/enums/data-mart-run-type.enum.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(owox): App edition flag whitelisted
  apps/owox/src/web/flags-route.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: email and markdown dependencies
  apps/backend/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(backend): App edition guards added to use-cases
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): reports on Email data destinations
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/FormDescriptions/MessageTemplateDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/FormDescriptions/SendingConditionDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/index.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/index.ts
  apps/web/src/features/data-marts/reports/edit/components/index.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/index.ts
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportEditSheetRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportListRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/SortableHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/index.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/index.ts
  apps/web/src/features/data-marts/reports/list/components/index.ts
  apps/web/src/features/data-marts/reports/shared/components/ReportHoverCard/ReportHoverCard.tsx
  apps/web/src/features/data-marts/reports/shared/enums/destination-type-config.enum.ts
  apps/web/src/features/data-marts/reports/shared/enums/report-condition.enum.ts
  apps/web/src/features/data-marts/reports/shared/model/mappers/destination-config-mapper.factory.ts
  apps/web/src/features/data-marts/reports/shared/model/mappers/email-config.mapper.ts
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/services/types/update-report.request.dto.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/components/ReportSelector.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerRunTarget.tsx
  apps/web/src/features/data-marts/shared/enums/data-mart-run-type.enum.ts
  packages/ui/src/components/common/copyable-field.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): utility controller for markdown preview
  apps/backend/src/data-marts/controllers/markdown-parser.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): markdown editor moved to shared components
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditor.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorPreview.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorTabs.tsx
  apps/web/src/shared/components/MarkdownEditor/index.ts
  apps/web/src/shared/components/MarkdownEditor/useMarkdownPreview.ts
  apps/web/src/shared/components/MarkdownEditor/useMarkdownPreviewInternal.ts
  apps/web/src/shared/services/markdown.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): Email data destinations added
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/EmailFields.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/DestinationTypeDescription.tsx
  apps/web/src/features/data-destination/shared/enums/data-destination-credentials-type.enum.ts
  apps/web/src/features/data-destination/shared/enums/data-destination-status.enum.ts
  apps/web/src/features/data-destination/shared/enums/data-destination-type.enum.ts
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestinationVisibility.ts
  apps/web/src/features/data-destination/shared/model/mappers/destination-mapper.factory.ts
  apps/web/src/features/data-destination/shared/model/mappers/email.mapper.ts
  apps/web/src/features/data-destination/shared/model/types/credentials.ts
  apps/web/src/features/data-destination/shared/model/types/data-destination.ts
  apps/web/src/features/data-destination/shared/model/types/email-credentials.ts
  apps/web/src/features/data-destination/shared/services/types/create-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/services/types/data-destination.response.dto.ts
  apps/web/src/features/data-destination/shared/services/types/update-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
  apps/web/src/features/data-destination/shared/types/data-destination.schema.ts
  apps/web/src/features/data-destination/shared/types/email-credentials.schema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): app edition flag added
  apps/web/src/app/store/default-flags.ts
  apps/web/src/utils/check-edition.ts
  apps/web/src/utils/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

changeset for Email destinations
  .changeset/email-destinations.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: add correct logic to process short links
  packages/connectors/src/Core/Utils/HttpUtils.js
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: add correct logic to process short links (#737)
  packages/connectors/src/Core/Utils/HttpUtils.js
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(GoogleAds): improve error handling, config clarity, and query reliability (#729)
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): unified data mart reports auto refresh hook
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportListRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/shared/model/hooks/useDataMartReportsAutoRefresh.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

improvements after review
  apps/backend/src/common/email/providers/noop-provider.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/EmailFields.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/DestinationTypeDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/EmailDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/GoogleChatDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/GoogleSheetsDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/LookerStudioDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/MicrosoftTeamsDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/ODataDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/SlackDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/index.ts
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/DestinationOptionContent.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/RecipientsDisplay.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerRunTarget.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): added insight executor
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/insight.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/controllers/spec/insight.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/domain/get-data-mart-run.command.ts
  apps/backend/src/data-marts/dto/domain/insight.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/insight-list-item-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/insight-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/run-insight-response-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run.schema.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-table-definitions/data-mart-definition.schema.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-table-definitions/data-mart-definition.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-table-definitions/insight-run-definition.schema.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/entities/insight.entity.ts
  apps/backend/src/data-marts/enums/data-mart-run-type.enum.ts
  apps/backend/src/data-marts/events/insight-run-successfully.event.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/mappers/insight.mapper.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  apps/backend/src/data-marts/use-cases/get-data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/list-data-mart-runs.service.ts
  apps/backend/src/data-marts/use-cases/run-insight.service.ts
  apps/backend/src/migrations/1763465011180-add-insight-id-to-data-mart-run.ts
  apps/backend/src/migrations/1763465015992-add-output-to-insight-table.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-definition-config.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-run.ts
  apps/web/src/features/data-marts/edit/model/types/insight-definition-config.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-run-type.enum.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-run.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(GoogleAds): update credentials and getting started guides with OAuth2 details and images
  packages/connectors/src/Sources/GoogleAds/CREDENTIALS.md
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/res/googleads_authorize.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_clients
  packages/connectors/src/Sources/GoogleAds/res/googleads_copysecret.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_createclients.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_exchangecode.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_fillsecret.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_permissions.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_publish.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_refresh.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Enterprise License added
  LICENSE.md
  README.md
  licenses/ee.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Enterprise License readability improved
  LICENSE.md
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Enterprise License added (#739)
  LICENSE.md
  README.md
  licenses/ee.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@5adbb9f40ca4d64dcb97eaf69962056018ac7942 🚀
  apps/backend/src/data-marts/data-destination-types/ee/email/readme/index.html
  apps/backend/src/data-marts/data-destination-types/ee/readme/index.html
  pagefind/fragment/en_37713fe.pf_fragment
  pagefind/fragment/en_7d56e40.pf_fragment
  pagefind/index/en_2ee75d2.pf_index
  pagefind/index/en_50a0e07.pf_index
  pagefind/index/en_568515a.pf_index
  pagefind/index/en_6fced4a.pf_index
  pagefind/index/en_719852a.pf_index
  pagefind/index/en_777ac92.pf_index
  pagefind/index/en_811897a.pf_index
  pagefind/index/en_95a0f27.pf_index
  pagefind/index/en_ab8827b.pf_index
  pagefind/index/en_df66dde.pf_index
  pagefind/index/en_f6a9c63.pf_index
  pagefind/index/en_f836fc8.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3ad9b574b1.pf_meta
  pagefind/pagefind.en_fe26ec31a3.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

Feat/migrations for FB creatives field (#725)
  .changeset/facebook-creative-migration.md
  apps/backend/src/migrations/1762783402000-remove-facebook-creative-field.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(GoogleAds): update CREDENTIALS.md with OAuth2 and Service Account authentication steps; add googleads_clients.png
  packages/connectors/src/Sources/GoogleAds/CREDENTIALS.md
  packages/connectors/src/Sources/GoogleAds/res/googleads_clients
  packages/connectors/src/Sources/GoogleAds/res/googleads_clients.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(GoogleAds): enhance authentication instructions in CREDENTIALS and GETTING_STARTED guides; add new OAuth fields image
  packages/connectors/src/Sources/GoogleAds/CREDENTIALS.md
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/res/googleads_oauthfields.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(GoogleAds): clarify prerequisite for Developer Token in API Center registration step
  packages/connectors/src/Sources/GoogleAds/CREDENTIALS.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(ui): add ResizablePanel components for flexible layout management
  packages/ui/package.json
  packages/ui/src/components/resizable.tsx
Due: prettier --write --config ./prettier.config.js

feat(web): add InsightEditor component with Markdown support and theme integration
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
Due: none

feat(web): implement nested routing for Insights in Data Mart details page
  apps/web/src/pages/data-marts/edit/DataMartInsightsContent.tsx
  apps/web/src/pages/data-marts/insights/details/InsightDetailsView.tsx
  apps/web/src/pages/data-marts/insights/list/InsightsListView.tsx
  apps/web/src/routes/data-marts/routes.tsx
Due: none

feat(web): introduce ResizableColumns component for adjustable layouts
  apps/web/src/shared/components/ResizableColumns/ResizableColumns.tsx
Due: none

feat(web): implement Insights state management and API integration
  apps/web/src/features/data-marts/insights/model/context/insights.context.ts
  apps/web/src/features/data-marts/insights/model/context/insights.provider.tsx
  apps/web/src/features/data-marts/insights/model/context/useInsightsContext.ts
  apps/web/src/features/data-marts/insights/model/hooks/index.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsightsList.ts
  apps/web/src/features/data-marts/insights/model/index.ts
  apps/web/src/features/data-marts/insights/model/mappers/insight.mapper.ts
  apps/web/src/features/data-marts/insights/model/reducer/actions.ts
  apps/web/src/features/data-marts/insights/model/reducer/insightsReducer.ts
  apps/web/src/features/data-marts/insights/model/services/index.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
  apps/web/src/features/data-marts/insights/model/types/api/insights.dto.ts
  apps/web/src/features/data-marts/insights/model/types/index.ts
  apps/web/src/features/data-marts/insights/model/types/insight.entity.ts
  apps/web/src/features/data-marts/insights/model/types/state.ts
  apps/web/src/pages/data-marts/insights/list/InsightsListView.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(ui): add Empty components for display states
  packages/ui/package.json
  packages/ui/src/components/empty.tsx
Due: prettier --write --config ./prettier.config.js

feat(web): add Insights tab to Data Mart details page
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/pages/data-marts/edit/DataMartInsightsContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
  apps/web/src/pages/data-marts/edit/index.ts
  apps/web/src/routes/data-marts/routes.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): wrap DataMartInsightsContent with InsightsProvider for context management
  apps/web/src/pages/data-marts/edit/DataMartInsightsContent.tsx
Due: none

feat(web): add slash command completion provider for Monaco editor
  apps/web/src/features/data-marts/insights/utils/monaco-commands.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance InsightEditor with slash command support
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
Due: none

feat(web): add InsightsListSection component and integrate with routing
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/pages/data-marts/edit/DataMartInsightsContent.tsx
  apps/web/src/pages/data-marts/insights/list/InsightsListView.tsx
Due: none

refactor(web): restructure Breadcrumb and reposition "Save & Preview" button in InsightDetailsView
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
