Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: Stage 3: major fixes.
  apps/backend/test/permissions-role-access-control.e2e-spec.ts
  apps/backend/test/permissions-sharing-access-control.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: implement access control checks for data mart and storage operations and update default availability flags to false
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/insight-artifact-sql-preview-trigger.controller.ts
  apps/backend/src/data-marts/controllers/publish-drafts-trigger.controller.ts
  apps/backend/src/data-marts/entities/data-destination.entity.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/entities/data-storage.entity.ts
  apps/backend/src/data-marts/entities/sharing-fields.spec.ts
  apps/backend/src/data-marts/services/report-access.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
  apps/backend/test/permissions-entity-access-critical.e2e-spec.ts
  apps/backend/test/permissions-sub-entity-access.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance SetupChecklist with new step actions and progress tracking improvements
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklist.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklistCompleted.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupChecklistGroup.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupGroupPopover.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/SetupStepAccordion.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/index.ts
  apps/web/src/components/AppSidebar/SetupChecklist/items.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/types.ts
  apps/web/src/components/AppSidebar/SetupChecklist/useSetupProgress.ts
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestination.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
  apps/web/src/features/data-storage/shared/model/hooks/useDataStorage.ts
  apps/web/src/shared/components/InviteTeammatesCard/InviteTeammatesCard.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: add changeset
  .changeset/setup-checklist.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(backend): add optimistick lock
  apps/backend/src/data-marts/entities/project-setup-progress.entity.ts
  apps/backend/src/data-marts/entities/project-setup-user-progress.entity.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.ts
  apps/backend/src/migrations/1776158335588-create-project-setup-progress-table.ts
  apps/backend/src/migrations/1776158335590-create-project-setup-user-progress-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: move PageNotificationLegacyStorageSetup to data-storage and update imports
  apps/web/src/pages/data-marts/list/index.ts
  apps/web/src/pages/data-storage/DataStorageListPage.tsx
  apps/web/src/pages/data-storage/PageNotificationLegacyStorageSetup.tsx
  apps/web/src/pages/data-storage/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: simplify DataMartsPage and integrate PageNotificationLegacyStorageSetup into DataStorageListPage
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
  apps/web/src/pages/data-marts/list/PageNotificationLegacyStorageSetup.tsx
  apps/web/src/pages/data-storage/DataStorageListPage.tsx
Due: none

Refactor AI Insights section and update terminology
  docs/editions/owox-cloud-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: improve authorization error messaging and handle backend error propagation in SQL dry run triggers
  apps/backend/src/data-marts/controllers/ai-assistant.controller.ts
  apps/backend/src/data-marts/controllers/insight-artifact-sql-preview-trigger.controller.ts
  apps/backend/src/data-marts/controllers/insight-artifact.controller.ts
  apps/backend/src/data-marts/controllers/insight-run-trigger.controller.ts
  apps/backend/src/data-marts/controllers/insight-template-run-trigger.controller.ts
  apps/backend/src/data-marts/controllers/insight-template.controller.ts
  apps/backend/src/data-marts/controllers/insight.controller.ts
  apps/backend/src/data-marts/controllers/scheduled-trigger.controller.ts
  apps/backend/src/data-marts/controllers/schema-actualize-trigger.controller.ts
  apps/backend/src/data-marts/controllers/sql-dry-run-trigger.controller.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.spec.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-marts/shared/hooks/useSqlDryRunTrigger.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: Moved the legacy BigQuery setup notification from the Data Marts page to the Storages page (#1140)
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
  apps/web/src/pages/data-marts/list/index.ts
  apps/web/src/pages/data-storage/DataStorageListPage.tsx
  apps/web/src/pages/data-storage/PageNotificationLegacyStorageSetup.tsx
  apps/web/src/pages/data-storage/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Align OpenAPI specs with request DTOs
  apps/backend/src/data-marts/controllers/spec/data-destination.api.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/controllers/spec/data-storage.api.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-availability-api.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Actualize OpenAPI specs
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/spec/connector.api.ts
  apps/backend/src/data-marts/controllers/spec/data-destination.api.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/controllers/spec/data-storage.api.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/controllers/spec/scheduled-trigger.api.ts
  apps/backend/src/data-marts/controllers/spec/sql-dry-run-trigger.api.ts
  apps/backend/src/data-marts/controllers/sql-dry-run-trigger.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update CHANGELOG for version 0.23
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fix image link formatting in CHANGELOG.md
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG for version 0.23 (#1145)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@2fb56fcfcbe31427ce44bc7bca3bfe0e7b577d8b 🚀
  docs/changelog/index.html
  pagefind/fragment/en_b96657b.pf_fragment
  pagefind/fragment/en_dd31cca.pf_fragment
  pagefind/index/en_3a68d18.pf_index
  pagefind/index/en_42614c7.pf_index
  pagefind/index/en_445c80e.pf_index
  pagefind/index/en_49625bc.pf_index
  pagefind/index/en_57d53aa.pf_index
  pagefind/index/en_6c7aac1.pf_index
  pagefind/index/en_751965d.pf_index
  pagefind/index/en_7a9aec8.pf_index
  pagefind/index/en_8170e3e.pf_index
  pagefind/index/en_86c9601.pf_index
  pagefind/index/en_8846764.pf_index
  pagefind/index/en_8e43eed.pf_index
  pagefind/index/en_a6d6a3c.pf_index
  pagefind/index/en_ac8a5ce.pf_index
  pagefind/index/en_b155f23.pf_index
  pagefind/index/en_c8e34e8.pf_index
  pagefind/index/en_e36d46e.pf_index
  pagefind/index/en_e4bdfb8.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5502187a7a.pf_meta
  pagefind/pagefind.en_60319d2055.pf_meta
Due: prettier --write --config ./prettier.config.js

refactor(web): enhance DataMartDetails component with improved status handling and promo logic
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
Due: none

refactor(web): simplify promo suppression logic in useDataMartNextStepPromo hook
  apps/web/src/features/data-marts/edit/hooks/useDataMartNextStepPromo.tsx
Due: none

feat(backend): extend PublishDataMartCommand to include createdById and update related services
  apps/backend/src/data-marts/dto/domain/publish-data-mart.command.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): enhance PublishDataMartService with error logging for connector execution
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/hooks/useDataMartNextStepPromo.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: implement LinkedIn OAuth2 integration
  apps/backend/src/migrations/1774900000000-migrate-linkedin-connectors-to-oauth2-structure.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/LinkedInOauthRender.tsx
  apps/web/src/features/connectors/shared/components/LinkedInLoginButton/LinkedInLoginButton.tsx
  apps/web/src/pages/oauth/LinkedInCallback.tsx
  apps/web/src/pages/oauth/index.ts
  apps/web/src/routes/oauth.routes.tsx
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): update PublishDataMartCommand to include userId in draft publishing process
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Refactor cloud edition and update terminology (#1144)
  docs/editions/owox-cloud-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@5534d59ccf9a204d8d006189b9c5cce06a6bd4ae 🚀
  docs/editions/owox-cloud-editions/index.html
  pagefind/fragment/en_766dab9.pf_fragment
  pagefind/fragment/en_c3d2735.pf_fragment
  pagefind/index/en_24f027e.pf_index
  pagefind/index/en_2e1c506.pf_index
  pagefind/index/en_39b0729.pf_index
  pagefind/index/en_42614c7.pf_index
  pagefind/index/en_445c80e.pf_index
  pagefind/index/en_4dcee56.pf_index
  pagefind/index/en_6c7aac1.pf_index
  pagefind/index/en_7a9aec8.pf_index
  pagefind/index/en_8846764.pf_index
  pagefind/index/en_981ff38.pf_index
  pagefind/index/en_9ab1706.pf_index
  pagefind/index/en_a6d6a3c.pf_index
  pagefind/index/en_acb3999.pf_index
  pagefind/index/en_b155f23.pf_index
  pagefind/index/en_e36d46e.pf_index
  pagefind/index/en_e4bdfb8.pf_index
  pagefind/index/en_f8b44d2.pf_index
  pagefind/index/en_fc6bfc1.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5502187a7a.pf_meta
  pagefind/pagefind.en_fe7a6e65fb.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): add changeset and enhance Data Mart publishing experience
  .changeset/publish-and-run-connector-data-mart.md
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/hooks/useDataMartNextStepPromo.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: Add support for unconfigured state in data storage validation
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-access-validator.interface.ts
  apps/backend/src/data-marts/dto/presentation/data-storage-access-validation-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/backend/src/data-marts/use-cases/validate-data-storage-access.service.ts
  apps/web/src/features/data-storage/shared/api/data-storage-api.service.ts
  apps/web/src/features/data-storage/shared/components/DataStorageHealthIndicator/DataStorageHealthIndicator.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageHealthIndicator/DataStorageHealthStatusView.tsx
  apps/web/src/features/data-storage/shared/model/hooks/useDataStorageHealthStatus.ts
  apps/web/src/features/data-storage/shared/services/data-storage-health-status.service.ts
  apps/web/src/features/data-storage/shared/utils/storage-health-sort-rank.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Revise data storage and enablement details in documentation
  docs/editions/self-managed-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Revise Data Enablement details and add new features
  docs/editions/owox-cloud-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fix formatting issues in owox-cloud-editions.md
  docs/editions/owox-cloud-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update Google Sheets Extension description
  docs/editions/self-managed-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Revise data storage and enablement details in documentation (#1146)
  docs/editions/owox-cloud-editions.md
  docs/editions/self-managed-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@884a151f3ca44e896e40187d70f0fc00644db64e 🚀
  docs/editions/owox-cloud-editions/index.html
  docs/editions/self-managed-editions/index.html
  pagefind/fragment/en_766dab9.pf_fragment
  pagefind/fragment/en_803ba88.pf_fragment
  pagefind/fragment/en_9c0114e.pf_fragment
  pagefind/fragment/en_c5ed8be.pf_fragment
  pagefind/index/en_170691b.pf_index
  pagefind/index/en_1c21e3f.pf_index
  pagefind/index/en_1c5f4b4.pf_index
  pagefind/index/en_24f027e.pf_index
  pagefind/index/en_2e1c506.pf_index
  pagefind/index/en_39b0729.pf_index
  pagefind/index/en_4dcee56.pf_index
  pagefind/index/en_5c2512a.pf_index
  pagefind/index/en_60aea7b.pf_index
  pagefind/index/en_75df705.pf_index
  pagefind/index/en_809acd4.pf_index
  pagefind/index/en_861970a.pf_index
  pagefind/index/en_981ff38.pf_index
  pagefind/index/en_9ab1706.pf_index
  pagefind/index/en_9cc13ee.pf_index
  pagefind/index/en_acb3999.pf_index
  pagefind/index/en_f8b44d2.pf_index
  pagefind/index/en_fc6bfc1.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2387fbff69.pf_meta
  pagefind/pagefind.en_fe7a6e65fb.pf_meta
Due: prettier --write --config ./prettier.config.js

changeset: Add grey health indicator for unconfigured storages
  .changeset/storage-unconfigured-health-state.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Actualize OpenAPI specs for data mart APIs (#1142)
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/spec/connector.api.ts
  apps/backend/src/data-marts/controllers/spec/data-destination.api.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/controllers/spec/data-storage.api.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/controllers/spec/scheduled-trigger.api.ts
  apps/backend/src/data-marts/controllers/spec/sql-dry-run-trigger.api.ts
  apps/backend/src/data-marts/controllers/sql-dry-run-trigger.controller.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-availability-api.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test: cancel auto-triggered connector runs in test setup to prevent conflicts with manual run tests
  apps/web/e2e/fixtures/api-helpers.ts
  apps/web/e2e/specs/datamart-detail.spec.ts
  apps/web/e2e/specs/run-history.spec.ts
  packages/test-utils/src/helpers/setup-connector-data-mart.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: publish and auto-run connector-based data marts (#1139)
  .changeset/publish-and-run-connector-data-mart.md
  apps/backend/src/data-marts/dto/domain/publish-data-mart.command.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.ts
  apps/web/e2e/fixtures/api-helpers.ts
  apps/web/e2e/specs/datamart-detail.spec.ts
  apps/web/e2e/specs/run-history.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/hooks/useDataMartNextStepPromo.tsx
  packages/test-utils/src/helpers/setup-connector-data-mart.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: set maxWorkers to 1 in jest-e2e configuration
  apps/backend/test/jest-e2e.json
Due: prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
