Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix(data-marts): stop the formula editor writing stale text over typing
  .changeset/6872-highlight-storage-field-to-fix.md
  apps/web/e2e/specs/datamart-calculated-field-formula.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/CalculatedFieldFormulaCell.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/FormulaEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/FormulaEditor.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): address re-review on field errors
  apps/backend/src/common/exceptions/global-exception.filter.spec.ts
  apps/backend/src/data-marts/data-destination-types/credentials-validator-field-errors.spec.ts
  apps/backend/src/data-marts/data-destination-types/interfaces/data-destination-credentials-validator.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-access-validator.interface.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
  apps/backend/src/data-marts/utils/field-errors.utils.spec.ts
  apps/backend/src/data-marts/utils/field-errors.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): keep the relationship panel clear of the toolbar and the picked arrow in view
  .changeset/6859-models-canvas-edit-relationship.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipDetailsTabs.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useBlendedFieldsConfigEditor.test.ts
  apps/web/src/features/data-marts/model-canvas/components/CardRelationshipsSection.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.tsx
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): add the field-to-fix demo video to the release note
  .changeset/6872-highlight-storage-field-to-fix.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(web): give the schema table Monaco stubs a readable model
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.test.tsx
Due: none

fix(mcp): preserve compatibility with cached output schemas
  apps/backend/src/ee/mcp/sdk/mcp-output-schema.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-output-schema.ts
  apps/backend/src/ee/mcp/sdk/mcp-schema-compatibility.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-schema-refresh.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-schema-refresh.ts
  apps/backend/src/ee/mcp/sdk/mcp-sdk-server.factory.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-sdk-server.factory.ts
  apps/backend/src/ee/mcp/transport/mcp-http-entry.service.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(mcp): keep schema troubleshooting focused on reconnecting
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): drop Reinstall from the plugin page and rename Check now
  .changeset/6874-plugin-page-check-and-update.md
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
  docs/plugins/authoring-guide.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): stop naming Reinstall in plugin copy and test the tooltip
  .changeset/6874-plugin-page-check-and-update.md
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.test.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): manage installed plugins after they leave the Gallery
  .changeset/6842-manage-installed-plugins.md
  apps/backend/src/plugin-host/use-cases/get-plugin-details.service.ts
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.test.tsx
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.tsx
  apps/web/src/features/plugins/components/AudienceIcon.tsx
  apps/web/src/features/plugins/components/DialogFact.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.tsx
  apps/web/src/features/plugins/components/PluginCard.test.tsx
  apps/web/src/features/plugins/components/PluginCard.tsx
  apps/web/src/features/plugins/components/UninstallPluginDialog.test.tsx
  apps/web/src/features/plugins/components/UninstallPluginDialog.tsx
  apps/web/src/features/plugins/components/index.ts
  apps/web/src/features/plugins/hooks/usePluginPublications.test.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.ts
  apps/web/src/features/plugins/hooks/usePlugins.test.tsx
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/features/plugins/index.ts
  apps/web/src/features/plugins/visibility.test.ts
  apps/web/src/features/plugins/visibility.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
  apps/web/src/pages/plugins/gallery/PluginsGalleryPage.test.tsx
  apps/web/src/pages/plugins/gallery/PluginsGalleryPage.tsx
  apps/web/src/pages/plugins/history/PluginHistoryPage.tsx
  docs/plugins/authoring-guide.md
  docs/plugins/trusted-plugins.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): keep Installation history reachable and harden plugin uninstall
  .changeset/6842-manage-installed-plugins.md
  .changeset/6874-plugin-page-check-and-update.md
  apps/backend/test/plugin-installations.e2e-spec.ts
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.test.tsx
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.tsx
  apps/web/src/features/plugins/components/DialogFact.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.tsx
  apps/web/src/features/plugins/components/PluginCard.tsx
  apps/web/src/features/plugins/components/UninstallPluginDialog.test.tsx
  apps/web/src/features/plugins/components/UninstallPluginDialog.tsx
  apps/web/src/features/plugins/components/index.ts
  apps/web/src/features/plugins/components/useUninstallConfirmation.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.test.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.ts
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/features/plugins/index.ts
  apps/web/src/features/plugins/visibility.test.ts
  apps/web/src/features/plugins/visibility.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
  apps/web/src/pages/plugins/gallery/PluginsGalleryPage.test.tsx
  apps/web/src/pages/plugins/gallery/PluginsGalleryPage.tsx
  apps/web/src/pages/plugins/history/PluginHistoryPage.test.tsx
  apps/web/src/pages/plugins/open/PluginOpenPage.test.tsx
  apps/web/src/pages/plugins/open/PluginOpenPage.tsx
  apps/web/src/shared/components/ConfirmationDialog/ConfirmationDialog.tsx
  docs/plugins/authoring-guide.md
  docs/plugins/trusted-plugins.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): open the relationship panel as a full-height sheet
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.tsx
  apps/web/src/features/data-marts/model-canvas/model/relationship-sheet-layout.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): lay the relationship panel out like the other side sheets
  .changeset/6859-models-canvas-edit-relationship.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipDetailsTabs.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.tsx
  docs/getting-started/setup-guide/models-canvas.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): address review notes on the plugin page actions
  .changeset/6874-plugin-page-check-and-update.md
  apps/backend/src/plugin-host/use-cases/update-plugin.service.ts
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.test.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.tsx
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): address review notes on managing installed plugins
  .changeset/6842-manage-installed-plugins.md
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.tsx
  apps/web/src/features/plugins/components/UninstallPluginDialog.test.tsx
  apps/web/src/features/plugins/components/UninstallPluginDialog.tsx
  apps/web/src/features/plugins/components/index.ts
  apps/web/src/features/plugins/components/useUninstallConfirmation.tsx
  apps/web/src/features/plugins/index.ts
  apps/web/src/features/plugins/visibility.test.ts
  apps/web/src/features/plugins/visibility.ts
  apps/web/src/pages/plugins/open/PluginOpenPage.test.tsx
  apps/web/src/pages/plugins/open/PluginOpenPage.tsx
  apps/web/src/shared/components/ConfirmationDialog/ConfirmationDialog.tsx
  docs/plugins/authoring-guide.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): say when a published plugin is already installed
  .changeset/6855-plugin-already-installed-note.md
  apps/web/src/features/plugins/hooks/usePluginPublications.test.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.ts
  apps/web/src/features/plugins/hooks/usePlugins.ts
  docs/plugins/authoring-guide.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: add screenshots to the already-installed release note
  .changeset/6855-plugin-already-installed-note.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): mention an existing installation only from the Publish sheet
  apps/web/src/features/plugins/components/PublishPluginSheet.test.tsx
  apps/web/src/features/plugins/components/PublishPluginSheet.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.test.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(plugins): document request errors and Data Mart reading for plugin authors
  docs/plugins/authoring-guide.md
  docs/plugins/index.md
  docs/plugins/project-setup.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(backend): extract release content rules into a shared service
  apps/backend/src/plugin-host/plugin-host.module.ts
  apps/backend/src/plugin-host/services/release-candidate-rules.service.spec.ts
  apps/backend/src/plugin-host/services/release-candidate-rules.service.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): inject release candidate rules into release sync
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add a dry-run plugin release check
  apps/backend/src/plugin-host/controllers/plugin-installations.controller.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-installations.controller.ts
  apps/backend/src/plugin-host/dto/domain/check-plugin-release.command.ts
  apps/backend/src/plugin-host/dto/presentation/publication-api.dto.ts
  apps/backend/src/plugin-host/errors/plugin-host.errors.ts
  apps/backend/src/plugin-host/mappers/plugin-presentation.mapper.ts
  apps/backend/src/plugin-host/plugin-host.module.ts
  apps/backend/src/plugin-host/services/release-candidate-rules.service.spec.ts
  apps/backend/src/plugin-host/services/release-candidate-rules.service.ts
  apps/backend/src/plugin-host/use-cases/check-plugin-release.service.spec.ts
  apps/backend/src/plugin-host/use-cases/check-plugin-release.service.ts
  apps/backend/src/plugin-host/use-cases/plugin-publisher-access.ts
  apps/backend/src/plugin-host/use-cases/update-plugin.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): keep the release check from writing Credential definitions
  apps/backend/src/data-marts/credentials/services/credential-external-definition-registry.service.spec.ts
  apps/backend/src/data-marts/credentials/services/credential-external-definition-registry.service.ts
  apps/backend/src/plugin-host/services/external-credential-definition-sync.service.spec.ts
  apps/backend/src/plugin-host/services/external-credential-definition-sync.service.ts
  apps/backend/src/plugin-host/services/release-candidate-rules.service.spec.ts
  apps/backend/src/plugin-host/services/release-candidate-rules.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(ctl): add plugins check for dry-run release checks
  apps/ctl/src/commands/plugins/check.test.ts
  apps/ctl/src/commands/plugins/check.ts
  packages/api-client/src/index.ts
  packages/api-client/src/plugins.test.ts
  packages/api-client/src/plugins.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(ctl): word plugins check summary without a candidate version and test run
  apps/ctl/src/commands/plugins/check.test.ts
  apps/ctl/src/commands/plugins/check.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(plugins): document the dry-run release check
  .changeset/7064-plugin-release-check.md
  docs/plugins/authoring-guide.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(plugins): correct release check scope statements
  .changeset/7064-plugin-release-check.md
  docs/plugins/authoring-guide.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(plugins): tighten release check summary and docs
  .changeset/7064-plugin-release-check.md
  apps/backend/src/plugin-host/dto/presentation/publication-api.dto.ts
  apps/ctl/src/commands/plugins/check.test.ts
  apps/ctl/src/commands/plugins/check.ts
  docs/plugins/authoring-guide.md
  packages/api-client/src/plugins.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(plugins): tighten the dry-run release check
  apps/backend/src/plugin-host/dto/presentation/publication-api.dto.ts
  apps/backend/src/plugin-host/services/external-credential-definition-sync.service.spec.ts
  apps/backend/src/plugin-host/services/external-credential-definition-sync.service.ts
  apps/backend/src/plugin-host/services/release-candidate-rules.service.spec.ts
  apps/backend/src/plugin-host/services/release-candidate-rules.service.ts
  apps/backend/src/plugin-host/use-cases/check-plugin-release.service.spec.ts
  apps/backend/src/plugin-host/use-cases/check-plugin-release.service.ts
  apps/backend/src/plugin-host/use-cases/plugin-publisher-access.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugins): return full release check errors to publishers
  apps/backend/src/plugin-host/controllers/plugin-installations.controller.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-installations.controller.ts
  apps/backend/src/plugin-host/controllers/plugin-release-check.controller.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-release-check.controller.ts
  apps/backend/src/plugin-host/plugin-host.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): enable the Create trigger button when the form opens prefilled
  .changeset/7066-enable-create-trigger-button.md
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
