Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): Add screenshots for Snowflake storage configuration and account details
  docs/res/screens/snowflake_accountlocator.png
  docs/res/screens/snowflake_newdestination.png
  docs/res/screens/snowflake_viewaccount.png
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: update semver rules for linters (#847)
  .github/workflows/lint-docs.yml
  apps/backend/package.json
  apps/docs/package.json
  apps/owox/eslint.config.mjs
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationOneOfRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.tsx
  package-lock.json
  package.json
  packages/connectors/package.json
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  packages/eslint-config/vite-react.js
  packages/eslint-config/vite.js
  packages/idp-better-auth/package.json
  packages/idp-better-auth/src/services/page-service.ts
  packages/idp-owox/package.json
  packages/idp-protocol/package.json
  packages/internal-helpers/package.json
  packages/prettier-config/package.json
  packages/ui/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): fix load more behavior on run history tab (#857)
  .changeset/fix-bugs-in-run-history-tab.md
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/edit/constants.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/reducer.ts
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/edit/model/hooks/use-data-mart.ts
  apps/web/src/pages/data-marts/edit/DataMartRunHistoryContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(api): refactor TikTokAds data type handling
  .changeset/fix-tiktok-type-handling.md
  packages/connectors/src/Sources/TikTokAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: fix release workflow
  .changeset/old-bikes-send.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: fix release workflow (#859)
  .changeset/old-bikes-send.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(api): refactor TikTokAds data type handling (#858)
  .changeset/fix-tiktok-type-handling.md
  packages/connectors/src/Sources/TikTokAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Change package name in changeset to owox
  .changeset/fix-tiktok-type-handling.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Change package name in changeset to owox (#860)
  .changeset/fix-tiktok-type-handling.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: update package versions to fix audit
  apps/docs/package.json
  apps/owox/package.json
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

fix(TikTokAds): enhance date and datetime processing logic
  packages/connectors/src/Sources/TikTokAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(TikTokAds): enhance date and datetime processing logic (#862)
  packages/connectors/src/Sources/TikTokAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: replace sqlite driver package and optimize overrides
  apps/backend/package.json
  apps/backend/src/config/data-source-options.config.ts
  package-lock.json
  package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update testing libs
  apps/backend/package.json
  apps/owox/package.json
  package-lock.json
  packages/idp-better-auth/package.json
  packages/idp-owox/package.json
  packages/idp-protocol/package.json
Due: prettier --write --config ./prettier.config.js

Refactor tutorial structure for improved readability and maintainability
  docs/res/screens/snowflake_copytitle.png
  docs/res/screens/snowflake_pwd.png
  docs/res/screens/snowflake_terminal.png
  docs/res/screens/snowflake_viewaccount.png
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): force explicit GBQ location
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): force explicit GBQ location (#865)
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update package versions to fix audit (#861)
  apps/backend/package.json
  apps/backend/src/config/data-source-options.config.ts
  apps/docs/package.json
  apps/owox/package.json
  package-lock.json
  package.json
  packages/idp-better-auth/package.json
  packages/idp-owox/package.json
  packages/idp-protocol/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: fix audit
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

Update CHANGELOG for version 0.17.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(ui): adjust z-index for Sonner toaster notifications
  packages/ui/src/styles/globals.css
Due: none

fix(web): update HoverCardContent alignment in DataMartHealthStatusCell component
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartHealthStatusCell.tsx
Due: none

fix(web): Ensure the Sheet opens above the toaster to prevent interaction issues (#864)
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartHealthStatusCell.tsx
  packages/ui/src/styles/globals.css
Due: none

feat(databricks): Add support for Databricks storage with Personal Access Token authentication
  .changeset/add-databricks-storage.md
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api-adapter.factory.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/schemas/databricks-config.schema.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-create-view.executor.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DatabricksFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/DatabricksCatalogDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/DatabricksSchemaDescription.tsx
  apps/web/src/features/data-storage/shared/api/types/response/data-storage.response.dto.ts
  apps/web/src/features/data-storage/shared/model/mappers/databricks.mapper.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage-config.ts
  apps/web/src/features/data-storage/shared/types/data-storage.schema.ts
  docs/storages/manage-storages.md
  docs/storages/supported-storages/databricks.md
  packages/connectors/src/Core/Dto/ConfigDto.js
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
  packages/connectors/src/Storages/Databricks/manifest.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(databricks): Enhance Databricks storage integration and schema handling
  .changeset/add-databricks-storage.md
  apps/backend/owox-data-marts.sqlite
  apps/backend/src/common/scheduler/services/fetchers/trigger-fetcher.service.ts
  apps/backend/src/common/scheduler/services/runners/abstract-trigger-runner.service.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/schemas/databricks-data-mart-schema.schema.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-data-mart-schema.provider.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/connector-definition.helpers.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useSchemaState.ts
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
  packages/connectors/src/connector-runner.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(databricks): Add Databricks SQL support and enhance API integration
  .changeset/add-databricks-storage.md
  apps/backend/owox-data-marts.sqlite
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api-adapter.factory.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-sql-dry-run.executor.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): Enhance AWS Redshift storage with column description (#855)
  apps/backend/src/data-marts/data-storage-types/redshift/adapters/redshift-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-schema-merger.ts
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): added logic for displaying error messages about limits in report run logs
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/get-data.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(databricks): Enhance Databricks integration with custom logging and validation utilities
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.ts
  apps/web/src/features/data-marts/shared/utils/databricks-validation.ts
  apps/web/src/features/data-marts/shared/utils/validation.ts
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(databricks): Improve handling of PRIMARY KEY constraints and logging in Databricks API adapter
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-schema-merger.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): update CriteoAds logo SVG
  packages/connectors/src/Sources/CriteoAds/logo.svg
Due: none

feat(connectors): update CriteoAds logo SVG (#869)
  packages/connectors/src/Sources/CriteoAds/logo.svg
Due: none

Add AWS RedShift to supported storages list
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): handle 404 errors in DataMartDetails component and improve loading state
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  packages/ui/src/styles/globals.css
Due: none

fix(web): add 404 error handling to apiClient for improved user feedback
  apps/web/src/app/api/apiClient.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add AWS RedShift to supported storages list (#870)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
