Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

Deploying to gh-pages from @ OWOX/owox-data-marts@ef19646995c8c9142f648e72bc6d3917995bf1b4 🚀
  docs/templates/ga4bigquery/define-ga4-sessions/index.html
  pagefind/fragment/en_11b7e76.pf_fragment
  pagefind/fragment/en_31c3282.pf_fragment
  pagefind/index/en_1924ab7.pf_index
  pagefind/index/en_3eea432.pf_index
  pagefind/index/en_6184c32.pf_index
  pagefind/index/en_99df481.pf_index
  pagefind/index/en_a7b59a7.pf_index
  pagefind/index/en_b1dd373.pf_index
  pagefind/index/en_b5a975b.pf_index
  pagefind/index/en_b7febf1.pf_index
  pagefind/index/en_bade12e.pf_index
  pagefind/index/en_c0f4d1c.pf_index
  pagefind/index/en_db531a9.pf_index
  pagefind/index/en_ebcacc6.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2d13bc9993.pf_meta
  pagefind/pagefind.en_754858eb31.pf_meta
Due: prettier --write --config ./prettier.config.js

fix: handle undefined values in form components
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/SqlDefinitionField.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  packages/ui/src/components/form.tsx
Due: none

fix(web): fix lint errors and format code
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TableDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TablePatternDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ViewDefinitionField.tsx
  packages/ui/src/styles/globals.css
Due: none

chore: update prettier-plugin-tailwindcss dev dependencies (#767)
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/SqlDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TableDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TablePatternDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ViewDefinitionField.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  package-lock.json
  package.json
  packages/prettier-config/package.json
  packages/ui/src/components/form.tsx
  packages/ui/src/styles/globals.css
Due: prettier --write --config ./prettier.config.js

Create documentation for Consumption Units
  docs/getting-started/billing/consumption-units.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): add 'billing' section to documentation
  apps/docs/astro.config.mjs
  docs/getting-started/billing/consumption-units.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Create documentation for Consumption Units (#770)
  apps/docs/astro.config.mjs
  docs/getting-started/billing/consumption-units.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(workflow): add step to update npm to the latest version
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.js

fix(docs): replace root-based paths with relative paths
  docs/getting-started/billing/consumption-units.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(workflow): update npm installation step to specify version 11
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.js

fix(workflow): correct step name for updating npm to version 11
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.js

fix(docs): replace root-based paths with relative paths (#772)
  docs/getting-started/billing/consumption-units.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@b449d3379aca75e56667b72edefeed8d4d9daa16 🚀
  docs/getting-started/billing/consumption-units/index.html
Due: none

fix(workflow): add step to update npm to the latest version (#771)
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.js

chore(web): update monaco-editor import to use type-only import
  apps/web/src/features/data-marts/insights/utils/monaco-commands.util.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update CHANGELOG with image
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@b27de16a444019a5482131abf4b2c3b7ce86daf1 🚀
  docs/changelog/index.html
  pagefind/fragment/en_e1a8465.pf_fragment
  pagefind/fragment/en_fc35ef3.pf_fragment
  pagefind/index/en_146637c.pf_index
  pagefind/index/en_1583b63.pf_index
  pagefind/index/en_1993f15.pf_index
  pagefind/index/en_1f60a45.pf_index
  pagefind/index/en_405baf4.pf_index
  pagefind/index/en_58649b2.pf_index
  pagefind/index/en_59af8c1.pf_index
  pagefind/index/en_6479cbe.pf_index
  pagefind/index/en_6e4e4af.pf_index
  pagefind/index/en_7549466.pf_index
  pagefind/index/en_c22e865.pf_index
  pagefind/index/en_d1c24f7.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_d26f98e06b.pf_meta
  pagefind/pagefind.en_ee762aed5a.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): enhance insights components with new Sparkles icon and improved UI elements
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
  apps/web/src/features/data-marts/insights/components/InsightMinerLoader.tsx
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightActionsCell.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightsTable.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/index.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/TimeTriggerAnnouncement/TimeTriggerAnnouncement.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorPreview.tsx
  packages/ui/src/styles/globals.css
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): update Insight components with new loader steps, improved error handling, and UI enhancements
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightMinerLoader.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns.tsx
  packages/ui/src/components/empty.tsx
  packages/ui/src/styles/globals.css
Due: none

feat(web): simplify date formatting in InsightDetailsView component
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

feat(web): Enhanced Insights UI with Clearer Actions and Fresh Visuals (#762)
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
  apps/web/src/features/data-marts/insights/components/InsightMinerLoader.tsx
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightActionsCell.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightsTable.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/index.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/TimeTriggerAnnouncement/TimeTriggerAnnouncement.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorPreview.tsx
  packages/ui/src/components/empty.tsx
  packages/ui/src/styles/globals.css
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(web): update monaco-editor import to use type-only import (#773)
  apps/web/src/features/data-marts/insights/utils/monaco-commands.util.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Enhance AI Process Run details
  docs/getting-started/billing/consumption-units.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Enhance AI Process Run details (#774)
  docs/getting-started/billing/consumption-units.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@eb1f97a46652089acf1616563d39b64a439db4d8 🚀
  docs/getting-started/billing/consumption-units/index.html
  pagefind/fragment/en_d074d41.pf_fragment
  pagefind/fragment/en_e87f02d.pf_fragment
  pagefind/index/en_1993f15.pf_index
  pagefind/index/en_1f60a45.pf_index
  pagefind/index/en_405baf4.pf_index
  pagefind/index/en_58649b2.pf_index
  pagefind/index/en_7549466.pf_index
  pagefind/index/en_7c6a4e8.pf_index
  pagefind/index/en_be2596f.pf_index
  pagefind/index/en_c22e865.pf_index
  pagefind/index/en_d581858.pf_index
  pagefind/index/en_d77cc29.pf_index
  pagefind/index/en_e69e2a1.pf_index
  pagefind/index/en_f1433b9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5f5b1e7533.pf_meta
  pagefind/pagefind.en_ee762aed5a.pf_meta
Due: prettier --write --config ./prettier.config.js

docs(GoogleAds): clarify and enhance authentication instructions in credentials guide (#741)
  packages/connectors/src/Sources/GoogleAds/CREDENTIALS.md
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/res/googleads_authorize.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_clients.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_copysecret.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_createclients.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_exchangecode.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_fillsecret.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_oauthfields.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_permissions.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_publish.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_refresh.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: correct spelling of 'AccountIDs' in connector service and source files (#732)
  apps/backend/src/data-marts/services/connector-secret.service.spec.ts
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@84c2f7dd2bf204ec09d21ba0bc5caa3cd8a5425f 🚀
  _astro/googleads-authorize.bV8pGByb_9BQgr.webp
  _astro/googleads-clients.ROX75T_y_Z1SqYIo.webp
  _astro/googleads-copysecret.D2l1JLAg_Z2azFJv.webp
  _astro/googleads-createclients.CkhUWUof_Z2nCa3S.webp
  _astro/googleads-exchangecode.DGHfncgo_ZJK2b0.webp
  _astro/googleads-fillsecret.1-RL35qZ_1axJU3.webp
  _astro/googleads-oauthfields.Cg3IdPEM_Zlf5ne.webp
  _astro/googleads-permissions.CfCdP0FN_1EAO5Q.webp
  _astro/googleads-publish.BDElNqwa_Z1IzIGp.webp
  _astro/googleads-publish.CnyvopML_Z1JYqby.webp
  _astro/googleads-refresh.Bs60OU2v_Z1dKQrL.webp
  packages/connectors/src/sources/google-ads/credentials/index.html
  packages/connectors/src/sources/google-ads/getting-started/index.html
  pagefind/fragment/en_4b58d71.pf_fragment
  pagefind/fragment/en_9778c97.pf_fragment
  pagefind/fragment/en_b545dcf.pf_fragment
  pagefind/fragment/en_bca1291.pf_fragment
  pagefind/index/en_2081dc5.pf_index
  pagefind/index/en_2d3193d.pf_index
  pagefind/index/en_59d12be.pf_index
  pagefind/index/en_772f5b1.pf_index
  pagefind/index/en_7c6a4e8.pf_index
  pagefind/index/en_a74d581.pf_index
  pagefind/index/en_be2596f.pf_index
  pagefind/index/en_d581858.pf_index
  pagefind/index/en_d77cc29.pf_index
  pagefind/index/en_e69e2a1.pf_index
  pagefind/index/en_eb92436.pf_index
  pagefind/index/en_f1433b9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5f5b1e7533.pf_meta
  pagefind/pagefind.en_de704fb46e.pf_meta
Due: prettier --write --config ./prettier.config.js

backend(feat): merge interrupted connector run logs (#765)
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(SnowflakeStorage): escape special characters in column and table descriptions to prevent query errors
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(SnowflakeStorage): escape special characters in column and table descriptions to prevent query errors (#775)
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(migration): correct spelling of 'AccountIDs' in Facebook marketing connector migration
  apps/backend/src/migrations/1764768652000-fix-facebook-marketing-account-ids-field-name.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(migration): correct spelling of 'AccountIDs' in Facebook marketing connector migration (#776)
  apps/backend/src/migrations/1764768652000-fix-facebook-marketing-account-ids-field-name.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(Snowflake): enhance connection options and improve error logging; update documentation for account identifier retrieval
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-access.validator.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/SnowflakeAccountDescription.tsx
  docs/storages/supported-storages/snowflake.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(Snowflake): enhance connection options and improve error logging; update documentation for account identifier retrieval (#777)
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-access.validator.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/SnowflakeAccountDescription.tsx
  docs/storages/supported-storages/snowflake.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@03359b76555f9ed9bb364f982cc25cddb338c0ea 🚀
  docs/storages/supported-storages/snowflake/index.html
  pagefind/fragment/en_363a01a.pf_fragment
  pagefind/fragment/en_cd7a12a.pf_fragment
  pagefind/index/en_133560a.pf_index
  pagefind/index/en_1f467cb.pf_index
  pagefind/index/en_2081dc5.pf_index
  pagefind/index/en_22b1c6b.pf_index
  pagefind/index/en_2d3193d.pf_index
  pagefind/index/en_59d12be.pf_index
  pagefind/index/en_772f5b1.pf_index
  pagefind/index/en_a74d581.pf_index
  pagefind/index/en_cad112d.pf_index
  pagefind/index/en_eb92436.pf_index
  pagefind/index/en_ed24527.pf_index
  pagefind/index/en_febbc4a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_623373661b.pf_meta
  pagefind/pagefind.en_de704fb46e.pf_meta
Due: prettier --write --config ./prettier.config.js

fix codestyle
  apps/backend/package.json
  apps/backend/src/common/template/facades/template-render-facade-impl.service.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
