Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): enhance table and view selection UI by integrating picker button into input fields
  .changeset/improve-table-and-view-selection.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DefinitionFqnField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/FillFromStorageButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TablePatternDefinitionField.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): enhance table and view selection UI by integrating picker button into input fields (#1185)
  .changeset/improve-table-and-view-selection.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DefinitionFqnField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/FillFromStorageButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TablePatternDefinitionField.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): enhance UI components for improved accessibility and usability
  .changeset/refactor-ui-components.md
  apps/web/src/features/contexts/components/AddContextSheet/AddContextSheet.tsx
  apps/web/src/features/contexts/components/ContextBadges/ContextBadges.tsx
  apps/web/src/features/contexts/components/ContextDetailsSheet/ContextDetailsSheet.tsx
  apps/web/src/features/contexts/components/ContextsCheckboxList.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns/columns.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/StorageResourceTree.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/TableActionsButton.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartHealthStatusCell.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columns.tsx
  apps/web/src/features/project-settings/members/components/InviteMemberSheet/InviteMemberSheet.tsx
  apps/web/src/features/project-settings/members/components/MemberDetailsSheet/MemberDetailsSheet.tsx
  apps/web/src/features/project-settings/notifications/components/EditNotificationSheet/selection/RecipientsSection.tsx
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
  apps/web/src/shared/components/Table/TableSelectionCheckbox.tsx
  apps/web/src/shared/components/Table/ToggleColumnsHeader.tsx
  apps/web/src/shared/components/Table/index.ts
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/tabs.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): improve error handling and UI consistency in Data Mart overview
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
  packages/ui/src/components/accordion.tsx
Due: none

refactor(web): enhance UI components for improved accessibility and usability (#1186)
  .changeset/refactor-ui-components.md
  apps/web/src/features/contexts/components/AddContextSheet/AddContextSheet.tsx
  apps/web/src/features/contexts/components/ContextBadges/ContextBadges.tsx
  apps/web/src/features/contexts/components/ContextDetailsSheet/ContextDetailsSheet.tsx
  apps/web/src/features/contexts/components/ContextsCheckboxList.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns/columns.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/StorageResourceTree.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/TableActionsButton.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartHealthStatusCell.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columns.tsx
  apps/web/src/features/project-settings/members/components/InviteMemberSheet/InviteMemberSheet.tsx
  apps/web/src/features/project-settings/members/components/MemberDetailsSheet/MemberDetailsSheet.tsx
  apps/web/src/features/project-settings/notifications/components/EditNotificationSheet/selection/RecipientsSection.tsx
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
  apps/web/src/shared/components/Table/TableSelectionCheckbox.tsx
  apps/web/src/shared/components/Table/ToggleColumnsHeader.tsx
  apps/web/src/shared/components/Table/index.ts
  packages/ui/src/components/accordion.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/tabs.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): improve report creation UX by enabling immediate button activation
  .changeset/improve-report-creation-ux.md
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/shared/ReportFormActions.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): improve report creation UX by enabling immediate button activation (#1184)
  .changeset/improve-report-creation-ux.md
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/shared/ReportFormActions.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): enhance EmailReportsTable and EmptyDataMartDestinationsState for improved data handling and user interaction
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/shared/components/PromoBlock/PromoBlock.tsx
Due: none

refactor(web): improve user experience and other ui components
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columns.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/LegacyGoogleBigQueryFields.tsx
  packages/ui/src/components/common/external-anchor.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance data mart destinations with Google Sheets promo block and improved user experience
  .changeset/promo-block-for-google-sheets-destination.md
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestinationsWithReports.ts
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/shared/components/PromoBlock/PromoBlock.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): Enhance Data Mart Destinations with Google Sheets Promo (#1183)
  .changeset/promo-block-for-google-sheets-destination.md
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestinationsWithReports.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/LegacyGoogleBigQueryFields.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/shared/components/PromoBlock/PromoBlock.tsx
  packages/ui/src/components/common/external-anchor.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-mart): resolve input source mismatch in Data Marts list display
  .changeset/data-mart-list-input-source-mismatch.md
  apps/backend/src/data-marts/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(review): fixes after review
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/useOutputConfig.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(docs): add contexts documentation for resource access control
  apps/docs/astro.config.mjs
  docs/project/contexts.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): add google sheet columns adjustment
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/constants/google-sheets-metadata-keys.constants.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.ts
  apps/backend/src/data-marts/dto/domain/column-plan.dto.ts
  apps/backend/test/integration/README.md
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
  packages/test-utils/src/helpers/google-sheets-test-sheet.ts
  packages/test-utils/src/helpers/index.ts
  packages/test-utils/src/helpers/seed-data-mart-with-sql.ts
  packages/test-utils/src/helpers/set-data-mart-alias.ts
  packages/test-utils/src/helpers/setup-google-sheets-report.ts
  packages/test-utils/src/helpers/wait-for-report-completion.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(backend): update integration tests
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
  packages/test-utils/src/helpers/seed-data-mart-with-sql.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-mart): resolve input source mismatch in Data Marts list display (#1188)
  .changeset/data-mart-list-input-source-mismatch.md
  apps/backend/src/data-marts/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): update contexts documentation with additional images and clarify editing permissions
  docs/project/contexts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): changeset
  .changeset/contexts-documentation.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): adjust responsive layout for table components to improve usability
  apps/web/src/shared/components/Table/TableColumnSearch.tsx
  apps/web/src/shared/components/TableFilters/TableFiltersTrigger.tsx
Due: none

refactor(web): remove console log for path clicks in DataMartTable component
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
Due: none

fix(web): enhance Data Mart UX with improved navigation and dialog handling
  .changeset/improve-data-mart-ux-and-dialogs.md
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/shared/components/Table/BaseTable.tsx
  packages/ui/src/styles/globals.css
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): enhance Data Mart UX with improved navigation and dialog handling (#1190)
  .changeset/improve-data-mart-ux-and-dialogs.md
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/shared/components/Table/BaseTable.tsx
  apps/web/src/shared/components/Table/TableColumnSearch.tsx
  apps/web/src/shared/components/TableFilters/TableFiltersTrigger.tsx
  packages/ui/src/styles/globals.css
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): enhance report creation and team collaboration features
  .changeset/promote-report-creation-and-invite-teammates.md
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/AddReportButton.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportListRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
  apps/web/src/shared/components/InviteTeammatesCard/InviteTeammatesCard.tsx
  apps/web/src/shared/components/Table/BaseTable.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(e2e): update availability and trigger tests for improved accuracy
  apps/web/e2e/specs/availability.spec.ts
  apps/web/e2e/specs/trigger.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(project): add Contexts feature documentation (#1192)
  .changeset/contexts-documentation.md
  apps/docs/astro.config.mjs
  docs/project/contexts.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-mart): enhance BigQuery locations list with country names and new regions
  .changeset/bigquery-locations-list.md
  apps/web/src/features/data-storage/shared/model/types/google-bigquery-locations.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-mart): enhance BigQuery locations list with country names and new regions (#1195)
  .changeset/bigquery-locations-list.md
  apps/web/src/features/data-storage/shared/model/types/google-bigquery-locations.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): introduce BigQuery bulk import prompt and enhance Data Mart UI
  .changeset/promo-block-bigquery-bulk-import.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartDefinitionForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DefinitionFqnField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/FillFromStorageButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TablePatternDefinitionField.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
  apps/web/src/features/data-marts/shared/utils/data-mart-presets.ts
  apps/web/src/shared/components/ConfirmationDialog/ConfirmationDialog.tsx
  apps/web/src/shared/components/PromoBlock/PromoBlock.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: rebrand Looker Studio to Data Studio
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@890c7ec79802d4c58f807a02576f9648c33ce83a 🚀
  index.html
  pagefind/fragment/en_6cfa5b8.pf_fragment
  pagefind/fragment/en_96aea35.pf_fragment
  pagefind/index/en_2a57682.pf_index
  pagefind/index/en_ba7dad5.pf_index
  pagefind/index/en_d0aaf04.pf_index
  pagefind/index/en_e575c22.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_75d380ffe8.pf_meta
  pagefind/pagefind.en_dd2f48818f.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): enhance Data Mart UI with improved storage health indicators and refined dialogs
  .changeset/promo-block-bigquery-bulk-import.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/FillFromStorageButton.tsx
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/BulkCreateFromStorageDialog.tsx
  apps/web/src/features/data-storage/shared/components/UnhealthyStorageBlock/UnhealthyStorageBlock.tsx
  apps/web/src/features/data-storage/shared/components/UnhealthyStorageBlock/index.ts
  apps/web/src/features/data-storage/shared/components/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

mcp v0.1
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TableDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ViewDefinitionField.tsx
  apps/web/src/features/data-marts/shared/hooks/useMemberOwnershipWarnings.ts
  apps/web/src/features/notifications/index.ts
  apps/web/src/features/notifications/project/components/EditNotificationSheet/EditNotificationSheet.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/EnabledField.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/FormField.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/GeneralSection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/GroupingDelaySection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/TitleField.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/WebhookSection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/index.ts
  apps/web/src/features/notifications/project/components/EditNotificationSheet/selection/RecipientsSection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/selection/RecipientsSelector.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/NotificationSettingsActionsCell.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/NotificationSettingsTable.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/ReceiversAvatarGroup.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/columns.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/index.ts
  apps/web/src/features/notifications/project/components/index.ts
  apps/web/src/features/notifications/project/hooks/index.ts
  apps/web/src/features/notifications/project/hooks/useNotificationSettings.ts
  apps/web/src/features/notifications/project/index.ts
  apps/web/src/features/notifications/project/services/index.ts
  apps/web/src/features/notifications/project/services/notification-settings.service.ts
  apps/web/src/features/notifications/project/types/index.ts
  apps/web/src/features/notifications/project/types/notification-settings.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Revert "mcp v0.1"
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TableDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ViewDefinitionField.tsx
  apps/web/src/features/data-marts/shared/hooks/useMemberOwnershipWarnings.ts
  apps/web/src/features/notifications/index.ts
  apps/web/src/features/notifications/project/components/EditNotificationSheet/EditNotificationSheet.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/EnabledField.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/FormField.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/GeneralSection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/GroupingDelaySection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/TitleField.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/form/WebhookSection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/index.ts
  apps/web/src/features/notifications/project/components/EditNotificationSheet/selection/RecipientsSection.tsx
  apps/web/src/features/notifications/project/components/EditNotificationSheet/selection/RecipientsSelector.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/NotificationSettingsActionsCell.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/NotificationSettingsTable.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/ReceiversAvatarGroup.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/columns.tsx
  apps/web/src/features/notifications/project/components/NotificationSettingsTable/index.ts
  apps/web/src/features/notifications/project/components/index.ts
  apps/web/src/features/notifications/project/hooks/index.ts
  apps/web/src/features/notifications/project/hooks/useNotificationSettings.ts
  apps/web/src/features/notifications/project/index.ts
  apps/web/src/features/notifications/project/services/index.ts
  apps/web/src/features/notifications/project/services/notification-settings.service.ts
  apps/web/src/features/notifications/project/types/index.ts
  apps/web/src/features/notifications/project/types/notification-settings.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): updates after review
  .changeset/columns-adjustment-ruslan-intelligence-report.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  apps/backend/test/integration/README.md
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
  apps/backend/test/integration/google-sheets.integration.ts
  packages/test-utils/src/constants.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): control failed refresh
  .changeset/columns-adjustment-ruslan-intelligence-report.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): pin typeorm 0.3.28 and harden credential resolver
  apps/backend/package.json
  apps/backend/src/data-marts/data-storage-types/data-storage-credentials-resolver.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-credentials-resolver.service.ts
  package-lock.json
  packages/test-utils/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): pin typeorm 0.3.28 and harden credential resolver (#1197)
  apps/backend/package.json
  apps/backend/src/data-marts/data-storage-types/data-storage-credentials-resolver.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-credentials-resolver.service.ts
  package-lock.json
  packages/test-utils/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
