Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fixes
  apps/backend/src/data-marts/ai-insights/tools/data-marts-ai-insights-tools.registrar.ts
  apps/backend/src/data-marts/ai-insights/utils/compute-model-usage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add shopify connector v1
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/abandonedCheckoutsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/articlesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/blogsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/collectionsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/customersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/discountCodesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/draftOrdersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/fulfillmentOrdersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/fulfillmentsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/inventoryItemsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/inventoryLevelsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/locationsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/marketingEventsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/metafieldsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/orderRefundsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/orderRisksFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/ordersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/pagesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/productImagesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/productVariantsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/productsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/shopFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/tenderTransactionsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/transactionsFields.js
  packages/connectors/src/Sources/ShopifyAds/Source.js
  packages/connectors/src/Sources/ShopifyAds/logo.svg
  packages/connectors/src/Sources/ShopifyAds/manifest.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add shopify connector basic structure
  packages/connectors/src/Sources/ShopifyAds/Connector.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/abandonedCheckoutsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/marketingEventsFields.js
  packages/connectors/src/Sources/ShopifyAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add shopify connector timeseries processing, refactor and fix metafields endpoints
  packages/connectors/src/Sources/ShopifyAds/Connector.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/discountCodesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/metafieldsFields.js
  packages/connectors/src/Sources/ShopifyAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: improve singleton endpoints
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/shopFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance EmailReportEditForm with prefill and allowedDestinationTypes options, add inline destination creation
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
Due: none

feat(hooks): add useActionLock hook to prevent repeated async action invocations
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/useActionLock.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add loading state for data storage creation in dialogs
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageTypeDialog.tsx
Due: none

feat(web): Enhanced Storage Creation Experience (#779)
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageTypeDialog.tsx
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/useActionLock.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add SupportMenu component (with help resources, chat, videos) and integrate into sidebar
  apps/web/src/components/AppSidebar/AppSidebar.tsx
  apps/web/src/components/AppSidebar/SupportMenu/SupportMenu.tsx
  apps/web/src/components/AppSidebar/SupportMenu/SupportMenuContent.tsx
  apps/web/src/components/AppSidebar/SupportMenu/SupportMenuTrigger.tsx
  apps/web/src/components/AppSidebar/SupportMenu/index.ts
  apps/web/src/components/AppSidebar/SupportMenu/items.ts
  apps/web/src/components/AppSidebar/SupportMenu/types.ts
  apps/web/src/components/AppSidebar/UserMenu/UserMenuTrigger.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add scheduled triggers integration to report edit forms and inline trigger handling
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ReportSchedulesInlineList/ReportSchedulesInlineList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: improve paginated endpoints logic and their fields
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/abandonedCheckoutsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/articlesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/blogsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/collectionsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/customersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/discountCodesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/draftOrdersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/fulfillmentOrdersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/fulfillmentsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/inventoryItemsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/inventoryLevelsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/locationsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/orderRefundsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/ordersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/pagesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/productImagesFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/productVariantsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/productsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/tenderTransactionsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/transactionsFields.js
  packages/connectors/src/Sources/ShopifyAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(InsightExecution): update InsightExecutionService to return structured output and enhance prompt logging with error handling
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add event tracking for connector setup steps and actions
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
Due: none

chore: update jws dependencies in package-lock.json to latest versions
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(web): add event tracking for connector setup steps and actions (#782)
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  package-lock.json
Due: prettier --write --config ./prettier.config.js

fix: improve paginated endpoints logic and their fields
  .changeset/shopify-connector.md
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/orderRefundsFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/orderRisksFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/ordersFields.js
  packages/connectors/src/Sources/ShopifyAds/ShopifyAdsAPIReference/transactionsFields.js
  packages/connectors/src/Sources/ShopifyAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): fix the error with continuing manual run for interrupted connector run
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(markdown): add helper functions for warning and code block formatting; update rendering logic
  apps/backend/package.json
  apps/backend/src/common/markdown/helpers/blockquote-alert-wrapper.ts
  apps/backend/src/common/markdown/markdown-parser.service.ts
  apps/backend/src/common/template/types/render-template.types.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/prompts/plan.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/triage.prompt.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  package-lock.json
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/utils/trimString.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(ai): enhance usage tracking by adding execution time and updating telemetry types
  apps/backend/src/common/ai-insights/agent/ai-core.ts
  apps/backend/src/common/ai-insights/agent/types.ts
  apps/backend/src/common/ai-insights/services/openai/openai-chat-provider.ts
  apps/backend/src/common/ai-insights/services/openai/openai.mapper.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/ai-insights/utils/compute-model-usage.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat/render-template-warning (#784)
  apps/backend/package.json
  apps/backend/src/common/ai-insights/agent/ai-core.ts
  apps/backend/src/common/ai-insights/agent/types.ts
  apps/backend/src/common/ai-insights/services/openai/openai-chat-provider.ts
  apps/backend/src/common/ai-insights/services/openai/openai.mapper.ts
  apps/backend/src/common/markdown/helpers/blockquote-alert-wrapper.ts
  apps/backend/src/common/markdown/markdown-parser.service.ts
  apps/backend/src/common/template/types/render-template.types.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/prompts/plan.prompt.ts
  apps/backend/src/data-marts/ai-insights/prompts/triage.prompt.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/ai-insights/utils/compute-model-usage.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  package-lock.json
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/utils/trimString.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): update code after changes
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): use isPromptAnswerOk
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: simplify data import instructions by removing redundant steps across multiple sources
  packages/connectors/src/Sources/LinkedInAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_fill_data.png
  packages/connectors/src/Sources/LinkedInAds/res/linkedin_ads_publish.png
  packages/connectors/src/Sources/LinkedInPages/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_fill_data.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_publish.png
  packages/connectors/src/Sources/MicrosoftAds/GETTING_STARTED.md
  packages/connectors/src/Sources/MicrosoftAds/res/microsoft_publishdatamart.png
  packages/connectors/src/Sources/MicrosoftAds/res/microsoft_setupconnector.png
  packages/connectors/src/Sources/OpenExchangeRates/GETTING_STARTED.md
  packages/connectors/src/Sources/OpenExchangeRates/res/openrates_publishdatamart.png
  packages/connectors/src/Sources/OpenExchangeRates/res/openrates_setupconnector.png
  packages/connectors/src/Sources/OpenHolidays/GETTING_STARTED.md
  packages/connectors/src/Sources/OpenHolidays/res/holidays_fill_data.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_publish.png
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/res/reddit_publish.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): error handling in InsightExecutionService (#781)
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add GA4 Visitors Data Mart documentation
  docs/templates/ga4bigquery/define-ga4-visitors.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add GA4 Visitors Data Mart documentation (#785)
  docs/templates/ga4bigquery/define-ga4-visitors.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@fcc80d5a63c148f7054b1f135297557b7e5ce61c 🚀
  docs/templates/ga4bigquery/define-ga4-visitors/index.html
  pagefind/fragment/en_6de1746.pf_fragment
  pagefind/index/en_133560a.pf_index
  pagefind/index/en_1f467cb.pf_index
  pagefind/index/en_22b1c6b.pf_index
  pagefind/index/en_4d8edce.pf_index
  pagefind/index/en_5fb95f2.pf_index
  pagefind/index/en_811a771.pf_index
  pagefind/index/en_8d74fa9.pf_index
  pagefind/index/en_cad112d.pf_index
  pagefind/index/en_e1ed728.pf_index
  pagefind/index/en_e5c9315.pf_index
  pagefind/index/en_ed24527.pf_index
  pagefind/index/en_febbc4a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_623373661b.pf_meta
  pagefind/pagefind.en_b517b15272.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

feat(ai-insights): enhance error handling and status computation for insights
  apps/backend/src/common/markdown/helpers/blockquote-alert-wrapper.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/facades/ai-insights.facade.impl.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(ai-insights): enhance error handling and status computation for insights (#786)
  apps/backend/src/common/markdown/helpers/blockquote-alert-wrapper.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/facades/ai-insights.facade.impl.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update data import instructions by removing redundant save step in TikTok Ads and X Ads documentation
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_publish.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_filldata.png
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
  packages/connectors/src/Sources/XAds/res/x_ads_filldata.png
  packages/connectors/src/Sources/XAds/res/x_ads_publish.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: remove unused image assets from CriteoAds, FacebookMarketing, OpenHolidays, and RedditAds sources
  packages/connectors/src/Sources/CriteoAds/res/criteo_clear.png
  packages/connectors/src/Sources/CriteoAds/res/criteo_credentials.png
  packages/connectors/src/Sources/CriteoAds/res/criteo_dataset.png
  packages/connectors/src/Sources/CriteoAds/res/criteo_fields.png
  packages/connectors/src/Sources/CriteoAds/res/criteo_import.png
  packages/connectors/src/Sources/CriteoAds/res/criteo_pasteid.png
  packages/connectors/src/Sources/CriteoAds/res/criteo_secret.png
  packages/connectors/src/Sources/CriteoAds/res/criteo_source.png
  packages/connectors/src/Sources/CriteoAds/res/criteo_startdate.png
  packages/connectors/src/Sources/CriteoAds/res/criteo_success.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_runbackfill.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_date.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_finished.png
  packages/connectors/src/Sources/OpenHolidays/res/holidays_import.png
  packages/connectors/src/Sources/RedditAds/res/reddit_credentials.png
  packages/connectors/src/Sources/RedditAds/res/reddit_dataset.png
Due: none

refactor: simplify Google Ads connector setup instructions and update related images
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/res/googleads_createconnector.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_createconnector_oauth2.png
  packages/connectors/src/Sources/GoogleAds/res/googleads_publish.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(models): remove email validation from user model (#746)
  packages/idp-protocol/src/types/models.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): Destinations and Reports form improvements (#745)
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/EmailDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/GoogleChatDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/MicrosoftTeamsDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/SlackDescription.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StructuredLogsView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/icons.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/shared/model/hooks/useDataMartReportsAutoRefresh.ts
  apps/web/src/pages/data-marts/edit/DataMartRunHistoryContent.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditor.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorTabs.tsx
  packages/ui/src/components/switch.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): integrate AI layer into insight execution (#747)
  apps/backend/src/common/scheduler/shared/ui-trigger-controller.ts
  apps/backend/src/common/scheduler/shared/ui-trigger.service.ts
  apps/backend/src/data-marts/controllers/insight-run-trigger.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight-run-trigger.api.ts
  apps/backend/src/data-marts/dto/presentation/insight-run-trigger-list-item-response-api.dto.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  apps/backend/src/data-marts/services/insight-run-trigger.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(migrations): add migration to update Facebook Marketing connector to OAuth2 structure (#750)
  apps/backend/src/migrations/1764150625231-migrate-facebook-marketing-to-oauth2-structure.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
