Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add InsightsContext and InsightsProvider for context management in insights module
  apps/web/src/features/data-marts/insights/model/context/insights.context.ts
  apps/web/src/features/data-marts/insights/model/context/insights.provider.tsx
  apps/web/src/features/data-marts/insights/model/context/useInsightsContext.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add getDataMartRunById method to fetch specific run details
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add insights actions and reducer to handle state management for insights module
  apps/web/src/features/data-marts/insights/model/reducer/insights.actions.ts
  apps/web/src/features/data-marts/insights/model/reducer/insights.reducer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add Insight form and execution polling hooks for enhanced functionality in insights module
  apps/web/src/features/data-marts/insights/hooks/index.ts
  apps/web/src/features/data-marts/insights/hooks/useInsightExecutionPolling.ts
  apps/web/src/features/data-marts/insights/hooks/useInsightForm.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add raw markdown toggle and improve error handling in InsightDetailsView
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

feat(web): add InsightDetailsView component with editor, preview, and actions for insights module
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

refactor(web): simplify insights module codebase with utility extraction, input validation, and improved readability
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightsTable.tsx
  apps/web/src/features/data-marts/insights/hooks/useInsightExecutionPolling.ts
  apps/web/src/features/data-marts/insights/hooks/useInsightForm.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/shared/components/ResizableColumns/ResizableColumns.tsx
  apps/web/src/shared/components/Table/SortableHeader.tsx
  apps/web/src/shared/components/Table/ToggleColumnsHeader.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): export insights module components to streamline imports
  apps/web/src/features/data-marts/insights/model/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): handle null storage value in ResizableColumns ratio calculation to prevent NaN errors
  apps/web/src/shared/components/ResizableColumns/ResizableColumns.tsx
Due: none

feat(web): add active run polling for InsightDetailsView and update insights service
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
  apps/web/src/features/data-marts/insights/model/types/api/insights.dto.ts
  apps/web/src/features/data-marts/shared/utils/status.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): update markdown preview to use output instead of template
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

feat(web): add react-resizable-panels dependency and update Radix UI versions
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(web): add insights list view, section, and editor components to enhance insights module
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListView.tsx
Due: none

test(web): update SortableHeader tests to validate icon visibility and wrapper opacity
  apps/web/src/shared/components/Table/SortableHeader.test.tsx
Due: none

feat(web): add feature flag support for conditional Insights tab rendering
  apps/owox/src/web/flags-route.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/utils/index.ts
  apps/web/src/utils/parse-env-list.util.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add InsightsTable component with responsive columns and pagination
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightsTable.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns.tsx
Due: none

feat(web): add custom hooks for insights module to manage data fetching and state
  apps/web/src/features/data-marts/insights/model/hooks/index.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsightsList.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): replace Loader2 with custom InsightLoader in InsightDetailsView
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightMinerLoader.tsx
Due: none

chore(web): update package-lock.json to mark dependencies as optional/dev and remove extraneous fields
  package-lock.json
Due: prettier --write --config ./prettier.config.js

refactor(web): improve type safety and simplify logic across multiple modules
  apps/web/src/features/connectors/shared/api/types/response/connector.response.dto.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/SchemaFieldStatusIcon.tsx
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
  apps/web/src/services/localstorage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): ensure type safety for status prop in TableToolbar component
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/TableToolbar.tsx
Due: none

refactor(ui): standardize quotes and enhance formatting in Empty and Resizable components
  packages/ui/src/components/empty.tsx
  packages/ui/src/components/resizable.tsx
Due: none

fix(markdownlint): disable md060 rule
  .markdownlint.json
Due: prettier --write --config ./prettier.config.js

fix(markdownlint): disable md060 rule (#753)
  .markdownlint.json
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@8ca48152f8d495a9fc29bba302d263e9a6569255 🚀
  docs/changelog/index.html
  pagefind/fragment/en_1318996.pf_fragment
  pagefind/fragment/en_bb32785.pf_fragment
  pagefind/index/en_50a0e07.pf_index
  pagefind/index/en_568515a.pf_index
  pagefind/index/en_719852a.pf_index
  pagefind/index/en_71e491a.pf_index
  pagefind/index/en_811897a.pf_index
  pagefind/index/en_876649f.pf_index
  pagefind/index/en_a260c7b.pf_index
  pagefind/index/en_a7db7c7.pf_index
  pagefind/index/en_a98a7da.pf_index
  pagefind/index/en_bafd44a.pf_index
  pagefind/index/en_f6a9c63.pf_index
  pagefind/index/en_f836fc8.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3ad9b574b1.pf_meta
  pagefind/pagefind.en_3dbb93c03a.pf_meta
Due: prettier --write --config ./prettier.config.js

Update CHANGELOG.md with banners for 0.13.0 version
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG.md with banners for 0.13.0 version (#754)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@b95449dc5b891c2f890222e0505b5929621d4182 🚀
  docs/changelog/index.html
  pagefind/fragment/en_bb32785.pf_fragment
  pagefind/fragment/en_e1a8465.pf_fragment
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3dbb93c03a.pf_meta
  pagefind/pagefind.en_9e787fa4bc.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(backend): add createdById to insight execution logs
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: format code for better readability and consistency
  apps/backend/src/common/scheduler/services/runners/abstract-trigger-runner.service.ts
  apps/backend/src/common/template/facades/template-render-facade-impl.service.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-credentials-processor.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-credentials-validator.ts
  apps/backend/src/migrations/1758809780933-rename-bing-ads-connector-to-microsoft-ads-for-all-db.ts
  apps/backend/src/migrations/1760604480000-update-data-mart-run-table-created-by-id-and-run-type.ts
  apps/web/src/features/connectors/shared/api/types/response/connector.response.dto.ts
  apps/web/src/features/data-destination/shared/model/types/data-destination.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: format code for better readability and consistency (#756)
  apps/backend/src/common/scheduler/services/runners/abstract-trigger-runner.service.ts
  apps/backend/src/common/template/facades/template-render-facade-impl.service.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-credentials-processor.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-credentials-validator.ts
  apps/backend/src/migrations/1758809780933-rename-bing-ads-connector-to-microsoft-ads-for-all-db.ts
  apps/backend/src/migrations/1760604480000-update-data-mart-run-table-created-by-id-and-run-type.ts
  apps/web/src/features/connectors/shared/api/types/response/connector.response.dto.ts
  apps/web/src/features/data-destination/shared/model/types/data-destination.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

changeset added
  .changeset/show-dm-creator-run-initiator.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

lock file
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(web): Shared UserReference component
  apps/web/src/components/AppSidebar/UserMenu/UserMenu.tsx
  apps/web/src/components/AppSidebar/UserMenu/UserMenuTrigger.tsx
  apps/web/src/shared/components/UserAvatar/UserAvatar.tsx
  apps/web/src/shared/components/UserAvatar/index.ts
  apps/web/src/shared/components/UserReference/UserReference.tsx
  apps/web/src/shared/components/UserReference/index.ts
  apps/web/src/shared/types/api/index.ts
  apps/web/src/shared/types/api/user-projection.dto.ts
  apps/web/src/shared/types/index.ts
  apps/web/src/shared/types/user-projection.ts
  apps/web/src/shared/utils/generateInitials.ts
  apps/web/src/shared/utils/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): user projections added to UI dto
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/domain/data-mart.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-response-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run.schema.ts
  apps/backend/src/data-marts/dto/schemas/user-projection.schema.ts
  apps/backend/src/data-marts/entities/creator-aware-entity.interface.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/entities/data-mart-scheduled-trigger.entity.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/entities/insight.entity.ts
  apps/backend/src/data-marts/entities/report.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/user-projections-fetcher.service.ts
  apps/backend/src/data-marts/use-cases/get-data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/get-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/list-data-mart-runs.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): UserReference added to run history and DM list
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-run.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/model/mappers/data-mart-list.mapper.ts
  apps/web/src/features/data-marts/list/model/types/dataMart.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-run.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): store IDP projections, projections facade
  apps/backend/src/idp/dto/domain/project-projection.dto.ts
  apps/backend/src/idp/dto/domain/user-projection.dto.ts
  apps/backend/src/idp/dto/domain/user-projections-list.dto.ts
  apps/backend/src/idp/entities/project-projection.entity.ts
  apps/backend/src/idp/entities/user-projection.entity.ts
  apps/backend/src/idp/facades/idp-projections.facade.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/backend/src/idp/idp.module.ts
  apps/backend/src/idp/mappers/projections.mapper.ts
  apps/backend/src/idp/services/idp-projections.service.ts
  apps/backend/src/migrations/1764094260000-create-user-projection-table.ts
  apps/backend/src/migrations/1764094261000-create-project-projection-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): enhance Google Sheets report writer and Snowflake API adapter
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-sql-dry-run.executor.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
