Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix(web): preserve typed input and focus in connector settings
  .changeset/6765-connector-config-input-glitch.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationOneOfRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(api): link Support Matrix coverage (#1448)
  apps/docs/data/meta-content.csv
  apps/docs/scripts/api-coverage-matrix.mjs
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/coverage.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): compile data quality checks across storages
  apps/backend/src/data-marts/data-quality/__snapshots__/data-quality-check-compiler.spec.ts.snap
  apps/backend/src/data-marts/data-quality/data-quality-check-compiler.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-check-compiler.ts
  apps/backend/src/data-marts/data-quality/data-quality-query-executor.service.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-query-executor.service.ts
  apps/backend/src/data-marts/data-quality/data-quality-result-parser.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-result-parser.ts
  apps/backend/src/data-marts/data-quality/data-quality-sql-dialect-provider.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-sql-dialect.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-sql-dialect.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-sql-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sql-run.executor.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sql-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-sql-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/sql-run-executor.interface.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-sql-run.executor.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-sql-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-sql-run.executor.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-sql-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/utils/provider-error.utils.ts
  apps/backend/src/data-marts/dto/domain/sql-run-batch.dto.ts
  apps/backend/src/data-marts/services/data-quality-config-resolver.spec.ts
  apps/backend/src/data-marts/services/data-quality-config-resolver.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): store data quality payloads on runs
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/schemas/data-quality/data-quality-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/data-quality/data-quality-run.schema.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/entities/data-quality-check-result.entity.ts
  apps/backend/src/data-marts/entities/data-quality-entities.spec.ts
  apps/backend/src/data-marts/entities/data-quality-run.entity.ts
  apps/backend/src/migrations/1784066400000-add-data-quality-foundation.spec.ts
  apps/backend/src/migrations/1784066400000-add-data-quality-foundation.ts
  apps/backend/src/migrations/1784274000000-reconcile-data-quality-run-storage.spec.ts
  apps/backend/src/migrations/1784274000000-reconcile-data-quality-run-storage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add data quality workspace
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.test.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/components/DataQualityCompactStatusLink.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityCompactStatusLink.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityRuleEditor.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualitySummaryPanel.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualitySummaryPanel.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityWorkspace.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityWorkspace.tsx
  apps/web/src/features/data-marts/data-quality/components/index.ts
  apps/web/src/features/data-marts/data-quality/index.ts
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.test.ts
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.ts
  apps/web/src/features/data-marts/data-quality/model/types.ts
  apps/web/src/features/data-marts/data-quality/model/use-data-quality-workspace.test.tsx
  apps/web/src/features/data-marts/data-quality/model/use-data-quality-workspace.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/SchemaUnsavedChangesDialog/SchemaUnsavedChangesDialog.test.tsx
  apps/web/src/features/data-marts/edit/components/SchemaUnsavedChangesDialog/SchemaUnsavedChangesDialog.tsx
  apps/web/src/features/data-marts/edit/model/hooks/__tests__/use-schema-unsaved-guard.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-schema-unsaved-guard.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
  apps/web/src/features/data-marts/shared/types/data-quality-summary.types.ts
  apps/web/src/features/data-marts/shared/types/index.ts
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartQualityContent.tsx
  apps/web/src/routes/data-marts/routes.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): run data quality through run history storage
  apps/backend/src/common/scheduler/services/runners/abstract-trigger-runner.service.spec.ts
  apps/backend/src/common/scheduler/services/runners/abstract-trigger-runner.service.ts
  apps/backend/src/common/scheduler/shared/trigger-execution-ownership.error.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/data-quality/data-quality-query-executor.service.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-query-executor.service.ts
  apps/backend/src/data-marts/services/base-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/data-quality-consumption.service.ts
  apps/backend/src/data-marts/services/data-quality-run-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/data-quality-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/data-quality-run-trigger.service.ts
  apps/backend/src/data-marts/services/data-quality-run.service.spec.ts
  apps/backend/src/data-marts/services/data-quality-run.service.ts
  apps/backend/src/data-marts/services/data-quality-summary.service.spec.ts
  apps/backend/src/data-marts/services/data-quality-summary.service.ts
  apps/backend/src/data-marts/use-cases/cancel-data-mart-run.service.spec.ts
  apps/backend/src/data-marts/use-cases/cancel-data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): expose quality details in run history
  apps/backend/src/data-marts/controllers/data-quality.controller.spec.ts
  apps/backend/src/data-marts/controllers/data-quality.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-quality.api.ts
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/domain/data-quality.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-runs-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-quality-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/data-quality-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/project-data-mart-runs-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/mappers/data-quality-api.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-quality-api.mapper.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/data-quality-api.service.spec.ts
  apps/backend/src/data-marts/services/data-quality-api.service.ts
  apps/backend/src/data-marts/use-cases/get-data-mart-run.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/list-project-data-mart-runs.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): load quality results from run history
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.test.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.test.tsx
  apps/web/src/features/data-marts/data-quality/model/types.ts
  apps/web/src/features/data-marts/data-quality/model/use-data-quality-workspace.test.tsx
  apps/web/src/features/data-marts/data-quality/model/use-data-quality-workspace.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/DataQualityRunHistoryDetails.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.test.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.test.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/reducer.test.ts
  apps/web/src/features/data-marts/edit/model/context/reducer.ts
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/edit/model/helpers/find-terminal-tracked-manual-connector-run.helper.test.ts
  apps/web/src/features/data-marts/edit/model/helpers/find-terminal-tracked-manual-connector-run.helper.ts
  apps/web/src/features/data-marts/edit/model/hooks/use-data-mart.ts
  apps/web/src/features/data-marts/edit/model/hooks/use-manual-connector-run-completion.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-manual-connector-run-completion.ts
  apps/web/src/features/data-marts/edit/model/hooks/use-tracked-manual-connector-run.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-tracked-manual-connector-run.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.test.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-run.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.test.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-run.response.dto.ts
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.test.tsx
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.tsx
  apps/web/src/pages/data-marts/shared/projectDataMartContext.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add field checks through explicit selection
  apps/web/e2e/specs/datamart-tabs.spec.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.test.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/components/DataQualityFieldChecks.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityFieldChecks.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityFieldPicker.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityFieldPicker.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityRuleEditor.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityWorkspace.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityWorkspace.tsx
  apps/web/src/features/data-marts/data-quality/components/index.ts
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.test.ts
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.ts
  apps/web/src/features/data-marts/data-quality/model/types.ts
  apps/web/src/features/data-marts/data-quality/model/use-data-quality-workspace.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.test.tsx
  apps/web/src/features/data-marts/list/components/RunDataQualityBatchDialog/RunDataQualityBatchDialog.test.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Fixes after the self review.
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationListRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationOneOfRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
Due: none

docs(api): narrow markdown parser coverage changes
  apps/backend/src/data-marts/controllers/model-canvas.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/project-data-mart-runs.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/project-insight-templates.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/project-setup-progress.controller.openapi.spec.ts
  apps/backend/src/project-settings/controllers/project-settings.controller.openapi.spec.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/coverage.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(api): add Markdown parser client support (#1446)
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/markdown-parser.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/markdown-parser.controller.ts
  apps/backend/src/data-marts/controllers/spec/markdown-parser.api.ts
  apps/backend/src/data-marts/dto/presentation/markdown-parse-request-api.dto.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/api-client.md
  docs/api/coverage.md
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/api-client/src/markdown.test.ts
  packages/api-client/src/markdown.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@b097a3decfacebccfece7f9061a886850c4694f1 🚀
  docs/api/api-client/index.html
  docs/api/coverage/index.html
  pagefind/fragment/en_47e7c85.pf_fragment
  pagefind/fragment/en_47edfa8.pf_fragment
  pagefind/fragment/en_88ec514.pf_fragment
  pagefind/fragment/en_c6995ea.pf_fragment
  pagefind/index/en_184da0b.pf_index
  pagefind/index/en_2648026.pf_index
  pagefind/index/en_2981312.pf_index
  pagefind/index/en_2fcbfee.pf_index
  pagefind/index/en_344e33c.pf_index
  pagefind/index/en_384a020.pf_index
  pagefind/index/en_3aae214.pf_index
  pagefind/index/en_4d5d247.pf_index
  pagefind/index/en_4e131cb.pf_index
  pagefind/index/en_64a60cb.pf_index
  pagefind/index/en_6c5410c.pf_index
  pagefind/index/en_6ef8fc6.pf_index
  pagefind/index/en_83d15a0.pf_index
  pagefind/index/en_8eefa9a.pf_index
  pagefind/index/en_95a7728.pf_index
  pagefind/index/en_96bb4ea.pf_index
  pagefind/index/en_a5f24b8.pf_index
  pagefind/index/en_a85ee23.pf_index
  pagefind/index/en_c3a9357.pf_index
  pagefind/index/en_dbdf4f3.pf_index
  pagefind/index/en_e24dd9a.pf_index
  pagefind/index/en_edd184c.pf_index
  pagefind/index/en_eecfef7.pf_index
  pagefind/index/en_fcbfc4d.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1bba7cf8fe.pf_meta
  pagefind/pagefind.en_901ad04ba2.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(data-marts): HTTP Data streaming on report level (#6759)
  .changeset/6759-http-data-report-level.md
  apps/backend/src/data-marts/controllers/external/http-data.controller.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.openapi.spec.ts
  apps/backend/src/data-marts/dto/domain/stream-http-report-data.command.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.ts
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.ts
  apps/backend/src/data-marts/mappers/http-data.mapper.spec.ts
  apps/backend/src/data-marts/mappers/http-data.mapper.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/http-data/http-data-request-validator.service.spec.ts
  apps/backend/src/data-marts/services/http-data/http-data-request-validator.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/test/http-data-report-cross-project.e2e-spec.ts
  apps/backend/test/http-data.e2e-spec.ts
  docs/api/openapi.md
  packages/api-client/src/auth.ts
  packages/api-client/src/client.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/destinations.ts
  packages/api-client/src/index.ts
  packages/api-client/src/reports.test.ts
  packages/api-client/src/reports.ts
  packages/api-client/src/storages.ts
  packages/api-client/src/traversal.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(api): cover auth context surface
  .changeset/api-surface-maintenance.md
  apps/backend/src/idp/controllers/auth-context.controller.openapi.spec.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/coverage.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-quality): remove table-level freshness checks
  apps/backend/src/data-marts/data-quality/data-quality-check-compiler.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-check-compiler.ts
  apps/backend/src/data-marts/data-quality/data-quality-query-executor.service.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-query-executor.service.ts
  apps/backend/src/data-marts/data-quality/data-quality-result-parser.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-result-parser.ts
  apps/backend/src/data-marts/data-quality/data-quality-sql-dialect.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-sql-dialect.ts
  apps/backend/src/data-marts/dto/schemas/data-quality/data-quality-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/data-quality/data-quality-config.schema.ts
  apps/backend/src/data-marts/dto/schemas/data-quality/data-quality-run.schema.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/entities/data-quality-entities.spec.ts
  apps/backend/src/data-marts/services/data-quality-config-resolver.spec.ts
  apps/backend/src/data-marts/services/data-quality-config-resolver.ts
  apps/backend/src/data-marts/services/data-quality-run.service.ts
  apps/backend/src/data-marts/services/data-quality-summary.service.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/components/DataQualityWorkspace.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityWorkspace.tsx
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.test.ts
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): show data quality issue counters on model canvas
  apps/web/src/features/data-marts/model-canvas/components/DataQualityCanvasStatusIcon.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/DataQualityCanvasStatusIcon.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
Due: none

test(docs): remove redundant auth coverage test
  apps/docs/scripts/api-coverage-matrix.test.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(api): clarify API key binding header
  apps/backend/src/idp/controllers/auth-context.controller.openapi.spec.ts
  apps/backend/src/idp/controllers/auth-context.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(api): cover auth context surface (#1451)
  .changeset/api-surface-maintenance.md
  apps/backend/src/idp/controllers/auth-context.controller.openapi.spec.ts
  apps/backend/src/idp/controllers/auth-context.controller.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  docs/api/coverage.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@a64abfd6fc4a4d8803280d95b0e442b82605a659 🚀
  docs/api/coverage/index.html
  pagefind/fragment/en_144a37b.pf_fragment
  pagefind/fragment/en_47e7c85.pf_fragment
  pagefind/index/en_184da0b.pf_index
  pagefind/index/en_2fcbfee.pf_index
  pagefind/index/en_344e33c.pf_index
  pagefind/index/en_384a020.pf_index
  pagefind/index/en_3be8b6e.pf_index
  pagefind/index/en_56e18bd.pf_index
  pagefind/index/en_632fd41.pf_index
  pagefind/index/en_64a60cb.pf_index
  pagefind/index/en_83d15a0.pf_index
  pagefind/index/en_8eefa9a.pf_index
  pagefind/index/en_95a7728.pf_index
  pagefind/index/en_96bb4ea.pf_index
  pagefind/index/en_986f076.pf_index
  pagefind/index/en_9f4e13e.pf_index
  pagefind/index/en_c3a9357.pf_index
  pagefind/index/en_cd8a278.pf_index
  pagefind/index/en_d62f5b5.pf_index
  pagefind/index/en_d9b123b.pf_index
  pagefind/index/en_dbdf4f3.pf_index
  pagefind/index/en_e1b3915.pf_index
  pagefind/index/en_e69a871.pf_index
  pagefind/index/en_eecfef7.pf_index
  pagefind/index/en_f0842dd.pf_index
  pagefind/index/en_f75d4ca.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1bba7cf8fe.pf_meta
  pagefind/pagefind.en_e4fd81d68e.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(api): centralize OpenAPI auth contract
  .changeset/api-surface-maintenance.md
  apps/backend/src/config/swagger.config.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/idp/controllers/auth-context.controller.openapi.spec.ts
  apps/backend/src/idp/controllers/auth-context.controller.ts
  apps/backend/src/idp/decorators/auth.decorator.openapi.spec.ts
  apps/backend/src/idp/decorators/auth.decorator.ts
  apps/backend/src/idp/decorators/reject-api-key-auth.decorator.ts
  apps/backend/src/idp/dto/presentation/auth-context-response-api.dto.ts
  apps/backend/src/idp/openapi/authentication.openapi.ts
  apps/backend/src/project-member-api-keys/controllers/api-key-exchange.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-quality): refine checks configuration and run details
  apps/backend/src/data-marts/services/data-quality-run.service.spec.ts
  apps/backend/src/data-marts/services/data-quality-run.service.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.test.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/components/DataQualityCompactStatusLink.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityCompactStatusLink.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityFieldChecks.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityFieldChecks.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityFieldPicker.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityFieldPicker.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityRuleEditor.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityRuleEditor.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualitySummaryPanel.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualitySummaryPanel.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityWorkspace.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityWorkspace.tsx
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.test.ts
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.ts
  apps/web/src/features/data-marts/data-quality/model/use-data-quality-workspace.test.tsx
  apps/web/src/features/data-marts/data-quality/model/use-data-quality-workspace.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/DataQualityRunHistoryDetails.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/DataQualityRunHistoryDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/model-canvas/components/DataQualityCanvasStatusIcon.test.tsx
  apps/web/src/features/data-marts/shared/utils/data-quality-status.ts
  apps/web/src/pages/data-marts/edit/DataMartQualityContent.tsx
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.test.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeader.tsx
  apps/web/src/shared/components/Combobox/combobox.tsx
  packages/ui/src/styles/globals.css
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api): reject API keys for OAuth-only routes
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/connector.controller.ts
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/oauth-flow-only.controller.spec.ts
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/coverage.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-quality): remove redundant failed summary counter
  apps/web/src/features/data-marts/data-quality/components/DataQualitySummaryPanel.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualitySummaryPanel.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/DataQualityRunHistoryDetails.test.tsx
Due: none

docs: clarify OAuth auth migration scope
  .changeset/api-surface-maintenance.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changesets for Google Sheets extension fixes (#6679, #6739)
  .changeset/6679-data-mart-details-states.md
  .changeset/6739-extension-report-error-recovery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changesets for Google Sheets extension fixes (#6679, #6739) (#1454)
  .changeset/6679-data-mart-details-states.md
  .changeset/6739-extension-report-error-recovery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): address PR review — CSV quoting for in-lists, sliceCategory, schema-level homogeneity, layering
  apps/backend/src/data-marts/dto/schemas/field-type-category.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/field-type-matrix.spec.ts
  apps/backend/src/ee/mcp/tools/field-type-matrix.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
  apps/web/src/features/data-marts/shared/types/output-config.test.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api): derive auth roles from protocol
  apps/backend/src/idp/dto/presentation/auth-context-response-api.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(api): guard OAuth route scope invariants
  apps/backend/src/data-marts/controllers/oauth-flow-only.controller.spec.ts
  apps/docs/scripts/api-coverage-matrix.test.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-quality): simplify batch quality confirmation
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.test.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/RunDataQualityBatchDialog/RunDataQualityBatchDialog.test.tsx
  apps/web/src/features/data-marts/list/components/RunDataQualityBatchDialog/RunDataQualityBatchDialog.tsx
Due: none

feat(data-quality): hide quality column from data mart list
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.test.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
Due: none

fix(api): centralize OpenAPI auth contract (#1452)
  .changeset/api-surface-maintenance.md
  apps/backend/src/config/swagger.config.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/idp/controllers/auth-context.controller.openapi.spec.ts
  apps/backend/src/idp/controllers/auth-context.controller.ts
  apps/backend/src/idp/decorators/auth.decorator.openapi.spec.ts
  apps/backend/src/idp/decorators/auth.decorator.ts
  apps/backend/src/idp/decorators/reject-api-key-auth.decorator.ts
  apps/backend/src/idp/dto/presentation/auth-context-response-api.dto.ts
  apps/backend/src/idp/openapi/authentication.openapi.ts
  apps/backend/src/project-member-api-keys/controllers/api-key-exchange.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: prefix the changeset with the task number (6761)
  .changeset/6761-mcp-query-field-type-matrix.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api): reject API keys for OAuth-only routes (#1453)
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/connector.controller.ts
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/oauth-flow-only.controller.spec.ts
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/coverage.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@44d89941a37207d4a0e18a9db6b083b3d534e077 🚀
  docs/api/coverage/index.html
  pagefind/fragment/en_144a37b.pf_fragment
  pagefind/fragment/en_7fb0d7d.pf_fragment
  pagefind/index/en_1141688.pf_index
  pagefind/index/en_1d040fe.pf_index
  pagefind/index/en_3475fc9.pf_index
  pagefind/index/en_3be8b6e.pf_index
  pagefind/index/en_414d2cd.pf_index
  pagefind/index/en_512e9d4.pf_index
  pagefind/index/en_5370bd2.pf_index
  pagefind/index/en_56e18bd.pf_index
  pagefind/index/en_632fd41.pf_index
  pagefind/index/en_6a2d932.pf_index
  pagefind/index/en_6d60ff3.pf_index
  pagefind/index/en_986f076.pf_index
  pagefind/index/en_9f4e13e.pf_index
  pagefind/index/en_b39572b.pf_index
  pagefind/index/en_c8b3436.pf_index
  pagefind/index/en_cd8a278.pf_index
  pagefind/index/en_d62f5b5.pf_index
  pagefind/index/en_d9b123b.pf_index
  pagefind/index/en_dd213af.pf_index
  pagefind/index/en_e1b3915.pf_index
  pagefind/index/en_e69a871.pf_index
  pagefind/index/en_f0842dd.pf_index
  pagefind/index/en_f75d4ca.pf_index
  pagefind/index/en_fa94996.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_29221ca45d.pf_meta
  pagefind/pagefind.en_e4fd81d68e.pf_meta
Due: prettier --write --config ./prettier.config.js
