Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

Self-review
  .changeset/6871-linkedin-ads-adanalytics-truncation.md
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/test/Sources/LinkedInAds/perDayCheckpoint.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(linkedin-ads): aggregate truncation warnings per account and use UTC dates
  .changeset/6871-linkedin-ads-adanalytics-truncation.md
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/test/Sources/LinkedInAds/Source.test.js
  packages/connectors/test/Sources/LinkedInAds/perDayCheckpoint.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

кefactor(web): Data Mart ModelCanvasView and related components for improved structure and functionality
  .changeset/6835-datamarts-canvas-and-navigation-polish.md
  apps/web/e2e/selectors/testids.ts
  apps/web/e2e/specs/datamart-list.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasExportMenu.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasExportMenu.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasStorageSelect.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasStorageSelect.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/export/index.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas-filters.ts
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  apps/web/src/features/data-marts/shared/canvas/constants.ts
  apps/web/src/features/data-marts/shared/canvas/definition-type-accent.ts
  apps/web/src/features/data-marts/shared/canvas/erd-card.tsx
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/DataMartBulkActions.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/DataMartBulkActions.tsx
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/index.ts
  apps/web/src/features/data-marts/shared/utils/data-quality-status.ts
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.test.tsx
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.tsx
  apps/web/src/pages/data-marts/model-canvas/ModelCanvasPage.test.tsx
  apps/web/src/pages/data-marts/model-canvas/ModelCanvasPage.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.test.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.tsx
  apps/web/src/pages/data-marts/shared/ProjectDataMartSectionHeader.tsx
  apps/web/src/pages/data-marts/shared/ProjectDataMartTitleLink.tsx
  apps/web/src/shared/components/Combobox/combobox.tsx
  packages/ui/src/styles/globals.css
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): polish Model Canvas and Data Mart navigation, improve UI elements and accessibility
  .changeset/6835-datamarts-canvas-and-navigation-polish.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  apps/web/src/features/data-marts/shared/canvas/constants.ts
  apps/web/src/features/data-marts/shared/utils/data-quality-status.ts
  apps/web/src/pages/data-marts/model-canvas/ModelCanvasPage.tsx
  apps/web/src/pages/data-marts/shared/ProjectDataMartSectionHeader.tsx
  packages/ui/src/styles/globals.css
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@3f5b6e636dde6f2ccb4540fc47c60af7ba50fd67 🚀
  packages/connectors/src/sources/linked-in-ads/getting-started/index.html
  pagefind/fragment/en_2dd42cf.pf_fragment
  pagefind/fragment/en_d018dc3.pf_fragment
  pagefind/index/en_2936cfd.pf_index
  pagefind/index/en_295b323.pf_index
  pagefind/index/en_2c9c369.pf_index
  pagefind/index/en_2e15393.pf_index
  pagefind/index/en_3bc085a.pf_index
  pagefind/index/en_46dd989.pf_index
  pagefind/index/en_4fff675.pf_index
  pagefind/index/en_5a12cd5.pf_index
  pagefind/index/en_62bae2d.pf_index
  pagefind/index/en_6925727.pf_index
  pagefind/index/en_6b32534.pf_index
  pagefind/index/en_73e4c1a.pf_index
  pagefind/index/en_7a6fccb.pf_index
  pagefind/index/en_7f38657.pf_index
  pagefind/index/en_84b035b.pf_index
  pagefind/index/en_894adb5.pf_index
  pagefind/index/en_a9ffec2.pf_index
  pagefind/index/en_c3f2f74.pf_index
  pagefind/index/en_c4e014c.pf_index
  pagefind/index/en_cbb7daa.pf_index
  pagefind/index/en_d24b3a1.pf_index
  pagefind/index/en_d3ba568.pf_index
  pagefind/index/en_ea25ab2.pf_index
  pagefind/index/en_ea6fe1e.pf_index
  pagefind/index/en_ee79ba7.pf_index
  pagefind/index/en_f0f4ae9.pf_index
  pagefind/index/en_f461401.pf_index
  pagefind/index/en_f5859a1.pf_index
  pagefind/index/en_f7a355b.pf_index
  pagefind/index/en_fa1a236.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_42eb70d9aa.pf_meta
  pagefind/pagefind.en_c864bca7fd.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@93ed7eabb9a6bfd5f014a3b095a5f18c0b5443bb 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_279eafc.pf_fragment
  pagefind/fragment/en_28f9896.pf_fragment
  pagefind/index/en_19b90e5.pf_index
  pagefind/index/en_2582d1c.pf_index
  pagefind/index/en_295b323.pf_index
  pagefind/index/en_2c9c369.pf_index
  pagefind/index/en_2e15393.pf_index
  pagefind/index/en_3bc085a.pf_index
  pagefind/index/en_4093348.pf_index
  pagefind/index/en_463cedc.pf_index
  pagefind/index/en_46dd989.pf_index
  pagefind/index/en_5a12cd5.pf_index
  pagefind/index/en_5c40158.pf_index
  pagefind/index/en_5cee61d.pf_index
  pagefind/index/en_6227e34.pf_index
  pagefind/index/en_67859ba.pf_index
  pagefind/index/en_73e4c1a.pf_index
  pagefind/index/en_894adb5.pf_index
  pagefind/index/en_8db42f4.pf_index
  pagefind/index/en_9beec01.pf_index
  pagefind/index/en_a5261b5.pf_index
  pagefind/index/en_a9ffec2.pf_index
  pagefind/index/en_af3c58d.pf_index
  pagefind/index/en_cff41b2.pf_index
  pagefind/index/en_d24b3a1.pf_index
  pagefind/index/en_e887efa.pf_index
  pagefind/index/en_ea6fe1e.pf_index
  pagefind/index/en_ec309bd.pf_index
  pagefind/index/en_f0f4ae9.pf_index
  pagefind/index/en_f461401.pf_index
  pagefind/index/en_f7a355b.pf_index
  pagefind/index/en_fa1a236.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_b09e50cd40.pf_meta
  pagefind/pagefind.en_c864bca7fd.pf_meta
Due: prettier --write --config ./prettier.config.js

fix: fail closed for user-bound redirects
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.user-bound-redirect.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(bigquery): retry transient query failures instead of failing the run
  .changeset/6887-bigquery-retry-transient-merge-errors.md
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Core/Utils/AsyncUtils.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/README.md
  packages/connectors/test/Core/AsyncUtils.test.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): update an existing report instead of creating duplicates
  .changeset/6847-mcp-report-tool-improvements.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/sheet-title.util.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/google-sheets/add-google-sheet-to-spreadsheet.command.ts
  apps/backend/src/data-marts/dto/domain/google-sheets/added-google-sheet.dto.ts
  apps/backend/src/data-marts/facades/mcp-report-output-controls.spec.ts
  apps/backend/src/data-marts/facades/mcp-report-output-controls.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/data-marts/use-cases/google-sheets/add-google-sheet-to-spreadsheet.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/add-google-sheet-to-spreadsheet.service.ts
  apps/backend/src/data-marts/use-cases/google-sheets/reconnect-google-sheet.service.ts
  apps/backend/src/ee/mcp/instructions/mcp-instructions.service.spec.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.ts
  apps/backend/src/ee/mcp/tools/report-output-controls-output.ts
  apps/backend/src/ee/mcp/tools/report-run-outcome.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): compare report field selections as sets
  apps/backend/src/data-marts/facades/mcp-report-output-controls.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): address review on similar-report error and update re-run default
  .changeset/6847-mcp-report-tool-improvements.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/instructions/mcp-instructions.service.spec.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): mark update_report open-world and close review findings
  .changeset/6847-mcp-report-tool-improvements.md
  apps/backend/src/data-marts/facades/mcp-report-output-controls.spec.ts
  apps/backend/src/data-marts/facades/mcp-report-output-controls.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/use-cases/google-sheets/add-google-sheet-to-spreadsheet.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/add-google-sheet-to-spreadsheet.service.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/report-output-controls-input.ts
  apps/backend/src/ee/mcp/tools/report-output-controls-output.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): keep UI-only filter rules and tighten report reuse checks
  .changeset/6847-mcp-report-tool-improvements.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api-adapter.factory.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/dto/domain/google-sheets/add-google-sheet-to-spreadsheet.command.ts
  apps/backend/src/data-marts/dto/domain/google-sheets/added-google-sheet.dto.ts
  apps/backend/src/data-marts/facades/mcp-report-output-controls.spec.ts
  apps/backend/src/data-marts/facades/mcp-report-output-controls.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/data-marts/use-cases/google-sheets/add-google-sheet-to-spreadsheet.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/add-google-sheet-to-spreadsheet.service.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  apps/backend/src/ee/mcp/tools/report-output-controls-output.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(bigquery): resubmit the statement when the job fails during execution
  .changeset/6887-bigquery-retry-transient-merge-errors.md
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/README.md
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add MCP query step to project setup progress
  .changeset/6798-setup-checklist-mcp-step.md
  apps/backend/src/data-marts/controllers/project-setup-progress.controller.openapi.spec.ts
  apps/backend/src/data-marts/dto/domain/project-setup-steps.interface.ts
  apps/backend/src/data-marts/dto/presentation/project-setup-progress-response-api.dto.ts
  apps/backend/src/data-marts/events/mcp-query-completed-successfully.event.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/project-setup-progress-listener.service.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.spec.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.ts
  apps/web/src/components/AppSidebar/SetupChecklist/ConnectAiAssistantAction.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/items.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/types.ts
  apps/web/src/components/AppSidebar/SetupChecklist/useSetupProgress.ts
  apps/web/src/shared/icons/chat-gpt-icon.tsx
  apps/web/src/shared/icons/claude-icon.tsx
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  packages/api-client/src/project-setup-progress.test.ts
  packages/api-client/src/project.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: enhance setup checklist and progress handling for AI assistant integration
  .changeset/6798-setup-checklist-mcp-step.md
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/project-setup-progress-listener.service.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.spec.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.ts
  apps/web/src/components/AppSidebar/SetupChecklist/items.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/useSetupProgress.ts
  apps/web/src/shared/icons/chat-gpt-icon.tsx
  packages/api-client/src/project-setup-progress.test.ts
  packages/api-client/src/project.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(bigquery): ask the job whether it failed instead of inferring it from the error
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@75f9d94211902458c8fec88ecebe5b6163e80126 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_28f9896.pf_fragment
  pagefind/fragment/en_634e88e.pf_fragment
  pagefind/index/en_19b90e5.pf_index
  pagefind/index/en_20e1374.pf_index
  pagefind/index/en_2582d1c.pf_index
  pagefind/index/en_2988257.pf_index
  pagefind/index/en_2e6db0e.pf_index
  pagefind/index/en_4093348.pf_index
  pagefind/index/en_45696c8.pf_index
  pagefind/index/en_463cedc.pf_index
  pagefind/index/en_4968599.pf_index
  pagefind/index/en_4adacc7.pf_index
  pagefind/index/en_5c40158.pf_index
  pagefind/index/en_5cee61d.pf_index
  pagefind/index/en_6227e34.pf_index
  pagefind/index/en_67859ba.pf_index
  pagefind/index/en_7e49125.pf_index
  pagefind/index/en_8db42f4.pf_index
  pagefind/index/en_98d5c5d.pf_index
  pagefind/index/en_9beec01.pf_index
  pagefind/index/en_a5261b5.pf_index
  pagefind/index/en_af3c58d.pf_index
  pagefind/index/en_b3148c8.pf_index
  pagefind/index/en_c1e1b4c.pf_index
  pagefind/index/en_cd671cc.pf_index
  pagefind/index/en_cff41b2.pf_index
  pagefind/index/en_e261435.pf_index
  pagefind/index/en_e887efa.pf_index
  pagefind/index/en_ec309bd.pf_index
  pagefind/index/en_ef99e59.pf_index
  pagefind/index/en_fece2f1.pf_index
  pagefind/index/en_ff21b14.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_53f3a429a9.pf_meta
  pagefind/pagefind.en_b09e50cd40.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@6457d341ec358f8a0743f4a31615df0613883564 🚀
  packages/connectors/src/storages/google-big-query/readme/index.html
  pagefind/fragment/en_45abe0b.pf_fragment
  pagefind/fragment/en_fd2027b.pf_fragment
  pagefind/index/en_20d9a73.pf_index
  pagefind/index/en_20e1374.pf_index
  pagefind/index/en_2112c34.pf_index
  pagefind/index/en_2988257.pf_index
  pagefind/index/en_2e6db0e.pf_index
  pagefind/index/en_3a439f9.pf_index
  pagefind/index/en_43d0ed2.pf_index
  pagefind/index/en_45696c8.pf_index
  pagefind/index/en_4968599.pf_index
  pagefind/index/en_4adacc7.pf_index
  pagefind/index/en_4bdbc85.pf_index
  pagefind/index/en_5d4680c.pf_index
  pagefind/index/en_7e49125.pf_index
  pagefind/index/en_814d621.pf_index
  pagefind/index/en_98d5c5d.pf_index
  pagefind/index/en_9d27d10.pf_index
  pagefind/index/en_b3148c8.pf_index
  pagefind/index/en_b7d5735.pf_index
  pagefind/index/en_c19445c.pf_index
  pagefind/index/en_c1e1b4c.pf_index
  pagefind/index/en_cd671cc.pf_index
  pagefind/index/en_d6c09dc.pf_index
  pagefind/index/en_dd60eab.pf_index
  pagefind/index/en_e261435.pf_index
  pagefind/index/en_e4c6881.pf_index
  pagefind/index/en_e968fb3.pf_index
  pagefind/index/en_e96d2d3.pf_index
  pagefind/index/en_ef99e59.pf_index
  pagefind/index/en_fece2f1.pf_index
  pagefind/index/en_ff21b14.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4bcadf36e4.pf_meta
  pagefind/pagefind.en_53f3a429a9.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(canvas): prevent full-page errors in Model Canvas for larger data models
  .changeset/6835-fix-canvas.md
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/shared/canvas/dagre-layout.test.ts
  apps/web/src/features/data-marts/shared/canvas/dagre-layout.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: prevent truncated Data Studio responses
  .changeset/6886-data-studio-large-response-truncation.md
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

(docs) Fixes and improvements
  apps/docs/data/meta-content.csv
  packages/connectors/package.json
  packages/connectors/scripts/generate-tiktok-fields-doc.mjs
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/TikTokAds/TROUBLESHOOTING.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: handle Data Studio stream write failures
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test: stabilize Data Studio stream failure regression
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Docs improvements
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: surface Data Studio schema query errors
  .changeset/6919-data-studio-schema-query-errors.md
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/test/looker-studio-connector.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Docs fixes and edits
  packages/connectors/scripts/generate-tiktok-fields-doc.mjs
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/README.md
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/TikTokAds/TROUBLESHOOTING.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): report stale output-control rules consistently and degrade sort on runs
  apps/backend/src/data-marts/errors/disconnected-report-columns.error.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/known-output-columns.util.spec.ts
  apps/backend/src/data-marts/services/known-output-columns.util.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.ts
  apps/backend/test/output-controls.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: describe sort rules by query shape and the pruning of rules on unchecked columns
  .changeset/6768-output-controls-stale-rules.md
  docs/getting-started/setup-guide/output-controls.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): prune the rules set on a column when it is unchecked in the report picker
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-cleanup.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-cleanup.ts
  apps/web/src/shared/utils/showApiErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: wrap Data Mart read failures at the cached-reader boundary
  .changeset/6919-data-studio-schema-query-errors.md
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/errors/data-mart-read-failed.error.ts
  apps/backend/src/data-marts/services/report-data-cache.service.spec.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/test/looker-studio-connector.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): link the OWOX add-in for Excel from the empty reports state
  .changeset/6940-excel-add-in-link.md
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/ExcelDescription.tsx
  apps/web/src/features/data-marts/reports/list/components/ReportsTable/ReportsTable.test.tsx
  apps/web/src/features/data-marts/reports/list/components/ReportsTable/ReportsTable.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): allow editing draft joins
  .changeset/6905-edit-draft-joins.md
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/dto/domain/get-blendable-schema.command.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/use-cases/get-blendable-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-blendable-schema.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/shared/hooks/useBlendableSchema.ts
  apps/web/src/features/data-marts/shared/services/data-mart-relationship.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(excel): replace manifest install with Office Add-ins store guide
  apps/docs/data/meta-content.csv
  docs/destinations/supported-destinations/microsoft-excel.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(excel): leave meta-content.csv unchanged
  apps/docs/data/meta-content.csv
Due: none

Update microsoft-excel.md
  docs/destinations/supported-destinations/microsoft-excel.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@6de48159997670e5388ea928caa5b92e12db32dd 🚀
  docs/destinations/supported-destinations/microsoft-excel/index.html
  pagefind/fragment/en_5da75e3.pf_fragment
  pagefind/fragment/en_84d8d3d.pf_fragment
  pagefind/index/en_20d9a73.pf_index
  pagefind/index/en_2112c34.pf_index
  pagefind/index/en_2bce1a6.pf_index
  pagefind/index/en_3a439f9.pf_index
  pagefind/index/en_43d0ed2.pf_index
  pagefind/index/en_45ed534.pf_index
  pagefind/index/en_4b6e8b6.pf_index
  pagefind/index/en_4bdbc85.pf_index
  pagefind/index/en_54468a4.pf_index
  pagefind/index/en_551cae3.pf_index
  pagefind/index/en_5b7b3c4.pf_index
  pagefind/index/en_5d4680c.pf_index
  pagefind/index/en_6b3f1b2.pf_index
  pagefind/index/en_814d621.pf_index
  pagefind/index/en_8475722.pf_index
  pagefind/index/en_97d1ce3.pf_index
  pagefind/index/en_9d27d10.pf_index
  pagefind/index/en_a555a4d.pf_index
  pagefind/index/en_ae91acb.pf_index
  pagefind/index/en_b7d5735.pf_index
  pagefind/index/en_c19445c.pf_index
  pagefind/index/en_d4df6f9.pf_index
  pagefind/index/en_d6c09dc.pf_index
  pagefind/index/en_d7279ee.pf_index
  pagefind/index/en_dd60eab.pf_index
  pagefind/index/en_dfad461.pf_index
  pagefind/index/en_e4c6881.pf_index
  pagefind/index/en_e7bf1d7.pf_index
  pagefind/index/en_e968fb3.pf_index
  pagefind/index/en_e96d2d3.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1ae8e37238.pf_meta
  pagefind/pagefind.en_4bcadf36e4.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(data-marts): keep output schema field connection statuses server-owned
  .changeset/6935-output-schema-field-connection-status.md
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.type.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/dto/domain/update-data-mart-schema.command.ts
  apps/backend/src/data-marts/dto/presentation/update-data-mart-schema-api.dto.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.ts
  apps/backend/test/blended-output-controls.e2e-spec.ts
  apps/backend/test/formula-live-validation.e2e-spec.ts
  apps/backend/test/http-data.e2e-spec.ts
  apps/backend/test/output-controls-databricks-emission.e2e-spec.ts
  apps/backend/test/output-controls-emission.e2e-spec.ts
  apps/backend/test/output-controls-legacy-bq-emission.e2e-spec.ts
  apps/backend/test/output-controls-redshift-emission.e2e-spec.ts
  apps/backend/test/output-controls-snowflake-emission.e2e-spec.ts
  apps/backend/test/output-controls.e2e-spec.ts
  apps/backend/test/validation-schema.e2e-spec.ts
  apps/web/e2e/fixtures/api-helpers.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.test.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/request/update-data-mart-schema.request.dto.ts
  packages/test-utils/README.md
  packages/test-utils/src/helpers/index.ts
  packages/test-utils/src/helpers/set-data-mart-schema.ts
  packages/test-utils/src/helpers/setup-blended-report-prerequisites.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
