Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): add list_destinations MCP tool (#1376)
  .changeset/6706-mcp-list-destinations-tool.md
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/list-destinations.tool.spec.ts
  apps/backend/src/ee/mcp/tools/list-destinations.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@5f7dbcff98e5d56f30dc54844f37d9e4b3867f34 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_2c11a95.pf_fragment
  pagefind/fragment/en_b8d3828.pf_fragment
  pagefind/index/en_10f0817.pf_index
  pagefind/index/en_12d377d.pf_index
  pagefind/index/en_27736e2.pf_index
  pagefind/index/en_2b45ad4.pf_index
  pagefind/index/en_33d6239.pf_index
  pagefind/index/en_3c06ae1.pf_index
  pagefind/index/en_5db6e7e.pf_index
  pagefind/index/en_679e21d.pf_index
  pagefind/index/en_68e7779.pf_index
  pagefind/index/en_6ba7208.pf_index
  pagefind/index/en_6f2319d.pf_index
  pagefind/index/en_a058772.pf_index
  pagefind/index/en_a75cf3a.pf_index
  pagefind/index/en_ab6fe4a.pf_index
  pagefind/index/en_b0bbe26.pf_index
  pagefind/index/en_b2d476d.pf_index
  pagefind/index/en_c78add4.pf_index
  pagefind/index/en_c9c1c0f.pf_index
  pagefind/index/en_cb96408.pf_index
  pagefind/index/en_edc8ab4.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3b691857d3.pf_meta
  pagefind/pagefind.en_6dc82e8c34.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(mcp): add get_data_mart_reports MCP tool
  .changeset/6699-mcp-get-data-mart-reports.md
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.ts
  apps/backend/src/data-marts/facades/mcp-destination-type.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.ts
  apps/backend/src/ee/mcp/tools/list-destinations.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): add report run schedule tools
  .changeset/mcp-report-run-schedules.md
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/list-project-scheduled-triggers.command.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/list-project-scheduled-triggers.service.spec.ts
  apps/backend/src/data-marts/use-cases/list-project-scheduled-triggers.service.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/list-destinations.tool.ts
  apps/backend/src/ee/mcp/tools/list-report-run-schedules.tool.spec.ts
  apps/backend/src/ee/mcp/tools/list-report-run-schedules.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.definition.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/project-context.tool.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): validate report run trigger config
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.impl.spec.ts
  apps/backend/src/data-marts/scheduled-trigger-types/scheduled-trigger-config.guards.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): retry transient errors and clarify import failure logs
  .changeset/6714-criteo-ads-retry-and-error-logging.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/Shopify/Source.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): implement add_destination tool
  .env.example
  apps/backend/src/data-marts/controllers/data-destination.controller.spec.ts
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-destination.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/presentation/google-oauth/finish-mcp-google-sheets-setup-request.dto.ts
  apps/backend/src/data-marts/dto/presentation/google-oauth/finish-mcp-google-sheets-setup-response.dto.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.ts
  apps/backend/src/data-marts/services/google-oauth/google-oauth-flow.service.ts
  apps/backend/src/data-marts/services/google-oauth/mcp-destination-setup-token.service.spec.ts
  apps/backend/src/data-marts/services/google-oauth/mcp-destination-setup-token.service.ts
  apps/backend/src/data-marts/services/google-oauth/redirect-back-allowlist.service.spec.ts
  apps/backend/src/data-marts/services/google-oauth/redirect-back-allowlist.service.ts
  apps/backend/src/data-marts/use-cases/google-oauth/begin-mcp-google-sheets-setup.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-oauth/begin-mcp-google-sheets-setup.service.ts
  apps/backend/src/data-marts/use-cases/google-oauth/finish-mcp-google-sheets-setup.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-oauth/finish-mcp-google-sheets-setup.service.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/web/src/features/google-oauth/api/google-oauth-api.service.ts
  apps/web/src/features/google-oauth/pages/GoogleOAuthCallbackPage.test.tsx
  apps/web/src/features/google-oauth/pages/GoogleOAuthCallbackPage.tsx
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add mcp data mart details tool
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add mcp data mart details tool (#1375)
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@80f52a4f867d466a87a0dbf50539d5fe3a8e199f 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_2c11a95.pf_fragment
  pagefind/fragment/en_364456c.pf_fragment
  pagefind/index/en_1814443.pf_index
  pagefind/index/en_27736e2.pf_index
  pagefind/index/en_2b45ad4.pf_index
  pagefind/index/en_3c06ae1.pf_index
  pagefind/index/en_4766fbf.pf_index
  pagefind/index/en_48541ed.pf_index
  pagefind/index/en_63263db.pf_index
  pagefind/index/en_6781ae2.pf_index
  pagefind/index/en_855acc1.pf_index
  pagefind/index/en_9b91674.pf_index
  pagefind/index/en_a058772.pf_index
  pagefind/index/en_a75cf3a.pf_index
  pagefind/index/en_ab6fe4a.pf_index
  pagefind/index/en_b0bbe26.pf_index
  pagefind/index/en_b2d476d.pf_index
  pagefind/index/en_bc3d6f6.pf_index
  pagefind/index/en_c78add4.pf_index
  pagefind/index/en_c98422a.pf_index
  pagefind/index/en_c9c1c0f.pf_index
  pagefind/index/en_cd44b18.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3b691857d3.pf_meta
  pagefind/pagefind.en_837a68fc66.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(mcp): expose every report run schedule in get_data_mart_reports
  .changeset/6699-mcp-get-data-mart-reports.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): stable schedule ordering on equal creation time
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(mcp): address review feedback on get_data_mart_reports
  apps/backend/src/data-marts/facades/mcp-destination-type.spec.ts
  apps/backend/src/data-marts/facades/mcp-destination-type.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): add add_report MCP tool
  .changeset/6700-mcp-add-report.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-ui-path.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(criteo): scope retry and error logging to Criteo connector
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/Shopify/Source.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): retry transient errors and clarify import failure logs (#1379)
  .changeset/6714-criteo-ads-retry-and-error-logging.md
  packages/connectors/src/Sources/CriteoAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): add get_data_mart_reports MCP tool (#1377)
  .changeset/6699-mcp-get-data-mart-reports.md
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.ts
  apps/backend/src/data-marts/facades/mcp-destination-type.spec.ts
  apps/backend/src/data-marts/facades/mcp-destination-type.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.ts
  apps/backend/src/ee/mcp/tools/list-destinations.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

changeset renamed
  .changeset/6704-mcp-report-run-schedules.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): preserve report schedule update fields
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): add report run schedule tools
  .changeset/mcp-report-run-schedules.md
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/list-project-scheduled-triggers.command.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/list-project-scheduled-triggers.service.spec.ts
  apps/backend/src/data-marts/use-cases/list-project-scheduled-triggers.service.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.ts
  apps/backend/src/ee/mcp/tools/list-destinations.tool.ts
  apps/backend/src/ee/mcp/tools/list-report-run-schedules.tool.spec.ts
  apps/backend/src/ee/mcp/tools/list-report-run-schedules.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.definition.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/project-context.tool.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): add report run schedule tools (#1378)
  .changeset/6704-mcp-report-run-schedules.md
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/list-project-scheduled-triggers.command.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-scheduled-triggers.facade.ts
  apps/backend/src/data-marts/scheduled-trigger-types/scheduled-trigger-config.guards.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/list-project-scheduled-triggers.service.spec.ts
  apps/backend/src/data-marts/use-cases/list-project-scheduled-triggers.service.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.ts
  apps/backend/src/ee/mcp/tools/list-destinations.tool.ts
  apps/backend/src/ee/mcp/tools/list-report-run-schedules.tool.spec.ts
  apps/backend/src/ee/mcp/tools/list-report-run-schedules.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.definition.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/project-context.tool.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(mcp): document excluded-but-accessible source behavior on the run path
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): add query_data_mart tool
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.ts
  apps/backend/src/data-marts/dto/schemas/mcp-query-run-metadata.schema.ts
  apps/backend/src/data-marts/enums/data-mart-run-type.enum.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/consumption-tracking.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/mappers/mcp-error.mapper.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.spec.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.ts
  apps/backend/test/integration/query-data-mart-real.integration.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/ConfigurationView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/__tests__/ConfigurationView.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-run-type.enum.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(mcp): document query_data_mart + joined_fields, update data-sharing notes
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): query_data_mart fields UX + blended-field discovery
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): address second-round query_data_mart review
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.spec.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): address query_data_mart review — blocker + sanitized errors
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.spec.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): address code-review findings
  .changeset/6698-mcp-query-data-mart-tool.md
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/mappers/mcp-error.mapper.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): enforce published-state + hard byte cap on query_data_mart
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.spec.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): gate query_data_mart billing on the Run History write
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): add search data marts tool title
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.spec.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): add query_data_mart tool + blended-field discovery (#1384)
  .changeset/6698-mcp-query-data-mart-tool.md
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.ts
  apps/backend/src/data-marts/dto/schemas/mcp-query-run-metadata.schema.ts
  apps/backend/src/data-marts/enums/data-mart-run-type.enum.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/consumption-tracking.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/mappers/mcp-error.mapper.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.spec.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.ts
  apps/backend/test/integration/query-data-mart-real.integration.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/ConfigurationView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/__tests__/ConfigurationView.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-run-type.enum.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@f6805928998b8aff1561a07ba84343b64fc1624e 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_364456c.pf_fragment
  pagefind/fragment/en_fa5030e.pf_fragment
  pagefind/index/en_1814443.pf_index
  pagefind/index/en_1c12896.pf_index
  pagefind/index/en_1f65884.pf_index
  pagefind/index/en_4766fbf.pf_index
  pagefind/index/en_48541ed.pf_index
  pagefind/index/en_4ff4cae.pf_index
  pagefind/index/en_5277ec8.pf_index
  pagefind/index/en_63263db.pf_index
  pagefind/index/en_6781ae2.pf_index
  pagefind/index/en_6f456fc.pf_index
  pagefind/index/en_79c5e56.pf_index
  pagefind/index/en_855acc1.pf_index
  pagefind/index/en_9b91674.pf_index
  pagefind/index/en_a2444c2.pf_index
  pagefind/index/en_a83d588.pf_index
  pagefind/index/en_b658c47.pf_index
  pagefind/index/en_bb62965.pf_index
  pagefind/index/en_bc3d6f6.pf_index
  pagefind/index/en_c98422a.pf_index
  pagefind/index/en_cd44b18.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_837a68fc66.pf_meta
  pagefind/pagefind.en_99a244bcf2.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(mcp): add search data marts tool title (#1386)
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.spec.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): suffix the display alias of aggregated columns
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.ts
  apps/backend/src/data-marts/dto/schemas/aggregation-labels.spec.ts
  apps/backend/src/data-marts/dto/schemas/aggregation-labels.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): suffix the display alias of aggregated columns (#1387)
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.ts
  apps/backend/src/data-marts/dto/schemas/aggregation-labels.spec.ts
  apps/backend/src/data-marts/dto/schemas/aggregation-labels.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(mcp): address review feedback on add_report
  apps/backend/src/ee/mcp/tools/add-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): add add_report MCP tool (#1385)
  .changeset/6700-mcp-add-report.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-ui-path.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
