Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix(connectors): name the node and the fix for two custom connector run errors
  .changeset/6988-6-clearer-custom-connector-run-errors.md
  docs/connectors/connector-builder.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
  packages/connectors/tests/declarative/ManifestParser.test.js
  packages/connectors/tests/regression/storage-missing-selected-field.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): mark schedule updates as destructive
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): let a custom connector leave out today with incremental.endLagDays
  .changeset/6988-7-incremental-end-lag-days.md
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.ts
  apps/web/src/features/connector-builder/create/components/node/IncrementalEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/node/IncrementalEditor.tsx
  apps/web/src/features/connector-builder/shared/model/manifest.types.ts
  docs/connectors/connector-builder.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: accept SQL validation queries up to 16 MB
  .changeset/7040-widen-sql-dry-run-column.md
  apps/backend/src/data-marts/dto/presentation/sql-dry-run-request-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/sql-dry-run-request-api.dto.ts
  apps/backend/src/data-marts/entities/sql-dry-run-trigger.entity.ts
  apps/backend/src/migrations/1790830000000-widen-sql-dry-run-trigger-sql-column.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): refuse dateWindow only where a node has no window, and only while authoring
  .changeset/6988-6-clearer-custom-connector-run-errors.md
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.custom.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  docs/connectors/connector-builder.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): clamp Skip the last days to 30 and log where it cuts a backfill
  .changeset/6988-7-incremental-end-lag-days.md
  apps/web/src/features/connector-builder/create/components/node/IncrementalEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/node/IncrementalEditor.tsx
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(athena): clean up query results when the output bucket names a folder
  .changeset/7042-athena-output-bucket-folder.md
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/s3-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/s3-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/athena/utils/athena-output-location.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/utils/athena-output-location.util.ts
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.test.ts
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.ts
  docs/storages/supported-storages/aws-athena.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): state the user-visible outcome without the 16 MB claim
  .changeset/7040-widen-sql-dry-run-column.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(connectors): say isTimeSeries alone gives a node no date window
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(google-sheets): retry temporary Google errors and name the failed step
  .changeset/6943-google-sheets-temporary-errors.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/errors/google-sheets-api-call.error.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: add the Data Owner demo video to the release note
  .changeset/7023-data-owner-naming.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(google-sheets): explain Google Sheets errors instead of retrying them
  .changeset/6943-google-sheets-error-details.md
  .changeset/6943-google-sheets-temporary-errors.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/errors/google-sheets-api-call.error.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(google-sheets): explain unfinished Google Sheets updates in plain words
  .changeset/6943-google-sheets-error-details.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/errors/google-sheets-api-call.error.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(changeset): combine the custom connector follow-ups into one changeset
  .changeset/6988-1-connector-error-messages.md
  .changeset/6988-2-empty-run-loaded-rows.md
  .changeset/6988-3-node-name-rules.md
  .changeset/6988-5-rate-limit-retry-after.md
  .changeset/6988-6-clearer-custom-connector-run-errors.md
  .changeset/6988-7-incremental-end-lag-days.md
  .changeset/6988-custom-connector-follow-ups.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(athena): say which query results are deleted
  .changeset/7042-athena-output-bucket-folder.md
  docs/storages/supported-storages/aws-athena.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changelog): add the 0.37.0 what's-new video
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@1b27c109458314443e30fe73b549afc0d2a4531d 🚀
  docs/changelog/index.html
Due: none

fix(deps): resolve audit vulnerabilities in basic-ftp, devalue, http-cache-semantics and serialize-javascript
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

fix(google-sheets): advise iterative calculation only for intentional circular references
  .changeset/6943-google-sheets-error-details.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/errors/google-sheets-api-call.error.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: widen the dry-run sql column in place and correct the release text
  .changeset/7040-widen-sql-dry-run-column.md
  apps/backend/src/migrations/1790830000000-widen-sql-dry-run-trigger-sql-column.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): open a relationship from its arrow on the Models canvas
  .changeset/6859-models-canvas-edit-relationship.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipDetailsTabs.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipWarningBadges.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-description-patches.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/source-entries.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useBlendedFieldsConfigEditor.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useOutputAliasDraft.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/model-canvas/components/CardRelationshipsSection.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowEdge.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.tsx
  apps/web/src/features/data-marts/model-canvas/export/model-graph.test.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/merge-bidirectional-edges.test.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/merge-bidirectional-edges.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/parallel-edge-offsets.test.ts
  apps/web/src/features/data-marts/model-canvas/model/relationship-sheet-layout.ts
  apps/web/src/features/data-marts/model-canvas/model/use-relationship-details.ts
  apps/web/src/features/data-marts/shared/canvas/edge-join-label.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add Preview SQL to the report side panel header
  .changeset/6861-preview-sql-in-report-sidebar.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditSheet/ReportEditSheet.test.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditSheet/ReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportSheetDescription/ReportSheetDescription.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportGeneratedSqlAction.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): block BigQuery resources outside the storage location in the import picker
  .changeset/6563-storage-location-bulk-creation.md
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-resource-location.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-resource-location.util.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sharded-tables.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sharded-tables.util.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-storage-resource-browser.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/storage-resource-browser.interface.ts
  apps/backend/src/data-marts/dto/presentation/storage-resources/list-storage-resources-response.dto.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/StorageResourceTree.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/StorageResourceTree.tsx
  apps/web/src/features/data-storage/shared/api/types/response/storage-resources.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): limit the Preview SQL unsaved-changes note to Report Columns
  .changeset/6861-preview-sql-in-report-sidebar.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditForm/ReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditSheet/ReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportSheetDescription/ReportSheetDescription.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useHasUnsavedSqlChanges.test.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useHasUnsavedSqlChanges.ts
  apps/web/src/features/data-marts/reports/shared/components/ReportGeneratedSqlAction.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): say the import picker blocks other-location tables
  .changeset/6563-storage-location-bulk-creation.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): name the Pattern Data Mart type as the UI does
  .changeset/6563-storage-location-bulk-creation.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): keep the relationship sheet from dropping saved join settings
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useBlendedFieldsConfigEditor.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useBlendedFieldsConfigEditor.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.tsx
  apps/web/src/features/data-marts/model-canvas/model/use-relationship-details.ts
  apps/web/src/features/data-marts/model-canvas/model/use-relationship-source-config.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(storages): highlight the field to fix when a Storage cannot be saved
  .changeset/6872-highlight-storage-field-to-fix.md
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-access-validator.interface.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/utils/field-errors.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/field-errors.utils.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
  apps/web/src/app/api/api-error.interface.ts
  apps/web/src/app/api/extract-api-error.util.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.test.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
  apps/web/src/features/data-storage/edit/model/data-storage-server-errors.test.ts
  apps/web/src/features/data-storage/edit/model/data-storage-server-errors.ts
  apps/web/src/features/data-storage/shared/model/hooks/useDataStorage.ts
  apps/web/src/features/data-storage/shared/types/data-storage.schema.ts
  apps/web/src/shared/schemas/google-credentials.schema.test.ts
  apps/web/src/shared/schemas/google-credentials.schema.ts
  apps/web/src/utils/form-utils.test.tsx
  apps/web/src/utils/form-utils.ts
  docs/storages/manage-storages.md
  docs/storages/supported-storages/google-bigquery.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): restore Data Mart mentions after paragraph breaks
  apps/web/src/shared/components/DescriptionEditor/data-mart-mentions.test.ts
  apps/web/src/shared/components/DescriptionEditor/data-mart-mentions.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(changeset): add the shareable plugin links demo video
  .changeset/6955-shareable-plugin-links.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
