Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): track failed chunk imports instead of handling them
  .changeset/6980-reload-on-stale-chunk.md
  apps/web/src/app/stale-chunk.test.ts
  apps/web/src/app/stale-chunk.ts
  apps/web/src/components/errors/LayoutErrorBoundary.test.tsx
  apps/web/src/components/errors/LayoutErrorBoundary.tsx
  apps/web/src/main.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): track failed chunk imports from the canvas export too
  apps/web/src/components/errors/LayoutErrorBoundary.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/utils/chunk-load-error.test.ts
  apps/web/src/utils/chunk-load-error.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): drop the status dot from Data Mart preview results
  apps/web/src/features/data-marts/edit/components/DataMartPreview/DataMartPreviewPanel.tsx
Due: none

test(connectors): pin the day-by-day checkpoints main tested per connector
  packages/connectors/test/Sources/GoogleAds/Source.test.js
  packages/connectors/test/Sources/MicrosoftAds/Source.test.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/regression/xads-async-unique-keys.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): count every route error screen as one route_error event
  apps/web/src/components/errors/LayoutErrorBoundary.test.tsx
  apps/web/src/components/errors/LayoutErrorBoundary.tsx
  apps/web/src/components/errors/RootErrorBoundary.tsx
  apps/web/src/components/errors/trackRouteError.test.ts
  apps/web/src/components/errors/trackRouteError.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/utils/chunk-load-error.test.ts
  apps/web/src/utils/chunk-load-error.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@1dc7af07607756b468dc1308d2e72fc16cdcf7e4 🚀
  pagefind/index/en_1856f31.pf_index
  pagefind/index/en_186a594.pf_index
  pagefind/index/en_1f83dcd.pf_index
  pagefind/index/en_2384bc9.pf_index
  pagefind/index/en_2d9796b.pf_index
  pagefind/index/en_4c89e42.pf_index
  pagefind/index/en_4e5fc37.pf_index
  pagefind/index/en_509ba39.pf_index
  pagefind/index/en_5d32d85.pf_index
  pagefind/index/en_65cb19e.pf_index
  pagefind/index/en_6e2a2d8.pf_index
  pagefind/index/en_724a9f7.pf_index
  pagefind/index/en_76cae89.pf_index
  pagefind/index/en_7a7a674.pf_index
  pagefind/index/en_7ff4866.pf_index
  pagefind/index/en_8c18948.pf_index
  pagefind/index/en_9554fc4.pf_index
  pagefind/index/en_9742828.pf_index
  pagefind/index/en_9998615.pf_index
  pagefind/index/en_aeb74de.pf_index
  pagefind/index/en_b21204b.pf_index
  pagefind/index/en_bd9c782.pf_index
  pagefind/index/en_c7f715f.pf_index
  pagefind/index/en_c7fb218.pf_index
  pagefind/index/en_d63cec7.pf_index
  pagefind/index/en_d8f7b23.pf_index
  pagefind/index/en_da559f7.pf_index
  pagefind/index/en_df12b2b.pf_index
  pagefind/index/en_dfe6fa9.pf_index
  pagefind/index/en_e19e57f.pf_index
  pagefind/index/en_e2fcd93.pf_index
  pagefind/index/en_e915cd2.pf_index
  pagefind/index/en_ea14bbe.pf_index
  pagefind/index/en_f17aa17.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3073bbe8f2.pf_meta
  pagefind/pagefind.en_7dfbd42434.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(connectors): name the real failure when a run imports nothing
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): refuse to publish a node without a primary key
  apps/backend/src/data-marts/services/connector/connector-definition-tables.migration.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
  docs/connectors/connector-builder.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): let the engine's verdict decide a run's status again
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Core/Declarative/Requester.js
  packages/connectors/src/Core/Declarative/SsrfGuard.js
  packages/connectors/src/Core/Declarative/SyncRetriever.js
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
  packages/connectors/test/Core/ShortLinksUtils.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): fail the builder Test when the run itself failed
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.ts
  apps/backend/test/fixtures/fake-test-runner.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): say access was refused when a source without accounts is skipped
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/test/fixtures/fake-test-runner.mjs
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): give the setup previews the configuration shape a run gets
  apps/backend/src/data-marts/services/connector/connector-field-options-preview.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-fields-preview.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-preview-support.spec.ts
  apps/backend/src/data-marts/services/connector/connector-preview-support.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): run a manual backfill that has no backfill fields again
  packages/connectors/src/Core/AbstractContext.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/AbstractContext.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): offer the retry settings in Advanced settings again
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/OpenHolidays/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/Shopify/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/test/GoogleSheets.test.js
  packages/connectors/tests/AbstractSource.test.js
  packages/connectors/tests/regression/retry-settings-declared.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): report a missing Google Sheets credential as a setup error
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): end the run when the destination storage fails
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): fail a run whose selected node the connector no longer has
  docs/connectors/connector-builder.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): report why a full-refresh node could not be read
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): describe new tables with their node's description again
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/TestStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): stop the run at a day on which every account was skipped
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): write catalog batches as they arrive again
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/test/Sources/FacebookMarketing/Source.test.js
  packages/connectors/test/Sources/MicrosoftAds/Source.test.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): show a run's plain-text errors as errors in run history
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): keep a custom manifest away from the storage's settings
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): refuse parameter names a template cannot use or the host reserves
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): address Data Mart preview review
  apps/backend/src/data-marts/controllers/data-mart-preview.controller.spec.ts
  apps/backend/src/data-marts/controllers/data-mart-preview.controller.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/shared/services/data-mart.service.test.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): gate Data Mart preview like other data reads
  apps/backend/src/data-marts/services/project-billing/report-run-authorization-boundary.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.ts
  docs/getting-started/setup-guide/data-preview.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): count triggers on Models canvas cards and keep a picked icon
  apps/backend/src/data-marts/dto/domain/model-canvas.dto.ts
  apps/backend/src/data-marts/dto/presentation/model-canvas-response-api.dto.ts
  apps/backend/src/data-marts/mappers/model-canvas.mapper.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/services/scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/get-model-canvas-data-marts.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-model-canvas-data-marts.service.ts
  apps/backend/test/scheduled-trigger.e2e-spec.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(data-marts): move icon keys to shared enums, list the icon endpoint
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/data-mart-icons.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-icon.enum.ts
  apps/web/src/features/data-marts/shared/enums/index.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
  docs/api/coverage.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): drop the Data Quality stripe and round Models canvas cards
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/shared/utils/data-quality-status.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): keep the Data Quality stripe on rounded Models canvas cards
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/shared/utils/data-quality-status.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): skip disconnected fields and keep rule violations in preview
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): drop the Data Quality stripe from Models canvas cards
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/shared/utils/data-quality-status.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): refuse plugin runtime tokens on Data Mart preview
  apps/backend/src/data-marts/controllers/data-mart-preview.controller.spec.ts
  apps/backend/src/data-marts/controllers/data-mart-preview.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Docs improvements
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

(docs) Fixes and improvements
  apps/docs/data/meta-content.csv
  packages/connectors/package.json
  packages/connectors/scripts/generate-tiktok-fields-doc.mjs
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/TikTokAds/TROUBLESHOOTING.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Docs fixes and edits
  packages/connectors/scripts/generate-tiktok-fields-doc.mjs
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/README.md
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/TikTokAds/TROUBLESHOOTING.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(facebook): describe the 31-day backfill cap and required date fields
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(connectors): refresh TikTok Ads guides and align Facebook Ads
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/README.md
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/TROUBLESHOOTING.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
