Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Simplify owox-ctl as an automation-first Control CLI (#1266)
  .changeset/add-api-control-cli.md
  .gitignore
  apps/ctl/README.md
  apps/ctl/package.json
  apps/ctl/src/base-command.test.ts
  apps/ctl/src/base-command.ts
  apps/ctl/src/commands/auth/login.test.ts
  apps/ctl/src/commands/auth/login.ts
  apps/ctl/src/commands/auth/logout.test.ts
  apps/ctl/src/commands/auth/logout.ts
  apps/ctl/src/commands/auth/status.test.ts
  apps/ctl/src/commands/auth/status.ts
  apps/ctl/src/commands/data-marts/list.ts
  apps/ctl/src/commands/destinations/list.ts
  apps/ctl/src/commands/status.test.ts
  apps/ctl/src/commands/status.ts
  apps/ctl/src/commands/storages/list.ts
  apps/ctl/src/config-store.test.ts
  apps/ctl/src/config-store.ts
  apps/ctl/src/output.test.ts
  apps/ctl/src/output.ts
  docs/api/api-client.md
  docs/api/api-keys.md
  docs/api/index.md
  docs/api/openapi.md
  docs/api/owox-ctl.md
  package-lock.json
  packages/api-client/src/auth.ts
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/errors.ts
  packages/api-client/src/transport.ts
  packages/internal-helpers/src/environment/env-manager.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Revise README for branding and feature updates
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Revise README for clarity and accuracy
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Refine README formatting and improve clarity
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fix formatting and clarity in README.md
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fix installation steps formatting in README
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Revise README for branding and feature updates (#1268)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@712eac11343f00fde05d4fbcdc167bf6608035d8 🚀
  _astro/owox-data-marts-schema.CW_zzKIK.svg
  _astro/owox-data-marts-schema.CW_zzKIK_1VQ9s0.svg
  index.html
  pagefind/fragment/en_2ce49e4.pf_fragment
  pagefind/fragment/en_643b78f.pf_fragment
  pagefind/index/en_1090fda.pf_index
  pagefind/index/en_2015d34.pf_index
  pagefind/index/en_245c3e8.pf_index
  pagefind/index/en_2723fb5.pf_index
  pagefind/index/en_2e378f8.pf_index
  pagefind/index/en_3180283.pf_index
  pagefind/index/en_552e3e1.pf_index
  pagefind/index/en_587daaa.pf_index
  pagefind/index/en_7553347.pf_index
  pagefind/index/en_8732eef.pf_index
  pagefind/index/en_9f4034a.pf_index
  pagefind/index/en_a4ae8ac.pf_index
  pagefind/index/en_a4e5961.pf_index
  pagefind/index/en_aae2a9e.pf_index
  pagefind/index/en_b1f4a05.pf_index
  pagefind/index/en_b545182.pf_index
  pagefind/index/en_be915d8.pf_index
  pagefind/index/en_bfff2ef.pf_index
  pagefind/index/en_d96e3e1.pf_index
  pagefind/index/en_f783b5e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_13fce95470.pf_meta
  pagefind/pagefind.en_6045457ac9.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(deps): fix npm audit
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/idp-better-auth/package.json
  packages/idp-owox-better-auth/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): write full ODM note only on first column, short marker on the rest (#1264)
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add totalOutstanding field to Shopify orders API reference (#1249)
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): preserve user column formats on Google Sheets refresh
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/dto/domain/column-plan.dto.ts
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): defer report consumption until run persists (#1267)
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/interfaces/data-destination-report-writer.interface.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): type vi.fn mock for vitest 4 strict Mock types
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
Due: none

fix(deps): fix npm audit (#1269)
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/web/package.json
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  package-lock.json
  package.json
  packages/idp-better-auth/package.json
  packages/idp-owox-better-auth/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add data mart data traversal support
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.ts
  apps/backend/src/data-marts/services/http-data/http-data-column-resolver.service.spec.ts
  apps/backend/src/data-marts/services/http-data/http-data-request-validator.service.spec.ts
  apps/backend/test/http-data.e2e-spec.ts
  apps/ctl/src/commands/data-marts/stream.test.ts
  apps/ctl/src/commands/data-marts/stream.ts
  docs/api/api-client.md
  docs/api/owox-ctl.md
  package-lock.json
  packages/api-client/package.json
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/index.ts
  packages/api-client/src/transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Address HTTP Data storage dependency review comments
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-storage-error.mapper.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Handle storage read failures as failed dependencies
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-storage-error.mapper.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-error-mapper.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/storage-read-error.spec.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/storage-read-error.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-storage-error.mapper.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/test/http-data.e2e-spec.ts
  apps/ctl/src/base-command.test.ts
  apps/ctl/src/base-command.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api-client): cancel data stream on early traversal stop
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api-client): preserve data mart stream error context
  packages/api-client/src/data-marts.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api-client): preserve auth errors in data traversal
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: address data capability review feedback
  .changeset/add-api-control-cli.md
  .changeset/http-data-api-ndjson-endpoint.md
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-storage-error.mapper.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-storage-error.mapper.ts
  docs/api/api-client.md
  docs/api/owox-ctl.md
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Expose Data Mart data traversal with column controls in API client and owox-ctl (#1260)
  .changeset/add-api-control-cli.md
  .changeset/http-data-api-ndjson-endpoint.md
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-storage-error.mapper.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-error-mapper.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/storage-read-error.spec.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/storage-read-error.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-storage-error.mapper.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-storage-error.mapper.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.ts
  apps/backend/src/data-marts/services/http-data/http-data-column-resolver.service.spec.ts
  apps/backend/src/data-marts/services/http-data/http-data-request-validator.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/test/http-data.e2e-spec.ts
  apps/ctl/src/base-command.test.ts
  apps/ctl/src/base-command.ts
  apps/ctl/src/commands/data-marts/stream.test.ts
  apps/ctl/src/commands/data-marts/stream.ts
  docs/api/api-client.md
  docs/api/owox-ctl.md
  package-lock.json
  packages/api-client/package.json
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/index.ts
  packages/api-client/src/transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@2faf95a604f6f61e1c4572f5416dd85cbad07744 🚀
  docs/api/api-client/index.html
  docs/api/owox-ctl/index.html
  pagefind/fragment/en_315f7ae.pf_fragment
  pagefind/fragment/en_5e97222.pf_fragment
  pagefind/fragment/en_68f3baf.pf_fragment
  pagefind/fragment/en_f7e4a84.pf_fragment
  pagefind/index/en_194183c.pf_index
  pagefind/index/en_27296df.pf_index
  pagefind/index/en_4192164.pf_index
  pagefind/index/en_487f9d8.pf_index
  pagefind/index/en_493efc0.pf_index
  pagefind/index/en_51c15de.pf_index
  pagefind/index/en_55322e8.pf_index
  pagefind/index/en_5bf1dd2.pf_index
  pagefind/index/en_614ed89.pf_index
  pagefind/index/en_7b7afbb.pf_index
  pagefind/index/en_9f54e9d.pf_index
  pagefind/index/en_b34ccb8.pf_index
  pagefind/index/en_c3dd5f3.pf_index
  pagefind/index/en_d49ef81.pf_index
  pagefind/index/en_dbfb74c.pf_index
  pagefind/index/en_e5c722f.pf_index
  pagefind/index/en_ef491de.pf_index
  pagefind/index/en_fbf2a21.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_6076f24216.pf_meta
  pagefind/pagefind.en_b7136a293c.pf_meta
Due: prettier --write --config ./prettier.config.js

Fix data mart list pagination (#1246)
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/test/data-mart-pagination.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(consumption): publish HTTP Data report run usage
  apps/backend/src/data-marts/services/consumption-tracking.service.spec.ts
  apps/backend/src/data-marts/services/consumption-tracking.service.ts
  docs/getting-started/billing/consumption-units.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): fix after review
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(consumption): align report run definition
  docs/getting-started/core-concepts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add Facebook Ads insights by ad set and campaign (#1265)
  .changeset/facebook-reach-by-adset-campaign.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-adset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-campaign.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Improve X Ads connector documentation
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
  packages/connectors/src/Sources/XAds/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): add support all user formating
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): update test
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): preserve user column formats on Google Sheets refresh (#1270)
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/dto/domain/column-plan.dto.ts
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(user-provisioning): improve UX for form, add DefaultRoleSheet, update test
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.test.tsx
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.tsx
  packages/ui/src/components/form.tsx
Due: none

refactor(user-provisioning): add DefaultRoleSheet
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/DefaultRoleSheet.tsx
Due: none

refactor(user-provisioning): migrate to CollapsibleCard and React Hook Form
  apps/web/src/features/project-settings/members/components/PendingRequestsSection/PendingRequestsSection.tsx
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.tsx
  apps/web/src/features/project-settings/members/schemas.ts
  apps/web/src/pages/project-settings/MembersTab.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fixes after review
  apps/backend/src/data-marts/controllers/request-access.controller.ts
  apps/backend/src/data-marts/controllers/spec/request-access.api.ts
  apps/backend/src/data-marts/use-cases/project-members/update-user-provisioning-settings.service.ts
  apps/backend/src/data-marts/use-cases/project-members/user-provisioning-settings.service.spec.ts
  apps/web/src/layouts/MainLayout.tsx
  apps/web/src/pages/project-settings/ContextsTab.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
