Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

Add changeset
  .changeset/yummy-paths-swim.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: centralize account ID parsing into a new `FormatUtils` helper and apply it to the Microsoft Ads connector.
  packages/connectors/src/Core/Utils/FormatUtils.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(Facebook): add request timeout error subcode to Facebook Marketing Connector
  packages/connectors/src/Sources/FacebookMarketing/Constants/ErrorCodes.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: Rename Microsoft Ads `AccountID` to `AccountIDs` and add migration (#835)
  .changeset/yummy-paths-swim.md
  apps/backend/src/migrations/1767093646000-rename-microsoft-ads-account-id-to-account-ids.ts
  packages/connectors/src/Core/Utils/FormatUtils.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: update array accumulation from `push` to `concat` in Microsoft Ads helper.
  packages/connectors/src/Sources/MicrosoftAds/Helper.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update array accumulation from `push` to `concat` in Microsoft Ads helper. (#838)
  packages/connectors/src/Sources/MicrosoftAds/Helper.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(Facebook): add request timeout error subcode to Facebook Marketing Connector (#837)
  packages/connectors/src/Sources/FacebookMarketing/Constants/ErrorCodes.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add AI and blank insight creation options with dropdown menu
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update package-lock.json to remove unused dependencies and upgrade qs to 6.14.1
  package-lock.json
Due: prettier --write --config ./prettier.config.js

Add AI and blank insight creation options with dropdown (#840)
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): cloud project's usage limitation based on balance
  apps/backend/src/common/exceptions/project-operation-blocked.exception.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/can-perform-operations-response.dto.ts
  apps/backend/src/data-marts/dto/domain/project-balance.dto.ts
  apps/backend/src/data-marts/enums/project-blocked-reason.enum.ts
  apps/backend/src/data-marts/enums/project-plan-type.enum.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/project-balance.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add direct linking for storages/destinations (#833)
  .changeset/direct-linking-for-storage-and-destination.md
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.tsx
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/useUrlParam.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG for version 0.16.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(web): fix lint errors
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/scheduled-triggers/model/context/scheduled-trigger-reducer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

improvements after review
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/can-perform-operations-response.dto.ts
  apps/backend/src/data-marts/dto/domain/project-balance.dto.ts
  apps/backend/src/data-marts/services/impersonated-id-token.service.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  apps/backend/src/data-marts/services/project-balance.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: Introduce `onSelectAllFields` prop for bulk field selection and refactor default field handling logic.
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
Due: none

ProjectOperationBlockedException messages updated
  apps/backend/src/common/exceptions/project-operation-blocked.exception.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: standardize column type retrieval in storage connectors
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: remove GoogleBigQueryType from adAnalyticsFields in LinkedInAds API reference
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adAnalyticsFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update data types in Connectors files
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-age-and-gender.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-device-platform.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-product-id.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-publisher-platform-and-position.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-region.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adAnalyticsFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignGroupFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/creativesFields.js
  packages/connectors/src/Sources/MicrosoftAds/MicrosoftAdsAPIReference/adPerformanceReportFields.js
  packages/connectors/src/Sources/MicrosoftAds/MicrosoftAdsAPIReference/userLocationPerformanceReportFields.js
  packages/connectors/src/Sources/OpenExchangeRates/OpenExchangeRatesAPIReference/historical-fields.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/ad-reports-adaccountid.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/ad-reports-adgroupid.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/ad-reports-campaignid.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/ad-reports-community.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/ad-reports-country.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/ad-reports-dmabased.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/ad-reports-interest.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/ad-reports-keyword.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/ad-reports-placement.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/ad-reports.js
  packages/connectors/src/Sources/TikTokAds/TikTokAdsAPIReference/adInsightsFields.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: Pass accountId to _pollReportStatus and use it for the CustomerAccountId header.
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: Pass accountId to _pollReportStatus and use it for the CustomerAccountId header. (#844)
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(insights): Enable feature for all projects in cloud
  .changeset/ai-insights-cloud-availability.md
  apps/backend/src/common/ai-insights/services/ai-insights-config.service.spec.ts
  apps/backend/src/common/ai-insights/services/ai-insights-config.service.ts
  apps/backend/src/common/common.module.ts
  apps/owox/src/web/flags-route.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: add changeset
  .changeset/refactor-data-types-standardization.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(Shopify): enhance data extraction and add new fields to orders API reference
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
  packages/connectors/src/Sources/Shopify/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance Snowflake data mart schema provider with primary key support and improved query handling
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-schema-merger.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

review changes
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-data-mart-schema.provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: refactor Snowflake data mart schema provider for consistency
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-data-mart-schema.provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(Shopify): update order fields to use DATA_TYPES constants for improved type consistency
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(Shopify): enhance data extraction and add new fields to orders API reference (#836)
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
  packages/connectors/src/Sources/Shopify/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance Snowflake data mart schema provider with primary key support and improved query handling (#819)
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-schema-merger.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: update FieldsSelectionStep logic and make onSelectAllFields required
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
Due: none

chore: refactor to remove linting errors
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationOneOfRender.tsx
  packages/idp-better-auth/src/services/page-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: restructure package devdependencies and set to patch-update
  apps/owox/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/idp-better-auth/package.json
  packages/idp-owox/package.json
  packages/idp-protocol/package.json
  packages/internal-helpers/package.json
  packages/prettier-config/package.json
  packages/ui/package.json
Due: prettier --write --config ./prettier.config.js

feat(MicrosoftAds): implement default fields support for Microsoft Ads connector (#815)
  .changeset/shiny-feet-run.md
  apps/backend/src/data-marts/connector-types/connector-fields-schema.ts
  apps/backend/src/data-marts/dto/presentation/connector-fields-response-api.dto.ts
  apps/backend/src/data-marts/mappers/connector.mapper.ts
  apps/backend/src/data-marts/services/connector.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/shared/api/types/response/connector.response.dto.ts
  packages/connectors/src/Sources/MicrosoftAds/MicrosoftAdsAPIReference/MicrosoftAdsFieldsSchema.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): cloud project's usage limitation based on balance (#842)
  apps/backend/src/common/exceptions/project-operation-blocked.exception.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insight-template.facade.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/can-perform-operations-response.dto.ts
  apps/backend/src/data-marts/dto/domain/project-balance.dto.ts
  apps/backend/src/data-marts/enums/project-blocked-reason.enum.ts
  apps/backend/src/data-marts/enums/project-plan-type.enum.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/services/impersonated-id-token.service.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  apps/backend/src/data-marts/services/project-balance.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(insights): Enable feature for all projects in cloud (#845)
  .changeset/ai-insights-cloud-availability.md
  apps/backend/src/common/ai-insights/services/ai-insights-config.service.spec.ts
  apps/backend/src/common/ai-insights/services/ai-insights-config.service.ts
  apps/backend/src/common/common.module.ts
  apps/owox/src/web/flags-route.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
