Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

ci: remove windows and macos from test workflow matrix (#1107)
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

save
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/dto/domain/create-report.command.ts
  apps/backend/src/data-marts/dto/domain/report.dto.ts
  apps/backend/src/data-marts/dto/domain/update-report.command.ts
  apps/backend/src/data-marts/dto/presentation/create-report-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/relationship-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/report-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-report-request-api.dto.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.spec.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipDialog.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipList.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/BlendedFieldsSection.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update fetchData method to support async nodes and improve comments
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

transient relations switch
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
Due: none

feat(backend): add new events (#1103)
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/events/connector-run-successfully.event.ts
  apps/backend/src/data-marts/events/connector-run.event.ts
  apps/backend/src/data-marts/events/data-mart-definition-set.event.ts
  apps/backend/src/data-marts/events/data-mart-definition-type-set.event.ts
  apps/backend/src/data-marts/events/data-mart-published.event.ts
  apps/backend/src/data-marts/events/email-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/email-report-run.event.ts
  apps/backend/src/data-marts/events/google-chat-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/google-chat-report-run.event.ts
  apps/backend/src/data-marts/events/insight-run-successfully.event.ts
  apps/backend/src/data-marts/events/insight-run.event.ts
  apps/backend/src/data-marts/events/looker-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/looker-report-run.event.ts
  apps/backend/src/data-marts/events/ms-teams-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/ms-teams-report-run.event.ts
  apps/backend/src/data-marts/events/report-created.event.ts
  apps/backend/src/data-marts/events/run-event-status.type.ts
  apps/backend/src/data-marts/events/sheets-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/sheets-report-run.event.ts
  apps/backend/src/data-marts/events/slack-report-run-successfully.event.ts
  apps/backend/src/data-marts/events/slack-report-run.event.ts
  apps/backend/src/data-marts/events/storage-config-set.event.ts
  apps/backend/src/data-marts/events/trigger-created.event.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/create-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

draft color on graph
  apps/backend/src/data-marts/dto/presentation/relationship-response-api.dto.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: replace MAX_PAGES with infinite loop for fetching country locations
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

relations canvas restrictions
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
Due: none

stripCharacters and geo fields
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/GoogleAdsFieldsSchema.js
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/geoTargetFields.js
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

save
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipDialog.tsx
  packages/ui/src/components/select.tsx
Due: none

fix(web): resolve infinite loop in OauthRenderFactory by removing isManualMode dependency
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
Due: none

fix(web): resolve infinite loop in OauthRenderFactory by removing isManualMode dependency (#1108)
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
Due: none

save
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  packages/ui/src/components/form.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Restrict cache for /api/* and auth endpoints
  apps/backend/src/bootstrap.ts
  apps/backend/src/main.ts
  package-lock.json
  packages/idp-protocol/package.json
  packages/idp-protocol/src/middleware/protocol-middleware.ts
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/utils/disableConditionalCaching.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(google-ads): add geo target constants schema and update related fields
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/GoogleAdsFieldsSchema.js
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/geoTargetConstantFields.js
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/geoTargetFields.js
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(google-ads): add geographic performance data import and update fields schema
  .changeset/google-ads-geo-report.md
  packages/connectors/src/Sources/GoogleAds/Connector.js
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/GoogleAdsFieldsSchema.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(ci): enhance GitHub Actions workflow for coverage reporting and add tests for new packages
  .github/workflows/test-owox.yml
  packages/idp-better-auth/jest.config.js
  packages/idp-better-auth/jest.setup.ts
  packages/idp-better-auth/package.json
  packages/idp-better-auth/src/providers/better-auth-provider.test.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/authentication-service.test.ts
  packages/idp-better-auth/src/services/authentication-service.ts
  packages/idp-better-auth/src/services/middleware-service.test.ts
  packages/idp-better-auth/src/services/token-service.test.ts
  packages/idp-better-auth/src/services/token-service.ts
  packages/idp-owox-better-auth/src/controllers/google-sheets-auth.controller.test.ts
  packages/idp-owox-better-auth/src/services/core/project-members-service.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(ci): streamline coverage reporting in GitHub Actions workflow by simplifying commands and updating paths
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

add web coverage to test-owox.yml
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

feat(web): auto-select storage in Data Mart creation form
  .changeset/auto-select-storage-in-datamart-create-form.md
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(ci): remove coverage reporting steps from test-owox.yml workflow
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

chore(ci): remove unnecessary blank line from test-owox.yml workflow
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

feat(ci): enhance GitHub Actions workflow for coverage reporting and add tests for new packages (#1111)
  .github/workflows/test-owox.yml
  packages/idp-better-auth/jest.config.js
  packages/idp-better-auth/jest.setup.ts
  packages/idp-better-auth/package.json
  packages/idp-better-auth/src/providers/better-auth-provider.test.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/authentication-service.test.ts
  packages/idp-better-auth/src/services/authentication-service.ts
  packages/idp-better-auth/src/services/middleware-service.test.ts
  packages/idp-better-auth/src/services/token-service.test.ts
  packages/idp-better-auth/src/services/token-service.ts
  packages/idp-owox-better-auth/src/controllers/google-sheets-auth.controller.test.ts
  packages/idp-owox-better-auth/src/services/core/project-members-service.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

relations diagram navigation
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
Due: none

feat(data-marts): add unit tests for data destination, storage, report services, and sync-owners utility
  apps/backend/src/data-marts/use-cases/create-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/data-marts/utils/sync-owners.spec.ts
  apps/backend/src/data-marts/utils/sync-owners.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add ownerIds support across data entities
  apps/backend/src/data-marts/dto/domain/create-data-destination.command.ts
  apps/backend/src/data-marts/dto/domain/create-data-storage.command.ts
  apps/backend/src/data-marts/dto/domain/create-report.command.ts
  apps/backend/src/data-marts/dto/presentation/create-data-destination-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/create-data-storage-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/create-report-request-api.dto.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/test/ownership.e2e-spec.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-destination/shared/services/types/create-data-destination.request.dto.ts
  apps/web/src/features/data-marts/edit/components/OwnersEditor.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/shared/services/types/create-report.request.dto.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
  apps/web/src/shared/components/OwnersSection/OwnersSection.tsx
  apps/web/src/shared/hooks/useOwnerState.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): add update owners API endpoint and specification
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/dto/presentation/update-data-destination-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-storage-api.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): enhance ownerIds validation and DTO structure
  apps/backend/src/data-marts/dto/presentation/create-data-destination-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/create-data-storage-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/create-report-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-destination-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-mart-owners-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-storage-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-report-request-api.dto.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-project.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): enhance CreateReportService with event producer mock
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/migrations/1774700000000-refactor-data-mart-owners-to-join-tables.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(e2e): update ownership tests to ensure exact match for 'Owners' label visibility
  apps/web/e2e/specs/ownership.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@d8b82e5862c396cfdac82213ff8d813d8fe055c0 🚀
  docs/destinations/manage-destinations/index.html
  docs/getting-started/core-concepts/index.html
  docs/storages/manage-storages/index.html
  pagefind/fragment/en_2327d2b.pf_fragment
  pagefind/fragment/en_316f3bd.pf_fragment
  pagefind/fragment/en_459945e.pf_fragment
  pagefind/fragment/en_8fc11f4.pf_fragment
  pagefind/fragment/en_af63a71.pf_fragment
  pagefind/fragment/en_f1b86a5.pf_fragment
  pagefind/index/en_127ef9c.pf_index
  pagefind/index/en_3d762de.pf_index
  pagefind/index/en_404a752.pf_index
  pagefind/index/en_497b6f2.pf_index
  pagefind/index/en_4a504d5.pf_index
  pagefind/index/en_4d93110.pf_index
  pagefind/index/en_6a499e6.pf_index
  pagefind/index/en_78727b1.pf_index
  pagefind/index/en_7fbc2a5.pf_index
  pagefind/index/en_874a9e1.pf_index
  pagefind/index/en_9929509.pf_index
  pagefind/index/en_9dca719.pf_index
  pagefind/index/en_add9b73.pf_index
  pagefind/index/en_b14b83d.pf_index
  pagefind/index/en_ce8d2d9.pf_index
  pagefind/index/en_d87656e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4691ad3d73.pf_meta
  pagefind/pagefind.en_f72b62c8a5.pf_meta
Due: prettier --write --config ./prettier.config.js

chore(release-pr): remove npm update step from workflow
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.js

chore(release-pr): remove npm update step from workflow (#1113)
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.js

chore(release-pr): update git push command to specify origin HEAD
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.js

fix(backend): fixed graceful shutdown closing DB connections
  apps/backend/src/app.module.ts
  apps/backend/src/bootstrap.ts
  apps/backend/src/common/interceptors/active-request.interceptor.spec.ts
  apps/backend/src/common/interceptors/active-request.interceptor.ts
  apps/backend/src/index.ts
  apps/owox/src/commands/serve.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Restrict cache for /api/* and auth endpoints (#1109)
  apps/backend/src/bootstrap.ts
  apps/backend/src/main.ts
  package-lock.json
  packages/idp-protocol/package.json
  packages/idp-protocol/src/middleware/protocol-middleware.ts
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/utils/disableConditionalCaching.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): enhance report and scheduled trigger management with access control
  apps/backend/src/common/exceptions/global-exception.filter.ts
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/guard-regression.spec.ts
  apps/backend/src/data-marts/controllers/insight-artifact-sql-preview-trigger.controller.ts
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/scheduled-trigger.controller.ts
  apps/backend/src/data-marts/controllers/schema-actualize-trigger.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/create-scheduled-trigger.command.ts
  apps/backend/src/data-marts/dto/domain/delete-report.command.ts
  apps/backend/src/data-marts/dto/domain/run-report.command.ts
  apps/backend/src/data-marts/dto/domain/update-report.command.ts
  apps/backend/src/data-marts/dto/domain/update-scheduled-trigger.command.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/mappers/scheduled-trigger.mapper.ts
  apps/backend/src/data-marts/services/report-access.service.spec.ts
  apps/backend/src/data-marts/services/report-access.service.ts
  apps/backend/src/data-marts/use-cases/create-scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/delete-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/delete-report.service.ts
  apps/backend/src/data-marts/use-cases/delete-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/backend/src/data-marts/use-cases/update-scheduled-trigger.service.ts
  apps/backend/src/idp/decorators/auth.decorator.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/backend/test/stage2-access-control.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/OwnersEditor.tsx
  apps/web/src/features/idp/utils/role-display-name.ts
  apps/web/src/features/notifications/project/components/EditNotificationSheet/selection/RecipientsSelector.tsx
  docs/getting-started/setup-guide/insights.md
  docs/getting-started/setup-guide/members-management/better-auth.md
  docs/notifications/email.md
  docs/notifications/notification-settings.md
  packages/idp-better-auth/README.md
  packages/idp-better-auth/src/services/template-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
