Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): format URLs in Facebook Ads access token guide for better readability
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: create table even without data
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(docs): update formatting of URLs in Facebook Ads access token guide for consistency
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(idp-better-auth): refactor types
  packages/idp-better-auth/src/auth/auth-config.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/user-management-service.ts
  packages/idp-better-auth/src/store/DatabaseStore.ts
  packages/idp-better-auth/src/store/MysqlDatabaseStore.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.ts
  packages/idp-better-auth/src/types/database-models.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-better-auth): updated try catch comment for deleting user data
  packages/idp-better-auth/src/services/user-management-service.ts
  packages/idp-better-auth/src/store/MysqlDatabaseStore.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): add primary key to migrations lock table for MySQL compatibility
  apps/backend/src/config/migrations.config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): update logic for retrieving configuration values
  apps/backend/src/bootstrap.ts
  apps/backend/src/common/scheduler/facades/scheduler-facade.impl.ts
  apps/backend/src/config/migrations.config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update CHANGELOG.md
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): fix building connectors on windows
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): Update OWOX BI icon SVG for improved styling and accessibility
  apps/web/src/shared/icons/owox-bi-icon.tsx
Due: none

refactor(backend): refactor bootstrap and running migrations
  apps/backend/src/bootstrap.ts
  apps/backend/src/config/migrations.config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): Integrate useProjectRoute hook for dynamic routing in DataMartActionsCell component.
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartActionsCell.tsx
Due: none

feat(db): Create composite index on data_mart_run for efficient filtering by dataMartId and createdAt
  apps/backend/src/migrations/1757494380000-create-index-data-mart-run-createdAt.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(scheduler): implement adaptive execution modes and environment variable validation
  apps/backend/src/app.module.ts
  apps/backend/src/common/scheduler/README.md
  apps/backend/src/common/scheduler/facades/scheduler-facade.impl.ts
  apps/backend/src/common/scheduler/scheduler.module.ts
  apps/backend/src/config/env-validation.config.ts
  apps/backend/src/config/migrations.config.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): Enhance DataMartCreateForm with new storage creation functionality and UI improvements
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
  apps/web/src/pages/data-marts/create/CreateDataMartPage.tsx
Due: none

Add changeset
  .changeset/create-storage-in-new-data-mart-form.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(connectors): simplify condition for constants file detection
  apps/backend/src/config/migrations.config.ts
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: create MessageUpdateParameterSchema and updateParameter state
  apps/backend/src/data-marts/connector-types/connector-message/schemas/connector-message.schema.ts
  apps/backend/src/data-marts/connector-types/connector-message/schemas/types/message-update-parameter.schema.ts
  apps/backend/src/data-marts/connector-types/enums/connector-message-type-enum.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  packages/connectors/src/Sources/BingAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update all-editions.md
  docs/editions/all-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(docs): fix code formatting
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox): updated MySQL SSL support
  .env.example
  apps/backend/src/config/data-source-options.config.ts
  docs/getting-started/deployment-guide/environment-variables.md
  packages/idp-better-auth/README.md
  packages/idp-owox/README.md
  packages/idp-owox/package.json
  packages/idp-owox/src/auth/MysqlAuthorizationStore.ts
  packages/idp-owox/src/config.ts
  packages/internal-helpers/README.md
  packages/internal-helpers/src/environment/parse-mysql-ssl.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(root): regenerate package-lock.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(web): Add Google Tag Manager support
  .changeset/gtm-enhancements.md
  .env.example
  apps/owox/src/web/flags-route.ts
  apps/web/src/App.tsx
  apps/web/src/app/gtm/GoogleTagManager.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Create local-deployment.md
  docs/getting-started/deployment-guide/local-deployment.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update quick-start.md
  docs/getting-started/quick-start.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): Revamp 404 Not Found Page with New Design
  .changeset/redesign-404-notfound-page.md
  apps/web/src/pages/NotFound.tsx
  packages/ui/src/styles/globals.css
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(ui): Improved Mobile Layout (Sidebar and Sheet components)
  apps/web/src/layouts/MainLayout.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/sidebar.tsx
Due: none

Create 1.md
  docs/google-sheets-connectors/res/1.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add files via upload
  docs/google-sheets-connectors/res/xads_credentials.png
  docs/google-sheets-connectors/res/xads_fields.png
  docs/google-sheets-connectors/res/xads_finished.png
  docs/google-sheets-connectors/res/xads_start.png
Due: none

Add files via upload
  docs/google-sheets-connectors/res/tiktok_advid.png
  docs/google-sheets-connectors/res/tiktok_approved.png
  docs/google-sheets-connectors/res/tiktok_createapp.png
  docs/google-sheets-connectors/res/tiktok_credentials.png
  docs/google-sheets-connectors/res/tiktok_dataset.png
  docs/google-sheets-connectors/res/tiktok_developer.png
  docs/google-sheets-connectors/res/tiktok_fields.png
  docs/google-sheets-connectors/res/tiktok_get.png
  docs/google-sheets-connectors/res/tiktok_import.png
  docs/google-sheets-connectors/res/tiktok_pasteid.png
  docs/google-sheets-connectors/res/tiktok_queryresult.png
  docs/google-sheets-connectors/res/tiktok_startdate.png
  docs/google-sheets-connectors/res/tiktok_token.png
  docs/google-sheets-connectors/res/tiktok_url.png
Due: none

Delete docs/google-sheets-connectors/res/1.md
  docs/google-sheets-connectors/res/1.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add files via upload
  docs/google-sheets-connectors/res/reddit_accountid.png
  docs/google-sheets-connectors/res/reddit_app_info.png
  docs/google-sheets-connectors/res/reddit_appname.png
  docs/google-sheets-connectors/res/reddit_backfill.png
  docs/google-sheets-connectors/res/reddit_code.png
  docs/google-sheets-connectors/res/reddit_credentials.png
  docs/google-sheets-connectors/res/reddit_fields.png
  docs/google-sheets-connectors/res/reddit_finish.png
  docs/google-sheets-connectors/res/reddit_importcurrentday.png
  docs/google-sheets-connectors/res/reddit_pasteid.png
  docs/google-sheets-connectors/res/reddit_refresh.png
  docs/google-sheets-connectors/res/reddit_reimport.png
  docs/google-sheets-connectors/res/reddit_request.png
  docs/google-sheets-connectors/res/reddit_runbackfill.png
  docs/google-sheets-connectors/res/reddit_success.png
  docs/google-sheets-connectors/res/reddit_tokens.png
Due: none

Add files via upload
  docs/google-sheets-connectors/res/openrates_appid.png
  docs/google-sheets-connectors/res/openrates_copyid.png
  docs/google-sheets-connectors/res/openrates_credentials.png
  docs/google-sheets-connectors/res/openrates_currency.png
  docs/google-sheets-connectors/res/openrates_date.png
  docs/google-sheets-connectors/res/openrates_finished.png
  docs/google-sheets-connectors/res/openrates_import.png
  docs/google-sheets-connectors/res/openrates_newid.png
  docs/google-sheets-connectors/res/openrates_section.png
Due: none

Add files via upload
  docs/google-sheets-connectors/res/facebook_backfill.png
  docs/google-sheets-connectors/res/facebook_connect.png
  docs/google-sheets-connectors/res/facebook_importsheets.png
  docs/google-sheets-connectors/res/facebook_newdata.png
  docs/google-sheets-connectors/res/facebook_query.png
  docs/google-sheets-connectors/res/facebook_reconnect.png
  docs/google-sheets-connectors/res/facebook_reimport.png
  docs/google-sheets-connectors/res/facebook_runbackfill.png
  docs/google-sheets-connectors/res/facebook_setup.png
  docs/google-sheets-connectors/res/facebook_token.png
  docs/google-sheets-connectors/res/facebook_video.png
  docs/google-sheets-connectors/res/fb_accountid.png
  docs/google-sheets-connectors/res/fb_adsmanagement.png
  docs/google-sheets-connectors/res/fb_credentials.png
  docs/google-sheets-connectors/res/fb_fields.png
  docs/google-sheets-connectors/res/fb_import.png
  docs/google-sheets-connectors/res/fb_pasteid.png
  docs/google-sheets-connectors/res/fb_standard.png
  docs/google-sheets-connectors/res/fb_startdate.png
  docs/google-sheets-connectors/res/fb_success.png
  docs/google-sheets-connectors/res/fb_token.png
  docs/google-sheets-connectors/res/linkedin_account.png
  docs/google-sheets-connectors/res/linkedin_copytoken.png
  docs/google-sheets-connectors/res/linkedin_create.png
  docs/google-sheets-connectors/res/linkedin_createtoken.png
  docs/google-sheets-connectors/res/linkedin_credentials.png
  docs/google-sheets-connectors/res/linkedin_fields.png
  docs/google-sheets-connectors/res/linkedin_import.png
  docs/google-sheets-connectors/res/linkedin_pasteurn.png
  docs/google-sheets-connectors/res/linkedin_token.png
Due: none

Add files via upload
  docs/google-sheets-connectors/res/Contributors' Guide Full v.1-Cover.jpg
  docs/google-sheets-connectors/res/bing_addaccount.png
  docs/google-sheets-connectors/res/bing_aggregation.png
  docs/google-sheets-connectors/res/bing_appsearch.png
  docs/google-sheets-connectors/res/bing_copysecret.png
  docs/google-sheets-connectors/res/bing_createsecret.png
  docs/google-sheets-connectors/res/bing_credentials.png
  docs/google-sheets-connectors/res/bing_creds.png
  docs/google-sheets-connectors/res/bing_dataset.png
  docs/google-sheets-connectors/res/bing_developer.png
  docs/google-sheets-connectors/res/bing_fields.png
  docs/google-sheets-connectors/res/bing_finished.png
  docs/google-sheets-connectors/res/bing_getrequest.png
  docs/google-sheets-connectors/res/bing_import.png
  docs/google-sheets-connectors/res/bing_newapp.png
  docs/google-sheets-connectors/res/bing_newsecret.png
  docs/google-sheets-connectors/res/bing_pasteid.png
  docs/google-sheets-connectors/res/bing_refresh.png
  docs/google-sheets-connectors/res/bing_request.png
  docs/google-sheets-connectors/res/bing_startdate.png
  docs/google-sheets-connectors/res/bing_success.png
  docs/google-sheets-connectors/res/bing_success_sheets.png
  docs/google-sheets-connectors/res/bing_timezone.png
  docs/google-sheets-connectors/res/main-cover.png
  docs/google-sheets-connectors/res/ownyourdata.jpeg
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
