Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: allow cyclic relationships between data marts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-mart-relationship.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-warning-state.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useTransientRelationships.ts
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

review fixes
  apps/backend/src/data-marts/dto/domain/data-mart-list-item.dto.ts
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectSettingsSubmenu.tsx
  apps/web/src/env.d.ts
  apps/web/src/features/contexts/components/ContextPicker/ContextPicker.tsx
  apps/web/src/features/contexts/hooks/useInlineContextCreate.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-marts/shared/hooks/useMemberOwnershipWarnings.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/project-members/components/MembersHoverCard/MembersHoverCard.tsx
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

review fixes v2
  apps/web/src/pages/project-settings/OverviewTab.tsx
Due: none

feat: allow cyclic relationships between data marts (#1170)
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-mart-relationship.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-warning-state.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useTransientRelationships.ts
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): introduce DEFAULT_REPORT_TITLE constant for report titles
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/shared/constants.ts
  apps/web/src/features/data-marts/reports/shared/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): introduce DEFAULT_REPORT_TITLE constant for report titles (#1173)
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/shared/constants.ts
  apps/web/src/features/data-marts/reports/shared/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): change default aggregation function for date|time related column types
  apps/backend/src/data-marts/data-storage-types/field-type-compatibility.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): exclude draft relationship targets from blendable schema
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): change default aggregation function for date|time related column types (#1172)
  apps/backend/src/data-marts/data-storage-types/field-type-compatibility.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): simplify joined data mart date display in Join Settings
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/utils/date-formatters.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): simplify joined data mart date display in Join Settings (#1174)
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/utils/date-formatters.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update CHANGELOG for version 0.24.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@889e328ff683264eb05216721dfdf1284ac7f3f9 🚀
  docs/changelog/index.html
  pagefind/fragment/en_aa1d695.pf_fragment
  pagefind/fragment/en_dd31cca.pf_fragment
  pagefind/index/en_12d146e.pf_index
  pagefind/index/en_1579e0e.pf_index
  pagefind/index/en_1af08fc.pf_index
  pagefind/index/en_1f191c3.pf_index
  pagefind/index/en_3e60489.pf_index
  pagefind/index/en_40fe715.pf_index
  pagefind/index/en_4ace178.pf_index
  pagefind/index/en_51f66e1.pf_index
  pagefind/index/en_5261d20.pf_index
  pagefind/index/en_5a819d1.pf_index
  pagefind/index/en_761f3a2.pf_index
  pagefind/index/en_8bde77c.pf_index
  pagefind/index/en_91a756e.pf_index
  pagefind/index/en_a94880d.pf_index
  pagefind/index/en_aaf45dd.pf_index
  pagefind/index/en_bad6c4e.pf_index
  pagefind/index/en_e19ebbe.pf_index
  pagefind/index/en_e56eba7.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_f046c19976.pf_meta
  pagefind/pagefind.en_fb7d3a3db4.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): bulk data mart creation from storage assets
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sharded-tables.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sharded-tables.util.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-storage-resource-browser.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/storage-resource-browser.interface.ts
  apps/backend/src/data-marts/dto/domain/list-storage-resources.command.ts
  apps/backend/src/data-marts/dto/presentation/storage-resources/list-storage-resources-query.dto.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/FillFromStorageButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/StorageResourceTree.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TablePatternDefinitionField.tsx
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/BulkCreateFromStorageDialog.tsx
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/bulk-create.utils.ts
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/constants.ts
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/index.ts
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/use-bulk-create-data-marts.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/shared/utils/index.ts
  apps/web/src/features/data-marts/shared/utils/table-pattern.utils.ts
  apps/web/src/features/data-storage/shared/api/types/response/storage-resources.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): added changeset
  .changeset/ruslan-and-his-20-friends.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(ci): align changesets publish flags
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.js

fix(ci): align changesets publish flags (#1176)
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.js

feat(backend): correct Looker Studio types and aggregations for blended fields
  .changeset/looker-studio-blended-types-aggregations.md
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-aggregation-mapper.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-aggregation-mapper.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-schema.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-schema.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-type-mapper.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-type-mapper.service.ts
  apps/backend/src/data-marts/data-storage-types/field-aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/field-aggregation.ts
  apps/backend/src/data-marts/dto/domain/report-data-header.dto.ts
  apps/backend/src/data-marts/dto/domain/storage-field-type.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/test/looker-studio-connector.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): fallback report title for Looker Studio update when empty
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): correct Looker Studio types and aggregations for blended fields (#1177)
  .changeset/looker-studio-blended-types-aggregations.md
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-aggregation-mapper.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-aggregation-mapper.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-schema.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-schema.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-type-mapper.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-type-mapper.service.ts
  apps/backend/src/data-marts/data-storage-types/field-aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/field-aggregation.ts
  apps/backend/src/data-marts/dto/domain/report-data-header.dto.ts
  apps/backend/src/data-marts/dto/domain/storage-field-type.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/test/looker-studio-connector.e2e-spec.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp-owox-better-auth): add owox cloud, add domain normalization
  packages/idp-owox-better-auth/src/core/onboarding-constants.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.test.ts
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(feedback): product feedback pass — contexts/members UX, delete-impact popup
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-destination.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/presentation/data-destination-impact-response-api.dto.ts
  apps/backend/src/data-marts/use-cases/get-data-destination-impact.service.ts
  apps/web/src/features/contexts/components/AddContextSheet/AddContextSheet.tsx
  apps/web/src/features/contexts/components/ContextBadges/ContextBadges.tsx
  apps/web/src/features/contexts/components/ContextDetailsSheet/ContextDetailsSheet.tsx
  apps/web/src/features/contexts/components/ContextsTable/columns.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.tsx
  apps/web/src/features/data-destination/shared/services/data-destination.service.ts
  apps/web/src/features/data-destination/shared/services/types/data-destination-impact.response.dto.ts
  apps/web/src/features/data-destination/shared/services/types/index.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartsTableFilters.config.ts
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/project-settings/members/components/MemberDetailsSheet/MemberDetailsSheet.tsx
  apps/web/src/features/project-settings/members/components/MembersTable/MembersActionsCell.tsx
  apps/web/src/features/project-settings/members/components/MembersTable/columns.tsx
  apps/web/src/pages/project-settings/ContextsTab.tsx
  apps/web/src/pages/project-settings/ProjectSettingsPage.tsx
  apps/web/src/shared/components/MembersAssignmentField.tsx
  apps/web/src/shared/components/MembersCheckboxList.tsx
  apps/web/src/shared/components/TableFilters/availability-filter.utils.ts
  packages/ui/src/components/form.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(feedback): product feedback pass — contexts/members UX, delete-impact popup (#1180)
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-destination.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/presentation/data-destination-impact-response-api.dto.ts
  apps/backend/src/data-marts/use-cases/get-data-destination-impact.service.ts
  apps/web/src/features/contexts/components/AddContextSheet/AddContextSheet.tsx
  apps/web/src/features/contexts/components/ContextBadges/ContextBadges.tsx
  apps/web/src/features/contexts/components/ContextDetailsSheet/ContextDetailsSheet.tsx
  apps/web/src/features/contexts/components/ContextsTable/columns.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.tsx
  apps/web/src/features/data-destination/shared/services/data-destination.service.ts
  apps/web/src/features/data-destination/shared/services/types/data-destination-impact.response.dto.ts
  apps/web/src/features/data-destination/shared/services/types/index.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/DataMartsTableFilters.config.ts
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/project-settings/members/components/MemberDetailsSheet/MemberDetailsSheet.tsx
  apps/web/src/features/project-settings/members/components/MembersTable/MembersActionsCell.tsx
  apps/web/src/features/project-settings/members/components/MembersTable/columns.tsx
  apps/web/src/pages/project-settings/ContextsTab.tsx
  apps/web/src/pages/project-settings/ProjectSettingsPage.tsx
  apps/web/src/shared/components/MembersAssignmentField.tsx
  apps/web/src/shared/components/MembersCheckboxList.tsx
  apps/web/src/shared/components/TableFilters/availability-filter.utils.ts
  packages/ui/src/components/form.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): update after review
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/StorageResourceTree.tsx
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/BulkCreateFromStorageDialog.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
Due: none

feat(idp-owox-better-auth): update after review
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
Due: none

feat(idp-owox-better-auth): add owox cloud storage, add domain normalization (#1179)
  packages/idp-owox-better-auth/src/core/onboarding-constants.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.test.ts
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): update after review
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/BulkCreateFromStorageDialog.tsx
Due: none

feat(web): bulk data mart creation from storage assets (#1175)
  .changeset/ruslan-and-his-20-friends.md
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sharded-tables.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sharded-tables.util.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-storage-resource-browser.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/storage-resource-browser.interface.ts
  apps/backend/src/data-marts/dto/domain/list-storage-resources.command.ts
  apps/backend/src/data-marts/dto/presentation/storage-resources/list-storage-resources-query.dto.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/FillFromStorageButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/StorageResourceTree.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TablePatternDefinitionField.tsx
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/BulkCreateFromStorageDialog.tsx
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/bulk-create.utils.ts
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/constants.ts
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/index.ts
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/use-bulk-create-data-marts.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/shared/utils/index.ts
  apps/web/src/features/data-marts/shared/utils/table-pattern.utils.ts
  apps/web/src/features/data-storage/shared/api/types/response/storage-resources.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: joinable data marts
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/joinable-data-marts.md
  docs/res/screens/Joinable-DM-Block.webp
  docs/res/screens/Joinable-DM-Canvas.webp
  docs/res/screens/Joinable-DM-Column-Picker.webp
  docs/res/screens/Joinable-DM-Generated-SQL.webp
  docs/res/screens/Joinable-DM-Hide-Field.webp
  docs/res/screens/Joinable-DM-Join-Settings.webp
  docs/res/screens/Joinable-DM-Report-Fields.webp
  docs/res/screens/Joinable-DM-Report-Row-Actions.webp
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix images encoding
  docs/res/screens/Joinable-DM-Generated-SQL.webp
  docs/res/screens/Joinable-DM-Join-Settings.webp
Due: none

image quality restored
  docs/res/screens/Joinable-DM-Generated-SQL.webp
  docs/res/screens/Joinable-DM-Join-Settings.webp
Due: none

images as png
  docs/getting-started/setup-guide/joinable-data-marts.md
  docs/res/screens/Joinable-DM-Block.png
  docs/res/screens/Joinable-DM-Block.webp
  docs/res/screens/Joinable-DM-Canvas.png
  docs/res/screens/Joinable-DM-Canvas.webp
  docs/res/screens/Joinable-DM-Column-Picker.png
  docs/res/screens/Joinable-DM-Column-Picker.webp
  docs/res/screens/Joinable-DM-Generated-SQL.png
  docs/res/screens/Joinable-DM-Generated-SQL.webp
  docs/res/screens/Joinable-DM-Hide-Field.png
  docs/res/screens/Joinable-DM-Hide-Field.webp
  docs/res/screens/Joinable-DM-Join-Settings.png
  docs/res/screens/Joinable-DM-Join-Settings.webp
  docs/res/screens/Joinable-DM-Report-Fields.png
  docs/res/screens/Joinable-DM-Report-Fields.webp
  docs/res/screens/Joinable-DM-Report-Row-Actions.png
  docs/res/screens/Joinable-DM-Report-Row-Actions.webp
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

add new image links and remove outdated PNG files
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

remove outdated Joinable DM PNG files from documentation
  docs/res/screens/Joinable-DM-Block.png
  docs/res/screens/Joinable-DM-Canvas.png
  docs/res/screens/Joinable-DM-Column-Picker.png
  docs/res/screens/Joinable-DM-Generated-SQL.png
  docs/res/screens/Joinable-DM-Hide-Field.png
  docs/res/screens/Joinable-DM-Join-Settings.png
  docs/res/screens/Joinable-DM-Report-Fields.png
  docs/res/screens/Joinable-DM-Report-Row-Actions.png
Due: none

docs: joinable data marts (#1181)
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): enhance UI for data mart run history and report selector
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/components/ReportSelector.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerRunTarget.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns/columns.tsx
  apps/web/src/pages/project-settings/OverviewTab.tsx
Due: none

fix(web): add create trigger button to empty state in ScheduledTriggerTable
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
Due: none

refactor(web): enhance UI for data mart run history and report selector (#1182)
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/components/ReportSelector.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerRunTarget.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns/columns.tsx
  apps/web/src/pages/project-settings/OverviewTab.tsx
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
