Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(athena): cap MaxResults parameter to comply with AWS API limit
  .changeset/fix-athena-max-results-limit.md
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-api.adapter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(athena): cap MaxResults parameter to comply with AWS API limit (#934)
  .changeset/fix-athena-max-results-limit.md
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-api.adapter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: connector definition for dm list
  apps/backend/src/data-marts/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: connector definition for dm list (#935)
  apps/backend/src/data-marts/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): show next step promo on published dm page open
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/hooks/useDataMartNextStepPromo.tsx
Due: none

feat(web): show next step promo on published dm page open (#936)
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/hooks/useDataMartNextStepPromo.tsx
Due: none

fix(idp-owox-better-auth): fix email auth CORS error
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.test.ts
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp-owox-better-auth): fix email auth CORS error (#937)
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.test.ts
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: fix audit. update package dependencies and add new modules
  apps/backend/package.json
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

refactor: update notification titles and improve descriptions in Data Storage form
  apps/backend/src/notifications/enums/notification-type.enum.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/LegacyGoogleBigQueryProjectIdDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/LegacyGoogleBigQueryTitleDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/StorageTypeLegacyBigQueryDescription.tsx
  apps/web/src/features/data-storage/shared/types/data-storage-type.model.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update package-lock.json and package.json to reflect new dependencies and remove unused ones
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

refactor: update notification titles and improve descriptions in Data Storage form (#939)
  apps/backend/src/notifications/enums/notification-type.enum.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/LegacyGoogleBigQueryProjectIdDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/LegacyGoogleBigQueryTitleDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/StorageTypeLegacyBigQueryDescription.tsx
  apps/web/src/features/data-storage/shared/types/data-storage-type.model.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): set user name from email
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/mappers/user-info-payload-builder.test.ts
  packages/idp-owox-better-auth/src/mappers/user-info-payload-builder.ts
  packages/idp-owox-better-auth/src/utils/email-utils.test.ts
  packages/idp-owox-better-auth/src/utils/email-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update package.json and package-lock.json to remove unused dependencies and add new overrides for specific packages
  .github/workflows/audit-all.yml
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): set user name from email (#940)
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/mappers/user-info-payload-builder.test.ts
  packages/idp-owox-better-auth/src/mappers/user-info-payload-builder.ts
  packages/idp-owox-better-auth/src/utils/email-utils.test.ts
  packages/idp-owox-better-auth/src/utils/email-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: remove unused dependency 'cls-hooked' from package.json
  apps/backend/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

chore(idp-owox-better-auth): add changeset
  .changeset/email-auth-cloud-version.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: fix audit. update package dependencies and add new modules (#938)
  .github/workflows/audit-all.yml
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

fix: disable health status columns sorting
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columns.tsx
Due: none

fix: data storage list pagination
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
Due: none

chore(idp-owox-better-auth): add changeset (#942)
  .changeset/email-auth-cloud-version.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Revise changelog for version 0.19.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@f294572a37d3049b0bcc4135c71e9bb2d1ef94a1 🚀
  docs/changelog/index.html
  pagefind/fragment/en_2a8f411.pf_fragment
  pagefind/fragment/en_6e63777.pf_fragment
  pagefind/index/en_265e262.pf_index
  pagefind/index/en_4a2ab2b.pf_index
  pagefind/index/en_53d9abe.pf_index
  pagefind/index/en_544c29b.pf_index
  pagefind/index/en_83f6e3d.pf_index
  pagefind/index/en_962f2f5.pf_index
  pagefind/index/en_9d452d7.pf_index
  pagefind/index/en_aef7c49.pf_index
  pagefind/index/en_c692712.pf_index
  pagefind/index/en_d03284b.pf_index
  pagefind/index/en_d55f733.pf_index
  pagefind/index/en_dbd1a33.pf_index
  pagefind/index/en_f2f0589.pf_index
  pagefind/index/en_f990368.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3a99bf164b.pf_meta
  pagefind/pagefind.en_6fa01d3ced.pf_meta
Due: prettier --write --config ./prettier.config.js

fix: Fix pagination reset on health status updates in Data Storage list (#941)
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns/columns.tsx
Due: none

feat(idp-owox-better-auth): add api error page
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.ts
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/auth-error.ejs
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.test.ts
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.ts
  packages/idp-owox-better-auth/src/services/rendering/template-service.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
  packages/idp-owox-better-auth/src/utils/url-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): dont show get params description
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/auth-error.ejs
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.test.ts
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): delete not used function
  packages/idp-owox-better-auth/src/utils/url-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): add api error page (#943)
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.ts
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/auth-error.ejs
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.test.ts
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.ts
  packages/idp-owox-better-auth/src/services/rendering/template-service.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@7a5bd2066c19d3fd91668b8e04da3b0a960e91a4 🚀
  pagefind/index/en_265e262.pf_index
  pagefind/index/en_2c6fa23.pf_index
  pagefind/index/en_40698e7.pf_index
  pagefind/index/en_4827b02.pf_index
  pagefind/index/en_53d9abe.pf_index
  pagefind/index/en_69919af.pf_index
  pagefind/index/en_73fc482.pf_index
  pagefind/index/en_8141245.pf_index
  pagefind/index/en_83f6e3d.pf_index
  pagefind/index/en_962f2f5.pf_index
  pagefind/index/en_aef7c49.pf_index
  pagefind/index/en_b9debb1.pf_index
  pagefind/index/en_d03284b.pf_index
  pagefind/index/en_f990368.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3a99bf164b.pf_meta
  pagefind/pagefind.en_da9f3fe44a.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): improving email deliverability
  packages/idp-owox-better-auth/src/resources/templates/email/magic-link-email.ejs
  packages/idp-owox-better-auth/src/services/email/magic-link-email-service.test.ts
  packages/idp-owox-better-auth/src/services/email/magic-link-email-service.ts
  packages/internal-helpers/src/integrations/email/index.ts
  packages/internal-helpers/src/integrations/email/providers/noop-provider.ts
  packages/internal-helpers/src/integrations/email/providers/sendgrid-provider.ts
  packages/internal-helpers/src/integrations/email/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): delete not used function
  packages/idp-owox-better-auth/src/services/email/magic-link-email-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): improving email deliverability (#944)
  packages/idp-owox-better-auth/src/resources/templates/email/magic-link-email.ejs
  packages/idp-owox-better-auth/src/services/email/magic-link-email-service.test.ts
  packages/idp-owox-better-auth/src/services/email/magic-link-email-service.ts
  packages/internal-helpers/src/integrations/email/index.ts
  packages/internal-helpers/src/integrations/email/providers/noop-provider.ts
  packages/internal-helpers/src/integrations/email/providers/sendgrid-provider.ts
  packages/internal-helpers/src/integrations/email/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): separate endpoint for dm health status
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/batch-data-mart-health-status-item.dto.ts
  apps/backend/src/data-marts/dto/domain/batch-data-mart-health-status-response.dto.ts
  apps/backend/src/data-marts/dto/domain/batch-data-mart-health-status.command.ts
  apps/backend/src/data-marts/dto/presentation/batch-data-mart-health-status-item-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/batch-data-mart-health-status-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/batch-data-mart-health-status-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/batch-data-mart-health-status.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): use separate endpoint for dm health status
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/model/hooks/useDataMartHealthStatusPrefetch.ts
  apps/web/src/features/data-marts/shared/services/data-mart-health-status.service.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/batch-data-mart-health-status-item.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/batch-data-mart-health-status.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(docs): add AWS Redshift IAM access key creation screenshots for clarity
  docs/res/screens/redshift_accesskeys.png
  docs/res/screens/redshift_createkey.png
  docs/res/screens/redshift_creatingkeyoption.png
  docs/res/screens/redshift_permissions.png
  docs/res/screens/redshift_saveconfig.png
  docs/storages/supported-storages/aws-redshift.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): add AWS Redshift configuration screenshots for improved clarity
  docs/res/screens/redshift_cluster.png
  docs/res/screens/redshift_configure.png
  docs/res/screens/redshift_database.png
  docs/res/screens/redshift_region.png
  docs/res/screens/redshift_storage.png
  docs/res/screens/redshift_workgroup.png
  docs/storages/supported-storages/aws-redshift.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): reorder and clarify database name section in AWS Redshift configuration
  docs/storages/supported-storages/aws-redshift.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): update AWS Redshift configuration instructions for clarity
  docs/storages/supported-storages/aws-redshift.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): improve clarity and structure in AWS Redshift configuration guide
  docs/storages/supported-storages/aws-redshift.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
