Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

test(backend): update integration gs test
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: allow report runs and trigger CRUD for users who see the Data Mart
  apps/backend/src/data-marts/controllers/scheduled-trigger.controller.ts
  apps/backend/src/data-marts/dto/domain/list-reports-by-insight-template.command.ts
  apps/backend/src/data-marts/dto/domain/report.dto.ts
  apps/backend/src/data-marts/dto/presentation/report-response-api.dto.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/report-access.service.spec.ts
  apps/backend/src/data-marts/services/report-access.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/create-scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/delete-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/get-report.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-insight-template.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-project.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/backend/src/data-marts/use-cases/update-scheduled-trigger.service.ts
  apps/backend/test/report-operate-access.e2e-spec.ts
  apps/web/src/features/data-marts/reports/shared/model/mappers/report.mapper.ts
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/services/types/report-response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(review): fixes after review
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/dto/domain/run-report.command.ts
  apps/backend/src/data-marts/dto/presentation/report-response-api.dto.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/scheduled-trigger-types/scheduled-report-run/services/scheduled-report-run-processor.ts
  apps/backend/src/data-marts/services/report-access.service.spec.ts
  apps/backend/src/data-marts/services/report-access.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/delete-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/get-report.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-insight-template.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-project.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/backend/src/data-marts/use-cases/update-scheduled-trigger.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: allow report runs and trigger CRUD for users who see the Data Mart (#1193)
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/scheduled-trigger.controller.ts
  apps/backend/src/data-marts/dto/domain/list-reports-by-insight-template.command.ts
  apps/backend/src/data-marts/dto/domain/report.dto.ts
  apps/backend/src/data-marts/dto/domain/run-report.command.ts
  apps/backend/src/data-marts/dto/presentation/report-response-api.dto.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/scheduled-trigger-types/scheduled-report-run/services/scheduled-report-run-processor.ts
  apps/backend/src/data-marts/services/report-access.service.spec.ts
  apps/backend/src/data-marts/services/report-access.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/create-scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/delete-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/get-report.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-insight-template.service.ts
  apps/backend/src/data-marts/use-cases/list-reports-by-project.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/backend/src/data-marts/use-cases/update-scheduled-trigger.service.ts
  apps/backend/test/report-operate-access.e2e-spec.ts
  apps/web/src/features/data-marts/reports/shared/model/mappers/report.mapper.ts
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/services/types/report-response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add google sheet columns adjustment (#1191)
  .changeset/columns-adjustment-ruslan-intelligence-report.md
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/constants/google-sheets-metadata-keys.constants.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.ts
  apps/backend/src/data-marts/dto/domain/column-plan.dto.ts
  apps/backend/test/integration/README.md
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
  apps/backend/test/integration/google-sheets.integration.ts
  packages/test-utils/src/constants.ts
  packages/test-utils/src/helpers/google-sheets-test-sheet.ts
  packages/test-utils/src/helpers/index.ts
  packages/test-utils/src/helpers/seed-data-mart-with-sql.ts
  packages/test-utils/src/helpers/set-data-mart-alias.ts
  packages/test-utils/src/helpers/setup-google-sheets-report.ts
  packages/test-utils/src/helpers/wait-for-report-completion.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@9e5e3e037f46660c0d7cd23ca7d221ca97961dc5 🚀
  apps/backend/test/integration/readme/index.html
  pagefind/fragment/en_4c57c86.pf_fragment
  pagefind/fragment/en_81d731a.pf_fragment
  pagefind/index/en_1c43522.pf_index
  pagefind/index/en_26f4502.pf_index
  pagefind/index/en_2a57682.pf_index
  pagefind/index/en_2c301d3.pf_index
  pagefind/index/en_2e79e24.pf_index
  pagefind/index/en_423eea8.pf_index
  pagefind/index/en_4ff4586.pf_index
  pagefind/index/en_651876c.pf_index
  pagefind/index/en_655bf5a.pf_index
  pagefind/index/en_6f3d1e7.pf_index
  pagefind/index/en_88188d6.pf_index
  pagefind/index/en_96d0737.pf_index
  pagefind/index/en_c9679f7.pf_index
  pagefind/index/en_cf097cf.pf_index
  pagefind/index/en_dc1f52e.pf_index
  pagefind/index/en_e0cd1af.pf_index
  pagefind/index/en_e224ee2.pf_index
  pagefind/index/en_e575c22.pf_index
  pagefind/index/en_e8f37dd.pf_index
  pagefind/index/en_f345d0c.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_75d380ffe8.pf_meta
  pagefind/pagefind.en_cb3f576c05.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): enhance report creation and team collaboration features (#1194)
  .changeset/promote-report-creation-and-invite-teammates.md
  apps/web/e2e/specs/availability.spec.ts
  apps/web/e2e/specs/trigger.spec.ts
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/AddReportButton.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportListRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
  apps/web/src/shared/components/InviteTeammatesCard/InviteTeammatesCard.tsx
  apps/web/src/shared/components/Table/BaseTable.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): clear stale rows on Google Sheets refresh when result set shrinks
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(docs): updated `google-sheets.md`
  docs/destinations/supported-destinations/google-sheets.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): clear stale rows on Google Sheets refresh when result set shrinks (#1198)
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@2efb9bc261f937817d602d2d8b1e7910640a39ad 🚀
  docs/destinations/supported-destinations/google-sheets/index.html
  pagefind/fragment/en_3666e09.pf_fragment
  pagefind/fragment/en_3e36cf4.pf_fragment
  pagefind/index/en_131057c.pf_index
  pagefind/index/en_1c43522.pf_index
  pagefind/index/en_26f4502.pf_index
  pagefind/index/en_30f4db8.pf_index
  pagefind/index/en_3c4e461.pf_index
  pagefind/index/en_46b790f.pf_index
  pagefind/index/en_49148eb.pf_index
  pagefind/index/en_4ad4647.pf_index
  pagefind/index/en_5699d45.pf_index
  pagefind/index/en_7dfcfac.pf_index
  pagefind/index/en_88188d6.pf_index
  pagefind/index/en_96d0737.pf_index
  pagefind/index/en_bad94ba.pf_index
  pagefind/index/en_c375cb3.pf_index
  pagefind/index/en_c9679f7.pf_index
  pagefind/index/en_dc1f52e.pf_index
  pagefind/index/en_e0cd1af.pf_index
  pagefind/index/en_e224ee2.pf_index
  pagefind/index/en_e8f37dd.pf_index
  pagefind/index/en_f345d0c.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5a64bdb65a.pf_meta
  pagefind/pagefind.en_cb3f576c05.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): promo bulk data mart creation (#1196)
  .changeset/promo-block-bigquery-bulk-import.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartDefinitionForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DefinitionFqnField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/FillFromStorageButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/TablePatternDefinitionField.tsx
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/BulkCreateFromStorageDialog.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
  apps/web/src/features/data-marts/shared/utils/data-mart-presets.ts
  apps/web/src/features/data-storage/shared/components/UnhealthyStorageBlock/UnhealthyStorageBlock.tsx
  apps/web/src/features/data-storage/shared/components/UnhealthyStorageBlock/index.ts
  apps/web/src/features/data-storage/shared/components/index.ts
  apps/web/src/shared/components/ConfirmationDialog/ConfirmationDialog.tsx
  apps/web/src/shared/components/PromoBlock/PromoBlock.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(report): fix no value error with non string types
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(report): fix no value error with non string types (#1199)
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): add initialDefinitionType prop to DataMartDefinitionForm and update logic for auto-opening sections based on definition type
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartDefinitionForm.tsx
Due: none

chore(changeset): refine changeset description
  .changeset/promo-block-bigquery-bulk-import.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): update logic for auto-opening sections based on definition type (#1200)
  .changeset/promo-block-bigquery-bulk-import.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartDefinitionForm.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): default new Data Marts to available for reporting
  .changeset/data-mart-default-available-for-reporting.md
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.ts
  apps/backend/test/ownership.e2e-spec.ts
  apps/backend/test/permissions-contexts.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): default new Storages and Destinations to available for use
  .changeset/data-mart-default-available-for-reporting.md
  apps/backend/src/data-marts/entities/data-destination.entity.ts
  apps/backend/src/data-marts/entities/data-storage.entity.ts
  apps/backend/src/data-marts/entities/sharing-fields.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): update AVL-02 e2e for new storage availability default
  apps/web/e2e/specs/availability.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): create GenerateDataMartMetadataOrchestratorService, add DataMartAiHelperGeneratedEvent
  apps/backend/src/data-marts/ai-insights/ai-insights-providers.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/facades/ai-insights.facade.impl.ts
  apps/backend/src/data-marts/ai-insights/generate-data-mart-metadata.orchestrator.service.ts
  apps/backend/src/data-marts/events/data-mart-ai-helper-generated.event.ts
  apps/backend/src/data-marts/use-cases/generate-data-mart-metadata.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Feature/data mart available for reporting default true (#1201)
  .changeset/data-mart-default-available-for-reporting.md
  apps/backend/src/data-marts/entities/data-destination.entity.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/entities/data-storage.entity.ts
  apps/backend/src/data-marts/entities/sharing-fields.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-storage.service.ts
  apps/backend/test/ownership.e2e-spec.ts
  apps/backend/test/permissions-contexts.e2e-spec.ts
  apps/web/e2e/specs/availability.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): remove unnecessary contexts documentation
  .changeset/contexts-documentation.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: update documentation and assets to replace "Looker Studio" with "Data Studio"
  docs/editions/owox-cloud-editions.md
  docs/editions/self-managed-editions.md
  docs/getting-started/setup-guide/extension-data-marts.md
  docs/res/data_studio.svg
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changeset for report operate-access
  .changeset/allow-report-runs-for-data-mart-viewers.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changeset for report operate-access (#1205)
  .changeset/allow-report-runs-for-data-mart-viewers.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: replace Looker Studio logo with new Data Studio logo
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/shared/icons/data-studio-icon.tsx
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update image links in documentation for Data Studio and Email destinations
  docs/destinations/supported-destinations/data-studio.md
  docs/destinations/supported-destinations/email.md
  docs/getting-started/setup-guide/extension-data-marts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp-owox): implement user provisioning settings retrieval and update methods
  packages/idp-better-auth/jest.setup.ts
  packages/idp-better-auth/src/providers/better-auth-provider.test.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.userProvisioning.test.ts
  packages/idp-owox-better-auth/src/client/dto/index.ts
  packages/idp-owox-better-auth/src/client/dto/userProvisioningDto.test.ts
  packages/idp-owox-better-auth/src/client/dto/userProvisioningDto.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-protocol/eslint.config.js
  packages/idp-protocol/jest.config.js
  packages/idp-protocol/package.json
  packages/idp-protocol/src/providers/null-provider.test.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update PromoBlock titles and descriptions for Google Sheets promo-banner
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/shared/components/PromoBlock/PromoBlock.tsx
Due: none

feat(idp-owox): implement user provisioning settings retrieval and update methods (#1207)
  packages/idp-better-auth/jest.setup.ts
  packages/idp-better-auth/src/providers/better-auth-provider.test.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.userProvisioning.test.ts
  packages/idp-owox-better-auth/src/client/dto/index.ts
  packages/idp-owox-better-auth/src/client/dto/userProvisioningDto.test.ts
  packages/idp-owox-better-auth/src/client/dto/userProvisioningDto.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-protocol/eslint.config.js
  packages/idp-protocol/jest.config.js
  packages/idp-protocol/package.json
  packages/idp-protocol/src/providers/null-provider.test.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update PromoBlock titles and descriptions for Google Sheets promo-banner (#1206)
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/shared/components/PromoBlock/PromoBlock.tsx
Due: none

chore(docs): update OWOX data marts schema SVG
  docs/res/owox-data-marts-schema.svg
Due: none

refactor(backend): update GenerateDataMartMetadataOrchestratorService
  apps/backend/src/data-marts/ai-insights/generate-data-mart-metadata.orchestrator.service.ts
  apps/backend/src/data-marts/events/data-mart-ai-helper-generated.event.ts
  apps/backend/src/data-marts/services/data-mart-sample-data.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartOverview.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/shared/components/InlineEditDescription/InlineEditDescription.tsx
  apps/web/src/shared/components/InlineEditTitle/InlineEditTitle.tsx
  packages/ui/src/components/common/editable-text.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: rename Looker Studio to Data Studio in README files
  apps/web/e2e/README.md
  packages/test-utils/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
