Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

feat(http-data): stream aggregations and date buckets (#1420)
  .changeset/http-data-aggregations.md
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.openapi.spec.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.ts
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.ts
  apps/backend/src/data-marts/services/http-data/http-data-column-validator.service.spec.ts
  apps/backend/src/data-marts/services/http-data/http-data-column-validator.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/test/http-data.e2e-spec.ts
  apps/ctl/src/commands/data-marts/stream.test.ts
  apps/ctl/src/commands/data-marts/stream.ts
  docs/api/api-client.md
  docs/api/owox-ctl.md
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@873c74ff6161f38cd3070706c75632f119ee04c4 🚀
  pagefind/index/en_0be6d52.pf_index
  pagefind/index/en_3a63c3c.pf_index
  pagefind/index/en_4514c38.pf_index
  pagefind/index/en_55ce4da.pf_index
  pagefind/index/en_57ee5e3.pf_index
  pagefind/index/en_7f5dbff.pf_index
  pagefind/index/en_7fb26f3.pf_index
  pagefind/index/en_894cadb.pf_index
  pagefind/index/en_976fef5.pf_index
  pagefind/index/en_a1c7e9f.pf_index
  pagefind/index/en_aafe408.pf_index
  pagefind/index/en_bcfe8e4.pf_index
  pagefind/index/en_c472169.pf_index
  pagefind/index/en_c566428.pf_index
  pagefind/index/en_c960f9b.pf_index
  pagefind/index/en_cc10d78.pf_index
  pagefind/index/en_cdd8ff3.pf_index
  pagefind/index/en_dc5fc46.pf_index
  pagefind/index/en_ddd1233.pf_index
  pagefind/index/en_e05bf31.pf_index
  pagefind/index/en_e7e8dd7.pf_index
  pagefind/index/en_fed2c2a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3d34f0e22c.pf_meta
  pagefind/pagefind.en_aebbbb51e7.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@7d09e62975e83248f9e9af30206c80c59ef70c73 🚀
  docs/api/api-client/index.html
  docs/api/owox-ctl/index.html
  pagefind/fragment/en_2146d49.pf_fragment
  pagefind/fragment/en_88d776d.pf_fragment
  pagefind/fragment/en_af6a11e.pf_fragment
  pagefind/fragment/en_cc38375.pf_fragment
  pagefind/index/en_06d3cfc.pf_index
  pagefind/index/en_13f3d67.pf_index
  pagefind/index/en_196bd5d.pf_index
  pagefind/index/en_4fb7b5c.pf_index
  pagefind/index/en_57ee5e3.pf_index
  pagefind/index/en_62feb6f.pf_index
  pagefind/index/en_766963b.pf_index
  pagefind/index/en_771ac98.pf_index
  pagefind/index/en_7f5dbff.pf_index
  pagefind/index/en_7fb26f3.pf_index
  pagefind/index/en_8bded43.pf_index
  pagefind/index/en_976fef5.pf_index
  pagefind/index/en_9b1c44c.pf_index
  pagefind/index/en_a80b676.pf_index
  pagefind/index/en_aafe408.pf_index
  pagefind/index/en_b392fea.pf_index
  pagefind/index/en_bcfe8e4.pf_index
  pagefind/index/en_c472169.pf_index
  pagefind/index/en_cc10d78.pf_index
  pagefind/index/en_dc5fc46.pf_index
  pagefind/index/en_e7e8dd7.pf_index
  pagefind/index/en_fed2c2a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3d34f0e22c.pf_meta
  pagefind/pagefind.en_eb55fe9bc7.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(mcp): sort query_data_mart results
  .changeset/mcp-query-data-mart-sort.md
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: document nested blended naming tradeoffs and derive sqlPrefix internally
  .changeset/6724-column-picker-nested-field-name-collision.md
  apps/backend/src/data-marts/controllers/spec/report-openapi.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-field-name.spec.ts
  apps/backend/src/data-marts/services/blended-field-name.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/migrations/1779200000000-migrate-prejoin-filter-to-unified-column.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fixes after the review
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useColumnVisibility.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useColumnVisibility.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update package-lock.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

fix(data-marts): name the real cause when a Sheets folder is unreachable
  .changeset/gsheets-drive-api-disabled-diagnostics.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-folder-validator.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-folder-validator.service.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): stop schema output edits from being silently reverted (#1418)
  .changeset/6725-schema-column-visibility-reset.md
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useColumnVisibility.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useColumnVisibility.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SchemaTable.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(backend): align OpenAPI filter column description assertion
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): persist sort in query_data_mart run metadata
  apps/backend/src/data-marts/dto/schemas/mcp-query-run-metadata.schema.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): clearer permission errors that persist until dismissed
  .changeset/6716-clearer-permission-error-messages.md
  apps/backend/src/data-marts/use-cases/update-availability.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-owners.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-owners.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
  apps/web/src/app/api/apiClient.ts
  apps/web/src/shared/utils/showApiErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): sort query_data_mart results (#1422)
  .changeset/mcp-query-data-mart-sort.md
  apps/backend/src/data-marts/dto/schemas/mcp-query-run-metadata.schema.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@52b3245e8776d266ab057be2e21abbd7e368e436 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_10b5ae8.pf_fragment
  pagefind/fragment/en_235ee49.pf_fragment
  pagefind/index/en_06d3cfc.pf_index
  pagefind/index/en_13f3d67.pf_index
  pagefind/index/en_1920f2a.pf_index
  pagefind/index/en_196bd5d.pf_index
  pagefind/index/en_1b506c9.pf_index
  pagefind/index/en_2d13be6.pf_index
  pagefind/index/en_32b72c1.pf_index
  pagefind/index/en_4fb7b5c.pf_index
  pagefind/index/en_62feb6f.pf_index
  pagefind/index/en_6666541.pf_index
  pagefind/index/en_766963b.pf_index
  pagefind/index/en_771ac98.pf_index
  pagefind/index/en_779417b.pf_index
  pagefind/index/en_7c2054e.pf_index
  pagefind/index/en_7cb73c1.pf_index
  pagefind/index/en_8bded43.pf_index
  pagefind/index/en_9b1c44c.pf_index
  pagefind/index/en_a80b676.pf_index
  pagefind/index/en_b392fea.pf_index
  pagefind/index/en_db325b0.pf_index
  pagefind/index/en_f0e9511.pf_index
  pagefind/index/en_fa4d8d0.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_581e0dabbe.pf_meta
  pagefind/pagefind.en_eb55fe9bc7.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(data-marts): name the real cause when a Sheets folder is unreachable (#1423)
  .changeset/gsheets-drive-api-disabled-diagnostics.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-folder-validator.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-folder-validator.service.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@300cc7345fa4e9fc5f5dcb214a2f10259d04dd1d 🚀
  docs/destinations/supported-destinations/google-sheets/index.html
  pagefind/fragment/en_c46aaa1.pf_fragment
  pagefind/fragment/en_cd98874.pf_fragment
  pagefind/index/en_15c2678.pf_index
  pagefind/index/en_1920f2a.pf_index
  pagefind/index/en_1b506c9.pf_index
  pagefind/index/en_2538c8f.pf_index
  pagefind/index/en_2d13be6.pf_index
  pagefind/index/en_32b72c1.pf_index
  pagefind/index/en_4938d1c.pf_index
  pagefind/index/en_5c6213a.pf_index
  pagefind/index/en_6666541.pf_index
  pagefind/index/en_779417b.pf_index
  pagefind/index/en_7c2054e.pf_index
  pagefind/index/en_7cb73c1.pf_index
  pagefind/index/en_92fd989.pf_index
  pagefind/index/en_941a80b.pf_index
  pagefind/index/en_b6e7d55.pf_index
  pagefind/index/en_da1ac38.pf_index
  pagefind/index/en_db325b0.pf_index
  pagefind/index/en_e545bcb.pf_index
  pagefind/index/en_f0e9511.pf_index
  pagefind/index/en_f7b8c0f.pf_index
  pagefind/index/en_f9e88d3.pf_index
  pagefind/index/en_fa4d8d0.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3645177391.pf_meta
  pagefind/pagefind.en_581e0dabbe.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(mcp): support Looker Studio destinations in add_report
  .changeset/mcp-add-report-looker-studio.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(tiktok-ads): let Data Level choose insights reporting grain (#1411)
  .changeset/6617-tiktok-ads-data-level.md
  apps/backend/src/data-marts/connector-types/connector-fields-schema.ts
  apps/backend/src/data-marts/mappers/connector.mapper.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/AddConfigurationButton.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/shared/api/types/response/connector.response.dto.ts
  apps/web/src/features/connectors/shared/constants/connector-config.test.ts
  apps/web/src/features/connectors/shared/constants/connector-config.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  docs/getting-started/setup-guide/connector-data-mart.md
  package-lock.json
  packages/connectors/package.json
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/TikTokAds/TikTokAdsAPIReference/TikTokAdsFieldsSchema.js
  packages/connectors/test/Sources/TikTokAds/Source.test.js
  packages/connectors/test/support/loadGasClass.js
  packages/connectors/vitest.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@091d50240225379814cb0167b7c496e5b1f053f9 🚀
  docs/getting-started/setup-guide/connector-data-mart/index.html
  packages/connectors/src/sources/tik-tok-ads/getting-started/index.html
  packages/connectors/src/sources/tik-tok-ads/readme/index.html
  pagefind/fragment/en_1bd19ce.pf_fragment
  pagefind/fragment/en_7a254da.pf_fragment
  pagefind/fragment/en_a75afb3.pf_fragment
  pagefind/fragment/en_ad1fda1.pf_fragment
  pagefind/fragment/en_e8c0fae.pf_fragment
  pagefind/fragment/en_f2d852f.pf_fragment
  pagefind/index/en_15c2678.pf_index
  pagefind/index/en_2014d8e.pf_index
  pagefind/index/en_2538c8f.pf_index
  pagefind/index/en_2beb115.pf_index
  pagefind/index/en_46a69c8.pf_index
  pagefind/index/en_4938d1c.pf_index
  pagefind/index/en_4dd946c.pf_index
  pagefind/index/en_5c6213a.pf_index
  pagefind/index/en_6e59627.pf_index
  pagefind/index/en_762e70a.pf_index
  pagefind/index/en_92fd989.pf_index
  pagefind/index/en_941a80b.pf_index
  pagefind/index/en_9cab6fe.pf_index
  pagefind/index/en_a91c169.pf_index
  pagefind/index/en_b6e7d55.pf_index
  pagefind/index/en_da1ac38.pf_index
  pagefind/index/en_da25d0d.pf_index
  pagefind/index/en_e250991.pf_index
  pagefind/index/en_e545bcb.pf_index
  pagefind/index/en_f31b1e1.pf_index
  pagefind/index/en_f7b8c0f.pf_index
  pagefind/index/en_f9e88d3.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3645177391.pf_meta
  pagefind/pagefind.en_fb13a5e537.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(mcp): support email-family destinations in add_report
  .changeset/mcp-add-report-email-family.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changeset for Google Sheets refresh error details and selection
  .changeset/6741-refresh-all-error-details-and-selection.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changeset for Google Sheets refresh error details and selection (#1427)
  .changeset/6741-refresh-all-error-details-and-selection.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): introduce buildBlendedFieldUnifiedName for stable field aliasing (#1414)
  .changeset/6724-column-picker-nested-field-name-collision.md
  apps/backend/src/data-marts/controllers/spec/report-openapi.ts
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-field-name.spec.ts
  apps/backend/src/data-marts/services/blended-field-name.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/migrations/1779200000000-migrate-prejoin-filter-to-unified-column.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): suppress the missing-PK attention badge on a blocked join
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
Due: none

feat(data-marts): dedup-aware joined-field aggregations and missing-PK warning
  .changeset/joined-data-mart-primary-key-and-aggregations.md
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/data-storage-types/field-aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/field-aggregation.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/dto/domain/relationship.dto.ts
  apps/backend/src/data-marts/dto/presentation/relationship-response-api.dto.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.spec.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-field-index.spec.ts
  apps/backend/src/data-marts/services/blended-field-index.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-warning-state.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-warning-state.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
  apps/web/src/features/data-marts/shared/utils/aggregation-governance.test.ts
  apps/web/src/features/data-marts/shared/utils/aggregation-governance.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): label unresolved slice rules with the raw pre-join type
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ActiveRulesPopover.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ActiveRulesPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.tsx
Due: none

feat(web): distinguish "attention" from "warning" for missing-PK joins
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-warning-state.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-warning-state.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): use the raw pre-join type for slice authoring
  .changeset/joined-data-mart-primary-key-and-aggregations.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterOrSliceEditorPopover.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterOrSliceEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): null-safe the post-join reset guard on a dedup category change
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipFlowNode.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
Due: none

fix(mcp): expose the pre-join slice type for joined fields and guide operator errors
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): preserve an explicit empty aggregation set on a dedup category change
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
Due: none

fix(web): dedicated dismiss button for persistent error toasts
  apps/web/src/shared/utils/showApiErrorToast.test.ts
  apps/web/src/shared/utils/showApiErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Final fixes
  apps/backend/src/data-marts/use-cases/update-data-destination.service.spec.ts
  apps/web/src/shared/utils/showApiErrorToast.test.ts
  apps/web/src/shared/utils/showApiErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): clearer permission errors that persist until dismissed (#1425)
  .changeset/6716-clearer-permission-error-messages.md
  apps/backend/src/data-marts/use-cases/update-availability.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-owners.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-owners.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
  apps/web/src/app/api/apiClient.ts
  apps/web/src/shared/utils/showApiErrorToast.test.ts
  apps/web/src/shared/utils/showApiErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(bigquery): clarify required storage roles
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/GoogleBigQueryAuthMethodDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/GoogleBigQueryOAuthDescription.tsx
  docs/storages/supported-storages/google-bigquery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(bigquery): clarify required storage roles (#1429)
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/GoogleBigQueryAuthMethodDescription.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/GoogleBigQueryOAuthDescription.tsx
  docs/storages/supported-storages/google-bigquery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@96720ea456c1baf7b7d28c46e898f92de169e297 🚀
  docs/storages/supported-storages/google-bigquery/index.html
  pagefind/fragment/en_d1a4cc9.pf_fragment
  pagefind/fragment/en_ea8ddeb.pf_fragment
  pagefind/index/en_19c18c8.pf_index
  pagefind/index/en_2014d8e.pf_index
  pagefind/index/en_2beb115.pf_index
  pagefind/index/en_46a69c8.pf_index
  pagefind/index/en_4a32fc2.pf_index
  pagefind/index/en_4dd946c.pf_index
  pagefind/index/en_5726262.pf_index
  pagefind/index/en_5b28cae.pf_index
  pagefind/index/en_6e59627.pf_index
  pagefind/index/en_762e70a.pf_index
  pagefind/index/en_8dd7e71.pf_index
  pagefind/index/en_9cab6fe.pf_index
  pagefind/index/en_a2f22b0.pf_index
  pagefind/index/en_a7884d6.pf_index
  pagefind/index/en_a91c169.pf_index
  pagefind/index/en_b42950b.pf_index
  pagefind/index/en_c780fc6.pf_index
  pagefind/index/en_cc4c7d5.pf_index
  pagefind/index/en_da25d0d.pf_index
  pagefind/index/en_e250991.pf_index
  pagefind/index/en_ef22566.pf_index
  pagefind/index/en_f31b1e1.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_123ab0c117.pf_meta
  pagefind/pagefind.en_fb13a5e537.pf_meta
Due: prettier --write --config ./prettier.config.js

refactor(web): replace Sparkles icon with Bookmark across components
  apps/web/src/components/AppSidebar/MainMenu/items.ts
  apps/web/src/features/data-marts/insights-prev/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/AiAssistantPanel.tsx
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightLoader.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListView.tsx
  apps/web/src/features/data-marts/insights/components/ai-assistant/AiAssistantHistory.tsx
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.test.tsx
  apps/web/src/pages/data-marts/shared/ProjectDataMartEmptyState.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance Output Schema AI actions and table toolbar UX
  .changeset/6550-output-schema-buttons-improve.md
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SchemaContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/SchemaFieldStatusIcon.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/SchemaHeaderAiButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/TableToolbar.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/index.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/AthenaSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/DatabricksSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/RedshiftSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SnowflakeSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/types/schema-toolbar.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
