Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): filter ReportSelector items to show only Google Sheets reports
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/components/ReportSelector.tsx
Due: none

refactor(web): replace hardcoded string with DataDestinationType enum in ReportSelector
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/components/ReportSelector.tsx
Due: none

fix: preserve output schema field order in Google Sheets export
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-report-reader.interface.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): streamline CollapsibleCard component structure and enhance header functionality
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCard.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardActions.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeader.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeaderActions.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeaderTitle.tsx
  apps/web/src/shared/components/CollapsibleCard/index.ts
  apps/web/src/shared/components/CollapsibleCard/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(ui): remove unnecessary wrapper from SkeletonList component
  packages/ui/src/components/common/skeleton-list.tsx
Due: none

refactor(web): add CollapsibleCardContent and CollapsibleCardFooter exports to enhance component functionality
  apps/web/src/shared/components/CollapsibleCard/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): enhance CollapsibleCard structure and integrate header actions for improved user interaction
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartRunHistoryContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
Due: none

feat(TikTokAds): mark App ID and App Secret as required fields
  packages/connectors/src/Sources/TikTokAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): added method getDestinationName()
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/BingAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/XAds/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): added method getDestinationName()
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): added config.DestinationTableNameOverride to BigQueryStorageConfig
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): fixed config for OpenExchangeRates
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Create enhanced-output-schema-formatting.md
  .changeset/enhanced-output-schema-formatting.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update README.md
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): add html tags for video
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(LinkedInAds): remove unused fields from adCampaignFields and creativesFields
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/creativesFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update enhanced-output-schema-formatting.md
  .changeset/enhanced-output-schema-formatting.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): convert bare GitHub video links to HTML video tags in markdown
  README.md
  apps/docs/scripts/sync-docs.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): remove markdown lint disable comments
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): update GitHub video link processing to handle angle brackets
  apps/docs/scripts/sync-docs.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): update ConnectorRunForm to set incremental runs by default and improve tooltips
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.tsx
Due: none

chore: update internal package versions to use wildcard
  .github/workflows/release-pr.yml
  apps/backend/package.json
  apps/owox/package.json
  packages/connector-runner/package.json
Due: prettier --write --config ./prettier.config.js

feat: add formatting step for package.json files in release workflow
  .github/workflows/release-pr.yml
  package.json
Due: prettier --write --config ./prettier.config.js

feat(web): implement column visibility and sorting persistence in localStorage
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportsTable/LookerStudioReportsTable.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
  apps/web/src/hooks/useTableStorage.ts
  apps/web/src/services/localstorage.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): fixed imports
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportsTable/LookerStudioReportsTable.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
Due: none

fix(web): fixed imports
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/hooks/useTableStorage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(web): added changeset file
  .changeset/ui-table-state-persistence.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: Integrate IDP Protocol and enhance server configuration
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  apps/owox/src/idp/factory.ts
  apps/owox/src/idp/index.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

update middleware for new ipd modules
  apps/owox/src/commands/serve.ts
  apps/owox/src/idp/factory.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: Update package-lock.json with dependency version upgrades and new package addition
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat: Initialize @owox/idp-protocol package with core types, NULL provider, and configuration files
  packages/idp-protocol/.prettierrc.js
  packages/idp-protocol/README.md
  packages/idp-protocol/eslint.config.js
  packages/idp-protocol/package.json
  packages/idp-protocol/src/index.ts
  packages/idp-protocol/src/providers/index.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/config.ts
  packages/idp-protocol/src/types/errors.ts
  packages/idp-protocol/src/types/index.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
  packages/idp-protocol/tsconfig.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp-protocol): correct formatting in README.md for consistency and clarity
  packages/idp-protocol/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: Add GitHub Actions workflow for linting @owox/idp-protocol package
  .github/workflows/lint-idp-protocol.yml
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.js

feat(idp-protocol): enhance IDP protocol with middleware support and updated core types
  package-lock.json
  packages/idp-protocol/README.md
  packages/idp-protocol/package.json
  packages/idp-protocol/src/index.ts
  packages/idp-protocol/src/middleware/index.ts
  packages/idp-protocol/src/middleware/protocol-middleware.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/cli.ts
  packages/idp-protocol/src/types/index.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: Integrate IDP authentication system
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/common/authorization-context/authorization.context.ts
  apps/backend/src/data-marts/controllers/connector.controller.ts
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/scheduled-trigger.controller.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/mappers/scheduled-trigger.mapper.ts
  apps/backend/src/idp/decorators/auth-context.decorator.ts
  apps/backend/src/idp/decorators/auth.decorator.ts
  apps/backend/src/idp/decorators/index.ts
  apps/backend/src/idp/decorators/roles.decorator.ts
  apps/backend/src/idp/guards/idp-auth.guard.ts
  apps/backend/src/idp/guards/idp-role.guard.ts
  apps/backend/src/idp/guards/index.ts
  apps/backend/src/idp/idp.module.ts
  apps/backend/src/idp/index.ts
  apps/backend/src/idp/types/auth.types.ts
  apps/backend/src/idp/types/index.ts
  apps/backend/src/main.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

update guards and decorators for new ipd modules
  apps/backend/src/idp/decorators/auth-context.decorator.ts
  apps/backend/src/idp/decorators/index.ts
  apps/backend/src/idp/decorators/roles.decorator.ts
  apps/backend/src/idp/filters/idp-exception.filter.ts
  apps/backend/src/idp/guards/idp-auth.guard.ts
  apps/backend/src/idp/guards/idp-role.guard.ts
  apps/backend/src/idp/idp.module.ts
  apps/backend/src/idp/types/auth.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): update Icon component size in CollapsibleCardHeaderTitle for improved consistency
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeaderTitle.tsx
Due: none

fix(web): adjust spacing for CopyToClipboardButton in Looker Studio report edit form and remove unused state in Google Sheets actions cell
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsActionsCell/GoogleSheetsActionsCell.tsx
Due: none

feat(web): add EmptyDataMartDestinationsState component for improved user guidance in data mart destinations
  apps/web/src/features/data-marts/reports/shared/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
