Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix(connectors): describe new tables with their node's description again
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/TestStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): keep a custom manifest away from the storage's settings
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): show a run's plain-text errors as errors in run history
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): write catalog batches as they arrive again
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/test/Sources/FacebookMarketing/Source.test.js
  packages/connectors/test/Sources/MicrosoftAds/Source.test.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): refuse parameter names a template cannot use or the host reserves
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): require edit access to the Data Marts a release reaches
  apps/backend/src/data-marts/controllers/connector-definition.controller.list.spec.ts
  apps/backend/src/data-marts/controllers/connector-definition.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/connector-definition.controller.ts
  apps/backend/src/data-marts/controllers/spec/connector-definition.api.ts
  apps/backend/src/data-marts/services/connector/connector-definition-tables.migration.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
  apps/backend/test/custom-connector.e2e-spec.ts
  docs/connectors/connector-builder.md
  docs/project/roles-and-permissions.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): refuse an async node that cannot tell when its job is done
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): keep Code mode text typed right before Save, Publish or Test
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  apps/web/src/features/connector-builder/create/components/CodeModeEditor.tsx
  apps/web/src/features/connector-builder/create/components/ParametersEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/ResultsDock.tsx
  apps/web/src/features/connector-builder/create/components/VersionHistoryPopover.tsx
  apps/web/src/features/connector-builder/create/components/node/FieldsEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/node/IncrementalEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/node/NodeEditorUnvalidatedNode.test.tsx
  apps/web/src/features/connector-builder/create/components/node/NodeSections.test.tsx
  apps/web/src/features/connector-builder/create/components/node/PartitionRouterEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/node/RecordFilterEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/node/RecordSelectorEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/node/RequestEditor.test.tsx
  apps/web/src/features/connector-builder/shared/model/context/BuilderProvider.tsx
  apps/web/src/features/connector-builder/shared/model/context/reducer.test.ts
  apps/web/src/features/connector-builder/shared/model/context/reducer.ts
  apps/web/src/features/connector-builder/shared/model/context/types.ts
  apps/web/src/features/connector-builder/shared/model/hooks/useBuilder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): hold manifest node and field names to what storages take
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
  apps/web/src/features/connector-builder/shared/model/inferFields.test.ts
  apps/web/src/features/connector-builder/shared/model/inferFields.ts
  docs/connectors/connector-builder.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): keep credentials the authentication uses out of the browser's storage
  apps/web/src/features/connector-builder/create/TestPanel.test.tsx
  apps/web/src/features/connector-builder/create/TestSettingsPanel.test.tsx
  apps/web/src/features/connector-builder/create/components/ResultsDock.tsx
  apps/web/src/features/connector-builder/create/components/TestSettingsPanel.tsx
  apps/web/src/features/connector-builder/shared/model/credentialParameters.test.ts
  apps/web/src/features/connector-builder/shared/model/credentialParameters.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): keep stored secrets with the connector they were entered for
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.ts
  apps/backend/src/data-marts/services/connector/connector-preview-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-preview-credentials.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-config.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): count the rows BigQuery loads in the run's load status
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): stop asking an account that keeps failing the same way
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/tests/AbstractConnector.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): answer a null connector title with 400, not 500
  apps/backend/src/data-marts/controllers/connector-definition.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/spec/connector-definition.api.ts
  apps/backend/src/data-marts/dto/presentation/custom-connector.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/custom-connector.dto.ts
  apps/backend/test/custom-connector.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): bound how much output one connector test holds
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.ts
  apps/backend/test/fixtures/fake-test-runner.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): let an errorHandler FAIL on 401 or 403 fail the run
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/tests/declarative/DeclarativeErrorBody.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): stop a closed connector sheet from leaving the form loading
  apps/web/src/features/connectors/shared/model/context/reducer.ts
  apps/web/src/features/connectors/shared/model/context/types.ts
  apps/web/src/features/connectors/shared/model/hooks/useConnector.test.tsx
  apps/web/src/features/connectors/shared/model/hooks/useConnector.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): treat a Basic username without a password as the credential
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): take a connector's list title from the version that goes live
  apps/backend/src/data-marts/dto/presentation/custom-connector.dto.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/create/StaleVersionSave.test.tsx
  apps/web/src/features/connector-builder/shared/api/connector-builder-api.service.test.ts
  apps/web/src/features/connector-builder/shared/api/connector-builder-api.service.ts
  apps/web/src/features/connector-builder/shared/api/types.ts
  apps/web/src/features/connector-builder/shared/model/asText.ts
  apps/web/src/features/connector-builder/shared/model/hooks/useBuilder.ts
  docs/connectors/connector-builder.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): stop asking about unsaved changes on a new connector's first save
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/shared/model/hooks/useBuilder.ts
  apps/web/src/pages/connectors/builder/CreatePage.test.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(connectors): say which test values the builder never saves
  docs/connectors/connector-builder.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): run a bundled connector when a custom one shares its name
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): refuse to publish a manifest a Data Mart could not read
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
  apps/backend/src/data-marts/services/connector/connector-specification.mapper.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
  apps/backend/src/data-marts/services/connector/declarative-manifest-schemas.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): show the warnings a connector publish returns
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/shared/api/connector-builder-api.service.ts
  apps/web/src/features/connector-builder/shared/api/types.ts
  apps/web/src/features/connector-builder/shared/model/hooks/useBuilder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): keep a next page's query string out of the path error
  packages/connectors/src/Core/Declarative/Requester.js
  packages/connectors/tests/declarative/Requester.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): see every Data Mart that uses a connector before deleting it
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): keep secret values out of run logs and errors
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractContext.js
  packages/connectors/src/connector-runner.js
  packages/connectors/tests/AbstractContext.test.js
  packages/connectors/tests/regression/secret-redaction.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): publish the version that is open when it replaces a newer draft
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/shared/model/hooks/useBuilder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): fail a node whose pagination does not end
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/ListPartitionRetriever.js
  packages/connectors/src/Core/Declarative/Paginator.js
  packages/connectors/src/Core/Declarative/RetrieverFactory.js
  packages/connectors/src/Core/Declarative/SubstreamRetriever.js
  packages/connectors/src/Core/Declarative/SyncRetriever.js
  packages/connectors/src/Core/Declarative/partitionChild.js
  packages/connectors/tests/declarative/ListPartitionRetriever.test.js
  packages/connectors/tests/declarative/SyncRetriever.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): stop publish and activate from undoing concurrent changes
  apps/backend/src/data-marts/services/connector/connector-definition-tables.migration.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): show one toast per failed connector write, and no Publish with nothing new
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  apps/web/src/features/connector-builder/shared/api/connector-builder-api.service.test.ts
  apps/web/src/features/connector-builder/shared/api/connector-builder-api.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

perf(connectors): resolve a connector's secret fields once per run list
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/mappers/insight-template.mapper.spec.ts
  apps/backend/src/data-marts/mappers/insight.mapper.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): refuse manifest JSON the builder form cannot show
  apps/web/src/features/connector-builder/shared/model/manifestJson.test.ts
  apps/web/src/features/connector-builder/shared/model/manifestJson.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): end a date window at the end of its last day
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/src/Core/Declarative/dateFormat.js
  packages/connectors/tests/declarative/dateFormat.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): read the usual boolean spellings and cast datetime fields
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/Declarative/FieldCaster.js
  packages/connectors/tests/declarative/FieldCaster.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): refuse an async poll backoff that is not a positive number
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): ask a silent resolver again before the SSRF check fails
  packages/connectors/src/Core/Declarative/SsrfGuard.js
  packages/connectors/tests/declarative/SsrfGuard.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(connectors): pin every custom connector route, guarded or not
  apps/backend/src/data-marts/controllers/guard-regression.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): keep the connector test's env hook off its request
  apps/backend/src/data-marts/services/connector/connector-test.service.concurrency.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.ts
  apps/backend/test/connector-test-concurrency.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): stop request traces crowding the analytics out of a run log
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
