Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(mcp): remove Looker Studio credential handling from destination creation
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-destinations.facade.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(mcp): require only mcp:write scope on schedule write tools (#1396)
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Revert "refactor(mcp): require only mcp:write scope on schedule write tools (…"
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Revert "refactor(mcp): require only mcp:write scope on schedule write tools (…" (#1397)
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(consumption): rename MCP query-run payload field reportRunId to runId
  apps/backend/src/data-marts/services/consumption-tracking.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(consumption): rename MCP query-run payload field reportRunId to runId (#1398)
  apps/backend/src/data-marts/services/consumption-tracking.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Feat(web): Add search bar to report column picker (#1372)
  .changeset/search-column-picker.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsButton.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsButton.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/SearchButton.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/report-column-search.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/report-column-search.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(data-studio): expand Data Studio destination setup guide
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/data-studio.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Remove unnecessary images
  docs/res/screens/connector-in-looker-studio-1st-step.png
  docs/res/screens/connector-in-looker-studio-2nd-step.png
Due: none

fix(mcp): address report run review feedback
  .changeset/6702-mcp-run-report-tool.md
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/ee/mcp/tools/get-report-run-status.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-run-status.tool.ts
  apps/backend/src/ee/mcp/tools/run-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/run-report.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): address report run review feedback
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/ee/mcp/tools/get-report-run-status.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-run-status.tool.ts
  apps/backend/src/ee/mcp/tools/run-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/run-report.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): add report run tools
  .changeset/6702-mcp-run-report-tool.md
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/utils/report-run-type.spec.ts
  apps/backend/src/data-marts/utils/report-run-type.ts
  apps/backend/src/data-marts/utils/run-error-message.spec.ts
  apps/backend/src/data-marts/utils/run-error-message.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-run-status.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-run-status.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/run-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/run-report.tool.ts
  apps/backend/src/notifications/definitions/failed-runs-all-dm.notification.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): add report run tools (#1392)
  .changeset/6702-mcp-run-report-tool.md
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/utils/report-run-type.spec.ts
  apps/backend/src/data-marts/utils/report-run-type.ts
  apps/backend/src/data-marts/utils/run-error-message.spec.ts
  apps/backend/src/data-marts/utils/run-error-message.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-run-status.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-run-status.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  apps/backend/src/ee/mcp/tools/run-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/run-report.tool.ts
  apps/backend/src/notifications/definitions/failed-runs-all-dm.notification.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add changeset for summarize_data_catalog and get_data_mart_details_by_id tools
  .changeset/6695-mcp-summarize-data-catalog.md
  .changeset/6697-mcp-data-mart-details-tool.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(husky): self-heal only script-generated hooks, drop vestigial chmod
  .changeset/windows-cross-platform-git-hooks.md
  .changeset/windows-cross-platform-npm-scripts.md
  .changeset/windows-cross-platform-support.md
  tools/setup-husky.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): inline query_data_mart filter schema so OpenAI verification passes
  apps/backend/src/ee/mcp/tools/query-data-mart.input.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): require mcp:write for query_data_mart (records a billable Run)
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): apply query_data_mart review feedback
  apps/backend/src/data-marts/config/mcp-operation-timeout-exclusions.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): make query_data_mart timeout-resilient
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-report-reader.interface.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-report-reader.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-report-reader.service.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/report-totals.service.spec.ts
  apps/backend/src/data-marts/services/report-totals.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/controllers/mcp-transport.controller.spec.ts
  apps/backend/src/ee/mcp/controllers/mcp-transport.controller.ts
  apps/backend/src/ee/mcp/sdk/mcp-sdk-server.factory.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-sdk-server.factory.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.definition.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): cancel warehouse work on deadline/failure; stop BQ busy-poll after abort
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): exclude /mcp from the 30s operation-timeout middleware
  apps/backend/src/data-marts/config/mcp-operation-timeout-exclusions.spec.ts
  apps/backend/src/data-marts/config/mcp-operation-timeout-exclusions.ts
  apps/backend/src/data-marts/data-marts.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(mcp): make query_data_mart timeout-resilient (#1395)
  apps/backend/src/data-marts/config/mcp-operation-timeout-exclusions.spec.ts
  apps/backend/src/data-marts/config/mcp-operation-timeout-exclusions.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-report-reader.interface.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/adapters/snowflake-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-report-reader.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-report-reader.service.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/report-totals.service.spec.ts
  apps/backend/src/data-marts/services/report-totals.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/controllers/mcp-transport.controller.spec.ts
  apps/backend/src/ee/mcp/controllers/mcp-transport.controller.ts
  apps/backend/src/ee/mcp/sdk/mcp-sdk-server.factory.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-sdk-server.factory.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.definition.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): query_data_mart schema inlining + require mcp:write (#1400)
  apps/backend/src/ee/mcp/tools/query-data-mart.input.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

TikTok Level Data
  apps/backend/src/data-marts/connector-types/connector-fields-schema.ts
  apps/backend/src/data-marts/mappers/connector.mapper.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/shared/api/types/response/connector.response.dto.ts
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): extract UnsavedChangesConfirmationDialog to reduce duplication
  apps/web/src/features/connectors/edit/components/ConnectorEditSheet/ConnectorEditSheet.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-marts/insights/components/InsightSourcesPanel.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerFormSheet/ScheduledTriggerFormSheet.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
  apps/web/src/hooks/useUnsavedGuard.ts
  apps/web/src/pages/data-marts/schedules/ProjectScheduledTriggerEditSheet.tsx
  apps/web/src/shared/components/UnsavedChangesConfirmationDialog/UnsavedChangesConfirmationDialog.test.tsx
  apps/web/src/shared/components/UnsavedChangesConfirmationDialog/UnsavedChangesConfirmationDialog.tsx
  apps/web/src/shared/components/UnsavedChangesConfirmationDialog/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): add e2e guard for sheet-hosted confirmation dialogs
  apps/web/e2e/helpers/radix.ts
  apps/web/e2e/specs/sheet-confirmation-dialogs.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: improve report quick actions and move them to the title column
  .changeset/6723-report-table-buttons-improvements.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailReportTitleCell.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportTitleCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/index.ts
  apps/web/src/features/data-marts/reports/shared/components/ReportGeneratedSqlAction.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportOpenDocumentAction.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportQuickRunCell.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportTitleCell.tsx
  apps/web/src/features/data-marts/reports/shared/components/__tests__/ReportOpenDocumentAction.test.tsx
  apps/web/src/features/data-marts/reports/shared/components/__tests__/ReportTitleCell.test.tsx
  apps/web/src/features/data-marts/reports/shared/components/index.ts
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: enhance ReportOpenDocumentAction with improved type checks and styling adjustments
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportOpenDocumentAction.tsx
  apps/web/src/features/data-marts/reports/shared/components/__tests__/ReportOpenDocumentAction.test.tsx
Due: none

chore(web): ignore Playwright report artifacts in lint and format
  .prettierignore
  apps/web/eslint.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): fix formatting in sheet confirmation dialog e2e spec
  apps/web/e2e/specs/sheet-confirmation-dialogs.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(web): document sheet confirmation e2e helpers and fix confirmationDialog JSDoc
  apps/web/e2e/README.md
  apps/web/e2e/helpers/radix.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): extract UnsavedChangesConfirmationDialog and add e2e regression guard (#1401)
  .prettierignore
  apps/web/e2e/README.md
  apps/web/e2e/helpers/radix.ts
  apps/web/e2e/specs/sheet-confirmation-dialogs.spec.ts
  apps/web/eslint.config.js
  apps/web/src/features/connectors/edit/components/ConnectorEditSheet/ConnectorEditSheet.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-marts/insights/components/InsightSourcesPanel.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerFormSheet/ScheduledTriggerFormSheet.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
  apps/web/src/hooks/useUnsavedGuard.ts
  apps/web/src/pages/data-marts/schedules/ProjectScheduledTriggerEditSheet.tsx
  apps/web/src/shared/components/UnsavedChangesConfirmationDialog/UnsavedChangesConfirmationDialog.test.tsx
  apps/web/src/shared/components/UnsavedChangesConfirmationDialog/UnsavedChangesConfirmationDialog.tsx
  apps/web/src/shared/components/UnsavedChangesConfirmationDialog/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@f51f700878e42c08030dfd7f6a207fadfadc17d3 🚀
  apps/web/e2e/readme/index.html
  pagefind/fragment/en_9029b0b.pf_fragment
  pagefind/fragment/en_e87ae92.pf_fragment
  pagefind/index/en_22b24ec.pf_index
  pagefind/index/en_235fc3a.pf_index
  pagefind/index/en_24568c9.pf_index
  pagefind/index/en_2462d58.pf_index
  pagefind/index/en_24d57c1.pf_index
  pagefind/index/en_31f33a8.pf_index
  pagefind/index/en_3e207b9.pf_index
  pagefind/index/en_6c9f666.pf_index
  pagefind/index/en_7c354de.pf_index
  pagefind/index/en_7c7e661.pf_index
  pagefind/index/en_8c40bfa.pf_index
  pagefind/index/en_9989deb.pf_index
  pagefind/index/en_a9783ae.pf_index
  pagefind/index/en_b9ac59a.pf_index
  pagefind/index/en_c17181d.pf_index
  pagefind/index/en_cc88205.pf_index
  pagefind/index/en_e0cc1ca.pf_index
  pagefind/index/en_f5f03a5.pf_index
  pagefind/index/en_fd76353.pf_index
  pagefind/index/en_fda398e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_df79b5415d.pf_meta
  pagefind/pagefind.en_eb49564e29.pf_meta
Due: prettier --write --config ./prettier.config.js

docs(data-studio): expand Data Studio destination setup guide (#1399)
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/data-studio.md
  docs/res/screens/connector-in-looker-studio-1st-step.png
  docs/res/screens/connector-in-looker-studio-2nd-step.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@fe3bb2c84dbe51d6e4e267d85fb2fca498d0cd40 🚀
  _astro/connector-in-looker-studio-1st-step.9NB7c_da_ZW4RPr.webp
  _astro/connector-in-looker-studio-2nd-step.Btk3OvDf_1gKif5.webp
  docs/destinations/manage-destinations/index.html
  docs/destinations/supported-destinations/data-studio/index.html
  pagefind/fragment/en_7f5d625.pf_fragment
  pagefind/fragment/en_9f993be.pf_fragment
  pagefind/fragment/en_af933ef.pf_fragment
  pagefind/fragment/en_e687eb5.pf_fragment
  pagefind/index/en_1ab32d7.pf_index
  pagefind/index/en_22b24ec.pf_index
  pagefind/index/en_235fc3a.pf_index
  pagefind/index/en_24568c9.pf_index
  pagefind/index/en_24d57c1.pf_index
  pagefind/index/en_283de8d.pf_index
  pagefind/index/en_31f33a8.pf_index
  pagefind/index/en_49447e9.pf_index
  pagefind/index/en_598b255.pf_index
  pagefind/index/en_642a885.pf_index
  pagefind/index/en_6c9f666.pf_index
  pagefind/index/en_706c94a.pf_index
  pagefind/index/en_7c354de.pf_index
  pagefind/index/en_9813a14.pf_index
  pagefind/index/en_aa647d2.pf_index
  pagefind/index/en_ab3ac4c.pf_index
  pagefind/index/en_cc88205.pf_index
  pagefind/index/en_e0cc1ca.pf_index
  pagefind/index/en_e4e2f56.pf_index
  pagefind/index/en_fda398e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_32314ec5f9.pf_meta
  pagefind/pagefind.en_df79b5415d.pf_meta
Due: prettier --write --config ./prettier.config.js

docs(facebook): address review feedback on connector docs
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG.md for version 0.29.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
