Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: pass requestedFields to getStorageByNode
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add initializeColumns methods to all storages
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/GoogleSheets/GoogleSheetsStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: move logic of creating empty table to createTableIfItDoesntExist
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/GoogleSheets/GoogleSheetsStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: create table even without data
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: create table even without data
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: remove reduntant createEmptyTableStructure
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Storages/GoogleSheets/GoogleSheetsStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: refactor all connectors to create an empty table
  packages/connectors/src/Sources/BankOfCanada/Connector.js
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/GitHub/Connector.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/OpenExchangeRatesAPIReference/OpenExchangeRatesFieldsSchema.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: remove reduntant code
  packages/connectors/src/Sources/BankOfCanada/Connector.js
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/GitHub/Connector.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: remove requestedFields from getStorageByNode and use Fields
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Sources/BankOfCanada/Connector.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/GitHub/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: revert AWS Athena logic to create a table with Fields
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: add new columns to database even if data is empty
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(root): added changeset about mysql ssl connections
  .changeset/mysql-ssl-connection.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): added PublicOriginService and generate deploymentUrl for Looker Studio
  .env.example
  apps/backend/src/bootstrap.ts
  apps/backend/src/common/common.module.ts
  apps/backend/src/common/config/public-origin.service.spec.ts
  apps/backend/src/common/config/public-origin.service.ts
  apps/backend/src/config/constants.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/looker-studio-connector-credentials.schema.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/LookerStudioFields.tsx
  apps/web/src/features/data-destination/shared/model/mappers/looker-studio.mapper.ts
  apps/web/src/features/data-destination/shared/model/types/looker-studio-credentials.ts
  apps/web/src/features/data-destination/shared/services/types/create-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/services/types/looker-studio-credentials.request.dto.ts
  apps/web/src/features/data-destination/shared/services/types/update-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/types/data-destination.schema.ts
  apps/web/src/features/data-destination/shared/types/looker-studio-credentials.schema.ts
  docs/getting-started/deployment-guide/digitalocean.md
  docs/getting-started/deployment-guide/environment-variables.md
  docs/getting-started/deployment-guide/render.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): updated PublicOriginService
  apps/backend/src/common/config/public-origin.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add showErrorToast utility for displaying formatted error messages
  apps/web/src/shared/utils/index.ts
  apps/web/src/shared/utils/showErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): remove Toaster component from various DataMart and DataStorage views for cleaner UI
  apps/web/src/features/connectors/edit/DataMartConnectorView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartOverview.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
Due: none

refactor(web): enhance error display in DataMartDataStorageView with alert icon and message formatting
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
Due: none

feat(web): enhance API error handling and notifications across various components
  apps/web/src/app/api/api-error.interface.ts
  apps/web/src/app/api/apiClient.ts
  apps/web/src/app/api/extract-api-error.util.ts
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.tsx
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestination.ts
  apps/web/src/features/data-marts/edit/components/DataMartCreateForm.tsx
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/shared/model/hooks/useDataStorage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(root): added changeset about PUBLIC_ORIGIN and LOOKER_STUDIO_DESTINATION_ORIGIN
  .changeset/updated-looker-studio-data-destination.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(root): added "Heads up" to changeset
  .changeset/updated-looker-studio-data-destination.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update digitalocean.md
  docs/getting-started/deployment-guide/digitalocean.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): update Toaster component styles and showErrorToast utility for improved error notifications
  apps/web/src/shared/components/Toaster/index.tsx
  apps/web/src/shared/utils/showErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update local-deployment.md
  docs/getting-started/deployment-guide/local-deployment.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update core-concepts.md
  docs/getting-started/core-concepts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp-better-auth): fix user role definition
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/token-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): update authentication roles for connector endpoints
  apps/backend/src/data-marts/controllers/connector.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): update authentication roles to none for connector endpoints
  apps/backend/src/data-marts/controllers/connector.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: fix AWS Athena issue with missmatched types
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@5ce5776fed21b6e34176027b02bd2cd231330a7e 🚀
  docs/getting-started/core-concepts/index.html
  pagefind/fragment/en_2c57876.pf_fragment
  pagefind/fragment/en_64d472f.pf_fragment
  pagefind/index/en_2eb3696.pf_index
  pagefind/index/en_47282bd.pf_index
  pagefind/index/en_4776ca1.pf_index
  pagefind/index/en_56e6675.pf_index
  pagefind/index/en_763084f.pf_index
  pagefind/index/en_797e2cb.pf_index
  pagefind/index/en_9bd14a5.pf_index
  pagefind/index/en_b1a0b10.pf_index
  pagefind/index/en_d04db48.pf_index
  pagefind/index/en_e0a6ebd.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_38f095ff1e.pf_meta
  pagefind/pagefind.en_629560c38c.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@58e2ead91c605220811f01ea76728c21b1f0583b 🚀
  docs/getting-started/deployment-guide/digitalocean/index.html
  docs/getting-started/deployment-guide/environment-variables/index.html
  docs/getting-started/deployment-guide/render/index.html
  pagefind/fragment/en_1032b54.pf_fragment
  pagefind/fragment/en_3b51fc3.pf_fragment
  pagefind/fragment/en_9556fd8.pf_fragment
  pagefind/fragment/en_a5d3bef.pf_fragment
  pagefind/fragment/en_b2f3141.pf_fragment
  pagefind/fragment/en_ce068b8.pf_fragment
  pagefind/index/en_11fc24a.pf_index
  pagefind/index/en_3af04fd.pf_index
  pagefind/index/en_42b2771.pf_index
  pagefind/index/en_47282bd.pf_index
  pagefind/index/en_4776ca1.pf_index
  pagefind/index/en_56e6675.pf_index
  pagefind/index/en_ad6af16.pf_index
  pagefind/index/en_b1a0b10.pf_index
  pagefind/index/en_bbcd224.pf_index
  pagefind/index/en_d04db48.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_629560c38c.pf_meta
  pagefind/pagefind.en_d5ffa8b634.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(protocol): Add support for sign-up middleware in IDP protocol
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-owox/src/config.ts
  packages/idp-owox/src/owoxIdp.ts
  packages/idp-protocol/README.md
  packages/idp-protocol/src/middleware/protocol-middleware.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(logging): implement new logging framework using internal helpers and update logger configurations across the application
  .env.example
  apps/backend/.env.example
  apps/backend/src/common/logger/logger.service.ts
  apps/backend/src/config/data-source-options.config.ts
  apps/backend/src/load-env.ts
  apps/owox/src/commands/base.ts
  packages/idp-better-auth/package.json
  packages/idp-better-auth/src/store/MysqlDatabaseStore.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.ts
  packages/idp-owox/src/config.ts
  packages/idp-owox/src/owoxIdp.ts
  packages/internal-helpers/package.json
  packages/internal-helpers/src/environment/env-manager.ts
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/logging/logger-factory.ts
  packages/internal-helpers/src/logging/logger.ts
  packages/internal-helpers/src/logging/providers/index.ts
  packages/internal-helpers/src/logging/providers/pino-logger-provider.ts
  packages/internal-helpers/src/logging/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(idp-better-auth): streamline package.json by consolidating keywords and files arrays
  packages/idp-better-auth/package.json
Due: prettier --write --config ./prettier.config.js

chore(idp-better-auth): update build scripts to include internal helpers in the build process
  packages/idp-better-auth/package.json
Due: prettier --write --config ./prettier.config.js

refactor(logging): update logger interface and implementation across the application to improve consistency and clarity
  .changeset/logging-system-refactor.md
  apps/backend/src/common/logger/logger.service.ts
  apps/backend/src/load-env.ts
  apps/owox/src/commands/base.ts
  package-lock.json
  packages/idp-better-auth/src/store/MysqlDatabaseStore.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.ts
  packages/idp-owox/src/owoxIdp.ts
  packages/internal-helpers/src/logging/logger-factory.ts
  packages/internal-helpers/src/logging/logger.ts
  packages/internal-helpers/src/logging/providers/pino-logger-provider.ts
  packages/internal-helpers/src/logging/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
