Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): changeset
  .changeset/redshift-docs-impovements.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: update help link in email footer to point to notification settings
  apps/backend/src/notifications/templates/email/assets/blocks.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): refactor logger; update email validation
  package-lock.json
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/package.json
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.ts
  packages/idp-owox-better-auth/src/core/logger.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
  packages/idp-owox-better-auth/src/services/auth/magic-link-service.test.ts
  packages/idp-owox-better-auth/src/services/auth/magic-link-service.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.ts
  packages/idp-owox-better-auth/src/services/auth/platform-auth-flow-client.ts
  packages/idp-owox-better-auth/src/services/core/token-service.ts
  packages/idp-owox-better-auth/src/services/core/user-context-service.ts
  packages/idp-owox-better-auth/src/services/email/email-validation-service.test.ts
  packages/idp-owox-better-auth/src/services/email/email-validation-service.ts
  packages/idp-owox-better-auth/src/services/email/magic-link-email-service.ts
  packages/idp-owox-better-auth/src/services/middleware/auth-flow-middleware.ts
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.ts
  packages/idp-owox-better-auth/src/social/google-provider.ts
  packages/idp-owox-better-auth/src/social/microsoft-provider.ts
  packages/idp-owox-better-auth/src/social/social-provider.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/types/index.ts
  packages/idp-owox-better-auth/src/utils/account-resolver.ts
  packages/idp-owox-better-auth/src/utils/email-utils.test.ts
  packages/idp-owox-better-auth/src/utils/email-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp-owox-better-auth): format fix
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update error page
  packages/idp-owox-better-auth/src/resources/templates/pages/auth-error.ejs
Due: none

refactor(bigquery-api): streamline query execution and access check methods
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(idp-owox-better-auth): update README.md
  packages/idp-owox-better-auth/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(idp-owox-better-auth): update README.md (#951)
  packages/idp-owox-better-auth/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@ef9f4d88a87249bf97df79b73e5f85c8a7680b25 🚀
  packages/idp-owox-better-auth/readme/index.html
  pagefind/fragment/en_efe478a.pf_fragment
  pagefind/fragment/en_f4a8abf.pf_fragment
  pagefind/index/en_167d6ea.pf_index
  pagefind/index/en_2c6fa23.pf_index
  pagefind/index/en_398cf38.pf_index
  pagefind/index/en_40698e7.pf_index
  pagefind/index/en_4827b02.pf_index
  pagefind/index/en_69919af.pf_index
  pagefind/index/en_6aa3435.pf_index
  pagefind/index/en_73fc482.pf_index
  pagefind/index/en_7abe3b1.pf_index
  pagefind/index/en_8141245.pf_index
  pagefind/index/en_8869c8a.pf_index
  pagefind/index/en_99e550f.pf_index
  pagefind/index/en_b9debb1.pf_index
  pagefind/index/en_e395489.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2da3a5641f.pf_meta
  pagefind/pagefind.en_da9f3fe44a.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update error page (#949)
  packages/idp-owox-better-auth/src/resources/templates/pages/auth-error.ejs
Due: none

feat(web): clear session on 403 forbidden response
  apps/web/src/app/api/apiClient.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

revert: remove 403 session reset - to be discussed
  apps/web/src/app/api/apiClient.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update client getCode()
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update client getCode()
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): treat blocked identities as unauthorized (#952)
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): update tests
  packages/idp-owox-better-auth/jest.config.js
  packages/idp-owox-better-auth/jest.setup.ts
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.test.ts
  packages/idp-owox-better-auth/src/services/auth/magic-link-service.test.ts
  packages/idp-owox-better-auth/src/services/email/email-validation-service.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): update EmailValidationService
  packages/idp-owox-better-auth/src/services/email/email-validation-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): refactor logger; update email validation (#948)
  package-lock.json
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/jest.config.js
  packages/idp-owox-better-auth/jest.setup.ts
  packages/idp-owox-better-auth/package.json
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/controllers/auth-error-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.ts
  packages/idp-owox-better-auth/src/core/logger.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
  packages/idp-owox-better-auth/src/services/auth/magic-link-service.test.ts
  packages/idp-owox-better-auth/src/services/auth/magic-link-service.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.ts
  packages/idp-owox-better-auth/src/services/auth/platform-auth-flow-client.ts
  packages/idp-owox-better-auth/src/services/core/token-service.ts
  packages/idp-owox-better-auth/src/services/core/user-context-service.ts
  packages/idp-owox-better-auth/src/services/email/email-validation-service.test.ts
  packages/idp-owox-better-auth/src/services/email/email-validation-service.ts
  packages/idp-owox-better-auth/src/services/email/magic-link-email-service.ts
  packages/idp-owox-better-auth/src/services/middleware/auth-flow-middleware.ts
  packages/idp-owox-better-auth/src/services/middleware/better-auth-proxy-handler.ts
  packages/idp-owox-better-auth/src/social/google-provider.ts
  packages/idp-owox-better-auth/src/social/microsoft-provider.ts
  packages/idp-owox-better-auth/src/social/social-provider.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/types/index.ts
  packages/idp-owox-better-auth/src/utils/account-resolver.ts
  packages/idp-owox-better-auth/src/utils/email-utils.test.ts
  packages/idp-owox-better-auth/src/utils/email-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@0471cf677f6c6f28d1ddc7cd415e3b88970e7dbf 🚀
  packages/idp-owox-better-auth/readme/index.html
  pagefind/fragment/en_f4062db.pf_fragment
  pagefind/fragment/en_f4a8abf.pf_fragment
  pagefind/index/en_167d6ea.pf_index
  pagefind/index/en_1935588.pf_index
  pagefind/index/en_1c3092b.pf_index
  pagefind/index/en_398cf38.pf_index
  pagefind/index/en_3fa9aa4.pf_index
  pagefind/index/en_6aa3435.pf_index
  pagefind/index/en_7abe3b1.pf_index
  pagefind/index/en_8869c8a.pf_index
  pagefind/index/en_8f68b48.pf_index
  pagefind/index/en_99e550f.pf_index
  pagefind/index/en_e395489.pf_index
  pagefind/index/en_e958e62.pf_index
  pagefind/index/en_f24c62d.pf_index
  pagefind/index/en_f31c72b.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_21bf9bcdcd.pf_meta
  pagefind/pagefind.en_2da3a5641f.pf_meta
Due: prettier --write --config ./prettier.config.js

feat: batch health status endpoint to replace individual requests on data marts list (#946)
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/batch-data-mart-health-status-item.dto.ts
  apps/backend/src/data-marts/dto/domain/batch-data-mart-health-status-response.dto.ts
  apps/backend/src/data-marts/dto/domain/batch-data-mart-health-status.command.ts
  apps/backend/src/data-marts/dto/presentation/batch-data-mart-health-status-item-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/batch-data-mart-health-status-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/batch-data-mart-health-status-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/batch-data-mart-health-status.service.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/model/hooks/useDataMartHealthStatusPrefetch.ts
  apps/web/src/features/data-marts/shared/services/data-mart-health-status.service.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/batch-data-mart-health-status-item.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/batch-data-mart-health-status.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): save first/last login method; refactor UserAccountResolver
  packages/idp-owox-better-auth/src/client/dto/idpOwoxPayloadDto.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/mappers/client-payload-mapper.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.test.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
  packages/idp-owox-better-auth/src/services/core/first-login-persistence-service.test.ts
  packages/idp-owox-better-auth/src/services/core/first-login-persistence-service.ts
  packages/idp-owox-better-auth/src/services/core/user-account-resolver.test.ts
  packages/idp-owox-better-auth/src/services/core/user-account-resolver.ts
  packages/idp-owox-better-auth/src/services/core/user-context-service.test.ts
  packages/idp-owox-better-auth/src/services/core/user-context-service.ts
  packages/idp-owox-better-auth/src/store/database-store.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/types/database-models.ts
  packages/idp-owox-better-auth/src/utils/account-resolver.ts
  packages/idp-protocol/src/types/models.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: implement common OAuth popup and callback hooks with a shared UI component to standardize authentication flows for Microsoft and TikTok
  .env.example
  apps/backend/src/migrations/1771418574890-migrate-microsoft-ads-to-oauth2-structure.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/MicrosoftOauthRender.tsx
  apps/web/src/features/connectors/shared/components/MicrosoftLoginButton/MicrosoftLoginButton.tsx
  apps/web/src/features/connectors/shared/components/MicrosoftLoginButton/index.ts
  apps/web/src/features/connectors/shared/components/OAuthCallbackUI.tsx
  apps/web/src/features/connectors/shared/components/TikTokLoginButton/TikTokLoginButton.tsx
  apps/web/src/features/connectors/shared/hooks/useOAuthCallback.ts
  apps/web/src/features/connectors/shared/hooks/useOAuthPopup.ts
  apps/web/src/pages/oauth/MicrosoftCallback.tsx
  apps/web/src/pages/oauth/TikTokCallback.tsx
  apps/web/src/routes/oauth.routes.tsx
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: implemement Microsoft OAuth2 structure requiring client ID and secret, including a database migration and authentication flow adjustments
  apps/backend/src/migrations/1771418574890-MigrateMicrosoftAdsToOauth2Structure.ts
  apps/web/src/features/connectors/shared/components/MicrosoftLoginButton/MicrosoftLoginButton.tsx
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add Microsoft Ads OAuth integration, including a login button, callback page, and connector configuration
  .env.example
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/MicrosoftOauthRender.tsx
  apps/web/src/features/connectors/shared/components/MicrosoftLoginButton/MicrosoftLoginButton.tsx
  apps/web/src/features/connectors/shared/components/MicrosoftLoginButton/index.ts
  apps/web/src/pages/oauth/MicrosoftCallback.tsx
  apps/web/src/pages/oauth/index.ts
  apps/web/src/routes/oauth.routes.tsx
  packages/connectors/src/Sources/MicrosoftAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(notifications): migrate images to CDN and fix email footer help link
  docs/notifications/email.md
  docs/notifications/notification-settings.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(idp-owox-better-auth): rename UserAuthInfoPersistenceService
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
  packages/idp-owox-better-auth/src/services/core/user-auth-info-persistence-service.test.ts
  packages/idp-owox-better-auth/src/services/core/user-auth-info-persistence-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): refactor UserAuthInfoPersistenceService
  packages/idp-owox-better-auth/src/services/core/user-auth-info-persistence-service.test.ts
  packages/idp-owox-better-auth/src/services/core/user-auth-info-persistence-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Handle string timestamps in Snowflake storage
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): refactor UserAccountResolver
  packages/idp-owox-better-auth/src/services/core/user-account-resolver.test.ts
  packages/idp-owox-better-auth/src/services/core/user-account-resolver.ts
  packages/idp-owox-better-auth/src/utils/account-resolver.test.ts
  packages/idp-owox-better-auth/src/utils/account-resolver.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update TikTok OAuth callback path
  apps/web/src/routes/oauth.routes.tsx
Due: none

feat(web): update Auth flow to support project-based redirects and enhance redirect safety
  apps/web/src/features/idp/components/AuthGuard.tsx
  apps/web/src/features/idp/components/ProjectIdGuard.tsx
  apps/web/src/features/idp/context/AuthContext.tsx
  apps/web/src/features/idp/services/auth-api.service.ts
  apps/web/src/features/idp/services/index.ts
  apps/web/src/features/idp/services/redirect-storage.service.ts
  apps/web/src/features/idp/types/user.types.ts
  apps/web/src/layouts/MainLayout.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): save initial route and return users post-login (#956)
  apps/web/src/features/idp/components/AuthGuard.tsx
  apps/web/src/features/idp/components/ProjectIdGuard.tsx
  apps/web/src/features/idp/context/AuthContext.tsx
  apps/web/src/features/idp/services/auth-api.service.ts
  apps/web/src/features/idp/services/index.ts
  apps/web/src/features/idp/services/redirect-storage.service.ts
  apps/web/src/features/idp/types/user.types.ts
  apps/web/src/layouts/MainLayout.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): persist user auth metadata (#954)
  packages/idp-owox-better-auth/src/client/dto/idpOwoxPayloadDto.ts
  packages/idp-owox-better-auth/src/config/idp-better-auth-config.ts
  packages/idp-owox-better-auth/src/mappers/client-payload-mapper.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.test.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
  packages/idp-owox-better-auth/src/services/core/user-account-resolver.test.ts
  packages/idp-owox-better-auth/src/services/core/user-account-resolver.ts
  packages/idp-owox-better-auth/src/services/core/user-auth-info-persistence-service.test.ts
  packages/idp-owox-better-auth/src/services/core/user-auth-info-persistence-service.ts
  packages/idp-owox-better-auth/src/services/core/user-context-service.test.ts
  packages/idp-owox-better-auth/src/services/core/user-context-service.ts
  packages/idp-owox-better-auth/src/store/database-store.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/types/database-models.ts
  packages/idp-owox-better-auth/src/utils/account-resolver.test.ts
  packages/idp-owox-better-auth/src/utils/account-resolver.ts
  packages/idp-protocol/src/types/models.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add waitForBatchCompletion method to TriggerHandler interface
  apps/backend/src/common/scheduler/facades/scheduler-facade.impl.ts
  apps/backend/src/common/scheduler/shared/trigger-handler.interface.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): use waitForBatchCompletion method in legacy dm handlers
  apps/backend/src/data-marts/services/legacy-data-marts/sync-data-marts-by-gcp-trigger.handler.ts
  apps/backend/src/data-marts/services/legacy-data-marts/sync-gcp-storages-for-project-trigger.handler.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add notification for legacy storage setup in Data Marts page
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
  apps/web/src/pages/data-marts/list/PageNotificationLegacyStorageSetup.tsx
  apps/web/src/pages/data-marts/list/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): redirect to the sign-out page after receiving a 403 code from the idp
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/idp/context/AuthContext.tsx
  apps/web/src/features/idp/services/auth-api.service.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): handle project ID mismatch and add loading spinner to ProjectIdGuard
  apps/web/src/features/idp/components/ProjectIdGuard.tsx
Due: none

refactor(idp-owox-better-auth): KISS
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/idp/context/AuthContext.tsx
  apps/web/src/features/idp/services/auth-api.service.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): KISS
  apps/web/src/app/api/apiClient.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
