Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

perf(backend): add index on data_mart_run.status
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/migrations/1760448668537-create-index-data-mart-run-status.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

perf(backend): add index on data_mart_run.status (#624)
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/migrations/1760448668537-create-index-data-mart-run-status.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): fix reports check on destination delete
  apps/backend/src/data-marts/use-cases/delete-data-destination.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): avoid awaiting interrupted runs on bootstrap
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(docs): clarify repository name format in GitHub connector setup instructions feat(backend): handle GitHub API error for non-existent repositories chore: update GitHub connector images
  packages/connectors/src/Sources/GitHub/GETTING_STARTED.md
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/GitHub/res/github_connector.png
  packages/connectors/src/Sources/GitHub/res/github_fill_data.png
  packages/connectors/src/Sources/GitHub/res/github_repo_name.png
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: correct _fetchInsightsData structure by moving breakdowns to separate key in schema
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): fix reports check on destination delete (#626)
  apps/backend/src/data-marts/use-cases/delete-data-destination.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): avoid awaiting interrupted runs on bootstrap (#625)
  apps/backend/src/data-marts/services/connector-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(GitHub): change error handling to throw error instead of returning null
  packages/connectors/src/Sources/GitHub/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(github): improve error handling and clarify repository name format in docs (#627)
  packages/connectors/src/Sources/GitHub/GETTING_STARTED.md
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/GitHub/res/github_connector.png
  packages/connectors/src/Sources/GitHub/res/github_fill_data.png
  packages/connectors/src/Sources/GitHub/res/github_repo_name.png
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@3f5699a71dc909d4f7e7841ddc10f3999d56ae2c 🚀
  _astro/github-connector.CBo_0Cqj_Z13eHyh.webp
  _astro/github-fill-data.BNmrMlr4_Z2uUwW2.webp
  _astro/github-fill-data.DsEyVBie_W5oXF.webp
  _astro/github-repo-name.Ddo6mPIM_Z25CHaG.webp
  _astro/github-repo-name.DwLfUSOJ_Z1OsrCK.webp
  packages/connectors/src/sources/git-hub/getting-started/index.html
  pagefind/fragment/en_4e6e33a.pf_fragment
  pagefind/fragment/en_ea44d0f.pf_fragment
  pagefind/index/en_13f0a8e.pf_index
  pagefind/index/en_18e1ac6.pf_index
  pagefind/index/en_198b683.pf_index
  pagefind/index/en_35ea97e.pf_index
  pagefind/index/en_3e8a1ca.pf_index
  pagefind/index/en_4dcb1ff.pf_index
  pagefind/index/en_69a48c3.pf_index
  pagefind/index/en_74d278c.pf_index
  pagefind/index/en_9264cec.pf_index
  pagefind/index/en_b11bbe9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4e638859f9.pf_meta
  pagefind/pagefind.en_fe79c3eb25.pf_meta
Due: prettier --write --config ./prettier.config.js

refactor(web): enhance timestamp handling in StructuredLogsView (#606)
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/StructuredLogsView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/utils/date-formatters.ts
  apps/web/src/utils/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(docs): correct typo in migration file naming example
  apps/backend/src/migrations/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Added changelog about a bunch of UI improvements
  .changeset/improvements-and-bug-fixes.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Added changelog about a bunch of UI improvements (#628)
  .changeset/improvements-and-bug-fixes.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(changelog): updated formatting
  .changeset/improvements-and-bug-fixes.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(changelog): updated formatting (#629)
  .changeset/improvements-and-bug-fixes.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(web): Enhance Google BigQuery location options with improved labels and search
  .changeset/enhance-bigquery-location-options.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(web): Enhance Google BigQuery location options with improved labels and search (#630)
  .changeset/enhance-bigquery-location-options.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: escape ASCII control characters in BigQuery string literals (#611)
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Split Facebook Marketing insights endpoint into three separate endpoints (#620)
  .changeset/facebook-insights-endpoints-split.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update meta-content.csv
  apps/docs/data/meta-content.csv
Due: none

refactor(migrations): enhance reverting migrations to drop foreign keys, indices, and constraints
  apps/backend/src/migrations/1760453522335-create-activity-log-table.ts
  apps/backend/src/migrations/migration-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(migrations): create activity log table with relevant columns and indices
  apps/backend/src/migrations/1760453522335-create-activity-log-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(docs): add changelog path handling in frontmatter processing
  apps/docs/data/meta-content.csv
  apps/docs/scripts/sync-docs.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): sql dryRun as async trigger from UI
  apps/backend/src/common/scheduler/shared/scheduler.facade.ts
  apps/backend/src/common/scheduler/shared/ui-trigger-controller.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/sql-dry-run-trigger.api.ts
  apps/backend/src/data-marts/controllers/sql-dry-run-trigger.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/entities/sql-dry-run-trigger.entity.ts
  apps/backend/src/data-marts/services/sql-dry-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/sql-dry-run-trigger.service.ts
  apps/backend/src/migrations/1760355120000-create-sql-dry-run-trigger-table.ts
  apps/web/src/features/data-marts/edit/components/SqlValidator/SqlValidator.tsx
  apps/web/src/features/data-marts/shared/enums/task-status.enum.ts
  apps/web/src/features/data-marts/shared/hooks/useSqlDryRunTrigger.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/create-sql-dry-run-task.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/task-status.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance EmptyDataMartsState component with interactive options
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
Due: none

add: correct timezone display in data mart run history logs
  .changeset/fix-data-mart-run-history-time-logs.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): implement basic activity log module structure
  apps/backend/src/activity-log/activity-log.module.ts
  apps/backend/src/activity-log/controllers/.gitkeep
  apps/backend/src/activity-log/dto/domain/.gitkeep
  apps/backend/src/activity-log/entities/connector-run.entity.ts
  apps/backend/src/activity-log/enums/connector-run-status.enum.ts
  apps/backend/src/activity-log/enums/entity-type.enum.ts
  apps/backend/src/activity-log/enums/event-type.enum.ts
  apps/backend/src/activity-log/mappers/.gitkeep
  apps/backend/src/activity-log/services/activity-log.service.ts
  apps/backend/src/activity-log/types/connector-run-details.type.ts
  apps/backend/src/activity-log/types/connector-run-ui-details.type.ts
  apps/backend/src/activity-log/use-cases/.gitkeep
  apps/backend/src/migrations/1760453522335-create-activity-log-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(docs): update documentation for migrations (#604)
  apps/backend/src/common/scheduler/README.md
  apps/backend/src/migrations/README.md
  apps/docs/astro.config.mjs
  apps/docs/scripts/sync-docs.js
  apps/owox/CONTRIBUTING.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: bump happy-dom to v20.0.2 in package-lock.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

fix(docs): correct formatting of breaking changes section
  .changeset/facebook-insights-endpoints-split.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

add: correct timezone display in data mart run history logs (#632)
  .changeset/fix-data-mart-run-history-time-logs.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: bump happy-dom to v20.0.2 in package-lock.json (#634)
  package-lock.json
Due: prettier --write --config ./prettier.config.js

fix(docs): correct formatting of breaking changes section (#635)
  .changeset/facebook-insights-endpoints-split.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): add meta-content (#623)
  apps/docs/data/meta-content.csv
  apps/docs/scripts/sync-docs.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add 2 methods of authorisation to Google Ads connector
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/Utils/FormatUtils.js
  packages/connectors/src/Core/Utils/OAuthUtils.js
  packages/connectors/src/Sources/GoogleAds/Connector.js
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
