Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(user-provisioning): update texts
  apps/web/src/features/project-settings/members/components/MemberFormFields/MemberFormFields.tsx
  apps/web/src/features/project-settings/members/components/MemberFormFields/MemberRoleHelp.tsx
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/DefaultRoleSheet.tsx
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.tsx
Due: none

add .changelist and docs
  .changeset/user-provisioning-request-access.md
  docs/project/members.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix user provisioning main project access
  apps/backend/src/data-marts/controllers/spec/project-members.api.ts
  apps/backend/src/data-marts/dto/domain/user-provisioning-settings.dto.ts
  apps/backend/src/data-marts/dto/presentation/user-provisioning-settings-api.dto.ts
  apps/backend/src/data-marts/use-cases/project-members/get-user-provisioning-settings.service.ts
  apps/backend/src/data-marts/use-cases/project-members/update-user-provisioning-settings.service.ts
  apps/backend/src/data-marts/use-cases/project-members/user-provisioning-settings.service.spec.ts
  apps/web/src/features/project-members/services/project-members.service.test.ts
  apps/web/src/features/project-members/types/index.ts
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.test.tsx
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.tsx
  apps/web/src/layouts/MainLayout.test.tsx
  apps/web/src/layouts/MainLayout.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(user-provisioning): update access request label for clarity
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.test.tsx
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.tsx
Due: none

refactor(user-provisioning): improve access request messaging for clarity
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.test.tsx
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.tsx
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@c7218473d57b7c40ee79a44fae3ab775df78f6c9 🚀
  docs/project/members/index.html
  pagefind/fragment/en_26b2ab9.pf_fragment
  pagefind/fragment/en_2761fc6.pf_fragment
  pagefind/index/en_1c80c95.pf_index
  pagefind/index/en_27296df.pf_index
  pagefind/index/en_4192164.pf_index
  pagefind/index/en_487f9d8.pf_index
  pagefind/index/en_493efc0.pf_index
  pagefind/index/en_55322e8.pf_index
  pagefind/index/en_614ed89.pf_index
  pagefind/index/en_7d1a6a6.pf_index
  pagefind/index/en_7e69694.pf_index
  pagefind/index/en_82d922f.pf_index
  pagefind/index/en_ab1777e.pf_index
  pagefind/index/en_ba6bad2.pf_index
  pagefind/index/en_c3dd5f3.pf_index
  pagefind/index/en_cdfaec4.pf_index
  pagefind/index/en_cf8082e.pf_index
  pagefind/index/en_dbfb74c.pf_index
  pagefind/index/en_f01239c.pf_index
  pagefind/index/en_fbf2a21.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_b223cd31a7.pf_meta
  pagefind/pagefind.en_b7136a293c.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(consumption): publish HTTP Data report run usage (#1271)
  apps/backend/src/data-marts/services/consumption-tracking.service.spec.ts
  apps/backend/src/data-marts/services/consumption-tracking.service.ts
  docs/getting-started/billing/consumption-units.md
  docs/getting-started/core-concepts.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@a54824c631e2c975cae52622d99145b2f86adf58 🚀
  docs/getting-started/billing/consumption-units/index.html
  docs/getting-started/core-concepts/index.html
  pagefind/fragment/en_338bd97.pf_fragment
  pagefind/fragment/en_5cf65c7.pf_fragment
  pagefind/fragment/en_d2ce8dd.pf_fragment
  pagefind/fragment/en_f5acce8.pf_fragment
  pagefind/index/en_1079d9d.pf_index
  pagefind/index/en_1c80c95.pf_index
  pagefind/index/en_7d1a6a6.pf_index
  pagefind/index/en_7e69694.pf_index
  pagefind/index/en_82d922f.pf_index
  pagefind/index/en_84a4df8.pf_index
  pagefind/index/en_9b179d7.pf_index
  pagefind/index/en_9c13854.pf_index
  pagefind/index/en_9eedee8.pf_index
  pagefind/index/en_ab1777e.pf_index
  pagefind/index/en_ba6bad2.pf_index
  pagefind/index/en_cdfaec4.pf_index
  pagefind/index/en_cf8082e.pf_index
  pagefind/index/en_d37f276.pf_index
  pagefind/index/en_dafab7b.pf_index
  pagefind/index/en_f01239c.pf_index
  pagefind/index/en_f55e904.pf_index
  pagefind/index/en_fc9519d.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_28e2464981.pf_meta
  pagefind/pagefind.en_b223cd31a7.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(backend): guard against insertDimension grid-size rejection on Google Sheets refresh
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: add api key packaging design spec
  docs/superpowers/specs/2026-06-03-api-key-packaging-design.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): added test
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Fix CreateEmptyTables semantics: defer createTable() to saveData()
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Improve X Ads credentials setup instructions
  packages/connectors/src/Sources/XAds/CREDENTIALS.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Create Redshift table for empty data
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: package API keys as single copyable credential
  apps/backend/src/data-marts/controllers/project-member-api-keys.controller.ts
  apps/backend/src/data-marts/dto/presentation/project-member-api-key-api.dto.ts
  apps/backend/src/data-marts/mappers/project-member-api-keys.mapper.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/create-project-member-api-key.service.spec.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/create-project-member-api-key.service.ts
  apps/backend/src/project-member-api-keys/project-member-api-keys.module.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key-codec.service.spec.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key-codec.service.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.spec.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.ts
  apps/ctl/README.md
  apps/ctl/src/base-command.ts
  apps/ctl/src/commands/status.test.ts
  apps/ctl/src/commands/status.ts
  apps/ctl/src/config-store.test.ts
  apps/ctl/src/config-store.ts
  apps/web/src/features/api-keys/components/CreateApiKeySheet.test.tsx
  apps/web/src/features/api-keys/components/CreateApiKeySheet.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.test.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.tsx
  apps/web/src/features/api-keys/components/SecretRevealDialog.test.tsx
  apps/web/src/features/api-keys/components/SecretRevealDialog.tsx
  apps/web/src/features/api-keys/types.ts
  docs/api/api-client.md
  docs/api/api-keys.md
  docs/api/openapi.md
  docs/api/owox-ctl.md
  packages/api-client/README.md
  packages/api-client/src/api-key.test.ts
  packages/api-client/src/api-key.ts
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/errors.ts
  packages/api-client/src/index.ts
  packages/api-client/src/package-readme.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: remove api key packaging spec from pr
  docs/superpowers/specs/2026-06-03-api-key-packaging-design.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): guard against insertDimension grid-size rejection on Google Sheets refresh (#1273)
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): added project id to triggers
  apps/backend/src/common/scheduler/shared/entities/ui-trigger.entity.ts
  apps/backend/src/common/scheduler/shared/ui-trigger-controller.ts
  apps/backend/src/common/scheduler/shared/ui-trigger.service.spec.ts
  apps/backend/src/common/scheduler/shared/ui-trigger.service.ts
  apps/backend/src/data-marts/controllers/ai-helper-trigger.controller.ts
  apps/backend/src/data-marts/controllers/connector.controller.ts
  apps/backend/src/data-marts/controllers/sql-dry-run-trigger.controller.ts
  apps/backend/src/data-marts/entities/ai-assistant-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/ai-helper-trigger.entity.ts
  apps/backend/src/data-marts/entities/insight-artifact-sql-preview-trigger.entity.ts
  apps/backend/src/data-marts/entities/insight-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/insight-template-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/publish-drafts-trigger.entity.ts
  apps/backend/src/data-marts/entities/schema-actualize-trigger.entity.ts
  apps/backend/src/data-marts/entities/sql-dry-run-trigger.entity.ts
  apps/backend/src/data-marts/services/connector/connector-oauth.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-oauth.service.ts
  apps/backend/src/data-marts/services/connector/connector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Create table only if requested for empty batches
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): added NotFoundException to trigger service and spec tests
  apps/backend/src/common/scheduler/shared/ui-trigger.service.spec.ts
  apps/backend/src/common/scheduler/shared/ui-trigger.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enable API keys by default
  apps/owox/src/web/flags-route.ts
  apps/owox/test/web/flags-route.test.ts
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectSettingsSubmenu.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix request access project switcher
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenu.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenuContent.test.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenuContent.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.tsx
  apps/web/src/layouts/MainLayout.test.tsx
  apps/web/src/layouts/MainLayout.tsx
Due: none

feat: enable API keys by default (#1277)
  apps/owox/src/web/flags-route.ts
  apps/owox/test/web/flags-route.test.ts
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectSettingsSubmenu.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): show SQL preview icon for every report
  .changeset/preview-sql-for-every-report.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/shared/utils/index.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-output-controls.utils.test.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-output-controls.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): simplify and clean up code for report controls and SQL viewer
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/shared/utils/report-has-output-controls.utils.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add external link icon and open in new tab for Data Setup link in SQL viewer
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
Due: none

feat(web): show SQL preview icon for every report (#1278)
  .changeset/preview-sql-for-every-report.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/shared/utils/index.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-output-controls.utils.test.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-output-controls.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): output controls for Athena data marts (filters, slices, sort, limit)
  .changeset/add-athena-output-controls.md
  .github/workflows/test-integration.yml
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-execution-parameters.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-execution-parameters.utils.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-sql-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/test/http-data.e2e-spec.ts
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/integration/http-data-real.integration.ts
  apps/backend/test/integration/report-run-real.integration.ts
  apps/backend/test/jest-integration.json
  apps/backend/test/output-controls.e2e-spec.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.test.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): output-controls review fixes — relative_date, static SQL, BigQuery casts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-execution-parameters.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-execution-parameters.utils.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-execution-parameters.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-execution-parameters.utils.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/copy-report-as-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/copy-report-as-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.ts
  apps/backend/test/blended-output-controls.e2e-spec.ts
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/output-controls-athena-sql.e2e-spec.ts
  apps/backend/test/output-controls-emission.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): share FE type sets so Athena numeric filters emit numbers
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(data-marts): guard param-order invariant, FE/BE capability contract, CI failure alert
  .github/workflows/test-integration.yml
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-execution-parameters.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/enums/athena-field-type.enum.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/enums/athena-field-type.enum.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/src/data-marts/services/output-controls-capability.contract.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): address PR #1272 review — Athena output-controls gaps
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-mart-query-builder.interface.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/report-data-cache.service.spec.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/test/integration/README.md
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/output-controls-athena-sql.e2e-spec.ts
  apps/backend/test/output-controls-cache-path.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): preserve user column formatting on Google Sheets refresh
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): preserve user column formatting on Google Sheets refresh (#1280)
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): make Google Sheets access emails visible and copyable for OAuth and Service Account methods
  .changeset/google-sheets-copyable-email-oauth-and-sa.md
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-destination/shared/model/mappers/google-sheets.mapper.ts
  apps/web/src/features/data-destination/shared/model/types/data-destination.ts
  apps/web/src/features/data-destination/shared/services/types/data-destination.response.dto.ts
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/shared/utils/google-sheets-destination-email.utils.ts
  apps/web/src/features/data-marts/reports/shared/utils/index.ts
  apps/web/src/shared/types/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Revise X Ads credentials guide
  packages/connectors/src/Sources/XAds/CREDENTIALS.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
