Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.{yml,yaml}": "prettier --write",
  "*.md": "markdownlint-cli2 --fix"
}

(org): restore lint-staged config
  .lintstagedrc.json
  apps/backend/.lintstagedrc.json
Due: prettier --write

(org): fix root config lint-staged for md files
  .lintstagedrc.json
Due: prettier --write

(org): update markdownlint-cli config
  .markdownlint-cli2.mjs
Due: none

(org): add correct version markdownlint-cli
  .lintstagedrc.json
  apps/backend/.lintstagedrc.json
Due: prettier --write

(org): fix package-lock
  package-lock.json
Due: prettier --write

(org): refactor markdownlint-cli config
  .markdownlint-cli2.mjs
Due: none

Update README.md
  apps/owox/README.md
Due: markdownlint-cli2 --fix

Create CONTRIBUTING.md
  apps/owox/CONTRIBUTING.md
Due: markdownlint-cli2 --fix

feat(backend): added json per-line logger as default
  apps/backend/.env.example
  apps/backend/src/common/logger/logger.service.ts
  apps/backend/src/config/data-source-options.config.ts
  apps/backend/src/config/express-static.config.ts
  apps/backend/src/config/get-sqlite-database-path.ts
  apps/backend/src/config/migrations.config.ts
  apps/backend/src/load-env.ts
  apps/backend/src/main.ts
Due: none

fix(backend): update imports
  apps/backend/src/config/migrations.config.ts
  apps/backend/src/load-env.ts
Due: none

Update documentation across various connectors to enhance clarity and consistency
  packages/connectors/CONTRIBUTING.md
  packages/connectors/src/Sources/BankOfCanada/GETTING_STARTED.md
  packages/connectors/src/Sources/BankOfCanada/README.md
  packages/connectors/src/Sources/BingAds/CREDENTIALS.md
  packages/connectors/src/Sources/BingAds/GETTING_STARTED.md
  packages/connectors/src/Sources/BingAds/README.md
  packages/connectors/src/Sources/CriteoAds/CREDENTIALS.md
  packages/connectors/src/Sources/CriteoAds/GETTING_STARTED.md
  packages/connectors/src/Sources/CriteoAds/README.md
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/README.md
  packages/connectors/src/Sources/GitHub/README.md
  packages/connectors/src/Sources/LinkedIn/CREDENTIALS.md
  packages/connectors/src/Sources/LinkedIn/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedIn/README.md
  packages/connectors/src/Sources/OpenExchangeRates/CREDENTIALS.md
  packages/connectors/src/Sources/OpenExchangeRates/GETTING_STARTED.md
  packages/connectors/src/Sources/OpenExchangeRates/README.md
  packages/connectors/src/Sources/OpenHolidays/GETTING_STARTED.md
  packages/connectors/src/Sources/OpenHolidays/README.md
  packages/connectors/src/Sources/RedditAds/CREDENTIALS.md
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/README.md
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/XAds/CREDENTIALS.md
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
  packages/connectors/src/Sources/XAds/README.md
Due: markdownlint-cli2 --fix

Add core data destination infrastructure
  apps/web/src/features/data-destination/shared/enums/data-destination-type.enum.ts
  apps/web/src/features/data-destination/shared/enums/google-sheet-credentials-type.enum.ts
  apps/web/src/features/data-destination/shared/enums/index.ts
  apps/web/src/features/data-destination/shared/model/context/DataDestinationContext.tsx
  apps/web/src/features/data-destination/shared/model/context/context.ts
  apps/web/src/features/data-destination/shared/model/context/index.ts
  apps/web/src/features/data-destination/shared/model/context/reducer.ts
  apps/web/src/features/data-destination/shared/model/context/types.ts
  apps/web/src/features/data-destination/shared/model/context/useDataDestinationContext.tsx
  apps/web/src/features/data-destination/shared/model/hooks/index.ts
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestination.ts
  apps/web/src/features/data-destination/shared/model/index.ts
  apps/web/src/features/data-destination/shared/model/mappers/data-destination.mapper.ts
  apps/web/src/features/data-destination/shared/model/mappers/destination-mapper.factory.ts
  apps/web/src/features/data-destination/shared/model/mappers/destination-mapper.interface.ts
  apps/web/src/features/data-destination/shared/model/mappers/google-sheets.mapper.ts
  apps/web/src/features/data-destination/shared/model/types/credentials.ts
  apps/web/src/features/data-destination/shared/model/types/data-destination-list.ts
  apps/web/src/features/data-destination/shared/model/types/data-destination.ts
  apps/web/src/features/data-destination/shared/model/types/index.ts
  apps/web/src/features/data-destination/shared/services/data-destination.service.ts
  apps/web/src/features/data-destination/shared/services/index.ts
  apps/web/src/features/data-destination/shared/services/types/create-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/services/types/data-destination.response.dto.ts
  apps/web/src/features/data-destination/shared/services/types/index.ts
  apps/web/src/features/data-destination/shared/services/types/update-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
  apps/web/src/features/data-destination/shared/types/data-destination.schema.ts
  apps/web/src/features/data-destination/shared/types/index.ts
Due: none

Add data destination UI components
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/index.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/index.ts
  apps/web/src/features/data-destination/edit/components/index.ts
  apps/web/src/features/data-destination/edit/index.ts
  apps/web/src/features/data-destination/index.ts
  apps/web/src/features/data-destination/list/components/DataDestinationDetailsDialog/DataDestinationDetailsDialog.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationDetailsDialog/index.ts
  apps/web/src/features/data-destination/list/components/DataDestinationList/DataDestinationList.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationList/index.ts
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/SortableHeader/SortableHeader.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/SortableHeader/index.ts
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/index.ts
  apps/web/src/features/data-destination/list/components/index.ts
  apps/web/src/features/data-destination/list/index.ts
  apps/web/src/features/data-destination/shared/components/DataDestinationDetails/DataDestinationDetails.tsx
  apps/web/src/features/data-destination/shared/components/DataDestinationDetails/index.ts
  apps/web/src/features/data-destination/shared/components/DataDestinationInfo/CredentialsSection.tsx
  apps/web/src/features/data-destination/shared/components/DataDestinationInfo/DataDestinationInfo.tsx
  apps/web/src/features/data-destination/shared/components/DataDestinationInfo/index.ts
  apps/web/src/features/data-destination/shared/components/index.ts
  apps/web/src/features/data-destination/shared/constants/index.ts
  apps/web/src/features/data-destination/shared/constants/security.ts
  apps/web/src/features/data-destination/shared/index.ts
  apps/web/src/pages/data-destination/DataDestinationListPage.tsx
Due: none

Add shared UI components and utilities for Google Sheets integration
  apps/web/src/hooks/useAutoFocus.ts
  apps/web/src/shared/components/FeatureLink/FeatureLink.tsx
  apps/web/src/shared/components/FeatureLink/index.ts
  apps/web/src/shared/components/FeatureLink/types.ts
  apps/web/src/shared/components/FormField/FormField.tsx
  apps/web/src/shared/components/FormField/index.ts
  apps/web/src/shared/components/SecureJsonInput/SecureJsonInput.tsx
  apps/web/src/shared/components/SecureJsonInput/index.ts
  apps/web/src/shared/icons/google-sheets-icon.tsx
  apps/web/src/shared/schemas/google-credentials.schema.ts
  apps/web/src/shared/types/google-service-account-credentials.dto.ts
  apps/web/src/shared/types/google-service-account-credentials.ts
  apps/web/src/shared/types/google-service.account.ts
  apps/web/src/shared/types/index.ts
Due: none

Update navigation and routing for data destinations
  apps/web/src/components/AppSidebar/app-sidebar.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/layouts/MainLayout.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/routes/data-marts/routes.tsx
  apps/web/src/routes/index.tsx
Due: none

Update API client for Google Sheets integration
  apps/web/src/app/api/apiClient.test.ts
  apps/web/src/app/api/apiClient.ts
Due: none

Update data storage components for Google Sheets compatibility
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/shared/api/types/data-storage-credentials.dto.ts
  apps/web/src/features/data-storage/shared/components/DataStorageInfo/CredentialsSection.tsx
  apps/web/src/features/data-storage/shared/types/data-storage.schema.ts
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  apps/web/src/shared/index.ts
Due: none

Update report fetching logic for Data Mart context in Google Sheets actions
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsActionsCell/GoogleSheetsActionsCell.tsx
Due: none

Remove `FormField` component and its exports from shared components
  apps/web/src/shared/components/FormField/FormField.tsx
  apps/web/src/shared/components/FormField/index.ts
Due: none

Remove Google Sheets URL formatters from Data Marts utilities
  apps/web/src/features/data-marts/reports/list/utils/formatters.ts
Due: none

Clean up redundant polling logic in `GoogleSheetsReportsTable` component
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
Due: none

Refactor polling logic and streamline report action types for improved clarity and efficiency
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsActionsCell/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/shared/model/context/reducer.ts
  apps/web/src/features/data-marts/reports/shared/model/context/types.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
Due: none

feat(backend): Google Sheets export improvements after review
  apps/backend/src/common/resolver/type-resolver.ts
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/facades/data-destination-access-validator.facade.ts
  apps/backend/src/data-marts/data-destination-types/facades/data-destination-credentials-validator.facade.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-storage-access.facade.ts
  apps/backend/src/data-marts/entities/report.entity.ts
  apps/backend/src/data-marts/services/data-destination.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/delete-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/get-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  package-lock.json
Due: prettier --write

refactor(tests): update test expectations for configuration objects
  packages/connector-runner/test/application/dto/run-config.test.js
  packages/connector-runner/test/application/services/connector-execution-service.test.js
  packages/connector-runner/test/cli/connector-runner-cli.test.js
  packages/connector-runner/test/infrastructure/dependencies/npm-dependency-manager.test.js
  packages/connector-runner/test/infrastructure/environments/nodejs-environment.test.js
  packages/connector-runner/test/infrastructure/templates/nodejs-template-renderer.test.js
Due: none

Update dependencies
  package-lock.json
Due: prettier --write

feat(docs): add apps/owox to sidebar
  apps/docs/astro.config.mjs
Due: none

chore(connector-runner): update prepublishOnly script to include testing
  packages/connector-runner/package.json
Due: prettier --write

docs(owox): updated docs with linter rules
  apps/owox/CONTRIBUTING.md
  apps/owox/PUBLISHING.md
  apps/owox/README.md
Due: markdownlint-cli2 --fix

try fix test
  packages/connector-runner/test/infrastructure/environments/nodejs-environment.test.js
Due: none

chore(backend): AWS S3 dependency added
  apps/backend/package.json
  package-lock.json
Due: prettier --write

docs(owox): update h1
  apps/owox/CONTRIBUTING.md
  apps/owox/PUBLISHING.md
Due: markdownlint-cli2 --fix

refactor(web): Update AWS Athena icon
  apps/web/src/shared/icons/aws-athena-icon.tsx
Due: none

fix(web): Refactor form submission handling in DataDestinationForm component
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
Due: none

feat(web): Enhance Data Storage List with new layout and improved UX
  apps/web/src/features/data-storage/list/components/DataStorageList/DataStorageList.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageActionsCell.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/EmptyDataStoragesState.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/SortableHeader.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns.tsx
  apps/web/src/pages/data-storage/DataStorageListPage.tsx
  packages/ui/src/styles/globals.css
Due: none

refactor(web): Update sidebar icon and title for Data Marts
  apps/web/src/components/AppSidebar/app-sidebar.tsx
Due: none

fix(backend): manual dev test removed
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
Due: none

feat(backend): add ServiceAccountJson support for Google BigQuery integration
  apps/backend/src/data-marts/services/connector-execution.service.ts
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: none

docs(owox): update h1
  apps/owox/README.md
Due: markdownlint-cli2 --fix
