Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

feat: merge null/empty filter operators into a single is blank pair
  .changeset/6779-merge-blank-filters.md
  apps/backend/src/data-marts/controllers/spec/report-openapi.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/src/data-marts/dto/schemas/field-type-category.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/field-type-matrix.spec.ts
  apps/backend/src/ee/mcp/tools/field-type-matrix.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/test/output-controls-redshift-emission.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/filter-rule-summary.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
  docs/api/api-client.md
  packages/api-client/src/data-marts.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test: add the name column to the persisted schema in the Redshift emission e2e
  apps/backend/test/output-controls-redshift-emission.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): pin the clock in formatDataLastUpdatedLabel specs
  apps/web/src/features/data-marts/shared/utils/data-last-updated.utils.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add Google Sheets OAuth support
  apps/backend/src/data-marts/services/connector/connector-preview-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-preview-credentials.service.ts
  apps/backend/test/README.md
  apps/backend/test/connector-fields.e2e-spec.ts
  apps/backend/test/connector-oauth.e2e-spec.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.tsx
  apps/web/src/features/connectors/shared/components/GoogleSheetsLoginButton/GoogleSheetsLoginButton.tsx
  apps/web/src/features/connectors/shared/components/GoogleSheetsLoginButton/index.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.test.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  apps/web/src/pages/oauth/GoogleSheetsCallback.tsx
  apps/web/src/pages/oauth/index.ts
  apps/web/src/routes/oauth.routes.tsx
  packages/connectors/src/Sources/GoogleSheets/CREDENTIALS.md
  packages/connectors/src/Sources/GoogleSheets/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleSheets/README.md
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add Google Sheets source OAuth changeset file
  .changeset/google-sheets-source-oauth.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): keep report descriptions scrollable
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FieldInfoTooltip.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
Due: none

fix: clarify Google Sheets OAuth spreadsheet selection
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationListRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationOneOfRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.tsx
Due: none

test(web): stabilize data last updated label test
  apps/web/src/features/data-marts/shared/utils/data-last-updated.utils.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: harden Google Sheets OAuth lifecycle
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.tsx
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.test.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: close three is_blank correctness gaps found in review
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/test/output-controls-redshift-emission.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: set the relationship description per join with inherited fallback
  .changeset/6869-relationship-description-per-join.md
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-blended-fields-config-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/update-blended-fields-config-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schema.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): close the backslash escape that blinded every formula guard (#6732)
  apps/backend/src/data-marts/calculated-fields/calculated-field-validator.service.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.ts
  apps/backend/src/data-marts/calculated-fields/formula-live-reference.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.ts
  apps/backend/src/data-marts/calculated-fields/sql-token-scanner.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/sql-token-scanner.ts
  docs/getting-started/setup-guide/calculated-fields.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): carry unknown schema-field keys through instead of stripping them (#6732)
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): bound formula expansion instead of letting it double (#6732)
  apps/backend/src/data-marts/calculated-fields/formula-reference.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): read the transient heuristic on the warehouse's words only (#6732)
  apps/backend/src/data-marts/calculated-fields/calculated-field-validator.service.spec.ts
  apps/backend/src/data-marts/calculated-fields/calculated-field-validator.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(data-marts): make the save-time refusal argument actually guarded (#6732)
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): let a keyboard user actually reach the formula editor (#6732)
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/CalculatedFieldFormulaCell.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/FormulaEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/FormulaEditor.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.test.tsx
  packages/ui/src/components/common/editable-text.tsx
Due: none

fix(web): refresh the blendable schema after actualization too (#6732)
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
Due: none

docs(criteo-ads): explain advertiser consent and add credential troubleshooting
  packages/connectors/src/Sources/CriteoAds/CREDENTIALS.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(data-marts): sort on a calculated metric orders by its cast expression (#6732)
  apps/backend/test/output-controls.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): anchor the aggregations panel on a slot of its own (#6732)
  apps/web/e2e/specs/datamart-calculated-field-formula.spec.ts
  apps/web/e2e/specs/datamart-row-level-calculated-field.spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): close the review's correctness findings on calculated fields (#6732)
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.ts
  apps/backend/src/data-marts/calculated-fields/formula-live-reference.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-type-mapper.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-type-mapper.service.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/blending/blended-query.types.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.ts
  apps/backend/src/data-marts/dto/domain/report-data-header.dto.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.ts
  apps/backend/src/data-marts/use-cases/validate-formula.service.spec.ts
  apps/backend/src/data-marts/use-cases/validate-formula.service.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/formula-resolution.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SnowflakeSchemaTable.tsx
  docs/getting-started/setup-guide/calculated-fields.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@81428588ebf0535fc42ea95bedcbded721ebeb02 🚀
  docs/review-rules/index.html
  pagefind/fragment/en_523b4e7.pf_fragment
  pagefind/fragment/en_fe18196.pf_fragment
  pagefind/index/en_2a9774e.pf_index
  pagefind/index/en_31141c8.pf_index
  pagefind/index/en_3751357.pf_index
  pagefind/index/en_3fbe97d.pf_index
  pagefind/index/en_53d9a81.pf_index
  pagefind/index/en_56aebdf.pf_index
  pagefind/index/en_5a1e90d.pf_index
  pagefind/index/en_63e0ec7.pf_index
  pagefind/index/en_6b44618.pf_index
  pagefind/index/en_748e5b1.pf_index
  pagefind/index/en_99722ee.pf_index
  pagefind/index/en_9d6ba2d.pf_index
  pagefind/index/en_a7da732.pf_index
  pagefind/index/en_abde3a3.pf_index
  pagefind/index/en_af1c1b9.pf_index
  pagefind/index/en_b06bc07.pf_index
  pagefind/index/en_b174d2f.pf_index
  pagefind/index/en_bd27234.pf_index
  pagefind/index/en_bde0387.pf_index
  pagefind/index/en_c0a3995.pf_index
  pagefind/index/en_c8d0e46.pf_index
  pagefind/index/en_c9ba6a2.pf_index
  pagefind/index/en_d3ea94b.pf_index
  pagefind/index/en_eb34ffa.pf_index
  pagefind/index/en_f61fc08.pf_index
  pagefind/index/en_f722125.pf_index
  pagefind/index/en_fcf36b4.pf_index
  pagefind/index/en_fee19d8.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_a06d83a2c9.pf_meta
  pagefind/pagefind.en_fc19996896.pf_meta
Due: prettier --write --config ./prettier.config.js

test(web): wait on the editor input Monaco actually renders (#6732)
  apps/web/e2e/specs/datamart-calculated-field-formula.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(plugin-host): surface release rejections and gate collection changes on SemVer
  .changeset/6839-plugin-release-rejection-visibility.md
  apps/backend/src/plugin-host/enums/release-rejection-code.enum.ts
  apps/backend/src/plugin-host/use-cases/run-plugin-update-check.service.spec.ts
  apps/backend/src/plugin-host/use-cases/run-plugin-update-check.service.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
  apps/backend/src/plugin-host/utils/plugin-manifest.util.ts
  apps/backend/src/plugin-host/utils/semver.util.ts
  apps/web/src/features/plugins/components/PluginReleaseIssuesCard.tsx
  apps/web/src/features/plugins/components/index.ts
  apps/web/src/features/plugins/hooks/usePluginPublications.ts
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/features/plugins/index.ts
  apps/web/src/features/plugins/rejections.test.ts
  apps/web/src/features/plugins/rejections.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
  docs/plugins/authoring-guide.md
  packages/plugin-sdk/README.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(linkedin-ads): fetch adAnalytics per day to avoid the 15,000-element truncation
  .changeset/6871-linkedin-ads-adanalytics-truncation.md
  packages/connectors/src/Sources/LinkedInAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/test/Sources/LinkedInAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(plugin-host): handle null collections on the current version in the compatibility gate
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(plugins): add operator guide for deployment-wide trusted plugins
  apps/docs/astro.config.mjs
  docs/plugins/authoring-guide.md
  docs/plugins/trusted-plugins.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): close the unterminated-literal guard bypass and two review findings (#6732)
  apps/backend/src/data-marts/calculated-fields/calculated-field.utils.ts
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.ts
  apps/backend/src/data-marts/calculated-fields/formula-live-reference.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.ts
  apps/backend/src/data-marts/calculated-fields/sql-token-scanner.spec.ts
  apps/backend/src/data-marts/calculated-fields/sql-token-scanner.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-mart-schema-parser-facade.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-mart-schema-parser-facade.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/sql-token-scanner.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.tsx
  docs/getting-started/setup-guide/calculated-fields.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): close six non-blocking review findings on calculated fields (#6732)
  apps/backend/src/data-marts/calculated-fields/formula-violations.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.ts
  apps/backend/src/data-marts/use-cases/validate-formula.service.spec.ts
  apps/backend/src/data-marts/use-cases/validate-formula.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/CalculatedFieldFormulaCell.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/CalculatedFieldFormulaCell.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/FormulaEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/FormulaEditor.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/useFormulaDiagnostics.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/useFormulaDiagnostics.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.test.tsx
  docs/getting-started/setup-guide/calculated-fields.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): carry the calculated-field rename into the e2e suite (#6732)
  apps/backend/test/http-data.e2e-spec.ts
  apps/backend/test/integration/README.md
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/integration/row-level-calculated-field-real.integration.ts
  apps/backend/test/output-controls.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: remove obsolete Slack Community links
  .changeset/remove-slack-community-links.md
  README.md
  apps/web/src/app/store/default-flags.ts
  apps/web/src/components/AppSidebar/HelpMenu/items.test.ts
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  apps/web/src/shared/icons/slack-icon-desaturated.tsx
  packages/connectors/CONTRIBUTING.md
  packages/connectors/src/Sources/FacebookMarketing/README.md
  packages/connectors/src/Sources/XAds/CREDENTIALS.md
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
  packages/connectors/src/Sources/XAds/README.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: address blank-pair review — Snowflake trim set, UI type parity, MCP schema advertising, per-column type guard
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-operator-advertising.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
  docs/getting-started/setup-guide/mcp.md
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
