Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: fix style violations in overview pages
  docs/connectors/index.md
  docs/data-marts/index.md
  docs/plugins/index.md
  docs/project/index.md
  docs/reports/index.md
  docs/storages/index.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: add end-to-end Your First Data Mart tutorial
  apps/docs/astro.config.mjs
  docs/getting-started/first-data-mart.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update documentation
  apps/docs/astro.config.mjs
  apps/docs/data/meta-content.csv
  docs/destinations/index.md
  docs/destinations/supported-destinations/email.md
  docs/getting-started/first-data-mart.md
  docs/getting-started/setup-guide/sql-data-mart.md
  docs/reports/index.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): name the provider's error and the imported node in run history
  .changeset/6988-connector-error-messages.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/AbstractSource.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changelog): restyle the 0.35.0 what's-new video
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changelog): restyle the declarative connectors demo in the 0.36.0 notes
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@506e369cd2456cfff126ee5770881d330b2feb41 🚀
  docs/changelog/index.html
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@61be8b6314139ccf40b8090c3603242f6e072262 🚀
  docs/changelog/index.html
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@54a0cde14d3f0f7808e3cc8add73c1243e1c9b74 🚀
  docs/changelog/index.html
Due: none

docs(connectors): say when to choose a range date strategy over day-by-day
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

ci: shard backend unit tests across 3 jobs
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

ci: run Test OWOX when its workflow file changes
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

feat(connectors): show a run that loaded nothing as 0 rows in run history
  .changeset/6988-1-connector-error-messages.md
  .changeset/6988-2-empty-run-loaded-rows.md
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/load-status.test.ts
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: address review feedback on overview pages and tutorial
  apps/docs/data/meta-content.csv
  docs/connectors/index.md
  docs/data-marts/index.md
  docs/destinations/index.md
  docs/destinations/supported-destinations/email.md
  docs/destinations/supported-destinations/google-chat.md
  docs/destinations/supported-destinations/microsoft-teams.md
  docs/destinations/supported-destinations/slack.md
  docs/getting-started/core-concepts.md
  docs/getting-started/deployment-guide/index.md
  docs/getting-started/first-data-mart.md
  docs/getting-started/setup-guide/connector-data-mart.md
  docs/getting-started/setup-guide/pattern-data-mart.md
  docs/getting-started/setup-guide/table-data-mart.md
  docs/getting-started/setup-guide/view-data-mart.md
  docs/project/index.md
  docs/reports/index.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(connectors): use Publish & Run Data Mart in connector guides
  packages/connectors/src/Sources/BankOfCanada/GETTING_STARTED.md
  packages/connectors/src/Sources/CriteoAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GitHub/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInPages/GETTING_STARTED.md
  packages/connectors/src/Sources/MicrosoftAds/GETTING_STARTED.md
  packages/connectors/src/Sources/OpenExchangeRates/GETTING_STARTED.md
  packages/connectors/src/Sources/OpenHolidays/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/Shopify/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(auth): preserve retry context and expire social intent
  .changeset/6612-refresh-social-sign-in-state.md
  packages/idp-owox-better-auth/src/controllers/page-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/page-controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.deferred-pkce.test.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.test.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.ts
  packages/idp-owox-better-auth/src/services/middleware/auth-flow-middleware.test.ts
  packages/idp-owox-better-auth/src/services/middleware/auth-flow-middleware.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
  packages/idp-owox-better-auth/src/utils/social-intent.test.ts
  packages/idp-owox-better-auth/src/utils/social-intent.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): show out-of-range dates in the Data Mart preview instead of failing
  .changeset/7026-preview-out-of-range-dates.md
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): use the Joinable Data Marts link icon on the relationships badge
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
Due: none

fix(docs): render a list that follows an embedded video
  apps/docs/scripts/sync-docs.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(deps): resolve audit vulnerabilities in brace-expansion, fast-uri, ip-address and moment
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(data-marts): offer every Lucide icon in the Data Mart icon picker, with search
  .changeset/7030-all-data-mart-icons-search.md
  apps/backend/src/data-marts/dto/domain/create-data-mart.command.ts
  apps/backend/src/data-marts/dto/domain/data-mart-list-item.dto.ts
  apps/backend/src/data-marts/dto/domain/data-mart.dto.ts
  apps/backend/src/data-marts/dto/domain/model-canvas.dto.ts
  apps/backend/src/data-marts/dto/domain/update-data-mart-icon.command.ts
  apps/backend/src/data-marts/dto/presentation/create-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/model-canvas-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-mart-icon-api.dto.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/enums/data-mart-icon.enum.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-icon.service.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconGlyph.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/data-mart-icon-search.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/data-mart-icons.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/lucide-icon-catalog.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/lucide-icon-name.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/use-lucide-icon-catalog.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-icon.enum.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): spell library icon names the way lucide.dev does
  apps/backend/src/data-marts/use-cases/update-data-mart-icon.service.spec.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/lucide-icon-name.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(changeset): add the demo video to the Data Mart icon search entry
  .changeset/7030-all-data-mart-icons-search.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: refresh report creation steps and screenshots
  docs/destinations/supported-destinations/email.md
  docs/destinations/supported-destinations/microsoft-excel.md
  docs/getting-started/first-data-mart.md
  docs/getting-started/setup-guide/models-canvas.md
  docs/getting-started/setup-guide/pattern-data-mart.md
  docs/getting-started/setup-guide/sql-data-mart.md
  docs/getting-started/setup-guide/table-data-mart.md
  docs/getting-started/setup-guide/view-data-mart.md
  docs/res/screens/SQL-Based-DataMart-Report.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: the OWOX Extension removes an unchecked column's sort in every report
  .changeset/7018-extension-unchecked-column-rules.md
  docs/getting-started/setup-guide/output-controls.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: note the Extension's metric filter, empty selection and sort menu fixes
  .changeset/7018-extension-unchecked-column-rules.md
  docs/getting-started/setup-guide/output-controls.md
  docs/getting-started/setup-guide/report-aggregations.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: align overview page names
  apps/docs/astro.config.mjs
  apps/docs/data/meta-content.csv
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): keep library icons drawn across renames, failed loads and exports
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconGlyph.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/index.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/lucide-icon-catalog.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/use-lucide-icon-catalog.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/use-lucide-icon-catalog.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(connectors): name the feature custom connectors, as the app does
  apps/docs/astro.config.mjs
  apps/owox/CHANGELOG.md
  docs/connectors/connector-builder.md
  docs/connectors/custom-connectors.md
  docs/connectors/index.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): report an invalid manifest the same way on publish and test
  apps/backend/src/data-marts/dto/presentation/custom-connector-response.dto.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
  apps/backend/src/data-marts/services/connector/declarative-manifest-schemas.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connector-builder): check node and parameter names as they are typed
  .changeset/6988-3-node-name-rules.md
  apps/web/src/features/connector-builder/create/NodesSection.test.tsx
  apps/web/src/features/connector-builder/create/ResultsDockRename.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderNavRail.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderNavRail.tsx
  apps/web/src/features/connector-builder/create/components/ParametersEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/ParametersEditor.tsx
  apps/web/src/features/connector-builder/create/components/ResultsDock.tsx
  apps/web/src/features/connector-builder/create/components/node/NodeEditor.tsx
  apps/web/src/features/connector-builder/shared/model/manifestNames.test.ts
  apps/web/src/features/connector-builder/shared/model/manifestNames.ts
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(connectors): check the publish refusal's wording over HTTP
  apps/backend/test/custom-connector.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: correct the Extension notes on stored sorts, Reset and empty selections
  .changeset/7018-extension-unchecked-column-rules.md
  docs/getting-started/setup-guide/output-controls.md
  docs/getting-started/setup-guide/report-aggregations.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): point an empty partitioned node at its slices
  .changeset/6988-2-empty-run-loaded-rows.md
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connector-builder): keep the node picked in the dock through a rename
  apps/web/src/features/connector-builder/create/ResultsDockRename.test.tsx
  apps/web/src/features/connector-builder/create/components/ResultsDock.test.tsx
  apps/web/src/features/connector-builder/create/components/ResultsDock.tsx
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
