Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

chore: add changeset for license key cloud consumption
  .changeset/6787-license-key-cloud-consumption.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(api-client): share authenticated path contract
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/test/authenticated-api-path-contract.ts
  packages/api-client/src/client.test.ts
  packages/api-client/src/transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(plugin-host): type legacy protocol helpers
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api-client): address PR review — typecheck gate for tests, homogeneous in-list type, full preset coverage
  packages/api-client/package.json
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/insight-templates.test.ts
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/reports.test.ts
  packages/api-client/src/search.test.ts
  packages/api-client/tsconfig.test.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugin-sdk): evolve protocol v1 compatibly
  .changeset/api-surface-maintenance.md
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/features/plugins/runtime/protocol.ts
  docs/plugins/authoring-guide.md
  packages/plugin-sdk/README.md
  packages/plugin-sdk/src/index.test.ts
  packages/plugin-sdk/src/protocol.test.ts
  packages/plugin-sdk/src/protocol.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api-client): address self-review — accurate docs, stricter between type, unified typecheck config
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  docs/api/api-client.md
  packages/api-client/jest.config.js
  packages/api-client/package.json
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/tsconfig.test.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api-client): preserve custom transport compatibility
  .changeset/api-surface-maintenance.md
  docs/api/api-client.md
  packages/api-client/README.md
  packages/api-client/package.json
  packages/api-client/src/client.ts
  packages/api-client/src/transport-seam.test.ts
  packages/api-client/src/transport.ts
  packages/api-client/src/transports/api-key-transport.ts
  packages/api-client/tsconfig.contracts.json
  packages/plugin-sdk/src/iframe-transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(api-client): address Roman's review — encoded-length cap, HTTP error shape, n constraints
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  docs/api/api-client.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(plugin-host): minimize protocol delta
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/features/plugins/runtime/protocol.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(plugin-sdk): describe brokered low-level methods
  apps/web/src/features/plugins/runtime/protocol.ts
  docs/plugins/authoring-guide.md
  packages/plugin-sdk/README.md
  packages/plugin-sdk/src/protocol.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): address self-review on the canvas view-settings parity
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowEdge.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  apps/web/src/features/data-marts/shared/canvas/edge-join-label.tsx
  apps/web/src/features/data-marts/shared/canvas/erd-fields-section.tsx
  apps/web/src/features/data-marts/shared/canvas/erd-fields.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): address PR #1511 review — settings toggles keep viewport, render-level tests
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipFlowNode.test.tsx
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@c4fb0887af03e2f2f47282c5a6baf02288b5826b 🚀
  docs/api/api-client/index.html
  pagefind/fragment/en_49c034e.pf_fragment
  pagefind/fragment/en_d0c14c1.pf_fragment
  pagefind/index/en_0548d53.pf_index
  pagefind/index/en_1a85edb.pf_index
  pagefind/index/en_1cd59a3.pf_index
  pagefind/index/en_33cab72.pf_index
  pagefind/index/en_40d0ac7.pf_index
  pagefind/index/en_446f95b.pf_index
  pagefind/index/en_4bab292.pf_index
  pagefind/index/en_677a348.pf_index
  pagefind/index/en_6c7aa4e.pf_index
  pagefind/index/en_7a97c33.pf_index
  pagefind/index/en_7e22d95.pf_index
  pagefind/index/en_9169a96.pf_index
  pagefind/index/en_97761ec.pf_index
  pagefind/index/en_97b25a4.pf_index
  pagefind/index/en_9d5a3a6.pf_index
  pagefind/index/en_a47e99e.pf_index
  pagefind/index/en_aedb0fd.pf_index
  pagefind/index/en_c7aec37.pf_index
  pagefind/index/en_cdbcf52.pf_index
  pagefind/index/en_d1e9484.pf_index
  pagefind/index/en_d4e1e26.pf_index
  pagefind/index/en_dc5cee3.pf_index
  pagefind/index/en_eaebe5f.pf_index
  pagefind/index/en_ede4a4c.pf_index
  pagefind/index/en_f2b361f.pf_index
  pagefind/index/en_fa693e3.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_8a49d7fa5e.pf_meta
  pagefind/pagefind.en_fd286494e2.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(api-client): address final transport review
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/test/authenticated-api-path-contract.ts
  packages/api-client/src/client.test.ts
  packages/api-client/src/index.ts
  packages/api-client/src/transport.ts
  packages/api-client/src/transports/api-key-transport.ts
  packages/plugin-sdk/src/iframe-transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(api-client): stabilize transport security contracts
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  packages/api-client/src/client.test.ts
  packages/api-client/src/transport.ts
  packages/plugin-sdk/src/iframe-transport.test.ts
  test/contracts/authenticated-api-path-contract.d.mts
  test/contracts/authenticated-api-path-contract.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api-client): reject undefined patch bodies
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(google-ads): remap fields renamed in API v25
  .changeset/6812-google-ads-v25-field-renames.md
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/campaignsFields.js
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/campaignsStatsFields.js
  packages/connectors/test/Sources/GoogleAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): generalize low-level client wording
  .changeset/api-surface-maintenance.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api-client): reject unserializable patch bodies
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/plugin-sdk/README.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Review fixes
  packages/connectors/src/Sources/GoogleAds/GoogleAdsAPIReference/campaignsFields.js
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/test/Sources/GoogleAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api-client): normalize patch transport bodies
  packages/api-client/src/client.ts
  packages/api-client/src/transport-seam.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Changeset
  .changeset/6770-publish-data-mart-drafts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(api): cover Data Mart run lifecycle
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-response-api.dto.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  docs/api/api-client.md
  docs/api/coverage.md
  packages/api-client/src/data-mart-runs.test.ts
  packages/api-client/src/data-mart-runs.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/index.ts
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api-client): guard malformed run results
  packages/api-client/src/data-mart-runs.test.ts
  packages/api-client/src/data-mart-runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api): align run lifecycle contracts
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/project-data-mart-runs.controller.openapi.spec.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  docs/api/coverage.md
  packages/api-client/src/data-mart-runs.test.ts
  packages/api-client/src/data-mart-runs.ts
  packages/api-client/src/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api-client): type data mart run start options
  .changeset/api-surface-maintenance.md
  docs/api/api-client.md
  packages/api-client/src/data-mart-runs.test.ts
  packages/api-client/src/data-mart-runs.ts
  packages/api-client/src/index.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): focus run lifecycle release note
  .changeset/api-surface-maintenance.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api): align manual run error contract
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api-client): reject unsafe run pagination
  .changeset/api-surface-maintenance.md
  docs/api/api-client.md
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(api-client): satisfy strict indexed access
  packages/api-client/src/project-run-history.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api): preserve run lifecycle compatibility
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.ts
  docs/api/api-client.md
  packages/api-client/src/data-mart-runs.test.ts
  packages/api-client/src/data-mart-runs.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(server): scope IDP body parsers
  .changeset/api-surface-maintenance.md
  apps/owox/test/integration/idp-body-parser.test.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api-client): require explicit backfill type
  .changeset/api-surface-maintenance.md
  docs/api/api-client.md
  packages/api-client/src/data-mart-runs.test.ts
  packages/api-client/src/data-mart-runs.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): clarify run lifecycle adoption
  .changeset/api-surface-maintenance.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(api-client): scope data mart runs
  .changeset/api-surface-maintenance.md
  docs/api/api-client.md
  packages/api-client/src/data-mart-runs.test.ts
  packages/api-client/src/index.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api): reject null manual-run payloads
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(api-client): centralize run lifecycle
  .changeset/api-surface-maintenance.md
  docs/api/api-client.md
  packages/api-client/src/data-mart-runs.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api): address Data Mart run lifecycle review
  .changeset/api-surface-maintenance.md
  apps/backend/src/bootstrap.ts
  apps/backend/src/common/exceptions/global-exception.filter.spec.ts
  apps/backend/src/common/exceptions/global-exception.filter.ts
  apps/backend/src/config/body-parser.config.ts
  apps/backend/src/config/swagger.config.spec.ts
  apps/backend/src/config/swagger.config.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-mart.service.ts
  apps/backend/test/data-mart-runs.e2e-spec.ts
  docs/api/api-client.md
  packages/api-client/src/data-mart-runs.test.ts
  packages/api-client/src/data-mart-runs.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/index.ts
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/runs.ts
  packages/test-utils/src/helpers/create-test-app.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(api): clarify capped run pagination
  docs/api/api-client.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
