Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

Deploying to gh-pages from @ OWOX/owox-data-marts@8d83268b5a7c8211e23c1997de8c8928981ccc36 🚀
  apps/backend/test/integration/readme/index.html
  pagefind/fragment/en_70334b6.pf_fragment
  pagefind/fragment/en_90c73f5.pf_fragment
  pagefind/index/en_1814b4b.pf_index
  pagefind/index/en_3a51b3a.pf_index
  pagefind/index/en_3da54f3.pf_index
  pagefind/index/en_453c477.pf_index
  pagefind/index/en_4ad48e9.pf_index
  pagefind/index/en_5df4fe8.pf_index
  pagefind/index/en_61ec81b.pf_index
  pagefind/index/en_7c69da6.pf_index
  pagefind/index/en_8c54f07.pf_index
  pagefind/index/en_915ce69.pf_index
  pagefind/index/en_aac076b.pf_index
  pagefind/index/en_b07d9da.pf_index
  pagefind/index/en_c496b5f.pf_index
  pagefind/index/en_c574b48.pf_index
  pagefind/index/en_da843e8.pf_index
  pagefind/index/en_db22818.pf_index
  pagefind/index/en_f0c4b03.pf_index
  pagefind/index/en_fcbbcef.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_714b538c1b.pf_meta
  pagefind/pagefind.en_bfe29d3680.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): add support for aborting OAuth credential status requests in Google Sheets integration
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/google-oauth/api/google-oauth-api.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Show project status in ODM
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenu.tsx
  apps/web/src/features/idp/types/projects.types.ts
  apps/web/src/layouts/MainLayout.tsx
  apps/web/src/pages/project-settings/OverviewTab.test.tsx
  apps/web/src/pages/project-settings/OverviewTab.tsx
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/projects-schema.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): make Google Sheets access emails visible and copyable for OAuth and Service Account methods (#1281)
  .changeset/google-sheets-copyable-email-oauth-and-sa.md
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-destination/shared/model/mappers/google-sheets.mapper.ts
  apps/web/src/features/data-destination/shared/model/types/data-destination.ts
  apps/web/src/features/data-destination/shared/services/types/data-destination.response.dto.ts
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/shared/utils/google-sheets-destination-email.utils.ts
  apps/web/src/features/data-marts/reports/shared/utils/index.ts
  apps/web/src/features/google-oauth/api/google-oauth-api.service.ts
  apps/web/src/shared/types/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix request access switcher review feedback
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenuContent.test.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenuContent.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.tsx
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.test.tsx
Due: none

fix(backend): add guard to prevent credential rotation under different connector names
  apps/backend/src/data-marts/services/connector/connector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

address request access switcher review comments
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenuContent.test.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenuContent.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.test.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.tsx
Due: none

Improve case handling for Redshift and Snowflake
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): skip storage validation when saving connector definition
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(connectors): auto-evolve Snowflake and Redshift table schema on field change (#1236)
  .changeset/snowflake-redshift-schema-evolution.md
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: address api key review comments
  apps/backend/src/data-marts/use-cases/project-member-api-keys/create-project-member-api-key.service.spec.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key-codec.service.spec.ts
  apps/backend/test/utils/project-member-api-key-codec.ts
  apps/ctl/src/commands/status.test.ts
  apps/ctl/src/config-store.test.ts
  apps/ctl/src/config-store.ts
  apps/web/src/features/api-keys/components/CreateApiKeySheet.test.tsx
  docs/api/api-keys.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Package project member API keys as a single copyable credential (#1275)
  apps/backend/src/data-marts/controllers/project-member-api-keys.controller.ts
  apps/backend/src/data-marts/dto/presentation/project-member-api-key-api.dto.ts
  apps/backend/src/data-marts/mappers/project-member-api-keys.mapper.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/create-project-member-api-key.service.spec.ts
  apps/backend/src/data-marts/use-cases/project-member-api-keys/create-project-member-api-key.service.ts
  apps/backend/src/project-member-api-keys/project-member-api-keys.module.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key-codec.service.spec.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key-codec.service.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.spec.ts
  apps/backend/src/project-member-api-keys/services/project-member-api-key.service.ts
  apps/backend/test/utils/project-member-api-key-codec.ts
  apps/ctl/README.md
  apps/ctl/src/base-command.ts
  apps/ctl/src/commands/status.test.ts
  apps/ctl/src/commands/status.ts
  apps/ctl/src/config-store.test.ts
  apps/ctl/src/config-store.ts
  apps/web/src/features/api-keys/components/CreateApiKeySheet.test.tsx
  apps/web/src/features/api-keys/components/CreateApiKeySheet.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.test.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.tsx
  apps/web/src/features/api-keys/components/SecretRevealDialog.test.tsx
  apps/web/src/features/api-keys/components/SecretRevealDialog.tsx
  apps/web/src/features/api-keys/types.ts
  docs/api/api-client.md
  docs/api/api-keys.md
  docs/api/openapi.md
  docs/api/owox-ctl.md
  packages/api-client/README.md
  packages/api-client/src/api-key.test.ts
  packages/api-client/src/api-key.ts
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/errors.ts
  packages/api-client/src/index.ts
  packages/api-client/src/package-readme.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@b852bd91340efb54ffb6ce021532564471c25918 🚀
  apps/ctl/readme/index.html
  docs/api/api-client/index.html
  docs/api/api-keys/index.html
  docs/api/openapi/index.html
  docs/api/owox-ctl/index.html
  packages/api-client/readme/index.html
  pagefind/fragment/en_1f302d5.pf_fragment
  pagefind/fragment/en_315f7ae.pf_fragment
  pagefind/fragment/en_578b349.pf_fragment
  pagefind/fragment/en_5deae4a.pf_fragment
  pagefind/fragment/en_5e97222.pf_fragment
  pagefind/fragment/en_72a5375.pf_fragment
  pagefind/fragment/en_b81db7a.pf_fragment
  pagefind/fragment/en_bc1a312.pf_fragment
  pagefind/fragment/en_dd14aeb.pf_fragment
  pagefind/fragment/en_e66bbab.pf_fragment
  pagefind/fragment/en_f1a43b3.pf_fragment
  pagefind/fragment/en_fdf695a.pf_fragment
  pagefind/index/en_1814b4b.pf_index
  pagefind/index/en_3da54f3.pf_index
  pagefind/index/en_4ad48e9.pf_index
  pagefind/index/en_61ec81b.pf_index
  pagefind/index/en_6785e35.pf_index
  pagefind/index/en_7649faa.pf_index
  pagefind/index/en_7c69da6.pf_index
  pagefind/index/en_8c54f07.pf_index
  pagefind/index/en_a35f3c4.pf_index
  pagefind/index/en_bc60fed.pf_index
  pagefind/index/en_c35a257.pf_index
  pagefind/index/en_c496b5f.pf_index
  pagefind/index/en_c574b48.pf_index
  pagefind/index/en_cec121e.pf_index
  pagefind/index/en_d6b2b47.pf_index
  pagefind/index/en_eb903f4.pf_index
  pagefind/index/en_f0c4b03.pf_index
  pagefind/index/en_f89ac9c.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_714b538c1b.pf_meta
  pagefind/pagefind.en_dd356e5154.pf_meta
Due: prettier --write --config ./prettier.config.js

test
  packages/connectors/src/Sources/XAds/CREDENTIALS.md
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): make expired API keys visually obvious
  apps/web/src/features/api-keys/components/ApiKeysTable/ApiKeysTable.test.tsx
  apps/web/src/features/api-keys/components/ApiKeysTable/columns.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.test.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.tsx
  apps/web/src/features/api-keys/utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): sort API key expirations consistently
  apps/web/src/features/api-keys/components/ApiKeysTable/ApiKeysTable.test.tsx
  apps/web/src/features/api-keys/components/ApiKeysTable/columns.tsx
Due: none

Update X Ads docs and connector labels
  packages/connectors/src/Sources/XAds/CREDENTIALS.md
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Sources/XAds/res/x_ads_account.png
  packages/connectors/src/Sources/XAds/res/x_ads_connector.png
  packages/connectors/src/Sources/XAds/res/x_ads_currentday.png
  packages/connectors/src/Sources/XAds/res/x_ads_daterange.png
  packages/connectors/src/Sources/XAds/res/x_ads_filldata.png
  packages/connectors/src/Sources/XAds/res/x_ads_incremental.png
  packages/connectors/src/Sources/XAds/res/x_ads_newdatamart.png
  packages/connectors/src/Sources/XAds/res/x_ads_publish.png
  packages/connectors/src/Sources/XAds/res/x_ads_reimportwindow.png
  packages/connectors/src/Sources/XAds/res/x_ads_storage.png
  packages/connectors/src/Sources/XAds/res/x_ads_successrun.png
  packages/connectors/src/Sources/XAds/res/xads_accesstoken.png
  packages/connectors/src/Sources/XAds/res/xads_appid.png
  packages/connectors/src/Sources/XAds/res/xads_authorize.png
  packages/connectors/src/Sources/XAds/res/xads_edit.png
  packages/connectors/src/Sources/XAds/res/xads_formexample.png
  packages/connectors/src/Sources/XAds/res/xads_gbq.png
  packages/connectors/src/Sources/XAds/res/xads_localhost.png
  packages/connectors/src/Sources/XAds/res/xads_permissions.png
  packages/connectors/src/Sources/XAds/res/xads_postman.png
  packages/connectors/src/Sources/XAds/res/xads_prices.png
  packages/connectors/src/Sources/XAds/res/xads_requestapprove.png
  packages/connectors/src/Sources/XAds/res/xads_tokens.png
  packages/connectors/src/Sources/XAds/res/xads_verifier.png
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix request access project switcher (#1279)
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenu.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenuContent.test.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenuContent.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.test.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.tsx
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.test.tsx
  apps/web/src/layouts/MainLayout.test.tsx
  apps/web/src/layouts/MainLayout.tsx
Due: none

Address project status review comments
  apps/web/src/pages/project-settings/OverviewTab.test.tsx
  apps/web/src/pages/project-settings/OverviewTab.tsx
Due: none

feat(web): clarify API key expiration status
  apps/web/src/features/api-keys/components/ApiKeyExpirationValue.tsx
  apps/web/src/features/api-keys/components/ApiKeysTable/ApiKeysTable.test.tsx
  apps/web/src/features/api-keys/components/ApiKeysTable/columns.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.test.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.tsx
Due: none

fix(backend): skip storage validation when saving connector definition (#1283)
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): use relative API key expiration dates
  apps/web/src/features/api-keys/components/ApiKeysTable/ApiKeysTable.test.tsx
  apps/web/src/features/api-keys/utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Improve API key expiration visibility and sorting (#1285)
  apps/web/src/features/api-keys/components/ApiKeyExpirationValue.tsx
  apps/web/src/features/api-keys/components/ApiKeysTable/ApiKeysTable.test.tsx
  apps/web/src/features/api-keys/components/ApiKeysTable/columns.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.test.tsx
  apps/web/src/features/api-keys/components/EditApiKeySheet.tsx
  apps/web/src/features/api-keys/utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): serialize sqlite transactions
  .changeset/sqlite-scheduled-runs-stability.md
  apps/backend/src/app.module.ts
  apps/backend/src/config/sqlite-transaction-serializer.spec.ts
  apps/backend/src/config/sqlite-transaction-serializer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(backend): avoid sqlite native binding in serializer tests
  apps/backend/src/config/sqlite-transaction-serializer.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Clarify X Ads credential instructions
  packages/connectors/src/Sources/XAds/CREDENTIALS.md
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(backend): cover sqlite transaction serializer paths
  apps/backend/src/config/sqlite-transaction-serializer.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): output controls for AWS Redshift data marts
  .changeset/redshift-output-controls.md
  .github/workflows/test-integration.yml
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/redshift/adapters/redshift-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/integration/redshift.integration.ts
  apps/backend/test/output-controls-redshift-emission.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.test.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): added project id to triggers (#1276)
  apps/backend/src/common/scheduler/shared/entities/ui-trigger.entity.ts
  apps/backend/src/common/scheduler/shared/ui-trigger-controller.ts
  apps/backend/src/common/scheduler/shared/ui-trigger.service.spec.ts
  apps/backend/src/common/scheduler/shared/ui-trigger.service.ts
  apps/backend/src/data-marts/controllers/ai-helper-trigger.controller.ts
  apps/backend/src/data-marts/controllers/connector.controller.ts
  apps/backend/src/data-marts/controllers/sql-dry-run-trigger.controller.ts
  apps/backend/src/data-marts/entities/ai-assistant-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/ai-helper-trigger.entity.ts
  apps/backend/src/data-marts/entities/insight-artifact-sql-preview-trigger.entity.ts
  apps/backend/src/data-marts/entities/insight-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/insight-template-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/publish-drafts-trigger.entity.ts
  apps/backend/src/data-marts/entities/schema-actualize-trigger.entity.ts
  apps/backend/src/data-marts/entities/sql-dry-run-trigger.entity.ts
  apps/backend/src/data-marts/services/connector/connector-oauth.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-oauth.service.ts
  apps/backend/src/data-marts/services/connector/connector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: update integration constant for project creation to OWOX Data Marts
  apps/backend/src/data-marts/use-cases/project-members/create-new-project.service.ts
  apps/backend/src/data-marts/use-cases/project-members/request-access.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(storages): note standard_conforming_strings requirement for Redshift
  .changeset/redshift-output-controls.md
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.ts
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/integration/redshift.integration.ts
  apps/backend/test/output-controls-emission.e2e-spec.ts
  apps/backend/test/output-controls-redshift-emission.e2e-spec.ts
  docs/storages/supported-storages/aws-redshift.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

ci: build native modules in integration tests by dropping --ignore-scripts
  .github/workflows/test-integration.yml
Due: prettier --write --config ./prettier.config.js

test(backend): raise http-data-real app-bootstrap hook timeout to 180s
  apps/backend/test/integration/http-data-real.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

ci: build native modules in integration tests by dropping --ignore-scripts (#1291)
  .github/workflows/test-integration.yml
  apps/backend/test/integration/http-data-real.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

ci: bump checkout and setup-node to v5 (Node 24 runtime)
  .github/workflows/audit-all.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/e2e-api.yml
  .github/workflows/e2e-browser.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-root.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

feat(owox): anonymous opt-out CLI telemetry for `owox serve`
  .changeset/anonymous-cli-telemetry.md
  .env.example
  .github/workflows/publish.yml
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  apps/owox/src/telemetry/anonymous-id.ts
  apps/owox/src/telemetry/events/serve-started.event.ts
  apps/owox/src/telemetry/index.ts
  apps/owox/src/telemetry/is-telemetry-enabled.ts
  apps/owox/src/telemetry/track-serve-started.ts
  apps/owox/test/telemetry/anonymous-id.test.ts
  apps/owox/test/telemetry/is-telemetry-enabled.test.ts
  apps/owox/test/telemetry/serve-started.event.test.ts
  apps/owox/test/telemetry/track-serve-started.test.ts
  docs/editions/self-managed-editions.md
  package-lock.json
  packages/internal-helpers/jest.config.js
  packages/internal-helpers/package.json
  packages/internal-helpers/scripts/inject-posthog-key.mjs
  packages/internal-helpers/src/integrations/event-bus/README.md
  packages/internal-helpers/src/integrations/event-bus/event-bus.ts
  packages/internal-helpers/src/integrations/event-bus/index.ts
  packages/internal-helpers/src/integrations/event-bus/posthog-config.test.ts
  packages/internal-helpers/src/integrations/event-bus/posthog-config.ts
  packages/internal-helpers/src/integrations/event-bus/posthog-key.ts
  packages/internal-helpers/src/integrations/event-bus/telemetry-event.test.ts
  packages/internal-helpers/src/integrations/event-bus/telemetry-event.ts
  packages/internal-helpers/src/integrations/event-bus/transports/posthog-transport.test.ts
  packages/internal-helpers/src/integrations/event-bus/transports/posthog-transport.ts
  packages/internal-helpers/tsconfig.build.json
  packages/internal-helpers/tsconfig.cjs.json
  packages/internal-helpers/tsconfig.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(data-marts): full-stack HTTP Data API integration for live Redshift
  apps/backend/test/integration/http-data-real.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): reject non-finite numeric filter values
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(changeset): clarify relative-date preset bounds
  .changeset/redshift-output-controls.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
