Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

ci: shard E2E API tests across 3 parallel jobs
  .github/workflows/e2e-api.yml
Due: prettier --write --config ./prettier.config.js

ci: bump remaining third-party actions to Node 24 runtime
  .github/workflows/e2e-browser.yml
  .github/workflows/publish.yml
  .github/workflows/test-integration.yml
Due: prettier --write --config ./prettier.config.js

feat(ctl): anonymous opt-out telemetry for owox-ctl commands
  apps/ctl/src/base-command.ts
  apps/ctl/src/telemetry/command-invoked.event.test.ts
  apps/ctl/src/telemetry/command-invoked.event.ts
  apps/ctl/src/telemetry/track-command.test.ts
  apps/ctl/src/telemetry/track-command.ts
  apps/owox/package.json
  apps/owox/src/telemetry/track-serve-started.ts
  apps/owox/test/telemetry/is-telemetry-enabled.test.ts
  docs/editions/self-managed-editions.md
  package-lock.json
  packages/internal-helpers/package.json
  packages/internal-helpers/src/index.ts
  packages/internal-helpers/src/telemetry/anonymous-id.test.ts
  packages/internal-helpers/src/telemetry/anonymous-id.ts
  packages/internal-helpers/src/telemetry/emit-telemetry.test.ts
  packages/internal-helpers/src/telemetry/emit-telemetry.ts
  packages/internal-helpers/src/telemetry/is-telemetry-enabled.test.ts
  packages/internal-helpers/src/telemetry/is-telemetry-enabled.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp): invalidate other sessions on password reset and change
  packages/idp-better-auth/jest.setup.ts
  packages/idp-better-auth/src/auth/auth-config.session-revocation.test.ts
  packages/idp-better-auth/src/auth/auth-config.ts
  packages/idp-better-auth/src/services/page-service.ts
  packages/idp-better-auth/src/services/user-management-service.test.ts
  packages/idp-better-auth/src/services/user-management-service.ts
  packages/idp-better-auth/src/store/DatabaseStore.ts
  packages/idp-better-auth/src/store/MysqlDatabaseStore.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.session-revocation.test.ts
  packages/idp-better-auth/src/store/SqliteDatabaseStore.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/password-flow-controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(x-ads): rewrite connector setup guides and add troubleshooting (#1286)
  packages/connectors/src/Sources/XAds/CREDENTIALS.md
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
  packages/connectors/src/Sources/XAds/README.md
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Sources/XAds/res/x_ads_account.png
  packages/connectors/src/Sources/XAds/res/x_ads_connector.png
  packages/connectors/src/Sources/XAds/res/x_ads_currentday.png
  packages/connectors/src/Sources/XAds/res/x_ads_daterange.png
  packages/connectors/src/Sources/XAds/res/x_ads_filldata.png
  packages/connectors/src/Sources/XAds/res/x_ads_incremental.png
  packages/connectors/src/Sources/XAds/res/x_ads_newdatamart.png
  packages/connectors/src/Sources/XAds/res/x_ads_publish.png
  packages/connectors/src/Sources/XAds/res/x_ads_reimportwindow.png
  packages/connectors/src/Sources/XAds/res/x_ads_storage.png
  packages/connectors/src/Sources/XAds/res/x_ads_successrun.png
  packages/connectors/src/Sources/XAds/res/xads_accesstoken.png
  packages/connectors/src/Sources/XAds/res/xads_appid.png
  packages/connectors/src/Sources/XAds/res/xads_authorize.png
  packages/connectors/src/Sources/XAds/res/xads_edit.png
  packages/connectors/src/Sources/XAds/res/xads_formexample.png
  packages/connectors/src/Sources/XAds/res/xads_gbq.png
  packages/connectors/src/Sources/XAds/res/xads_localhost.png
  packages/connectors/src/Sources/XAds/res/xads_permissions.png
  packages/connectors/src/Sources/XAds/res/xads_postman.png
  packages/connectors/src/Sources/XAds/res/xads_prices.png
  packages/connectors/src/Sources/XAds/res/xads_requestapprove.png
  packages/connectors/src/Sources/XAds/res/xads_tokens.png
  packages/connectors/src/Sources/XAds/res/xads_verifier.png
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add confirmed run cancellation
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/CancelRunButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/LogControls.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/cancellable-runs.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.test.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(backend): document best-effort run cancellation
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): cancel connector and report runs
  apps/backend/src/data-marts/entities/connector-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/report-run-trigger.entity.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/report-run-trigger.service.spec.ts
  apps/backend/src/data-marts/services/report-run-trigger.service.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/cancel-data-mart-run.service.spec.ts
  apps/backend/src/data-marts/use-cases/cancel-data-mart-run.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): harden run cancellation
  apps/backend/src/common/scheduler/facades/scheduler-facade.impl.spec.ts
  apps/backend/src/data-marts/services/base-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector/connector-execution.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-execution.service.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector/connector-run.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/cancel-data-mart-run.service.spec.ts
  apps/backend/src/data-marts/use-cases/cancel-data-mart-run.service.ts
  apps/backend/src/data-marts/utils/data-mart-run-cancellation.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): refine run cancellation confirmation
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/CancelRunButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.test.tsx
  apps/web/src/features/data-marts/shared/services/data-mart.service.test.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/shared/components/ConfirmationDialog/ConfirmationDialog.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: address run cancellation review feedback
  apps/backend/src/data-marts/services/connector/connector-run-trigger.service.ts
  apps/backend/src/data-marts/services/report-run-trigger.service.ts
  apps/backend/src/data-marts/use-cases/cancel-data-mart-run.service.ts
  apps/backend/src/data-marts/utils/run-trigger-cancellation.spec.ts
  apps/backend/src/data-marts/utils/run-trigger-cancellation.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.test.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): wait for provisioning mode reset
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.test.tsx
Due: none

fix: address run cancellation review comments
  apps/backend/src/data-marts/services/base-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/CancelRunButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/LogControls.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.test.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(service): update integration name from extension-v2 to OWOX Data Marts
  apps/backend/src/data-marts/use-cases/project-members/create-new-project.service.ts
  apps/backend/src/data-marts/use-cases/project-members/request-access.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Show project status in ODM (#1284)
  apps/web/src/components/AppSidebar/ProjectMenu/ProjectMenu.tsx
  apps/web/src/features/idp/types/projects.types.ts
  apps/web/src/layouts/MainLayout.tsx
  apps/web/src/pages/project-settings/OverviewTab.test.tsx
  apps/web/src/pages/project-settings/OverviewTab.tsx
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/projects-schema.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

ci: shard E2E API tests across 3 parallel jobs (#1295)
  .github/workflows/e2e-api.yml
Due: prettier --write --config ./prettier.config.js

ci: bump checkout and setup-node to v5 (Node 24 runtime) (#1292)
  .github/workflows/audit-all.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/e2e-api.yml
  .github/workflows/e2e-browser.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-root.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.js

Fix SQLite scheduled run transaction stability (#1289)
  .changeset/sqlite-scheduled-runs-stability.md
  apps/backend/src/app.module.ts
  apps/backend/src/config/sqlite-transaction-serializer.spec.ts
  apps/backend/src/config/sqlite-transaction-serializer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add run cancellation for connector and report runs (#1282)
  apps/backend/src/common/scheduler/facades/scheduler-facade.impl.spec.ts
  apps/backend/src/data-marts/entities/connector-run-trigger.entity.ts
  apps/backend/src/data-marts/entities/report-run-trigger.entity.ts
  apps/backend/src/data-marts/services/base-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector/connector-execution.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-execution.service.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/connector/connector-run-trigger.service.ts
  apps/backend/src/data-marts/services/connector/connector-run.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/report-run-trigger-handler.service.ts
  apps/backend/src/data-marts/services/report-run-trigger.service.spec.ts
  apps/backend/src/data-marts/services/report-run-trigger.service.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/cancel-data-mart-run.service.spec.ts
  apps/backend/src/data-marts/use-cases/cancel-data-mart-run.service.ts
  apps/backend/src/data-marts/utils/data-mart-run-cancellation.ts
  apps/backend/src/data-marts/utils/run-trigger-cancellation.spec.ts
  apps/backend/src/data-marts/utils/run-trigger-cancellation.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/CancelRunButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/LogControls.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/cancellable-runs.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.test.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/shared/services/data-mart.service.test.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.test.tsx
  apps/web/src/shared/components/ConfirmationDialog/ConfirmationDialog.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(internal-helpers): use unref'd http(s) for telemetry so it never blocks CLI exit
  apps/ctl/src/telemetry/track-command.test.ts
  apps/owox/test/telemetry/track-serve-started.test.ts
  packages/internal-helpers/src/integrations/event-bus/transports/posthog-transport.test.ts
  packages/internal-helpers/src/integrations/event-bus/transports/posthog-transport.ts
  packages/internal-helpers/src/telemetry/emit-telemetry.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(ctl): send first-run telemetry notice to stderr, not stdout
  apps/ctl/src/base-command.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(blended): stub CreateViewService so SQL-composition tests run without BigQuery
  apps/backend/test/blended-output-controls.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(blended): stub CreateViewService so SQL-composition tests run without BigQuery (#1298)
  apps/backend/test/blended-output-controls.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): output controls for AWS Redshift data marts (#1290)
  .changeset/redshift-output-controls.md
  .github/workflows/test-integration.yml
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/redshift/adapters/redshift-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-create-view.executor.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-query.builder.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-capability.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/integration/http-data-real.integration.ts
  apps/backend/test/integration/redshift.integration.ts
  apps/backend/test/output-controls-redshift-emission.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.test.ts
  apps/web/src/features/data-marts/shared/utils/output-controls-support.ts
  docs/storages/supported-storages/aws-redshift.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@29c3af26ebdaa8f527c8ae58bc4083b6c9afba7c 🚀
  docs/storages/supported-storages/aws-redshift/index.html
  pagefind/fragment/en_804388d.pf_fragment
  pagefind/fragment/en_b0df5ec.pf_fragment
  pagefind/index/en_1455ed3.pf_index
  pagefind/index/en_16ebf75.pf_index
  pagefind/index/en_3e68658.pf_index
  pagefind/index/en_429f40e.pf_index
  pagefind/index/en_434976d.pf_index
  pagefind/index/en_53c5d18.pf_index
  pagefind/index/en_587618c.pf_index
  pagefind/index/en_5f84988.pf_index
  pagefind/index/en_732ce79.pf_index
  pagefind/index/en_79e10cf.pf_index
  pagefind/index/en_7ac3207.pf_index
  pagefind/index/en_80fd608.pf_index
  pagefind/index/en_8758927.pf_index
  pagefind/index/en_887e21c.pf_index
  pagefind/index/en_9143bd0.pf_index
  pagefind/index/en_bc48fe1.pf_index
  pagefind/index/en_c5b68a5.pf_index
  pagefind/index/en_efee123.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_529720469a.pf_meta
  pagefind/pagefind.en_d0aa49feff.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): add project triggers page
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerRunTarget.tsx
  apps/web/src/features/data-marts/scheduled-triggers/model/api/response/scheduled-trigger-list.response.dto.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/api/response/scheduled-trigger.response.dto.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/mappers/report-run-trigger.mapper.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/mappers/scheduled-trigger-mapper.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/scheduled-trigger.model.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/trigger-config.types.ts
  apps/web/src/features/data-marts/scheduled-triggers/services/scheduled-trigger.service.test.ts
  apps/web/src/features/data-marts/scheduled-triggers/services/scheduled-trigger.service.ts
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.test.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.tsx
  apps/web/src/pages/data-marts/schedules/ProjectScheduledTriggerEditSheet.tsx
  apps/web/src/pages/data-marts/shared/ProjectDataMartEmptyState.tsx
  apps/web/src/pages/data-marts/shared/ProjectDataMartTableFilters.tsx
  apps/web/src/pages/data-marts/shared/ProjectDataMartTableFilters.utils.ts
  apps/web/src/pages/data-marts/shared/ProjectDataMartTableSearch.tsx
  apps/web/src/pages/data-marts/shared/projectDataMartContext.ts
  apps/web/src/shared/components/Table/BaseTable.tsx
  apps/web/src/shared/hooks/useBaseTable.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add project run history page
  apps/web/src/components/AppSidebar/MainMenu/MainMenu.test.tsx
  apps/web/src/components/AppSidebar/MainMenu/MainMenu.tsx
  apps/web/src/components/AppSidebar/MainMenu/items.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.tsx
  apps/web/src/features/data-marts/edit/constants.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-run.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.test.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-run-list.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-run.response.dto.ts
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.test.tsx
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.tsx
  apps/web/src/routes/index.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add project insights page
  apps/web/src/features/data-marts/insights/components/InsightRowActionsCell.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListView.tsx
  apps/web/src/features/data-marts/insights/model/templates/mappers/insight-templates.mapper.ts
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.test.ts
  apps/web/src/features/data-marts/insights/model/templates/services/insight-templates.service.ts
  apps/web/src/features/data-marts/insights/model/templates/types/insight-template.entity.ts
  apps/web/src/features/data-marts/insights/model/templates/types/insight-templates.dto.ts
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.test.tsx
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: add project activity pages changeset
  .changeset/project-data-mart-activity-pages.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: address project activity page review findings
  apps/backend/src/data-marts/dto/domain/project-insight-template.dto.ts
  apps/backend/src/data-marts/dto/domain/project-scheduled-trigger.dto.ts
  apps/backend/src/data-marts/dto/presentation/project-insight-templates-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/project-scheduled-triggers-response-api.dto.ts
  apps/backend/src/data-marts/mappers/insight-template.mapper.ts
  apps/backend/src/data-marts/mappers/scheduled-trigger.mapper.ts
  apps/backend/src/data-marts/use-cases/list-project-insight-templates.service.spec.ts
  apps/backend/src/data-marts/use-cases/list-project-insight-templates.service.ts
  apps/backend/src/data-marts/use-cases/list-project-scheduled-triggers.service.spec.ts
  apps/backend/src/data-marts/use-cases/list-project-scheduled-triggers.service.ts
  apps/backend/src/data-marts/utils/normalize-project-list-pagination.spec.ts
  apps/backend/src/data-marts/utils/normalize-project-list-pagination.ts
  apps/web/src/features/data-marts/edit/constants.ts
  apps/web/src/features/data-marts/insights/model/templates/mappers/insight-templates.mapper.ts
  apps/web/src/features/data-marts/insights/model/templates/types/insight-template.entity.ts
  apps/web/src/features/data-marts/insights/model/templates/types/insight-templates.dto.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerActionsCell.tsx
  apps/web/src/features/data-marts/scheduled-triggers/model/api/response/scheduled-trigger.response.dto.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/mappers/scheduled-trigger-mapper.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/scheduled-trigger.model.ts
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.test.tsx
  apps/web/src/pages/data-marts/insights/DataMartInsightsPage.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.test.tsx
  apps/web/src/pages/data-marts/runs/DataMartRunsPage.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.test.tsx
  apps/web/src/pages/data-marts/schedules/DataMartSchedulesPage.tsx
  apps/web/src/pages/data-marts/shared/ProjectDataMartTableSearch.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): nest activity pages under data marts
  apps/web/src/components/AppSidebar/MainMenu/MainMenu.test.tsx
  apps/web/src/components/AppSidebar/MainMenu/MainMenu.tsx
  apps/web/src/components/AppSidebar/MainMenu/items.ts
  apps/web/src/components/AppSidebar/MainMenu/types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): enforce trigger management access
  apps/backend/src/data-marts/use-cases/create-scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/delete-scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/use-cases/delete-scheduled-trigger.service.ts
  apps/backend/src/data-marts/use-cases/list-project-scheduled-triggers.service.spec.ts
  apps/backend/src/data-marts/use-cases/list-project-scheduled-triggers.service.ts
  apps/backend/src/data-marts/use-cases/update-scheduled-trigger.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-scheduled-trigger.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add project reports page
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/shared/model/mappers/report.mapper.ts
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.test.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  apps/web/src/features/data-marts/reports/shared/utils/report-has-output-controls.utils.test.ts
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): stabilize CI-sensitive assertions
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.test.tsx
  apps/web/src/features/project-settings/members/components/UserProvisioningSettings/UserProvisioningSettings.test.tsx
Due: none

fix: preserve offset-only project report pagination
  apps/web/src/features/data-marts/reports/shared/services/report.service.test.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): satisfy run item lint rule
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RunItem.test.tsx
Due: none

fix: restore data mart menu styling
  apps/web/src/components/AppSidebar/MainMenu/MainMenu.test.tsx
  apps/web/src/components/AppSidebar/MainMenu/MainMenu.tsx
Due: none

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
