Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add migration to copy Microsoft Ads DeveloperToken to new OAuth2 credentials field.
  apps/backend/src/migrations/1774619679000-copy-developer-token-to-oauth2-credentials.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add migration to copy Microsoft Ads DeveloperToken to new OAuth2 credentials field. (#1090)
  apps/backend/src/migrations/1774619679000-copy-developer-token-to-oauth2-credentials.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

respect StartDate on first incremental run
  packages/connectors/src/Core/AbstractConnector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

respect StartDate on first incremental run (#1091)
  packages/connectors/src/Core/AbstractConnector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

revert previous changes and add needed one
  apps/backend/src/data-marts/services/connector-execution.service.ts
  packages/connectors/src/Core/AbstractConnector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(tests): enhance type safety in E2E tests
  apps/backend/test/data-destination.e2e-spec.ts
  apps/backend/test/data-mart-extended.e2e-spec.ts
  apps/backend/test/data-mart-runs.e2e-spec.ts
  apps/backend/test/data-mart.e2e-spec.ts
  apps/backend/test/data-storage.e2e-spec.ts
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/jest-e2e-resolver.js
  apps/backend/test/looker-studio-connector.e2e-spec.ts
  apps/backend/test/report.e2e-spec.ts
  apps/backend/test/scheduled-trigger.e2e-spec.ts
  packages/test-utils/src/helpers/create-looker-jwt.ts
  packages/test-utils/src/helpers/create-test-app.ts
  packages/test-utils/src/helpers/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(tests): add end-to-end tests for notification settings and members
  apps/backend/test/notification-members.e2e-spec.ts
  apps/backend/test/notification-settings.e2e-spec.ts
  docs/contributing/testing.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(tests): enhance type safety and documentation in E2E tests
  apps/web/e2e/helpers/radix.ts
  docs/contributing/testing.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(tests): update E2E workflows to build specific packages
  .github/workflows/e2e-api.yml
  .github/workflows/e2e-browser.yml
Due: prettier --write --config ./prettier.config.js

docs(tests): update README for integration tests with improved formatting and clarity
  apps/backend/test/integration/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(tests): update E2E workflows to trigger on pull requests and pushes
  .github/workflows/e2e-api.yml
  .github/workflows/e2e-browser.yml
Due: prettier --write --config ./prettier.config.js

feat(tests): add E2E TypeScript configuration and ESLint rules
  apps/web/e2e/README.md
  apps/web/e2e/specs/destination.spec.ts
  apps/web/e2e/specs/report.spec.ts
  apps/web/eslint.config.js
  apps/web/tsconfig.e2e.json
  apps/web/tsconfig.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(tests): improve readability and consistency in E2E test files
  apps/backend/test/notification-members.e2e-spec.ts
  apps/backend/test/notification-settings.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(tests): streamline E2E workflows and improve smoke test description
  .github/workflows/e2e-api.yml
  .github/workflows/e2e-browser.yml
  apps/backend/test/smoke.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(tests): extend timeout for E2E tests to accommodate longer execution times
  apps/backend/test/jest-e2e.json
  apps/backend/test/looker-studio-connector.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(tests): add smoke test for application boot and API response
  apps/backend/test/smoke.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(tests): update E2E workflow and jest configuration
  .github/workflows/e2e-browser.yml
  apps/backend/test/jest-e2e.json
Due: prettier --write --config ./prettier.config.js

fix(tests): increase timeout for E2E tests in notification settings and members
  apps/backend/test/notification-members.e2e-spec.ts
  apps/backend/test/notification-settings.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(tests): add LICENSE_KEY checks for enterprise-only destinations in E2E tests
  apps/web/e2e/specs/destination.spec.ts
  apps/web/e2e/specs/report.spec.ts
  apps/web/e2e/specs/trigger.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(tests): implement database reset function and extend timeout for E2E tests
  apps/backend/package.json
  apps/web/e2e/fixtures/api-helpers.ts
  apps/web/e2e/fixtures/base.ts
  apps/web/e2e/specs/datamart-data-setup.spec.ts
  apps/web/e2e/specs/storage.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(tests): remove workerIdleMemoryLimit from Jest configuration
  apps/backend/package.json
Due: prettier --write --config ./prettier.config.js

[AI Assistant] 1) fix first chat message 2) Add Unsaved changes pop-up while escaping Data Artifact
  apps/backend/src/data-marts/ai-insights/agent-flow/prompts/agent-flow.prompt.ts
  apps/web/src/features/data-marts/insights/components/InsightSourcesPanel.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: manual backfill run type not propagated to connector (#1093)
  apps/backend/src/data-marts/services/connector-execution.service.ts
  packages/connectors/src/Core/AbstractConnector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

[AI Assistant] (#1094)
  apps/backend/src/data-marts/ai-insights/agent-flow/prompts/agent-flow.prompt.ts
  apps/web/src/features/data-marts/insights/components/InsightSourcesPanel.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp): add Google Sheets Extension auth support
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/dto/tokenDto.ts
  packages/idp-owox-better-auth/src/controllers/google-sheets-auth.controller.test.ts
  packages/idp-owox-better-auth/src/controllers/google-sheets-auth.controller.ts
  packages/idp-owox-better-auth/src/core/constants.ts
  packages/idp-owox-better-auth/src/core/exceptions.ts
  packages/idp-owox-better-auth/src/dto/google-sheets-auth-request.dto.test.ts
  packages/idp-owox-better-auth/src/dto/google-sheets-auth-request.dto.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.test.ts
  packages/idp-owox-better-auth/src/services/auth/better-auth-session-service.ts
  packages/idp-owox-better-auth/src/services/middleware/validation-middleware.test.ts
  packages/idp-owox-better-auth/src/services/middleware/validation-middleware.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(eslint): add test-specific rule overrides for improved flexibility in TypeScript tests
  packages/eslint-config/base.js
  packages/eslint-config/node.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp): rename OwoxBetterAuthProvider to OwoxBetterAuthIdp for consistency
  apps/owox/src/idp/factory.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp): remove Google Sheets Extension from supported grant types
  packages/idp-owox-better-auth/src/client/dto/tokenDto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update logic of onboarding flow
  packages/idp-owox-better-auth/src/core/personal-email-domains.ts
  packages/idp-owox-better-auth/src/types/onboarding-models.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update logic of onboarding flow
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.test.ts
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.ts
  packages/idp-owox-better-auth/src/store/database-store.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update test
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(serve): Add support for multiple comma-separated origins from environment variable
  apps/owox/src/commands/serve.ts
  apps/owox/src/config/cors.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update logic of onboarding flow (#1096)
  packages/idp-owox-better-auth/src/core/personal-email-domains.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.test.ts
  packages/idp-owox-better-auth/src/services/onboarding/onboarding-service.ts
  packages/idp-owox-better-auth/src/store/database-store.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/types/onboarding-models.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: enhance OwnersEditor and DataMartOverviewContent components
  apps/web/src/features/data-marts/edit/components/OwnersEditor.tsx
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
  apps/web/src/shared/components/InlineEditDescription/InlineEditDescription.tsx
Due: none

feat: Add support for connector run cancellation, refactor source configuration to accept state directly, and improve storage configuration error
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-process-spawner.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-process-spawner.service.ts
  apps/backend/src/data-marts/services/connector/connector-run.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-config.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-config.service.ts
  apps/backend/src/data-marts/services/connector/connector-storage-config.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
