Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix(api-client): align scoped paths with transport
  .changeset/api-surface-maintenance.md
  docs/api/api-client.md
  packages/api-client/src/data-mart-runs.test.ts
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Self-review
  apps/backend/src/data-marts/services/publish-drafts-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/publish-drafts-trigger-handler.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.spec.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): check BigQuery internal dataset existence before CREATE SCHEMA and enrich AI helper logs
  .changeset/6815-ai-helper-bq-dataset-check-and-logs.md
  apps/backend/src/data-marts/ai-insights/facades/ai-insights.facade.impl.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-create-view.executor.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-create-view.executor.ts
  apps/backend/src/data-marts/services/ai-helper-trigger-handler.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): make AI helper failures visible — persistent dismissible errors with human-readable BigQuery messages
  .changeset/6815-ai-helper-bq-dataset-check-and-logs.md
  apps/web/src/features/data-marts/edit/model/hooks/__tests__/ai-helper-toast.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/__tests__/use-ai-helper.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/ai-helper-toast.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-ai-helper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@4dfea6c5bb3dd20e303800ce7853df6e6fcbd69f 🚀
  docs/api/api-client/index.html
  docs/api/coverage/index.html
  pagefind/fragment/en_7d4c131.pf_fragment
  pagefind/fragment/en_98c7e9d.pf_fragment
  pagefind/fragment/en_ad70bdf.pf_fragment
  pagefind/fragment/en_b07637f.pf_fragment
  pagefind/index/en_14e403b.pf_index
  pagefind/index/en_2c824ca.pf_index
  pagefind/index/en_5c45277.pf_index
  pagefind/index/en_60d5838.pf_index
  pagefind/index/en_712c707.pf_index
  pagefind/index/en_742d7b8.pf_index
  pagefind/index/en_7671c9a.pf_index
  pagefind/index/en_8542ecd.pf_index
  pagefind/index/en_85b2595.pf_index
  pagefind/index/en_87a402d.pf_index
  pagefind/index/en_9dcf4f7.pf_index
  pagefind/index/en_a8da223.pf_index
  pagefind/index/en_aee9f8d.pf_index
  pagefind/index/en_bc94236.pf_index
  pagefind/index/en_c1df67e.pf_index
  pagefind/index/en_c969e62.pf_index
  pagefind/index/en_cb94ca1.pf_index
  pagefind/index/en_ccbac44.pf_index
  pagefind/index/en_d64631c.pf_index
  pagefind/index/en_de71cd6.pf_index
  pagefind/index/en_e1a9fe8.pf_index
  pagefind/index/en_eaa6cf8.pf_index
  pagefind/index/en_ef332a6.pf_index
  pagefind/index/en_f538fde.pf_index
  pagefind/index/en_f58f9d5.pf_index
  pagefind/index/en_fdbde96.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_29bf4d192f.pf_meta
  pagefind/pagefind.en_88f771adfd.pf_meta
Due: prettier --write --config ./prettier.config.js

docs(plugins): add AI-assisted authoring workflow
  apps/docs/astro.config.mjs
  docs/api/api-client.md
  docs/getting-started/deployment-guide/environment-variables.md
  docs/plugins/authoring-guide.md
  docs/plugins/index.md
  docs/plugins/project-setup.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): stop the joinable diagram from grabbing Space away from the SQL editor
  .changeset/6614-1-input-source-form-discards-unsaved-query.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartCodeEditor.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: reword the changeset for release-notes readers
  .changeset/6614-1-input-source-form-discards-unsaved-query.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): sample SQL data marts through an inline derived table instead of the technical view
  .changeset/6815-ai-helper-bq-dataset-check-and-logs.md
  apps/backend/src/data-marts/services/data-mart-sample-data.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-sample-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(facebook-marketing): skip inaccessible ad accounts instead of failing the import
  .changeset/facebook-skip-inaccessible-ad-accounts.md
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@0301c9e244c273b7a52303240c747b8237a94ab5 🚀
  apps/backend/src/data-marts/data-destination-types/ee/email/readme/index.html
  docs/destinations/supported-destinations/google-chat/index.html
  pagefind/fragment/en_20d77d2.pf_fragment
  pagefind/fragment/en_7d56e40.pf_fragment
  pagefind/fragment/en_8465e2e.pf_fragment
  pagefind/fragment/en_cff1bd5.pf_fragment
  pagefind/index/en_2289fe4.pf_index
  pagefind/index/en_2867dfd.pf_index
  pagefind/index/en_2f93bfb.pf_index
  pagefind/index/en_35ae35b.pf_index
  pagefind/index/en_3680ae8.pf_index
  pagefind/index/en_4d7b39c.pf_index
  pagefind/index/en_51ca4b9.pf_index
  pagefind/index/en_5ed4764.pf_index
  pagefind/index/en_5fa2c84.pf_index
  pagefind/index/en_6831edd.pf_index
  pagefind/index/en_721ca21.pf_index
  pagefind/index/en_848ae3f.pf_index
  pagefind/index/en_959a6a1.pf_index
  pagefind/index/en_9874589.pf_index
  pagefind/index/en_9a4bd74.pf_index
  pagefind/index/en_a398c64.pf_index
  pagefind/index/en_a7da4ca.pf_index
  pagefind/index/en_acdafa8.pf_index
  pagefind/index/en_b324592.pf_index
  pagefind/index/en_b88f463.pf_index
  pagefind/index/en_c7f825c.pf_index
  pagefind/index/en_cef8667.pf_index
  pagefind/index/en_dbccaad.pf_index
  pagefind/index/en_e3b0d6e.pf_index
  pagefind/index/en_ecfdf66.pf_index
  pagefind/index/en_f571c9b.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_47dd7ceb89.pf_meta
  pagefind/pagefind.en_c24b539cf1.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(connectors): seed a copied config with the source's rotated refresh token
  .changeset/6783-copied-config-shares-credentials-row.md
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): drop a foreign credentials pointer even when nothing is extracted
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugin-host): address collections review feedback
  apps/backend/src/common/exceptions/global-exception.filter.spec.ts
  apps/backend/src/common/exceptions/global-exception.filter.ts
  apps/backend/src/config/sqlite-transaction-serializer.spec.ts
  apps/backend/src/dump/apply-dump.ts
  apps/backend/src/plugin-host/collections/controllers/plugin-collections.controller.ts
  apps/backend/src/plugin-host/collections/entities/plugin-collection-document.collection.entity.ts
  apps/backend/src/plugin-host/collections/migrations/1785931300000-create-plugin-collection-tables.ts
  apps/backend/src/plugin-host/collections/use-cases/delete-plugin-collection-document.service.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/utils/plugin-manifest.util.spec.ts
  apps/backend/test/plugin-collections.e2e-spec.ts
  docs/plugins/authoring-guide.md
  packages/plugin-sdk/README.md
  packages/plugin-sdk/src/collections.test.ts
  packages/plugin-sdk/src/collections.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@a30ab258f0675d19a204f7a3a29746ec56278997 🚀
  docs/getting-started/deployment-guide/environment-variables/index.html
  docs/plugins/authoring-guide/index.html
  packages/plugin-sdk/readme/index.html
  pagefind/fragment/en_1ca9ff9.pf_fragment
  pagefind/fragment/en_47d286d.pf_fragment
  pagefind/fragment/en_49785dc.pf_fragment
  pagefind/fragment/en_551a74f.pf_fragment
  pagefind/fragment/en_c734932.pf_fragment
  pagefind/fragment/en_fba0ff5.pf_fragment
  pagefind/index/en_10bbebb.pf_index
  pagefind/index/en_2289fe4.pf_index
  pagefind/index/en_28c770b.pf_index
  pagefind/index/en_2f93bfb.pf_index
  pagefind/index/en_35ae35b.pf_index
  pagefind/index/en_3680ae8.pf_index
  pagefind/index/en_4d7b39c.pf_index
  pagefind/index/en_56146bc.pf_index
  pagefind/index/en_57d215a.pf_index
  pagefind/index/en_5b76226.pf_index
  pagefind/index/en_5ed4764.pf_index
  pagefind/index/en_5fa2c84.pf_index
  pagefind/index/en_63d77e2.pf_index
  pagefind/index/en_721ca21.pf_index
  pagefind/index/en_8cd7559.pf_index
  pagefind/index/en_91ce2be.pf_index
  pagefind/index/en_9874589.pf_index
  pagefind/index/en_9a4bd74.pf_index
  pagefind/index/en_9c682fc.pf_index
  pagefind/index/en_a07043f.pf_index
  pagefind/index/en_a7da4ca.pf_index
  pagefind/index/en_c36664c.pf_index
  pagefind/index/en_ecfdf66.pf_index
  pagefind/index/en_f0d32e6.pf_index
  pagefind/index/en_f571c9b.pf_index
  pagefind/index/en_f7f99da.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2466e0a59c.pf_meta
  pagefind/pagefind.en_c24b539cf1.pf_meta
Due: prettier --write --config ./prettier.config.js

Review fixes
  apps/backend/src/data-marts/services/publish-drafts-trigger-handler.service.spec.ts
  apps/backend/src/data-marts/services/publish-drafts-trigger-handler.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.spec.ts
  apps/backend/src/data-marts/use-cases/publish-data-storage-drafts.service.ts
  apps/web/src/features/data-storage/shared/utils/buildPublishFailureMessage.test.ts
  apps/web/src/features/data-storage/shared/utils/buildPublishFailureMessage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

revert(data-marts): keep the technical-view creation logic unchanged
  apps/backend/src/data-marts/data-storage-types/bigquery/adapters/bigquery-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-create-view.executor.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-create-view.executor.ts
  apps/backend/src/data-marts/services/data-mart-sample-data.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-sample-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(changeset): scope the release note to error communication only
  .changeset/6815-ai-helper-bq-dataset-check-and-logs.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): keep keystrokes typed while a save request is in flight
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
Due: none

test(web): pin the ERROR-trigger contract — 400 {error} body must surface as the persistent toast
  apps/web/src/features/data-marts/edit/model/hooks/__tests__/use-ai-helper.test.tsx
Due: none

fix(web): surface AI helper failures that arrive as SUCCESS with an { error } body
  apps/web/src/features/data-marts/edit/model/hooks/__tests__/use-ai-helper.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-ai-helper.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): style the AI helper error toast as an error and stop details overflowing the card
  apps/web/src/features/data-marts/edit/model/hooks/ai-helper-toast.tsx
Due: none

refactor(web): render AI helper failures through the app's standard error toast
  apps/web/src/features/data-marts/edit/model/hooks/__tests__/ai-helper-toast.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/ai-helper-toast.tsx
Due: none

style(web): format ai-helper-toast test
  apps/web/src/features/data-marts/edit/model/hooks/__tests__/ai-helper-toast.test.tsx
Due: none

fix(data-marts): intermittent Google OAuth failures when connecting storage or destination
  .changeset/6825-google-oauth-popup-intermittent-auth.md
  apps/web/src/App.tsx
  apps/web/src/features/google-oauth/components/GoogleOAuthConnectButton.test.tsx
  apps/web/src/features/google-oauth/components/GoogleOAuthConnectButton.tsx
  apps/web/src/features/google-oauth/pages/GoogleOAuthCallbackPage.test.tsx
  apps/web/src/features/google-oauth/pages/GoogleOAuthCallbackPage.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): hand over shared credentials on delete and authorize every copy source
  .changeset/6783-copied-config-shares-credentials-row.md
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.ts
  apps/backend/src/data-marts/use-cases/delete-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/delete-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(changesets): align changeset file prefixes with current task numbers
  .changeset/6819-export-field-descriptions.md
  .changeset/6820-mcp-human-readable-data-last-updated.md
  .changeset/6821-joinable-dm-toolbar-filters.md
  .changeset/6822-api-client-in-filter-types.md
  .changeset/6823-joinable-dm-canvas-settings.md
  .changeset/6824-input-source-form-discards-unsaved-query.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): measure Data Last Updated Date for AWS Redshift storage
  .changeset/6794-data-last-updated-redshift.md
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/redshift/adapters/redshift-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-source-data-last-updated.resolver.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-source-data-last-updated.resolver.ts
  apps/backend/src/data-marts/data-storage-types/redshift/utils/redshift-explain-tables.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/utils/redshift-explain-tables.util.ts
  docs/getting-started/setup-guide/data-last-updated.md
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): dismiss stale AI helper toasts on retry and correct the trigger-response docblock
  apps/web/src/features/data-marts/edit/model/hooks/__tests__/ai-helper-toast.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/__tests__/use-ai-helper.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/ai-helper-toast.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-ai-helper.ts
  apps/web/src/features/data-marts/shared/types/api/response/ai-helper-trigger.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update usePublishDraftsTrigger.ts
  apps/web/src/features/data-storage/shared/hooks/usePublishDraftsTrigger.test.ts
  apps/web/src/features/data-storage/shared/hooks/usePublishDraftsTrigger.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): sample SQL data marts through an inline derived table instead of the technical view
  .changeset/6831-ai-metadata-sql-data-marts-subquery-sampling.md
  apps/backend/src/data-marts/services/data-mart-sample-data.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-sample-data.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(facebook-marketing): only skip permission failures, and surface skips as warnings
  .changeset/facebook-skip-inaccessible-ad-accounts.md
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/test/Sources/FacebookMarketing/skipInaccessibleAccounts.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): address review findings on joined Unique Count (#6792)
  .changeset/6792-joined-unique-count.md
  apps/backend/MODULAR_CONVENTIONS.md
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/dto/schemas/unique-count-sources.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/backend/src/ee/mcp/instructions/mcp-instructions.service.spec.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.spec.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/migrations/1786000000000-purge-report-data-cache-for-unique-count.ts
  apps/backend/test/output-controls.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/UniqueCountRow.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/UniqueCountRow.tsx
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): second review pass on joined Unique Count (#6792)
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.ts
  apps/backend/src/data-marts/dto/schemas/filter-config.schema.ts
  apps/backend/src/data-marts/dto/schemas/mcp-query-run-metadata.schema.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugin-host): improve sync rate limiting
  .changeset/6829-plugin-sync-rate-limit.md
  .env.example
  apps/backend/src/config/env-validation.config.ts
  apps/backend/src/plugin-host/config/plugin-host.config.spec.ts
  apps/backend/src/plugin-host/config/plugin-host.config.ts
  apps/backend/src/plugin-host/dto/domain/plugin-sync.dto.ts
  apps/backend/src/plugin-host/errors/plugin-host.errors.ts
  apps/backend/src/plugin-host/services/plugin.service.spec.ts
  apps/backend/src/plugin-host/services/plugin.service.ts
  apps/backend/src/plugin-host/use-cases/run-plugin-update-check.service.spec.ts
  apps/backend/src/plugin-host/use-cases/run-plugin-update-check.service.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
  apps/backend/test/plugin-host-schema.e2e-spec.ts
  docs/getting-started/deployment-guide/environment-variables.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): count Unique Count by a hidden primary key (#6792)
  .changeset/6792-joined-unique-count.md
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/UniqueCountRow.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/UniqueCountRow.tsx
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
