Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(idp-owox-better-auth): refactor flow competition service
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.test.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): refactor request-utils
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/owoxBetterAuthIdp.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(idp-owox-better-auth): refactor state expired error
  packages/idp-owox-better-auth/src/exception.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): refactor middeware
  packages/idp-owox-better-auth/src/owoxBetterAuthIdp.ts
  packages/idp-owox-better-auth/src/services/middleware-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): refactor auth cookie cleaning
  packages/idp-owox-better-auth/src/owoxBetterAuthIdp.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.ts
  packages/idp-owox-better-auth/src/services/middleware-service.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): create state mamanger
  packages/idp-owox-better-auth/src/owoxBetterAuthIdp.ts
  packages/idp-owox-better-auth/src/services/authentication-service.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.ts
  packages/idp-owox-better-auth/src/types/auth-request-context.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update package-lock.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): delete not used html
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/resources/templates/sign-in.html
  packages/idp-owox-better-auth/src/resources/templates/sign-up.html
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): added ejs
  package-lock.json
  packages/idp-owox-better-auth/package.json
  packages/idp-owox-better-auth/src/resources/templates/layouts/auth.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-in.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/footer.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/head.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/header.ejs
  packages/idp-owox-better-auth/src/resources/templates/sign-in.html
  packages/idp-owox-better-auth/src/resources/templates/sign-up.html
  packages/idp-owox-better-auth/src/services/template-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): change file names to kebab-case
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/authentication-service.ts
  packages/idp-owox-better-auth/src/services/middleware-service.ts
  packages/idp-owox-better-auth/src/services/user-context-service.ts
  packages/idp-owox-better-auth/src/store/database-store-factory.ts
  packages/idp-owox-better-auth/src/store/database-store.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/store/store-result.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Clarify Slack channel email guidance
  docs/destinations/supported-destinations/slack.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Clarify Slack channel email guidance (#891)
  docs/destinations/supported-destinations/slack.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@d962465d128343eec5ff3f9a8fc352a727ee4c80 🚀
  docs/destinations/supported-destinations/slack/index.html
  pagefind/fragment/en_b8494bf.pf_fragment
  pagefind/fragment/en_e9e2eb7.pf_fragment
  pagefind/index/en_13a9221.pf_index
  pagefind/index/en_3e9a547.pf_index
  pagefind/index/en_42714f4.pf_index
  pagefind/index/en_4b959ee.pf_index
  pagefind/index/en_5ca79fa.pf_index
  pagefind/index/en_647c2a5.pf_index
  pagefind/index/en_8743e74.pf_index
  pagefind/index/en_b02482a.pf_index
  pagefind/index/en_cd6a329.pf_index
  pagefind/index/en_d825c66.pf_index
  pagefind/index/en_d88276d.pf_index
  pagefind/index/en_e5bf4fb.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_6f925f6a0e.pf_meta
  pagefind/pagefind.en_9dbe3c6a67.pf_meta
Due: prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): refresh state
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): updated user info payload builder
  packages/idp-owox-better-auth/src/mappers/user-info-payload-builder.test.ts
  packages/idp-owox-better-auth/src/mappers/user-info-payload-builder.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): start idp-flow after change project
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(idp-owox-better-auth): fixed incorrect redirect
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): redesign pages
  packages/idp-owox-better-auth/src/resources/templates/layouts/auth.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-in.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/brand-panel.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/footer.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/header.ejs
  packages/idp-owox-better-auth/src/services/template-service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(LinkedInAds): consolidate runSchedule field description and type to improve clarity and structure
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add notification for legacy storage setup in Data Marts page
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
  apps/web/src/pages/data-marts/list/PageNotificationLegacyStorageSetup.tsx
  apps/web/src/pages/data-marts/list/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): move source types to constant
  packages/idp-owox-better-auth/src/constants.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.test.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.ts
  packages/idp-owox-better-auth/src/services/middleware-service.ts
  packages/idp-owox-better-auth/src/utils/platform-redirect-builder.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(docs): Comprehensive overhaul of Snowflake storage configuration guide (#884)
  docs/res/screens/snowflake_accountlocator.png
  docs/res/screens/snowflake_copytitle.png
  docs/res/screens/snowflake_enterpat.png
  docs/res/screens/snowflake_filledaccount.png
  docs/res/screens/snowflake_generatetoken.png
  docs/res/screens/snowflake_newdestination.png
  docs/res/screens/snowflake_privatekey.png
  docs/res/screens/snowflake_pwd.png
  docs/res/screens/snowflake_setpublickey.png
  docs/res/screens/snowflake_terminal.png
  docs/res/screens/snowflake_viewaccount.png
  docs/storages/supported-storages/snowflake.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@44594041ada00f44a0b481a928c078fec8728b9d 🚀
  _astro/snowflake-accountlocator.DJFYAsED_ZhxRVj.webp
  _astro/snowflake-copytitle.CYz5t-J8_Z2c0cqv.webp
  _astro/snowflake-enterpat.Zw_fBaNA_2snsYi.webp
  _astro/snowflake-filledaccount.-E9mV7Ol_2nD8QD.webp
  _astro/snowflake-generatetoken.CMOEAoob_1zE5G2.webp
  _astro/snowflake-newdestination.kLNCTpq1_KkJYH.webp
  _astro/snowflake-privatekey.DScdHriB_ZSEdBT.webp
  _astro/snowflake-pwd.CwAmXRGD_1jRgaR.webp
  _astro/snowflake-setpublickey.Ba7elnXE_Zfx5nE.webp
  _astro/snowflake-terminal.CyK40cL5_kXr5M.webp
  _astro/snowflake-viewaccount.G4INJOeY_MfUA.webp
  docs/storages/supported-storages/snowflake/index.html
  pagefind/fragment/en_cd7a12a.pf_fragment
  pagefind/fragment/en_d980534.pf_fragment
  pagefind/index/en_13a9221.pf_index
  pagefind/index/en_13f68b6.pf_index
  pagefind/index/en_3e9a547.pf_index
  pagefind/index/en_4b959ee.pf_index
  pagefind/index/en_8743e74.pf_index
  pagefind/index/en_9316d5e.pf_index
  pagefind/index/en_9aa292d.pf_index
  pagefind/index/en_9cdcd41.pf_index
  pagefind/index/en_b02482a.pf_index
  pagefind/index/en_b9f5a41.pf_index
  pagefind/index/en_d3aac87.pf_index
  pagefind/index/en_d88276d.pf_index
  pagefind/index/en_de12afa.pf_index
  pagefind/index/en_f07c296.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_6f925f6a0e.pf_meta
  pagefind/pagefind.en_a2dad9506e.pf_meta
Due: prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): persist state manager in request
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/authentication-service.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.ts
  packages/idp-owox-better-auth/src/types/auth-request-context.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): move c2c communication to OWOX client
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/dto/authFlowDto.ts
  packages/idp-owox-better-auth/src/client/dto/index.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth-flow-service.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: implement prompt sanitization to prevent jailbreak attempts
  apps/backend/src/common/ai-insights/services/error.ts
  apps/backend/src/common/ai-insights/services/openai/openai-chat-provider.ts
  apps/backend/src/common/ai-insights/services/prompt-sanitizer.service.ts
  apps/backend/src/common/ai-insights/utils/build-json-schema-by-zod-schema.ts
  apps/backend/src/data-marts/ai-insights/ai-insight-orchestrator.service.ts
  apps/backend/src/data-marts/ai-insights/ai-insights-providers.ts
  apps/backend/src/data-marts/ai-insights/ai-insights-types.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/facades/ai-insights.facade.impl.ts
  apps/backend/src/data-marts/ai-insights/prompts/json-format.prompt.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(LinkedInAds): consolidate runSchedule field description and type to improve clarity and structure (#892)
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignFields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add batch publish action for draft data marts
  .changeset/add-batch-publish-data-marts.md
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/model/hooks/useDataMartList.ts
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: implement prompt sanitization to prevent jailbreak attempts (#895)
  apps/backend/src/common/ai-insights/services/error.ts
  apps/backend/src/common/ai-insights/services/openai/openai-chat-provider.ts
  apps/backend/src/common/ai-insights/services/prompt-sanitizer.service.ts
  apps/backend/src/common/ai-insights/utils/build-json-schema-by-zod-schema.ts
  apps/backend/src/data-marts/ai-insights/ai-insight-orchestrator.service.ts
  apps/backend/src/data-marts/ai-insights/ai-insights-providers.ts
  apps/backend/src/data-marts/ai-insights/ai-insights-types.ts
  apps/backend/src/data-marts/ai-insights/data-mart-insights.types.ts
  apps/backend/src/data-marts/ai-insights/facades/ai-insights.facade.impl.ts
  apps/backend/src/data-marts/ai-insights/prompts/json-format.prompt.ts
  apps/backend/src/data-marts/ai-insights/template/handlers/prompt-tag.handler.ts
  apps/backend/src/data-marts/services/insight-execution.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

audit fix
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(web): add batch publish action for draft data marts (#893)
  .changeset/add-batch-publish-data-marts.md
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/model/hooks/useDataMartList.ts
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(idp-owox-better-auth): env variables
  apps/owox/src/idp/factory.ts
  apps/web/src/components/AppSidebar/ProjectMenu/types.ts
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(idp-owox-better-auth): added information about customizing the auth UI
  packages/idp-owox-better-auth/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp-owox-better-auth): added IDP_OWOX_SIGN_OUT_REDIRECT_URL
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

lint(idp-owox-better-auth): format fix
  package-lock.json
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/package.json
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/dto/index.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/config/index.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/logger.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth-flow-service.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.test.ts
  packages/idp-owox-better-auth/src/services/flow-completion-service.ts
  packages/idp-owox-better-auth/src/services/middleware-service.ts
  packages/idp-owox-better-auth/src/services/request-handler-service.ts
  packages/idp-owox-better-auth/src/services/template-service.ts
  packages/idp-owox-better-auth/src/services/token-service.test.ts
  packages/idp-owox-better-auth/src/store/database-store-factory.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/utils/cookie-policy.ts
  packages/idp-owox-better-auth/src/utils/platform-redirect-builder.test.ts
  packages/idp-owox-better-auth/src/utils/platform-redirect-builder.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
  packages/idp-owox-better-auth/src/utils/string-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

lint(idp-owox-better-auth): fix formatting in idp-factory
  apps/owox/src/idp/factory.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(idp-owox-better-auth): update brand icons
  packages/idp-owox-better-auth/src/resources/templates/partials/brand-panel.ejs
Due: none

fix(MicrosoftAds): optimize polling logic to delay only when necessary
  packages/connectors/src/Sources/MicrosoftAds/Helper.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(idp-owox-better-auth): rename services, add JSDoc, validate emailVerification
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/mappers/user-info-payload-builder.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/better-auth-session-service.ts
  packages/idp-owox-better-auth/src/services/middleware-service.ts
  packages/idp-owox-better-auth/src/services/pkce-flow-orchestrator.test.ts
  packages/idp-owox-better-auth/src/services/pkce-flow-orchestrator.ts
  packages/idp-owox-better-auth/src/services/platform-auth-flow-client.ts
  packages/idp-owox-better-auth/src/services/request-handler-service.ts
  packages/idp-owox-better-auth/src/services/user-context-service.test.ts
  packages/idp-owox-better-auth/src/services/user-context-service.ts
  packages/idp-owox-better-auth/src/store/mysql-database-store.ts
  packages/idp-owox-better-auth/src/store/sqlite-database-store.ts
  packages/idp-owox-better-auth/src/types/database-models.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
