Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

refactor(web): simplify useTableStorage
  apps/web/src/hooks/useTableStorage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add changeset file.
  .changeset/neat-pots-knock.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add changeset.
  .changeset/neat-pots-knock.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add build scripts for internal dependencies in workflows and package.json
  .github/workflows/lint-all.yml
  .github/workflows/lint-backend.yml
  .github/workflows/lint-connector-runner.yml
  .github/workflows/lint-connectors.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-idp-protocol.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-ui.yml
  .github/workflows/lint-web.yml
  .github/workflows/publish.yml
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connector-runner.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-owox.yml
  .github/workflows/test-web.yml
  apps/backend/package.json
  apps/owox/package.json
  apps/owox/tsconfig.json
  package.json
Due: prettier --write --config ./prettier.config.js

feat: Integrate IDP Protocol and enhance server configuration (#408)
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  apps/owox/src/idp/factory.ts
  apps/owox/src/idp/index.ts
  package-lock.json
  packages/idp-protocol/package.json
  packages/idp-protocol/src/middleware/protocol-middleware.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: removing unnecessary String conversion for types (#426)
  apps/web/src/features/data-destination/shared/model/mappers/destination-mapper.factory.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/utils/schema-factory.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/list/model/mappers/data-mart-list.mapper.ts
  apps/web/src/features/data-storage/shared/model/mappers/storage-mapper.factory.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update internal package versions to use wildcard (#419)
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  apps/backend/package.json
  apps/owox/package.json
  package-lock.json
  package.json
  packages/connector-runner/package.json
  tools/update-package-versions-for-publishing.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): update ConnectorRunForm to set incremental runs by default and improve tooltips (#418)
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.tsx
Due: none

fix: remove unused fields from adAccountInsightsFields in Facebook Marketing API reference
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): fixed default column visibility bug
  apps/web/src/hooks/useTableStorage.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(FacebookMarketing): update API base URL and refactor insights data fetching logic
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add changeset
  .changeset/giant-rabbits-grin.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fix cnageset.
  .changeset/neat-pots-knock.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: update prettier format scripts to include ignore path
  apps/backend/package.json
  apps/docs/package.json
  apps/owox/package.json
  apps/web/package.json
  packages/connector-runner/package.json
  packages/connectors/package.json
  packages/idp-protocol/package.json
  packages/ui/package.json
Due: prettier --write --config ./prettier.config.js

fix: remove ignore path arg from connectors prettier config
  packages/connectors/package.json
Due: prettier --write --config ./prettier.config.js

chore: ensure changelog commit only occurs with changes
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.js

fix: correct regex formatting
  .changeset/connector-target-setup-editable-defaults.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Create agency.md
  docs/editions/agency.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update agency.md
  docs/editions/agency.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: update description
  .changeset/connector-target-setup-editable-defaults.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update looker-studio.md
  docs/destinations/supported-destinations/looker-studio.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add files via upload
  docs/res/screens/connector-in-looker-studio-2nd-step.png
  docs/res/screens/create-report-to-looker-studio-in-data-mart.png
Due: none

fix: update package.json for backend
  apps/backend/package.json
Due: prettier --write --config ./prettier.config.js

feat(web): conditionally render 'Add Report' button for Google Sheets destinations in DestinationCard
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
Due: none

feat(web): add LookerListItemCard component and related exports
  apps/web/src/features/data-destination/shared/components/LookerListItemCard/LookerListItemCard.tsx
  apps/web/src/features/data-destination/shared/components/LookerListItemCard/index.ts
  apps/web/src/features/data-destination/shared/components/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance DestinationCard to include dataMartStatus and tooltip for 'Add Report' button
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
Due: none

feat(backend): constant report ids for looker destinations
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-config.service.ts
  apps/backend/src/data-marts/entities/report.entity.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): update LookerStudioReportEditForm and related components to simplify report editing and enhance user experience
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): remove LookerListItemCard component and add LookerStudioReportCard component with sub-components
  apps/web/src/features/data-destination/shared/components/LookerListItemCard/index.ts
  apps/web/src/features/data-destination/shared/components/index.ts
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): introduce AddReportButton and refactor DestinationCard to utilize new report rendering components
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/AddReportButton.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/ReportEditSheetRenderer.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/ReportTableRenderer.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/index.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/index.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/useDestinationValidation.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReportModals.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): update storage key prefix in GoogleSheetsReportsTable to include destination ID for improved report handling
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
Due: none

refactor(web): refactor existing report components for improved data mart destination handling
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/AddReportButton.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportEditSheetRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportTableRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/index.ts
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsActionsCell/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/SortableHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/index.ts
  apps/web/src/features/data-marts/reports/list/components/LookerStudioActionsCell/LookerStudioActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioActionsCell/index.ts
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportsTable/LookerStudioReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportsTable/index.ts
  apps/web/src/features/data-marts/reports/list/components/SortableHeader/index.ts
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/list/components/TablePagination/TablePagination.tsx
  apps/web/src/features/data-marts/reports/list/components/TablePagination/index.ts
  apps/web/src/features/data-marts/reports/list/components/TableToolbar/TableToolbar.tsx
  apps/web/src/features/data-marts/reports/list/components/TableToolbar/index.ts
  apps/web/src/features/data-marts/reports/list/components/ToggleColumnsHeader/index.ts
  apps/web/src/features/data-marts/reports/list/components/columns/index.ts
  apps/web/src/features/data-marts/reports/list/components/index.ts
  apps/web/src/features/data-marts/reports/list/model/hooks/index.ts
  apps/web/src/features/data-marts/reports/list/model/hooks/useDestinationValidation.ts
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportModals.ts
  apps/web/src/features/data-marts/reports/list/model/hooks/useTableFilter.ts
  apps/web/src/features/data-marts/reports/shared/components/index.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/index.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): optimize LookerStudioReportCard component by using useMemo and useCallback for performance improvements
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
Due: none

feat: add migration to cleanup Looker Studio reports
  apps/backend/src/migrations/1755508405000-delete-looker-studio-reports.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): enhance Looker Studio Connector support with one-click Data Mart availability toggle and updated documentation links
  .changeset/looker-studio-connector-support.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): update data destination types across report components to use DataDestination instead of DataDestinationResponseDto
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportsTable/LookerStudioReportsTable.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
