Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(backend): improve some methods, validations and error handling; add js-doc
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/models/base-report-run.model.ts
  apps/backend/src/data-marts/models/looker-studio-report-run.model.ts
  apps/backend/src/data-marts/models/report-run.model.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/looker-studio-report-run.service.ts
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(GoogleAds): Add Login Customer ID support for OAuth2 and Service Account authentication
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(GoogleAds): streamline access token retrieval for service account authentication
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(GoogleAds): Add Login Customer ID configuration for Google Ads manager account access (#676)
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: create migrations for changing creative field to creative_id
  .changeset/facebook-creative-migration.md
  apps/backend/src/migrations/1762783402000-replace-facebook-creative-field-with-creative-id.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(Web): Connector setup unsaved changes dialog (#720)
  .changeset/connector-setup-unsaved-changes-dialog.md
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditSheet/ConnectorEditSheet.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): refactor nullable fields and update related dto-s and mappers
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run.schema.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/migrations/1762812222908-refactor-nullable-fields-in-data-mart-run.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-run.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-run.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add support for Email, Slack, Microsoft Teams, and Google Chat destinations with corresponding descriptions and tooltips
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/DestinationTypeDescription.tsx
  apps/web/src/features/data-destination/shared/enums/data-destination-status.enum.ts
  apps/web/src/features/data-destination/shared/enums/data-destination-type.enum.ts
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(web): refactor trigger-type fallback
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: remove extra caching in X Ads connector that was done for apps script
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update RemoveFacebookCreativeField1762783402000 migration
  apps/backend/src/migrations/1762783402000-remove-facebook-creative-field.ts
  apps/backend/src/migrations/1762783402000-replace-facebook-creative-field-with-creative-id.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: update RemoveFacebookCreativeField1762783402000 migration comment
  apps/backend/src/migrations/1762783402000-remove-facebook-creative-field.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): optimize log and error handling in report runs
  apps/backend/src/data-marts/services/data-mart-run.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add insight entity
  apps/backend/src/data-marts/controllers/insight.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/create-insight.command.ts
  apps/backend/src/data-marts/dto/domain/delete-insight.command.ts
  apps/backend/src/data-marts/dto/domain/get-insight.command.ts
  apps/backend/src/data-marts/dto/domain/insight.dto.ts
  apps/backend/src/data-marts/dto/domain/list-insights.command.ts
  apps/backend/src/data-marts/dto/domain/update-insight.command.ts
  apps/backend/src/data-marts/dto/presentation/create-insight-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/insight-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-insight-request-api.dto.ts
  apps/backend/src/data-marts/entities/insight.entity.ts
  apps/backend/src/data-marts/mappers/insight.mapper.ts
  apps/backend/src/data-marts/services/insight.service.ts
  apps/backend/src/data-marts/use-cases/create-insight.service.ts
  apps/backend/src/data-marts/use-cases/delete-insight.service.ts
  apps/backend/src/data-marts/use-cases/get-insight.service.ts
  apps/backend/src/data-marts/use-cases/list-insights.service.ts
  apps/backend/src/data-marts/use-cases/update-insight.service.ts
  apps/backend/src/migrations/1762856375403-create-insight-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add endpoint to update insight title
  apps/backend/src/data-marts/controllers/insight.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/update-insight-title.command.ts
  apps/backend/src/data-marts/dto/presentation/insight-list-item-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-insight-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-insight-title-api.dto.ts
  apps/backend/src/data-marts/mappers/insight.mapper.ts
  apps/backend/src/data-marts/use-cases/update-insight-title.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(MicrosoftAds): extend polling timeout from 15 to 30 minutes
  packages/connectors/src/Sources/MicrosoftAds/Helper.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(MicrosoftAds): extend polling timeout from 15 to 30 minutes (#727)
  packages/connectors/src/Sources/MicrosoftAds/Helper.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add max length of title
  apps/backend/src/data-marts/dto/presentation/create-insight-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-insight-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-insight-title-api.dto.ts
  apps/backend/src/data-marts/entities/insight.entity.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): add insight entity (#726)
  apps/backend/src/data-marts/controllers/insight.controller.ts
  apps/backend/src/data-marts/controllers/spec/insight.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/create-insight.command.ts
  apps/backend/src/data-marts/dto/domain/delete-insight.command.ts
  apps/backend/src/data-marts/dto/domain/get-insight.command.ts
  apps/backend/src/data-marts/dto/domain/insight.dto.ts
  apps/backend/src/data-marts/dto/domain/list-insights.command.ts
  apps/backend/src/data-marts/dto/domain/update-insight-title.command.ts
  apps/backend/src/data-marts/dto/domain/update-insight.command.ts
  apps/backend/src/data-marts/dto/presentation/create-insight-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/insight-list-item-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/insight-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-insight-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-insight-title-api.dto.ts
  apps/backend/src/data-marts/entities/insight.entity.ts
  apps/backend/src/data-marts/mappers/insight.mapper.ts
  apps/backend/src/data-marts/services/insight.service.ts
  apps/backend/src/data-marts/use-cases/create-insight.service.ts
  apps/backend/src/data-marts/use-cases/delete-insight.service.ts
  apps/backend/src/data-marts/use-cases/get-insight.service.ts
  apps/backend/src/data-marts/use-cases/list-insights.service.ts
  apps/backend/src/data-marts/use-cases/update-insight-title.service.ts
  apps/backend/src/data-marts/use-cases/update-insight.service.ts
  apps/backend/src/migrations/1762856375403-create-insight-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(ui): add Empty components for display states
  packages/ui/package.json
  packages/ui/src/components/empty.tsx
Due: prettier --write --config ./prettier.config.js

refactor(web): centralize SortableHeader and ToggleColumnsHeader in shared components
  apps/web/src/env.d.ts
  apps/web/src/features/data-destination/list/components/DataDestinationTable/SortableHeader.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/columns.tsx
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/InsightsTable.tsx
  apps/web/src/features/data-marts/insights/components/InsightsTable/columns.tsx
  apps/web/src/features/data-marts/insights/hooks/useInsightData.ts
  apps/web/src/features/data-marts/insights/hooks/useInsightForm.ts
  apps/web/src/features/data-marts/insights/model/mappers/insight.mapper.ts
  apps/web/src/features/data-marts/insights/model/services/insights.mock.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
  apps/web/src/features/data-marts/insights/model/types/insight.entity.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/SortableHeader.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/index.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/SortableHeader.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/index.ts
  apps/web/src/pages/data-marts/insights/details/InsightDetailsView.tsx
  apps/web/src/shared/components/Table/SortableHeader.test.tsx
  apps/web/src/shared/components/Table/SortableHeader.tsx
  apps/web/src/shared/components/Table/ToggleColumnsHeader.tsx
  apps/web/src/shared/components/Table/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(ui): add ResizablePanel components for flexible layout management
  packages/ui/package.json
  packages/ui/src/components/resizable.tsx
Due: prettier --write --config ./prettier.config.js

feat(web): add InsightsListSection component and integrate with routing
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/pages/data-marts/edit/DataMartInsightsContent.tsx
  apps/web/src/pages/data-marts/insights/list/InsightsListView.tsx
Due: none

feat(web): enhance InsightEditor with slash command support
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
Due: none

feat(web): add slash command completion provider for Monaco editor
  apps/web/src/features/data-marts/insights/utils/monaco-commands.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): prevent duplicate registration of slash command providers in Monaco editor
  apps/web/src/features/data-marts/insights/utils/monaco-commands.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): add InsightEditor component with Markdown support and theme integration
  apps/web/src/features/data-marts/insights/components/InsightEditor.tsx
Due: none

refactor(web): optimize InsightDetailsView and useInsightData hook
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/hooks/useInsightData.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): relocate Insights components and hooks for better feature cohesion
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListView.tsx
  apps/web/src/routes/data-marts/routes.tsx
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(web): add Insights tab to Data Mart details page
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/pages/data-marts/edit/DataMartInsightsContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
  apps/web/src/pages/data-marts/edit/index.ts
  apps/web/src/routes/data-marts/routes.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): implement Insights state management and API integration
  apps/web/src/features/data-marts/insights/model/context/insights.context.ts
  apps/web/src/features/data-marts/insights/model/context/insights.provider.tsx
  apps/web/src/features/data-marts/insights/model/context/useInsightsContext.ts
  apps/web/src/features/data-marts/insights/model/hooks/index.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsightsList.ts
  apps/web/src/features/data-marts/insights/model/index.ts
  apps/web/src/features/data-marts/insights/model/mappers/insight.mapper.ts
  apps/web/src/features/data-marts/insights/model/reducer/actions.ts
  apps/web/src/features/data-marts/insights/model/reducer/insightsReducer.ts
  apps/web/src/features/data-marts/insights/model/services/index.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
  apps/web/src/features/data-marts/insights/model/types/api/insights.dto.ts
  apps/web/src/features/data-marts/insights/model/types/index.ts
  apps/web/src/features/data-marts/insights/model/types/insight.entity.ts
  apps/web/src/features/data-marts/insights/model/types/state.ts
  apps/web/src/pages/data-marts/insights/list/InsightsListView.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): implement nested routing for Insights in Data Mart details page
  apps/web/src/pages/data-marts/edit/DataMartInsightsContent.tsx
  apps/web/src/pages/data-marts/insights/details/InsightDetailsView.tsx
  apps/web/src/pages/data-marts/insights/list/InsightsListView.tsx
  apps/web/src/routes/data-marts/routes.tsx
Due: none

feat(web): add support for fetching individual insights and extend mock templates
  apps/web/src/features/data-marts/insights/hooks/useInsightData.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/insights/model/reducer/actions.ts
  apps/web/src/features/data-marts/insights/model/reducer/insightsReducer.ts
  apps/web/src/features/data-marts/insights/model/services/insights.mock.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
  apps/web/src/features/data-marts/insights/model/types/state.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): introduce ResizableColumns component for adjustable layouts
  apps/web/src/shared/components/ResizableColumns/ResizableColumns.tsx
Due: none

feat(web): wrap DataMartInsightsContent with InsightsProvider for context management
  apps/web/src/pages/data-marts/edit/DataMartInsightsContent.tsx
Due: none

style(web): adjust title font size in InsightDetailsView for better consistency
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

refactor(web): restructure Breadcrumb and reposition "Save & Preview" button in InsightDetailsView
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

feat(web): update InsightDetailsView with "Save & Preview" button and adjusted editor height
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
Due: none

feat(connectors): mark shared config fields as hidden or advanced options for cleaner UI
  .changeset/whole-singers-tease.md
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/OpenHolidays/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(GoogleAds): update Customer ID format description and ensure date field inclusion in queries
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
