Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update core-concepts.md
  docs/getting-started/core-concepts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

updated core concepts svg
  docs/res/UML (2) 1.svg
  docs/res/core-concepts.svg
Due: none

Add visual screens for Data Marts, Storage, and Destinations in core concepts documentation
  docs/getting-started/core-concepts.md
  docs/res/core-concepts.svg
  docs/res/screens/data-marts-table.png
  docs/res/screens/destinations-table.png
  docs/res/screens/storages-table.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): adapt running connectors on Windows in development
  packages/connector-runner/src/infrastructure/dependencies/npm-dependency-manager.js
  packages/connector-runner/src/utils/package-utils.js
  packages/connector-runner/test/infrastructure/dependencies/npm-dependency-manager.test.js
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(facebook): update CREDENTIALS.md for API permissions and add troubleshooting steps; add new images for clarity fix(tiktok): improve error messages for access token validation in Code.gs
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_datahandling.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_description.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_entity.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_next.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_personal.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_personaldata.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_standard_access.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_ver.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_video.png
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/Code.gs
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(con-runner): replace child_process.spawn with cross-spawn library
  package-lock.json
  packages/connector-runner/package.json
  packages/connector-runner/src/infrastructure/dependencies/npm-dependency-manager.js
  packages/connector-runner/src/infrastructure/environments/nodejs-environment.js
  packages/connector-runner/src/utils/package-utils.js
  packages/connector-runner/test/infrastructure/dependencies/npm-dependency-manager.test.js
  packages/connector-runner/test/infrastructure/environments/nodejs-environment.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: edition section
  apps/docs/astro.config.mjs
  appsscript-edition.md
  docs/editions/all-editions.md
  docs/editions/appsscript-edition.md
  docs/getting-started/editions.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update appsscript-edition.md
  docs/editions/appsscript-edition.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(docs): updates links
  docs/editions/all-editions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web/backend): updated the logic for displaying credentials in Data Storage
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/AwsAthenaFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageInfo/CredentialsSection.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageInfo/DataStorageInfo.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageInfo/index.ts
  apps/web/src/shared/schemas/google-credentials.schema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web/backend): updated the logic for displaying credentials in Data Storage
  apps/backend/src/data-marts/dto/presentation/data-storage-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/AwsAthenaFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

update readme.md
  packages/idp-better-auth/README.md
  packages/idp-protocol/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add Better Auth routes and API handlers for enhanced authentication features
  packages/idp-better-auth/README.md
  packages/idp-better-auth/database.sqlite
  packages/idp-better-auth/package.json
  packages/idp-better-auth/src/examples/express-example.ts
  packages/idp-better-auth/src/examples/index.ts
  packages/idp-better-auth/src/examples/sqlite-config.ts
  packages/idp-better-auth/src/index.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/routes/auth-api.ts
  packages/idp-better-auth/src/routes/auth-pages.ts
  packages/idp-better-auth/src/routes/express-router.ts
  packages/idp-better-auth/src/routes/index.ts
  packages/idp-better-auth/src/routes/management-api.ts
  packages/idp-protocol/src/index.ts
  packages/idp-protocol/src/routes/route-handlers.ts
  packages/idp-protocol/src/types/dto.ts
  packages/idp-protocol/src/utils/id-generator.ts
  packages/idp-protocol/src/utils/password.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Refactor backend application structure and enhance entry points
  apps/backend/package.json
  apps/backend/src/bootstrap.ts
  apps/backend/src/index.ts
  apps/backend/src/main.ts
  apps/owox/src/commands/serve.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add initial implementation of authentication module and related components
  apps/backend/src/app.module.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/bootstrap.ts
  apps/backend/src/config/idp.config.ts
  apps/backend/tsconfig.json
  draft_for_manual_backfill.patch
  packages/idp-better-auth/package.json
  packages/idp-better-auth/src/adapters/database.ts
  packages/idp-better-auth/src/examples/express-example.ts
  packages/idp-better-auth/src/examples/mysql-config.ts
  packages/idp-better-auth/src/examples/sqlite-config.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/routes/auth-api.ts
  packages/idp-better-auth/src/routes/auth-pages.ts
  packages/idp-better-auth/src/routes/express-router.ts
  packages/idp-better-auth/src/routes/management-api.ts
  packages/idp-protocol/package.json
  packages/idp-protocol/src/base-provider.ts
  packages/idp-protocol/src/index.ts
  packages/idp-protocol/src/middleware/auth.middleware.ts
  packages/idp-protocol/src/routes/endpoint-validator.ts
  packages/idp-protocol/src/routes/index.ts
  packages/idp-protocol/src/types/capabilities.ts
  packages/idp-protocol/src/types/index.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update dependencies, refactor bootstrap logic, and enhance IDP configuration
  apps/backend/package.json
  apps/backend/src/bootstrap.ts
  apps/backend/src/config/idp.config.ts
  apps/backend/src/main.ts
  packages/idp-better-auth/package.json
  packages/idp-better-auth/src/adapters/database.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): refactor text and code target setup step
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
Due: none

refactor(web): fix grammarly
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
Due: none

fix(docs): reorganize connectors section
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(docs): add core-concepts topic
  apps/docs/astro.config.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

edit: manage storages
  docs/getting-started/Storages/manage-storages.md
  docs/getting-started/Storages/supported-storages/Google-BigQuery.md
  docs/getting-started/storages/manage-storages.md
  docs/getting-started/storages/supported-storages/AWS-Athena.md
  docs/getting-started/storages/supported-storages/Google-BigQuery.md
  docs/res/destinations.png
  docs/res/storages.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: optimize manual backfill logic, fix bugs, add labels and descriptions to fields
  docs/getting-started/quick-start.md
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractRunConfig.js
  packages/connectors/src/Sources/BingAds/Code.gs
  packages/connectors/src/Sources/BingAds/Connector.js
  packages/connectors/src/Sources/BingAds/Source.js
  packages/connectors/src/Sources/CriteoAds/Code.gs
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/Code.gs
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/LinkedIn/Code.gs
  packages/connectors/src/Sources/LinkedIn/Connector.js
  packages/connectors/src/Sources/LinkedIn/Source.js
  packages/connectors/src/Sources/RedditAds/Code.gs
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Code.gs
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Code.gs
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Templates/PublicEndPoint/Code.gs
  packages/connectors/src/Templates/PublicEndPoint/Source.js
  packages/connectors/src/Views/credentials-input-dialog.html
  packages/connectors/src/Views/manual-backfill-dialog.html
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update README.md
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

edit: Storage Management
  docs/getting-started/storages/manage-storages.md
  docs/getting-started/storages/supported-storages/AWS-Athena.md
  docs/getting-started/storages/supported-storages/Google-BigQuery.md
  docs/res/destinations.png
  docs/res/storages.png
  docs/storages/manage-storages.md
  docs/storages/supported-storages/AWS-Athena.md
  docs/storages/supported-storages/Google-BigQuery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

edit: Destination Management
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/google-spreadsheets.md
  docs/destinations/supported-destinations/looker-studio.md
  docs/storages/manage-storages.md
  docs/storages/supported-storages/aws-athena.md
  docs/storages/supported-storages/google-bigquery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web/backend): updated the logic for displaying credentials in Data Destination
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials.utils.ts
  apps/backend/src/data-marts/dto/domain/update-data-destination.command.ts
  apps/backend/src/data-marts/dto/presentation/data-destination-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-storage-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-destination-api.dto.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-destination/shared/model/mappers/destination-mapper.interface.ts
  apps/web/src/features/data-destination/shared/model/mappers/google-sheets.mapper.ts
  apps/web/src/features/data-destination/shared/services/types/update-data-destination.request.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web/backend): deleted credentials popup view in Data Destination
  apps/web/src/features/data-destination/shared/components/DataDestinationDetails/DataDestinationDetails.tsx
  apps/web/src/features/data-destination/shared/components/DataDestinationInfo/CredentialsSection.tsx
  apps/web/src/features/data-destination/shared/components/DataDestinationInfo/DataDestinationInfo.tsx
  apps/web/src/features/data-destination/shared/components/DataDestinationInfo/index.ts
  apps/web/src/features/data-destination/shared/components/index.ts
  apps/web/src/features/data-storage/shared/components/DataStorageInfo/CredentialsSection.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web/backend): fix lint warnings
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/AwsAthenaFields.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageDetails/DataStorageDetails.tsx
Due: none

edit: Looker Studio config fix
  docs/destinations/supported-destinations/looker-studio.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
