Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix(web): reload a stale tab instead of showing "Something went wrong"
  .changeset/6980-reload-on-stale-chunk.md
  apps/web/src/app/reload-on-stale-chunk.test.ts
  apps/web/src/app/reload-on-stale-chunk.ts
  apps/web/src/main.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): keep Manual Run visible but disabled on a draft Data Mart
  .changeset/6992-manual-run-in-input-source-header.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/ConnectorManualRunButton.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/ConnectorManualRunButton.tsx
  docs/getting-started/setup-guide/connector-data-mart.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): harden Data Mart preview after review
  apps/backend/src/data-marts/controllers/data-mart-preview.controller.spec.ts
  apps/backend/src/data-marts/controllers/data-mart-preview.controller.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartPreview/DataMartPreviewPanel.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/DataMartPreviewPanel.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/PreviewResultsTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/preview-filter-types.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): keep the error screen hidden while a stale-chunk reload is in flight
  apps/web/src/app/reload-on-stale-chunk.test.ts
  apps/web/src/app/reload-on-stale-chunk.ts
  apps/web/src/components/errors/LayoutErrorBoundary.test.tsx
  apps/web/src/components/errors/LayoutErrorBoundary.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(web): wait for the section error effect before collapsing in FormSection test
  apps/web/src/shared/components/FormSection/FormSection.test.tsx
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@0d691f5d8567a8fde19d378429dd06e76ad1443f 🚀
  pagefind/index/en_1856f31.pf_index
  pagefind/index/en_186a594.pf_index
  pagefind/index/en_1f83dcd.pf_index
  pagefind/index/en_2384bc9.pf_index
  pagefind/index/en_2d9796b.pf_index
  pagefind/index/en_4c89e42.pf_index
  pagefind/index/en_4e5fc37.pf_index
  pagefind/index/en_509ba39.pf_index
  pagefind/index/en_5d32d85.pf_index
  pagefind/index/en_65cb19e.pf_index
  pagefind/index/en_6e2a2d8.pf_index
  pagefind/index/en_724a9f7.pf_index
  pagefind/index/en_76cae89.pf_index
  pagefind/index/en_7a7a674.pf_index
  pagefind/index/en_7ff4866.pf_index
  pagefind/index/en_8c18948.pf_index
  pagefind/index/en_9554fc4.pf_index
  pagefind/index/en_9742828.pf_index
  pagefind/index/en_9998615.pf_index
  pagefind/index/en_aeb74de.pf_index
  pagefind/index/en_b21204b.pf_index
  pagefind/index/en_bd9c782.pf_index
  pagefind/index/en_c7f715f.pf_index
  pagefind/index/en_c7fb218.pf_index
  pagefind/index/en_d63cec7.pf_index
  pagefind/index/en_d8f7b23.pf_index
  pagefind/index/en_da559f7.pf_index
  pagefind/index/en_df12b2b.pf_index
  pagefind/index/en_dfe6fa9.pf_index
  pagefind/index/en_e19e57f.pf_index
  pagefind/index/en_e2fcd93.pf_index
  pagefind/index/en_e915cd2.pf_index
  pagefind/index/en_ea14bbe.pf_index
  pagefind/index/en_f17aa17.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3073bbe8f2.pf_meta
  pagefind/pagefind.en_7dfbd42434.pf_meta
Due: prettier --write --config ./prettier.config.js

chore(changeset): release the description length limit as minor, not patch
  .changeset/data-mart-description-length-limit.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(connectors): import and export a connector manifest in the builder
  apps/web/src/features/connector-builder/create/ImportExport.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
Due: none

docs(connectors): publish the AI authoring guide and point to it
  apps/docs/.gitignore
  apps/docs/scripts/sync-docs.js
  apps/web/src/features/connector-builder/create/ImportExport.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/CREATING_CONNECTOR.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): tidy the connector picker for custom connectors
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.custom.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.preselect.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.unpublished.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/components/StepperHeroBlock.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConnectorSelectionStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConnectorSelectionStep.tsx
  apps/web/src/features/connectors/shared/components/CustomConnectorIcon/CustomConnectorIcon.tsx
  apps/web/src/features/connectors/shared/components/CustomConnectorIcon/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(data-marts): make Data Mart preview a plain read
  .changeset/6622-data-mart-preview.md
  apps/backend/src/data-marts/dto/presentation/preview-data-mart-response-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-preview-run-metadata.schema.ts
  apps/backend/src/data-marts/enums/data-mart-run-type.enum.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/project-billing/binding-aware-project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/internal-project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/license-project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/project-billing.service.ts
  apps/backend/src/data-marts/services/project-billing/report-run-authorization-boundary.spec.ts
  apps/backend/src/data-marts/services/project-billing/restricted-project-billing.service.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.ts
  apps/backend/src/ee/license-keys/dto/license-key-api.dto.spec.ts
  apps/backend/src/ee/license-keys/dto/license-key-api.dto.ts
  apps/docs/data/meta-content.csv
  apps/web/src/features/data-marts/edit/components/DataMartPreview/DataMartPreviewPanel.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/DataMartPreviewPanel.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/useDataMartPreview.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/ConfigurationView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-run-type.enum.ts
  apps/web/src/features/data-marts/shared/types/api/response/preview-data-mart.response.dto.ts
  docs/getting-started/billing/consumption-units.md
  docs/getting-started/setup-guide/data-preview.md
  packages/api-client/src/data-mart-runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): sort Data Mart preview by a column
  .changeset/6622-data-mart-preview.md
  apps/backend/src/data-marts/controllers/data-mart-preview.controller.ts
  apps/backend/src/data-marts/dto/presentation/preview-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartPreview/DataMartPreviewPanel.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/DataMartPreviewPanel.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/PreviewResultsTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/useDataMartPreview.ts
  apps/web/src/features/data-marts/shared/types/api/request/preview-data-mart.request.dto.ts
  docs/getting-started/setup-guide/data-preview.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): add the Data Mart preview demo video
  .changeset/6622-data-mart-preview.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): re-pick the connector version of a saved configuration
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorVersionControl.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorVersionControl.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.custom.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
Due: none

feat(connectors): Import JSON on the Code tab and a builder guide link
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.tsx
  apps/web/src/features/connector-builder/create/ImportExport.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderModeTabs.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  apps/web/src/features/connector-builder/create/components/useManifestImport.tsx
Due: none

fix(connectors): allow only the template scopes a run fills
  packages/connectors/src/Core/Declarative/TemplateEngine.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
  packages/connectors/tests/declarative/TemplateEngine.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(connectors): Declarative Connectors overview and Connector Builder guide
  apps/docs/astro.config.mjs
  docs/connectors/connector-builder.md
  docs/connectors/declarative-connectors.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  docs/getting-started/setup-guide/connector-data-mart.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): restyle Models canvas Data Mart cards after the website cards
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.ts
  apps/web/src/features/data-marts/shared/canvas/erd-card.tsx
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): say what deleting a custom connector does
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  apps/web/src/features/connectors/list/components/ConnectorsTable/ConnectorsTable.tsx
Due: none

fix(connectors): drop the Bearer token URL the engine never read
  apps/web/src/features/connector-builder/create/AuthenticationEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/AuthenticationEditor.tsx
  apps/web/src/features/connector-builder/shared/model/manifest.types.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(changeset): file the description length limit under 6988
  .changeset/6988-data-mart-description-length-limit.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): add the Data Mart icons demo video
  .changeset/7004-custom-data-mart-icons.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(data-marts): drop the Data Mart icon migration spec
  apps/backend/src/migrations/data-mart-icon.migration.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): refresh canvas icons and require icon on update
  apps/backend/src/data-marts/dto/presentation/update-data-mart-icon-api.dto.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-icon.service.spec.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): explain a stale tab instead of reloading it
  .changeset/6980-reload-on-stale-chunk.md
  apps/web/src/app/reload-on-stale-chunk.test.ts
  apps/web/src/app/reload-on-stale-chunk.ts
  apps/web/src/app/stale-chunk.test.ts
  apps/web/src/app/stale-chunk.ts
  apps/web/src/components/errors/LayoutErrorBoundary.test.tsx
  apps/web/src/components/errors/LayoutErrorBoundary.tsx
  apps/web/src/main.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): add the Models canvas card demo video
  .changeset/6999-models-canvas-card-style.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): add 22 Data Mart icons and group the picker
  apps/backend/src/data-marts/enums/data-mart-icon.enum.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/data-mart-icons.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): address review on Data Mart icons
  .changeset/7004-custom-data-mart-icons.md
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): hide zero-count badges on Models canvas cards
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): merge LinkedIn Ads analytics chunks by key again
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/test/Sources/LinkedInAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js
