Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(plugins): say what managed updates do, on every surface
  apps/ctl/src/commands/plugins/update.ts
  apps/ctl/src/plugins-support.test.ts
  apps/web/src/features/plugins/hooks/usePlugins.test.tsx
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): share new Data Marts for maintenance by default
  .changeset/6721-shared-for-maintenance-default.md
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/entities/sharing-fields.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-mart.service.ts
  apps/backend/test/data-mart-default-sharing.e2e-spec.ts
  apps/backend/test/ownership.e2e-spec.ts
  docs/project/ownership-and-sharing.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(plugins): remove the drift risks review found
  apps/backend/src/plugin-host/services/github-auth.service.ts
  apps/backend/src/plugin-host/services/plugin.service.ts
  apps/web/src/features/plugins/hooks/usePluginPublications.ts
  apps/web/src/features/plugins/hooks/usePlugins.test.tsx
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  packages/api-client/src/plugins.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore(changeset): one changeset for the plugin gallery, as the repo does it
  .changeset/6772-plugin-gallery.md
  .changeset/api-client-error-codes.md
  .changeset/plugin-gallery-initial-delivery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update mcp.md
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

style(plugins): apply prettier to the host bridge imports
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Add custom connector path
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Mark Claude as recommended
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): allow changing the input source of a data mart
  .changeset/6614-change-data-mart-input-source.md
  apps/backend/src/data-marts/events/data-mart-definition-type-changed.event.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/e2e/fixtures/api-helpers.ts
  apps/web/e2e/specs/datamart-data-setup.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/ChangeInputSourceTypeDialog.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/DataMartDefinitionTypeSelector.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/useInputSourceChangeImpact.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/utils/data-mart-validation.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): guard every webhook redirect hop, not just the first
  apps/backend/src/common/helpers/safe-url.helper.spec.ts
  apps/backend/src/common/helpers/safe-url.helper.ts
  apps/backend/src/notifications/services/notification-webhook.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugins): reject an oversized manifest instead of aborting the sync
  apps/backend/src/plugin-host/services/github-api.service.spec.ts
  apps/backend/src/plugin-host/services/github-api.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugins): keep a private repository name out of the name fallback
  apps/backend/src/plugin-host/mappers/plugin-presentation.mapper.spec.ts
  apps/backend/src/plugin-host/mappers/plugin-presentation.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugins): follow descriptor redirects the way the delivery URL does
  apps/backend/src/plugin-host/services/remote-url-validator.service.spec.ts
  apps/backend/src/plugin-host/services/remote-url-validator.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

perf(plugins): stop syncing releases that can never become current
  apps/backend/src/config/env-validation.config.ts
  apps/backend/src/plugin-host/config/plugin-host.config.spec.ts
  apps/backend/src/plugin-host/config/plugin-host.config.ts
  apps/backend/src/plugin-host/services/github-auth.service.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
  docs/getting-started/deployment-guide/environment-variables.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

perf(plugins): read gallery plugins and versions in bulk
  apps/backend/src/plugin-host/services/plugin-version.service.ts
  apps/backend/src/plugin-host/services/plugin.service.ts
  apps/backend/src/plugin-host/use-cases/get-plugin-gallery.service.spec.ts
  apps/backend/src/plugin-host/use-cases/get-plugin-gallery.service.ts
  apps/backend/src/plugin-host/use-cases/list-installations.service.spec.ts
  apps/backend/src/plugin-host/use-cases/list-installations.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): validate a new input source and summarize the refreshed schema
  .changeset/6614-change-data-mart-input-source.md
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/e2e/specs/datamart-data-setup.spec.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/shared/utils/schema-field-summary.test.ts
  apps/web/src/features/data-marts/shared/utils/schema-field-summary.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(data-marts): clarify what the joined-label convention pins
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(auth): make plugin runtime tokens default-deny
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/data-storage.controller.ts
  apps/backend/src/data-marts/controllers/external/http-data.controller.ts
  apps/backend/src/data-marts/controllers/markdown-parser.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/markdown-parser.controller.ts
  apps/backend/src/data-marts/controllers/model-canvas.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/model-canvas.controller.ts
  apps/backend/src/data-marts/controllers/oauth-flow-only.controller.spec.ts
  apps/backend/src/data-marts/controllers/project-data-mart-runs.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/project-data-mart-runs.controller.ts
  apps/backend/src/data-marts/controllers/project-insight-templates.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/project-insight-templates.controller.ts
  apps/backend/src/data-marts/controllers/project-member-api-keys.controller.spec.ts
  apps/backend/src/data-marts/controllers/project-setup-progress.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/project-setup-progress.controller.ts
  apps/backend/src/data-marts/controllers/search.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/search.controller.spec.ts
  apps/backend/src/data-marts/controllers/search.controller.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.openapi.spec.ts
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
  apps/backend/src/idp/controllers/auth-context.controller.openapi.spec.ts
  apps/backend/src/idp/controllers/auth-context.controller.ts
  apps/backend/src/idp/decorators/allow-plugin-auth.decorator.ts
  apps/backend/src/idp/decorators/index.ts
  apps/backend/src/idp/decorators/reject-plugin-auth.decorator.ts
  apps/backend/src/idp/guards/idp.guard.spec.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/backend/src/plugin-host/controllers/plugin-admin.controller.openapi.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-gallery.controller.openapi.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-installations.controller.spec.ts
  apps/backend/src/plugin-host/controllers/plugin-installations.controller.ts
  apps/backend/src/plugin-host/controllers/plugin-publications.controller.openapi.spec.ts
  apps/backend/src/project-settings/controllers/project-settings.controller.openapi.spec.ts
  apps/backend/src/project-settings/controllers/project-settings.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): vet the addresses an outbound request actually reaches
  apps/backend/package.json
  apps/backend/src/common/helpers/guarded-dispatcher.spec.ts
  apps/backend/src/common/helpers/guarded-dispatcher.ts
  apps/backend/src/common/helpers/safe-url.helper.spec.ts
  apps/backend/src/common/helpers/safe-url.helper.ts
  apps/backend/src/plugin-host/services/remote-url-validator.service.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugins): withhold a private repository name from Check now
  apps/backend/src/plugin-host/dto/presentation/plugin-installation-api.dto.ts
  apps/backend/src/plugin-host/use-cases/update-plugin.service.spec.ts
  apps/backend/src/plugin-host/use-cases/update-plugin.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugin-sdk): keep repeated query parameters across the bridge
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/features/plugins/runtime/protocol.ts
  packages/plugin-sdk/src/iframe-transport.test.ts
  packages/plugin-sdk/src/iframe-transport.ts
  packages/plugin-sdk/src/protocol.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugins): answer a lost insert race instead of a unique-constraint 500
  apps/backend/src/plugin-host/services/plugin-installation.service.spec.ts
  apps/backend/src/plugin-host/services/plugin-installation.service.ts
  apps/backend/src/plugin-host/services/plugin.service.spec.ts
  apps/backend/src/plugin-host/services/plugin.service.ts
  apps/backend/src/plugin-host/use-cases/install-plugin.service.spec.ts
  apps/backend/src/plugin-host/use-cases/install-plugin.service.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(plugins): stop Check now from confirming plugins by repository name
  apps/backend/src/plugin-host/use-cases/update-plugin.service.spec.ts
  apps/backend/src/plugin-host/use-cases/update-plugin.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): reject Google Sheets columns that render the same header
  .changeset/6729-joined-field-naming.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@970bcee0e08d516b615d04a19b3851d689dca61f 🚀
  apps/backend/src/data-marts/data-storage-types/blending/readme/index.html
  pagefind/fragment/en_ef78416.pf_fragment
  pagefind/index/en_1b7814b.pf_index
  pagefind/index/en_1edaced.pf_index
  pagefind/index/en_2eeddab.pf_index
  pagefind/index/en_3866c1d.pf_index
  pagefind/index/en_393fd3c.pf_index
  pagefind/index/en_616e824.pf_index
  pagefind/index/en_7a9e149.pf_index
  pagefind/index/en_83f37ef.pf_index
  pagefind/index/en_93ad6df.pf_index
  pagefind/index/en_97d2858.pf_index
  pagefind/index/en_9c76729.pf_index
  pagefind/index/en_a2d88ae.pf_index
  pagefind/index/en_a6b2073.pf_index
  pagefind/index/en_a7408e3.pf_index
  pagefind/index/en_ab9c10a.pf_index
  pagefind/index/en_b01a36c.pf_index
  pagefind/index/en_b63dda7.pf_index
  pagefind/index/en_c0cfaa3.pf_index
  pagefind/index/en_c0fe5b4.pf_index
  pagefind/index/en_c9b8892.pf_index
  pagefind/index/en_cc47d95.pf_index
  pagefind/index/en_d2161c1.pf_index
  pagefind/index/en_d6f2953.pf_index
  pagefind/index/en_ff2cb01.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_d87fd251b5.pf_meta
  pagefind/pagefind.en_d97044ce14.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

fix(data-marts): address review on the input source change
  .changeset/6614-change-data-mart-input-source.md
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/data-mart-input-source-change-impact.dto.ts
  apps/backend/src/data-marts/dto/domain/get-data-mart-input-source-change-impact.command.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-input-source-change-impact-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/get-data-mart-input-source-change-impact.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/backend/test/data-mart-input-source-change.e2e-spec.ts
  apps/web/e2e/fixtures/api-helpers.ts
  apps/web/e2e/specs/datamart-data-setup.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/useInputSourceChangeImpact.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart.mapper.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/shared/hooks/__tests__/useSchemaActualizeTrigger.test.ts
  apps/web/src/features/data-marts/shared/hooks/useSchemaActualizeTrigger.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-input-source-change-impact.response.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/index.ts
  apps/web/src/features/data-marts/shared/utils/data-mart-validation.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@ce982a5924e8613c1dc0f38e72c297c4aa2aeba4 🚀
  docs/project/ownership-and-sharing/index.html
  pagefind/fragment/en_3229c72.pf_fragment
  pagefind/fragment/en_5d21bb8.pf_fragment
  pagefind/index/en_1fe3e34.pf_index
  pagefind/index/en_2eeddab.pf_index
  pagefind/index/en_393fd3c.pf_index
  pagefind/index/en_3990186.pf_index
  pagefind/index/en_3db3c36.pf_index
  pagefind/index/en_4212c0b.pf_index
  pagefind/index/en_47bdd6a.pf_index
  pagefind/index/en_616e824.pf_index
  pagefind/index/en_6d5752e.pf_index
  pagefind/index/en_86b1ddd.pf_index
  pagefind/index/en_93ad6df.pf_index
  pagefind/index/en_97d2858.pf_index
  pagefind/index/en_9c76729.pf_index
  pagefind/index/en_a2d88ae.pf_index
  pagefind/index/en_a7408e3.pf_index
  pagefind/index/en_b63dda7.pf_index
  pagefind/index/en_bd6f3fa.pf_index
  pagefind/index/en_c9b8892.pf_index
  pagefind/index/en_d2161c1.pf_index
  pagefind/index/en_d4568bf.pf_index
  pagefind/index/en_e4cac42.pf_index
  pagefind/index/en_ea3bfc3.pf_index
  pagefind/index/en_f5d3d88.pf_index
  pagefind/index/en_ff2cb01.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_b2f62828d8.pf_meta
  pagefind/pagefind.en_d87fd251b5.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(connectors): preserve OAuth token errors
  packages/connectors/src/Core/Utils/OAuthUtils.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

test(backend): stop dropping the log line the smoke suite waits for
  apps/backend/test/log-buffer.e2e-spec.ts
  apps/backend/test/utils/api-key-app-smoke.ts
  apps/backend/test/utils/log-buffer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@bd0d23bcf84229f87d808a2caa85f96ddc02fbeb 🚀
  docs/getting-started/setup-guide/data-last-updated/index.html
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_537d964.pf_fragment
  pagefind/fragment/en_5e4bfcd.pf_fragment
  pagefind/fragment/en_b281531.pf_fragment
  pagefind/fragment/en_d9ff6ff.pf_fragment
  pagefind/index/en_1fe3e34.pf_index
  pagefind/index/en_296a97d.pf_index
  pagefind/index/en_3990186.pf_index
  pagefind/index/en_3a63553.pf_index
  pagefind/index/en_3db3c36.pf_index
  pagefind/index/en_4212c0b.pf_index
  pagefind/index/en_47bdd6a.pf_index
  pagefind/index/en_5176e14.pf_index
  pagefind/index/en_5c9f822.pf_index
  pagefind/index/en_62237a1.pf_index
  pagefind/index/en_6d5752e.pf_index
  pagefind/index/en_814d8ef.pf_index
  pagefind/index/en_86b1ddd.pf_index
  pagefind/index/en_8df83f5.pf_index
  pagefind/index/en_af9a5fa.pf_index
  pagefind/index/en_bd6f3fa.pf_index
  pagefind/index/en_c51c236.pf_index
  pagefind/index/en_d4568bf.pf_index
  pagefind/index/en_d5c315a.pf_index
  pagefind/index/en_dfc8254.pf_index
  pagefind/index/en_e4cac42.pf_index
  pagefind/index/en_ea3bfc3.pf_index
  pagefind/index/en_f032df5.pf_index
  pagefind/index/en_f5d3d88.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_514f11e2e7.pf_meta
  pagefind/pagefind.en_b2f62828d8.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(data-marts): address second review round on the input source change
  apps/backend/src/data-marts/services/data-mart-relationship.service.ts
  apps/backend/src/data-marts/use-cases/get-data-mart-input-source-change-impact.service.ts
  apps/backend/test/data-mart-input-source-change.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/ChangeInputSourceTypeDialog.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/useInputSourceChangeImpact.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@04bf74dad6361f2aca843d2d3b5db3e35b4e1957 🚀
  docs/getting-started/setup-guide/joinable-data-marts/index.html
  pagefind/fragment/en_ad7dd42.pf_fragment
  pagefind/fragment/en_f480f3a.pf_fragment
  pagefind/index/en_148377d.pf_index
  pagefind/index/en_1846d53.pf_index
  pagefind/index/en_18f0165.pf_index
  pagefind/index/en_296a97d.pf_index
  pagefind/index/en_2a5dc64.pf_index
  pagefind/index/en_2cac91f.pf_index
  pagefind/index/en_3a63553.pf_index
  pagefind/index/en_5176e14.pf_index
  pagefind/index/en_534ef7a.pf_index
  pagefind/index/en_5c9f822.pf_index
  pagefind/index/en_62237a1.pf_index
  pagefind/index/en_632564c.pf_index
  pagefind/index/en_814d8ef.pf_index
  pagefind/index/en_8df83f5.pf_index
  pagefind/index/en_a61bc7e.pf_index
  pagefind/index/en_af9a5fa.pf_index
  pagefind/index/en_ba95ade.pf_index
  pagefind/index/en_c51c236.pf_index
  pagefind/index/en_c9c196c.pf_index
  pagefind/index/en_d5c315a.pf_index
  pagefind/index/en_dfc8254.pf_index
  pagefind/index/en_f032df5.pf_index
  pagefind/index/en_f42b73e.pf_index
  pagefind/index/en_fe7489f.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_466f14a243.pf_meta
  pagefind/pagefind.en_514f11e2e7.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@212e0aae4256ffdaf93a993c929739b3ad50377f 🚀
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_797ce0d.pf_fragment
  pagefind/fragment/en_b281531.pf_fragment
  pagefind/index/en_148377d.pf_index
  pagefind/index/en_1846d53.pf_index
  pagefind/index/en_18f0165.pf_index
  pagefind/index/en_2383963.pf_index
  pagefind/index/en_2a5dc64.pf_index
  pagefind/index/en_2cac91f.pf_index
  pagefind/index/en_2ff4f41.pf_index
  pagefind/index/en_3ec0801.pf_index
  pagefind/index/en_534ef7a.pf_index
  pagefind/index/en_632564c.pf_index
  pagefind/index/en_6a64c5f.pf_index
  pagefind/index/en_798050d.pf_index
  pagefind/index/en_8ea032c.pf_index
  pagefind/index/en_a61bc7e.pf_index
  pagefind/index/en_ba95ade.pf_index
  pagefind/index/en_bc27daa.pf_index
  pagefind/index/en_c045c9f.pf_index
  pagefind/index/en_c9c196c.pf_index
  pagefind/index/en_db86e71.pf_index
  pagefind/index/en_dc24237.pf_index
  pagefind/index/en_f42b73e.pf_index
  pagefind/index/en_f5b35db.pf_index
  pagefind/index/en_fa2273a.pf_index
  pagefind/index/en_fe7489f.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_466f14a243.pf_meta
  pagefind/pagefind.en_49956c674b.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(data-marts): export Models canvas as SVG, PNG, JSON, or OKF bundle
  .changeset/6771-canvas-export.md
  apps/web/package.json
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/export/download.test.ts
  apps/web/src/features/data-marts/model-canvas/export/download.ts
  apps/web/src/features/data-marts/model-canvas/export/export-image.ts
  apps/web/src/features/data-marts/model-canvas/export/index.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.test.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/frontmatter.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.test.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/zip.ts
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/DataMartBulkActions.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/DataMartBulkActions.tsx
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/index.ts
  docs/getting-started/setup-guide/models-canvas-export.md
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(plugins): stop requiring a descriptor endpoint from plugin authors
  apps/backend/src/plugin-host/config/plugin-host.config.ts
  apps/backend/src/plugin-host/enums/release-rejection-code.enum.ts
  apps/backend/src/plugin-host/services/remote-url-validator.service.spec.ts
  apps/backend/src/plugin-host/services/remote-url-validator.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(plugin-sdk): group host requests under ctx.ui, drop what did nothing
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/features/plugins/runtime/protocol.ts
  apps/web/src/pages/plugins/runtime/PluginRuntimePage.tsx
  packages/plugin-sdk/src/index.test.ts
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/protocol.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(plugins): make the authoring guide reachable, and name the product
  apps/docs/astro.config.mjs
  docs/getting-started/deployment-guide/environment-variables.md
  docs/plugins/authoring-guide.md
  packages/plugin-sdk/README.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(plugins): use the deployment's own public origin, not a second copy
  apps/backend/src/plugin-host/config/plugin-host.config.spec.ts
  apps/backend/src/plugin-host/config/plugin-host.config.ts
  apps/backend/src/plugin-host/plugin-host.module.ts
  apps/backend/src/plugin-host/services/remote-url-validator.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(plugins): make the release page cap a constant, not a setting
  apps/backend/src/config/env-validation.config.ts
  apps/backend/src/plugin-host/services/github-api.service.spec.ts
  docs/getting-started/deployment-guide/environment-variables.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
