Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

feat(log): add changelog update about fix error in ui
  .changeset/add-report-runs-to-data-mart-run-history-tab.md
  .changeset/fix-false-error-notification-about-actualizing-schema.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: patch vulnerabilily package version
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

feat(log): add changelog update about fix error in ui (#730)
  .changeset/add-report-runs-to-data-mart-run-history-tab.md
  .changeset/fix-false-error-notification-about-actualizing-schema.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: patch vulnerabilily package version (#731)
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

refactor: remove extra caching in X Ads connector that was done for apps script (#724)
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): mark 'Create Empty Tables' option as advanced in multiple sources
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/OpenHolidays/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(FacebookMarketing): mark 'Process Short Links' and 'Create Empty Tables' as advanced options
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: correct spelling of 'AccountIDs' in connector service and source files
  apps/backend/src/data-marts/services/connector-secret.service.spec.ts
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): mark shared config fields as hidden or advanced options for cleaner UI (#728)
  .changeset/whole-singers-tease.md
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/OpenHolidays/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@05ad5fdd6cd4ff737eab3a483209c14671da2075 🚀
  docs/changelog/index.html
  pagefind/fragment/en_71bf328.pf_fragment
  pagefind/fragment/en_83373de.pf_fragment
  pagefind/index/en_1842c57.pf_index
  pagefind/index/en_3284635.pf_index
  pagefind/index/en_482f9b3.pf_index
  pagefind/index/en_66bc52a.pf_index
  pagefind/index/en_712c11d.pf_index
  pagefind/index/en_9c19142.pf_index
  pagefind/index/en_ad84e58.pf_index
  pagefind/index/en_d1da321.pf_index
  pagefind/index/en_dc30509.pf_index
  pagefind/index/en_ecb4bae.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_e26aab917d.pf_meta
  pagefind/pagefind.en_f9a4213e6c.pf_meta
Due: prettier --write --config ./prettier.config.js

Update CHANGELOG for version 0.12.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG for version 0.12.0 (#733)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@f017dd73b7812a1801d98f7956860bbb179146e3 🚀
  docs/changelog/index.html
  pagefind/fragment/en_1318996.pf_fragment
  pagefind/fragment/en_83373de.pf_fragment
  pagefind/index/en_4d854a1.pf_index
  pagefind/index/en_81c5ec6.pf_index
  pagefind/index/en_9257c6b.pf_index
  pagefind/index/en_9c19142.pf_index
  pagefind/index/en_a21a669.pf_index
  pagefind/index/en_ad84e58.pf_index
  pagefind/index/en_b3cbcb2.pf_index
  pagefind/index/en_d1da321.pf_index
  pagefind/index/en_dc30509.pf_index
  pagefind/index/en_ecb4bae.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_6faf5f5965.pf_meta
  pagefind/pagefind.en_f9a4213e6c.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(web): remove mock data and integrate dynamic insight title updates
  apps/web/src/env.d.ts
  apps/web/src/features/data-marts/insights/components/InsightDetailsView.tsx
  apps/web/src/features/data-marts/insights/components/InsightsEmptyState.tsx
  apps/web/src/features/data-marts/insights/components/InsightsListSection.tsx
  apps/web/src/features/data-marts/insights/hooks/useInsightData.ts
  apps/web/src/features/data-marts/insights/hooks/useInsightForm.ts
  apps/web/src/features/data-marts/insights/model/hooks/useInsights.ts
  apps/web/src/features/data-marts/insights/model/reducer/insightsReducer.ts
  apps/web/src/features/data-marts/insights/model/services/insights.mock.ts
  apps/web/src/features/data-marts/insights/model/services/insights.service.ts
  apps/web/src/features/data-marts/insights/model/types/api/insights.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: email and markdown dependencies
  apps/backend/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(backend): Common services for App licesing, emails, markdown
  apps/backend/src/common/common.module.ts
  apps/backend/src/common/config/app-edition-config.service.ts
  apps/backend/src/common/config/app-edition-license-refresher.service.ts
  apps/backend/src/common/email/email.module.ts
  apps/backend/src/common/email/providers/noop-provider.ts
  apps/backend/src/common/email/providers/sendgrid-provider.ts
  apps/backend/src/common/email/shared/email-provider.facade.ts
  apps/backend/src/common/jwt-body/google-jwt-body.decorator.ts
  apps/backend/src/common/markdown/github-markdown-css.ts
  apps/backend/src/common/markdown/markdown-parser.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(owox): App edition flag whitelisted
  apps/owox/src/web/flags-route.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backed): new Email based report destinations added
  apps/backend/src/data-marts/data-destination-types/available-destination-types.service.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-config.guards.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-config.type.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials.guards.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials.type.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/ee/README.md
  apps/backend/src/data-marts/data-destination-types/ee/email/README.md
  apps/backend/src/data-marts/data-destination-types/ee/email/schemas/email-config.schema.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/schemas/email-credentials.schema.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-credentials-validator.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/templates/email-report.template.ts
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/enums/report-condition.enum.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/enums/data-mart-run-type.enum.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): App edition guards added to use-cases
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): utility controller for markdown preview
  apps/backend/src/data-marts/controllers/markdown-parser.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(workflows): add pull_request trigger to audit and lint workflows
  .github/workflows/audit-all.yml
  .github/workflows/lint-all.yml
Due: prettier --write --config ./prettier.config.js

test fail
  .github/workflows/lint-all.yml
  .github/workflows/lint-backend.yml
  .github/workflows/lint-connectors.yml
  .github/workflows/lint-idp-better-auth.yml
  .github/workflows/lint-idp-owox.yml
  .github/workflows/lint-idp-protocol.yml
  .github/workflows/lint-internal-helpers.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-root.yml
  .github/workflows/lint-ui.yml
  .github/workflows/lint-web.yml
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-owox.yml
  .github/workflows/test-web.yml
  LICENSE.md
  apps/backend/src/common/logger/logger.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(GoogleAds): improve error handling in API request and adjust query field inclusion logic
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(GoogleAds): remove unused HttpRequestException import
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): app edition flag added
  apps/web/src/app/store/default-flags.ts
  apps/web/src/utils/check-edition.ts
  apps/web/src/utils/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): Email data destinations added
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/EmailFields.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/DestinationTypeDescription.tsx
  apps/web/src/features/data-destination/shared/enums/data-destination-credentials-type.enum.ts
  apps/web/src/features/data-destination/shared/enums/data-destination-status.enum.ts
  apps/web/src/features/data-destination/shared/enums/data-destination-type.enum.ts
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestinationVisibility.ts
  apps/web/src/features/data-destination/shared/model/mappers/destination-mapper.factory.ts
  apps/web/src/features/data-destination/shared/model/mappers/email.mapper.ts
  apps/web/src/features/data-destination/shared/model/types/credentials.ts
  apps/web/src/features/data-destination/shared/model/types/data-destination.ts
  apps/web/src/features/data-destination/shared/model/types/email-credentials.ts
  apps/web/src/features/data-destination/shared/services/types/create-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/services/types/data-destination.response.dto.ts
  apps/web/src/features/data-destination/shared/services/types/update-data-destination.request.dto.ts
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
  apps/web/src/features/data-destination/shared/types/data-destination.schema.ts
  apps/web/src/features/data-destination/shared/types/email-credentials.schema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): reports on Email data destinations
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/TypeIcon.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/FormDescriptions/MessageTemplateDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/FormDescriptions/SendingConditionDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/index.ts
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/index.ts
  apps/web/src/features/data-marts/reports/edit/components/index.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/index.ts
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportEditSheetRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportListRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/EmailReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/SortableHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/columns/index.ts
  apps/web/src/features/data-marts/reports/list/components/EmailReportsTable/index.ts
  apps/web/src/features/data-marts/reports/list/components/index.ts
  apps/web/src/features/data-marts/reports/shared/components/ReportHoverCard/ReportHoverCard.tsx
  apps/web/src/features/data-marts/reports/shared/enums/destination-type-config.enum.ts
  apps/web/src/features/data-marts/reports/shared/enums/report-condition.enum.ts
  apps/web/src/features/data-marts/reports/shared/model/mappers/destination-config-mapper.factory.ts
  apps/web/src/features/data-marts/reports/shared/model/mappers/email-config.mapper.ts
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/services/types/update-report.request.dto.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/components/ReportSelector.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerRunTarget.tsx
  apps/web/src/features/data-marts/shared/enums/data-mart-run-type.enum.ts
  packages/ui/src/components/common/copyable-field.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

changeset for Email destinations
  .changeset/email-destinations.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): markdown editor moved to shared components
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditor.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorPreview.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownEditorTabs.tsx
  apps/web/src/shared/components/MarkdownEditor/index.ts
  apps/web/src/shared/components/MarkdownEditor/useMarkdownPreview.ts
  apps/web/src/shared/components/MarkdownEditor/useMarkdownPreviewInternal.ts
  apps/web/src/shared/services/markdown.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(wortkflows): update workflow files to improve ci
  .github/workflows/audit-all.yml
  .github/workflows/lint-all.yml
  .github/workflows/lint-backend.yml
  .github/workflows/lint-connectors.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-idp-better-auth.yml
  .github/workflows/lint-idp-owox.yml
  .github/workflows/lint-idp-protocol.yml
  .github/workflows/lint-internal-helpers.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-root.yml
  .github/workflows/lint-ui.yml
  .github/workflows/lint-web.yml
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-owox.yml
  .github/workflows/test-web.yml
Due: prettier --write --config ./prettier.config.js

refactor(backend): update js-doc comments for clarity and accuracy
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/models/looker-studio-report-run.model.ts
  apps/backend/src/data-marts/models/report-run.model.ts
  apps/backend/src/data-marts/services/looker-studio-report-run.service.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(backend): implement optimistic locking in report update method
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/data-marts/services/report.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): introduce auto-discovered system triggers with base processors
  apps/backend/src/common/scheduler/README.md
  apps/backend/src/common/scheduler/scheduler.module.ts
  apps/backend/src/common/scheduler/shared/entities/system-trigger.entity.ts
  apps/backend/src/common/scheduler/system-tasks/base-system-task.processor.ts
  apps/backend/src/common/scheduler/system-tasks/system-task-processor.interface.ts
  apps/backend/src/common/scheduler/system-tasks/system-trigger-handler.service.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/system-triggers/processors/retry-interrupted-connector-runs-processor.ts
  apps/backend/src/migrations/1762269700000-create-system-triggers-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): add transactions write for report runs (#715)
  apps/backend/package.json
  apps/backend/src/.gitignore
  apps/backend/src/app.module.ts
  apps/backend/src/bootstrap.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/entities/report.entity.ts
  apps/backend/src/data-marts/models/base-report-run.model.ts
  apps/backend/src/data-marts/models/looker-studio-report-run.model.ts
  apps/backend/src/data-marts/models/report-run.model.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/looker-studio-report-run.service.ts
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/migrations/1762534573842-add-version-column-to-report.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): refactor nullable fields in data-mart-run entity (#723)
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run.schema.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/migrations/1762812222908-refactor-nullable-fields-in-data-mart-run.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/edit/model/mappers/data-mart-run-mappers.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-run.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart-run.response.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): added system triggers (tasks) (#718)
  apps/backend/src/common/scheduler/README.md
  apps/backend/src/common/scheduler/scheduler.module.ts
  apps/backend/src/common/scheduler/shared/entities/system-trigger.entity.ts
  apps/backend/src/common/scheduler/system-tasks/base-system-task.processor.ts
  apps/backend/src/common/scheduler/system-tasks/system-trigger-handler.service.ts
  apps/backend/src/common/scheduler/system-tasks/system-trigger-type.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/system-triggers/processors/retry-interrupted-connector-runs-processor.ts
  apps/backend/src/migrations/1762269700000-create-system-triggers-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@b6e3306c8b95a36420a03444eadba530d994e507 🚀
  apps/backend/src/common/scheduler/readme/index.html
  pagefind/fragment/en_267ec72.pf_fragment
  pagefind/fragment/en_bd47153.pf_fragment
  pagefind/index/en_1c7f451.pf_index
  pagefind/index/en_2b6a35e.pf_index
  pagefind/index/en_3694ed1.pf_index
  pagefind/index/en_39c5404.pf_index
  pagefind/index/en_4d854a1.pf_index
  pagefind/index/en_7399bd3.pf_index
  pagefind/index/en_81c5ec6.pf_index
  pagefind/index/en_9257c6b.pf_index
  pagefind/index/en_a21a669.pf_index
  pagefind/index/en_b3cbcb2.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3c30ac46d6.pf_meta
  pagefind/pagefind.en_6faf5f5965.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(GoogleAds): simplify error handling in API request by removing unnecessary HttpRequestException check
  packages/connectors/src/Sources/GoogleAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(wortkflows): update workflow files to improve ci (#735)
  .github/workflows/audit-all.yml
  .github/workflows/lint-all.yml
  .github/workflows/lint-backend.yml
  .github/workflows/lint-connectors.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-idp-better-auth.yml
  .github/workflows/lint-idp-owox.yml
  .github/workflows/lint-idp-protocol.yml
  .github/workflows/lint-internal-helpers.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-root.yml
  .github/workflows/lint-ui.yml
  .github/workflows/lint-web.yml
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-owox.yml
  .github/workflows/test-web.yml
Due: prettier --write --config ./prettier.config.js
