Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix(bigquery): use src alias instead of main for flat OC queries
  .changeset/6685-bq-table-column-name-collision.md
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder-edge-cases.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.ts
  apps/backend/src/data-marts/services/report-sql-composer.aggregation.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(bigquery): update query builder spec to compact alias expectation
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): post-review follow-ups — batch _meta, dedicated log name, npm audit
  .env.example
  apps/backend/src/ee/mcp/controllers/mcp-transport.controller.spec.ts
  apps/backend/src/ee/mcp/controllers/mcp-transport.controller.ts
  apps/backend/src/ee/mcp/observability/mcp-bus-wiring.spec.ts
  apps/backend/src/ee/mcp/observability/mcp-bus-wiring.ts
  apps/backend/src/ee/mcp/observability/mcp-call-instrumentation.spec.ts
  apps/backend/src/ee/mcp/observability/mcp-call-instrumentation.ts
  apps/backend/src/ee/mcp/observability/mcp-log-context.ts
  package-lock.json
  packages/internal-helpers/src/integrations/event-bus/event-bus.ts
  packages/internal-helpers/src/integrations/event-bus/transports/logger-transport.test.ts
  packages/internal-helpers/src/integrations/event-bus/transports/logger-transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@d3399226d26f34356d03d3c0774b15f207ef1385 🚀
  apps/backend/src/ee/mcp/observability/readme/index.html
  pagefind/fragment/en_4e1e481.pf_fragment
  pagefind/fragment/en_cbbbe07.pf_fragment
  pagefind/fragment/en_e4fb3f8.pf_fragment
  pagefind/index/en_53477cb.pf_index
  pagefind/index/en_57ee5e3.pf_index
  pagefind/index/en_5e86a49.pf_index
  pagefind/index/en_5fa66d3.pf_index
  pagefind/index/en_7251e56.pf_index
  pagefind/index/en_73b557d.pf_index
  pagefind/index/en_7e4ed1b.pf_index
  pagefind/index/en_7f5dbff.pf_index
  pagefind/index/en_7fb26f3.pf_index
  pagefind/index/en_927bf9e.pf_index
  pagefind/index/en_976fef5.pf_index
  pagefind/index/en_9d92aa9.pf_index
  pagefind/index/en_a91cb92.pf_index
  pagefind/index/en_aafe408.pf_index
  pagefind/index/en_b7cff5b.pf_index
  pagefind/index/en_bcfe8e4.pf_index
  pagefind/index/en_c472169.pf_index
  pagefind/index/en_cc10d78.pf_index
  pagefind/index/en_dc5fc46.pf_index
  pagefind/index/en_dea62e6.pf_index
  pagefind/index/en_e7e8dd7.pf_index
  pagefind/index/en_fed2c2a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3d34f0e22c.pf_meta
  pagefind/pagefind.en_95e88b3dcc.pf_meta
  sitemap-0.xml
Due: prettier --write --config ./prettier.config.js

fix(mcp): support shared OAuth registration on auth host
  apps/backend/src/idp/oauth/controllers/oauth-registration.controller.spec.ts
  apps/backend/src/idp/oauth/controllers/oauth-registration.controller.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Fixes after the review.
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/shared/constants/connector-config.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  packages/connectors/package.json
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/TikTokAds/TikTokAdsAPIReference/TikTokAdsFieldsSchema.js
  packages/connectors/test/Sources/TikTokAds/Source.test.js
  packages/connectors/test/support/loadGasClass.js
  packages/connectors/vitest.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(bigquery): alias output-control queries as main when table name matches column (#1410)
  .changeset/6685-bq-table-column-name-collision.md
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder-edge-cases.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.aggregation.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-query.builder.ts
  apps/backend/src/data-marts/services/report-sql-composer.aggregation.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): introduce buildBlendedFieldUnifiedName for stable field aliasing
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-field-name.spec.ts
  apps/backend/src/data-marts/services/blended-field-name.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(scripts): make npm scripts cross-platform on Windows (#1368)
  .changeset/windows-cross-platform-support.md
  apps/ctl/package.json
  apps/owox/package.json
  packages/api-client/package.json
  packages/idp-better-auth/package.json
  packages/idp-owox-better-auth/package.json
  packages/idp-protocol/package.json
  packages/internal-helpers/package.json
  tools/setup-husky.mjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(backend): cover nested blended field naming at schema service
  apps/backend/src/data-marts/data-storage-types/interfaces/blended-query-builder.interface.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): preserve project resource during OAuth registration
  apps/backend/src/ee/mcp/controllers/mcp-metadata.controller.spec.ts
  apps/backend/src/ee/mcp/controllers/mcp-metadata.controller.ts
  apps/backend/test/mcp-oauth.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Update useColumnVisibility.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useColumnVisibility.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): address model canvas review feedback
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
Due: none

fix(mcp): keep inline log payloads sink-schema-stable
  apps/backend/src/ee/mcp/observability/mcp-tool-call-event.spec.ts
  apps/backend/src/ee/mcp/observability/mcp-tool-call-event.ts
  packages/internal-helpers/src/integrations/blob-store/payload-offloader.test.ts
  packages/internal-helpers/src/integrations/blob-store/payload-offloader.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(internal-helpers): correct event producer name typo (owox-data-mats → owox-data-marts)
  packages/internal-helpers/src/integrations/event-bus/message-format.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(mcp): keep inline log payloads sink-schema-stable (#1417)
  apps/backend/src/ee/mcp/observability/mcp-tool-call-event.spec.ts
  apps/backend/src/ee/mcp/observability/mcp-tool-call-event.ts
  packages/internal-helpers/src/integrations/blob-store/payload-offloader.test.ts
  packages/internal-helpers/src/integrations/blob-store/payload-offloader.ts
  packages/internal-helpers/src/integrations/event-bus/message-format.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@edf4caeb97f0c0c8628422c96354d3b90aeb00a9 🚀
  pagefind/index/en_0be6d52.pf_index
  pagefind/index/en_3a63c3c.pf_index
  pagefind/index/en_4514c38.pf_index
  pagefind/index/en_55ce4da.pf_index
  pagefind/index/en_57ee5e3.pf_index
  pagefind/index/en_7f5dbff.pf_index
  pagefind/index/en_7fb26f3.pf_index
  pagefind/index/en_894cadb.pf_index
  pagefind/index/en_976fef5.pf_index
  pagefind/index/en_a1c7e9f.pf_index
  pagefind/index/en_aafe408.pf_index
  pagefind/index/en_bcfe8e4.pf_index
  pagefind/index/en_c472169.pf_index
  pagefind/index/en_c566428.pf_index
  pagefind/index/en_c960f9b.pf_index
  pagefind/index/en_cc10d78.pf_index
  pagefind/index/en_cdd8ff3.pf_index
  pagefind/index/en_dc5fc46.pf_index
  pagefind/index/en_ddd1233.pf_index
  pagefind/index/en_e05bf31.pf_index
  pagefind/index/en_e7e8dd7.pf_index
  pagefind/index/en_fed2c2a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3d34f0e22c.pf_meta
  pagefind/pagefind.en_aebbbb51e7.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(web): open the aggregation editor immediately for a pending column
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowAggregationIcon.autoOpen.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowAggregationIcon.tsx
Due: none

fix(web): render the Unique count row in the field-list monospace font
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
Due: none

chore: add changeset for aggregation picker open + Unique count font
  .changeset/aggregation-picker-open-and-unique-count-font.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): stop schema output column toggles from resetting
  .changeset/6725-schema-column-visibility-reset.md
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useColumnVisibility.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SchemaTable.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): allow clearing the Last-N filter input with Backspace
  .changeset/aggregation-picker-open-and-unique-count-font.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): add a delete action to the filter/slice editor popover
  .changeset/aggregation-picker-open-and-unique-count-font.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterOrSliceEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(web): guard the editor delete button is hidden in multi-item list mode
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.test.tsx
Due: none

test(web): cover the pending-column auto-open flow in AggregationSettingsDropdown
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.autoOpen.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.tsx
Due: none

Fixes after the review.
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/AddConfigurationButton.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/test/Sources/TikTokAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): disable Apply for a new aggregation column until a function or bucket is chosen
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationEditorPopover.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationEditorPopover.tsx
Due: none

chore: note the aggregation Apply-gating in the changeset
  .changeset/aggregation-picker-open-and-unique-count-font.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): trim the Last-N filter value before validation
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
Due: none

feat(http-data): stream aggregations and date buckets
  .changeset/http-data-aggregations.md
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.openapi.spec.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.ts
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.ts
  apps/backend/src/data-marts/services/http-data/http-data-column-validator.service.spec.ts
  apps/backend/src/data-marts/services/http-data/http-data-column-validator.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/test/http-data.e2e-spec.ts
  apps/ctl/src/commands/data-marts/stream.test.ts
  apps/ctl/src/commands/data-marts/stream.ts
  docs/api/api-client.md
  docs/api/owox-ctl.md
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fixes after the review
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/shared/constants/connector-config.test.ts
  apps/web/src/features/connectors/shared/constants/connector-config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(auth): rename KYA Storage option labels for MQO
  packages/idp-owox-better-auth/src/core/onboarding-constants.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(auth): rename KYA Storage option labels for MQO (#1421)
  packages/idp-owox-better-auth/src/core/onboarding-constants.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(reports): report column picker UX fixes (#6733) (#1419)
  .changeset/aggregation-picker-open-and-unique-count-font.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationEditorPopover.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.autoOpen.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterOrSliceEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowAggregationIcon.autoOpen.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowAggregationIcon.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowFilterIcon.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
