Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: update linked in GETTING_STARTED files
  packages/connectors/src/Sources/LinkedInAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInPages/GETTING_STARTED.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update table-data-mart.md
  docs/getting-started/setup-guide/table-data-mart.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update sql-data-mart.md
  docs/getting-started/setup-guide/sql-data-mart.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update view-data-mart.md
  docs/getting-started/setup-guide/view-data-mart.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(schedule): simplify getScheduleDescription by removing currentTimezone parameter
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
  apps/web/src/features/data-marts/scheduled-triggers/utils/schedule-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: make destination name static in sources schemas
  packages/connectors/src/Sources/BingAds/BingAdsAPIReference/BingAdsFieldsSchema.js
  packages/connectors/src/Sources/BingAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/CriteoAdsAPIReference/CriteoAdsFieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/LinkedIn/Connector.js
  packages/connectors/src/Sources/LinkedIn/LinkedInAdsAPIReference/LinkedInAdsFieldsSchema.js
  packages/connectors/src/Sources/LinkedIn/LinkedInPagesAPIReference/LinkedInPagesFieldsSchema.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/OpenExchangeRatesAPIReference/OpenExchangeRatesFieldsSchema.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Helper.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/TikTokAdsAPIReference/TikTokAdsFieldsSchema.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/XAdsAPIReference/XAdsFieldsSchema.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): extract getServiceAccountLink to utils
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-destination/shared/services/types/update-data-destination.request.dto.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/utils/google-cloud.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): extract createFormPayload to utils
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/utils/form.utils.ts
  apps/web/src/utils/google-cloud.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor(web): renamed google-cloud and form utils
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/utils/form-utils.ts
  apps/web/src/utils/google-cloud-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: resolve PR comments
  packages/connectors/src/Sources/LinkedInAds/manifest.json
  packages/connectors/src/Sources/LinkedInPages/CREDENTIALS.md
  packages/connectors/src/Sources/LinkedInPages/manifest.json
Due: prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: remove redundant methods and simplify code structure
  packages/connectors/src/Core/Utils/ConnectorUtils.js
  packages/connectors/src/Core/Utils/FormatUtils.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: add EndDate parameter to LinkedIn connectors
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add correct logic with manual backfill to LinkedIn Pages and Ads
  packages/connectors/src/Sources/LinkedInAds/Code.gs
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Code.gs
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: remove extra parameter in LinkedIn Ads
  packages/connectors/src/Sources/LinkedInAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: added changeset
  .changeset/improving-credentials-management-security.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: add extra check to values in areValuesEqual
  packages/connectors/src/Storages/GoogleSheets/GoogleSheetsStorage.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: make destination name static in sources schemas
  packages/connectors/src/Sources/BingAds/BingAdsAPIReference/BingAdsFieldsSchema.js
  packages/connectors/src/Sources/BingAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/CriteoAdsAPIReference/CriteoAdsFieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/LinkedInAdsFieldsSchema.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/LinkedInPages/LinkedInPagesAPIReference/LinkedInPagesFieldsSchema.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/OpenExchangeRatesAPIReference/OpenExchangeRatesFieldsSchema.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Helper.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/TikTokAdsAPIReference/TikTokAdsFieldsSchema.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/XAdsAPIReference/XAdsFieldsSchema.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add correct DestinationSheetName and DestinationTableName to LinkedInAdsConnector
  packages/connectors/src/Core/Utils/FormatUtils.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: move utils to top in clasp.json
  packages/connectors/src/Sources/BankOfCanada/.clasp.json
  packages/connectors/src/Sources/BingAds/.clasp.json
  packages/connectors/src/Sources/CriteoAds/.clasp.json
  packages/connectors/src/Sources/FacebookMarketing/.clasp.json
  packages/connectors/src/Sources/GitHub/.clasp.json
  packages/connectors/src/Sources/LinkedInAds/.clasp.json
  packages/connectors/src/Sources/LinkedInPages/.clasp.json
  packages/connectors/src/Sources/OpenExchangeRates/.clasp.json
  packages/connectors/src/Sources/RedditAds/.clasp.json
  packages/connectors/src/Sources/TikTokAds/.clasp.json
  packages/connectors/src/Sources/XAds/.clasp.json
  packages/connectors/src/Templates/PublicEndPoint/.clasp.json
  packages/connectors/src/Templates/Token-Based/.clasp.json
Due: prettier --write --config ./prettier.config.js

feat(web): improve connector configuration options
  .changeset/updated-connector-configuration-step.md
  apps/backend/src/data-marts/services/connector.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add JWT authentication infrastructure for Google service accounts
  apps/backend/src/bootstrap.ts
  apps/backend/src/common/jwt-body/google-jwt-body.decorator.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: implement data caching system for improved performance
  apps/backend/src/data-marts/dto/domain/cached-reader-data.dto.ts
  apps/backend/src/data-marts/dto/domain/report-data-header.dto.ts
  apps/backend/src/data-marts/entities/report-data-cache.entity.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/migrations/1754139488045-create-report-data-cache-table.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add report headers generation system
  apps/backend/src/data-marts/data-storage-types/athena/interfaces/athena-reader-state.interface.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/interfaces/bigquery-reader-state.interface.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/facades/report-headers-generator.facade.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/report-headers-generator.interface.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: implement credentials management and secret key rotation
  apps/backend/src/data-marts/data-destination-types/facades/data-destination-credentials-processor.facade.ts
  apps/backend/src/data-marts/data-destination-types/facades/data-destination-secret-key-rotator.facade.ts
  apps/backend/src/data-marts/data-destination-types/interfaces/data-destination-credentials-processor.interface.ts
  apps/backend/src/data-marts/data-destination-types/interfaces/data-destination-secret-key-rotator.interface.ts
  apps/backend/src/data-marts/dto/domain/rotate-secret-key.command.ts
  apps/backend/src/data-marts/use-cases/rotate-secret-key.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add Looker Studio Connector core implementation
  apps/backend/src/data-marts/controllers/external/looker-studio-connector.controller.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/aggregation-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/config-field-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/field-concept-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/field-data-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/field-semantic-group.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/field-semantic-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/filter-operator-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/connection-config.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/connector-request-base-config.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/connector-request-config.schema.v1.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/get-config.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/get-data.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/get-schema.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/looker-studio-connector-config.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/looker-studio-connector-credentials.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-config.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-schema.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-credentials-processor.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-credentials-validator.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-secret-key-rotator.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-type-mapper.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: integrate Looker Studio with existing data destination system
  apps/backend/src/data-marts/data-destination-types/data-destination-config.guards.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-config.type.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials.type.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-facades.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/data-marts.module.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: update core services for Looker Studio support
  apps/backend/src/data-marts/dto/domain/data-destination.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-destination-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/create-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance data storage services with new interfaces
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-facades.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-report-reader-state.interface.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-report-reader.interface.ts
  apps/backend/src/data-marts/dto/domain/report-data-description.dto.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add frontend support for Looker Studio
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: improve Google Sheets services and remove unused code
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-formatter.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

chore: update dependencies and API specifications
  apps/backend/package.json
  apps/backend/src/data-marts/controllers/data-destination.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-destination.api.ts
  apps/backend/src/data-marts/data-destination-types/factories/data-destination-public-credentials.factory.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs: add changeset for Looker Studio Connector support
  .changeset/looker-studio-connector-support.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Refactor tutorial structure for improved readability
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/res/reddit_accountid.png
  packages/connectors/src/Sources/RedditAds/res/reddit_credentials.png
  packages/connectors/src/Sources/RedditAds/res/reddit_import.png
  packages/connectors/src/Sources/RedditAds/res/reddit_importcurrentday.png
  packages/connectors/src/Sources/RedditAds/res/reddit_pasteid.png
  packages/connectors/src/Sources/RedditAds/res/reddit_reimport.png
  packages/connectors/src/Sources/RedditAds/res/reddit_tokens.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
