Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2 --fix

chore: Changeset for data mart schema management feature
  .changeset/schema-management-feature.md
Due: markdownlint-cli2 --fix

test workflows
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connector-runner.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-owox.yml
  .github/workflows/test-web.yml
  apps/web/package.json
  package-lock.json
Due: prettier --write

feat(web): enhance GoogleSheetsReportsTable styling
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsActionsCell/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/SortableHeader/SortableHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/TablePagination/TablePagination.tsx
  apps/web/src/features/data-marts/reports/list/components/TableToolbar/TableToolbar.tsx
  apps/web/src/features/data-marts/reports/list/components/ToggleColumnsHeader/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/reports/list/components/ToggleColumnsHeader/index.ts
  apps/web/src/features/data-marts/reports/list/components/columns/columnKeys.ts
  apps/web/src/features/data-marts/reports/list/components/columns/columnLabels.ts
  apps/web/src/features/data-marts/reports/list/components/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/model/hooks/useColumnVisibility.ts
Due: none

feat(web): enhance ScheduledTriggerTable with improved column definitions and responsive widths
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
Due: none

fix(web): update ToggleColumnsHeader components for consistent padding and enhance ScheduledTriggerTable column headers
  apps/web/src/features/data-destination/list/components/DataDestinationTable/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/ToggleColumnsHeader.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/ToggleColumnsHeader.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
Due: none

feat: change open exchange rates DestinationTableName
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
Due: none

Replace GmailApp with MailApp to reduce email permissions
  packages/connectors/src/Configs/AppsScript/EmailNotification.js
Due: none

feat: add noReply to App Script EmailNotification
  packages/connectors/src/Configs/AppsScript/EmailNotification.js
Due: none

fix: add null check in stringifyNeastedFields to prevent TypeError
  packages/connectors/src/Core/AbstractStorage.js
Due: none

refactor(web): resolve code review feedback for data mart schema settings
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/SchemaFieldExpandAllButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/SchemaFieldExpandButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/SchemaFieldTypeSelect.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/index.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/TableToolbar.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/table/index.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/AthenaSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SchemaTable.tsx
  packages/ui/src/components/common/drag-handle.tsx
  packages/ui/src/components/common/editable-text.tsx
  packages/ui/src/components/common/expand-all-button.tsx
  packages/ui/src/components/common/expand-button.tsx
  packages/ui/src/components/common/search-input.tsx
  packages/ui/src/components/common/sortable-table-row.tsx
Due: none

feat(org): add markdownlint to lint-staged
  .lintstagedrc.json
  apps/backend/.lintstagedrc.json
  apps/docs/.lintstagedrc.json
  apps/docs/package.json
  apps/owox/.lintstagedrc.json
  apps/web/.lintstagedrc.json
  eslint.config.mjs
  packages/connector-runner/.lintstagedrc.json
  packages/connector-runner/package.json
  packages/connectors/.lintstagedrc.json
  packages/ui/.lintstagedrc.json
  packages/ui/prettier.config.js
Due: prettier --write

feat(org): add root linting scripts
  .lintstagedrc.json
  .markdownlint-cli2.mjs
  .prettierignore
  package-lock.json
  package.json
  prettier.config.js
  prettier.config.mjs
Due: prettier --write

feat(workflows): add CI workflows for testing and building workspaces
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connector-runner.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-owox.yml
  .github/workflows/test-web.yml
  .markdownlint-cli2.mjs
  apps/web/package.json
Due: prettier --write

fix: lint-staged configs and connector-runner test scripts
  .github/workflows/test-all.yml
  .github/workflows/test-connector-runner.yml
  .lintstagedrc.json
  apps/backend/.lintstagedrc.json
  apps/docs/.lintstagedrc.json
  apps/owox/.lintstagedrc.json
  apps/web/.lintstagedrc.json
  packages/connector-runner/.lintstagedrc.json
  packages/connector-runner/package.json
  packages/connectors/.lintstagedrc.json
  packages/ui/.lintstagedrc.json
Due: prettier --write

fix: code format for root and @owox/ui
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/alert.tsx
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/breadcrumb.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/common/multi-select.tsx
  packages/ui/src/components/common/relative-time.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/drawer.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/hover-card.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/skeleton.tsx
  packages/ui/src/components/switch.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/components/textarea.tsx
  packages/ui/src/components/tooltip.tsx
  packages/ui/src/styles/globals.css
  tools/setup-husky.mjs
Due: none

feat(workflows): standardize workflow names and add linting configurations for workspaces
  .github/workflows/deploy-docs.yml
  .github/workflows/lint-all.yml
  .github/workflows/lint-backend.yml
  .github/workflows/lint-connector-runner.yml
  .github/workflows/lint-connectors.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-root.yml
  .github/workflows/lint-ui.yml
Due: prettier --write

fix: update config md-lint
  .markdownlint-cli2.mjs
Due: none

fix: formate code for @owox/ui
  packages/ui/src/components/common/drag-handle.tsx
  packages/ui/src/components/common/editable-text.tsx
  packages/ui/src/components/common/expand-all-button.tsx
  packages/ui/src/components/common/expand-button.tsx
  packages/ui/src/components/common/search-input.tsx
  packages/ui/src/components/common/sortable-table-row.tsx
Due: none

fix(backend): update statis configurations
  apps/backend/src/config/express-static.config.ts
Due: none

fix: record fields in data mart schema editor, schema for connector defined data mart
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.tsx
Due: none

fix(web): data mart schema for BigQuery
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.tsx
Due: none

fix(assets): update Facebook marketing resource images
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_checkbox.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_gettoken.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_token.png
Due: none

feat(docs): added gtm id from env
  apps/docs/.env.example
  apps/docs/astro.config.mjs
  apps/docs/scripts/env-config.js
  apps/docs/src/components/starlight/PageFrame.astro
Due: none

feat(docs): updated github workflow
  .github/workflows/deploy-docs.yml
  apps/docs/.env.example
Due: prettier --write

feat(docs): updated github workflow
  .github/workflows/deploy-docs.yml
Due: prettier --write

feat(docs): added script if gtm id is specified
  apps/docs/astro.config.mjs
  apps/docs/src/components/starlight/PageFrame.astro
Due: none

fix: format package.json
  package.json
Due: prettier --write

feat(backend): data mart schema use cases flow improved
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-data-mart-schema.parser.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-data-mart-schema.parser.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-mart-schema-parser-facade.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-mart-schema-parser.interface.ts
  apps/backend/src/data-marts/use-cases/actualize-data-mart-schema.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.ts
Due: none

org(workflows): update ci command
  .github/workflows/deploy-docs.yml
  .github/workflows/lint-all.yml
  .github/workflows/lint-backend.yml
  .github/workflows/lint-connector-runner.yml
  .github/workflows/lint-connectors.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-root.yml
  .github/workflows/lint-ui.yml
  .github/workflows/lint-web.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connector-runner.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-owox.yml
  .github/workflows/test-web.yml
Due: prettier --write

fix: update package-lock.json
  package-lock.json
Due: prettier --write

refactor(web): use `useCallback` for interval handlers in ScheduleConfig
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
Due: none

feat(backend): SQL dry run endpoint
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-sql-dry-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sql-dry-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-facades.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/facades/sql-dry-run-executor.facade.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/sql-dry-run-executor.interface.ts
  apps/backend/src/data-marts/dto/domain/sql-dry-run-result.dto.ts
  apps/backend/src/data-marts/dto/domain/sql-dry-run.command.ts
  apps/backend/src/data-marts/dto/presentation/sql-dry-run-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/sql-dry-run-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/use-cases/sql-dry-run.service.ts
  package-lock.json
Due: prettier --write

Add utility functions for bytes formatting and debounced values
  apps/web/src/features/data-marts/edit/components/SqlValidator/SqlValidator.tsx
  apps/web/src/features/data-marts/shared/types/api/request/sql-validation-request.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/sql-validation-response.dto.ts
  apps/web/src/hooks/use-debounce.ts
  apps/web/src/utils/format-bytes.ts
  apps/web/src/utils/index.ts
Due: none

Add SQL validation request and response DTOs
  apps/web/src/features/data-marts/shared/types/api/request/index.ts
  apps/web/src/features/data-marts/shared/types/api/request/sql-validation-request.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/index.ts
  apps/web/src/features/data-marts/shared/types/api/response/sql-validation-response.dto.ts
Due: none

Add SQL validation method to data mart service
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
Due: none

Add SQL validator component and integrate it into data mart definition settings
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/SqlValidator/SqlValidator.tsx
Due: none

fix(backend): update error message for incomplete storage setup in SQL dry run
  apps/backend/src/data-marts/use-cases/sql-dry-run.service.ts
Due: none

refactor(web): extract SQL query generation logic into a utility function in DataMartDefinitionSettings
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
Due: none

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{yml,yaml})
  markdownlint-cli2 --fix: any of: *.md
