Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

perf(connectors): prune partitions in BigQuery incremental MERGE runs
  .changeset/6880-bq-merge-partition-pruning.md
  packages/connectors/CREATING_CONNECTOR.md
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

self-review
  packages/connectors/CREATING_CONNECTOR.md
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: add a Microsoft Excel destination page
  apps/docs/data/meta-content.csv
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/microsoft-excel.md
  docs/getting-started/billing/consumption-units.md
  docs/getting-started/core-concepts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): address partition pruning review feedback
  packages/connectors/CREATING_CONNECTOR.md
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@67f5afa7fb5486f2789c2bef4126a9008e5b091e 🚀
  packages/connectors/creating-connector/index.html
  pagefind/fragment/en_36ed4f4.pf_fragment
  pagefind/fragment/en_c35baa2.pf_fragment
  pagefind/index/en_12fcb6e.pf_index
  pagefind/index/en_1d26e63.pf_index
  pagefind/index/en_1fcfe15.pf_index
  pagefind/index/en_25632f2.pf_index
  pagefind/index/en_373239b.pf_index
  pagefind/index/en_37aca2d.pf_index
  pagefind/index/en_38b452a.pf_index
  pagefind/index/en_452178b.pf_index
  pagefind/index/en_4b1ebb4.pf_index
  pagefind/index/en_4b5b456.pf_index
  pagefind/index/en_4eedce9.pf_index
  pagefind/index/en_5f9f54d.pf_index
  pagefind/index/en_61a33b5.pf_index
  pagefind/index/en_659b32e.pf_index
  pagefind/index/en_7ec7d67.pf_index
  pagefind/index/en_903d6df.pf_index
  pagefind/index/en_9448e83.pf_index
  pagefind/index/en_96785bd.pf_index
  pagefind/index/en_993eeb5.pf_index
  pagefind/index/en_9fe6faa.pf_index
  pagefind/index/en_af365e2.pf_index
  pagefind/index/en_afdb574.pf_index
  pagefind/index/en_b314456.pf_index
  pagefind/index/en_bae964e.pf_index
  pagefind/index/en_c9635c2.pf_index
  pagefind/index/en_da6f7bb.pf_index
  pagefind/index/en_dde1caf.pf_index
  pagefind/index/en_ecf9149.pf_index
  pagefind/index/en_f244771.pf_index
  pagefind/index/en_f29b31b.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_33a2a7c7ad.pf_meta
  pagefind/pagefind.en_48546b9d68.pf_meta
Due: prettier --write --config ./prettier.config.js

docs: complete reusable credentials references
  .changeset/6862-reusable-credentials.md
  docs/plugins/credential-definitions.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: address reusable credentials review feedback
  apps/backend/package.json
  apps/backend/src/data-marts/credentials/entities/credential.entity.ts
  apps/backend/src/data-marts/credentials/mappers/credential.mapper.spec.ts
  apps/backend/src/data-marts/credentials/mappers/credential.mapper.ts
  apps/backend/src/data-marts/credentials/services/credential-external-definition-registry.service.spec.ts
  apps/backend/src/data-marts/credentials/services/credential-external-definition-registry.service.ts
  apps/backend/src/data-marts/credentials/services/credential-fetch.service.spec.ts
  apps/backend/src/data-marts/credentials/services/credential-fetch.service.ts
  apps/backend/src/data-marts/credentials/services/external-credential-manifest.spec.ts
  apps/backend/src/data-marts/credentials/services/external-credential-manifest.ts
  apps/backend/src/data-marts/credentials/use-cases/create-credential.service.spec.ts
  apps/backend/src/data-marts/credentials/use-cases/create-credential.service.ts
  apps/backend/src/data-marts/credentials/use-cases/update-credential.service.spec.ts
  apps/backend/src/data-marts/credentials/use-cases/update-credential.service.ts
  apps/backend/src/data-marts/credentials/use-cases/validate-credential.service.spec.ts
  apps/backend/src/data-marts/credentials/use-cases/validate-credential.service.ts
  apps/backend/src/migrations/1787788800003-add-credential-validation-state.ts
  apps/backend/src/migrations/reusable-credentials.migration.spec.ts
  apps/backend/src/plugin-host/services/external-credential-definition-sync.service.spec.ts
  apps/backend/src/plugin-host/services/external-credential-definition-sync.service.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
  apps/web/src/features/credentials/CredentialsManager.tsx
  apps/web/src/features/credentials/CredentialsTable.test.tsx
  apps/web/src/features/credentials/CredentialsTable.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.test.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.tsx
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
  package-lock.json
  packages/plugin-sdk/src/credentials.test.ts
  packages/plugin-sdk/src/credentials.ts
  packages/plugin-sdk/src/iframe-transport.test.ts
  packages/plugin-sdk/src/iframe-transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): open OWOX BI from the project menu in the current project
  .changeset/6897-owox-bi-project-menu-link.md
  apps/web/src/components/AppSidebar/ProjectMenu/items.ts
  apps/web/src/components/AppSidebar/ProjectMenu/types.ts
  apps/web/src/components/AppSidebar/ProjectMenu/useProjectMenu.test.ts
  apps/web/src/components/AppSidebar/ProjectMenu/useProjectMenu.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): link the Google Sheets header note to the report
  .changeset/6898-sheets-note-report-link.md
  apps/backend/src/common/helpers/data-mart-url.helper.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: support private credential definitions
  .changeset/6862-reusable-credentials.md
  apps/backend/src/plugin-host/errors/plugin-host.errors.ts
  apps/backend/src/plugin-host/services/external-credential-definition-sync.service.spec.ts
  apps/backend/src/plugin-host/services/external-credential-definition-sync.service.ts
  apps/backend/src/plugin-host/services/github-api.service.spec.ts
  apps/backend/src/plugin-host/services/github-auth.service.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/web/src/features/credentials/components/CredentialConfigSheet/CredentialForm.test.tsx
  apps/web/src/features/credentials/components/CredentialConfigSheet/CredentialForm.tsx
  docs/plugins/authoring-guide.md
  docs/plugins/credential-definitions.md
  docs/project/credentials.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: match the changeset to the repository's format
  .changeset/6898-sheets-note-report-link.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(web): use a valid RequestStatus in the project menu hook mock
  apps/web/src/components/AppSidebar/ProjectMenu/useProjectMenu.test.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: unify exact credential access
  .changeset/6862-reusable-credentials.md
  docs/plugins/authoring-guide.md
  docs/plugins/credential-definitions.md
  packages/plugin-sdk/README.md
  packages/plugin-sdk/src/credentials.test.ts
  packages/plugin-sdk/src/credentials.ts
  packages/plugin-sdk/src/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: say which column note carries the provenance block
  docs/destinations/supported-destinations/google-sheets.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): deep-link the Google Chat and email report links
  .changeset/6898-sheets-note-report-link.md
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/templates/email-report.template.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@19e9fb8d1d5d523fff99390778a090832b9f5449 🚀
  docs/destinations/supported-destinations/google-sheets/index.html
  pagefind/fragment/en_299678a.pf_fragment
  pagefind/fragment/en_6164b2e.pf_fragment
  pagefind/index/en_1093e52.pf_index
  pagefind/index/en_1fcfe15.pf_index
  pagefind/index/en_22ff5d5.pf_index
  pagefind/index/en_359ad55.pf_index
  pagefind/index/en_38b452a.pf_index
  pagefind/index/en_39a1399.pf_index
  pagefind/index/en_4681533.pf_index
  pagefind/index/en_46af1f2.pf_index
  pagefind/index/en_4b1ebb4.pf_index
  pagefind/index/en_4b5b456.pf_index
  pagefind/index/en_4eedce9.pf_index
  pagefind/index/en_5cfab63.pf_index
  pagefind/index/en_5f6554f.pf_index
  pagefind/index/en_65e4584.pf_index
  pagefind/index/en_77434ae.pf_index
  pagefind/index/en_993eeb5.pf_index
  pagefind/index/en_9ca55b3.pf_index
  pagefind/index/en_9fe6faa.pf_index
  pagefind/index/en_a4a35ff.pf_index
  pagefind/index/en_abddf19.pf_index
  pagefind/index/en_af365e2.pf_index
  pagefind/index/en_afdb574.pf_index
  pagefind/index/en_b314456.pf_index
  pagefind/index/en_bae964e.pf_index
  pagefind/index/en_c9635c2.pf_index
  pagefind/index/en_d9b5a1d.pf_index
  pagefind/index/en_da6f7bb.pf_index
  pagefind/index/en_dc96ad7.pf_index
  pagefind/index/en_ecf9149.pf_index
  pagefind/index/en_f244771.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_33a2a7c7ad.pf_meta
  pagefind/pagefind.en_f98132aaf9.pf_meta
Due: prettier --write --config ./prettier.config.js

fix: serialize blended config saves and reject blank join descriptions
  .changeset/6869-relationship-description-per-join.md
  apps/backend/src/data-marts/dto/presentation/update-blended-fields-config-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/update-blended-fields-config-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schema.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

style: format the blank-description specs with prettier
  apps/backend/src/data-marts/dto/presentation/update-blended-fields-config-api.dto.spec.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schema.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: normalize a blank join description override instead of failing entity load
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(shopify): add checkoutToken field to orders
  .changeset/6883-shopify-order-checkout-token.md
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
  packages/connectors/test/Sources/Shopify/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Review check
  .changeset/6871-linkedin-ads-adanalytics-truncation.md
  packages/connectors/src/Sources/LinkedInAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/test/Sources/LinkedInAds/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): describe partition pruning in user terms
  .changeset/6880-bq-merge-partition-pruning.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(shopify): add cartToken to orders and address review
  .changeset/6883-shopify-order-checkout-token.md
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
  packages/connectors/test/Sources/Shopify/Source.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(deps): bump qs to 6.16.0
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(mcp): guide users whose project has no published data mart
  .changeset/6808-mcp-empty-project-guidance.md
  apps/backend/src/ee/mcp/instructions/mcp-instructions.service.spec.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-ui-path.ts
  apps/backend/src/ee/mcp/tools/mcp-docs-urls.ts
  apps/backend/src/ee/mcp/tools/mcp-getting-started.util.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-getting-started.util.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.spec.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(facebook): explain app rate limits and label retry settings
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Sources/FacebookMarketing/TROUBLESHOOTING.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update Troubleshooting.md
  packages/connectors/src/Sources/FacebookMarketing/TROUBLESHOOTING.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(mcp): derive data mart creator roles from the access matrix
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-getting-started.util.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-getting-started.util.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Review changes
  .changeset/6902-retry-settings-labels.md
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Sources/FacebookMarketing/TROUBLESHOOTING.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: refresh recommended AI model catalogs
  apps/backend/src/data-marts/credentials/services/builtin-credential-definitions.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@b32bb51f0f8d66236dbc33750894bb5442b8ad2e 🚀
  pagefind/index/en_14a3b64.pf_index
  pagefind/index/en_1be3a2b.pf_index
  pagefind/index/en_206fe2a.pf_index
  pagefind/index/en_2977e03.pf_index
  pagefind/index/en_2b37be3.pf_index
  pagefind/index/en_3296359.pf_index
  pagefind/index/en_32c23bf.pf_index
  pagefind/index/en_3531c6a.pf_index
  pagefind/index/en_47b8dbe.pf_index
  pagefind/index/en_4eeb4b8.pf_index
  pagefind/index/en_52112a4.pf_index
  pagefind/index/en_5649568.pf_index
  pagefind/index/en_5be96ab.pf_index
  pagefind/index/en_5c8d141.pf_index
  pagefind/index/en_7d175d1.pf_index
  pagefind/index/en_90397d4.pf_index
  pagefind/index/en_97ee3d7.pf_index
  pagefind/index/en_a35ae4a.pf_index
  pagefind/index/en_a4e0602.pf_index
  pagefind/index/en_b2df81c.pf_index
  pagefind/index/en_c8ea8c6.pf_index
  pagefind/index/en_ca8372d.pf_index
  pagefind/index/en_caca222.pf_index
  pagefind/index/en_d44a16e.pf_index
  pagefind/index/en_dc46a02.pf_index
  pagefind/index/en_dd49f7a.pf_index
  pagefind/index/en_e62b858.pf_index
  pagefind/index/en_e751b41.pf_index
  pagefind/index/en_f967541.pf_index
  pagefind/index/en_fdfbc4a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_b250447abd.pf_meta
  pagefind/pagefind.en_ff16accae1.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@94c23bc2fddb7614f221e43c0ad2062f8e1823a5 🚀
  packages/connectors/src/sources/facebook-marketing/troubleshooting/index.html
  pagefind/fragment/en_8446778.pf_fragment
  pagefind/fragment/en_b8e4a16.pf_fragment
  pagefind/index/en_11d21ab.pf_index
  pagefind/index/en_1522d7e.pf_index
  pagefind/index/en_1be3a2b.pf_index
  pagefind/index/en_206fe2a.pf_index
  pagefind/index/en_47b8dbe.pf_index
  pagefind/index/en_49d37e1.pf_index
  pagefind/index/en_4eeb4b8.pf_index
  pagefind/index/en_5be96ab.pf_index
  pagefind/index/en_5c8d141.pf_index
  pagefind/index/en_83184a1.pf_index
  pagefind/index/en_90397d4.pf_index
  pagefind/index/en_97ee3d7.pf_index
  pagefind/index/en_a35ae4a.pf_index
  pagefind/index/en_b5ec422.pf_index
  pagefind/index/en_b9ed7da.pf_index
  pagefind/index/en_bcceace.pf_index
  pagefind/index/en_be86bff.pf_index
  pagefind/index/en_c2d7996.pf_index
  pagefind/index/en_c7797c7.pf_index
  pagefind/index/en_ca8372d.pf_index
  pagefind/index/en_caca222.pf_index
  pagefind/index/en_d44a16e.pf_index
  pagefind/index/en_de387e9.pf_index
  pagefind/index/en_e62b858.pf_index
  pagefind/index/en_e751b41.pf_index
  pagefind/index/en_e8c73da.pf_index
  pagefind/index/en_eda7929.pf_index
  pagefind/index/en_fdfbc4a.pf_index
  pagefind/index/en_fe42708.pf_index
  pagefind/index/en_fe71ef3.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_b250447abd.pf_meta
  pagefind/pagefind.en_d4d98af2d3.pf_meta
Due: prettier --write --config ./prettier.config.js

fix: scope project redirects to authenticated users
  .changeset/6894-user-bound-project-redirect.md
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.user-bound-redirect.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Review fixes
  .changeset/6871-linkedin-ads-adanalytics-truncation.md
  packages/connectors/src/Sources/LinkedInAds/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: restore curated 0.33.0 changelog
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: restore release lockfile
  package-lock.json
Due: prettier --write --config ./prettier.config.js
