Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

save
  .prettierignore
  apps/backend/src/data-marts/controllers/external/looker-studio-connector.controller.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-config.type.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials.type.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/aggregation-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/config-field-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/field-concept-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/field-data-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/field-semantic-group.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/field-semantic-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/enums/filter-operator-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/connector-request-base-config.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/connector-request-config.schema.v1.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/get-config.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/get-data.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/get-schema.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/looker-studio-connector-config.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/schemas/looker-studio-connector-credentials.schema.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-config.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-credentials-validator.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/services/report.service.ts
  package-lock.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Create core-concepts.md
  docs/getting-started/core-concepts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update core-concepts.md
  docs/getting-started/core-concepts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add files via upload
  docs/res/core-concepts.svg
Due: none

Add files via upload
  docs/res/UML (2) 1.svg
Due: none

updated core concepts svg
  docs/res/UML (2) 1.svg
  docs/res/core-concepts.svg
Due: none

refactor(connectors): remove unused ExternalLink import from ConnectorConfigurationItem component
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
Due: none

Add files via upload
  packages/connectors/res/Contributors' Guide Full v.1-Cover.jpg
Due: none

Create TUTORIAL.md
  packages/connectors/TUTORIAL.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update appsscript-edition.md
  appsscript-edition.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update TUTORIAL.md
  packages/connectors/TUTORIAL.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): remove unnecessary select-none class from Label component
  packages/ui/src/components/label.tsx
Due: none

refactor(web): change FormDescription from <p> to <div> for improved semantic structure
  packages/ui/src/components/form.tsx
Due: none

refactor(web): wrap Add report button in a span for improved layout and update tooltip text for clarity
  apps/web/src/features/data-marts/reports/list/components/TableToolbar/TableToolbar.tsx
Due: none

fix(web): update DataMart column label and icon for clarity
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/shared/types/data-mart-definition-type.model.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(org): change audit process
  .github/workflows/audit-all.yml
  apps/backend/package.json
  apps/owox/package.json
  package-lock.json
  package.json
  packages/connector-runner/package.json
  packages/connectors/package.json
Due: prettier --write --config ./prettier.config.js

Update README.md
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(org): add workspaces audit to workflows
  .github/workflows/audit-all.yml
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connector-runner.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-ui.yml
  .github/workflows/test-web.yml
  apps/backend/package.json
  apps/docs/package.json
  apps/owox/package.json
  apps/web/package.json
  package.json
  packages/connector-runner/package.json
  packages/connectors/package.json
  packages/ui/package.json
Due: prettier --write --config ./prettier.config.js

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
