Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(deps): bump typeorm to 0.3.31 (GHSA-2rp8-mm9q-fp49)
  apps/backend/package.json
  package-lock.json
  packages/test-utils/package.json
Due: prettier --write --config ./prettier.config.js

fix(deps): bump adm-zip to 0.6.0 (GHSA-xcpc-8h2w-3j85)
  package-lock.json
  packages/connectors/package.json
Due: prettier --write --config ./prettier.config.js

fix(deps): migrate docs to astro 7 + starlight 0.41 (GHSA-4g3v-8h47-v7g6, GHSA-f48w-9m4c-m7f5, GHSA-7pw4-f3q4-r2p2)
  apps/docs/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(api): add search client support
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/search.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/spec/search.api.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/api-client.md
  docs/api/coverage.md
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/api-client/src/search.test.ts
  packages/api-client/src/search.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(deps): override sharp >=0.35 and MCP's @hono/node-server >=2.0.5 (GHSA-f88m-g3jw-g9cj, GHSA-frvp-7c67-39w9)
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.js

Fixes after the review.
  .changeset/6765-connector-config-input-glitch.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationOneOfRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/NestedConfigurationField.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api): audit project run history contract
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/project-data-mart-runs.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/spec/project-data-mart-runs.api.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/project-data-mart-runs-response-api.dto.ts
  apps/backend/src/data-marts/use-cases/list-project-data-mart-runs.service.spec.ts
  apps/backend/src/data-marts/utils/normalize-project-list-pagination.spec.ts
  apps/backend/src/idp/dto/domain/user-projection.dto.ts
  docs/api/api-client.md
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fixes after the review
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.test.tsx
Due: none

refactor(api-client): list project run history
  .changeset/api-surface-maintenance.md
  docs/api/api-client.md
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(api): reconcile run history coverage
  docs/api/api-client.md
  docs/api/coverage.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(api): clarify search fallback
  apps/backend/src/data-marts/controllers/search.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/spec/search.api.ts
  docs/api/api-client.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(api): document search defaults
  apps/backend/src/data-marts/controllers/search.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/spec/search.api.ts
  docs/api/api-client.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): improve reporting tool responses
  .changeset/6749-mcp-reporting-tools.md
  apps/backend/src/data-marts/dto/domain/list-data-marts.command.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/services/data-mart.service.spec.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-ui-path.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/delete-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.ts
  apps/backend/src/ee/mcp/tools/list-destinations.tool.spec.ts
  apps/backend/src/ee/mcp/tools/list-destinations.tool.ts
  apps/backend/src/ee/mcp/tools/list-report-run-schedules.tool.spec.ts
  apps/backend/src/ee/mcp/tools/list-report-run-schedules.tool.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.spec.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.spec.ts
  apps/backend/src/ee/mcp/tools/tabular-serializer.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api): preserve nullable run definitions
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/project-data-mart-runs.controller.openapi.spec.ts
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  docs/api/api-client.md
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): address reporting tool feedback
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/services/blended-field-display-name.spec.ts
  apps/backend/src/data-marts/services/blended-field-display-name.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-project-summary.util.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.spec.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG for version 0.30.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): pin cookie ^2.0.1 so astro 7 build resolves the right copy
  apps/docs/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.js

feat(data-marts): add bulk actions to models canvas
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.test.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/index.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/DataMartBulkActions.tsx
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/index.ts
  apps/web/src/features/data-marts/shared/components/RunDataQualityBatchDialog/RunDataQualityBatchDialog.test.tsx
  apps/web/src/features/data-marts/shared/components/RunDataQualityBatchDialog/RunDataQualityBatchDialog.tsx
  apps/web/src/features/data-marts/shared/components/RunDataQualityBatchDialog/data-quality-batch.api.test.ts
  apps/web/src/features/data-marts/shared/components/RunDataQualityBatchDialog/data-quality-batch.api.ts
  apps/web/src/features/data-marts/shared/components/RunDataQualityBatchDialog/index.ts
  apps/web/src/features/data-marts/shared/components/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(docs): correct api docs links in owox changelog
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changeset for Google Sheets extension fix (#6769)
  .changeset/6769-extension-reset-columns-on-mart-switch.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: release MCP reporting tools as patch
  .changeset/6749-mcp-reporting-tools.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): correct api docs links in owox changelog (#1461)
  .changeset/6749-mcp-reporting-tools.md
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@4daae6666dd0edf15c173cdbf8e03c033da074b4 🚀
  docs/changelog/index.html
  docs/getting-started/setup-guide/mcp/index.html
  pagefind/fragment/en_269f45a.pf_fragment
  pagefind/fragment/en_3060b1b.pf_fragment
  pagefind/fragment/en_4d77d87.pf_fragment
  pagefind/fragment/en_631e475.pf_fragment
  pagefind/index/en_1141688.pf_index
  pagefind/index/en_1d040fe.pf_index
  pagefind/index/en_20cae48.pf_index
  pagefind/index/en_2ff51f4.pf_index
  pagefind/index/en_3475fc9.pf_index
  pagefind/index/en_3f6cf3c.pf_index
  pagefind/index/en_414d2cd.pf_index
  pagefind/index/en_512e9d4.pf_index
  pagefind/index/en_5370bd2.pf_index
  pagefind/index/en_5c481ab.pf_index
  pagefind/index/en_6a2d932.pf_index
  pagefind/index/en_6d60ff3.pf_index
  pagefind/index/en_6ec4a3d.pf_index
  pagefind/index/en_8b41df3.pf_index
  pagefind/index/en_9414fdf.pf_index
  pagefind/index/en_a03de7a.pf_index
  pagefind/index/en_b39572b.pf_index
  pagefind/index/en_b41f42a.pf_index
  pagefind/index/en_c8b3436.pf_index
  pagefind/index/en_dd213af.pf_index
  pagefind/index/en_dd486c1.pf_index
  pagefind/index/en_e3b4b5a.pf_index
  pagefind/index/en_f07dc01.pf_index
  pagefind/index/en_fa94996.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_29221ca45d.pf_meta
  pagefind/pagefind.en_d1923d1014.pf_meta
Due: prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@c3da328ba163322c19e29f1172928098c308c4a4 🚀
  docs/changelog/index.html
  pagefind/fragment/en_4d77d87.pf_fragment
  pagefind/fragment/en_d4b38ff.pf_fragment
  pagefind/index/en_1a49889.pf_index
  pagefind/index/en_20cae48.pf_index
  pagefind/index/en_2ff51f4.pf_index
  pagefind/index/en_3f6cf3c.pf_index
  pagefind/index/en_49f8f17.pf_index
  pagefind/index/en_4cae908.pf_index
  pagefind/index/en_5c481ab.pf_index
  pagefind/index/en_6ec4a3d.pf_index
  pagefind/index/en_70d14f4.pf_index
  pagefind/index/en_8625519.pf_index
  pagefind/index/en_8b41df3.pf_index
  pagefind/index/en_8f22f54.pf_index
  pagefind/index/en_9414fdf.pf_index
  pagefind/index/en_a03de7a.pf_index
  pagefind/index/en_a0face4.pf_index
  pagefind/index/en_aef7b22.pf_index
  pagefind/index/en_b41f42a.pf_index
  pagefind/index/en_c3094ef.pf_index
  pagefind/index/en_cabc66f.pf_index
  pagefind/index/en_d8819fa.pf_index
  pagefind/index/en_dd486c1.pf_index
  pagefind/index/en_e3b4b5a.pf_index
  pagefind/index/en_e610d2e.pf_index
  pagefind/index/en_f07dc01.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_ab037293c1.pf_meta
  pagefind/pagefind.en_d1923d1014.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(api-client): preserve empty search filters
  docs/api/api-client.md
  packages/api-client/src/search.test.ts
  packages/api-client/src/search.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

ci(docs): run docs build for every file the docs site is assembled from
  .github/workflows/test-docs.yml
Due: prettier --write --config ./prettier.config.js

feat(api): add search client support (#1456)
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/search.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/spec/search.api.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/api-client.md
  docs/api/coverage.md
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/api-client/src/search.test.ts
  packages/api-client/src/search.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@a54bf5dd8c798f0ad1714d067c3e24a9db59c967 🚀
  docs/api/api-client/index.html
  docs/api/coverage/index.html
  pagefind/fragment/en_369559a.pf_fragment
  pagefind/fragment/en_47edfa8.pf_fragment
  pagefind/fragment/en_7fb0d7d.pf_fragment
  pagefind/fragment/en_d16d61a.pf_fragment
  pagefind/index/en_1a49889.pf_index
  pagefind/index/en_2ab6eb9.pf_index
  pagefind/index/en_49f8f17.pf_index
  pagefind/index/en_4cae908.pf_index
  pagefind/index/en_5ca7354.pf_index
  pagefind/index/en_5fcedc6.pf_index
  pagefind/index/en_614080e.pf_index
  pagefind/index/en_70d14f4.pf_index
  pagefind/index/en_8625519.pf_index
  pagefind/index/en_8aea4ed.pf_index
  pagefind/index/en_8f22f54.pf_index
  pagefind/index/en_9d98fe1.pf_index
  pagefind/index/en_a0face4.pf_index
  pagefind/index/en_aef7b22.pf_index
  pagefind/index/en_c0571d9.pf_index
  pagefind/index/en_c3094ef.pf_index
  pagefind/index/en_cabc66f.pf_index
  pagefind/index/en_d2c6aab.pf_index
  pagefind/index/en_d8819fa.pf_index
  pagefind/index/en_dc938bc.pf_index
  pagefind/index/en_e4556e6.pf_index
  pagefind/index/en_e610d2e.pf_index
  pagefind/index/en_ea976e3.pf_index
  pagefind/index/en_f12f177.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4a436c6be3.pf_meta
  pagefind/pagefind.en_ab037293c1.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(data-quality): refine run status experience
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualitySummaryPanel.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualitySummaryPanel.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityWorkspace.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityWorkspace.tsx
  apps/web/src/features/data-marts/data-quality/model/use-data-quality-workspace.test.tsx
  apps/web/src/features/data-marts/data-quality/model/use-data-quality-workspace.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/DataQualityRunHistoryDetails.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/DataQualityRunHistoryDetails.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/shared/components/RunActivityIndicator/RunActivityIndicator.test.tsx
  apps/web/src/features/data-marts/shared/components/RunActivityIndicator/RunActivityIndicator.tsx
  apps/web/src/features/data-marts/shared/components/RunActivityIndicator/index.ts
  apps/web/src/features/data-marts/shared/components/RunActivityIndicator/run-activity.ts
  apps/web/src/features/data-marts/shared/components/index.ts
  apps/web/src/pages/data-marts/list/DataMartsPage.test.tsx
  apps/web/src/pages/data-marts/list/DataMartsPage.tsx
  apps/web/src/pages/data-marts/model-canvas/ModelCanvasPage.test.tsx
  apps/web/src/pages/data-marts/model-canvas/ModelCanvasPage.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(web): preserve typed input and focus in connector settings (#1449)
  .changeset/6765-connector-config-input-glitch.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationListRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationOneOfRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/NestedConfigurationField.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(api): audit project run history contract (#1457)
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/project-data-mart-runs.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/spec/project-data-mart-runs.api.ts
  apps/backend/src/data-marts/dto/domain/data-mart-run.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-run-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/project-data-mart-runs-response-api.dto.ts
  apps/backend/src/data-marts/entities/data-mart-run.entity.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/use-cases/list-project-data-mart-runs.service.spec.ts
  apps/backend/src/data-marts/utils/normalize-project-list-pagination.spec.ts
  apps/backend/src/idp/dto/domain/user-projection.dto.ts
  docs/api/api-client.md
  docs/api/coverage.md
  packages/api-client/src/project-run-history.test.ts
  packages/api-client/src/runs.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@d3fca8c69869b7ef3dae4851a40653c5971e558e 🚀
  docs/api/api-client/index.html
  docs/api/coverage/index.html
  pagefind/fragment/en_231433c.pf_fragment
  pagefind/fragment/en_369559a.pf_fragment
  pagefind/fragment/en_8e66da7.pf_fragment
  pagefind/fragment/en_d16d61a.pf_fragment
  pagefind/index/en_13e6fc7.pf_index
  pagefind/index/en_16c2fb5.pf_index
  pagefind/index/en_17d0f3e.pf_index
  pagefind/index/en_2ab6eb9.pf_index
  pagefind/index/en_3225d1f.pf_index
  pagefind/index/en_3f10cbe.pf_index
  pagefind/index/en_46f3cef.pf_index
  pagefind/index/en_54c5c98.pf_index
  pagefind/index/en_5ca7354.pf_index
  pagefind/index/en_5eea18d.pf_index
  pagefind/index/en_5fcedc6.pf_index
  pagefind/index/en_614080e.pf_index
  pagefind/index/en_69f2f32.pf_index
  pagefind/index/en_8aea4ed.pf_index
  pagefind/index/en_9d98fe1.pf_index
  pagefind/index/en_c0571d9.pf_index
  pagefind/index/en_c8c932a.pf_index
  pagefind/index/en_d2c6aab.pf_index
  pagefind/index/en_dc938bc.pf_index
  pagefind/index/en_e4556e6.pf_index
  pagefind/index/en_ea976e3.pf_index
  pagefind/index/en_ecaabb3.pf_index
  pagefind/index/en_f12f177.pf_index
  pagefind/index/en_f6922c3.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4a436c6be3.pf_meta
  pagefind/pagefind.en_e4779796c4.pf_meta
Due: prettier --write --config ./prettier.config.js

feat(mcp): allow explicit draft catalog listing
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): review follow-ups — quoted edge whitespace round-trips, self-maintaining fallback registry
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterValueEditor.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(api): audit HTTP Data streaming contract
  .changeset/api-surface-maintenance.md
  apps/backend/src/data-marts/controllers/external/http-data.controller.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.openapi.spec.ts
  apps/docs/scripts/api-coverage-matrix.mjs
  apps/docs/scripts/api-coverage-matrix.test.mjs
  docs/api/api-client.md
  docs/api/coverage.md
  packages/api-client/src/data-marts.test.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/index.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: retry transient Google Sheets requests
  packages/connectors/src/Sources/GoogleSheets/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance Google Sheets source connector with Google Picker integration and improved OAuth handling
  .changeset/google-sheets-source-connector.md
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleAdsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleAdsOauthRender.tsx
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  packages/connectors/src/Sources/GoogleSheets/CREDENTIALS.md
  packages/connectors/src/Sources/GoogleSheets/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleSheets/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
