Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,cjs,mjs}": [
    "eslint --fix --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.js"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.js"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.js"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

test(web): match the notifications heading by role, not by substring
  apps/web/e2e/specs/notifications.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): show report SQL without edit access
  .changeset/6776-show-sql-for-business-users.md
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  docs/project/ownership-and-sharing.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(data-marts): update generated-sql OpenAPI expectation
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-quality): verify project balance before execution
  apps/backend/src/data-marts/use-cases/run-data-quality.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@e02ff1525c5d945cd05dd6703d4801c1f902b645 🚀
  docs/project/ownership-and-sharing/index.html
  pagefind/fragment/en_3229c72.pf_fragment
  pagefind/fragment/en_ba3e582.pf_fragment
  pagefind/index/en_11549a3.pf_index
  pagefind/index/en_193cf72.pf_index
  pagefind/index/en_1b7814b.pf_index
  pagefind/index/en_1edaced.pf_index
  pagefind/index/en_3866c1d.pf_index
  pagefind/index/en_3e8943c.pf_index
  pagefind/index/en_4fa76d7.pf_index
  pagefind/index/en_56cf818.pf_index
  pagefind/index/en_5af524c.pf_index
  pagefind/index/en_780eb28.pf_index
  pagefind/index/en_7a9e149.pf_index
  pagefind/index/en_83f37ef.pf_index
  pagefind/index/en_9d96282.pf_index
  pagefind/index/en_a6b2073.pf_index
  pagefind/index/en_ab9c10a.pf_index
  pagefind/index/en_aeab620.pf_index
  pagefind/index/en_b01a36c.pf_index
  pagefind/index/en_b0fa1b5.pf_index
  pagefind/index/en_c0cfaa3.pf_index
  pagefind/index/en_c0fe5b4.pf_index
  pagefind/index/en_cc47d95.pf_index
  pagefind/index/en_d6f2953.pf_index
  pagefind/index/en_e8c9894.pf_index
  pagefind/index/en_f35f2a2.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_a8e7d04af3.pf_meta
  pagefind/pagefind.en_d97044ce14.pf_meta
Due: prettier --write --config ./prettier.config.js

test(data-quality): cover fully persisted resumed run
  apps/backend/src/data-marts/use-cases/run-data-quality.service.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): close the GitHub review's four blocking findings
  .changeset/6766-symmetric-aggregates-fanout.md
  apps/backend/src/data-marts/data-storage-types/blending/README.md
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.builder.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.planner.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.planner.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.spec.ts
  apps/backend/src/data-marts/dto/domain/blending-decision.dto.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/aggregate-function.schema.ts
  apps/backend/src/data-marts/dto/schemas/field-aggregation-governance.spec.ts
  apps/backend/src/data-marts/dto/schemas/mcp-query-run-metadata.schema.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.aggregation.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/web/src/app/api/apiClient.test.ts
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.test.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.test.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/shared/utils/showApiErrorToast.test.ts
  apps/web/src/shared/utils/showApiErrorToast.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(data-marts): live proof that joined MIN/MAX now agree with AVG
  apps/backend/test/integration/bigquery.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(data-marts): name joined fields as "Field (Data Mart)" in Google Sheets
  .changeset/6729-joined-field-naming.md
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.spec.ts
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.spec.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.ts
  apps/backend/src/data-marts/services/blended-field-display-name.spec.ts
  apps/backend/src/data-marts/services/blended-field-display-name.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-quality): handle blocked runs as restricted
  apps/backend/src/data-marts/dto/schemas/data-quality/data-quality-config.schema.spec.ts
  apps/backend/src/data-marts/enums/data-quality-summary-state.enum.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.test.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/components/DataQualityCompactStatusLink.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityCompactStatusLink.tsx
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.test.ts
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/shared/components/RunActivityIndicator/RunActivityIndicator.test.tsx
  apps/web/src/features/data-marts/shared/types/data-quality-summary.types.ts
  apps/web/src/features/data-marts/shared/utils/data-quality-status.test.ts
  apps/web/src/features/data-marts/shared/utils/data-quality-status.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): guard the joined-field naming check against a dropped destination
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.spec.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(backend): carry a machine-readable code on API failures
  apps/backend/src/common/exceptions/base-exception.filter.spec.ts
  apps/backend/src/common/exceptions/base-exception.filter.ts
  apps/backend/src/common/exceptions/base.exception.ts
  apps/backend/src/common/exceptions/business-violation.exception.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(backend): fail closed when a URL host cannot be resolved
  apps/backend/src/common/helpers/safe-url.helper.spec.ts
  apps/backend/src/common/helpers/safe-url.helper.ts
  apps/backend/src/notifications/services/notification-webhook.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(plugin-sdk): add the plugin SDK package
  .changeset/config.json
  package-lock.json
  packages/plugin-sdk/README.md
  packages/plugin-sdk/eslint.config.js
  packages/plugin-sdk/package.json
  packages/plugin-sdk/src/iframe-transport.test.ts
  packages/plugin-sdk/src/iframe-transport.ts
  packages/plugin-sdk/src/index.test.ts
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/protocol.ts
  packages/plugin-sdk/tsconfig.json
  packages/plugin-sdk/vitest.config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(auth): add plugin runtime access tokens
  apps/backend/src/idp/controllers/auth-context.controller.ts
  apps/backend/src/idp/decorators/auth-context.decorator.ts
  apps/backend/src/idp/decorators/index.ts
  apps/backend/src/idp/decorators/reject-plugin-auth.decorator.ts
  apps/backend/src/idp/dto/presentation/auth-context-response-api.dto.ts
  apps/backend/src/idp/guards/idp.guard.spec.ts
  apps/backend/src/idp/guards/idp.guard.ts
  apps/backend/src/idp/index.ts
  apps/backend/src/idp/ports/plugin-runtime-authorizer.port.ts
  apps/backend/src/idp/types/auth.types.ts
  packages/idp-better-auth/src/providers/better-auth-provider.test.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/token-service.test.ts
  packages/idp-better-auth/src/services/token-service.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.projectMemberApiKey.test.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/dto/idpOwoxPayloadDto.ts
  packages/idp-owox-better-auth/src/client/dto/index.ts
  packages/idp-owox-better-auth/src/client/dto/introspectionDto.test.ts
  packages/idp-owox-better-auth/src/client/dto/pluginRuntimeAuthFlowDto.ts
  packages/idp-owox-better-auth/src/mappers/client-payload-mapper.test.ts
  packages/idp-owox-better-auth/src/mappers/client-payload-mapper.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-protocol/src/providers/null-provider.test.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(ctl): add plugin management commands
  apps/ctl/package.json
  apps/ctl/src/base-command.ts
  apps/ctl/src/commands/plugins/publications/list.ts
  apps/ctl/src/commands/plugins/publish.ts
  apps/ctl/src/commands/plugins/resume.ts
  apps/ctl/src/commands/plugins/suspend.ts
  apps/ctl/src/commands/plugins/unpublish.ts
  apps/ctl/src/commands/plugins/update.ts
  apps/ctl/src/plugins-support.test.ts
  apps/ctl/src/plugins-support.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(api-client): add plugin operations and typed error codes
  .changeset/api-client-error-codes.md
  packages/api-client/eslint.config.js
  packages/api-client/package.json
  packages/api-client/src/api-key.ts
  packages/api-client/src/base64url.ts
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/errors.test.ts
  packages/api-client/src/errors.ts
  packages/api-client/src/index.ts
  packages/api-client/src/plugins.test.ts
  packages/api-client/src/plugins.ts
  packages/api-client/src/transport-seam.test.ts
  packages/api-client/src/transport.ts
  packages/api-client/src/transports/api-key-transport.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add the plugin gallery and runtime host
  apps/web/package.json
  apps/web/src/components/AppSidebar/AppSidebar.tsx
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.test.tsx
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.test.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.tsx
  apps/web/src/features/plugins/components/PluginCard.test.tsx
  apps/web/src/features/plugins/components/PluginCard.tsx
  apps/web/src/features/plugins/components/PublishPluginSheet.test.tsx
  apps/web/src/features/plugins/components/PublishPluginSheet.tsx
  apps/web/src/features/plugins/components/index.ts
  apps/web/src/features/plugins/hooks/useGalleryView.ts
  apps/web/src/features/plugins/hooks/usePluginPublications.test.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.ts
  apps/web/src/features/plugins/hooks/usePlugins.test.tsx
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/features/plugins/index.ts
  apps/web/src/features/plugins/repository.ts
  apps/web/src/features/plugins/runtime/fetchRuntimeToken.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/features/plugins/safeHttpsUrl.test.ts
  apps/web/src/features/plugins/safeHttpsUrl.ts
  apps/web/src/features/plugins/services/plugins.service.ts
  apps/web/src/features/plugins/types.ts
  apps/web/src/features/plugins/visibility.test.ts
  apps/web/src/features/plugins/visibility.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
  apps/web/src/pages/plugins/gallery/PluginsGalleryPage.test.tsx
  apps/web/src/pages/plugins/gallery/PluginsGalleryPage.tsx
  apps/web/src/pages/plugins/history/PluginHistoryPage.test.tsx
  apps/web/src/pages/plugins/history/PluginHistoryPage.tsx
  apps/web/src/pages/plugins/runtime/PluginRuntimePage.test.tsx
  apps/web/src/pages/plugins/runtime/PluginRuntimePage.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/plugins/routes.tsx
  apps/web/vitest.config.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(plugins): add the authoring guide and delivery changeset
  .changeset/plugin-gallery-initial-delivery.md
  docs/getting-started/deployment-guide/environment-variables.md
  docs/plugins/authoring-guide.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(destinations): withhold stored credentials from plugin runtime tokens
  apps/backend/src/data-marts/mappers/data-destination.mapper.spec.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): address follow-up review — no-resolver feedback, guard-aware in-memory mirror, docs style
  apps/backend/src/data-marts/services/data-mart.service.spec.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/web/src/features/data-marts/model-canvas/model/use-refresh-data-last-updated.ts
  docs/getting-started/setup-guide/data-last-updated.md
  docs/getting-started/setup-guide/mcp.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

build(plugin-sdk): publish the SDK standalone, off the app build path
  .github/workflows/publish.yml
  apps/web/package.json
  apps/web/src/features/plugins/runtime/pluginHostBridge.test.ts
  apps/web/src/features/plugins/runtime/pluginHostBridge.ts
  apps/web/src/features/plugins/runtime/protocol.ts
  package-lock.json
  packages/plugin-sdk/package.json
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

refactor: rename injectCredentialsForPreview to injectGoogleSheetsPreviewCredentials and streamline credential injection logic for Google Sheets connector
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-config.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-credentials.service.ts
  apps/backend/src/data-marts/use-cases/connector/preview-fields-connector.service.spec.ts
  apps/backend/src/data-marts/use-cases/connector/preview-fields-connector.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/GoogleSheetsServiceAccountField.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/GoogleSheetsServiceAccountField.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleAdsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleAdsOauthRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/FieldsSelectionStep.tsx
  apps/web/src/features/connectors/shared/components/GoogleAdsLoginButton/GoogleAdsLoginButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-refresh-data-mart-after-connector-run.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-refresh-data-mart-after-connector-run.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.test.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/Utils/OAuthUtils.js
  packages/connectors/src/Sources/GoogleSheets/Connector.js
  packages/connectors/src/Sources/GoogleSheets/README.md
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
  packages/connectors/test/AbstractConfig.test.js
  packages/connectors/test/GoogleSheets.test.js
  packages/connectors/test/storage-snapshot-safety.test.cjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: retry transient Google Sheets requests
  packages/connectors/src/Sources/GoogleSheets/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix Google Sheets copied credential validation
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: enhance Google Sheets source connector with Google Picker integration and improved OAuth handling
  .changeset/google-sheets-source-connector.md
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-credential-injector.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleAdsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleAdsOauthRender.tsx
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  packages/connectors/src/Sources/GoogleSheets/CREDENTIALS.md
  packages/connectors/src/Sources/GoogleSheets/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleSheets/Source.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor: split Google Sheets OAuth support
  .changeset/google-sheets-source-connector.md
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/google-sheets-preview-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/google-sheets-preview-credentials.service.ts
  apps/backend/src/data-marts/services/data-mart.service.spec.ts
  apps/backend/test/README.md
  apps/backend/test/connector-fields.e2e-spec.ts
  apps/backend/test/connector-oauth.e2e-spec.ts
  apps/backend/test/data-mart.e2e-spec.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/GoogleSheetsServiceAccountField.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.tsx
  apps/web/src/features/connectors/shared/components/GoogleSheetsLoginButton/GoogleSheetsLoginButton.tsx
  apps/web/src/features/connectors/shared/components/GoogleSheetsLoginButton/index.ts
  apps/web/src/features/connectors/shared/utils/google-sheets-fields.utils.test.ts
  apps/web/src/features/data-marts/edit/model/hooks/use-data-mart.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-refresh-data-mart-after-connector-run.test.tsx
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.test.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  apps/web/src/pages/oauth/GoogleSheetsCallback.tsx
  apps/web/src/pages/oauth/index.ts
  apps/web/src/routes/oauth.routes.tsx
  packages/connectors/src/Sources/GoogleSheets/CREDENTIALS.md
  packages/connectors/src/Sources/GoogleSheets/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleSheets/README.md
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: address Google Sheets connector review findings
  apps/backend/src/data-marts/services/connector/google-sheets-preview-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/google-sheets-preview-credentials.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/GoogleSheetsServiceAccountField.test.tsx
  apps/web/src/features/connectors/shared/model/context/reducer.ts
  apps/web/src/features/connectors/shared/model/context/types.ts
  apps/web/src/features/connectors/shared/model/hooks/useConnector.test.tsx
  apps/web/src/features/connectors/shared/model/hooks/useConnector.ts
  apps/web/src/features/connectors/shared/utils/google-sheets-fields.utils.test.ts
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: harden Google Sheets source connector
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/GoogleSheetsServiceAccountField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
  packages/connectors/test/GoogleSheets.test.js
  packages/connectors/test/storage-snapshot-safety.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat: add Google Sheets source connector
  apps/backend/src/data-marts/services/storage-snapshot-safety.contract.spec.ts
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/connector-runner.js
  packages/connectors/test/storage-snapshot-safety.test.cjs
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix connector snapshot publication across storages
  apps/backend/src/data-marts/services/data-mart.service.spec.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/web/src/features/connectors/shared/model/hooks/useConnector.test.tsx
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/test/storage-snapshot-safety.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: address remaining Google Sheets review feedback
  apps/backend/src/data-marts/connector-types/connector-capabilities.ts
  apps/backend/src/data-marts/services/connector/connector-fields-preview.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-fields-preview.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector.constants.ts
  apps/backend/src/data-marts/services/connector/connector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.test.tsx
  packages/connectors/src/Core/Exceptions.js
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/src/Sources/GoogleSheets/manifest.json
  packages/connectors/src/Storages/AwsRedshift/AwsRedshiftStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
  packages/connectors/test/GoogleSheets.test.js
  packages/connectors/test/storage-snapshot-safety.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: keep Google Sheets field selection navigable
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/shared/utils/google-sheets-fields.utils.test.ts
  apps/web/src/features/connectors/shared/utils/google-sheets-fields.utils.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix connector preview cleanup and test isolation
  apps/backend/src/data-marts/controllers/oauth-flow-only.controller.spec.ts
  apps/web/src/features/connectors/shared/model/hooks/useConnector.test.tsx
  apps/web/src/features/connectors/shared/model/hooks/useConnector.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix: address Google Sheets review feedback
  apps/backend/src/data-marts/controllers/connector.controller.ts
  apps/backend/src/data-marts/controllers/oauth-flow-only.controller.spec.ts
  apps/backend/src/data-marts/controllers/spec/connector.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/presentation/connector-fields-preview-request-api.dto.ts
  apps/backend/src/data-marts/services/connector/connector-fields-preview.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-fields-preview.service.ts
  apps/backend/src/data-marts/services/connector/connector-fields-schema.mapper.ts
  apps/backend/src/data-marts/services/connector/connector-preview-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-preview-credentials.service.ts
  apps/backend/src/data-marts/services/connector/connector-secret.service.ts
  apps/backend/src/data-marts/services/connector/connector.constants.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationOneOfRender.tsx
  apps/web/src/features/connectors/shared/api/connector-api.service.ts
  apps/web/src/features/connectors/shared/model/hooks/useConnector.test.tsx
  apps/web/src/features/connectors/shared/model/hooks/useConnector.ts
  apps/web/src/features/connectors/shared/utils/google-sheets-fields.utils.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-refresh-data-mart-after-connector-run.test.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-refresh-data-mart-after-connector-run.ts
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/GoogleSheets.test.js
  packages/connectors/test/storage-snapshot-safety.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): normalize both halves of a joined-field label
  .changeset/6729-joined-field-naming.md
  apps/backend/src/data-marts/services/blended-field-display-name.spec.ts
  apps/backend/src/data-marts/services/blended-field-display-name.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
