Repository OWOX/owox-data-marts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: enhance setup checklist and progress handling for AI assistant integration
  .changeset/6798-setup-checklist-mcp-step.md
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/project-setup-progress-listener.service.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.spec.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.ts
  apps/web/src/components/AppSidebar/SetupChecklist/items.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/useSetupProgress.ts
  apps/web/src/shared/icons/chat-gpt-icon.tsx
  packages/api-client/src/project-setup-progress.test.ts
  packages/api-client/src/project.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

improvements
  .changeset/6798-setup-checklist-mcp-step.md
  apps/backend/src/data-marts/services/project-setup-progress.service.spec.ts
  packages/api-client/src/project.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(data-marts): apply review feedback on server-owned field statuses
  apps/backend/src/data-marts/dto/presentation/update-data-mart-schema-api.dto.ts
  packages/test-utils/src/helpers/set-data-mart-schema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(data-marts): address draft join review feedback
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/use-cases/get-blendable-schema.service.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/shared/hooks/__tests__/useBlendableSchema.test.tsx
  apps/web/src/features/data-marts/shared/hooks/blendable-schema-query-key.ts
  apps/web/src/features/data-marts/shared/hooks/useBlendableSchema.ts
  apps/web/src/features/data-marts/shared/hooks/useInvalidateBlendableSchema.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

docs(plugins): qualify the repository link note for public repositories
  docs/plugins/trusted-plugins.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: derive the sort menu from the effective calculated-field level and keep Unique Count names out of unselected sorts
  .changeset/6768-output-controls-stale-rules.md
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/known-output-columns.util.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-cleanup.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-cleanup.ts
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: scope stale-sort degradation to saved-report runs and keep the picker's sort rules in step with the validator
  .changeset/6768-output-controls-stale-rules.md
  apps/backend/src/data-marts/dto/domain/blending-decision.dto.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/known-output-columns.util.spec.ts
  apps/backend/src/data-marts/services/known-output-columns.util.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-data-cache.service.spec.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.spec.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/SortRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-cleanup.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-cleanup.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-display.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-display.ts
  apps/web/src/shared/utils/showApiErrorToast.test.ts
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(reports): add AI assistant connection prompts and actions to Reports page
  .changeset/6798-reports-page-connect-ai-assistant-promo.md
  apps/web/src/pages/data-marts/reports/AiAssistantHintCard.tsx
  apps/web/src/pages/data-marts/reports/ConnectAiAssistantPromoActions.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/shared/components/PromoBlock/PromoBlock.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): apply review follow-ups on server-owned field statuses
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.type.ts
  apps/backend/src/data-marts/dto/presentation/update-data-mart-schema-api.dto.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.ts
  apps/backend/test/output-controls.e2e-spec.ts
  apps/backend/test/validation-schema.e2e-spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

Deploying to gh-pages from @ OWOX/owox-data-marts@bb52739a0ff44ac38414f47a94c68806dbea97a7 🚀
  packages/test-utils/readme/index.html
  pagefind/fragment/en_a96fcbd.pf_fragment
  pagefind/fragment/en_de40bc9.pf_fragment
  pagefind/index/en_20083ff.pf_index
  pagefind/index/en_22f5fe1.pf_index
  pagefind/index/en_2f37e3d.pf_index
  pagefind/index/en_3220cf5.pf_index
  pagefind/index/en_3b171ee.pf_index
  pagefind/index/en_45f0f72.pf_index
  pagefind/index/en_4fa47ac.pf_index
  pagefind/index/en_5f5ec08.pf_index
  pagefind/index/en_6117709.pf_index
  pagefind/index/en_6838551.pf_index
  pagefind/index/en_68a7744.pf_index
  pagefind/index/en_6ac44f7.pf_index
  pagefind/index/en_6f5da31.pf_index
  pagefind/index/en_768c833.pf_index
  pagefind/index/en_793e597.pf_index
  pagefind/index/en_7eea249.pf_index
  pagefind/index/en_81266b2.pf_index
  pagefind/index/en_8a343bb.pf_index
  pagefind/index/en_8bf7f74.pf_index
  pagefind/index/en_9032649.pf_index
  pagefind/index/en_b0f95df.pf_index
  pagefind/index/en_b4baacf.pf_index
  pagefind/index/en_c5d686b.pf_index
  pagefind/index/en_c645128.pf_index
  pagefind/index/en_c9f1479.pf_index
  pagefind/index/en_d0b5891.pf_index
  pagefind/index/en_eb31033.pf_index
  pagefind/index/en_ec1e5b3.pf_index
  pagefind/index/en_ee5b236.pf_index
  pagefind/index/en_fd75aa7.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_ca74c39064.pf_meta
  pagefind/pagefind.en_eae49f5413.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(backend): treat an explicit empty projection as explicit when validating a sort
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(web): sort projects in the switcher alphabetically
  .changeset/6922-sort-projects-alphabetically.md
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.test.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@d433becc15de91bbdd0cab8c5e1697fb32ee9f7f 🚀
  docs/getting-started/setup-guide/output-controls/index.html
  pagefind/fragment/en_cb5ae65.pf_fragment
  pagefind/fragment/en_f5fc122.pf_fragment
  pagefind/index/en_25fb7c4.pf_index
  pagefind/index/en_2f37e3d.pf_index
  pagefind/index/en_3220cf5.pf_index
  pagefind/index/en_3236ee5.pf_index
  pagefind/index/en_353b2d6.pf_index
  pagefind/index/en_4fa47ac.pf_index
  pagefind/index/en_5b9675e.pf_index
  pagefind/index/en_6117709.pf_index
  pagefind/index/en_634610f.pf_index
  pagefind/index/en_6838551.pf_index
  pagefind/index/en_68a7744.pf_index
  pagefind/index/en_6ac44f7.pf_index
  pagefind/index/en_793e597.pf_index
  pagefind/index/en_7eea249.pf_index
  pagefind/index/en_81266b2.pf_index
  pagefind/index/en_8bf7f74.pf_index
  pagefind/index/en_95d7a0d.pf_index
  pagefind/index/en_a741fea.pf_index
  pagefind/index/en_aba2032.pf_index
  pagefind/index/en_b4baacf.pf_index
  pagefind/index/en_b6d3bb7.pf_index
  pagefind/index/en_b6e5651.pf_index
  pagefind/index/en_c4d1274.pf_index
  pagefind/index/en_c5d686b.pf_index
  pagefind/index/en_c9f1479.pf_index
  pagefind/index/en_d3a2b09.pf_index
  pagefind/index/en_e9e49c4.pf_index
  pagefind/index/en_eb31033.pf_index
  pagefind/index/en_f06f421.pf_index
  pagefind/index/en_f97a1b9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_944f3b9de8.pf_meta
  pagefind/pagefind.en_eae49f5413.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(deps): resolve production audit vulnerabilities
  package-lock.json
  package.json
  packages/connectors/package.json
  packages/connectors/src/Core/Utils/FileUtils.js
  packages/connectors/src/connector-runner.js
  packages/connectors/test/Core/FileUtils.test.js
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

feat(connectors): pick the Google Sheets tab from a list and tidy the setup form
  .changeset/6950-google-sheets-config-ux.md
  apps/backend/src/data-marts/connector-types/connector-field-options.ts
  apps/backend/src/data-marts/connector-types/connector-specification.ts
  apps/backend/src/data-marts/controllers/connector.controller.ts
  apps/backend/src/data-marts/controllers/spec/connector.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/presentation/connector-field-option-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/connector-field-options-preview-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/connector-specification-response-api.dto.ts
  apps/backend/src/data-marts/mappers/connector.mapper.ts
  apps/backend/src/data-marts/services/connector/connector-field-options-preview.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-field-options-preview.service.ts
  apps/backend/src/data-marts/services/connector/connector-fields-preview.service.ts
  apps/backend/src/data-marts/services/connector/connector-preview-support.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
  apps/backend/test/connector-fields.e2e-spec.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationField/ConfigurationDynamicOptionsField.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationField/index.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationFieldRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/shared/api/connector-api.service.ts
  apps/web/src/features/connectors/shared/api/types/response/connector.response.dto.ts
  apps/web/src/features/connectors/shared/enums/connector-specification-attribute.enum.ts
  apps/web/src/features/connectors/shared/model/hooks/useConnectorFieldOptions.test.tsx
  apps/web/src/features/connectors/shared/model/hooks/useConnectorFieldOptions.ts
  apps/web/src/features/connectors/shared/utils/dynamic-options.utils.test.ts
  apps/web/src/features/connectors/shared/utils/dynamic-options.utils.ts
  packages/connectors/src/Constants/CommonConstants.js
  packages/connectors/src/Sources/GoogleSheets/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleSheets/README.md
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(backend): mock the field options preview service in the OAuth-flow-only route spec
  apps/backend/src/data-marts/controllers/oauth-flow-only.controller.spec.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(deps): use patched adm-zip release
  package-lock.json
  packages/connectors/package.json
  packages/connectors/src/Core/Utils/FileUtils.js
  packages/connectors/src/connector-runner.js
  packages/connectors/test/Core/FileUtils.test.js
  packages/connectors/vite.config.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

fix(reports): handle array fields in output controls
  .changeset/6748-handle-array-report-fields.md
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/blend-cte.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/blend-cte.builder.ts
  apps/backend/src/data-marts/data-storage-types/blending/blended-query.types.ts
  apps/backend/src/data-marts/data-storage-types/blending/blended-sql-dialect.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/field-type-compatibility.spec.ts
  apps/backend/src/data-marts/data-storage-types/field-type-compatibility.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/enums/snowflake-field-type.enum.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/field-type-matrix.spec.ts
  apps/backend/src/ee/mcp/tools/field-type-matrix.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.spec.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(ci): update release lockfile without reinstall
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.js

chore(changeset): release the description length limit as minor, not patch
  .changeset/data-mart-description-length-limit.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(destinations): implement auto-advancing promo tabs for Google Sheets, Excel, and MCP
  .changeset/6798-destinations-tab-promo-tabs.md
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/useAutoAdvanceTabs.ts
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  apps/web/src/styles/index.css
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): allow configuring disconnected joined fields
  .changeset/6951-configure-disconnected-join-fields.md
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: update icons to represent AI assistants in reports and destinations
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
Due: none

Deploying to gh-pages from @ OWOX/owox-data-marts@a00d329cee677eacbec66a394c0255985919760f 🚀
  docs/getting-started/setup-guide/joinable-data-marts/index.html
  pagefind/fragment/en_26aa1bd.pf_fragment
  pagefind/fragment/en_f480f3a.pf_fragment
  pagefind/index/en_1a37f6d.pf_index
  pagefind/index/en_1f1672f.pf_index
  pagefind/index/en_25fb7c4.pf_index
  pagefind/index/en_3236ee5.pf_index
  pagefind/index/en_353b2d6.pf_index
  pagefind/index/en_3c2e2b0.pf_index
  pagefind/index/en_5b9675e.pf_index
  pagefind/index/en_634610f.pf_index
  pagefind/index/en_644ba07.pf_index
  pagefind/index/en_67b9591.pf_index
  pagefind/index/en_76ac3e7.pf_index
  pagefind/index/en_90b85fb.pf_index
  pagefind/index/en_95d7a0d.pf_index
  pagefind/index/en_a741fea.pf_index
  pagefind/index/en_aba2032.pf_index
  pagefind/index/en_b6d3bb7.pf_index
  pagefind/index/en_b6e5651.pf_index
  pagefind/index/en_b84b9cf.pf_index
  pagefind/index/en_bd6e489.pf_index
  pagefind/index/en_c1e2ea6.pf_index
  pagefind/index/en_c4d1274.pf_index
  pagefind/index/en_d3a2b09.pf_index
  pagefind/index/en_d500bac.pf_index
  pagefind/index/en_d555245.pf_index
  pagefind/index/en_e4aa851.pf_index
  pagefind/index/en_e9e49c4.pf_index
  pagefind/index/en_f06f421.pf_index
  pagefind/index/en_f97a1b9.pf_index
  pagefind/index/en_fa49d69.pf_index
  pagefind/index/en_fb1a1ee.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_85ce5ac437.pf_meta
  pagefind/pagefind.en_944f3b9de8.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(reports): handle array fields in output controls
  .changeset/6748-handle-array-report-fields.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/legacy/legacy-bigquery-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/blend-cte.builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/blend-cte.builder.ts
  apps/backend/src/data-marts/data-storage-types/blending/blended-query.types.ts
  apps/backend/src/data-marts/data-storage-types/blending/blended-sql-dialect.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/field-type-compatibility.spec.ts
  apps/backend/src/data-marts/data-storage-types/field-type-compatibility.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/enums/snowflake-field-type.enum.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/field-type-matrix.spec.ts
  apps/backend/src/ee/mcp/tools/field-type-matrix.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.spec.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-operators.ts
  docs/getting-started/setup-guide/joinable-data-marts.md
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(facebook): select conversions and conversion values by default
  .changeset/6903-facebook-marketing-default-conversion-fields.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(destinations): add AI assistant promotion card to Destinations tab
  .changeset/6798-destinations-tab-ai-assistant-card.md
  apps/web/src/features/data-marts/reports/list/components/AiAssistantDestinationCard/AiAssistantDestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/AiAssistantDestinationCard/index.ts
  apps/web/src/features/data-marts/reports/list/components/index.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/pages/data-marts/reports/ConnectAiAssistantPromoActions.tsx
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(backend): ask for the row count aggregated reports no longer append
  apps/backend/test/integration/row-level-calculated-field-real.integration.ts
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js

ci(integration): let a dispatch run one suite
  .github/workflows/test-integration.yml
Due: prettier --write --config ./prettier.config.js

Update CHANGELOG.md for version 0.34.0
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update CHANGELOG
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ OWOX/owox-data-marts@9990b9b5ed991eaf4dbb93884b316dabb0405612 🚀
  docs/changelog/index.html
  pagefind/fragment/en_b6bb906.pf_fragment
  pagefind/fragment/en_ec99a9a.pf_fragment
  pagefind/index/en_15adbcc.pf_index
  pagefind/index/en_1a37f6d.pf_index
  pagefind/index/en_1f1672f.pf_index
  pagefind/index/en_2836137.pf_index
  pagefind/index/en_3c2e2b0.pf_index
  pagefind/index/en_3f3ebc1.pf_index
  pagefind/index/en_506ba9b.pf_index
  pagefind/index/en_5f88a8b.pf_index
  pagefind/index/en_644ba07.pf_index
  pagefind/index/en_67b9591.pf_index
  pagefind/index/en_76ac3e7.pf_index
  pagefind/index/en_833dabd.pf_index
  pagefind/index/en_90b85fb.pf_index
  pagefind/index/en_94ef5a4.pf_index
  pagefind/index/en_b0a784e.pf_index
  pagefind/index/en_b84b9cf.pf_index
  pagefind/index/en_ba12d36.pf_index
  pagefind/index/en_bd6e489.pf_index
  pagefind/index/en_c1e1ed9.pf_index
  pagefind/index/en_c1e2ea6.pf_index
  pagefind/index/en_c7adbd9.pf_index
  pagefind/index/en_d500bac.pf_index
  pagefind/index/en_d555245.pf_index
  pagefind/index/en_d7d5495.pf_index
  pagefind/index/en_e4aa851.pf_index
  pagefind/index/en_ed1e29e.pf_index
  pagefind/index/en_f2522d1.pf_index
  pagefind/index/en_f6ff942.pf_index
  pagefind/index/en_fa49d69.pf_index
  pagefind/index/en_fb1a1ee.pf_index
  pagefind/index/en_fefe1c4.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_85ce5ac437.pf_meta
  pagefind/pagefind.en_b076b8ade8.pf_meta
Due: prettier --write --config ./prettier.config.js

fix(reports): harden array field output handling
  .changeset/6748-handle-array-report-fields.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-type-mapper.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-headers-generator.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-headers-generator.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/dto/domain/storage-field-type.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/formula-reference-index.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/formula-reference-index.ts
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: eslint --fix --config ./eslint.config.mjs, prettier --write --config ./prettier.config.js, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --fix --config ./eslint.config.mjs: any of: **/*.{js,ts,cjs,mjs}
  prettier --write --config ./prettier.config.js: ((any of: **/*.{js,ts,cjs,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
